.boxSide {
  min-height: 700px;
}

.createJob {
  padding: 35px 30px;
  letter-spacing: -5px;
  border-bottom: 1px solid #D3D3D3;
}

.stepBox {
  border-bottom: 1px solid #D3D3D3;
}

.createJob:last-child, .stepBox:last-child {
  border: 0;
}

.createJob * {
  letter-spacing: 0;
}

.createJob-grid {
  display: inline-block;
  vertical-align: top;
}



.stringCj {
  margin-bottom: 25px;
}

.stringCj.indent {
  margin-bottom: 70px;
}

.stringCj:last-child {
  margin-bottom: 0;
}

.createJob-number {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #00C3F1;
  height: 34px;
  width: 34px;
  margin-right: 10px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #00C3F1;
}

.createJob .sideTitle {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.createJob-wrapTitle {
  margin-bottom: 30px;
}

.textField {
  color: #666;
  text-align: left;
}

.multipleSelect {
  border: 1px solid #E5E5E5;
  max-width: 100%;
  width: 100%;
}

.input.location-icon {
  width: 100%;
  border: 1px solid #E5E5E5;
}

.amongText {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  padding-right: 20px;
  text-align: center;
}

.createJob .button {
  padding: 8.5px 10px;
  font-size: 16px;
  display: inline-block;
  width: 200px;
}

.createJob .button.min {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}

.createJob-item {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: bottom;
  max-width: 241px;
  margin-right: 20px;
}

.createJob-item.min {
  max-width: 115px;
}

.createJob-item:last-child {
  margin-right: 0;
}

.btnWrap-cj {
  text-align: center;
  display: block;
  margin-top: 40px;
}

.btnWrap-cj .button {
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.stringCj__title { /* заменить на minTilt */
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.createJob-item .datepicker {
  position: absolute;
  top: 100%;
  left: 30px;
}

.input {
  border: 1px solid #E5E5E5;
  width: 100% ;
}

.inputSt-wrap {
  display: block;
  letter-spacing: -5px;
}

.inputSt-wrap * {
  letter-spacing: 0;
}

.inputSt .input {
  width: 100%;
}

.inputSt {
  width: calc(50% - 10px);
  margin-right: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.inputSt:last-child, .inputSt-wrap:last-child {
  margin: 0;
}

.inputSt-wrap {
  margin-bottom: 20px;
}

.discountBox-wrap {
  margin-bottom: 5px;
}

.discountBox-wrap:last-child {
  margin-bottom: 0;
}

.discountBox-wrap .checkbox {
  width: 55%;
  max-width: 100%;
}


/* + checkbox */
.checkbox {
  display: inline-block;
  max-width: 241px;
  margin-right: 20px;
  width: 100%;
  line-height: 1;
  margin-bottom: 0;
}

.checkbox.max {
  max-width: 100%;
}

//.checkbox .checkbox__text {
//  margin-left: 3px;
//  width: calc(100% - 25px);
//  line-height: 38px;
//}

.createJob-item .checkbox {
  position: absolute;
  left: 0;
  top: 100%;
}

.radio label {
  margin: 15px 0;
}

.SalaryBox {
  .SalaryBox__text, .SalaryBox-item, .SalaryBox__number {
    display: inline-block;
    vertical-align: middle;
  }
  .SalaryBox__text, .createJob-item, .SalaryBox-item, .SalaryBox__number {
    margin-right: 10px;
  }
  .SalaryBox__number {
    border: 1px solid #E5E5E5;
    padding: 8px 5px;
    max-width: 75px;
    text-align: center;
  }
}

/* - checkbox */

/* + dropFiles */
.dropFiles {
  text-align: center;
  padding: 27px 10px;
  border: 1px #A1A1A1;
  border-style: dashed;
  margin-top: 30px;
}

.dropFiles p {
  display: inline-block;
  cursor: pointer;
  transition: 0.6s;
}

.dropFiles p:hover .blueLink {
  color: #0092B2;
}

.fileList {
  border-top: 1px dashed #CCCCCC;
  border-bottom: 1px dashed #CCCCCC;
  padding: 10px;
  display: block;
  position: relative;
  margin-top: 5px;

  * {
    display: inline-block;
    vertical-align: top;
  }

  .clip {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .crossBascet {
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    padding: 0;
    cursor: pointer;
  }
  .fileList__title {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .fileList__text span {
    display: block;
    cursor: pointer;
  }
  .fileList__text {
    color: #626262;
    font-size: 13px;
    line-height: 15px;
  }

}

/* - dropFiles */





@media screen and (max-width: 1100px) {
  .createJob-item {
    width: calc(33% - 10px);
    margin-right: 10px;
  }
  .amongText {
    width: 155px;
    padding-right: 10px;
  }
  .SalaryBox .SalaryBox-item {
    width: calc(49% - 10px);
    margin-bottom: 10px;
  }
  .createJob-item.min {
    width: 40%;
  }
}

@media screen and (max-width: 1080px) {
  .createJob {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 980px) {
  .discountBox-wrap .checkbox {
    width: 65%;
    max-width: 100%;
  }

  .createJob-item {
    width: calc(49% - 10px);
    margin-right: 10px;
  }
  .amongText {
    margin-bottom: 30px;
    width: 130px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .createJob .discountBox-wrap .checkbox, .SalaryBox .createJob-item.min, .stringCj.indent {
    margin-bottom: 0px;
  }
  .stringCj {
    margin-bottom: 30px;
  }

}

.btnJob-wrap {
  display: block;
  text-align: center;
  .button.min {
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;
    line-height: 36px;
    i {
      padding: 0;

    }
  }
  .button.grey {
    line-height: 36px;
  }
  .button:first-child {
    margin-right: calc(100% - 245px);
  }
}

@media screen and (max-width: 900px) {
  .amongText {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .SalaryBox .SalaryBox-item {
    width: 100%;
  }
  .stringCj {
    margin-bottom: 20px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 10px;
  }

  .multipleSelect .mpsBox {
    left: auto;
    right: -15px;
  }
}

@media screen and (max-width: 700px) {
  .createJob .button {
    width: 180px;
  }
  .createJob-item {
    width: 100%;
    margin-right: 0px;
    display: block;
    max-width: 300px;
  }
  .createJob-item .checkbox {
    position: relative;
    left: 0;
    top: auto;
  }
  .createJob-item .datepicker {
    position: relative;
    top: auto;
    left: 0;
    margin-bottom: 10px;
  }
  .SalaryBox .createJob-item {
    display: inline-block;
  }
  .stringCj.indent {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .createJob-item {
    width: 100%;
    max-width: 100%;
  }
  .createJob-item.okLine {
    width: calc(100% - 99px);
    display: inline-block;
    margin-right: 20px;
  }
  .createJob-wrapTitle {
    text-align: center;
  }
  .createJob-number {
    display: block;
    margin: 0 auto 10px;
  }
  .createJob .button.mobileNone {
    display: none;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .amongText {
    display: block;
    margin-bottom: 15px;
  }
  .discountBox {
    width: auto;
    min-width: auto;
  }

  .checkbox .checkbox__text {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
  }
  .checkbox .checkbox__box {
    vertical-align: top;
  }

  .discountBox-wrap .checkbox {
    width: calc(90% - 120px);
    margin-right: 10%;
  }
  .discountBox-wrap .btnTell-wrap {
    position: absolute;
    left: 100%;
    top: -3px;
  }
  .fileList {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .btnJob-wrap {
    display: block;
    text-align: center;
    .button.min {
      width: 120px;
      font-size: 14px;
      font-weight: 500;
      padding: 0;
      margin-bottom: 0;
      line-height: 36px;
      i {
        padding: 0;

      }
    }
    .button.grey {
      line-height: 36px;
    }
    .button:first-child {
      margin-right: calc(100% - 245px);
    }
  }

}
