
<div class="step step-resumeAdditional" >
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.AddInfoTit'|translate}}</p>
    <div class="lampText">{{'resume.AddInfoDesc'|translate}}</div>
    <div class="createResume-formItem">
      <p class="textField">{{'resume.othInem'|translate}}</p>
      <textarea
        [maxLength]="2000"
                class="textarea"
                [(ngModel)]="cS.resume.additional"


      >
      </textarea>

    </div>

  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/education-progress']">{{'resume.prgsedu'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'" (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/education-progress']">{{'resume.prgsedu'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>


</div>
