<div class="step step-resumePersonality">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.prstr'|translate}}</p>
    <div class="createResume-formItem">
      <p class="textField">{{'input.Character_traits'|translate}}</p>

      <multiselect-autocopmplete-area
        [items]="cS.resume.characterTraits"
        [keyOff]="[]"
        [skills]="dS.options.characterTraits"
        (outList)="cS.resume.characterTraits = $event"
      ></multiselect-autocopmplete-area>

    </div>

  </div>
  <div class="createResume-block">
    <div class="lampText">{{'resume.CharTraDesc'|translate}}</div>
    <div class="createResume-formItem">
      <p class="textField">{{'input.Strenghs'|translate}}</p>
      <!--<textarea class="textarea" [(ngModel)]="cS.resume.strenghs"></textarea>-->
      <multiselect-autocopmplete-area
        [items]="cS.resume.strenghs"
        [keyOff]="[]"
        [skills]="dS.options.characterStrenght"
        (outList)="cS.resume.strenghs = $event"
      ></multiselect-autocopmplete-area>
    </div>
    <div class="createResume-formItem">
      <p class="textField">{{'input.addInfo'|translate}}</p>
      <textarea [maxLength]="1000" class="textarea" [(ngModel)]="cS.resume.idditonalInfo"></textarea>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/interest']">{{'resume.intval'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/interest']">{{'resume.intval'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>


