<div class="modalStandart active" *ngIf="show">
  <div class="modalStandart-wrap">
    <i class="icon cancel-black" (click)="show=false;close.emit(false)"></i>
    <div class="headerMs">
      <p class="sideTitle">Your instructions</p>
      <div class="lampText min indent">Essential details and instructions for execution (optional)</div>
      <textarea class="textarea indent sz14" placeholder="Write your instructions here…" [(ngModel)]="text"></textarea>


      <div class="row-wrap indent">
        <div class="col-v7">
          <file-list
          [FilesList]="files"
          (change)="files = $event"
          [inputStyle]="'singleFile'"
          ></file-list>
          </div>
          <div class="col-v3 col-m4 right">
        </div>
        <div class="col-v3 center">
          <div class="attachFile">
            <uploader
            [inputStyle]="'singleFile'"
            [fileTypes]="['jpg','png','jpeg', 'PNG','pdf','doc','docx']"
            [multiple]="true"
            (file)="setMultiFile($event)"
            ></uploader>
          </div>
        </div>
      </div>
      <button class="button min shaded" (click)="save()">Save</button>
    </div>
  </div>
</div>
