.upload-photo-wrap.absolut {
  position: absolute;
  width: 100%;
  top: -38px;
}
.userData__img {
  width: 20px;
  height: 50px;
}
.userData__img-wrap{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #E5E5E5;
  margin: 0 auto 20px;
}

.school-item-fix-p {
  display: inline-block;
  padding-left: 9px;
  width: calc(100% - 20px);
}


.school-item-fix {
  display: flex;
  justify-content: flex-start;
}
.userData-content-row:last-child .userData-content-item {
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) and (min-width: 980px) {
  .userData-content-item {
    width: 100%;
  }
}


@media screen and (max-width: 980px) {

  .upload-photo-wrap.absolut {
    position: relative;
    top: 0px;
  }
}

@media screen and (max-width: 640px) {
  .upload-photo-wrap.absolut {
    position: relative;
    top: auto;
  }


}