<div class="title-wrap">
  <p class="title">{{ 'account.User_data' | translate }}</p>
  <p *ngIf="!user.profile.smartId" class="fixText"><i class="material-icons orange"></i>
    {{ 'account.verified' | translate }} <a class="blueLink" [routerLink]="['/account/verify']">{{
      'account.Fixverified' | translate }}</a></p>
</div>
<div class="boxSide userData educatorUserData">
  <div class="userLine">
    <div class="userLine-left">
      <p class="sideTitle">{{user.profile.first_name}} {{user.profile.last_name}}</p>
    </div>
    <div class="userLine-right">
      <button class="button min light" *ngIf="oAuth" (click)="unsetOAuth()">{{"DisconnectAccount" | translate}}</button>
      <button class="button min light" *ngIf="!oAuth" (click)="user.setOAuth()">{{"Connect_account_to_Facebook" | translate}}</button>
    </div>
  </div>
  <div class="userData-line">
    <div class="userData-content">
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="first-name" class="textField">{{"inputLabel.First_name"| translate}}*</label>
          <input class="input" name="first-name" [attr.readonly]="oAuth ? '' : null" id="first-name" type="text" [maxLength]="20" [(ngModel)]="first_name">
        </div>
        <div class="userData-content-item">
          <label for="last-name" class="textField">{{"inputLabel.Last_name"| translate}}*</label>
          <input class="input" name="last-name" [attr.readonly]="oAuth ? '' : null" id="last-name" type="text" [maxLength]="30" [(ngModel)]="last_name">
        </div>
        <div class="userData-content-item">
          <p class="textField">{{"inputLabel.Display_as"| translate}}</p>

          <app-unity-select
            [valueId]="user.profile.displayAs"
            [title]="'inputLabel.Display_as'| translate"
            [arrIn]="user.displayAs(user.profile)"
            (arrOut)="displayAs = $event.id;user.profile.displayAs = $event.id"></app-unity-select>
        </div>
      </div>
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="mobile-phone" class="textField">{{"inputLabel.Mobile_phone"| translate}}</label>
          <input [maxLength]="25" [textMask]="{mask:dataService.phoneMask}" class="input" name="mobile-phone" id="mobile-phone" type="text" [(ngModel)]="phone">

        </div>

        <div class="userData-content-item">
          <label for="email" class="textField">{{"inputLabel.E-mail"| translate}}</label>
          <input class="input" name="email" id="email" type="text" [value]="user.profile.email"
                 [textMask]="dataService.emailMask"
                 [maxLength]="70"

                 [(ngModel)]="email">


        </div>

        <div class="userData-content-item">
          <div class="upload-photo-wrap absolut">
            <file-list
              [inputStyle]="'singlePhoto'"
              [FilesList]="[photo]"
              (change)="$event"
            ></file-list>
            <uploader
              [profilePhoto]="true"
              [inputStyle]="'singlePhoto'"
              [fileTypes]="dataService.fileupload.photo"
              [multiple]="false"
              (file)="setPhoto($event)"
            ></uploader>
          </div>
        </div>

      </div>

      <div class="userData-content-row">

        <div class="userData-content-item">
          <p class="textField">{{'inputLabel.Pref_lang_comm'|translate}} </p>
          <div class="multipleSelect">
            <app-unity-select
                    [valueId]="user.profile.prefLang"
                    [title]="'inputLabel.Pref_lang_comm'"
                    [arrIn]="dataService.options.translaterDefault"
                    (arrOut)="prefLang = $event.id"></app-unity-select>
          </div>
      </div>




      </div>



    </div>
  </div>

  <div class="userData-line">
    <div class="userData-content">
      <p class="form-subTitle reset-spacing">{{"inputLabel.ChangePassword" | translate}}</p>
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="currentPassword" class="textField">{{'inputLabel.CurrentPassword'|translate}}</label>
          <input  [minLength]="6" class="input" name="password"  id="currentPassword" type="password" [(ngModel)]="currentPass">
        </div>
        <div class="userData-content-item">
          <label for="password" class="textField">{{'inputLabel.Password'|translate}}</label>
          <input  [minLength]="6" class="input" name="password" id="password" type="password" [(ngModel)]="newPass">
        </div>
        <div class="userData-content-item">
          <label for="repeat-password" class="textField">{{'inputLabel.RepeatPassword'|translate}}</label>
          <input  [minLength]="6" class="input" name="repeat-password" id="repeat-password" type="text"
                 [(ngModel)]="repeatPass">
        </div>
      </div>
      <button class="button shaded min savePasswordChange" (click)="user.changePassword(currentPass,newPass,repeatPass)">{{"btn.Change" | translate}}</button>
    </div>
  </div>
  <!--<div class="userData-line">-->
    <!--<div class="userData-content">-->
      <!--<p class="form-subTitle">{{'account.Educat_schools'|translate}}</p>-->
      <!--<div class="userData-content-row">-->
        <!--<div class="userData-content-item">-->
          <!--<label for="Organization-name" class="textField">Organization name</label>-->
          <!--<input class="input" name="Organization-name" id="Organization-name" type="text">-->
        <!--</div>-->
        <!--<div class="userData-content-item">-->
          <!--<label for="Organization-registration-code" class="textField">Organization registration code</label>-->
          <!--<input class="input" name="Organization-registration-code" id="Organization-registration-code"-->
                 <!--type="number">-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <div class="userData-line">
    <div class="userData-content">
      <p class="form-subTitle">{{'account.Educat_schools'|translate}}</p>
      <div class="lampText min indent">
        {{"YourSchoolsDescription" | translate}}
      </div>
      <div class="userData-content-row">
        <div class="userData-content-item w100 school-item school-item-fix" style="padding-top: 3px" *ngFor="let school of user.profile.Educator.schools; let i = index">

          <i class='service-icon verify' *ngIf="school.status==0"></i>
          <i class='service-icon completed' *ngIf="school.status==1"></i>
          <i class='service-icon alert' *ngIf="school.status==2"></i>
          <span class="school-item-fix-p">{{school.addr}}</span>

          <div class="school-delete" (click)="deleteSchool(i, school.schoolId)">
            <i class='icon delete-forever-grey'></i>
          </div>
        </div>
        <div class="userData-content-item w100 indentEdy-input" >
          <address-select
            [refresh]="saveSchoolR"
            [addr]="Location?Location.addr:''"
            [placeholder]="Location?Location.addr:''"
            (Location)="Location=$event"
            [locate]="Location"
            [types]="['establishment']"
          ></address-select>
          <button class="button shaded min" (click)="saveSchool()">{{'btn.Save_school'|translate}}</button>
        </div>

      </div>

    </div>
  </div>
  <!--<div class="userData-line">-->
    <!--<div class="userData-content">-->
      <!--<p class="form-subTitle">{{'inputLabel.Address'|translate}}</p>-->
      <!--<div class="userData-content-row">-->
        <!--<div class="userData-content-item w100">-->
          <!--<address-select-->

            <!--[addr]="Location2?Location2.addr:''"-->
            <!--[placeholder]="Location2?Location2.addr:''"-->
            <!--(Location)="Location2=$event; "-->
            <!--[locate]="Location2"-->
            <!--[types]="['address']"-->

          <!--&gt;</address-select>-->
        <!--</div>-->

      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
  <div class="popapApply userData-popap">
    <button class="button shaded min" (click)="save()">{{'input.Save_my_data'|translate}}</button>
  </div>

  <disconnectFbModal
    (close)="disconnectFbModal=$event"
    [show]="disconnectFbModal"
  ></disconnectFbModal>

</div>

