<div class="modalStandart" [ngClass]="{active:openModal}" *ngIf="template == 'send'">
  <div class="modalStandart-wrap" >
    <i class="icon cancel-black" (click)="closeModal()"></i>

    <div class="headerMs">
      <p class="sideTitle">{{'givRecom'|translate}} {{uS.getUserName(studentId,0)}} </p>

      <div class="row-wrap">
        <div class="radio">
          <p class="text">{{'WouldrecStu'|translate}}</p>
          <input id="yyyz" type="radio" name="com_rec" [value]="true"  [(ngModel)]="rateObj.comment_recommend">
          <label for="yyyz"><span></span>
            <p class="radio__text">{{'Yes'|translate}}</p></label>

          <input id="uuuz" type="radio" name="com_rec" [value]="false"  [(ngModel)]="rateObj.comment_recommend">
          <label for="uuuz"><span></span>
            <p class="radio__text">{{'No'|translate}}</p></label>

        </div>
      </div>


    </div>
    <div class="contentMs">
      <div class="row-wrap indent">
        <div class="rating-item">
          <p class="minTilt">{{'Poise'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_poise" (selectVal)="rateObj.rating_poise = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'Dilligance'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_dilligance" (selectVal)="rateObj.rating_dilligance = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'Sociability'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_sociability" (selectVal)="rateObj.rating_sociability = $event"></rating-star>
        </div>
      </div>

      <div class="row-wrap">
        <p class="textField dark" >{{'recommText'|translate}}</p>
        <textarea class="textarea" [maxLength]="1500" [(ngModel)]="rateObj.comment_text"></textarea>
      </div>
    </div>
    <div class="footerMs center">
      <button class="button min" (click)="createNewRate()">{{'btn.Submit'|translate}}</button>

    </div>

  </div>
</div>

<div class="modalStandart" [ngClass]="{active:openModal}" *ngIf="template == 'get'">
  <div class="modalStandart-wrap" >
    <i class="icon cancel-black" (click)="closeModal()"></i>

    <div class="headerMs">
      <p class="sideTitle">{{'givRecom'|translate}} {{uS.getUserName(cId,0)}}</p>

      <div class="row-wrap">
        <div class="radio">
          <p class="text">{{'WouldrecStu'|translate}}</p>


            <p  class="radio__text">{{rateObj.comment_recommend?('Yes'|translate):('No'|translate)}}</p>


        </div>
      </div>


    </div>
    <div class="contentMs">
      <div class="row-wrap indent">
        <div class="rating-item">
          <p class="minTilt">{{'Poise'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [ratingValue]="rateObj.rating_poise" ></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'Dilligance'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [ratingValue]="rateObj.rating_dilligance"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'Sociability'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [ratingValue]="rateObj.rating_sociability" ></rating-star>
        </div>
      </div>

      <div class="row-wrap">
        <p class="textField dark" >{{'recommText'|translate}}</p>
        <span>{{rateObj.comment_text}}</span>

      </div>
    </div>


  </div>
</div>










