<div class="modalStandart active" [ngClass]="{active:openModal}" *ngIf="modalRecomm!={}">
  <div class="modalStandart-wrap">
    <app-loader
      [show]="load"
    ></app-loader>
    <i class="icon cancel-black" (click)="closeModal.emit(false);"></i>
    <div class="headerMs">
      <p class="sideTitle">{{"RecommendationGivenTo" | translate}} {{us.getUserName(modalRecomm.uuid,0)}}
        <span class="greyText block">{{"recgiven" | translate}}: {{ds.dateConvert(modalRecomm.updated_at)|date:'dd.MM.yyyy (HH:mm)'}}</span>
      </p>


      <div class="row-wrap spacing">
        <div class="col-v4 col-m10 indentMob" *ngIf="modalRecomm.type==0">
          <p class="namePosition">{{"Educator" | translate}}:
            <span class="bold"> {{us.getUserName(modalRecomm.educatorId,0)}}</span>
          </p>
        </div>
        <div class="col-v4 col-m10 indentMob" *ngIf="modalRecomm.type==1">
          <p class="namePosition">{{"Student" | translate}}:
            <span class="bold"> {{us.getUserName(modalRecomm.uuid,0)}}</span>
          </p>
        </div>
        <div class="col-v4 col-m10 indentMob" *ngIf="modalRecomm.type==2">
          <p class="namePosition">{{"Student" | translate}}:
            <span class="bold"> {{us.getUserName(modalRecomm.uuid,0)}}</span>
          </p>
        </div>
        <div class="col-v6 col-m10" *ngIf="modalRecomm.type==0">
          <p class="namePosition">
            {{"OrgName" | translate}}:
            <span class="bold">{{schoolName}}</span>
          </p>
        </div>
        <div class="col-v6 col-m10" *ngIf="modalRecomm.type==1">
          <p class="namePosition">
            {{"OrgName" | translate}}:
            <span class="bold">{{modalRecomm.workExpId}}</span>
          </p>
        </div>
        <div class="col-v6 col-m10" *ngIf="modalRecomm.type==2">
          <p class="namePosition">
            {{"RelationName" | translate}}:
            <span class="bold">{{modalRecomm.name}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="contentMs">
      <div class="row-wrap spacing bottom indentMin">
        <div class="col-v4 col-m10">
          <p class="criteriaName">{{"Poise" | translate}}: </p>
        </div>
        <div class="col-v6 col-m10">
          <rating-star [ratingValue]="modalRecomm.rating_poise" [starResult2]="false"></rating-star>
        </div>
      </div>
      <div class="row-wrap spacing bottom indentMin">
        <div class="col-v4 col-m10 ">
          <p class="criteriaName">{{"Diligence" | translate}}: </p>
        </div>
        <div class="col-v6 col-m10">
          <rating-star [ratingValue]="modalRecomm.rating_dilligance" [starResult2]="false"></rating-star>
        </div>
      </div>
      <div class="row-wrap spacing bottom indentMin">
        <div class="col-v4 col-m10 ">
          <p class="criteriaName">{{"Sociability" | translate}}: </p>
        </div>
        <div class="col-v6 col-m10">
          <rating-star [ratingValue]="modalRecomm.rating_sociability" [starResult2]="false"></rating-star>
        </div>
      </div>

      <p class="text indentTop">
        {{modalRecomm.comment_text}}
      </p>
    </div>
    <div class="footerMs">
      <button *ngIf="modalRecomm.educatorId" (click)="mS.setDialogs(modalRecomm.educatorId);router.navigate(['messages']);" class="button min">{{"btn.ContactEducator" | translate}}</button>
    </div>
  </div>
</div>
