<div class="stepsBox" id="stepHead" #box>
  <div *ngFor="let step of steps; let i = index;"
       class="stepsBox__item "
       [ngClass]="{'active': !steps[i].complete,'ready': steps[i].complete,'': steps[i].status==0 }">

    <div
      (click)="stepActive=user.accessPackage.projBmark?i:i+1;setStatus(i)"
      class="stepsBox__number">{{i+1}}
      <!--{{step ? setStep(i) : ''}}-->
    </div>

    <p>{{step.name|translate}}</p>
    <div class="stepsBox__item-line"
         [ngClass]="{'active': steps[i].status==1,'ready': steps[i].status==2,'': steps[i].status==0 }"
    ></div>
  </div>

</div>
<div class="boxSide">
  <create-step-1 *ngIf="stepActive==0"></create-step-1>

  <div class="stepBox" *ngIf="stepActive==1">
    <div class="createJob">

      <div class="roundNumber-wrap">
        <p class="roundNumber">{{cS.pay?2:1}}</p>
        <p class="sideTitle">{{'vacancy.Vacancy_details'|translate}}</p>
      </div>
      <div class="stringCj">
        <div class="createJob-item">
          <p class="textField">{{'vacancy.Vacancy_language'|translate}}</p>


          <app-unity-select
            [error]="cS.vacancy.languageID"
            [valueId]="cS.vacancy.languageID"
            [valid]="cS.validationForms"
            [title]="'vacancy.Vacancy_language'|translate"
            [arrIn]="dataService.options.translaterDefault"
            (arrOut)="cS.vacancy.languageID = $event.id"
          ></app-unity-select>

        </div>
      </div>
      <div class="stringCj">
        <div class="createJob-item">
          <p class="textField">{{'vacancy.Position_title'|translate}}*</p>
          <input-search-autocomplete
            [ngClass]="{'alert':cS.validationForms&&(!cS.vacancy.positionTitle||cS.vacancy.positionTitle=='')}"
            [result]="cS.arrPosition"
            [value]="cS.vacancy.positionTitle"
            [title]="'vacancy.Position_title'|translate"
            (query)="cS.getData($event,0)"
            (queryFull)="cS.getData($event,1)"
          ></input-search-autocomplete>
        </div>
        <div class="createJob-item">
          <p class="textField">{{'vacancy.Vacancy_type'|translate}}*</p>

          <app-unity-select
            [error]="cS.vacancy.type"
            [valid]="cS.validationForms"
            [valueId]="cS.vacancy.type"
            [title]="'vacancy.Vacancy_type'|translate"
            [arrIn]="dataService.options.vacancyType"
            (arrOut)="cS.vacancy.type = $event.id"
          ></app-unity-select>

        </div>
        <div class="createJob-item">
          <p class="textField">{{'vacancy.Field_of_activity'|translate}}*</p>

          <app-unity-select
            [title]="'vacancy.Field_of_activity'|translate"
            [error]="cS.vacancy.fieldActivity"
            [valueId]="cS.vacancy.fieldActivity"
            [valid]="cS.validationForms"
            [arrIn]="dataService.options.fieldActivity"
            (arrOut)="cS.vacancy.fieldActivity = $event.id"></app-unity-select>

        </div>
      </div>
      <div class="stringCj">
        <div class="createJob-item">
          <p class="textField">{{'vacancy.Occupation_field'|translate}}*</p>
          <app-unity-select
            [title]="'vacancy.Occupation_field'|translate"
            [error]="cS.vacancy.occupationField"
            [valid]="cS.validationForms"
            [valueId]="cS.vacancy.occupationField"
            [arrIn]="dataService.options.occupationField"
            (arrOut)="cS.vacancy.occupationField = $event.id"></app-unity-select>

        </div>
        <div class="datepicker" [ngClass]="{'alert':cS.validationForms&&(!cS.vacancy.deadLine)}">
          <div class="tellBox">{{'tooltips.maximumPublicationTime' | translate}}</div>
          <my-date-picker *ngIf="myDatePickerOptionsDeadline"
                          [selDate]="deadLine"
                          name="mydatedeadline"
                          [options]="myDatePickerOptionsDeadline"
                          (dateChanged)="cS.vacancy.deadLine = $event.epoc;setDeadline($event.epoc)"

                          required></my-date-picker>
        </div>
      </div>
    </div>
  </div>

  <div class="stepBox" *ngIf="stepActive==2">
    <div class="createJob">

      <div class="roundNumber-wrap">
        <p class="roundNumber">{{cS.pay?3:2}}</p>
        <p class="sideTitle">{{'vacancy.uplyfile'|translate}}</p>
      </div>
      <div class="stringCj">
        <div class="radio">
          <input id="work43" type="radio" name="proof_url" [value]="1" [(ngModel)]="aplicatCont">
          <label for="work43"><span></span>
            <p class="radio__text">{{'vacancy.radio_upload_file'|translate}}</p></label>
          <input id="work43d" type="radio" name="proof_url" [value]="0" [(ngModel)]="aplicatCont">
          <label for="work43d"><span></span>
            <div class="radio__text">{{'vacancy.radio_vacancy_url'|translate}}
              <div class="btnTell-wrap">

                <div class="tellBox">{{'vacancy.Fbuexsea'|translate}}</div>
              </div>
            </div>

          </label>
        </div>
        <div
          *ngIf="aplicatCont==1"
          class="dropFiles-wrap indentScj">

          <file-list
            [FilesList]="cS.vacancy.proofUploadFiles"
            (change)="cS.vacancy.proofUploadFiles = $event"
          ></file-list>
          <uploader
            [alertUploader]="aplicatCont==1&&cS.validationForms&&(!cS.vacancy.proofUploadFiles||cS.vacancy.proofUploadFiles.length==0)"
            [inputStyle]="'drop'"
            [fileTypes]="['pdf', 'bmp', 'gif', 'jpeg', 'jpg', 'png', 'psd', 'tif', 'tiff', 'doc', 'docx', 'odt', 'pdf', 'rtf', 'tex', 'txt']"
            [multiple]="true"
            (file)="cS.vacancy.proofUploadFiles.push($event)"
          ></uploader>
        </div>

        <input
          [ngStyle]="changeErr()"
          *ngIf="aplicatCont==0"
          type="url"
          class="inputUrl"
          placeholder="{{'url_site'|translate}}"
          [(ngModel)]="cS.vacancy.proofUrl">
      </div>
    </div>
  </div>

  <div *ngIf="stepActive==3" class="stepBox">
    <app-step-promotion></app-step-promotion>
  </div>
  <div class="paginalBtn">
    <div *ngIf="(cS.pay&&stepActive>0)||(!cS.pay&&stepActive>1)" (click)="pageFlip(-1)" class="button previous"><span
      class="btnArr"></span> {{'Previous'|translate}}
    </div>
    <div *ngIf="cS.pay?(stepActive<steps.length-1):(stepActive-1<steps.length-1)" (click)="pageFlip(1)"
         class="button next">{{'Next'|translate}} <span class="btnArr"></span></div>
  </div>

</div>
<div class="popupBs">
  <button class="button shaded" (click)="cS.saveVacancy()">{{"Save" | translate}}</button>
  <div class="checkbox mobileNone">
    <input id="type122" name="check" checked="checked" type="checkbox" [value]="true" [(ngModel)]="cS.vacancy.publish">
    <label for="type122"><span class="checkbox__box"></span>
      <p class="checkbox__text">{{'btn.Submit'|translate}}</p></label>
  </div>
  <button class="text-ic" *ngIf="cS.vacancy._id" [routerLink]="['/vacancy/details',cS.vacancy._id]">
    <i class='icon remove_eye_black'></i>
    &nbsp;<p class="text-ic__text">{{'btn.View'|translate}}</p>
  </button>
</div>
