
  <div class="triangle-ic"></div>
  <div class="headerPm">
    <p class="sideSubTitle">{{'promotions.desc'|translate}}</p>
    <i class='icon cancel-black' (click)="onclose.emit(false)"></i>
  </div>
  <span style="display: none">
    {{'promodays'|translate}}
    {{'promotions.prem_listing'|translate}}
    {{'promotions.prem_listing_h'|translate}}

    {{'promotions.frame'|translate}}
    {{'promotions.frame_h'|translate}}git

    {{'promotions.isSocialMedia'|translate}}
    {{'promotions.isSocialMedia_h'|translate}}

    {{'promotions.edvtarg'|translate}}
    {{'promotions.edvtarg_h'|translate}}

    {{'promotions.banner'|translate}}
    {{'promotions.banner_h'|translate}}
  </span>
  <div class="stringCj">
    <div class="tablePromo">
      <div class="tablePromo-h">
        <div class="row-wrap middle">
          <div class="col-v5 col-p10"><p class="text13">{{'promotions.Service'|translate}}</p></div>
          <div class="col-v3 col-p5"><p class="text13">{{'promotions.Applied'|translate}}</p></div>
          <div class="col-v2 col-p5"><p class="text13">{{'promotions.Available'|translate}}</p></div>
        </div>
      </div>
      <div class="tablePromo-c">
        <div class="row-wrap middle"  *ngFor="let item of table_1;let indService = index">
          <div class="col-v5 col-p10">
            <div>{{item.text|translate}}
              <div class="btnTell-wrap">
                <i class="material-icons btnTell">&#xE88E;</i>
                <div class="tellBox">{{item.text_h|translate}}</div>
              </div>
            </div>

            <div class="allocateText green-bc" *ngIf="vacancy['PROM'+item.type]&&vacancy['PROM'+item.type]>hS.getUnixTimestamp()">{{'Active'|translate}}</div>
          </div>
          <div class="row-wrap desNone">
            <div class="col-v5"><p class="text13">{{'promotions.Applied'|translate}}</p></div>
            <div class="col-v5"><p class="text13">{{'promotions.Available'|translate}}</p></div>
          </div><!-- для телефона -->
          <div class="col-v3 col-p5">
            <span class="bold">{{summValues(item.details)}}</span>  {{item.available_i|translate}}
            <span class="grayText small" *ngIf="item.until">{{'Until'|translate}} {{item.until}}</span>
          </div>
          <div class="col-v2 col-p5">
            <div class="blueText bold">{{uS.profile.service.active[item.type]}}</div>
            {{item.available_i|translate}}
          </div>
        </div>


      </div>
    </div>

    <button [routerLink]="['/vacancy/create/'+(vacancy.type_temp==1?'manual':'upload')+'/',vacancy._id,(vacancy.type_temp==1?5:3)]" class="button shaded min">{{'Chose_service_to_apply'|translate}}</button>

    <p class="sideSubTitle">{{'Other_services_available'|translate}}</p>
    <div class="tablePromo">
      <div class="tablePromo-h">
        <div class="row-wrap middle">
          <div class="col-v8"><p class="text13">{{'promotions.Service'|translate}}</p></div>
          <div class="col-v2"><p class="text13">{{'promotions.Price'|translate}}</p></div>
        </div>
      </div>
      <div class="tablePromo-c" *ngFor="let item of table_2">
        <div class="row-wrap middle">
          <div class="col-v8 col-p10">
            <div>{{item.text|translate}}
              <div class="btnTell-wrap">
                <i class="material-icons btnTell">&#xE88E;</i>
                <div class="tellBox">{{item.text_h|translate}}</div>
              </div>
            </div>
          </div>
          <div class="row-wrap desNone">
            <div class="col-v10"><p class="text13">{{'promotions.Price'|translate}}</p></div>
          </div><!-- для телефона -->
          <div class="col-v2 col-p10">
            <div class="priceTp">{{item.price}} €</div>
            <span class="pcs">/{{item.available_i|translate}}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="lampText min">
      {{'promotions.info'|translate}}
    </div>
  </div>

