<div class="profileBox-item">
  <p class="sideTitle">{{ 'account.Saved_Searches' | translate }}</p>
  <div class="sasBox">
    <div class="sasBox-item" *ngFor="let search of searches" [ngClass]="{'active': search.discovered }"  >
      <div class="sasBox__bell" [ngClass]="{bell:search.discovered}"></div>
      <p class="sasBox__text">{{search.name}}</p>
      <div class="vacant-wrap">
        <p class="vacant" style="cursor: pointer" [routerLink]="['/vacancy/applist/',search._id,5]" *ngIf="search.discovered&&uS.profile.type_profile == 'Company'">{{search.discovered}} {{'account.new_candidates'| translate}}</p>
        <p class="vacant" style="cursor: pointer" [routerLink]="['/vacancy/applist/',search._id,5]" *ngIf="!search.discovered&&uS.profile.type_profile == 'Company'">{{ 'account.no_new_candidates'| translate}}</p>

        <p class="vacant" *ngIf="search.discovered&&uS.profile.type_profile == 'Student'" style="cursor: pointer" [routerLink]="['/StudentVacancyListComponent',search._id,4]" >{{search.discovered}} {{'account.new_vacancies'| translate}}</p>
        <p class="vacant" *ngIf="!search.discovered&&uS.profile.type_profile == 'Student'" style="cursor: pointer" [routerLink]="['/StudentVacancyListComponent',search._id,4]" >{{'account.no_new_vacancies'| translate}}</p>


      </div>
    </div>
  </div>
  <a [routerLink]="['/saved-search']" class="blueLink">{{ 'account.Manage_searches' | translate }}</a>
</div>
