

<div *ngFor="let order of orders;let i = index" style="border: 1px solid black">
  <div>_id: {{order._id}}</div>
  <div>uid: {{order.uid}}</div>
  <div>created_at: {{order.created_at}}</div>
  <div>status:
    <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
    <i class='icon ic_check_circle_gren' *ngIf="order.status==1"></i>
  </div>
  <div>
    <!--<div>packageId:  {{dS.getOptionsFromId('packages',order.service.subscription.packageId).text}}</div>-->
    <!--<div>periodId: {{dS.getOptionsFromId('price_period',order.service.subscription.periodId).text}}</div>-->
    <div>TotalPrice: {{order.TotalPrice}}</div>
  </div>
  <button *ngIf="order.status==0" (click)="applyOrder(order._id,i)">Подтвердить оплату</button>
</div>
