.sideTitle.indent{
  margin-bottom: 20px;
}
//.sideTitle i {
//  padding-bottom: 6px;
//}
//
//.button.min.indent{
//  margin-top: 20px;
//}
//.button.min{
//  border: 1px solid #00C3F1;
//  padding: 11px 10px;
//}
.lampText.indent{
  margin: 10px 0 0;
}
.popapApply .button {
  width: 150px;
  margin-left: 265px;
}

@media screen and (max-width: 1100px) {
  .popapApply .button {
    margin-left: 0px;
  }

}

@media screen and (max-width: 640px) {
  .popapApply .button {

    margin: 0 auto;
    display: block;
  }
  .button.min.indent {
    margin-top: 40px;
  }
  .lampText.indent {
    margin: 0;
  }
  .radio-line:last-child {
    margin: 0;
  }
  .settings-item {
    padding: 25px 20px 25px 20px;
  }
  //.button.min {
  //  width: 100%;
  //  max-width: 100%;
  //}
  //.sideTitle{
  //  position: relative;
  //}
  //.tellBox {
  //  right: 0;
  //  margin: auto;
  //  bottom: 100%;
  //}
}

@media screen and (max-width: 400px) {
  .radio-line {
    width: calc(100% + 8px);
  }
}