<div class="title-wrap">
    <p class="title">{{ 'account.settings.title' | translate }}</p>
</div>
<div class="boxSide">

    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.news' | translate }}</p>

        <div class="radio">
            <div class="radio-line">
                <input id="mnb" type="radio" name="news422"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="true"
                       value="true">
                <label

                        for="mnb"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.yes' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.receive_news' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="mnbv" type="radio" name="news422"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="false"
                       value="false">
                <label

                        for="mnbv"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.no' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.dont_receive_news' | translate }}</p>
                </label>
            </div>
        </div>
    </div>
    <div class="settings-item">
        <div class="sideTitle indent"> {{ 'account.settings.Deacacc' | translate }}
        </div>

        <div class="lampText min">
          {{ 'account.settings.deac_desc' | translate }}

        </div>

        <button (click)="openModal=!openModal" class="button min indent">{{'btn.Deacacc'| translate}}</button>
    </div>
</div>

<div class="popapApply">
    <button  class="button shaded min">{{'SaveMyData'|translate}}</button>
</div>

<app-deactivate-account [openModal]="openModal" (openModalB)="openModal = $event" (closeModal)="openModal = false"></app-deactivate-account>

