.sideTitle.indent {
  margin-bottom: 20px;
}

.popapApply .button {
  width: 150px;
  margin-left: 265px;
}

.lampText.indent {
  margin: 10px 0 0;
}

@media screen and (max-width: 1100px) {
  .popapApply .button {
    margin-left: 0px;
  }

}

@media screen and (max-width: 640px) {
  .popapApply .button {
    margin: 0 auto;
    display: block;
  }
  .lampText.indent {
    margin: 0;
  }
  .radio-line:last-child {
    margin: 0;
  }
  .settings-item {
    padding: 25px 20px 25px 20px;
  }

  @media screen and (max-width: 640px) {
    .tellBox {
      bottom: 28px !important;
    }
  }

}

@media screen and (max-width: 400px) {
  .radio-line {
    width: calc(100% + 8px);
  }
}