<div class="title-wrap">
    <p class="title">{{ 'account.settings.title' | translate }}</p>
</div>
<div class="boxSide">

    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.contact_info' | translate }}</p>
      <!--<input id="mnb1" name="options" type="radio" [(ngModel)]="user.profile.Settings.contact_info" [value]="true"-->
             <!--[checked]="user.profile.Settings.contact_info==true" /><br/>-->
      <!--<label for="mnb1"><span></span>-->
      <!--<p class="radio__text bold">{{ 'account.settings.limited' | translate }}</p>-->
      <!--<p class="radio__subText">{{ 'account.settings.show_name_city_only' | translate }}</p>-->
      <!--</label>-->
      <!--<input id="mnb2" name="options" type="radio"  [(ngModel)]="user.profile.Settings.contact_info" [value]="false"-->
             <!--[checked]="user.profile.Settings.contact_info==false" /><br/>-->
      <!--<label-->

      <!--for="mnb2"><span></span>-->
      <!--<p class="radio__text bold">{{ 'account.settings.full' | translate }}</p>-->
      <!--<p class="radio__subText">{{ 'account.settings.show_all_my_contact_info' | translate }}</p>-->
      <!--</label>-->
        <div class="radio">

            <div class="radio-line">
                <input id="cinf_1" name="cinf"  type="radio"
                       [(ngModel)]="user.profile.Settings.contact_info"
                       [value]="false"
                       [checked]="user.profile.Settings.contact_info == false"
                       >
                <label for="cinf_1"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.limited' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.show_name_city_only' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="cinf_2" name="cinf" type="radio"
                       [(ngModel)]="user.profile.Settings.contact_info"
                       [value]="true"
                       [checked]="user.profile.Settings.contact_info == true"

                       >
                <label

                        for="cinf_2"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.full' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.show_all_my_contact_info' | translate }}</p>
                </label>
            </div>

        </div>
    </div>
    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.progress_in_edu' | translate }}</p>

        <div class="radio">
            <div class="radio-line">
                <input id="pedu_1" type="radio" name="pedu"
                       [(ngModel)]="user.profile.Settings.progress_in_edu"
                       [value]="true"
                       [checked]="user.profile.Settings.progress_in_edu == true"

                >
                <label

                        for="pedu_1"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.share' | translate }}</p>
                    <p class="radio__subText">
                        {{ 'account.settings.show_my_data_emp' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="pedu_2" type="radio" name="pedu"
                       [(ngModel)]="user.profile.Settings.progress_in_edu"
                       [value]="false"
                       [checked]="user.profile.Settings.progress_in_edu == false"

                >
                <label

                        for="pedu_2"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.hide' | translate }}</p>
                    <p class="radio__subText">
                        {{ 'account.settings.no_share' | translate }}</p>
                </label>
            </div>
        </div>
    </div>
    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.curr_cumulative_rating_lavel' | translate }}</p>

        <div class="radio">
            <div class="radio-line">
                <input id="pre_1" type="radio"  name="pre"
                       [(ngModel)]="user.profile.Settings.progress_in_edu2"
                       [value]="true"
                       [checked]="user.profile.Settings.progress_in_edu2 == true"
                >
                <label

                        for="pre_1"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.share' | translate }}</p>
                    <p class="radio__subText">
                        {{ 'account.settings.show_my_data_emp' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="pre_2" type="radio"  name="pre"
                       [(ngModel)]="user.profile.Settings.progress_in_edu2"
                       [value]="false"
                       [checked]="user.profile.Settings.progress_in_edu2 == false"
                >
                <label

                        for="pre_2"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.hide' | translate }}</p>
                    <p class="radio__subText">
                        {{ 'account.settings.no_share' | translate }}</p>
                </label>
            </div>
        </div>
    </div>
    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.news' | translate }}</p>

        <div class="radio">
            <div class="radio-line">
                <input id="mnb" type="radio" name="news1"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="true"
                >
                <label

                        for="mnb"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.yes' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.receive_news' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="mnbv" type="radio" name="news1"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="false"
                >
                <label

                        for="mnbv"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.no' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.dont_receive_news' | translate }}</p>
                </label>
            </div>
        </div>
    </div>
    <div class="settings-item" >
        <div class="sideTitle indent">{{ 'account.settings.Deac_account' | translate }}
            <!--<div class="btnTell-wrap">-->
                <!--<i class="material-icons btnTell">&#xE88E;</i>-->
                <!--<div class="tellBox">{{ 'account.settings.deact_text' | translate }}</div>-->
            <!--</div>-->
        </div>

        <div class="lampText min">
            {{ 'account.settings.deact_desc' | translate }}
        </div>

        <button class="button min indent" (click)="openModal = !openModal;">{{ 'btn.Deac_account' | translate }}</button>
    </div>
</div>
<!--<div class="popapApply">-->
    <!--<button  class="button shaded min">Save settings</button>-->
<!--</div>-->

<app-deactivate-account [openModal]="openModal" (openModalB)="openModal = $event"></app-deactivate-account>
