<div class="step step-resumeEduProgress">
  <div class="createResume-block main">
    <div class="createResume-formItem">
      <p class="sideTitle">{{'resume.prgsedu'|translate}}</p>
      <p class="sideSubTitle">{{'resume.prgsedu_recAd'|translate}}</p>
      <div class="lampText">{{'resume.prgseduDesc'|translate}}</div>
    </div>

    <div class="createResume-formItem" *ngFor="let school of uS.profile.Student.schools;let i = index">
      <div class="shadowBox">
        <div class="shadowBox-top">
          <div class="flexWrap">
            <div class="flexItem" >
              <p class="sideSubTitle">{{dS.options.educationLevel[school.educationLevel].text|translate}}</p>
              <div class="grade-list-wrap">
                <div class="grade-list">
                  <div class="grade-item">
                    <span class="grade-name">{{'input.School_name'|translate}}:</span>
                    <span class="grade-value">{{school.schoolName}}</span>
                  </div>
                  <div class="grade-item" *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0">
                    <span class="grade-name"> {{'input.Date_of_update'|translate}}:</span>
                    <span class="grade-value"> {{ dS.dateConvert(school.SchoolProgressEducation.updated_at) | date: 'dd.MM.yyyy'}}</span>
                  </div>
                  <div class="grade-item" *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0">
                    <span class="grade-name">{{'input.Grade_dated'|translate}}:</span>
                    <span class="grade-value">{{school.SchoolProgressEducation.gradeStarted.replace("/",".")}}</span>
                  </div>
                  <div class="grade-item" *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0&&school.SchoolProgressEducation.evaluationSystem">
                    <span class="grade-name">{{'input.Eval_system'|translate}}:</span>
                    <span class="grade-value">{{dS.getOptionsFromId('evaluationSystem',school.SchoolProgressEducation.evaluationSystem).text|translate}} {{'point_system'|translate}}</span>
                  </div>




                </div>



              </div>
            </div>
            <div class="flexItem" >
              <div class="grade-status">
                <div class="grade-status-top" *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0">
                  <div class='conf-statusIcon not-confirmed'
                       [ngClass]="{
                       'not-confirmed':school.SchoolProgressEducation.status==1,
                       'pending':school.SchoolProgressEducation.status==2,
                       'confirmed':school.SchoolProgressEducation.status==3
                       }">
                    <span class='conf-icon'></span>{{school.SchoolProgressEducation.avarage}}</div>


                  <p class="grade-status-text" *ngIf="school.SchoolProgressEducation.status==1">{{ 'ResumeGradeStatuses.not-confirm' | translate }}</p>

                  <p class="grade-status-text" *ngIf="school.SchoolProgressEducation.status==2">{{ 'ResumeGradeStatuses.pending' | translate }}</p>

                  <p class="grade-status-text" *ngIf="school.SchoolProgressEducation.status==3" >{{ 'ResumeGradeStatuses.confirm' | translate }}</p>


                </div>
                <uploader *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0&&school.SchoolProgressEducation.status<2"
                   [profilePhoto]="true"
                  [inputStyle]="'document'"
                  [fileTypes]="['jpeg','png','jpg','pdf']"
                  [multiple]="false"
                  (file)="setfile(i,$event)"
                ></uploader>
                <div class="file-listWrap dn mb">
                  <file-list  *ngIf="school.SchoolProgressEducation.file&&school.SchoolProgressEducation.file.path"
                              [inputStyle]="'fileListShort'"
                              [FilesList]="[{
                name:school.SchoolProgressEducation.file.name,
                url:'//'+dS.HOST_STATIC+':'+dS.PORT_STATIC+school.SchoolProgressEducation.file.path,
                path:school.SchoolProgressEducation.file.path,
                BTNdelete:school.SchoolProgressEducation.status!=3
                }]"
                              (change)="setfile(i,$event[0])"
                  ></file-list>
                </div>

                <button  *ngIf="false" class="button gray"><i class='service-icon autorenew'></i>Update via e-kool</button>
                <button *ngIf="gradeRed==i||school.SchoolProgressEducation.status==0" class="button shaded"  [ngClass]="{notActive: gradeRed==i}" (click)="gradeRed = i">{{"btn.AddYourGrade" | translate}}</button>


              </div>

            </div>

          </div>



          <div class="grade-add" [ngClass]="{active: gradeRed==i}">
            <div class="grade-form">
              <div class="grade-form-item">
                <p class="textField">{{'input.Grade_dated'|translate}}</p>
                <input class="input"
                       [(ngModel)]="newIschoolProgressEducation.gradeStarted"
                       [textMask]="{mask: datemmyyyy}"  type="text" placeholder="MM/YYYY"/>

              </div>
              <div class="grade-form-item">
                <p class="textField">{{'input.Eval_system'|translate}}</p>
                <div class="">
                  <app-unity-select
                    [title]="'Eval_system'|translate"
                    [valueId]="newIschoolProgressEducation.evaluationSystem"
                    [arrIn]="dS.options.evaluationSystem"
                    (arrOut)="newIschoolProgressEducation.evaluationSystem = $event.id;rebuildAvarage()"
                  ></app-unity-select>
                </div>
              </div>
              <div class="grade-form-item">
                <p class="textField">{{'input.Average_grade'|translate}} </p>
                <input class="input"   name="Avarage" type="text" [(ngModel)]="newIschoolProgressEducation.avarage" >

              </div>
            </div>
            <div class="grade-control">
              <div class="button shaded small" (click)="saveProgress(i,newIschoolProgressEducation)">{{'btn.Save'|translate}}</div>
              <span  class="cancel-icon" (click)="gradeRed = null;clearIEdProg()" >
                                   <i class="material-icons action-icon"></i>
                                    {{'btn.Cancel'|translate}}
                                </span>
            </div>
          </div>

        </div>

        <div class="shadowBox-bottom" *ngIf="gradeRed!=i&&school.SchoolProgressEducation.status>0">
            <div class="file-listWrap">
              <file-list  *ngIf="school.SchoolProgressEducation.file&&school.SchoolProgressEducation.file.path"
                          [inputStyle]="'fileListShort'"
                          [FilesList]="[{
                          name:school.SchoolProgressEducation.file.name,
                          url:'http://'+dS.HOST_STATIC+':'+dS.PORT_STATIC+school.SchoolProgressEducation.file.path,
                          path:school.SchoolProgressEducation.file.path,
                          BTNdelete:school.SchoolProgressEducation.status!=3
                          }]"
                          (change)="setfile(i,$event[0])"
              ></file-list>
            </div>



            <div class="control-icons">
              <span (click)="updateGrade(i)"> <i class='service-icon refresh'></i>{{'btn.Update_grade'|translate}}</span>
              <span (click)="deleteGrade(i)"> <i class='service-icon delete'></i>{{'btn.Delete_grade'|translate}}</span>

            </div>
        </div>
      </div>
    </div>






  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/recommendations']">{{'resume.recomm'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <!--<button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">Save</button>-->

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/recommendations']">{{'resume.recomm'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
