<profile-title></profile-title>

<div class="boxSide ">

  <profile-userline
    [text]="user.profile.first_name+' '+user.profile.last_name"
    [subtext]="user.profile.type_profile"
    [btn]="'logout'"
    [arrowUl]="true"
  ></profile-userline>

  <div class="profileBox">
    <div class="profileBox-left">

      <div class="profileBox-item">
        <p class="sideTitle">{{ 'Vacancies' | translate }}</p>

        <div *ngFor="let item of user.profile.Company.vacancy | slice:0:3; let i=index"
             class="sasBox-item active">
          <img
               class="flag" onload="window['loadPhoto'](this)"
               src="/assets/img/flag/{{dataService.getOptionsFromId('languages',item.languageID).value}}.png"
               alt="">
          <p class="sasBox__text">{{item.name || item.positionTitle}}</p>
          <div class="vacant-wrap">
            <div style="cursor: pointer;" [routerLink]="['/vacancy/list']" class="bgText"
                 [ngClass]="{
                             'bgText-black':user.profile.subscribeCandidate.countObjectfromVal({vacancyId:item._id,isnew:0})==0,
                             'bgText-blue':user.profile.subscribeCandidate.countObjectfromVal({vacancyId:item._id,isnew:0})>0}"
            >
              {{user.profile.subscribeCandidate.countObjectfromVal({vacancyId:item._id,isnew:0})==0?('no'|translate):user.profile.subscribeCandidate.countObjectfromVal({vacancyId:item._id,isnew:0})}}
              {{'new_candidates'|translate}}
            </div>
          </div>
        </div>
        <a class="blueLink" [routerLink]="['/vacancy/create/new']">{{'btn.create_new_vacancy'|translate}}</a>

        <div class="seeAllBtn" [routerLink]="['/vacancy/list']"><i class="material-icons">&#xE241;</i>
          {{'btn.seeAll'|translate}}
        </div>

      </div>
      <div class="profileBox-item">
        <p class="sideTitle">{{ 'account.projects' | translate }}</p>
        <p class="indent" *ngFor="let project of user.profile.Company.projects | slice:0:3; let i=index">
          {{project.name}}</p>
        <a class="blueLink" [routerLink]="['/account/projects']">{{'btn.Add_new_project'|translate}}</a>
      </div>
      <profile-save-searches-box
        [searches]="user.profile.savedSearches"
        [type]="'resume'"
        [limit]="3"
      ></profile-save-searches-box>
    </div>

    <div class="profileBox-right">
      <div class="profileBox-item">
        <p class="sideTitle">{{ 'account.User_data' | translate }}</p>
        <p class="indent">{{ 'account.profile_completed' | translate }} {{user.GetPrsUserdataComplete()}}%</p>
        <a [routerLink]="['/account/userdata']" class="blueLink">{{ 'account.Complete_now' | translate }}</a>
      </div>
      <div class="profileBox-item">
        <p class="sideTitle">{{ 'account.Company_data' | translate }}</p>
        <p class="indent">{{ 'account.company_completed' | translate }} {{user.GetPrsCompanyInformationComplete()}}%</p>
        <a [routerLink]="['/account/information']" class="blueLink">{{ 'account.Complete_now' | translate }}</a>
      </div>
      <div class="profileBox-item">
        <p class="sideTitle">{{ 'account.Inbox' | translate }}</p>
        <account-messages_block [limit]="3"></account-messages_block>


      </div>
    </div>


  </div>

  <div class="knowBox">
    <p class="sideTitle">{{ 'account.Company.Did_you_know' | translate }}</p>
    <div class="knowBox-wrap">
      <i class="material-icons"></i>
      <p class="knowBox__text">
        {{ ('account.Company.Did_you_knowText' | translate)| shorten: rmor: ' ...' }}
      </p>
      <!--<a class="blueLink" *ngIf="('account.Company.Did_you_knowText' | translate).length>rmor" (click)="rmor=10000">{{-->
        <!--'Read_more' | translate }}</a>-->
    </div>
  </div>
</div>




