.row-wrap > div {
  vertical-align: middle;
}
.title-wrap .title {
  width: calc(100% - 220px);
  padding-right: 20px;
}
.title-wrap .button{
  width: 215px;
}
.inputUrl-wrap .inputUrl {
  padding-right: 40px;
  padding-left: 15px;

}
.inputUrl-wrap{
  width: 250px;
  display: inline-block;
  vertical-align: top;

  .serch-icon {
    left: auto;
    right: 10px;
  }
}
.btnTabs-wrap{
  width: calc(100% - 250px);
 }
.btnTabs {
  margin-right: 20px;
}
.btnTabs:last-child {
  margin-right: 0px;
}
.vacantBox .title .allocateText {
  display: table;
  margin-top: 5px;
}
.icon.subject_blue {
  vertical-align: sub;
}
.button.min {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  padding: 11px 15px 9px;

  :last-child{
    margin: 0;
  }
}
.button.min:last-child{
  margin: 0;
}
.text-ic {
  display: inline-block;
}
.vacantBox.declined .parameterVb,
.vacantBox.declined .vacantBox-right{
  opacity: 0.5;
}
.vacantBox-right{
  text-align: center;
}
.imgPerson{
  margin-bottom: 10px;
}
.btnLetter {
  font-size: 13px;
}

.bottomLine-vb .button {
  border: 1px solid #00C3F1;
  min-width: 100px;
}
.vacantBox__boldText.inline{
  display: inline;
}

.vacantBox-wrap {
  letter-spacing: -5px;
  position: relative;

  .vacantBox-overlay {
    position: absolute;
    background: #FFFFFF;
    top: -32px;
    z-index: 10;
    bottom: -15px;
    width: calc(100% + 64px);
    left: -32px;
    padding: 32px 32px 2px;


    word-break: break-word;
    overflow: auto;
    margin-bottom: 5px;

    .cancel-black {
      opacity: 0.5;
      position: absolute;
      right: 7px;
      top: 7px;
      cursor: pointer;
    }
    .title{
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .vacantBox-left {
    letter-spacing: 0;
  }
  .vacantBox-right {
    letter-spacing: 0;
  }
}


@media screen and (max-width: 1080px){
  .title-wrap .title {
    width: calc(100% - 220px);
    padding-right: 20px;
  }
  .vacantBox-wrap .vacantBox-overlay {
    width: calc(100% + 44px);
    left: -22px;
  }
}


@media screen and (max-width: 980px){
  .bottomLine-vb .row-wrap > .indent{
    margin-bottom: 15px;
  }
  .btnTabs-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 640px){
  .title-wrap .title {
    width: 100%;
    padding-right:0px;
  }
  .vacantBox{
    display: table;
    width: 100%;
  }

  .vacantBox-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
  }

  .bottomLine-vb {
    position: relative;
    top: 0;
    right: 0;
    margin: 15px 0 0 0;
    padding: 15px 0;
  }
  .button.min {
    padding: 10px 10px;
    max-width: 70%;
  }
  .filterSd {
    padding: 0 20px;
  }
  .btnTabs__text {
    display: block;
  }
  .inputUrl-wrap {
    width: 100%;
  }
  .title-wrap .button {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }

  .bottomLine-vb:before{
    content: '';
    position: absolute;
    width: calc(100% + 44px);
    left: -22px;
    background:  #e5e5e5;
    top:0;
    display: block;
  }
  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: auto;
  }
  .Initiator-text-wrap {
    margin-right: 20%;
    width: calc(80% - 105px);
  }

  .filterSd{
    margin-bottom: 15px;
  }
}
