<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap border">
        <p class="title">{{'resume.recomm'|translate}}</p>
        <button class="button shaded min" [routerLink]="['/educator-make-recommendation']">{{'givnewrec'|translate}}</button>
    </div>
    <div class="filterSd" >
        <div class="btnTabs-wrap">
            <button class="btnTabs" [ngClass]="{up:f==-1}" (click)="setFilter(-1)">
                <span class="btnTabs__text">{{'All'|translate}}</span>
            </button>
            <button class="btnTabs"  [ngClass]="{up:f==0}" (click)="setFilter(0)">
                <span class="btnTabs__text">{{'New'|translate}}</span>
                <span class="circleText lightGreen-bc" >{{neb}}</span>
            </button>
            <button class="btnTabs"  [ngClass]="{up:f==2}" (click)="setFilter(2)">
                <span class="btnTabs__text">{{'Declined'|translate}}</span>
            </button>
            <button class="btnTabs"  [ngClass]="{up:f==1}" (click)="setFilter(1)">
                <span class="btnTabs__text">{{'Given'|translate}}</span>
            </button>
        </div>


        <div class="inputUrl-wrap">
            <input placeholder="{{'SearchByName' | translate}}"  (keyup)="setFilter(-1)" type="text" class="inputUrl" [(ngModel)]="filText">
            <span class="serch-icon"></span>
        </div>
    </div>


    <div  *ngFor="let item of req;let i=index" class="vacantBox norm"  [ngClass]="{declined:item.status==2}">

        <div class="vacantBox-wrap">
            <div class="vacantBox-overlay" *ngIf="item.viwe">
                <i class='icon cancel-black' (click)="item.viwe = false"></i>
              <p class="title" *ngIf="item.schoolName">
                {{'input.School_name'|translate}}
                <span class="vacantBox__boldText inline">{{item.schoolName}}</span></p>
              {{item.letter}}
              {{item.comment_text}}

            </div>
            <div class="vacantBox-left" *ngIf="uS.users[item.uid]">
                <div class="topLine-vb">
                    <p class="title"> {{uS.getUserName(item.uid,0)}}
                        <span class="allocateText green-bc" *ngIf="item.status==0">{{'New'|translate}}</span>
                        <span class="allocateText red-bc" *ngIf="item.status==2">{{'Declined'|translate}}</span>
                        <span class="allocateText blue-bc" *ngIf="item.status==1">{{'recgiven'|translate}}</span>
                    </p>
                </div>
                <div class="parameterVb"  *ngIf="uS.users[item.uid]&&uS.users[item.uid].Student&&uS.users[item.uid].Student.schools">
                    <p *ngIf="item.schoolName" class="vacantBox__text ">{{'input.School_name'|translate}}:
                      <span class="vacantBox__boldText inline">{{item.schoolName}}</span>
                    </p>
                    <div *ngFor="let school of uS.users[item.uid].Student.schools">

                        <p class="vacantBox__text" *ngIf="school.hasOwnProperty('major')">{{'input.Major'|translate}}:
                            <span class="vacantBox__boldText">{{dS.getOptionsFromId('majors',school.major).text|translate}}</span>
                        </p>
                    </div>

                    <div class="indent" *ngIf="item.status==0">
                        <div class="btnLetter" (click)="item.viwe = true"><i class='icon subject_blue'></i> {{'viletter'|translate}}</div>
                    </div>
                </div>
            </div>
            <div class="vacantBox-right"  *ngIf="uS.users[item.uid]">

                <img alt="" class="imgPerson" src="{{uS.users[item.uid].photo}}">
                <rating-star [dieStar]="false" [starResult]="false" [select]="false" [ratingValue]="uS.users[item.uid].rating" > </rating-star>

                <!--<div class="rating-wrap">-->
                <!--<div class="star-wrap center">-->
                <!--<div class="star yellow100"></div>-->
                <!--<div class="star yellow100"></div>-->
                <!--<div class="star yellow100"></div>-->
                <!--<div class="star yellow100"></div>-->
                <!--<div class="star yellow25"></div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <div class="bottomLine-vb" >
            <div class="row-wrap">
                <div class="col-v5 col-t10 indent">

                    <button class="button shaded min" *ngIf="item.status==0" (click)="template ='send';activeRec = item;openModal = true">{{'recgivenT'|translate}}</button>
                    <button class="text-ic" (click)="Decline(item._id,i)"  *ngIf="item.status==0">
                        <span class='icon suspended-black'></span>
                        <p class="text-ic__text">{{'Decline'|translate}}</p>
                    </button>
                  <button class="text-ic"  *ngIf="item.status==1" (click)="template ='get';activeRec = item;openModal = true">
                    <span class='icon remove_eye_black'></span>
                    <p class="text-ic__text">{{'View'|translate}}</p>
                  </button>
                  <span *ngIf="item.status==2">
                    <p class="recBl">{{'recReqwDec'|translate}}</p>
                    <button class="text-ic" (click)="Revoke(item._id,i)">
                        <span class='icon clockAr-black'></span>
                        <p class="text-ic__text">{{'Revoke'|translate}}</p>
                    </button>
                  </span>
                </div>
                <div class="col-v3 col-t7 col-p10">
                    <div class="Initiator-text-wrap">
                        <span class='icon person-pin-blue' *ngIf="item.req==0"></span>
                        <span class='icon person-pin-green' *ngIf="item.req==1"></span>
                        <p class="Initiator-text">
                            {{'Initiator'|translate}} :
                            <span *ngIf="item.req==0">{{'Student'|translate}}</span>
                            <span *ngIf="item.req==1">{{'Me'|translate}}</span>
                        </p>
                    </div>
                    <button *ngIf="item.req==0" class="button min" (click)="mS.setDialogs(item.uid);router.navigate(['messages']);">{{'btn.Contact'|translate}}</button>
                </div>
                <div class="col-v2 col-t3 col-p10">
                    <p class="requestSent text13 right">
                        {{'reqSent'|translate}}:
                        <span>{{item.created_at}}</span></p>
                </div>
            </div>
        </div>
    </div>



    <!--<div  class="pagination">-->

        <!--<div  class="pgLink prev status_0"><i class="material-icons">&#xE5C4;</i>Previous</div>-->

        <!--<ul  class="pagination__ul">-->
            <!--<li  class="status_2">1</li>-->
            <!--<li  class="status_1">2</li>-->
            <!--<li  class="status_1">3</li>-->

            <!--<li  class="status_0">...</li>-->

            <!--<li  class="status_1">23</li>-->

        <!--</ul>-->

        <!--<div  class="pgLink next status_2">Next<i class="material-icons">&#xE5C8;</i></div>-->

    <!--</div>-->

</div>
<!--<modal-make-recomm [schoolId]="sId" (status)="SetRec($event)" [cId]="cId" [sId]="sId" [openModal]="openModal" (ropenModal)="openModal = $event"></modal-make-recomm>-->
<modal-make-recomm
  [schoolId]="getSchoolID(cId)"
  (updateRec)="updateRec($event)"
  [template]="template"
  [activeRec]="activeRec"
  [openModal]="openModal"
  (ropenModal)="openModal = $event"
></modal-make-recomm>
