<app-filter-vacancy-top></app-filter-vacancy-top>
<div class="row">
    <app-sidebar-candidates-filter class="sidebar"></app-sidebar-candidates-filter>
    <div class="sideContent" >

        <div class="filterSd mobileNone">
            <div class="btnTabs-wrap">
                <button class="btnTabs down">
                    <span class="btnTabs__text">Rating</span>
                    <span class="btnTabs__arr"></span>
                </button>
                <button class="btnTabs">
                    <span class="btnTabs__text">Age</span>
                    <span class="btnTabs__arr"></span>
                </button>
                <button class="btnTabs">
                    <span class="btnTabs__text">Recommendations</span>
                    <span class="btnTabs__arr"></span>
                </button>
            </div>
        </div>

        <!-- + sortPanel-wrap -->
        <div class="sortPanel-wrap desNone">
            <div class="sortPanel__btn " (click)="filterSpActive = !filterSpActive"><i class="material-icons">&#xE429;</i> Filters</div>
            <div class="sortPanel__btn view headline">
                <!-- headline-(иконка полная карточка) или module-(иконка сокращенная  карточка) -->
                <i class="material-icons headline-icon">&#xE8EE;</i>
                <i class="material-icons module-icon">&#xE8F0;</i>
                Compact view
            </div>

            <div class="filterSp vvv" [ngClass]="{active:filterSpActive}" ><!-- active -->
                <p class="title">Sort by:</p>
                <div class="filterSp-wrap">
                    <div class="filterSp-item">
                        <p class="filterSp__text">Posted</p>
                        <div class="filterSp__btn"><i class="material-icons">&#xE5D8;</i></div>
                        <div class="filterSp__btn status2"><i class="material-icons">&#xE5D8;</i></div>
                    </div>
                    <div class="filterSp-item">
                        <p class="filterSp__text">Deadline</p>
                        <div class="filterSp__btn"><i class="material-icons">&#xE5D8;</i></div>
                        <div class="filterSp__btn status2"><i class="material-icons">&#xE5D8;</i></div>
                    </div>
                    <div class="filterSp-item">
                        <p class="filterSp__text">Company rating</p>
                        <div class="filterSp__btn"><i class="material-icons">&#xE5D8;</i></div>
                        <div class="filterSp__btn status2"><i class="material-icons">&#xE5D8;</i></div>
                    </div>
                    <div class="filterSp-item">
                        <p class="filterSp__text">Salary</p>
                        <div class="filterSp__btn status3"><i class="material-icons">&#xE5D8;</i></div>
                        <div class="filterSp__btn status4"><i class="material-icons">&#xE5D8;</i></div>
                    </div>
                </div>
                <p class="title">Show not older than:</p>

                <div class="range-wrap">
                    <input type="range" step="25">
                    <div class="scaleRange">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rangeText-wrap">
                        <p>3 days</p>
                        <p class="center">2 weeks</p>
                        <p class="right">All</p>
                    </div>
                </div>

                <div class="button shaded">Filter</div>
            </div>
        </div>
        <!-- - sortPanel-wrap -->

        <div class="candidateBox-wrap minCard"><!-- для телефона minCard-(сокращенный карточка) -->
            <div class="candidateBox">
                <div class="vacantBox-left">
                    <p class="title">Ana <span class="mobileNone">Maria</span> Benedelshdamt</p>
                    <p class="post"><i class="material-icons">&#xE80C;</i> <span>International economy, International financial management</span>
                    </p>
                    <p class="vacantBox__text">Current level of education: <span class="vacantBox__boldText">Higher education in acquisition</span>
                    </p>
                    <p class="vacantBox__text">Expected graduation: <span class="vacantBox__boldText">01.2018</span></p>
                    <p class="vacantBox__text">Major: <span
                            class="vacantBox__boldText"> Economy / Busuness management</span>
                    </p>
                    <p class="vacantBox__text">Minor: <span class="vacantBox__boldText">Finance / Accounting</span></p>
                    <div class="indent">
                        <p class="vacantBox__text">Internship:
                            <span class="vacantBox__boldText"> Paid, Unpaid  /</span>
                            <span class="vacantBox__boldText"><i class="material-icons grey">&#xE028;</i>Shift</span>
                            <span class="vacantBox__boldText"><i class="material-icons purple">&#xE3A8;</i>Night shifts</span>
                        </p>
                        <p class="vacantBox__text"> Job:
                            <span class="vacantBox__boldText">Permanent, Temporary  /</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons blue">&#xE422;</i>Full time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons birch">&#xE427;</i>Part time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons green">&#xE0D7;</i>Flexible</span>
                        </p>
                    </div>
                </div>
                <div class="vacantBox-right">
                    <div class="resumeSidebar">
                        <img class="imgPerson" src="/assets/img/slid.jpg" alt="">
                        <div class="rating-wrap">
                            <div class="star-wrap">
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow25"></div>
                            </div>
                        </div>
                        <p class="subMin-title center">20 years old</p>
                        <div class="contactSd">
                            <p class="contact-item">
                                <i class="material-icons">&#xE0C8;</i>
                                <span>Kaunas, Lithuania</span></p>
                            <p class="contact-item "><i class="material-icons">&#xE0CD;</i> +372 43343434</p>
                            <p class="blueLink">Recommendations (2)</p>
                        </div>


                    </div>
                </div>
                <div class="candidateMenu"><!-- добавить active для открытия блока -->
                    <div class="candidateMenu-item">
                        <p class="subMin-title"> Objective</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin
                            gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for internship</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>
                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">01.02.2017 - 15.05.2017</span>
                            </p>
                            <p class="vacantBox__text">Scholarship options: <span
                                    class="vacantBox__boldText">in return to my work</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">250 € / monthly</span></p>
                        </div>

                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for job</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>

                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">immediately</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">500 € / monthly</span></p>
                        </div>
                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                </div>
                <div class="bottomLine-vb">
                    <button class="btnTabs "><!-- turn добавить класс по клику -->
                        <span class="btnTabs__text">Details</span>
                        <span class="btnTabs__arr"></span>
                    </button>
                    <div class="listRmc">
                        <p class="contact-item grey"><i class='icon ic_assignment_gray'></i> View CV</p>
                        <div class="flag-wrap">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                        </div>
                    </div>

                    <div class="rightBtl">
                        <p class="contact-item "><i class='icon ic_chat_gray'></i> Contact </p>
                        <a class="contact-item "><i class='icon ic_star_border_gray'></i> Bookmark </a>
                    </div>
                </div>
            </div>
            <div class="candidateBox shadow">
                <div class="vacantBox-left">
                    <p class="title">Ana <span class="mobileNone">Maria</span> Benedelshdamt</p>
                    <p class="post"><i class="material-icons">&#xE80C;</i> <span>International economy, International financial management</span>
                    </p>
                    <p class="vacantBox__text">Current level of education: <span class="vacantBox__boldText">Higher education in acquisition</span>
                    </p>
                    <p class="vacantBox__text">Expected graduation: <span class="vacantBox__boldText">01.2018</span></p>
                    <p class="vacantBox__text">Major: <span
                            class="vacantBox__boldText"> Economy / Busuness management</span>
                    </p>
                    <p class="vacantBox__text">Minor: <span class="vacantBox__boldText">Finance / Accounting</span></p>
                    <div class="indent">
                        <p class="vacantBox__text">Internship:
                            <span class="vacantBox__boldText"> Paid, Unpaid  /</span>
                            <span class="vacantBox__boldText"><i class="material-icons grey">&#xE028;</i>Shift</span>
                            <span class="vacantBox__boldText"><i class="material-icons purple">&#xE3A8;</i>Night shifts</span>
                        </p>
                        <p class="vacantBox__text"> Job:
                            <span class="vacantBox__boldText">Permanent, Temporary  /</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons blue">&#xE422;</i>Full time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons birch">&#xE427;</i>Part time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons green">&#xE0D7;</i>Flexible</span>
                        </p>
                    </div>
                </div>
                <div class="vacantBox-right">
                    <div class="resumeSidebar">
                        <img class="imgPerson" src="/assets/img/slid.jpg" alt="">
                        <div class="rating-wrap">
                            <div class="star-wrap">
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow25"></div>
                            </div>
                        </div>
                        <p class="subMin-title center">20 years old</p>
                        <div class="contactSd">
                            <p class="contact-item">
                                <i class="material-icons">&#xE0C8;</i>
                                <span>Kaunas, Lithuania</span></p>
                            <p class="contact-item "><i class="material-icons">&#xE0CD;</i> +372 43343434</p>
                            <p class="blueLink">Recommendations (2)</p>
                        </div>


                    </div>
                </div>
                <div class="candidateMenu active"><!-- добавить active для открытия блока -->
                    <div class="candidateMenu-item">
                        <p class="subMin-title"> Objective</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin
                            gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for internship</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>
                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">01.02.2017 - 15.05.2017</span>
                            </p>
                            <p class="vacantBox__text">Scholarship options: <span
                                    class="vacantBox__boldText">in return to my work</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">250 € / monthly</span></p>
                        </div>

                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for job</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>

                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">immediately</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">500 € / monthly</span></p>
                        </div>
                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                </div>
                <div class="bottomLine-vb">
                    <button class="btnTabs turn"><!-- turn добавить класс по клику -->
                        <span class="btnTabs__text">Details</span>
                        <span class="btnTabs__arr"></span>
                    </button>
                    <div class="listRmc">
                        <p class="contact-item grey"><i class='icon ic_assignment_gray'></i> View CV</p>
                        <div class="flag-wrap">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                        </div>
                    </div>

                    <div class="rightBtl">
                        <p class="contact-item grey"><i class='icon ic_chat_gray'></i> Contact </p>
                        <a class="contact-item grey"><i class='icon ic_star_border_gray'></i> Bookmark </a>
                    </div>
                </div>
            </div><!-- add shadow -->
            <div class="candidateBox">
                <div class="vacantBox-left">
                    <p class="title">Ana <span class="mobileNone">Maria</span> Benedelshdamt</p>
                    <p class="post"><i class="material-icons">&#xE80C;</i> <span>International economy, International financial management</span>
                    </p>
                    <p class="vacantBox__text">Current level of education: <span class="vacantBox__boldText">Higher education in acquisition</span>
                    </p>
                    <p class="vacantBox__text">Expected graduation: <span class="vacantBox__boldText">01.2018</span></p>
                    <p class="vacantBox__text">Major: <span
                            class="vacantBox__boldText"> Economy / Busuness management</span>
                    </p>
                    <p class="vacantBox__text">Minor: <span class="vacantBox__boldText">Finance / Accounting</span></p>
                    <div class="indent">
                        <p class="vacantBox__text">Internship:
                            <span class="vacantBox__boldText"> Paid, Unpaid  /</span>
                            <span class="vacantBox__boldText"><i class="material-icons grey">&#xE028;</i>Shift</span>
                            <span class="vacantBox__boldText"><i class="material-icons purple">&#xE3A8;</i>Night shifts</span>
                        </p>
                        <p class="vacantBox__text"> Job:
                            <span class="vacantBox__boldText">Permanent, Temporary  /</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons blue">&#xE422;</i>Full time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons birch">&#xE427;</i>Part time</span>
                            <span class="vacantBox__boldText"><i
                                    class="material-icons green">&#xE0D7;</i>Flexible</span>
                        </p>
                    </div>
                </div>
                <div class="vacantBox-right">
                    <div class="resumeSidebar">
                        <img class="imgPerson" src="/assets/img/slid.jpg" alt="">
                        <div class="rating-wrap">
                            <div class="star-wrap">
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow25"></div>
                            </div>
                        </div>
                        <p class="subMin-title center">20 years old</p>
                        <div class="contactSd">
                            <p class="contact-item">
                                <i class="material-icons">&#xE0C8;</i>
                                <span>Kaunas, Lithuania</span></p>
                            <p class="contact-item "><i class="material-icons">&#xE0CD;</i> +372 43343434</p>
                            <p class="blueLink">Recommendations (2)</p>
                        </div>


                    </div>
                </div>
                <div class="candidateMenu"><!-- добавить active для открытия блока -->
                    <div class="candidateMenu-item">
                        <p class="subMin-title"> Objective</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin
                            gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum
                            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for internship</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>
                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">01.02.2017 - 15.05.2017</span>
                            </p>
                            <p class="vacantBox__text">Scholarship options: <span
                                    class="vacantBox__boldText">in return to my work</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">250 € / monthly</span></p>
                        </div>

                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                    <div class="candidateMenu-item">
                        <p class="subMin-title">Preferences for job</p>
                        <div class="listRmc">
                            <p class="vacantBox__text">Occupation field: <span
                                    class="vacantBox__boldText">Web design</span></p>
                            <p class="vacantBox__text">Possible positions: <span class="vacantBox__boldText">Web designer, UX designer, Graphical designer</span>
                            </p>

                            <p class="vacantBox__text">Preferred period: <span
                                    class="vacantBox__boldText">immediately</span>
                            </p>
                            <p class="vacantBox__text">Desired scholarship: <span
                                    class="vacantBox__boldText">500 € / monthly</span></p>
                        </div>
                        <p class="subMin-title">Additional information</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            sapien nunc eget.</p>
                    </div>
                </div>
                <div class="bottomLine-vb">
                    <button class="btnTabs"><!-- turn добавить класс по клику -->
                        <span class="btnTabs__text">Details</span>
                        <span class="btnTabs__arr"></span>
                    </button>
                    <div class="listRmc">
                        <p class="contact-item "><i class='icon ic_assignment_gray'></i> View CV</p>
                        <div class="flag-wrap">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                            <img alt="" class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/Estonia.png">
                        </div>
                    </div>

                    <div class="rightBtl">
                        <p class="contact-item grey"><i class='icon ic_chat_gray'></i> Contact </p>
                        <a class="contact-item grey"><i class='icon ic_star_border_gray'></i> Bookmark </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="pagination">

            <div class="pgLink prev status_0"><i class="material-icons">&#xE5C4;</i>Previous</div>

            <ul class="pagination__ul">
                <li class="status_2">1</li>
                <li class="status_1">2</li>
                <li class="status_1">3</li>

                <li class="status_0">...</li>

                <li class="status_1">23</li>

            </ul>

            <div class="pgLink next status_2">Next<i class="material-icons">&#xE5C8;</i></div>

        </div>



        <div  class="popapApply">
            <div  class="linkIcon-wrap">
                <button  class="button  min">Save this search</button>

            </div>
            <div  class="linkIcon-wrap">
                <div  class="linkIcon"><i class="material-icons"></i> <span>My saved searches</span></div>
            </div>
        </div>
    </div>
</div>
