.popapApply {
  padding-left: calc((100% - 525px) / 2);
}
.vacantBox__text i{
  display: inline-block;
}


.vacantBox-left .title {
  cursor: pointer;
  display: table;
}
.bottomLine-vb {
  .btnTabs, .listRmc, .rightBtl, .contact-item {
    display: inline-block;
    vertical-align: top;
  }
  .flag, .contact-item {
    margin: 0;
    font-size: 13px;
  }
  .contact-item i {
    margin-right: 8px;
  }
  .btnTabs {
    padding: 0;
    line-height: 15px;
  }
  .rightBtl {
    .contact-item {
      margin-right: 30px;
      cursor: pointer;
    }
    .contact-item:last-child {
      margin: 0;
    }
  }
  .listRmc {
    margin: 0;
    width: 54%;
    padding: 0 20px 0 7%;
  }

  .contact-item i{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }

}



.resumeSidebar {
  .rating-wrap {
    margin: 5px 0;
    display: block !important;
  }
  .subMin-title {
    margin-bottom: 8px;
  }

  .contactSd{

    .contact-item{
      margin-bottom: 0;
      font-size: 13px;
    }
    .blueLink{
      margin-top: 10px;
      display: table;
    }
  }
}

.flag-wrap {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
  margin-left: 5px;
}

.candidateMenu {
  display: none;
  margin-top: 25px;
  .listRmc {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.candidateMenu.active {
  display: block;
}

.candidateMenu-item {
  position: relative;
  padding: 25px 0;

  :before {
    content: "";
    position: absolute;
    width: calc(100% + 60px);
    left: -30px;
    background-color: #E5E5E5;
    height: 1px;
    top: 0;
  }

}

@media screen and (max-width: 1080px) {
  .popapApply {
    padding-left: calc((100% - 525px) / 2);
  }
}

@media screen and (max-width: 980px) {
  .popapApply {
    padding-left: 20px;
  }
}

@media screen and (max-width: 980px) {
  .vacantBox-right {
    width: 27%;
  }
  .vacantBox-left {
    width: 73%;
  }
  .bottomLine-vb .listRmc {
    margin: 0;
    width: calc(100% - 280px);
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .vacantBox-left {
    width: 66%;
  }
  .vacantBox-right {
    width: 34%;
  }

  .resumeSidebar {
    .contactSd .contact-item i {
      margin-right: 0;
    }
    .listRmc {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 640px) {

  .bottomLine-vb {
    position: relative;
    top: auto;
    right: auto;
    padding: 20px 0;
    .listRmc {
      width: 100%;
      padding: 0;

      display: none;
    }
    .rightBtl {
      width: 100%;
      margin-top: 0px;
      .contact-item {
        margin-right: 0;
        width: 49%;
      }
    }
    :before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e5e5e5;
    }
  }
  .candidateBox {
    .btnTabs {
      display: none;
    }
    .post {
      margin: 10px 0 20px;
    }
    .resumeSidebar {
      padding: 25px 0 20px;
      text-align: center;
    }
    .candidateMenu {
      display: none;
    }

  }
  .vacantBox-left, .vacantBox-right {
    width: 100%;

  }
  .candidateBox-wrap.minCard .vacantBox-right{
    margin-top: 0;
  }

  .candidateBox-wrap.minCard {
    .vacantBox__text, .bottomLine-vb, .imgPerson, .listRmc, .contact-item {
      display: none;
    }
    .rating-wrap {
      display: inline-block !important;
      width: 49%;
      padding: 0 10px;
      text-align: left;
    }
    .subMin-title.center {
      display: inline-block;
      text-align: right;
      width: 49%;
    }
    .contact-item:first-child {
      display: block;
      text-align: left;
    }
    .candidateBox .resumeSidebar {
      padding: 0 0 20px;
      text-align: left;
    }
    .candidateBox .post {
      margin: 10px 0 5px;
    }

    .contact-item-phone{
      display: none;
    }

  }

  .resumeSidebar .contactSd .blueLink {
    display: table;
    margin: 10px auto 0;
  }
  .minCard{
    .resumeSidebar .contactSd .blueLink {
      display: none;
    }
  }
  .contactSd .blueLink {
    margin-bottom: 20px;
  }

}
