<app-filter-resume-top></app-filter-resume-top>
<div class="row">
    <app-sidebar-candidates-filter class="sidebar"></app-sidebar-candidates-filter>
    <div class="sideContent ccv">
        <resume-sort-panel-filter-component
            [btns]="sortBtns"
            [viewCompact]="true"
            [viewRange]="true"

            [viewSelect]="true"
            (sortbtns)="setSortResume($event)"
            (btn)="sortResume($event)"
            (compact)="compact = $event"
        ></resume-sort-panel-filter-component>
        <div class="candidateBox-wrap" [class.minCard]="!compact"><!-- для телефона minCard-(сокращенный карточка) -->
          <app-resume-list-modules
            *ngIf="resume"
            [access]="userService.accessPackage.search"
            [btnNotes]="false"
            [btnView] = "true"
            [class] = "'searchCd'"

            [btnCoverLetter]="false"
          ></app-resume-list-modules>

        </div>

        <div class="pagination" *ngIf="pages.length>1&&userService.accessPackage.search" >
            <div class="pgLink prev" [ngClass]="{'status_2':skip,'status_0':!skip}" (click)="prevPage()">
                <i class="material-icons">&#xE5C4;</i>{{'paginate.Previous'|translate}}</div>
            <ul class="pagination__ul">
                <li *ngFor="let page of pages" (click)="setPage(page.num)" class="status_{{page.status}}">{{page.num}}</li>
            </ul>
            <div class="pgLink next status_2" *ngIf="curPage<maxPage" (click)="nextPage()">{{'paginate.Next'|translate}}<i
                    class="material-icons">&#xE5C8;</i></div>
        </div>

        <modal-save-search
                [show]="saveModal"
                [options]="rs.saveSearch"
                [type]="'resume'"
                (out)="rs.saveSearches($event)"
                (showModal)="saveModal = $event"
        ></modal-save-search>

        <div  class="popapApply" (click)="userService.accessPackage.search?null:popS.show_warning(this.ds.getOptionsFromId('errors',10).text)">
            <div  class="linkIcon-wrap">
                <button (click)="userService.accessPackage.search? saveModal = true:null" class="button  min">{{'Save_this_search'|translate}}</button>
            </div>
            <div  class="linkIcon-wrap">
                <div [routerLink]="userService.accessPackage.search?['/saved-search']:null" class="linkIcon"><i class="material-icons"></i> <span>{{'My_saved_searches'|translate}}</span></div>
            </div>
        </div>
    </div>
</div>
