<div class="title-wrap">
  <p class="title">{{ 'account.settings.title' | translate }}</p>
</div>
<div class="boxSide">

  <div class="settings-item">
    <p class="sideTitle indent">{{ 'account.settings.contact_info' | translate }}</p>

    <div class="radio">
      <div class="radio-line">
        <input id="mnb1" type="radio" name="contact_info2234"
               [(ngModel)]="user.profile.Settings.contact_info"
               [value]="true"
               value="true"
        >
        <label

          for="mnb1"><span></span>
          <p class="radio__text bold">{{ 'account.settings.limited' | translate }}</p>
          <p class="radio__subText">{{ 'account.settings.show_name_city_only' | translate }}</p>
        </label>
      </div>
      <div class="radio-line">
        <input id="mnbv1" type="radio" name="contact_info2234"
               [(ngModel)]="user.profile.Settings.contact_info"
               [value]="false"
               value="false">
        <label

          for="mnbv1"><span></span>
          <p class="radio__text bold">{{ 'account.settings.full' | translate }}</p>
          <p class="radio__subText">{{ 'account.settings.show_all_my_contact_info' | translate }}</p>
        </label>
      </div>
    </div>
  </div>
  <div class="settings-item">
    <p class="sideTitle indent">{{ 'account.settings.news' | translate }}</p>

    <div class="radio">
      <div class="radio-line">
        <input id="mnb" type="radio" name="news43"
               [(ngModel)]="user.profile.Settings.news"
               [value]="true"
               value="true">
        <label

          for="mnb"><span></span>
          <p class="radio__text bold">{{ 'account.settings.yes' | translate }}</p>
          <p class="radio__subText">{{ 'account.settings.receive_news' | translate }}</p>
        </label>
      </div>
      <div class="radio-line">
        <input id="mnbv" type="radio" name="news43"
               [(ngModel)]="user.profile.Settings.news"
               [value]="false"
               value="false">
        <label

          for="mnbv"><span></span>
          <p class="radio__text bold">{{ 'account.settings.no' | translate }}</p>
          <p class="radio__subText">{{ 'account.settings.dont_receive_news' | translate }}</p>
        </label>
      </div>
    </div>
  </div>
  <div class="settings-item">
    <div class="sideTitle indent">{{ 'account.settings.Deac_account' | translate }}
      <!--<div class="btnTell-wrap">-->
        <!--<i class="material-icons btnTell">&#xE88E;</i>-->
        <!--<div class="tellBox">{{ 'account.settings.deact_text' | translate }}</div>-->
      <!--</div>-->
    </div>

    <div class="lampText min">
      {{ 'account.settings.deact_desc' | translate }}
    </div>

    <button class="button min indent" (click)="openModal = !openModal;">{{ 'btn.Deac_account' | translate }}</button>
  </div>
</div>
<div class="popapApply">
  <button class="button shaded min">{{'SaveMyData'|translate}}</button>
</div>
<app-deactivate-account [openModal]="openModal" (openModalB)="openModal = $event"></app-deactivate-account>
