<span  *ngIf="User">

  <img onload="window['loadPhoto'](this)" class="imgPerson" src="{{User.photo}}" alt="">
  <rating-star *ngIf="ratingView"
    style="margin-left: auto; margin-right: auto"
    class="rating-wrap"
    [dieStar]="false"
    [starResult]="false"
    [ratingValue]="rating"
  ></rating-star>
  <p class="subMin-title center" *ngIf="User.Settings.contact_info&&contactView&&userOld!=''&&userOld || userOldView&&userOld!=''">{{ userOld }} {{'years_old'|translate}}</p>
  <div class="contactSd" *ngIf="User.Settings.contact_info&&contactView">
    <p *ngIf="User.Location&&User.Location.addr" class="contact-item">
      <i class="material-icons"></i>
      <span>{{User.Location.addr}}</span></p>
    <p *ngIf="User.phone" class="contact-item " ><i
      class="material-icons"></i>
      {{User.phone}}</p>
    <p *ngIf="recommend" class="blueLink student-contacts-recommend" (click)="openModal=!openModal">{{'resume.recomm'|translate}} ({{recCount}})</p>
  </div>
</span>
<!--<app-modal-recommendation *ngIf="recommend&&modalRecomm&&openModal"-->
  <!--[openModal]="openModal"-->
  <!--[modalRecomm]="modalRecomm"-->
  <!--(closeModal)="openModal = $event"-->
<!--&gt;</app-modal-recommendation>-->
