
<div class="modalStandart" [ngClass]="{active:openModal}" *ngIf="template == 'send'">
  <div class="modalStandart-wrap">
    <i class="icon cancel-black" (click)="closeModal()"></i>

    <div class="headerMs">
      <p class="sideTitle">{{'ratmod.tit'|translate}}</p>

      <div class="row-wrap">
        <div class="checkbox">
          <input id="type31" type="checkbox" name="check" value="" [(ngModel)]="rateObj.comment_anonim">
          <label for="type31"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'ratmod.myfban'|translate}}</p></label>
        </div>
        <div class="checkbox">
          <input id="type32" type="checkbox" name="check" value="" [(ngModel)]="rateObj.workedForThisCompany">
          <label for="type32"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'workedForThisCompany'|translate}}</p></label>
        </div>
      </div>

      <div class="row-wrap">
        <div class="radio">
          <p class="text">{{'ratmod.wyreccom'|translate}}</p>
          <input id="yyyz" type="radio" name="gender" [value]="true" checked="checked" [(ngModel)]="rateObj.comment_recommend">
          <label for="yyyz"><span></span>
            <p class="radio__text">{{'Yes'|translate}}</p></label>

          <input id="uuuz" type="radio" name="gender" [value]="false"  [(ngModel)]="rateObj.comment_recommend">
          <label for="uuuz"><span></span>
            <p class="radio__text">{{'No'|translate}}</p></label>

        </div>
      </div>


    </div>
    <div class="contentMs">
      <div class="row-wrap indent">
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.culatm'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_culture" (selectVal)="rateObj.rating_culture = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.wcond'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_work" (selectVal)="rateObj.rating_work = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.cpmlsal'|translate}}: </p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_salary" (selectVal)="rateObj.rating_salary = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.mngqlt'|translate}}:</p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_managment" (selectVal)="rateObj.rating_managment = $event"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.crropp'|translate}}:</p>
          <rating-star [select]="true" [starResult]="false" [ratingValue]="rateObj.rating_career" (selectVal)="rateObj.rating_career = $event"></rating-star>
        </div>
      </div>

      <div class="row-wrap">
        <p class="textField dark" >{{'Your_comment'|translate}}</p>
        <textarea class="textarea" [(ngModel)]="rateObj.comment_text"></textarea>
      </div>
    </div>
    <div class="footerMs center">
      <button class="button min" (click)="createNewRate()">{{'btn.Submit'|translate}}</button>

    </div>

  </div>
</div>





<div class="modalStandart" [ngClass]="{active:openModal}" *ngIf="template == 'get'">
  <div class="modalStandart-wrap">
    <i class="icon cancel-black" (click)="closeModal()"></i>

    <div class="headerMs">
      <p class="sideTitle">{{'ratmod.tit'|translate}}</p>

      <div class="row-wrap indent" *ngIf="rateObj.comment_anonim"><p class="text"><i class='icon ic_visibility_off_gray'></i> {{'cmprat.anfdbk'|translate}}</p></div>
      <div class="row-wrap indent" *ngIf="!rateObj.comment_anonim"><p class="text">{{uS.profile.first_name}}</p></div>

      <div class="row-wrap indent" *ngIf="rateObj.workedForThisCompany"><p class="text"> <i class='icon ic_work_gray'></i> {{'workedForThisCompany'|translate}}</p></div>


      <div class="row-wrap"><p class="text">{{'cmprat.wreccmp'|translate}} <span class="indentLeft">{{rateObj.comment_recommend ? ('Yes'|translate) : ('No'|translate)}}</span></p></div>

    </div>
    <div class="contentMs">
      <div class="row-wrap indent">
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.culatm'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [dieStar]="true" [ratingValue]="rateObj.rating_culture"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.wcond'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [dieStar]="true" [ratingValue]="rateObj.rating_work"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.cpmlsal'|translate}}: </p>
          <rating-star [select]="false" [starResult]="false" [dieStar]="true" [ratingValue]="rateObj.rating_salary"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.mngqlt'|translate}}:</p>
          <rating-star [select]="false" [starResult]="false" [dieStar]="true" [ratingValue]="rateObj.rating_managment"></rating-star>
        </div>
        <div class="rating-item">
          <p class="minTilt">{{'cmprat.crropp'|translate}}:</p>
          <rating-star [select]="false" [starResult]="false" [dieStar]="true" [ratingValue]="rateObj.rating_career"></rating-star>
        </div>
      </div>

      <div class="row-wrap">
        <p class="textField dark" >{{'Your_comment'|translate}} </p>
        <p class="text">{{rateObj.comment_text}}</p>
      </div>
    </div>
    <div class="footerMs center">
      <button class="text-ic" (click)="template = 'send'">
        <i  class="icon edit-black"></i>
        <p  class="text-ic__text">{{'btn.Edit'|translate}}</p>
      </button>

    </div>

  </div>
</div>
