<div class="linkIcon min" *ngIf="userId!=uS.profile._id"
     (click)="mS.setDialogs(userId);router.navigate(['messages']);"><i
  class="material-icons">&#xE0B7;</i> <span>{{'Contact'|translate}}</span>
</div>
