<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
  <div class="title-wrap">
    <p class="title" #eerr>{{ 'All_company_vacancies' | translate }}</p>
  </div>
  <div class="cardVacant-wrap" [ngClass]="{'minCard':compact}"><!-- для телефона minCard-(сокращенный карточка) -->
      <app-vacancy-card
        *ngFor="let item of vacanciesArr; let i = index;"
        [vacancy]="item"
        [exp_deadline]="true"
        [exp_published_at]="true"
        [exp_top_published_at]="true"
        [exp_bookMark]="true"
        [exp_address]="true"
        [class]="'bookmarkedVacancies'"
      >
      </app-vacancy-card>
    <app-right-sidecontent class="advertising"></app-right-sidecontent>
  </div>
</div>
