
.unitySelect {
  border: 1px solid #E5E5E5;
  max-width: 100%;
  width: 100%;
  z-index: 9;

}

.active {

  z-index: 15;
}

:host.salaryUS{
  display: inline-block;
  vertical-align: middle;
}
:host.avgProgressSelect .salarySelect {
  display: block;
}
:host.avgProgressSelect .salarySelect .mpsInput{
  max-width: 100%;
  min-width: 100%;
}

.error{
  border: 1px solid red;
}
