<div  [ngClass]="{'active': unitySelect,'salarySelect': (type=='salarySelect'), 'unitySelect': (type!='salarySelect'),'error':errorClass }">
  <input
    [ngClass]="{'mpsInput': (type=='salarySelect'),'utsInput':(type!='salarySelect') }"
    readonly
    id="{{random}}"
    type="text"
    (click)="unitySelect=!unitySelect"
    value="{{selectedItem.text+''|translate}}"

    >
  <!--placeholder="{{title+''|translate}}"-->
  <div class="utsBox" [ngClass]="{'active': unitySelect&&!readonly }" (clickOutside)="clickexclude($event)">
    <div class="mpsBox-top">
      <p class="mpsBox__text">{{title}}</p>
      <button class="mpsBox__cross" (click)="unitySelect = false">
        <i class="material-icons"></i>
      </button>
    </div>
    <ul class="utsBox-ul">
      <li *ngFor="let item of arrInFinal"
          (click)="changeItem(item)">
        <a>{{item.text+''|translate}}</a>
      </li>
    </ul>
  </div>
</div>

