.mpsl-autoCompleteArea {
  width: 100%;
  border: 1px solid #E5E5E5;
  background-color: #FFFFFF;
  min-height: 110px;
  padding: 10px 5px;
  z-index: 11;
  position: relative;
  .mpsl-list,
  .mpsl-input {
    display: inline-block;
    border: none;

  }

  .mpsl-input {
    color: #333333;
    /* font-family: Roboto; */
    font-size: 14px;
  }

  .mpsl-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 4px;
    padding: 2px 8px 2px;
    i {
      font-size: 14px;
    }

  }
  .mpsl-findList {
    display: none;
    &.active {
      display: block;
    }
  }
}
.items{
  cursor: pointer;
}
.items:hover{
  background-color: #6E6E6E;
}
.hover{
  background-color: #6E6E6E;
}
