<p class="textField dark">{{title}}</p>
<div (click)="clickBlock($event)" class="mpsl-autoCompleteArea">
    <div class="mpsl-list">
      <span *ngFor="let item of selectedItem" class="mpsl-item selInsert">
        {{(item.text|translate)}} <i (click)="deleteSelectedItem(item)" class="material-icons">&#xE5CD;</i></span>
      <input *ngIf="selectedItem.length<max" type="text" id="{{random}}" class="mpsl-input" #mpslInput (focus)="findList = true;findText(mpslInput.value,$event)"   (keyup)="findText(mpslInput.value,$event)" placeholder="{{'input.add more'|translate}}">
    </div>


    <div  class="mpsl-findList" [ngClass]="{'active': findList}" (clickOutside)="clickexclude($event);">
        <p  *ngFor="let item of suitableItem" class="items" (click)="mpslInput.value='';checkItem(item);" [ngClass]="{'hover': item.hover}">
        <span >{{item.text+''|translate}}</span>
        </p>
    </div>
</div>
<!--.substring(0,15) add to 5 stroka-->