<div class="graphic">
  <div class="graphic-wrap">

    <div style="display: block;">
      <canvas *ngIf="show" baseChart width="100" height="100"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"

              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
              (reset)="false"

      >


      </canvas>
    </div>
  </div>

</div>
