<div class="column">
  <div class="boxList" *ngFor="let res of resumes">
    <p class="sideTitle indent">{{'simcan'|translate}}:</p>

    <a class="minTilt blue" [routerLink]="['/resume/details/',res._id]" *ngIf="uS.users[res.uid]">{{uS.getUserName(res.uid,0)}}</a>
    <span class="vacantBox__address" *ngIf="uS.users[res.uid]&&uS.users[res.uid].Location"><i class="material-icons">&#xE0C8;</i>{{uS.users[res.uid].Location.addr}}</span>

    <p class="subMin-title">{{res.name}}</p>
    <div class="rating-wrap">
      <rating-star [ratingValue]="res.rating" [dieStar]="false" [starResult]="false" [select]="false"></rating-star>
    </div>
    <p class="vacantBox__text">
      {{"Internship" | translate}}:
      <span class="vacantBox__boldText">{{"InternshipType" | translate}}</span>
    </p>


    <p class="vacantBox__text" *ngIf="!res.internshipOptions.init">
      {{'resume.intop'|translate}}:

      <span  class="vacantBox__boldText" *ngFor="let type of objectKeys(res.internshipOptions.internshipType)">
                                {{'internshipType.'+type|translate}}
                              </span>
      /
      <span class="vacantBox__boldText"
            *ngFor="let work of objectKeys(res.internshipOptions.preferredWorkTime)">{{'workTime.'+work|translate}}</span>
    </p>
    <p class="vacantBox__text" *ngIf="res.jobOptions.jobType"> {{'Job'|translate}}:
      <span class="vacantBox__boldText"
            *ngFor="let type of objectKeys(res.jobOptions.jobType)">{{'jobType.'+type|translate}}</span>/
      <span class="vacantBox__boldText"
            *ngFor="let work of objectKeys(res.jobOptions.preferredWorkTime)">{{'workTime.'+work|translate}}</span>
    </p>
  </div>
</div>
