.sideTitle.indent {
  margin-bottom: 25px;
}

.minTilt {
  margin-bottom: 5px;
}

.vacantBox__address {
  margin: 0 0 15px 0;
}

.subMin-title {
  margin: 0;
}

.rating-wrap {
  margin: 0 0 14px 0;
}
