<div class="row">
    <div class="sideContent detailed">
        <div class="boxSd">
            <div class="boxSd-item">
                <div class="topLine-vb">
                    <p class="title">Tallinn University</p>
                    <p class="text13 indent">Reg. code: 234234234234</p>
                </div>
                <img class="vacantBox__logo tabletBlock" src="/assets/img/logo/mcdonald-s-15.svg">
                <div class="rating-wrap tabletBlock">
                    <div class="star-wrap">
                        <div class="star yellow100"></div>
                        <div class="star yellow100"></div>
                        <div class="star yellow100"></div>
                        <div class="star yellow100"></div>
                        <div class="star yellow25"></div>
                    </div>
                </div>
                <div class="tabletBlock indent">
                    <div class="tapeSd">
                        <div class="tapeSd-top">
                            <div class="tapeSd-box">
                                <p class="btnTabs__text">Middle school</p>
                                <p class="btnTabs__text">Established: 1999</p>
                            </div>
                            <p class="vacantBox__text block"><span
                                    class="vacantBox__text--span">Fields of education:</span>
                                <span class="vacantBox__boldText">Web Design, Web services, Mal, Calendars</span>
                            </p>
                            <p class="vacantBox__text block"><span class="vacantBox__text--span">Location(s):</span>
                                <span class="vacantBox__boldText"><i class="material-icons">&#xE0C8;</i> Tallinn, Estonia</span>
                                <span class="vacantBox__boldText"><i
                                        class="material-icons">&#xE0C8;</i> New York, US</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxSd-item">
                <div class="piece-wrap">
                    <p class="minTilt">About school</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
                        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc
                        eget.
                    </p>
                </div>
                <div class="piece-wrap">
                    <div class="videoIframe">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/n0sPFaLsNeI"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="piece-wrap">
                    <p class="minTilt">Specialities</p>
                    <div class="selInsert-wrap disable"><!-- disable отключает кликабельность -->
                        <div class="selInsert">Photoshop</div>
                    </div>
                    <div class="selInsert-wrap disable">
                        <div class="selInsert">Illustrator</div>
                    </div>
                    <div class="selInsert-wrap disable">
                        <div class="selInsert">Sketch</div>
                    </div>
                    <div class="selInsert-wrap disable">
                        <div class="selInsert">HTML</div>
                    </div>
                </div>
                <div class="piece-wrap">
                    <p class="minTilt">Additional information for students</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                </div>
            </div>
            <div class="boxSd-item border-s">
                <p class="minTilt">Contacts</p>
                <div class="contactSd">
                    <!--<div class="sideTitle">John Petrov-->
                    <!--<span class="contactSd__spun">HR specialist</span>-->
                    <!--</div>-->
                    <div class="contact-item"><i class="material-icons">&#xE0C8;</i>
                        <span>Tammsaare tee 47, 12323 Tallinn, Harjumaa, Estonia</span>
                    </div>
                    <div class="contact-item">
                        <i class="material-icons">&#xE0CD;</i>
                        <p class="rightCi">
                            <span>Landline: <strong>+372 43343434</strong></span>
                            <span>Mobile: <strong>+372 43343434</strong></span>
                        </p>
                    </div>
                    <div class="contact-item"><i class="material-icons">&#xE0BE;</i> <a
                            class="blueLink">info@googlecorporation.com</a>
                    </div>
                    <div class="contact-item"><i class="material-icons">&#xE894;</i>
                        <a class="blueLink">googlecorporation.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tapeSd tabletNone">
            <div class="tapeSd-top">
                <div class="tapeSd-box">
                    <div class="absolut-wrapNd tabletNone">
                        <img alt="" class="vacantBox__logo" src="/assets/img/logo/mcdonald-s-15.svg">
                        <div class="rating-wrap hover">
                            <div class="star-wrap">
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow100"></div>
                                <div class="star yellow25"></div>
                            </div>
                        </div>

                        <div class="ratingPopup">

                            <div class="triangleIcon"></div>

                            <div class="ratingPopup-item">
                                <p class="text13">Culture & atmosphere:</p>
                                <div class="star-wrap size15"><!-- вставить компонентом -->
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow25"></div>
                                </div>
                            </div>
                            <div class="ratingPopup-item">
                                <p class="text13">Work conditions: </p>
                                <div class="star-wrap size15"><!-- вставить компонентом -->
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow25"></div>
                                </div>
                            </div>
                            <div class="ratingPopup-item">
                                <p class="text13">Compliance of salary: </p>
                                <div class="star-wrap size15"><!-- вставить компонентом -->
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow25"></div>
                                </div>
                            </div>
                            <div class="ratingPopup-item">
                                <p class="text13">Management quality: </p>
                                <div class="star-wrap size15"><!-- вставить компонентом -->
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow25"></div>
                                </div>
                            </div>
                            <div class="ratingPopup-item">
                                <p class="text13">Career opportunities:: </p>
                                <div class="star-wrap size15"><!-- вставить компонентом -->
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow100"></div>
                                    <div class="star yellow25"></div>
                                </div>
                            </div>
                            <div class="ratingPopup-item indent">
                                <p class="text13">Recommended by:</p>
                                <p class="totalRp">86%</p>
                            </div>
                            <button class="button">Rate</button>
                            <button class="button">Details</button>

                        </div>

                    </div>
                    <p class="btnTabs__text">Middle school</p>
                    <p class="btnTabs__text">Established: 1999</p>
                    <span class="dateText tabletBlock">Posted: 21.01.2017</span>

                </div>
                <p class="vacantBox__text block"><span class="vacantBox__text--span">Fields of education:</span>
                    <span class="vacantBox__boldText">Web Design, Web services, Mal, Calendars</span>
                </p>
                <p class="vacantBox__text block"><span class="vacantBox__text--span">Highest educational level: </span>
                    <span class="vacantBox__boldText">Secondary education</span>
                </p>

                <p class="vacantBox__text block"><span class="vacantBox__text--span">Location(s):</span>
                    <span class="vacantBox__boldText"><i  class="material-icons"></i> Tallinn, Estonia</span>
                    <span class="vacantBox__boldText"><i class="material-icons"></i> New York, US</span>
                </p>

            </div>

        </div>

    </div>
</div>
