.vacantBox-right {
  width: 20%;
}
.vacantBox-left {
  width: 80%;
}

.resumeSidebar .rating-wrap {
  text-align: center;
  margin-bottom: 0;
}

.title-wrap{
  letter-spacing: -5px;

  & *{
    letter-spacing: 0;
  }

  .title{
    width: 50%;
  }
}

.vacantBox-left .title .star {
  width: 15px !important;
  height: 15px  !important;
}
.vacantBox-left .title rating-star {
  margin-left: 40px;
}

.dialogNotes-h rating-star {
  float: right;
}


.wrap-select{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.selectBox {
  width: 190px;
  margin: 0 auto;
  margin-right: 0;
}
.candidateBox {
  margin-bottom: 15px;
}

.filter-vb .vacantBox__text i {
  vertical-align: sub;
}

.vacantBox-left .title .star-wrap {
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
  position: relative;
  line-height: 1;


}
.titleStar{
  position: absolute;
  bottom: 100%;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
  right: 0;
  font-weight: normal;
}
.resumeSidebar {
  text-align: center;

  .imgPerson{
    margin-bottom: 15px;
  }
  .subMin-title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .contactSd {
    text-align: left;
  }
  .contact-item {
    margin-bottom: 3px;
    font-size: 13px;
  }
  .blueLink{
    margin-top: 10px;
  }

}
.candidateBox .vacantBox-left > .indent {
  margin-top: 25px;
}
.listRmc {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;

  & > *{
    display: inline-block;
  }
}
.flag {
  margin-right: 0;
}
.contact-item-wrap{
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  .contact-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: #fff;

    &:last-child{
      margin: 0 0 0 15px;
    }
  }
}
.contentAt .btnTabs-wrap {
  width: calc(100% - 140px);
}
.contentAt-filter{
  .text-ic {
    display: inline-block;
    vertical-align: middle;
  }
  .text-ic__text{
    padding-bottom: 3px;
    font-weight: normal;
    font-size: 13px;
  }
}
.accordionFt .allocateText {
  padding: 1px 0;
  width: 100px;
  font-size: 14px;
  line-height: 16px;
}

.vacantBox__boldText.margin0 {
  margin: 0;
}

.bottomLine-vb .contact-item{
  margin-bottom: 0;
  font-size: 13px;
  color: #333333;
}
.bottomLine-vb .btnTabs {
  padding: 0;
  margin-right: 30px;
}
.bottomLine-vb{
  .contact-item i {
    margin-right: 5px;
  }

  .contact-item.btnBl.desNone {
    display: none;
  }

  .row-wrap{
    letter-spacing: -5px !important;

    &*{
      letter-spacing: 0 !important;
    }
  }
}
.notes-vb-f{
  padding: 20px 20px 0;
  .text, .star-wrap{
    display: inline-block;
    vertical-align: middle;
  }
  .button.shaded.min{
    width: 140px;
    display: inline-block;
    vertical-align: middle;
  }
  .textarea {
    display: block;
    margin-bottom: 10px;
  }
  .text {
    margin-right: 5px;
    margin-top: 4px;
  }
}
.hiddenBox-vb.active {
  display: block;
}
.contentAt.active {
  display: block;
}

.candidateMenu.active ~ .bottomLine-vb .btnTabs .btnTabs__arr{
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
  transition: 0s;
}
.hiddenBox-vb{
  width: calc(100% + 64px);
  margin-left: -32px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #d7d7d7;
  position: relative;
  display: none;


  .sideTitle{
    padding: 0 20px;
    margin-right: 0;

  }

  .cancel-black{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    opacity: .6;
  }

  .dataText {
    padding: 0 20px;
    margin-right: 0;
    max-width: calc(100% - 30px);
    color: #7E7E7E;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }

}
.candidateMenu {
  margin-top: 15px !important;
  display: none;
}
.candidateMenu-item {
  position: relative;
  padding: 25px 0;

  .listRmc {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .vacantBox__text{
    display: block;
  }
}
.candidateMenu-item:before {
  content: "";
  position: absolute;
  width: calc(100% + 60px);
  left: -30px;
  background-color: #e5e5e5;
  height: 1px;
  top: 0;
}
.candidateMenu.active {
  display: block;
}
.hiddenBox-vb.abs.active{
  display: block;
}
.candidateBox .title span {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.candidateMenu.active ~ .hiddenBox-vb.abs{
  max-height: 415px;
}
.hiddenBox-vb.abs {
  position: absolute;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  right: 0;
  margin: 0;
  height: 100%;

  border: 0;
  //padding-left: 20px;
  //padding-right: 20px;
  padding: 32px 32px 30px 32px;
  top: auto;
  bottom: 1px;
  border-top: 1px solid #D3D3D3;

  .title .star-wrap {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    position: relative;
    line-height: 1;
  }
  .title{
    margin-bottom: 20px;
  }

  .sideTitle {
    padding: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .dialogNotes{
    width: 100%;
    max-width: 100%;
    height: 305px;
  }
  .dialogNotes-item{
    padding: 0;
  }
}
.dialogNotes-item {
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #d3d3d3;
  width: calc(100% - 20px);

  &:last-child{
    border-bottom: none;
  }
}
.dialogNotes{
  height: 200px;
  overflow-y: scroll;
  width: calc(100% - 20px);

  .textField{
    color: #333;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .dateText{
    color: #757575;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .blueLink{
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .star-wrap {
    float: right;
  }
  .dialogNotes-h {
    display: block;
    margin-bottom: 10px;
  }

}
.vacantBox__text i{
  display: inline-block;
}

@media screen and (max-width: 1080px) {
  .hiddenBox-vb {
    width: calc(100% + 44px);
    margin-left: -22px;
  }
  .candidateMenu-item:before {
    width: calc(100% + 47px);
    left: -23px;
  }
  .contact-item-wrap .contact-item:first-child{
    margin: 0;
  }
  .contact-item-wrap .contact-item:last-child {
    margin-right: 0;
    margin-left: 20px;
  }
  .contact-item-wrap .contact-item {
    margin-right: 0;
    margin-left: 20px;
  }
  .bottomLine-vb .btnTabs {
    padding: 0;
    margin-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .vacantBox-left .title .star-wrap {
    display: block;
    margin-left: 0;
  }
  .titleStar{
    margin-top: 10px;
    position: relative;
  }
  .vacantBox-left {
    width: 100%;
    padding-right: 0;
  }
  .vacantBox-right {
    width: 100%;
    margin: 25px 0 0 0;
  }
  .accordionFt .contentFt {
    width: calc(100% - 40px);
  }
  .candidateBox {
    padding: 22px 22px 0px;
  }
  .resumeSidebar .contactSd {
    text-align: center;
  }
  .filter-vb .vacantBox__text {
    width: 49%;
  }
  .candidateBox .title span {
    font-size: 18px;
    line-height: 20px;
  }
  .hiddenBox-vb.abs {
    height: auto;
    bottom: 0;
    top: auto;
    border-top: 1px solid #D3D3D3;
  }
  .btnTabs-wrap {
    display: inline-block;
  }
  .candidateBox {
    margin-top: 0;
  }
  .hiddenBox-vb .cancel-black {
    top: 15px;
  }
}


@media screen and (max-width: 640px) {
  .accordionFt .sideTitle {
    max-width: calc(100% - 90px);
  }
  .accordionFt .lineFt .row-wrap > div:last-child {
    padding-right: 90px;
  }
  .filter-vb .vacantBox__boldText {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
  }
  .filter-vb .vacantBox__text {
    width: 100%;
  }
  .filter-vb .blueLink {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  .accordionFt .contentFt {
    width: 100%;
  }
  .accordionFt .lineAt {
    padding: 15px 20px;
  }
  .accordionFt .arrowAr {
    right: 20px;
  }
  .bottomLine-vb {
    position: relative;
    top: auto;
    right: 0;
    margin: 15px 0 0 0;
    padding: 20px 0;
  }
  .contentAt-filter .text-ic.mobileNone {
    display: none;
  }
  .btnTabs__text {
    display: inline-block;
  }
  .candidateBox {
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
  }
  .contentAt .btnTabs-wrap {
    width: 100%;
    padding: 0 20px;
  }
  .accordionFt .allocateText {
    padding: 3px 0 1px 0;
    width: 100px;
    font-size: 14px;
  }
  .filter-vb .select-wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .filter-vb{
    padding: 20px;
  }
  .notes-vb-f .button.shaded.min {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .dialogNotes {
    width: calc(100% - 10px);
  }
  .dialogNotes .star-wrap {
    float: none;
  }
  .hiddenBox-vb.abs .title .star-wrap {
    display: block;
    margin-left: 0;
  }
  .hiddenBox-vb.abs .dialogNotes {
    margin-bottom: 20px;
  }
  .contact-item-wrap .contact-item.btnBl.mobileNone {
    display: none;
  }

  .bottomLine-vb .contact-item.btnBl.desNone{
    background-color: #fff;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    float: right;
    line-height: 24px;
  }
  .listRmc {
    margin: 15px 0;
  }

  .bottomLine-vb .contact-item-wrap {
    width: 100%;

    .contact-item.grey:first-child{
      float: left;
      margin-top: 2px;
    }

  }
  .bottomLine-vb:before {
    content: '';
    position: absolute;
    width: calc(100% + 22px);
    height: 1px;
    left: -21px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
  .wrap-select {
    display: none;
  }

  .title-wrap .title {
    width: 100%;
  }
  .selectBox{
    width: 100%;
  }

  .dialogNotes-h rating-star {
    float: right;
  }
}
