<div class="candidateMenu-item">
  <p class="subMin-title"> {{'resume.Objective'|translate}}</p>
  <p>{{resume.objective}}
  </p>
</div>
<div class="candidateMenu-item" *ngIf="resume">
  <p class="subMin-title">{{'resume.prefofInt'|translate}}</p>
  <div class="listRmc">

    <p class="vacantBox__text" *ngIf="resume.internshipOptions&&resume.internshipOptions.occupationField">{{'options.occupationField'|translate}}:
      <span class="vacantBox__boldText" *ngFor="let ocf of resume.internshipOptions.occupationField;let i=index">{{dS.optionText('occupationField',ocf)|translate}}Web design</span>
      <span *ngIf="i<resume.internshipOptions.occupationField.length-1">,</span>
    </p>
    <p class="vacantBox__text" *ngIf="resume.internshipOptions&&resume.internshipOptions.possible_position">
      {{'resume.pospos'|translate}}:
      <span class="vacantBox__boldText" *ngFor="let pos of resume.internshipOptions.possible_position;let i=index">

                                               {{pos}}
                                               <span *ngIf="i<resume.internshipOptions.possible_position.length-1">,</span>
                                             </span>

    </p>
    <p class="vacantBox__text" *ngIf="resume.internshipOptions&&resume.internshipOptions.preferredPeriod">{{'resume.prefPer'|translate}}:
      <span class="vacantBox__boldText" *ngIf="resume.internshipOptions.preferredPeriod.type==0&&resume.internshipOptions.preferredPeriod.start&&resume.internshipOptions.preferredPeriod.end">
                          {{dS.dateConvert(resume.internshipOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                          -
                          {{dS.dateConvert(resume.internshipOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                        </span>
      <span class="vacantBox__boldText" *ngIf="resume.internshipOptions.preferredPeriod.type==1&&resume.internshipOptions.preferredPeriod.startWork">
                          {{dS.optionText('preferredPeriod',resume.internshipOptions.preferredPeriod.startWork)|translate}}
                        </span>

    </p>
    <p class="vacantBox__text" *ngIf="resume.internshipOptions&&resume.internshipOptions.scholarshipOpt">{{'resume.schOp'|translate}}:
      <span class="vacantBox__boldText" *ngIf="resume.internshipOptions.scholarshipOpt.anyKind">{{'resume.anykind'|translate}}</span>
      <span *ngIf="resume.internshipOptions.scholarshipOpt.anyKind">, </span>
      <span class="vacantBox__boldText" *ngIf="resume.internshipOptions.scholarshipOpt.returnComWork">{{'resume.IrmCw'|translate}}</span>
      <span *ngIf="resume.internshipOptions.scholarshipOpt.returnComWork&&resume.internshipOptions.scholarshipOpt.returnWork">, </span>
      <span class="vacantBox__boldText" *ngIf="resume.internshipOptions.scholarshipOpt.returnWork">{{'resume.Irmw'|translate}}</span>
      <!--<span *ngIf="resume.internshipOptions.scholarshipOpt.returnWork&&resume.internshipOptions.scholarshipOpt.Size">,</span>-->
      <!--<span class="vacantBox__boldText" *ngIf="resume.internshipOptions.scholarshipOpt.Size">{{'resume.sizeofint'|translate}} {{resume.internshipOptions.scholarshipOpt.Size}} {{'hou_mon'|translate}} </span>-->
    </p>
    <p class="vacantBox__text" *ngIf="resume.internshipOptions.scholarshipOpt.Size">{{'resume.Desired_scholarship'|translate}}: <span
      class="vacantBox__boldText">{{resume.internshipOptions.scholarshipOpt.Size}} € / {{'hou_mon'|translate}}</span>
    </p>
  </div>

  <p class="subMin-title">{{'resume.addInfo'|translate}}</p>
  <p>{{resume.internshipOptions.additonalInformation}}</p>
</div>
<div class="candidateMenu-item">
  <p class="subMin-title">{{'resume.PrefJob'|translate}}</p>
  <div class="listRmc">

    <p class="vacantBox__text" *ngIf="resume.jobOptions.occupationField">{{'options.occupationField'|translate}}:
      <span class="vacantBox__boldText" *ngFor="let ocf of resume.jobOptions.occupationField;let i=index">{{dS.optionText('occupationField',ocf)|translate}}Web design</span>
      <span *ngIf="i<resume.jobOptions.occupationField.length-1">,</span>
    </p>
    <p class="vacantBox__text" *ngIf="resume.jobOptions&&resume.jobOptions.possible_position">
      {{'resume.pospos'|translate}}:
      <span class="vacantBox__boldText" *ngFor="let pos of resume.jobOptions.possible_position;let i=index">

                                               {{pos}}
                                               <span *ngIf="i<resume.jobOptions.possible_position.length-1">,</span>
                                             </span>

    </p>
    <p class="vacantBox__text" *ngIf="resume.jobOptions.preferredPeriod">{{'resume.prefPer'|translate}}:
      <span class="vacantBox__boldText" *ngIf="resume.jobOptions.preferredPeriod.type==0&&resume.jobOptions.preferredPeriod.start&&resume.jobOptions.preferredPeriod.end">
                          {{dS.dateConvert(resume.jobOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                          -
                          {{dS.dateConvert(resume.jobOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                        </span>
      <span class="vacantBox__boldText" *ngIf="resume.jobOptions.preferredPeriod.type==1&&resume.jobOptions.preferredPeriod.startWork">
                          {{dS.optionText('preferredPeriod',resume.jobOptions.preferredPeriod.startWork)|translate}}
                        </span>

    </p>
    <!--<p class="vacantBox__text" *ngIf="resume.jobOptions&&resume.jobOptions.scholarshipOpt">{{'resume.schOp'|translate}}:-->
    <!--<span class="vacantBox__boldText" *ngIf="resume.jobOptions.scholarshipOpt.anyKind">{{'resume.anykind'|translate}}</span>-->
    <!--<span *ngIf="resume.jobOptions.scholarshipOpt.anyKind">, </span>-->
    <!--<span class="vacantBox__boldText" *ngIf="resume.jobOptions.scholarshipOpt.returnComWork">{{'resume.IrmCw'|translate}}</span>-->
    <!--<span *ngIf="resume.jobOptions.scholarshipOpt.returnComWork&&resume.jobOptions.scholarshipOpt.returnWork">, </span>-->
    <!--<span class="vacantBox__boldText" *ngIf="resume.jobOptions.scholarshipOpt.returnWork">{{'resume.Irmw'|translate}}</span>-->
    <!--&lt;!&ndash;<span *ngIf="resume.jobOptions.scholarshipOpt.returnWork&&resume.jobOptions.scholarshipOpt.Size">,</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="vacantBox__boldText" *ngIf="resume.jobOptions.scholarshipOpt.Size">{{'resume.sizeofint'|translate}} {{resume.jobOptions.scholarshipOpt.Size}} {{'hou_mon'|translate}} </span>&ndash;&gt;-->
    <!--</p>-->
    <!--<p class="vacantBox__text" *ngIf="resume.jobOptions.scholarshipOpt.Size">{{'resume.Desired_scholarship'|translate}}: <span-->
    <!--class="vacantBox__boldText">{{resume.jobOptions.scholarshipOpt.Size}} € / {{'hou_mon'|translate}}</span>-->
    <!--</p>-->
  </div>
  <p class="subMin-title">{{'resume.addInfo'|translate}}</p>
  <p>{{resume.jobOptions.additonalInformation}}</p>
</div>
