//.sideContent {
//  width: 100%;
//}
.fl:first-letter{
  text-transform: uppercase;
}
.boxSide {
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }
}
.input{
  width: 100%;
}
.row-wrap.bottom > div{
  vertical-align: bottom;
}

.row-wrap > div{
  display: inline-block;
}

.selectSurname {

  .checkbox{
    margin-bottom: 0;
    line-height: 1;
  }

  .textField{
    margin-bottom: 7px;
  }
}

.lampText.indent {
  margin: 30px 0;
  max-width: 100%;
}

.footerGm{
  text-align: right;
}

.footerGm .button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 180px;
}
.footerGm .btnNumber {
  padding: 8px 0;
}

.alphabet-wrap .alphabet-inline {
  max-width: 100%;
}

.title-wrap .titleSidebar{
  margin-bottom: 0;
}

.eduList {
  .blueLink{
    font-size: 12px;
  }
  .mbIndent .icon {
    margin-bottom: 3px;
  }

  .imgPerson, .eduList-name{
    display: inline-block;
    vertical-align: middle;
  }
  .imgPerson {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }

  .button.shaded.min {
    border: 1px solid #00C3F1;
    padding: 11px 10px;
  }

  .button.shaded {
    border: 1px solid #00C3F1;
    padding: 11px 10px;
  }
}

.boxSide-item.hidden{
  display: none;

  &.active{
    display: block;
  }
}

.alphabet-wrap {
  margin: 30px 0;
}

.text{
  word-wrap: break-word;
}

.btnText{
  padding-bottom: 0;
}

.boxSide-item:last-child {
  border-bottom: 1px solid #D3D3D3;
}

.boxSide {
  border-bottom: 0;
}

.button.min {
  max-width: 80px;
  margin: 0 auto;
}
.dataEdulist {
  font-size: 12px;
  color: #757575;
  margin-left: 5px;
}

@media screen and (max-width: 1120px){
  .sideContent {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1080px){
  .title-wrap .title {
    width: 100%;
  }
}
@media screen and (max-width: 980px){
  .button.min {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 800px){
  .row-wrap > .indent{
    margin-top: 10px;
  }

  .row-wrap .blockTb{
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px){
  .sideContent {
    padding: 0;
  }

  .row-wrap .col-p0 {
    display: none ;
  }

  .row-wrap > .indent {
    margin-top: 20px;
  }

  .mbIndent{
    margin-bottom: 20px;
  }

  .col-p10 .button.shaded.min {
    max-width: 100%;
    margin-top: 20px;
  }

  .selectSurname .checkbox {
    margin-bottom: 15px;

  }

  .selectSurname .col-p10:last-child {
     .checkbox {
      margin-bottom: 0px;
    }
  }

  .footerGm .button {
    width: 100%;
    max-width: 370px;
    margin: 0 auto 10px;
    display: block;

    :last-child{
      margin: 0;
    }
  }

  .title-wrap.padding{
    padding-top: 0;
  }
}




