<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>

<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'eduList.title'|translate}}</p>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <div class="row-wrap bottom">
                <div class="col-v3 col-t4 col-m5 col-p10">
                    <p class="textField dark">{{'eduList.emailAddr'|translate}}</p>
                    <input [(ngModel)]="inviteEmail" type="text" class="input border">
                </div>
                <div class="col-v1 col-t2 col-p10">
                    <button class="button shaded min" (click)="inviteSchoolEdu()">{{"Invite" | translate}}</button>
                </div>
            </div>

            <div class="lampText min indent">
              {{'eduList.filtrdes'|translate}}

            </div>

            <div class="row-wrap selectSurname bottom" (keyup)="filterEdu(false)" >
                <div class="col-v4 col-t5 col-p10 blockTb">
                    <p class="textField dark">{{'Surname'|translate}}</p>
                    <input type="text" class="input border" [(ngModel)]="surname" (change)="filterEdu(false)">
                </div>

                <div class="col-v2 col-t3 col-p10">
                    <p class="textField dark">{{'Status'|translate}}</p>
                    <div class="checkbox">
                        <input id="type31" type="checkbox" name="check"   [(ngModel)]="employed" (change)="filterEdu(false)">
                        <label for="type31"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'employed'|translate}}</p></label>
                    </div>
                </div>
                <div class="col-v2 col-t3 col-p10">
                    <div class="checkbox">
                        <input id="type31z" type="checkbox" name="check" [(ngModel)]="not_employed" (change)="filterEdu(false)">
                        <label for="type31z"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'not_employed'|translate}}</p></label>
                    </div>
                </div>
                <div class="col-v2 col-t3 col-p10">
                    <div class="checkbox">
                        <input id="type31x" type="checkbox" name="check" [(ngModel)]="unknow" (change)="filterEdu(false)">
                        <label for="type31x"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'unknow'|translate}}</p></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="boxSide-item">
            <div class="footerGm">
                <button class="button grey" (click)="clearSearch()">{{'btn.Clear'|translate}}</button>
                <button class="button search" (click)="filterEdu(true)">
                    <span class="btnText" >{{'btn.Search'|translate}}</span>
                    <span class="btnNumber">{{countSearch}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="alphabet-wrap" *ngIf="false">
        <button class="btnTabs up">
            <span class="btnTabs__text">All</span>
        </button>
        <div class="alphabet-inline">
            <div class="alphabet">
                <p>A</p>
                <p>B</p>
                <p>C</p>
                <p>E</p>
                <p>F</p>
                <p>G</p>
                <p>H</p>
                <p>I</p>
                <p>J</p>
                <p>K</p>
                <p>L</p>
                <p>M</p>
                <p>N</p>
                <p>O</p>
                <p>P</p>
                <p>Q</p>
                <p>R</p>
                <p>S</p>
                <p>T</p>
                <p>U</p>
                <p>V</p>
                <p>W</p>
                <p>X</p>
                <p>Y</p>
                <p>Z</p>
            </div>
        </div>
    </div>

    <div class="title-wrap padding">
        <p class="titleSidebar">{{'eduList.list'|translate}}</p>
    </div>

    <div class="boxSide eduList"  *ngFor="let user of usersCopy;let i = index">
        <div class="boxSide-item">
            <div class="row-wrap middle">
                <div class="col-v5 col-t5 col-m6 col-p10 mbIndent">
                    <img alt="" class="imgPerson" src="{{user.photo}}"  *ngIf="user.school.status!=3">
                    <div class="eduList-name" *ngIf="user.school.status!=3">
                        <p class="sideTitle">
                          <!--<i class='icon ic_verified_user_yellow' ></i>-->
                          <!--<i class='icon ic_verified_user_birch' *ngIf="user.school.status==1"></i>-->
                          {{uS.getUserName(user._id,0)}}</p>
                        <a class="blueLink">{{user.email}}</a>
                        <p class="minText">{{'Last_visit'|translate}} <span class="dataEdulist">{{dS.dateConvert(user.last_visit) | date: 'dd.MM.yyyy (HH:mm)'}}</span></p>
                    </div>
                    <div class="eduList-name"  *ngIf="user.school.status==3">
                      <a class="blueLink">{{user.school.inviteEmail}}</a>
                    </div>


                </div>
                <div class="col-v2 col-t2 col-m4 col-p10">
                    <div class="text-ic">
                        <i class='icon completed-blue' *ngIf="user.school.status==2"></i>
                        <i class='icon suspended-red' *ngIf="user.school.status==1"></i>
                        <i class='icon invited-grey' *ngIf="user.school.status==3"></i>
                        <i class='icon ic_visibility_off_gray'  *ngIf="user.school.status==0"></i>
                        <p class="text-ic__text fl" *ngIf="user.school.status==2">{{'employed'|translate}}</p>
                        <p class="text-ic__text fl" *ngIf="user.school.status==1">{{'not employed'|translate}}</p>
                        <p class="text-ic__text fl" *ngIf="user.school.status==3">{{'invited'|translate}}</p>
                        <p class="text-ic__text fl" *ngIf="user.school.status==0">{{'unknown'|translate}}</p>
                        <span class="text-ic__minText">{{dS.dateConvert(user.school.created_at) | date: 'dd.MM.yyyy'}} </span>
                    </div>
                </div>
                <div class="col-m6 col-p0"></div>
                <div class="col-v2 col-t2 col-p5 indent">
                    <button class="button min" *ngIf="user.school.status!=3" (click)="mS.setDialogs(user._id);router.navigate(['messages']);">{{"Contact" | translate}}</button>
                </div>
                <div class="col-v1 col-m2 col-p5 center indent">
                    <button class="text-ic" (click)="user.school.edit = !user.school.edit;" *ngIf="user.school.status!=3">
                        <span class="text-ic__icon edit"></span>
                        <p class="text-ic__text">{{'btn.Edit'|translate}}</p>
                    </button>
                  <button class="text-ic" (click)="deleteInvite(user.school._id,i)" *ngIf="user.school.status==3">
                    <span class="text-ic__icon edit"></span>
                    <p class="text-ic__text">{{'btn.Delete'|translate}}</p>
                  </button>
                </div>
            </div>
        </div>
        <div class="boxSide-item hidden" *ngIf="user.school.status!=3"  [ngClass]="{active:user.school.edit}">
            <div class="row-wrap middle">
                <div class="col-v3 col-t4 col-m6 col-p10 mbIndent">
                    <p class="textField dark">{{'input.emailAddr'|translate}}</p>
                    <p class="text">{{user.email}}</p>
                </div>
                <div class="col-v2 col-t2 col-m4 col-p10">
                    <p class="textField dark">{{'empStatus'|translate}}</p>
                    <app-unity-select
                      [arrIn]="dS.options.statusForEmployment"
                      (arrOut)="setStatus(user,$event.id)"

                    ></app-unity-select>
                </div>
                <div class="col-v3 col-t1 col-m6 col-p0"></div>
                <div class="col-v1 col-t2 col-p5 indent">
                    <button class="button grey min" (click)="seveStatus(user,i)">Save</button>
                </div>
                <div class="col-v1 col-m2 col-p5 center indent">
                    <button class="text-ic" (click)="boxSide = !boxSide;">
                        <span class="text-ic__icon cancel"></span>
                        <p class="text-ic__text">{{'btn.Cancel'|translate}}</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--/////////////////////-->
    <!--<div class="boxSide eduList">-->
        <!--<div class="boxSide-item">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v5 col-t5 col-m6 col-p10 mbIndent">-->
                    <!--<img alt="" class="imgPerson" src="/assets/img/slid.jpg">-->
                    <!--<div class="eduList-name">-->
                        <!--<p class="sideTitle"><i class='icon ic_verified_user_yellow'></i> John Doe Junior</p>-->
                        <!--<a class="blueLink">john.doe@googlecorporation.com</a>-->
                        <!--<p class="minText">Last visit <span class="dataEdulist">20.07.2017 (15:45)</span></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<div class="text-ic">-->
                        <!--<i class='icon suspended-red'></i>-->
                        <!--<p class="text-ic__text">Not employed</p>-->
                        <!--<span class="text-ic__minText">01.01.2017</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-m6 col-p0"></div>-->
                <!--<div class="col-v2 col-t2 col-p5 indent">-->
                    <!--<button class="button min">contact</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic">-->
                        <!--<span class="text-ic__icon edit"></span>-->
                        <!--<p class="text-ic__text">Edit</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="boxSide-item hidden">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v3 col-t4 col-m6 col-p10 mbIndent">-->
                    <!--<p class="textField dark">Email address</p>-->
                    <!--<p class="text">john.doe@googlecorporation.com</p>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<p class="textField dark">employment status</p>-->
                    <!--<app-unity-select [title]="''"></app-unity-select>-->
                <!--</div>-->
                <!--<div class="col-v3 col-t1 col-m6 col-p0"></div>-->
                <!--<div class="col-v1 col-t2 col-p5 indent">-->
                    <!--<button class="button grey min">Save</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic" >-->
                        <!--<span class="text-ic__icon cancel"></span>-->
                        <!--<p class="text-ic__text">Cancel</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="boxSide eduList">-->
        <!--<div class="boxSide-item">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v5 col-t5 col-m6 col-p10 mbIndent">-->
                    <!--<div class="eduList-name">-->
                        <!--<a class="blueLink">john.doe@googlecorporation.com</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<div class="text-ic">-->
                        <!--<i class='icon invited-grey'></i>-->
                        <!--<p class="text-ic__text">Invited</p>-->
                        <!--<span class="text-ic__minText">01.01.2017</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-m6 col-p0"></div>-->
                <!--<div class="col-v2 col-t2 col-p5 indent">-->
                    <!--<button class="button min">contact</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic">-->
                        <!--<span class="text-ic__icon edit"></span>-->
                        <!--<p class="text-ic__text">Edit</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="boxSide-item hidden">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v3 col-t4 col-m6 col-p10 mbIndent">-->
                    <!--<p class="textField dark">Email address</p>-->
                    <!--<p class="text">john.doe@googlecorporation.com</p>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<p class="textField dark">employment status</p>-->
                    <!--<app-unity-select [title]="''"></app-unity-select>-->
                <!--</div>-->
                <!--<div class="col-v3 col-t1 col-m6 col-p0"></div>-->
                <!--<div class="col-v1 col-t2 col-p5 indent">-->
                    <!--<button class="button grey min">Save</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic">-->
                        <!--<span class="text-ic__icon cancel"></span>-->
                        <!--<p class="text-ic__text">Cancel</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="boxSide eduList">-->
        <!--<div class="boxSide-item">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v5 col-t5 col-m6 col-p10 mbIndent">-->
                    <!--<img alt="" class="imgPerson" src="/assets/img/slid.jpg">-->
                    <!--<div class="eduList-name">-->
                        <!--<p class="sideTitle"><i class='icon ic_verified_user_yellow'></i> John Doe Junior</p>-->
                        <!--<a class="blueLink">john.doe@googlecorporation.com</a>-->
                        <!--<p class="minText grey">Last visit <span class="dataEdulist">20.07.2017 (15:45)</span></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<div class="text-ic">-->
                        <!--<i class='icon ic_visibility_off_gray'></i>-->
                        <!--<p class="text-ic__text">Unknown</p>-->
                        <!--<span class="text-ic__minText">01.01.2017</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-m6 col-p0"></div>-->
                <!--<div class="col-v2 col-t2 col-p5 indent">-->
                    <!--<button class="button min">contact</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic" >-->
                        <!--<span class="text-ic__icon edit"></span>-->
                        <!--<p class="text-ic__text">Edit</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="boxSide-item hidden">-->
            <!--<div class="row-wrap middle">-->
                <!--<div class="col-v3 col-t4 col-m6 col-p10 mbIndent">-->
                    <!--<p class="textField dark">Email address</p>-->
                    <!--<p class="text">john.doe@googlecorporation.com</p>-->
                <!--</div>-->
                <!--<div class="col-v2 col-t2 col-m4 col-p10">-->
                    <!--<p class="textField dark">employment status</p>-->
                    <!--<app-unity-select [title]="''"></app-unity-select>-->
                <!--</div>-->
                <!--<div class="col-v3 col-t1 col-m6 col-p0"></div>-->
                <!--<div class="col-v1 col-t2 col-p5 indent">-->
                    <!--<button class="button grey min">Save</button>-->
                <!--</div>-->
                <!--<div class="col-v1 col-m2 col-p5 center indent">-->
                    <!--<button class="text-ic">-->
                        <!--<span class="text-ic__icon cancel"></span>-->
                        <!--<p class="text-ic__text">Cancel</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
