<div class="footer-wrap" *ngIf="menuColumns.length">
    <div class="footerBox mobileNone">
        <div class="row">
            <div class="column">
                <div class="footerBox-item" *ngFor="let column of menuColumns">
                    <p>{{menu[column].title | translate}}</p>
                    <ul class="footerBox__ul">
                        <li *ngFor="let item of menu[column].items">
                            <a
                                    class="footerBox__link"
                                    target="_blank"
                                    href="{{item.url}}">{{item.title | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footerLine ">
        <div class="row">
            <div class="column">
                <div class="footerLine__left">
                    <a href="//talents.fund/terms-of-use" target="_blank" class="minText">{{"TermsUse" | translate}}</a>
                    <a href="//talents.fund/privacy-policy" target="_blank" class="minText">{{"PrivacyPolicy" |
                        translate}}</a>
                </div>

                <div class="footerLine__right">
                    <div class="shareFb-wrap">
                        <div class="fb-like fb_iframe_widget" data-href="https://talents.fund/"
                             data-layout="button" data-action="like" data-size="small" data-show-faces="false"
                             data-share="true"
                             fb-xfbml-state="rendered"
                             fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Ftalents.fund%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small">
              <span style="vertical-align: bottom; width: 96px; height: 20px;"><iframe name="f63ba8ea40aaf8"
                                                                                       width="1000px" height="1000px"
                                                                                       frameborder="0"
                                                                                       allowtransparency="true"
                                                                                       allowfullscreen="true"
                                                                                       scrolling="no"
                                                                                       title="fb:like Facebook Social Plugin"
                                                                                       src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FJtmcTFxyLye.js%3Fversion%3D42%23cb%3Df8339cc8ed67b8%26domain%3Daprol.wms-dev.ru%26origin%3Dhttp%253A%252F%252Faprol.wms-dev.ru%252Ff29ee16e29194e4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"
                                                                                       style="border: none; visibility: visible; width: 96px; height: 20px;"
                                                                                       class=""></iframe></span></div>
                    </div>
                    <a class="minText">Copyright {{currYear}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
