/* + footer */
footer {
  word-break: normal;
}
.footer-wrap .column {
  letter-spacing: -5px;
}

.footer-wrap .column * {
  letter-spacing: 0;
}

.footerBox-item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.footerBox-item > p{
  font-weight: 500;
  font-size: 16px;
}


.footerBox__ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.footerBox__ul li {
  list-style-type: none;
  line-height: 1.3;
}

.footerBox__link {
  color: #0092B2;
  font-size: 13px;
  line-height: 22px;
}

.footerBox {
  padding: 35px 0 30px;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.footerLine__right,
.footerLine__left {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.footerLine__right {
  text-align: right;
}

.footerLine .minText {
  color: #666;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.footerLine .minText:last-child {
  margin: 0;
}

.shareFb-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.footerLine {
  padding: 24px 0;
}

.footer-wrap {
  background-color: #f1f1f1;
}

/* - footer */

@media screen and (max-width: 800px) {
  .footerBox__link {
    font-size: 12px;
    line-height: 1;
  }
  .footerBox__ul li {
    line-height: 1;
    margin-bottom: 10px;
  }
  .footerBox-item > p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .footerLine {
    padding: 15px 0 20px;
  }
  .footerBox {
    padding: 25px 0 20px;
  }
}

@media screen and (max-width: 640px) {
  /* + footer */
  .footerLine__right, .footerLine__left {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footerLine__left {
    margin-bottom: 35px;
  }
  .shareFb-wrap {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
  .footerLine {
    padding: 20px 0 20px;
    border-top: 1px solid #D3D3D3;
  }
  /* - footer */
}
