<profile-title></profile-title>
<div class="boxSide">
    <profile-userline
            [text]="user.profile.first_name+' '+user.profile.last_name"
            [subtext]="user.profile.type_profile"
            [btn]="'logout'"
    ></profile-userline>
    <div class="profileBox">
        <div class="profileBox-left">
            <div class="profileBox-item">
                <p class="sideTitle">{{'resume.yrecomm'|translate}}</p>

                <div class="indent edyIndent">
                    <p>{{'account.recquery'|translate}}<span class="mesengerUsb" style="cursor: pointer" [routerLink]="['/educator-recommendations']">{{newRec}}</span></p>
                    <p>{{'account.allrecoms'|translate}}</p>
                </div>
                <button [routerLink]="['/educator-make-recommendation']" class="button shaded min">{{'account.innewrec'|translate}}</button>

            </div>
            <div class="profileBox-item">
                <p class="sideTitle">{{'account.User_data'|translate}}</p>
                <div class="indent"><p>{{ 'account.profile_completed' | translate }} {{user.GetPrsUserdataComplete()}}%</p></div>
                <a class="blueLink" [routerLink]="['/account/userdata']">{{ 'account.Complete_now' | translate }}</a>

            </div>
            <!--<div class="profileBox-item">-->
                <!--<p class="sideTitle">Данные организации</p>-->
                <!--<div class="indent"><p>Организации данных завершена на 50%</p></div>-->
                <!--<a class="blueLink">Заполнить сейчас</a>-->
            <!--</div>-->
        </div>
        <div class="profileBox-right">
          <div class="profileBox-item">
            <p class="sideTitle">{{ 'account.Inbox' | translate }}</p>
            <account-messages_block [limit]="3"></account-messages_block>



          </div>
        </div>
    </div>
    <div class="knowBox">
        <p class="sideTitle">{{ 'account.Educator.Did_you_know' | translate }}</p>
        <div class="knowBox-wrap">
            <i class="material-icons">&#xE90F;</i>
            <p class="knowBox__text">
              {{ ('account.Educator.Did_you_knowText' | translate) | shorten: rmor: ' ...'}}
            </p>
          <!--<a class="blueLink" *ngIf="('account.Educator.Did_you_knowText' | translate).length>rmor" (click)="rmor=10000">{{ 'Read_more' | translate }}</a>-->
        </div>
    </div>
</div>
