.vacancySearch {
  @media screen and (max-width: 640px) {
    .itemVb:nth-child(2) {
      position: absolute;
      top: 22px;
      right: 21px;
    }
  }
  .vacantBox__text .itemVb:nth-child(3) {
    display: none;
  }
}


.vacantBox.vacancySearch.hightFrame{
  padding: 30px 30px 0px;
  border: 3px solid #00C3F1;
}
.bottomLine-vb.bookmarkedVacancies {
  .vacantBox__text .itemVb:nth-child(3) {
    display: none;
  }
  exp-deadline {
    width: 180px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  .itemVb {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      width: 78%;
      padding-right: 20px;
    }
    &:last-child {
      width: 22%;
    }
  }
  .vacantBox__text {
    width: 100%;
  }
  @media screen and (max-width: 640px) {
    position: initial;
    top: auto;
    right: auto;
    margin: auto;

    exp-published_at {
      display: inline-block;
      vertical-align: top;
    }
    exp-deadline {
      width: auto;
    }
    .itemVb {
      &:first-child {
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: space-between;
      }
      &:nth-child(2) {
        display: none;
      }

    }
    .itemVb {
      padding: 10px 0;
      &:last-child{
        padding: 0;
      }
    }
  }
}

.submitLine {
  @media screen and (max-width: 640px) {
    .itemVb {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &:first-child {
        padding: 10px 0 0 0;
      }
    }
    //.itemVb:nth-child(2) {
    //  display: block;
    //  width: 100%;
    //  padding-bottom: 10px;
    //}
    .itemVb:last-child {
      width: auto !important;
      position: relative;
      top: auto;
      right: auto;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}


@media screen and (max-width: 640px) {
  .bottomLine-vb {
    position: initial;
  }
  .itemVb {
    &:last-child {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 15px;
      text-align: right;
    }
  }

}


.three-items{

}