
<div class="vacantBox {{class}} zzzz" [ngClass]="{'hightFrame':vacancy.PROMhightFrame>helpers.getUnixTimestamp()}" *ngIf="vacancy" >

    <div class="vacantBox-left" [routerLink]="['/vacancy/details',vacancy._id]" (click)="routeDetail.emit(vacancy._id)">
        <div class="topLine-vb">
            <div class="" >
              <a style="cursor: default" [routerLink]="['/vacancy/details/',vacancy._id]"  class="title visTed">{{vacancy.positionTitle}}</a>


                <div class="place-time">
                    <exp-address *ngIf="exp_address" [address]="vacancy.address"></exp-address>

                    <span class="mobileTime">
                      <exp-published_at *ngIf="exp_top_published_at" [days]="true" [dateTime]="vacancy.published_at"></exp-published_at>
                    </span>
                </div>
            </div>
            <exp-salarysumm [salary]="vacancy.salary"></exp-salarysumm>
        </div>

        <div class="parameterVb">
            <options-data
                    [type]="'single'"
                    [title]="'vacancy.Occupation field'|translate"
                    [data]="vacancy.occupationField"
                    [options]="'occupationField'"
            ></options-data>
            <options-data
                    [type]="'single'"
                    [title]="'vacancy.Type'|translate"
                    [data]="vacancy.type"
                    [options]="'vacancyType'"
            ></options-data>
            <options-data
                    [type]="'worktime'"
                    [title]="'vacancy.Work_time'|translate"
                    [data]="vacancy.Worktime"

            ></options-data>
        </div>
    </div>
    <search-user
            [showInfo]="vacancy.showInfo"
            [type]="'company'"
            [users]="[]"
            [uid]="vacancy.uid"
    ></search-user>
    <div class="bottomLine-vb {{class}}">
        <hr class="hr desNone">
        <div class="vbt-wrap">
            <div class="vacantBox__text ">
                <div class="itemVb">
                    <exp-deadline *ngIf="exp_deadline" [dateTime]="vacancy.deadLine"></exp-deadline>
                    <exp-published_at *ngIf="exp_published_at" [dateTime]="vacancy.published_at"></exp-published_at>
                </div>

                <div class="itemVb">
                    <exp-appliedtovacancy *ngIf="exp_appliedtovacancy" [vacancyId]="vacancy._id"></exp-appliedtovacancy>
                    <exp-bookMark  *ngIf="exp_bookMark" [vacancyId]="vacancy._id"></exp-bookMark>
                  <span style="padding-left: 32px;display: block;font-size: 13px" *ngIf="exp_totalsubs">
                    {{'Total_applies'|translate}}: {{totalsubs}}
                    </span>
                </div>
              <div class="itemVb">
                <exp-submitedResume *ngIf="exp_submitedResume" [vacancyId]="vacancy._id"></exp-submitedResume>
                <exp-coverLetter *ngIf="exp_coverLetter" [vacancyId]="vacancy._id"
                                 (coverLetter)="coverModal = $event"></exp-coverLetter>
              </div>
            </div>
        </div>
    </div>

    <div class="letterModal  active" *ngIf="coverModal"><!-- active -->
        <i class='icon cancel-black' (click)="coverModal=null"></i>
        <div class="letterModal-wrap">
            <img onload="window['loadPhoto'](this)" *ngIf="coverModal.language" alt="" class="flag"
                 src="/assets/img/flag/{{dS.getOptionsFromId('languages',coverModal.language).value}}.png">
            <p class="sideTitle">{{coverModal.title}}</p>
            <p *ngIf="coverModal.updated_at" class="minText">{{'Last_edited'|translate}}: <span>{{dS.dateConvert(coverModal.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}</span>
            </p>
        </div>
        <p class="letterModal__text">
            {{coverModal.text}}

        </p>
    </div>
    <div class="premList" *ngIf="vacancy.premiumListing">Ad</div>
</div>
