<profile-title></profile-title>


<div class="boxSide">

    <profile-userline
            [text]="user.profile.first_name+' '+user.profile.last_name"
            [subtext]="user.profile.type_profile"
            [btn]="'logout'"
    ></profile-userline>


</div>




