<div class="savePopup" [ngClass]="{'active':show}" >
  <div class="savePopup-wrap"  (clickOutside)="clickexclude($event)">
    <i (click)="show = false" class="icon cancel-black"></i>
    <div class="savePopup-c">
      <p class="sideTitle"></p>

      <div *ngIf="notPass" class="row-wrap indentBt">
        <label for="password" class="textField">{{"inputLabel.Password" | translate}}</label>
        <input  [minLength]="6" class="input" name="password" id="password" type="password" [(ngModel)]="newPass">
      </div>
      <div *ngIf="notPass" class="row-wrap indentBt">
        <label for="repeat-password" class="textField">{{"inputLabel.RepeatPassword" | translate}}</label>
        <input  [minLength]="6" class="input" name="repeat-password" id="repeat-password" type="password"
                [(ngModel)]="repeatPass">
      </div>
      <div *ngIf="!user.profile.email" class="row-wrap indentBt">
        <label for="repeat-password" class="textField">{{"inputLabel.E-mail" | translate}}</label>
        <input class="input" name="email" id="email1" type="text"
               [textMask]="dataService.emailMask"
               [maxLength]="70"
               [value]="user.profile.email"
               [(ngModel)]="email">
      </div>

    </div>
    <div class="savePopup-f">
      <div class="row-wrap">
        <button (click)="save()" class="button min shaded">{{"btn.Save" | translate}}</button>
      </div>

    </div>
  </div>
</div>
