<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'rec.titleMake'|translate}}</p>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <div class="lampText min indent">
              {{'rec.descMake'|translate}}

            </div>

            <div class="row-wrap">
                <div class="col-v5 col-t4 col-p10">
                    <p class="textField">{{'Surname'|translate}}</p>
                    <input type="text" class="input border"  [ngClass]="{'error': !errorForm&&(!searchUser.surname||searchUser.surname=='')}"  (keyup)="countSearch()" [(ngModel)]="searchUser.surname" >
                </div>
                <div class="col-v2 col-t3 col-p10 mwp">
                    <p class="textField">{{'rec.exGrad'|translate}}</p>
                    <app-unity-select *ngIf="years"
                      [title]="'rec.exGrad'|translate"
                      [arrIn]="years"

                      [refresh]="clear"
                      (arrOut)="searchUser.exGrad = $event.id;countSearch()"></app-unity-select>
                </div>
                <div class="col-v3 col-t3 col-p10">
                    <p class="textField">{{'Select_school'|translate}}</p>
                  <app-unity-select
                    [error]="schName"
                    [valid]="!errorForm"
                    [title]="'Select_school'|translate"
                    [arrIn]="schoolIds" [refresh]="clear"
                    (arrOut)="searchUser.schoolId = [$event.id];countSearch();schName = $event.text"
                  ></app-unity-select>

                </div>

            </div>
            <div class="row-wrap indentTop">
                <div class="col-v5 col-t4 col-p10" >
                    <p class="textField">{{'Field_of_education'|translate}}</p>
                    <app-multiple-select *ngIf="!clear"
                                         [refresh]="clear"

                                         [arrIn]="dS.options.majors"
                                         [typeOut]="0"
                                         (arrOut)="searchUser.educat = $event;countSearch()"></app-multiple-select>
                </div>
                <div class="col-v5 col-t6 col-p10" >
                    <p class="textField">{{'Status'|translate}}</p>
                    <div class="checkbox-wrap ">
                        <div class="checkbox sizeCb6">
                            <input id="studying" type="checkbox" name="study"  [(ngModel)]="searchUser.curst"  (change)="countSearch()">
                            <label for="studying"><span class="checkbox__box"></span>
                                <p class="checkbox__text">{{'Currently_studying'|translate}}</p></label>
                        </div>

                        <div class="checkbox sizeCb4">
                            <input id="graduated" type="checkbox" name="study" [(ngModel)]="searchUser.grad"  (change)="countSearch()">
                            <label for="graduated"><span class="checkbox__box"></span>
                                <p class="checkbox__text">{{'Graduated'|translate}}</p></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxSide-item">
            <div class="btnMnr right">
                <button class="button grey" (click)="clearSearch()">{{'Clear'|translate}}</button>
                <button class="button search" (click)="showSearch()"><span class="btnText">{{'Show'|translate}}</span> <span class="btnNumber">{{count}}</span>
                </button>
            </div>
        </div>


    </div>
    <div class="alphabet-wrap" *ngIf="false">
        <button class="btnTabs up">
            <span class="btnTabs__text">{{'All'|translate}}</span>
        </button>
        <div class="alphabet-inline">
            <div class="alphabet">
                <p>A</p>
                <p>B</p>
                <p>C</p>
                <p>E</p>
                <p>F</p>
                <p>G</p>
                <p>H</p>
                <p>I</p>
                <p>J</p>
                <p>K</p>
                <p>L</p>
                <p>M</p>
                <p>N</p>
                <p>O</p>
                <p>P</p>
                <p>Q</p>
                <p>R</p>
                <p>S</p>
                <p>T</p>
                <p>U</p>
                <p>V</p>
                <p>W</p>
                <p>X</p>
                <p>Y</p>
                <p>Z</p>
            </div>
        </div>
    </div>


    <div class="vacantBox norm" *ngFor="let user of userShow">
        <div class="vacantBox-left">
            <div class="topLine-vb">
                <p class="title">{{uS.getUserName(user._id,0)}}</p>
                <!--<p class="post"><i  class="material-icons"></i>-->
                    <!--<span>International economy, International financial management</span>-->
                <!--</p>-->
            </div>
            <div class="parameterVb">
                <p *ngFor="let sc of getSchoolName(user._id)"  class="vacantBox__text">{{'School_name'|translate}}:
                    <span class="vacantBox__boldText">{{sc}}</span>
                </p>
              <div *ngFor="let school of uS.users[user._id].Student.schools">

                <p class="vacantBox__text" *ngIf="school.hasOwnProperty('major')">{{'input.Major'|translate}}:
                  <span class="vacantBox__boldText">{{dS.getOptionsFromId('majors',school.major).text|translate}}</span>
                </p>
              </div>

            </div>

        </div>

        <div class="vacantBox-right">
          <app-student-contacts class="resumeSidebar"
                                [uid]="user._id"
                                [rating]="user.rating"
                                [recommend]="false"
                                [contactView]="false"
          >
          </app-student-contacts>
        </div>
        <div class="bottomLine-vb">

            <!--<button class="button shaded min" (click)="cId = user._id;openModal = true">{{'recgivenT'|translate}}</button>-->
            <button class="button shaded min" *ngIf="isRec(user._id)==0" (click)="template ='send';uuid = user._id;openModal = true">{{'recgivenT'|translate}}</button>
            <button class="text-ic"  *ngIf="isRec(user._id)==1" (click)="template='get';activeRec = getReccomendation(user._id);openModal = true">
              <span class='icon remove_eye_black'></span>
              <p class="text-ic__text">{{'View'|translate}}</p>
            </button>
          <!--<span *ngIf="isRec(user._id)==2" >-->
                    <!--<p class="recBl">{{'recReqwDec'|translate}}</p>-->
                    <!--<button class="text-ic" (click)="template='send';cId = user._id;Revoke(user._id)">-->
                        <!--<span class='icon clockAr-black'></span>-->
                        <!--<p class="text-ic__text">{{'Revoke'|translate}}</p>-->
                    <!--</button>-->
          <!--</span>-->
        </div>
    </div>

    <!--<div  class="pagination">-->
        <!--<div  class="pgLink prev status_0"><i class="material-icons">&#xE5C4;</i>Previous</div>-->
        <!--<ul  class="pagination__ul">-->
            <!--<li  class="status_2">1</li>-->
            <!--<li  class="status_1">2</li>-->
            <!--<li  class="status_1">3</li>-->
            <!--<li  class="status_0">...</li>-->
            <!--<li  class="status_1">23</li>-->
        <!--</ul>-->
        <!--<div  class="pgLink next status_2">Next<i class="material-icons">&#xE5C8;</i></div>-->
    <!--</div>-->

</div>
<!--<modal-make-recomm [schoolId]="getSchoolID(cId)" [template]="template" [sId]="sId"  [cId]="cId" [openModal]="openModal" (ropenModal)="openModal = $event"></modal-make-recomm>-->
<modal-make-recomm
  [schoolId]="searchUser.schoolId[0]"
  [studentId]="uuid"
  (updateRec)="updateRec($event)"
  [template]="template"
  [activeRec]="activeRec"
  [openModal]="openModal"
  (ropenModal)="openModal = $event"
></modal-make-recomm>
