.textField{
  color: #666666;
}
.input {
  width: 100%;
}
.checkbox-wrap{
    margin-top: 15px;

  .checkbox{
    display: inline-block;
    width: 49%;
    margin: 0;
  }
}

.btnMnr {

  .button{
    display: inline-block;
    vertical-align: middle;
    width: 180px;

    .btnNumber{
      padding: 9px 0;
    }
  }
  .button.grey {

    padding: 11px 0;
    margin-right: 10px;
  }

}
.lampText.indent {
  margin: 0 0 20px 0;
}
.indentTop{
  margin-top: 15px;
}

.rating-wrap {
  margin: 14px 0 0 0;
}



@media screen and (max-width: 640px) {
  .vacantBox{
    display: table;
    width: 100%;
  }
  .vacantBox-right {
    display: table-header-group;
  }
  .rating-wrap{
    margin: 15px 0 25px 0;
  }

  .bottomLine-vb {
    position: relative;
    top: 0;
    right: 0;
    margin: 15px 0 0 0;
    padding: 15px 0;
  }

  .sideContent .button {
    width: 100%;
    max-width: 100%;
  }
  .button.grey {
    margin: 0 0 10px 0;
  }

  .mwp{
    max-width: 120px;
    margin-bottom: 15px;
  }
  .indentTop{
    //margin: 0;

    > .col-p10 {
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .input{
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
  }
  .checkbox-wrap {
    margin-top: 10px;
  }

  .checkbox-wrap {
    .checkbox.sizeCb6 {
      width: 60%;
      padding-right: 5%;
    }
    .checkbox.sizeCb4 {
      width: 38%;
      text-align: right;

      label{
        text-align: left;
      }
    }
  }

  .bottomLine-vb:before {
    content: "";
    position: absolute;
    width: calc(100% + 44px);
    height: 1px;
    left: -22px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
}