.rating-star{
  margin-left: 40px;
}

.rating-star ~ .greyText {
  margin-left: 15px;
  .light{
    font-weight: normal;
    color: #757575;
    font-size: 13px;
    line-height: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .rating-star{
    margin-left: 20px;
  }
  .rating-star ~ .greyText {
    margin-left: 5px;
  }
}
@media screen and (max-width: 640px) {
  .rating-star{
    margin-left: 0px;
    margin-top: 10px;
    display: block !important;
  }
}
.visTed:visited{
  color:#888888
}
