<span *ngIf="oninit" >

<p    class=" title ">
  <a style="cursor: default" [routerLink]="['/resume/details/',resume._id]"  class="title visTed">{{uS.getUserName(resume.uid,0,nameView)}}</a>

<rating-star class="rating-star" *ngIf="rating"
             [ratingValue]="rating"
             [dieStar]="false"
             [starResult]="false"></rating-star>
  <span class="greyText" *ngIf="approved_at">
    {{'approved_at'|translate}}: <span class="light">{{approved_at | date: 'dd.MM.yyyy HH:mm'}}</span>
  </span>
</p>
<p class="post" *ngIf="uS.users[resume.uid]&&uS.users[resume.uid].Student.schools">

  <span *ngIf="uS.users[resume.uid].Student.schools[ind]&&uS.users[resume.uid].Student.schools[ind].schoolLocation">
    <i class="material-icons">&#xE80C;</i> {{uS.users[resume.uid].Student.schools[ind].schoolLocation.addr}}, {{uS.users[resume.uid].Student.schools[ind].speciality}}
  </span>
</p>

<p
        class="vacantBox__text">
  {{'input.current_level'|translate}}:
  <span class="vacantBox__boldText">
    {{dS.optionText('educationLevelCurrent',resume.currentLevelOfEducation) | translate}}
  </span>
</p>
<p class="vacantBox__text" *ngIf="resume.expGradDate">{{'input.Expected_graduation'|translate}}: <span
        class="vacantBox__boldText">{{ resume.expGradDate }}</span></p>
<p class="vacantBox__text" *ngIf="
uS.users[resume.uid]&&
  uS.users[resume.uid].Student.schools&&
  uS.users[resume.uid].Student.schools[ind]&&
  uS.users[resume.uid].Student.schools[ind].major">
  {{'input.Major'|translate}}:
  <span class="vacantBox__boldText">
    {{ dS.optionText('majors',uS.users[resume.uid].Student.schools[ind].major) |translate}}
  </span>
</p>
<p class="vacantBox__text" *ngIf="
uS.users[resume.uid]&&
uS.users[resume.uid].Student.schools&&
uS.users[resume.uid].Student.schools[ind]&&
uS.users[resume.uid].Student.schools[ind].minor">
  {{'input.Minor'|translate}}:
  <span class="vacantBox__boldText">
    {{ dS.optionText('majors',uS.users[resume.uid].Student.schools[ind].minor) |translate}}
  </span>
</p>
<div *ngIf="resume.internshipOptions || resume.jobOptions" class="indent">
  <p class="vacantBox__text" *ngIf="resume.internshipOptions.internshipType.length>0">{{'Internship'|translate}}:
    <span class="vacantBox__boldText">{{rS.jobAndInternshipType(resume.internshipOptions.internshipType)}}  /</span>
    <span class="vacantBox__boldText" *ngFor="let work of obK(resume.internshipOptions.preferredWorkTime);">
      <i class="icon-timer_{{work}}"></i>
      {{ dS.getOptionsFromId('workTime',work).text |translate}}

    </span>
  </p>

  <p class="vacantBox__text" *ngIf="resume.jobOptions.jobType.length>0"> {{'Job'|translate}}:
    <span class="vacantBox__boldText">{{rS.jobAndInternshipType(resume.jobOptions.jobType,true)}}  /</span>
    <span class="vacantBox__boldText" *ngFor="let work of obK(resume.jobOptions.preferredWorkTime);">
      <i class="icon-timer_{{work}}"></i>
      {{ dS.getOptionsFromId('workTime',work).text |translate}}
    </span>
  </p>
</div>
</span>
