<div class="round-u p3" [ngStyle]="changeBackground()">
  <!--<span class="noticeUser redNumber" [ngClass]="{'blueNumber':point==0,'redNumber':point>0}">{{point}}</span>-->
  <!-- добавить класс redNumber или blueNumber -->
  <a  class="user-icon">
    <img onload="window['loadPhoto'](this)" src="{{photo}}" alt="">
  </a>

</div>
