@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Thin.eot');
  src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Thin.woff2') format('woff2'),
  url('Roboto-Thin.woff') format('woff'),
  url('Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Medium.woff2') format('woff2'),
  url('Roboto-Medium.woff') format('woff'),
  url('Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic.eot');
  src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-ThinItalic.woff2') format('woff2'),
  url('Roboto-ThinItalic.woff') format('woff'),
  url('Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black.eot');
  src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Black.woff2') format('woff2'),
  url('Roboto-Black.woff') format('woff'),
  url('Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic.eot');
  src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-LightItalic.woff2') format('woff2'),
  url('Roboto-LightItalic.woff') format('woff'),
  url('Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light.eot');
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Light.woff2') format('woff2'),
  url('Roboto-Light.woff') format('woff'),
  url('Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BlackItalic.eot');
  src: url('Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-BlackItalic.woff2') format('woff2'),
  url('Roboto-BlackItalic.woff') format('woff'),
  url('Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Bold.woff2') format('woff2'),
  url('Roboto-Bold.woff') format('woff'),
  url('Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Italic.eot');
  src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Italic.woff2') format('woff2'),
  url('Roboto-Italic.woff') format('woff'),
  url('Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BoldItalic.eot');
  src: url('Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-BoldItalic.woff2') format('woff2'),
  url('Roboto-BoldItalic.woff') format('woff'),
  url('Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-MediumItalic.eot');
  src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('Roboto-MediumItalic.woff2') format('woff2'),
  url('Roboto-MediumItalic.woff') format('woff'),
  url('Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Regular.woff2') format('woff2'),
  url('Roboto-Regular.woff') format('woff'),
  url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Regular.eot');
  src: url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-Regular.woff2') format('woff2'),
  url('SourceSansPro-Regular.woff') format('woff'),
  url('SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-SemiBold.eot');
  src: url('SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-SemiBold.woff2') format('woff2'),
  url('SourceSansPro-SemiBold.woff') format('woff'),
  url('SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-SemiBoldItalic.eot');
  src: url('SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
  url('SourceSansPro-SemiBoldItalic.woff') format('woff'),
  url('SourceSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Bold.eot');
  src: url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-Bold.woff2') format('woff2'),
  url('SourceSansPro-Bold.woff') format('woff'),
  url('SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Black.eot');
  src: url('SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-Black.woff2') format('woff2'),
  url('SourceSansPro-Black.woff') format('woff'),
  url('SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-ExtraLightItalic.eot');
  src: url('SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
  url('SourceSansPro-ExtraLightItalic.woff') format('woff'),
  url('SourceSansPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Light.eot');
  src: url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-Light.woff2') format('woff2'),
  url('SourceSansPro-Light.woff') format('woff'),
  url('SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-ExtraLight.eot');
  src: url('SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-ExtraLight.woff2') format('woff2'),
  url('SourceSansPro-ExtraLight.woff') format('woff'),
  url('SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-BlackItalic.eot');
  src: url('SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-BlackItalic.woff2') format('woff2'),
  url('SourceSansPro-BlackItalic.woff') format('woff'),
  url('SourceSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-LightItalic.eot');
  src: url('SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-LightItalic.woff2') format('woff2'),
  url('SourceSansPro-LightItalic.woff') format('woff'),
  url('SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Italic.eot');
  src: url('SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-Italic.woff2') format('woff2'),
  url('SourceSansPro-Italic.woff') format('woff'),
  url('SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-BoldItalic.eot');
  src: url('SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('SourceSansPro-BoldItalic.woff2') format('woff2'),
  url('SourceSansPro-BoldItalic.woff') format('woff'),
  url('SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

