.recommend-block {
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;

  &-item {
    &:first-child {
      margin-right: 50px;
    }
    .name {
      font-size: 14px;
    }
    .value {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.recommend {
  text-align: center;
  .button {
    border: 1px solid #00C3F1;
    padding: 9px 50px;
    margin: 0 auto;
  }
}

.star-block-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  .name {
    margin-right: 75px;
  }

  .rating.yellow {
    margin-right: 25px;
  }

  .rating-status {
    padding: 0px 5px;
    background-color: #F1F1F1;
    color: #8B8B8B;
    font-size: 12px;
    font-weight: 500;
  }

}

.view-modal-text {
  font-size: 14px;
}