<div class="modal-wrap">
  <div class="modal-content">
    <i class="material-icons close">&#xE14C;</i>
    <div class="modal-content-item">
      <p class="sideTitle">Recommendation given to Vassilij Pupkin</p>
      <p class="textField">Recommendation given: 20.02.2017 (15:45)</p>
      <div class="recommend-block">
        <div class="recommend-block-item">
          <p class="name">Educator:</p>
          <p class="value">Ekaterina Siitam</p>
        </div>
        <div class="recommend-block-item">
          <p class="name">Organization name: </p>
          <p class="value">21 secondary School of Tallinn</p>
        </div>
      </div>
    </div>
    <div class="modal-content-item">
      <div class="star-block">
        <div class="star-block-item">
          <div class="name">Poise:</div>
          <div  class="rating yellow">
            <i  class="material-icons"></i>
            <i  class="material-icons"></i>
            <i class="material-icons"></i>
            <i class="material-icons"></i>
            <i  class="material-icons"></i>
          </div>
          <div class="rating-status">good</div>
        </div>
        <div class="star-block-item">
          <div class="name">Poise:</div>
          <div  class="rating yellow">
            <i  class="material-icons"></i>
            <i  class="material-icons"></i>
            <i class="material-icons"></i>
            <i class="material-icons"></i>
            <i  class="material-icons"></i>
          </div>
          <div class="rating-status">good</div>
        </div>
        <div class="star-block-item">
          <div class="name">Poise:</div>
          <div  class="rating yellow">
            <i  class="material-icons"></i>
            <i  class="material-icons"></i>
            <i class="material-icons"></i>
            <i class="material-icons"></i>
            <i  class="material-icons"></i>
          </div>
          <div class="rating-status">good</div>
        </div>

      </div>
      <p class="view-modal-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      </p>
    </div>
    <div class="modal-content-item recommend">

      <button class="button">Contact educator</button>

    </div>
  </div>
</div>
