<div class="column">
  <div class="boxList">
    <div class="titleSidebar">{{'Personal'|translate}}:</div>
    <div class="sidebar-item">
      <div class="checkbox">
        <div class="checkbox-col">
          <input id="Male" [(ngModel)]="rs.filter.options.sex[1]" (change)="changeCheckbox('male',$event)" type="checkbox" name="rod" value="">
          <label for="Male"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'inputLabel.Male'|translate}}</p></label>
        </div>
        <div class="checkbox-col">
          <input id="Female" [(ngModel)]="rs.filter.options.sex[0]" (change)="changeCheckbox('female',$event)" type="checkbox" name="rod" value="">
          <label for="Female"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'inputLabel.Female'|translate}}</p></label>
        </div>
      </div>
    </div>
    <div class="sidebar-item">
      <div class="inputHalf">
        <p class="textField">{{'Age'|translate}}</p>
        <input type="number" class="input" [(ngModel)]="rs.filter.options.ageFrom" (change)="setAge($event)" placeholder="{{'from'|translate}}">
        <span class="indent">-</span>
        <input type="number" class="input" [(ngModel)]="rs.filter.options.ageTo" (change)="setAge($event,true)" placeholder="{{'to'|translate}}">
      </div>
    </div>
    <div class="sidebar-item">
      <div class="input-wrap">
        <p class="textField">{{'filter.City_of_residence'|translate}}</p>
        <address-select
                class="filter"
                (Address)="setAddress($event)"

                [name]="'resumeSearchCity'"
                [placeholder]="''"
                [types]="['(cities)']"
                [refresh]="rs.clear"

                [addr]="rs.filter.options.city?rs.filter.options.city.addr:''"

                (Location)="rs.filter.options.city = $event;setAddress2($event) "
                [locate]="rs.filter.options.city"
        ></address-select>
      </div>
    </div>
    <div class="sidebar-item">
      <app-accordion-select
              [title]="'filter.Resume_languages'"
              [arrIn]="ds.options.translaterDefault"
              [arrVal]="rs.filter.options.languages"
              (arrOut)="setFilter('language',$event,'resume','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('languages',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'languages'"
      ></app-accordion-select>
    </div>
    <div class="sidebar-item">
      <div class="checkbox">
        <input id="verified_ch" type="checkbox" (change)="rs.setVerify($event)" name="verified_ch" [(ngModel)]="rs.filter.options.onlyVerified">
        <label for="verified_ch"><span class="checkbox__box"></span>
          <p class="checkbox__text">{{'Only_verified_accounts'|translate}}</p></label>
      </div>
    </div>
  </div>

  <div class="boxList">
    <div class="titleSidebar">{{'Education'|translate}}:</div>
    <div class="sidebar-item">
      <app-accordion-select
              [title]="'filter.Current_level_of_education'"
              [arrIn]="ds.options.educationLevelCurrent"
              [arrVal]="rs.filter.options.educationLevel"
              (arrOut)="setFilter('currentLevelOfEducation',$event,'resume','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('educationLevel',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'educationLevel'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'input.Major'"
              [arrIn]="ds.options.majors"
              [arrVal]="rs.filter.options.majors"
              (arrOut)="setFilter('major',$event,'school','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('majors',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'majors'"
      ></app-accordion-select>
    </div>
    <div class="sidebar-item">
      <p class="textField">{{'Expected_graduation_before'|translate}}</p>
      <app-unity-select
              [default]="'Month'"
              [title]="'Month'"
              [arrIn]="help.month"
              [arrVal]="rs.filter.options.expectedGraduationMonth"
              (arrOutVal)="rs.setFilterOption('expectedGraduationMonth',$event)"
              (arrOut)="setExpectGrad(help.toInt($event.text),'m')"
              [type]="'salarySelect'"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'Month'"
              class="salaryUS"
      ></app-unity-select>
      <app-unity-select
              [default]="'Year'"
              [title]="'Year'"
              [arrIn]="expYear"
              [arrVal]="rs.filter.options.expectedGraduationYear"
              (arrOutVal)="rs.setFilterOption('expectedGraduationYear',$event)"
              (arrOut)="setExpectGrad($event.text,'y')"
              [type]="'salarySelect'"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'Year'"
              class="salaryUS"
      ></app-unity-select>
    </div>
  </div>

  <div class="boxList">
    <div class="titleSidebar">{{'Candidates_preferences'|translate}}:</div>
    <div class="sidebar-item">
      <app-accordion-select
              [title]="'filter.Desired_occupational_field'"
              [arrIn]="ds.options.occupationField"
              [arrVal]="rs.filter.options.occupationField"
              (arrOut)="setFilter('jobOptions.occupationField',$event,'resume','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('occupationField',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'occupationalField'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Desired_industry'"
              [arrIn]="ds.options.fieldActivity"
              [arrVal]="rs.filter.options.fieldActivity"
              (arrOut)="setFilter('jobOptions.fieldActivity',$event,'resume','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('fieldActivity',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'fieldActivity'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Type_of_vacancy'"
              [arrIn]="typeVacOptions"
              [arrVal]="rs.filter.options.vacancyType"
              (arrOut)="setTypeVacFilter($event)"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('vacancyType',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'vacancyType'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Status_for_employmenty'"
              [arrIn]="ds.options.readyTowork"
              [arrVal]="rs.filter.options.statusForEmployment"
              (arrOut)="setFilter('Student.ready_to_work',$event,'user','$in')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('statusForEmployment',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'statusForEmployment'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Work_time'"
              [arrIn]="ds.options.workTime"
              [arrVal]="rs.filter.options.workTime"
              (arrOut)="setWorkTimeFilter($event)"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('workTime',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'workTime'"
      ></app-accordion-select>
    </div>
  </div>

  <div class="boxList">
    <div class="titleSidebar">{{'Skills'|translate}}:</div>
    <div class="sidebar-item">
      <app-accordion-select
              [title]="'filter.Language_skills'"
              [arrIn]="ds.options.languages"
              [arrVal]="rs.filter.options.languagesSkills"
              (arrOut)="setFilter('languageSkills.langId',$event,'resume','$all')"
              (lastElem)="setLastElem($event)"
              (arrOutVal)="rs.setFilterOption('languageSkills',$event)"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'languagesSkills'"
      ></app-accordion-select>

      <p class="textField">{{'Profile_score_within_range'|translate}}</p>
      <rating-star
              style="display: block !important;"
              class="rating-wrap"
              [dieStar]="false"
              [select]="true"
              [starResult]="false"
              [refresh]="rs.clear"
              [ratingValue]="rs.filter.options.profileScore"
              (selectVal)="setRating($event)"
      ></rating-star>
      <!--<p class="textField">Avg. progress in education</p>-->
      <app-unity-select
              [default]="'filter.progress_in_education'"
              [title]="'filter.progress_in_education'"
              [arrIn]="ds.options.evaluationProgress"
              [arrVal]="rs.filter.options.avgProgressEdu"
              (arrOutVal)="rs.setFilterOption('avgProgressEdu',$event)"
              (arrOut)="setFilter('Student.avgEduProgress',$event.value,'user','$gte')"
              [refresh]="rs.clear"
              [change]="rs.lastChangeOption"
              [changeName]="'filter.progress_in_education'"
              [type]="'salarySelect'"
              class="avgProgressSelect"
      ></app-unity-select>
    </div>
    <div class="sidebar-item">
      <div class="checkbox">
        <input id="workExp" type="checkbox" name="workExp" (change)="changeCheckbox('workExp',$event)" [(ngModel)]="rs.filter.options.workExp">
        <label for="workExp"><span class="checkbox__box"></span>
          <p class="checkbox__text">{{'Has_previous_work_experience'|translate}}</p></label>
      </div>
      <div class="checkbox">
        <input id="recommendation_ch" type="checkbox" name="recommendation_ch" (change)="changeCheckbox('recommends',$event)" [(ngModel)]="rs.filter.options.recommendations">
        <label for="recommendation_ch"><span class="checkbox__box"></span>
          <p class="checkbox__text">{{'Has_recommendations'|translate}}</p></label>
      </div>
    </div>
    <button (click)="searchResume()" class="button search">
      <span class="btnText" >{{'btn.Search'|translate}}</span>
      <span *ngIf="uS.accessPackage.search" class="btnNumber">{{rs.countItems}}</span>
      <span *ngIf="!uS.accessPackage.search" class="btnNumber">-</span>
    </button>
    <button (click)="rs.clearFilter()" class="button grey">{{'Clear'|translate}}</button>
  </div>

</div>
