/* + ratingPopup возможно перенос */
.ratingPopup{
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  width: 305px;
  position: absolute;
  right: -20px;
  text-align: left;
  z-index: 10;
  display: none;
  margin-top: -5px;

  &:hover{
    display: block;
  }

  .text13{
    font-weight: 500;	line-height: 24px;
    display: inline-block;
  }

  .star-wrap, .totalRp{
    float: right;
  }
  .totalRp{
    font-size: 20px;
    line-height: 24px;
  }

  .button{
    max-width: 115px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;

    &:last-child{
      margin-right: 0;
    }
  }

  .triangle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: -20px;
    margin: auto;
  }

}
.ratingPopup-item.indent {
  margin-top: 8px;
}

@media screen and (max-width: 1120px) {
  .ratingPopup{
    right: 0;
  }
}
@media screen and (max-width: 640px) {
  .ratingPopup{
    right: 0;
    left: 0;
    margin: auto;
  }
}
/* - ratingPopup возможно перенос */

.boxSd {
  width: 77%;
  border-right: 1px solid #D3D3D3;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.rating-wrap.hover {
  padding-bottom: 14px;
  margin: 14px 0 0;
  display: inline-block;
  cursor: pointer;
}

.rating-wrap.hover:hover ~ .ratingPopup{
  display: block;
}

.piece-wrap p {
  font-size: 15px;
}


.tapeSd {
  width: calc(22% + 11px);
  margin-left: -1px;
  display: inline-block;
  vertical-align: top;

  .button {
    width: 100%;
    border: 1px solid #00C3F1;
    padding: 14px 10px;

    span {
      color: #00C3F1;
      font-size: 15px;
      line-height: 1;
    }

    &.indent {
      margin-top: 20px;
    }
  }

  .sideTitle {
    margin-bottom: 25px;
  }

}

.tapeSd-top {
  border-bottom: 1px solid #D3D3D3;
  padding: 20px 20px 35px;
}

.tapeSd-featured {
  padding: 20px 20px 25px;
  border-left: 1px solid #D3D3D3;

  .blueLink {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 20px;
    font-weight: 500;
    display: block;
  }

}

.boxSd-item:first-child {
  border-top: 0;
}

.boxSd-item {
  border-top: 1px solid #E5E5E5;
  padding: 30px 20px 30px 30px;

  &:first-child{
    padding: 30px 20px 20px 30px;
  }
}

.topLine-vb {
  margin-bottom: 0;
  position: relative;

  .text13.indent {
    margin-top: 10px;
  }

}

.piece-wrap {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.absolut-wrapNd {
  text-align: center;
}

.vacantBox__boldText i {
  font-size: 12px;
  margin: 0;
}

.tapeSd-top .vacantBox__text {
  margin-bottom: 0;
  margin-top: 20px;
}

.tapeSd-featured .tapeSd-featured-item {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}


.tapeSd-featured .tapeSd-featured-item:nth-last-child(2){
  border: 0;
  margin-bottom: 25px;
  padding: 0;
}

.tapeSd-featured .tapeSd-featured-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tapeSd-featured .vacantBox__price {
  text-align: left;
  position: inherit;
}

@media screen and (max-width: 1100px) {
  .tapeSd {
    width: calc(22% + 5px);
    //margin-left: 0; проблемма в детальной вакансии(2 бордера)
  }
}

@media screen and (max-width: 980px) {

  .boxSd, .tapeSd {
    width: 100%;
    display: block;
    margin: 0;
  }
  .starFv {
    display: inline-block;
  }
  .boxSd .tapeSd-top{
    padding: 0;
    border-bottom: 0;
  }
  .tapeSd .button {
    max-width: 280px;
  }
  .tapeSd .button.indent {
    margin-top: 10px;
  }

  .tapeSd.tabletNone {
    display: none;
  }
  .boxSd {
    padding-bottom: 0;
    .tabletBlock {

      .rating-wrap, .button {
        display: inline-block;
        vertical-align: middle;
      }
      .button.desNone {
        display: none;
      }
    }
    .tabletBlock.indent {
      margin-top: 15px;
    }
    .rating-wrap {
      width: 100px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-right: 0;
    }
    .topLine-vb {
      display: inline-block;
      width: calc(100% - 130px);
      vertical-align: middle;
      margin: 0;
    }
    .vacantBox__logo.tabletBlock {
      display: inline-block;
      vertical-align: middle;
    }
    .dateText {
      display: none;
    }
    .vacantBox__price {
      font-size: 24px;
    }
    .vacantBox__logo {
      margin-left: 30px;
      width: 95px;
    }
    .contact-item {
      max-width: 280px;
      margin-bottom: 20px;

      &:first-child{
        margin-bottom: 10px;
      }
    }
    .contact-item i, .contact-item span {
      display: inline-block;
      vertical-align: top;
    }
    .contact-item span {
      width: calc(100% - 45px);
    }
    .border-s {
      border-bottom: 1px solid #E5E5E5;

    }
  }
  .tapeSd {
    padding-bottom: 0px;
    .tapeSd-box {

      position: relative;

      .btnTabs__text, .vacantBox__text {
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
        margin: 0;
        margin-bottom: 10px;
      }
      .btnTabs__text {
        display: block;
      }
      .dateText.tabletBlock {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        padding-left: 28px;
      }
      .largeCompanyNd {
        display: inline-block;
        vertical-align: middle;
        width: 59%;
        text-align: right;
        .blueLink {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }
    .tapeSd-featured {
      display: none;
    }
    .vacantBox__text--span {
      display: inline-block;
    }
    .vacantBox__text {
      margin-bottom: 15px;
    }
    .vacantBox__text:last-child {
      margin-bottom: 0;
    }
  }

  .vacantBox__boldText, .save-favorites, .vacantBox__text {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
  .vacantBox__address {
    margin-top: 10px;
  }
  .boxSd-item {
    padding: 20px;
    &:first-child{
      padding: 20px;
    }
  }
  .boxSd-item.border-n {
    border: 0;
    padding-top: 0;
  }

}

@media screen and (max-width: 640px) {

  .boxSd {
    .rating-wrap {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .topLine-vb {
      display: block;
      width: 100%;

    }
    .starFv {
      float: right;
      margin-top: 4px;
    }
    .vacantBox__price {
      margin: 10px auto 0;
    }
    .vacantBox__logo.tabletBlock {
      display: block;
      margin: 25px auto 20px;
    }
    .tabletBlock {
      .button.mobileNone {
        display: none;
      }
      .button.desNone {
        display: block;
        margin: 0 auto;
      }
      .rating-wrap {
        padding-bottom: 15px;
        margin-bottom: 10px;
        position: relative;
        .vacantBox__boldText {
          text-align: left;
          margin-bottom: 0;
        }

      }
    }
    .vacantBox__text {
      margin: 0;
      margin-bottom: 20px;
    }
    .dateText.desNone {
      display: inline-block;
      float: right;
      margin-top: 2px;
    }

  }
  .tapeSd {
    padding-bottom: 0;
    border-bottom: 0;
    .tapeSd-box {
      .vacantBox__text {
        display: none;
      }
      .dateText.tabletBlock {
        display: none;
      }
      .btnTabs__text {
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
      }
      .largeCompanyNd {
        width: 100%;
        text-align: left;
        .blueLink {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }
        .blueLink:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .linkIcon-mobile {
    background-color: #f1f1f1;
    padding: 20px;
    .linkIcon-wrap {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    .linkIcon {
      margin: 0;
    }
  }
  .tapeSd .button {
    max-width: 100%;
  }

  .sideContent {
    margin-bottom: -1px;
  }


  .topLine-vb{
    padding-bottom: 20px;
    position: relative;
  }
  .topLine-vb:after {
    content: '';
    background: #e5e5e5;
    height: 1px;
    width: calc(100% + 40px);
    display: block;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    left: -20px;
  }
  .tapeSd-box {
    margin-bottom: 30px;
  }
  .contactSd {
    margin-top: 20px;
  }
  .sideContent.detailed {
    border: 0;
    border-top: 1px solid #D3D3D3;

  }
  .tapeSd .button.indent {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .boxSd-item:first-child {
    padding: 30px 20px 20px 20px;
  }
}