<div class="row" *ngIf="initv">
  <div class="sideContent detailed">
    <div class="boxSd">
      <div class="boxSd-item">
        <div class="topLine-vb">
          <p class="title">{{company.Company.nameCompany}}</p>
          <p class="text13 indent">{{'userdata.reg_code' | translate}}: {{company.Company.regCode}}</p>
        </div>
        <img class="vacantBox__logo tabletBlock" src="{{company.photo}}">
        <div class="rating-wrap tabletBlock">
          <a href="https://talents.fund/public-company/{{company._id}}" target="_blank">
            <rating-star [ratingValue]="company.rating"></rating-star>
          </a>
        </div>
        <div class="tabletBlock indent">
          <div class="tapeSd">
            <div class="tapeSd-top">
              <div class="tapeSd-box" *ngIf="company.Company.companySize">
                <p class="btnTabs__text">
                  {{dS.getOptionsFromId('companySize',company.Company.companySize).text|translate}}</p>
                <p class="btnTabs__text">{{'Established' | translate}}: {{company.Company.Established}}</p>
              </div>
              <p class="vacantBox__text block"
                 *ngIf="company.Company.activityField&&company.Company['activityField']!='0'">
                <span class="vacantBox__text--span">{{'vacancy.Field_of_activity'|translate}}:</span>
                <span class="vacantBox__boldText" *ngFor="let act of company.Company.activityField">
                  {{dS.getOptionsFromId('fieldActivity',act).text|translate}}
                </span>
              </p>

              <p class="vacantBox__text block" *ngIf="company.Company.AdditionalAddresses">
                <span class="vacantBox__text--span">{{'Locations' | translate}}:</span>
                <span class="vacantBox__boldText" *ngFor="let loc of company.Company.AdditionalAddresses">
                  <i class="material-icons">&#xE0C8;</i> {{loc.addr}}
                </span>
              </p>

              <p class="vacantBox__text block" *ngIf="company.Company.legalFormBusiness"><span
                class="vacantBox__text--span">{{"LegalFormBusiness" | translate}}:</span>
                <span class="vacantBox__boldText"> {{dS.getOptionsFromId('legalFormBusiness',company.Company.legalFormBusiness).text|translate}}</span>
              </p>

              <button class="button indent"
                      [routerLink]="route.snapshot.params['id'] == uS.profile._id ? ['/vacancy/list'] : ['/vacancy/all-vacancies', route.snapshot.params['id']]">
                {{'btn.CompanyVacancies'|translate}}: <span>{{companyVacancyCount}}</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="boxSd-item">
        <div class="piece-wrap">
          <p class="minTilt">{{"About_company" | translate}}</p>
          <p>{{company.Company.aboutCompany}}
          </p>
        </div>
        <div class="piece-wrap" *ngIf="frameVideoUrl">
          <div class="videoIframe" [innerHtml]="iframe_html"></div>
        </div>
        <div class="piece-wrap">
          <p class="minTilt">{{'keyword' | translate}}</p>
          <div *ngIf="company.Company.skills">
            <div *ngFor="let skill of company.Company.skills" class="selInsert-wrap disable">
              <div class="selInsert" *ngIf="skill&&skill.text">{{skill.text|translate}}</div>
            </div>
          </div>

        </div>
        <!--<div class="piece-wrap">-->
        <!--<p class="minTilt">Additional info</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin-->
        <!--gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>-->
        <!--</div>-->
      </div>
      <div class="boxSd-item border-s">
        <p class="minTilt">{{"Contacts" | translate}}</p>
        <div class="contactSd">
          <!--<div class="sideTitle">John Petrov-->
          <!--<span class="contactSd__spun">HR specialist</span>-->
          <!--</div>-->
          <div class="contact-item" *ngIf="company.Company.Address">
            <i class="material-icons">&#xE0C8;</i>
            <div class="vacantBox__boldText">

              {{company.Company.Address}}

            </div>
          </div>
          <div class="contact-item" *ngIf="company.Company.landlinePhone||company.Company.mobilePhone">
            <i class="material-icons">&#xE0CD;</i>
            <p class="rightCi">
              <span *ngIf="company.Company.landlinePhone">{{'Landline' | translate}}: <strong>{{company.Company.landlinePhone}}</strong></span>
              <span *ngIf="company.Company.mobilePhone">{{'Mobile' | translate}}: <strong>{{company.Company.mobilePhone}}</strong></span>
            </p>
          </div>

          <div class="contact-item" *ngIf="company.Company.webSite"><i class="material-icons">&#xE894;</i>
            <a class="blueLink" target="_blank" href="//{{company.Company.webSite}}">{{company.Company.webSite}}</a>
          </div>
         <!--BUG 746-->
          <!--<div class="contact-item" *ngIf="company.email"><i class='icon ic_email_black'></i>-->
            <!--<a class="blueLink">{{company.email}} </a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="tapeSd tabletNone">
      <div class="tapeSd-top">
        <div class="tapeSd-box">
          <div class="absolut-wrapNd tabletNone">
            <img alt="" onload="window['loadPhoto'](this,'contain')" class="vacantBox__logo" src="{{ company.photo }}">
            <div class="rating-wrap hover">
              <a href="https://talents.fund/public-company/{{company._id}}" target="_blank">
                <rating-star [ratingValue]="company.rating"></rating-star>
              </a>
            </div>

            <!--<div class="ratingPopup">-->

            <!--<div class="triangleIcon"></div>-->

            <!--<div class="ratingPopup-item">-->
            <!--<p class="text13">{{'cmprat.culatm' | translate}}:</p>-->
            <!--<rating-star [ratingValue]="4"></rating-star>-->
            <!--</div>-->
            <!--<div class="ratingPopup-item">-->
            <!--<p class="text13">{{'cmprat.wcond' | translate}}: </p>-->
            <!--<rating-star [ratingValue]="4"></rating-star>-->
            <!--</div>-->
            <!--<div class="ratingPopup-item">-->
            <!--<p class="text13">{{'ComplianceSalary' | translate}}: </p>-->
            <!--<rating-star [ratingValue]="4"></rating-star>-->
            <!--</div>-->
            <!--<div class="ratingPopup-item">-->
            <!--<p class="text13">{{'cmprat.mngqlt' | translate}}: </p>-->
            <!--<rating-star [ratingValue]="4"></rating-star>-->
            <!--</div>-->
            <!--<div class="ratingPopup-item">-->
            <!--<p class="text13">{{'cmprat.crropp' | translate}}: </p>-->
            <!--<rating-star [ratingValue]="4"></rating-star>-->
            <!--</div>-->
            <!--<div class="ratingPopup-item indent">-->
            <!--<p class="text13">{{'cmprat.RecBy' | translate}}:</p>-->
            <!--<p class="totalRp">86%</p>-->
            <!--</div>-->
            <!--<button class="button">{{'Rate' | translate}}</button>-->
            <!--<button class="button">{{'Details' | translate}}</button>-->

            <!--</div>-->

          </div>
          <p class="btnTabs__text" *ngIf="company.Company.companySize">
            {{dS.getOptionsFromId('companySize',company.Company.companySize).text|translate}}</p>
          <p class="btnTabs__text">{{'Established' | translate}}: {{company.Company.Established}}</p>
          <span class="dateText tabletBlock">{{'Posted' | translate}}: 21.01.2017</span>

        </div>
        <p class="vacantBox__text block" *ngIf="company.Company.activityField"><span
          class="vacantBox__text--span">{{'vacancy.Field_of_activity'|translate}}:</span>

          <span class="vacantBox__boldText" *ngFor="let act of company.Company.activityField">
                                    {{dS.getOptionsFromId('fieldActivity',act).text|translate}}
                                  </span>


        </p>
        <p *ngIf="company.Company.AdditionalAddresses" class="vacantBox__text block"><span
          class="vacantBox__text--span">{{'Locations' | translate}}:</span>
          <span *ngFor="let addrc of company.Company.AdditionalAddresses"> <i class='icon ic_location_on_gray'></i>{{addrc?addrc.addr:''}}</span>


        </p>
        <p class="vacantBox__text block" *ngIf="company.Company.legalFormBusiness"><span
          class="vacantBox__text--span">{{"LegalFormBusiness" | translate}}:</span>
          <span class="vacantBox__boldText"> {{dS.getOptionsFromId('legalFormBusiness',company.Company.legalFormBusiness).text|translate}}</span>
        </p>

        <button class="button indent"
                [routerLink]="route.snapshot.params['id'] == uS.profile._id ? ['/vacancy/list'] : ['/vacancy/all-vacancies', route.snapshot.params['id']]">
          {{'CompanyVacancies' | translate}}: <span>{{companyVacancyCount}}</span></button>
      </div>
      <div class="tapeSd-featured" *ngIf="openVac">
        <p class="sideTitle">{{"OpenVacancies" | translate}}:</p>

        <div class="tapeSd-featured-item" *ngFor="let vac of openVac">
          <a class="blueLink" [routerLink]="['/vacancy/details',vac._id]">{{vac.positionTitle}}</a>
          <p class="title" *ngIf="vac.address"><span class="vacantBox__address"><i
            class="material-icons">&#xE0C8;</i>{{vac.address}}</span>

          <p class="vacantBox__text" *ngIf="vac.occupationField">{{'filter.Desired_occupational_field' | translate}}:
            <span class="vacantBox__boldText">{{dS.getOptionsFromId('occupationField',vac.occupationField).text|translate}}</span>
          </p>
<<<<<<< HEAD
          <exp-salarysumm  [salary]="vac.salary"></exp-salarysumm>
=======
          <!--<exp-salarysumm [salary]="vac.salary"></exp-salarysumm>-->
>>>>>>> 758a6092aaaef58b24e41070e846533c5cec3972
          <!--<p class="vacantBox__price">150€<span>/h</span></p>-->
          <!--<div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>-->
          <!--<div class="star-wrap">-->
          <!--<div  class="star yellow100"></div>-->
          <!--<div  class="star yellow100"></div>-->
          <!--<div  class="star yellow100"></div>-->
          <!--<div  class="star yellow100"></div>-->
          <!--<div  class="star yellow25"></div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <button class="button"
                [routerLink]="route.snapshot.params['id'] == uS.profile._id ? ['/vacancy/list'] : ['/vacancy/all-vacancies', route.snapshot.params['id']]">
          {{'btn.seeAll' | translate}}
        </button>

      </div>
    </div>

  </div>
</div>
