<!--<div class="dropFiles-wrap">-->
  <!--<div *ngFor="let item of FilesList; let i = index">-->
    <!--<div class="fileList">-->
      <!---->
      <!--<i class="material-icons clip">&#xE226;</i>-->
      <!--<div class="fileList-boxText">-->
        <!--<p class="fileList__title">{{item.name}}</p>-->
        <!--<p class="fileList__text"><a target="_blank" href="item.url" class="blueLink">{{item.name}}</a>{{item.name}}</p>-->
      <!--</div>-->
      <!--<i (click)="deleteItems(i)" class="material-icons crossBascet">&#xE92B;</i>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="file-list" *ngIf="inputStyle == 'fileList'">
  <div class="file-listItem" *ngFor="let item of FilesList; let i = index">
    <div>

      <input type="hidden" name="drop_file[]" value="item._id">
      <p class="attachText">{{item.name}}<i class="service-icon edit-icon"></i></p>
      <a class="linkText" target="_blank" href="//{{dS.HOST_STATIC}}:{{dS.PORT_STATIC}}{{item.path}}">{{item.name}}</a>
      <p class="createDate">{{dS.dateConvert(item.id)|date:'dd.MM.yyyy (HH:mm)'}}</p>
    </div>
    <div>
      <i *ngIf="isDelete" class='service-icon delete-forever' (click)="deleteItems(i)"></i>
    </div>
  </div>
</div>
<div class="upload-photo-icon" *ngIf="inputStyle == 'singlePhoto'">
  <div class="upload-photo-icon-wrap" *ngFor="let item of FilesList; let i = index" >

    <img onerror="this.onerror=null; this.src='http://walldeco.id/themes/walldeco/assets/images/avatar-default.jpg';" onload="window['loadPhoto'](this)" *ngIf="item.path != undefined && user.profile.type_profile == 'Student'" src="{{item.path}}">
    <img onerror="this.onerror=null; this.src='http://walldeco.id/themes/walldeco/assets/images/avatar-default.jpg';" onload="window['loadPhoto'](this,'contain')" *ngIf="item.path != undefined && user.profile.type_profile != 'Student'" src="{{item.path}}">
    <img *ngIf="item.path == undefined" src="http://walldeco.id/themes/walldeco/assets/images/avatar-default.jpg">


  </div>

  <!--<img src="{{window.PROFILE.serv_static+'/'+FilesList.item.url}}">-->
</div>
<div *ngIf="inputStyle == 'fileListShort'" >
  <span class="attachText mn" *ngFor="let item of FilesList; let i = index" >
    <a class="linkText" target="_blank" href="//{{dS.HOST_STATIC}}:{{dS.PORT_STATIC}}{{item.path}}">
    <span class="linkText">{{item.name}}</span>
    </a>
  <i class='service-icon delete-forever' *ngIf="item.BTNdelete&&isDelete" (click)="deleteItems(i)"></i>
  </span>

</div>
<div *ngIf="inputStyle == 'singleFile'&&FilesList.length>0" >

    <span class="attachedFile"  *ngFor="let item of FilesList; let i = index">

    <i class='icon attach-file-gray'></i>
    <p (click)="open(item.url)" class="blueText">{{item.name}}</p>


    <i *ngIf="isDelete" class='icon ic_close_birch' (click)="deleteItems(i)"></i>
  </span>
</div>
<div *ngIf="inputStyle == 'messageFile'&&FilesList.length>0" >

    <span class="attachedFile"  *ngFor="let item of FilesList; let i = index">

    <i class='icon attach-file-gray'></i>
    <p style="cursor: pointer" (click)="open(item.url)" class="blueText">{{item.name}}</p>


  </span>
</div>
