.file-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #D3D3D3;
  border-top: 1px dashed #D3D3D3;
  padding: 11px 0;
  margin-top: -1px;
  .edit-icon {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    vertical-align: middle;
  }
  .linkText, .createDate {
    padding-left: 30px;
  }
  .createDate {
    color: #666666;
  }
  .delete-forever {
    width: 24px;
    height: 24px;
  }
}

.upload-photo-icon {
  width: 102px;
  height: 102px;
  //width: 52px;
  //height: 52px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  overflow: hidden;
  .upload-photo-icon-wrap {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 1px solid #E5E5E5;

    }
  }
}

.attachedFile {
  margin-bottom: 10px;
}