<div  *ngIf="viwe">
  <div class="vacantBox status_3" *ngFor="let item of vacancyList">


    <div class="vacantBox-left" >
      <div class="topLine-vb" [routerLink]="['/admin/vacancy/details',item._id]">
        <p class="title">{{item.positionTitle}}</p>

      </div>
      <div class="parameterVb">
        <file-list
          [FilesList]="item.proofUploadFiles"
          [inputStyle]="'fileList'"
        ></file-list>

      </div>
      <button class="text-ic"  (click)="setEditVacancy(item);">
        <i class="icon edit-black"></i>
        <p class="text-ic__text">Edit</p>
      </button>
      <button class="text-ic" [routerLink]="['/vacancy/details',item._id]" >
        <i class='icon remove_eye_black'></i>
        <p class="text-ic__text">View</p>
      </button>
      <div>
        <div style="width: 200px;" *ngIf="item.proof==1">
          <div  class="button" (click)="publicVacancy(item._id)">Опубликовать</div>
          <!--<div  class="button">Отклонить</div>-->
        </div>
        <div style="width: 200px;" *ngIf="item.proof==2">
          Опубликовано
        </div>
      </div>
    </div>


  </div>

  <div class="paginalBtn">
    <div (click)="prev()" *ngIf="skip>0" class="button previous"><span class="btnArr"></span> Previous</div>
    <div (click)="next()" *ngIf="vacancyList.length==limit" class="button next">Next <span class="btnArr"></span></div>
  </div>
</div>
