<a class="save-favorites" *ngIf="!uS.iSBookmark(vacancyId)" (click)="uS.setBookmark(vacancyId)">
  <i class='icon ic_star_border_gray'></i> {{'Bookmark'|translate}}
</a>
<a class="save-favorites" *ngIf="uS.iSBookmark(vacancyId)" (click)="uS.unsetBookmark(vacancyId)">
  <i class='icon ic_star_yellow'></i> {{'Bookmarked'|translate}}
</a>
<span *ngIf="date>0" class="dateText desNone">
  {{date}}
  {{dateT==0?('min'|translate):null}}
  {{dateT==1?('hour'|translate):null}}
  {{dateT==2?('day'|translate):null}}
</span>
<!--<span class="starFv " *ngIf="!uS.iSBookmark(vacancyId)" (click)="uS.setBookmark(vacancyId)"></span>-->
<!--<span class="starFv  active" *ngIf="uS.iSBookmark(vacancyId)" (click)="uS.unsetBookmark(vacancyId)"></span>-->
