<div class="column">
  <div class="indent10">
  <!--<form class="" action="#">-->
    <div class="accordion-wrap">
      <p class="sideTitle indent">{{'filter.Vacancies'|translate}}:</p>
      <app-accordion-select
        [title]="'filter.Type_of_vacancy'|translate"
        [arrIn]="this.dataService.options.vacancyType"
        [arrVal]="vacancyService.filter.options.vacancyType"
        (arrOutVal)="vacancyService.setFilterOption('vacancyType',$event)"
        (arrOut)="setFilter('type',$event,'$in')"
        (lastElem)="setLastElem($event)"
        [refresh]="vacancyService.clear"
        [change]="vacancyService.lastChangeOption"
        [changeName]="'vacancyType'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Industry'|translate"
              [arrIn]="this.dataService.options.fieldActivity"
              [arrVal]="vacancyService.filter.options.fieldActivity"
              (arrOutVal)="vacancyService.setFilterOption('fieldActivity',$event)"
              (arrOut)="setFilter('fieldActivity',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'fieldActivity'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Language'|translate"
              [arrIn]="dataService.options.translaterDefault"
              [arrVal]="vacancyService.filter.options.languages"
              (arrOutVal)="vacancyService.setFilterOption('languages',$event)"
              (arrOut)="setFilter('languageID',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'languages'"
      ></app-accordion-select>
    </div>
    <div class="accordion-wrap">
      <p class="sideTitle indent">{{'filter.Requirements'|translate}}:</p>
      <app-accordion-select
              [title]="'filter.Required_education_level'|translate"
              [arrIn]="this.dataService.options.educationLevel"
              [arrVal]="vacancyService.filter.options.educationLevel"
              (arrOutVal)="vacancyService.setFilterOption('educationLevel',$event)"
              (arrOut)="setFilter('minEducation',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'educationLevel'"
      ></app-accordion-select>
      <!--db.getCollection('vacancy').find({$and:[{"LanguagesRequired.languageID":0},{"LanguagesRequired.languageID":1}]})-->
      <app-accordion-select
              [title]="'filter.Required_languages'|translate"
              [arrIn]="this.dataService.options.languages"
              [arrVal]="vacancyService.filter.options.reqLanguages"
              (arrOutVal)="vacancyService.setFilterOption('reqLanguages',$event)"
              (arrOut)="setFilter('LanguagesRequired.languageID',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'reqLanguages'"
      ></app-accordion-select>
      <app-accordion-select
              [title]="'filter.Previous_work_experience'|translate"
              [arrIn]="this.dataService.options.workExp"
              [arrVal]="vacancyService.filter.options.workExp"
              (arrOutVal)="vacancyService.setFilterOption('workExp',$event)"
              (arrOut)="setFilter('experience_work',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'workExp'"
      ></app-accordion-select>
    </div>
    <div class="accordion-wrap">
      <p class="sideTitle indent">{{'filter.Expectations'|translate}}:</p>
      <app-accordion-select
              [title]="'filter.Work_time'|translate"
              [arrIn]="this.dataService.options.workTime"
              [arrVal]="vacancyService.filter.options.workTime"
              (arrOutVal)="vacancyService.setFilterOption('workTime',$event)"
              (arrOut)="setFilter('Worktime',$event,'$in')"
              (lastElem)="setLastElem($event)"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'workTime'"
      ></app-accordion-select>
    </div>

    <div class="salaryConf">
      <p class="textField">{{'filter.Salary_from'|translate}}</p>
      <app-unity-select
              [default]="'filter.monthly'|translate"
              [arrIn]="this.dataService.options.salary"
              [arrVal]="vacancyService.filter.options.salary"
              (arrOutVal)="vacancyService.setFilterOption('salary',$event)"
              (arrOut)="setFilter('salary.type',$event,'=')"
              [type]="'salarySelect'"
              [refresh]="vacancyService.clear"
              [change]="vacancyService.lastChangeOption"
              [changeName]="'salary'"
              class="salaryUS"
      ></app-unity-select>
      <input class="salaryConf__input " [min]="0" #salary [(ngModel)]="vacancyService.filter.options.minSalary" type="number" (change)="setSalarySumm($event)">
      <p class="salaryConf__currency">€</p>
    </div>


    <button class="button search" (click)="searchVacancy()"><span class="btnText">{{'btn.Search'|translate}}</span>
      <span class="btnNumber">{{this.vacancyService.countItems}}</span>
    </button>
    <button (click)="this.vacancyService.clearFilter()" class="button grey">{{'btn.Clear'|translate}}</button>
  <!--</form>-->
  </div>

</div>
