<div  *ngIf="viwe">

  <div class="vacantBox status_3" *ngFor="let item of vacancyList">


    <div class="vacantBox-left" [routerLink]="['/admin/vacancy/details',item._id]">
      <div class="topLine-vb">
        <p class="title">{{item.positionTitle}}</p>

      </div>
      <div class="parameterVb">
        <file-list
          [FilesList]="item.proofUploadFiles"
          [inputStyle]="'fileList'"
        ></file-list>

      </div>
    </div>
    <div>
      <div style="width: 200px;" *ngIf="item.proof==1">
        <div  class="button" (click)="publicVacancy(item._id)">Опубликовать</div>
        <!--<div  class="button">Отклонить</div>-->
      </div>
      <div style="width: 200px;" *ngIf="item.proof==2">
        Опубликовано
      </div>
    </div>

  </div>

  <div class="paginalBtn">
    <div (click)="prev()" *ngIf="skip>0" class="button previous"><span class="btnArr"></span> Previous</div>
    <div (click)="next()" *ngIf="vacancyList.length==limit" class="button next">Next <span class="btnArr"></span></div>
  </div>
</div>
