<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar" ></sidebar-link>
<button (click)="viewerRecommendation()"></button>
<button (click)="requestRecommendation()"></button>
<div class="sideContent create-resume" >
    <div  class="title-wrap">
        <p class="title">CV</p>
    </div>
    <div class="step step-resumeObjective">
        <div class="createResume-block">
            <p class="sideTitle">Objective</p>
            <div class="lampText">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur blanditiis, culpa delectus deserunt, dolor eligendi est harum inventore laboriosam, maxime molestiae molestias nesciunt officia quas recusandae tempora voluptates voluptatibus!
            </div>
            <div class="createResume-formItem">
                <label  class="textField" for="Your_objective">Your objective</label>
                <textarea id="Your_objective" class="textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="step step-resumeKeySkills">
        <div class="createResume-block">
            <p class="sideTitle">Education and key skills</p>
            <div class="createResume-formItem">
                <p class="textField">My current level of education</p>
                <div class="multipleSelect w100">
                <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                </div>
            </div>
        </div>
        <div class="createResume-block">
            <div class="titleAndButton">
                <p class="sideTitle">Your schools:</p>
                <button (click)="addNewSchool = !addNewSchool" [ngClass]="{notActive: addNewSchool}"  class="button shaded small" tabindex="0">Add new school</button>
            </div>
            <div class="addNewSchool" [ngClass]="{active: addNewSchool}">
                <div class="addNewSchool-item">
                    <label  class="textField" for="School-location">School location</label>
                    <input class="input" id="School-location" name="School-location" type="text">
                </div>
                <div class="addNewSchool-items">
                    <div class="addNewSchool-item w50">
                        <p class="textField">Educational level</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="addNewSchool-item w50">
                        <label  class="textField" for="School-name">School name</label>
                        <input class="input" id="School-name" name="School-name" type="text">
                    </div>
                </div>
                <div class="addNewSchool-items">
                    <div class="addNewSchool-item w50">
                        <p class="textField">Major</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="addNewSchool-item w50">
                        <p class="textField">Minor</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                </div>
                <div class="addNewSchool-items">
                    <div class="addNewSchool-item w50">
                        <label  class="textField" for="Speciality">Speciality</label>
                        <input class="input" id="Speciality" name="Speciality" type="text">
                    </div>
                    <div class="addNewSchool-item w50">
                        <p class="textField">Degree</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                </div>
                <div class="addNewSchool-items">
                    <div class="addNewSchool-item w30">
                        <p class="textField">Start date</p>
                        <div class="multipleSelect month">
                            <app-multiple-select [title]="'month'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                        <div class="multipleSelect year">
                            <app-multiple-select [title]="'year'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="addNewSchool-item w30">
                        <p class="textField">End date</p>
                        <div class="multipleSelect month">
                            <app-multiple-select [title]="'month'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                        <div class="multipleSelect year">
                            <app-multiple-select [title]="'year'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="addNewSchool-item w35">
                        <div class="checkbox">
                            <input  id="work-1" name="check" type="checkbox" value="Currently_studying">
                            <label  for="work-1"><span class="checkbox__box"></span>
                                <p  class="checkbox__text">Currently studying</p></label>


                        </div>
                    </div>
                </div>


                <div class="addNewSchool-item">
                    <button  class="button shaded small" tabindex="0">Save school</button>
                    <span (click)="addNewSchool = !addNewSchool"  class="cancel-icon ">
                       <i class="material-icons action-icon"></i>
                        Cancel
                    </span>
                </div>

            </div>
            <div class="addedSchool-item">
                <div class="addedSchool-item-top">
                    <p class="addedSchool-name">Tallinna Tehnikaülikool</p>
                    <div class="addedSchool-listChar">
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Educational level: </span><span class="listChar-valueChar">Higher Education</span>
                        </div>
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Educational level: </span><span class="listChar-valueChar">Higher Education</span>
                        </div>
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Educational level: </span><span class="listChar-valueChar">Higher Education</span>
                        </div>
                    </div>
                    <div class="addedSchool-listChar">
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Start date:</span><span class="listChar-valueChar">01.2001</span>
                        </div>
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Start date:</span><span class="listChar-valueChar">01.2001</span>
                        </div>
                        <div class="listChar-item">
                            <span class="listChar-nameChar">Start date:</span><span class="listChar-valueChar">01.2001</span>
                        </div>

                    </div>
                </div>
                <div class="addedSchool-item-bottom">
                     <span class="edit-icon ">
           <i class="material-icons action-icon">&#xE254;</i>
           Edit
          </span>
                    <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>
                </div>
            </div>
        </div>
        <div class="createResume-block">
            <div class="lampText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur blanditiis, culpa delectus deserunt, dolor eligendi est harum inventore laboriosam, maxime molestiae molestias nesciunt officia quas recusandae tempora voluptates voluptatibus!
            </div>
            <div class="createResume-formItem">

                <multiselect-autocopmplete-area [skills]="dataService.options.software"></multiselect-autocopmplete-area>

            </div>
        </div>
        <div class="createResume-block">
            <div class="textField">
                Accomplishments and additional information
            </div>
            <div class="createResume-formItem">

                <textarea class="textarea"></textarea>


            </div>
        </div>
    </div>
    <div class="step step-resumeLanguage">
        <div class="createResume-block">
            <p class="sideTitle">Languages skills</p>
            <div class="createResume-formItem">

                <div class="tableSkills">
                    <div class="tableSkills-row tableSkills-rowHead">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="tableSkills-title"></div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <span class="tableSkills-Headtitle">Level</span>
                        </div>
                        <div class="tableSkills-col tableSkills-col-3">
                            <span class="tableSkills-Headtitle">Certificate</span>
                        </div>
                        <div class="tableSkills-col tableSkills-col-4">
                            <span class="tableSkills-Headtitle">Everyday use</span>
                        </div>
                    </div>
                    <div class="tableSkills-row">
                            <div class="tableSkills-col tableSkills-col-1">
                                <p class="tableSkills-title">Estonian</p>
                            </div>
                            <div class="tableSkills-col tableSkills-col-2">
                                <p class="tableSkills-title"><span class="okay-icon"></span></p>
                            </div>
                        <div class="tableSkills-col tableSkills-col-3">
                            <p class="tableSkills-title"><span class="okay-icon"></span></p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-4">
                            <p class="tableSkills-title"><i class="material-icons stop-icon">&#xE15C;</i></p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-5">
                           <span  class="edit-icon "><i  class="material-icons action-icon"></i>Edit</span>
                            <span class="delete-icon ">
                                <i class="material-icons action-icon">&#xE872;</i>
                                Delete
                            </span>
                        </div>
                    </div>


                </div>
                <div class="addTableSkills">
                    <button class="button shaded small" [ngClass]="{displayNone: addTableSkills}" (click)="addTableSkills = !addTableSkills"  >Add new language</button>
                    <div class="addTableSkills-form" [ngClass]="{displayBlock: addTableSkills}" >
                        <div class="addTableSkills-formItem">
                            <div class="mp-item">
                                <p class="textField">Language</p>
                                <div class="multipleSelect lang">
                                    <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                                </div>
                            </div>
                            <div class="mp-item">
                                <p class="textField">Level</p>
                                <div class="multipleSelect level">
                                    <app-multiple-select [title]="'A1'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                                </div>
                            </div>


                        </div>

                        <div class="addTableSkills-formItem">
                            <div class="checkbox">
                                <input  id="have-certificate" name="check" type="checkbox" value="have-certificate">
                                <label  for="have-certificate"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">have certificate</p></label>
                            </div>
                            <div class="checkbox">
                                <input  id="use-every-day" name="check" type="checkbox" value="use-every-day">
                                <label  for="use-every-day"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use every day</p></label>
                            </div>
                        </div>

                        <div>
                            <button class="button shaded small" style="margin-right: 20px" >Save language</button>
                            <span   class="cancel-icon " (click)="addTableSkills = !addTableSkills">
                               <i class="material-icons action-icon"></i>
                                Cancel
                                </span>
                        </div>



                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="step step-resumeComputerSkills">
        <div class="createResume-block">

            <div class="createResume-formItem compSkills">
                <p class="sideTitle">Computer skills & other</p>
                <div class="tableSkills comp">
                    <div class="tableSkills-row tableSkills-rowHead">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="tableSkills-Headtitle">Office tools</div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <span class="tableSkills-Headtitle">Level</span>
                        </div>
                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row add">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="compre" name="check" type="checkbox" value="Currently_studying">
                                <label  for="compre"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <button class="button shaded xsmall">Add</button>


                        </div>

                    </div>


                </div>
                <div class="tableSkills comp">
                    <div class="tableSkills-row tableSkills-rowHead">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="tableSkills-Headtitle">Other software</div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <span class="tableSkills-Headtitle">Level</span>
                        </div>
                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <p class="tableSkills-title">Word or similar</p>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="comp" name="check" type="checkbox" value="Currently_studying">
                                <label  for="comp"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row add">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'English'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                            <div class="checkbox comp-dib">
                                <input  id="compre" name="check" type="checkbox" value="Currently_studying">
                                <label  for="compre"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">use frequently</p></label>


                            </div>
                            <button class="button shaded xsmall">Add</button>


                        </div>

                    </div>


                </div>
                <p class="textField">Information about computer skills</p>
                <div class="lampText">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam animi atque autem culpa dignissimos expedita explicabo incidunt iusto, minus molestiae natus nesciunt nulla obcaecati odio provident reprehenderit tenetur vero?
                </div>
                <textarea class="textarea"></textarea>


                <p class="textField">Information about computer skills</p>
                <div class="lampText">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam animi atque autem culpa dignissimos expedita explicabo incidunt iusto, minus molestiae natus nesciunt nulla obcaecati odio provident reprehenderit tenetur vero?
                </div>
                <textarea class="textarea"></textarea>


            </div>


            <div class="createResume-formItem licences">
                <p class="sideTitle">Certifications & licences</p>
                <div class="tableSkills comp">
                    <div class="tableSkills-row tableSkills-rowHead">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="tableSkills-Headtitle">Name</div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <span class="tableSkills-Headtitle">Year</span>
                        </div>
                        <div class="tableSkills-col tableSkills-col-3">
                            <span class="tableSkills-Headtitle">Isuer</span>
                        </div>
                    </div>

                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">

                                <input  class="input" id="name" name="name" type="text">

                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'2016'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>


                        </div>
                        <div class="tableSkills-col tableSkills-col-3">
                            <input  class="input" id="name" name="name" type="text">
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>

                        </div>

                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">

                            <input  class="input" id="name" name="name" type="text">

                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="multipleSelect comp-dib">
                                <app-multiple-select [title]="'2016'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>


                        </div>
                        <div class="tableSkills-col tableSkills-col-3">
                            <input  class="input" id="name" name="name" type="text">
                            <div class="button shaded xsmall">Add</div>

                        </div>

                    </div>



                </div>




            </div>
            <div class="createResume-formItem driving">
                <p class="sideTitle">Driving licence</p>
                <div class="tableSkills comp">
                    <div class="tableSkills-row tableSkills-rowHead">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="tableSkills-Headtitle">Category</div>
                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <span class="tableSkills-Headtitle">Year</span>
                        </div>

                    </div>

                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="multipleSelect">
                                <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>


                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="checkbox">
                                <input  id="wsa-1" name="check" type="checkbox" value="Currently_studying">
                                <label  for="wsa-1"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">Can use my personal car for work needs</p></label>


                            </div>
                            <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>


                        </div>


                    </div>
                    <div class="tableSkills-row">
                        <div class="tableSkills-col tableSkills-col-1">
                            <div class="multipleSelect">
                                <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>


                        </div>
                        <div class="tableSkills-col tableSkills-col-2">
                            <div class="checkbox">
                                <input  id="ws1a-1" name="check" type="checkbox" value="Currently_studying">
                                <label  for="ws1a-1"><span class="checkbox__box"></span>
                                    <p  class="checkbox__text">Can use my personal car for work needs</p></label>


                            </div>
                            <button class="button shaded xsmall">Add</button>


                        </div>


                    </div>




                </div>




            </div>
        </div>
    </div>
    <div class="step step-resumeIntership">
        <div class="createResume-block">
            <p class="sideTitle">Internship options</p>
            <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eos et labore nobis omnis porro quam reprehenderit? A animi debitis illum maxime, quaerat quia quidem sequi. Culpa eligendi iste nemo neque quod! Animi atque autem necessitatibus nobis quam soluta veniam.</div>
            <div class="checkbox">
                <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                <label  for="asdas"><span class="checkbox__box"></span>
                    <p  class="checkbox__text">I have finished my study and do not need any internship</p></label>


            </div>
        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Interested in internship</p>
            <div class="createResume-formItem unpaid">
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">unpaid internship</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">paid internship</p></label>


                </div>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Occupation fields</p>
                <div class="multipleSelect w100">
                    <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                </div>
            </div>
            <div class="createResume-formItem possible">
                <p class="textField">Possible position(s)</p>
                <div class="possible-item">
                    <input class="input" id="" name="School-location" type="text">
                    <span class="delete-icon ">
                        <i class="material-icons action-icon">&#xE872;</i>
                        Delete
                    </span>

                </div>
                <div class="possible-item add">
                    <input class="input" id="" name="School-location" type="text">
                    <button class="button shortBtn">Add</button>
                </div>

            </div>



        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Locations</p>
            <div class="checkbox mb">
                <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                <label  for="asdas"><span class="checkbox__box"></span>
                    <p  class="checkbox__text">i prefer remote work only</p></label>


            </div>
            <div class="location">
                <div class="location-item">
                    <p class="textField">location</p>
                    <div class="location-item-wrap">

                        <input type="text" class="input location-icon" placeholder="All fields">
                        <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>
                    </div>


                </div>
                <div class="location-item add">
                    <p class="textField">location</p>
                    <div class="location-item-wrap">

                        <input type="text" class="input location-icon" placeholder="All fields">
                        <button class="button shortBtn">Add</button>
                    </div>


                </div>
            </div>





        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Preferred work time</p>
            <div class="createResume-formItem pref">
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Full-time</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Part-time</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Shifts</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Night shifts</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Flexible</p></label>


                </div>
            </div>

        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Preferred period</p>
            <div class="checkbox mb">
                <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                <label  for="asdas"><span class="checkbox__box"></span>
                    <p  class="checkbox__text">Show preferred period for internship</p></label>


            </div>
            <div class="period">
               <div class="period-item period-item-first ">

                   <div class="radio">
                       <input id="yyy" type="radio" name="period" value="">
                       <label for="yyy"><span></span>
                           <p class="radio__text">Show preferred date range</p></label>


                   </div>
                   <div class="period-date">
                       <div class="date-item">
                           <p class="textField">From</p>
                           <div class="datepicker">20.05.2017 <i class="material-icons">&#xE916;</i></div>
                       </div>
                       <div class="date-item">
                           <p class="textField">To</p>
                           <div class="datepicker">20.05.2017 <i class="material-icons">&#xE916;</i></div>
                       </div>
                   </div>



               </div>
                <div class="period-item period-item-mid ">
                    or
                </div>
                <div class="period-item period-item-last">

                        <div class="radio">

                            <input id="uuu" type="radio" name="period" value="">
                            <label for="uuu"><span></span>
                                <p class="radio__text">Show preferred availability to start work</p></label>
                        </div>
                        <div class="period-date fs">
                            <div class="period-date-item">
                                <p class="textField">Availability to start</p>
                                <div class="multipleSelect">
                                    <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                                </div>
                            </div>

                            <div class="period-date-item">
                                <p class="textField">Amount of practice</p>
                                <input class="input" id="" name="School-location" placeholder="00" type="number">
                                <span>hours</span>
                            </div>


                        </div>


            </div>
            </div>
    </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Scholarship options</p>
            <div class="createResume-formItem scholar">
                <div class="scholar-check">
                    <div class="checkbox">
                        <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                        <label  for="asdas"><span class="checkbox__box"></span>
                            <p  class="checkbox__text">in return to my work</p></label>


                    </div>
                    <div class="checkbox">
                        <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                        <label  for="asdas"><span class="checkbox__box"></span>
                            <p  class="checkbox__text">in return to my commitment to work</p></label>


                    </div>
                    <div class="checkbox">
                        <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                        <label  for="asdas"><span class="checkbox__box"></span>
                            <p  class="checkbox__text">any kind</p></label>


                    </div>
                </div>
                <div class="scholar-time">


                        <p  class="textField">Size of scholarship</p>

                        <input  class="input" id="Size" name="School-location" placeholder="00" type="number">
                        <span>hours</span>

                </div>


            </div>
        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Additonal information</p>
            <div class="textarea"></div>
        </div>

</div>
    <div class="step step-resumeJobOption">
        <div class="createResume-block">
            <p class="sideTitle">Job options</p>
            <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eos et labore nobis omnis porro quam reprehenderit? A animi debitis illum maxime, quaerat quia quidem sequi. Culpa eligendi iste nemo neque quod! Animi atque autem necessitatibus nobis quam soluta veniam.</div>
        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Interested in job</p>
            <div class="createResume-formItem unpaid">
                <div class="checkbox">
                    <input  id="a123" name="check" type="checkbox" value="Currently_studying">
                    <label  for="a123"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">permanent job</p></label>


                </div>
                <div class="checkbox">
                    <input  id="as123" name="check" type="checkbox" value="Currently_studying">
                    <label  for="as123"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">temporary job</p></label>


                </div>
                <div class="checkbox">
                    <input  id="s123" name="check" type="checkbox" value="Currently_studying">
                    <label  for="s123"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">summer job</p></label>


                </div>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Occupation fields</p>
                <div class="multipleSelect w100">
                    <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                </div>
            </div>
            <div class="createResume-formItem possible">
                <p class="textField">Possible position(s)</p>
                <div class="possible-item">
                    <input class="input" id="" name="School-location" type="text">
                    <span class="delete-icon ">
                        <i class="material-icons action-icon">&#xE872;</i>
                        Delete
                    </span>

                </div>
                <div class="possible-item add">
                    <input class="input" id="" name="School-location" type="text">
                    <button class="button shortBtn">Add</button>
                </div>

            </div>
            <div class="createResume-formItem">
                <p class="textField">Fields of activity</p>
                <div class="multipleSelect w100">
                    <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                </div>
            </div>



        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Locations</p>
            <div class="checkbox mb">
                <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                <label  for="asdas"><span class="checkbox__box"></span>
                    <p  class="checkbox__text">i prefer remote work only</p></label>


            </div>
            <div class="location">
                <div class="location-item">
                    <p class="textField">location</p>
                    <div class="location-item-wrap">

                        <input type="text" class="input location-icon" placeholder="All fields">
                        <span class="delete-icon ">
            <i class="material-icons action-icon">&#xE872;</i>
            Delete
          </span>
                    </div>


                </div>
                <div class="location-item add">
                    <p class="textField">location</p>
                    <div class="location-item-wrap">

                        <input type="text" class="input location-icon" placeholder="All fields">
                        <button class="button shortBtn">Add</button>
                    </div>


                </div>
            </div>





        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Preferred work time</p>
            <div class="createResume-formItem pref">
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Full-time</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Part-time</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Shifts</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Night shifts</p></label>


                </div>
                <div class="checkbox">
                    <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                    <label  for="asdas"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">Flexible</p></label>


                </div>
            </div>

        </div>
        <div class="createResume-block">
            <p class="sideSubTitle">Preferred period</p>
            <div class="checkbox mb">
                <input  id="asdas" name="check" type="checkbox" value="Currently_studying">
                <label  for="asdas"><span class="checkbox__box"></span>
                    <p  class="checkbox__text">Show preferred period for internship</p></label>


            </div>
            <div class="period">
                <div class="period-item period-item-first ">

                    <div class="radio">
                        <input id="yyy" type="radio" name="period" value="">
                        <label for="yyy"><span></span>
                            <p class="radio__text">Show preferred date range</p></label>


                    </div>
                    <div class="period-date">
                        <div class="date-item">
                            <p class="textField">From</p>
                            <div class="datepicker">20.05.2017 <i class="material-icons">&#xE916;</i></div>
                        </div>
                        <div class="date-item">
                            <p class="textField">To</p>
                            <div class="datepicker">20.05.2017 <i class="material-icons">&#xE916;</i></div>
                        </div>
                    </div>



                </div>
                <div class="period-item period-item-mid ">
                    or
                </div>
                <div class="period-item period-item-last">

                    <div class="radio">

                        <input id="uuu" type="radio" name="period" value="">
                        <label for="uuu"><span></span>
                            <p class="radio__text">Show preferred availability to start work</p></label>
                    </div>
                    <div class="period-date fs">
                        <div class="period-date-item">
                            <p class="textField">Availability to start</p>
                            <div class="multipleSelect">
                                <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                            </div>
                        </div>

                        <div class="period-date-item">
                            <p class="textField">Amount of practice</p>
                            <input class="input" id="" name="School-location" placeholder="00" type="number">
                            <span>hours</span>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <div class="createResume-block scholar">
            <p class="sideSubTitle">Salary (net) from</p>
            <div  class="scholar-time">


                <p  class="textField">Monthly</p>

                <input class="input" id="Ssize" name="School-location" placeholder="00" type="number">
                <span>€</span>

            </div>
            <div  class="scholar-time">


                <p  class="textField">Hourly</p>

                <input class="input" id="Sisze" name="School-location" placeholder="00" type="number">
                <span>€</span>

            </div>
        </div>
        <div class="createResume-block">
            <p class="textField">Additonal information</p>
            <textarea class="textarea"></textarea>
        </div>
    </div>
    <div class="step step-resumeEduProgress">
        <div class="createResume-block">
            <div class="createResume-formItem">
                <p class="sideTitle">Progress in education</p>
                <p class="sideSubTitle">Recent actual data</p>
                <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eos et labore nobis omnis porro quam reprehenderit? A animi debitis illum maxime, quaerat quia quidem sequi. Culpa eligendi iste nemo neque quod! Animi atque autem necessitatibus nobis quam soluta veniam.</div>
            </div>
            <div class="createResume-formItem">
                <div class="shadowBox">
                    <div class="shadowBox-top">
                        <p class="sideSubTitle">Higher education</p>
                        <div class="grade-list-wrap">
                            <div class="grade-list">
                                <div class="grade-item">
                                    <span class="grade-name">School name:</span>
                                    <span class="grade-value">School of Commerce</span>
                                </div>
                            </div>
                            <button class="button shaded small" [ngClass]="{notActive: gradeAdd}" (click)="gradeAdd = !gradeAdd">{{"btn.AddYourGrade" | translate}}</button>
                        </div>
                        <div class="grade-add" [ngClass]="{active: gradeAdd}">
                            <div class="grade-form">
                                <div class="grade-form-item">
                                    <p class="textField">Grade started</p>
                                    <div class="multipleSelect">
                                        <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                                    </div>

                                </div>
                                <div class="grade-form-item">
                                    <p class="textField">Evaluation system</p>
                                    <div class="multipleSelect">
                                        <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                                    </div>
                                </div>
                                <div class="grade-form-item">
                                    <p class="textField">Avarage grade</p>
                                    <input class="input" id="Avarage" name="Avarage" type="text">

                                </div>
                            </div>
                            <div class="grade-control">
                                <div class="button shaded small">Save</div>
                                <span  class="cancel-icon" (click)="gradeAdd = !gradeAdd" >
                                   <i class="material-icons action-icon"></i>
                                    Cancel
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="step step-resumeWorkExp">
        <div class="createResume-block">
            <div class="createResume-formItem">
                <p class="sideTitle">Work experience</p>
                <div class="checkbox">
                    <input  id="wo-rk-1" name="check" type="checkbox" value="Currently_studying">
                    <label  for="wo-rk-1"><span class="checkbox__box"></span>
                        <p  class="checkbox__text">I have work experience</p></label>


                </div>

            </div>



        </div>
        <div class="createResume-block">
            <div class="createResume-formItem">
              <p class="textField">Company/Organization name</p>
                <input class="input" id="Com" name="Com" type="text">

            </div>
            <div class="createResume-formItem">
                <div class="WorkExp-items">
                    <div class="WorkExp-item w50">
                        <p class="textField">Field of activity</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="WorkExp-item w50">
                        <p class="textField">Occupational field</p>
                        <div class="multipleSelect w100">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Position</p>
                <input class="input" id="Position" name="Com" type="text">

            </div>
            <div class="createResume-formItem">
                <div class="locations">
                    <div class="locations-item">
                        <p class="textField">Location</p>
                        <div class="radio">
                            <input id="zaz" type="radio" name="per" value="">
                            <label for="zaz"><span></span>
                                <p class="radio__text">Local</p></label>

                            <input id="zaz1" type="radio" name="per" value="">
                            <label for="zaz1"><span></span>
                                <p class="radio__text">Foreign</p></label>



                        </div>
                    </div>
                    <div class="locations-item">
                        <p class="textField">Please specify country</p>
                        <input class="input" id="Psosition" name="Com" type="text">

                    </div>
                </div>
            </div>
            <div class="createResume-formItem">
                <div class="work-date">
                    <div class="work-date-item">
                        <p class="textField">Start date</p>
                        <div class="multipleSelect first">
                        <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                    </div>
                        <div class="multipleSelect second">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>

                    </div>
                    <div class="work-date-item">
                        <p class="textField">End date</p>
                        <div class="multipleSelect first">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                        <div class="multipleSelect second">
                            <app-multiple-select [title]="'выбрать'" [arrIn]="arrIn"  (arrOut)="arrOut = countChange($event)"></app-multiple-select>
                        </div>
                    </div>
                    <div class="work-date-item">
                        <div class="checkbox">
                            <input  id="work-12" name="check" type="checkbox" value="Currently_studying">
                            <label  for="work-12"><span class="checkbox__box"></span>
                                <p  class="checkbox__text">Currently employed</p></label>


                        </div>
                    </div>
                </div>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Job description</p>
                <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum ea fugit id inventore labore laudantium magnam nulla perferendis sunt?</div>
                <textarea class="textarea"></textarea>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Accomplishments and additional information</p>
                <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum ea fugit id inventore labore laudantium magnam nulla perferendis sunt?</div>
                <textarea class="textarea"></textarea>
            </div>



        </div>
    </div>
    <div class="step step-resumeRecomendation">
        <div class="resumeRecomendation-block">
            <div class="resumeRecomendation-blockTop">
                <p class="sideTitle">Your recommendations</p>
                <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore ex fuga illum ipsum itaque minus non nostrum odit pariatur praesentium quia quo, quos repellat repellendus? Deleniti eligendi est ex!</div>
            </div>
            <div class="res-recomendGroup">
                <div class="recomendGroup-header">
                    <p class="sideSubTitle">Your educators (2)</p>
                    <button class="button shaded small">Request recommendation</button>
                </div>
                <div class="recomendGroup-item">
                    <div class="recomendGroup-itemTop">
                        <p class="sideTitle">Ekaterina Siitam</p>
                        <div class="itemTop-wrap">
                            <div class="itemTop-wrapLerft">
                                <p class="name">Organization name: </p>
                                <p class="value">21 secondary School of Tallinn</p>
                            </div>
                            <div class="itemTop-wrapRight">
                                <div class="rseItem">
                                    <p class="name">Date:</p>
                                    <p class="value">22.02.2017</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Initiator:</p>
                                    <p class="value">Educator</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Status:</p>
                                    <p class="value">
                                        <span class="okay">
                                            <span class="okay-icon"></span>
                                            OK
                                        </span>
                                    </p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Rating:</p>
                                    <div class="value">
                                        <div class="rating yellow">
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="recomendGroup-itemBottom">
                        <switch-toggle [defaultInput]="true" [trueTitle]="'Visible'" [falseTitle]="'Hidden'" (checkedState)="addNewSchool = $event"></switch-toggle>
                        <span class="delete-icon ">
                            <i class="material-icons action-icon">&#xE872;</i>
                            Delete
                        </span>
                    </div>
                </div>
                <div class="recomendGroup-item">
                    <div class="recomendGroup-itemTop">
                        <p class="sideTitle">Ekaterina Siitam</p>
                        <div class="itemTop-wrap">
                            <div class="itemTop-wrapLerft">
                                <p class="name">Organization name: </p>
                                <p class="value">21 secondary School of Tallinn</p>
                            </div>
                            <div class="itemTop-wrapRight">
                                <div class="rseItem">
                                    <p class="name">Date:</p>
                                    <p class="value">22.02.2017</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Initiator:</p>
                                    <p class="value">Educator</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Status:</p>
                                    <p class="value">
                                        <span class="okay">
                                            <span class="okay-icon"></span>
                                            OK
                                        </span>
                                    </p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Rating:</p>
                                    <div class="value">
                                        <div class="rating yellow">
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="recomendGroup-itemBottom">
                        <switch-toggle [defaultInput]="true" [trueTitle]="'Visible'" [falseTitle]="'Hidden'" (checkedState)="addNewSchool = $event"></switch-toggle>
                        <span class="delete-icon ">
                            <i class="material-icons action-icon">&#xE872;</i>
                            Delete
                        </span>
                    </div>
                </div>
            </div>
            <div class="res-recomendGroup">
                <div class="recomendGroup-header">
                    <p class="sideSubTitle">Your educators (2)</p>
                    <button class="button shaded small">Request recommendation</button>
                </div>
                <div class="recomendGroup-item">
                    <div class="recomendGroup-itemTop">
                        <p class="sideTitle">Ekaterina Siitam</p>
                        <div class="itemTop-wrap">
                            <div class="itemTop-wrapLerft">
                                <p class="name">Organization name: </p>
                                <p class="value">21 secondary School of Tallinn</p>
                            </div>
                            <div class="itemTop-wrapRight">
                                <div class="rseItem">
                                    <p class="name">Date:</p>
                                    <p class="value">22.02.2017</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Initiator:</p>
                                    <p class="value">Educator</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Status:</p>
                                    <p class="value">
                                        <span class="okay">
                                            <span class="okay-icon"></span>
                                            OK
                                        </span>
                                    </p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Rating:</p>
                                    <div class="value">
                                        <div class="rating yellow">
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="recomendGroup-itemBottom">
                        <switch-toggle [defaultInput]="true" [trueTitle]="'Visible'" [falseTitle]="'Hidden'" (checkedState)="addNewSchool = $event"></switch-toggle>
                        <span class="delete-icon ">
                            <i class="material-icons action-icon">&#xE872;</i>
                            Delete
                        </span>
                    </div>
                </div>
                <div class="recomendGroup-item">
                    <div class="recomendGroup-itemTop">
                        <p class="sideTitle">Ekaterina Siitam</p>
                        <div class="itemTop-wrap">
                            <div class="itemTop-wrapLerft">
                                <p class="name">Organization name: </p>
                                <p class="value">21 secondary School of Tallinn</p>
                            </div>
                            <div class="itemTop-wrapRight">
                                <div class="rseItem">
                                    <p class="name">Date:</p>
                                    <p class="value">22.02.2017</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Initiator:</p>
                                    <p class="value">Educator</p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Status:</p>
                                    <p class="value">
                                        <span class="okay">
                                            <span class="okay-icon"></span>
                                            OK
                                        </span>
                                    </p>
                                </div>
                                <div class="rseItem">
                                    <p class="name">Rating:</p>
                                    <div class="value">
                                        <div class="rating yellow">
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                            <i class="material-icons"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="recomendGroup-itemBottom">
                        <switch-toggle [defaultInput]="true" [trueTitle]="'Visible'" [falseTitle]="'Hidden'" (checkedState)="addNewSchool = $event"></switch-toggle>
                        <span class="delete-icon ">
                            <i class="material-icons action-icon">&#xE872;</i>
                            Delete
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="step step-resumePersonality">
        <div class="createResume-block">
            <p class="sideTitle">Personality traits</p>
            <div class="createResume-formItem">
                <p class="textField">Character traits</p>
                <textarea class="textarea"></textarea>
            </div>
            <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, architecto cumque dicta dolor eligendi enim esse exercitationem fugit incidunt, ipsa iusto laboriosam magnam maxime modi omnis perferendis possimus praesentium quae qui quibusdam quidem quis repudiandae sed tempora tempore vero voluptas.</div>
        </div>
        <div class="createResume-block">

            <div class="createResume-formItem">
                <p class="textField">Strenghs</p>
                <textarea class="textarea"></textarea>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Additonal information</p>
                <textarea class="textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="step step-resumeInterest">
        <div class="createResume-block">
            <p class="sideTitle">Interest and values</p>
            <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, architecto cumque dicta dolor eligendi enim esse exercitationem fugit incidunt, ipsa iusto laboriosam magnam maxime modi omnis perferendis possimus praesentium quae qui quibusdam quidem quis repudiandae sed tempora tempore vero voluptas.</div>
        </div>
        <div class="createResume-block">

            <div class="createResume-formItem">
                <p class="textField">Interests & hobbies</p>
                <textarea class="textarea"></textarea>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Your main values</p>
                <textarea class="textarea"></textarea>
            </div>
            <div class="createResume-formItem">
                <p class="textField">Participation in communities, public projects, non-profit organizations, volunteerism</p>
                <textarea class="textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="step step-resumeAdditional">
        <div class="createResume-block">
            <p class="sideTitle">Add additional meaningful information</p>
            <div class="lampText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, architecto cumque dicta dolor eligendi enim esse exercitationem fugit incidunt, ipsa iusto laboriosam magnam maxime modi omnis perferendis possimus praesentium quae qui quibusdam quidem quis repudiandae sed tempora tempore vero voluptas.</div>
            <div class="createResume-formItem">
                <p class="textField">Other information for employers</p>
                <textarea class="textarea"></textarea>
            </div>

        </div>

    </div>
</div>
