<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar" ></sidebar-link>
<div class="sideContent create-resume" >
    <div  class="title-wrap">
        <p class="title">{{'CV'|translate}}</p>
    </div>

    <router-outlet (deactivate)="onDeactivate()"></router-outlet>

  <modal [componentData]="modalService.init"></modal>
</div>


