<app-filter-vacancy-top
  [refresh]="vacancyService.clear"
></app-filter-vacancy-top>

<sidebar-vacancy-filter [refresh]="vacancyService.clear" class="sidebar"></sidebar-vacancy-filter>

<div class="favoritPopup"><!-- /import-scss/popup.scss -->
  <div class="favoritPopup-add">{{'vacancy.popup.vacancy_added_to_favorites'|translate}}</div>
  <div class="favoritPopup-remov">{{'vacancy.popup.vacancy_removed_from_favorites'|translate}}</div>
</div>

<div class="sideContent vacancy-search">

  <!-- - sortPanel-wrap -->
  <app-sort-panel-filter-component
    [btns]="sortBtns"
    [viewCompact]="true"
    [viewRange]="true"
    [viewSelect]="true"
    (btn)="sortVacancy($event)"
    (sortbtns)="setSortVacancy($event)"
    (compact)="compact = $event"
  ></app-sort-panel-filter-component>

  <!-- + cardVacant-wrap -->
  <div class="cardVacant-wrap" [ngClass]="{'minCard':compact}"><!-- для телефона minCard-(сокращенный карточка) -->
    <app-vacancy-card
      *ngFor="let item of vacancy; let i = index;"
      [vacancy]="item"
      [exp_deadline]="true"
      [exp_published_at]="true"
      [exp_top_published_at]="true"
      [exp_bookMark]="true"

      [exp_address]="true"
      [class]="'vacancySearch'"
    >
    </app-vacancy-card>
    <app-right-sidecontent class="advertising"></app-right-sidecontent>
  </div>
  <div class="pagination" *ngIf="pages.length>1">
    <div class="pgLink prev" [ngClass]="{'status_2':skip,'status_0':!skip}" (click)="prevPage()">
      <i class="material-icons">&#xE5C4;</i>{{'paginate.Previous'|translate}}
    </div>
    <ul class="pagination__ul">
      <li *ngFor="let page of pages" (click)="setPage(page.num)" class="status_{{page.status}}">{{page.num}}</li>
    </ul>
    <div class="pgLink next status_2" *ngIf="curPage<maxPage" (click)="nextPage()">{{'paginate.Next'|translate}}<i
      class="material-icons">&#xE5C8;</i></div>
  </div>
  <!-- - cardVacant-wrap -->


</div>

<modal-save-search *ngIf="saveModal"
                   [show]="saveModal"
                   [options]="vacancyService.saveSearch"
                   [type]="vacancy"
                   (out)="vacancyService.saveSearches($event)"
                   (showModal)="saveModal = $event"
></modal-save-search>

<div [class.stop]="stopApply" class="popapApply-wrap">

  <div class="popapApply">
    <div class="linkIcon-wrap">
      <button (click)="saveModal=true" class="button min">{{'Save_this_search'|translate}}</button>
    </div>
    <div class="linkIcon-wrap">
      <div [routerLink]="['/saved-search']" class="linkIcon"><i class="material-icons"></i> <span>{{'My_saved_searches'|translate}}</span>
      </div>
    </div>
  </div>
  <div class="tubeApply" id="stopScroll"></div>
</div>
