

.zzz::before {
  content: '&#xE422;';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */

  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: block;
  width: 50px;
  height: 50px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.vacantBox:visited{
  background-color: #00C434;
}

.popapApply .button {
  margin: 0 0 0 265px;
}

.vacantBox__text i{
  display: inline-block;
}
.vacantBox__boldText{
  display: inline-block;
}





@media screen and (max-width: 1100px) {
  .popapApply .button {
    margin: 0 0 0 0px;
  }
}
@media screen and (max-width: 640px) {

}
.visTed:visited{
   color:#888888
 }
