<div class="step step-resumeKeySkills">
  <div class="createResume-block main">
    <p class="sideTitle">{{'CreateResume.Education_and_key_skills'|translate}}</p>
    <div class="createResume-formItem">
      <p class="textField">{{'input.current_level'|translate}}</p>
      <div class="w100">

        <app-unity-select *ngIf="cS.resume"
          [valueId]="cS.resume.currentLevelOfEducation"
          [title]="'input.current_level'|translate"
          [arrIn]="dataService.options.educationLevelCurrent"
          (arrOut)="cS.resume.currentLevelOfEducation = $event.id"
        ></app-unity-select>
      </div>
    </div>
  </div>
  <div class="createResume-block" id="editSchool">
    <div class="titleAndButton">
      <p class="sideTitle">{{'CreateResume.Your_schools'|translate}}:</p>
      <button (click)="addNewSchool = !addNewSchool;clearIaddSchool()" [ngClass]="{notActive: addNewSchool}"  class="button shaded small" tabindex="0">{{'btn.Add_new_school'|translate}}</button>
    </div>

    <div class="addNewSchool"  [ngClass]="{active: addNewSchool}">
      <div class="addNewSchool-item "  >
        <label  class="textField" for="School-location">{{'CreateResume.School_location'|translate}}</label>
        <div class="possibleMenu-wrap">

          <address-select id="School-location"
                          [addr]="iaddSchool.schoolLocation?iaddSchool.schoolLocation.addr:''"
                          [placeholder]="iaddSchool.schoolLocation?iaddSchool.schoolLocation.addr:''"
            (Location)="iaddSchool.schoolLocation = $event"
            [types]="['establishment']"
            [locate]="iaddSchool.schoolLocation"

          ></address-select>
          <!--<input class="input" id="School-location" name="School-location" type="text" [ngModel]="schoolLocation" (ngModelChange)="searchSchool($event)"  [(ngModel)]="iaddSchool.schoolLocation">-->
          <div class="possibleMenu " [ngClass]="{'active':searchSchoolresult.length>0}"><!-- add active -->
            <div class="possibleMenu-item" *ngFor="let item of searchSchoolresult" (click)="setschool(item)"><a>{{item.name}}</a></div>
          </div>
        </div>

      </div>
      <div class="addNewSchool-items">
        <div class="addNewSchool-item w50">
          <p class="textField">{{'input.Educational_level'|translate}}</p>
          <div class="w100">
            <app-unity-select
              [valueId]="iaddSchool.educationLevel"
              [title]="'input.Educational_level'|translate"
              [refresh]="addNewSchool"
              [arrIn]="dataService.options.educationLevel"
              (arrOut)="iaddSchool.educationLevel = $event.id"
            ></app-unity-select>
          </div>
        </div>
        <div class="addNewSchool-item w50">
          <label  class="textField" for="School-name">{{'input.CreateResume_School_name'|translate}}</label>
          <input
            [maxLength]="100"
            class="input"
            id="School-name"
            name="School-name"
            type="text"

            [(ngModel)]="iaddSchool.schoolName">
        </div>
      </div>
      <div class="addNewSchool-items">
        <div class="addNewSchool-item w50" *ngIf="iaddSchool.educationLevel==2||iaddSchool.educationLevel==3">
          <p class="textField">{{'input.Major'|translate}}</p>
          <div class="w100">
            <app-unity-select
              [valueId]="iaddSchool.major"
              [title]="'input.Major'|translate"
              [refresh]="addNewSchool"
              [arrIn]="dataService.options.majors"
              (arrOut)="iaddSchool.major = $event.id"
            ></app-unity-select>
          </div>
        </div>
        <div class="addNewSchool-item w50" *ngIf="iaddSchool.educationLevel==2||iaddSchool.educationLevel==3">
          <p class="textField">{{'input.Minor'|translate}}</p>
          <div class="w100">
            <app-unity-select
              [valueId]="iaddSchool.minor"
              [refresh]="addNewSchool"
              [title]="'input.Minor'|translate"
              [arrIn]="dataService.options.majors"
              (arrOut)="iaddSchool.minor = $event.id"
            ></app-unity-select>
          </div>
        </div>
      </div>
      <div class="addNewSchool-items">
        <div class="addNewSchool-item w50" *ngIf="iaddSchool.educationLevel==2||iaddSchool.educationLevel==3">
          <label  class="textField" for="Speciality">{{'input.Speciality'|translate}}</label>
          <input-search-autocomplete id="Speciality"
            [result]="arrSpeciality"
            [title]="'input.Speciality'|translate"
             [value]="iaddSchool.speciality"
            (query)="getData($event,0)"
            (queryFull)="getData($event,1)"
          ></input-search-autocomplete>
          <!--<input class="input" id="Speciality" name="Speciality" type="text" [(ngModel)]="iaddSchool.speciality">-->
        </div>
        <div class="addNewSchool-item w50" *ngIf="iaddSchool.educationLevel==3">
          <p class="textField">{{'input.Degree'|translate}}</p>
          <div class="w100">
            <app-unity-select
              [valueId]="iaddSchool.degree"
              [refresh]="addNewSchool"

              [title]="'input.Degree'|translate"
              [arrIn]="dataService.options.degrees"
              (arrOut)="iaddSchool.degree = $event.id"
            ></app-unity-select>
          </div>
        </div>
      </div>
      <div class="addNewSchool-items">
        <div class="addNewSchool-item w30">
          <p class="textField">{{'input.Start_date'|translate}}</p>
          <div class="dateselect month">
            <app-unity-select

              [refresh]="addNewSchool"
              [title]="'month'|translate"
              [valueId]="iaddSchool.startDateMonth"
              [arrIn]="helpers.month"
              (arrOut)="iaddSchool.startDateMonth = helpers.toInt($event.text)"
            ></app-unity-select>
          </div>
          <div class="dateselect year">
            <app-unity-select
              [refresh]="addNewSchool"
              [valueId]="iaddSchool.startDateYear"
              [title]="'year'|translate"
              [arrIn]="helpers.yearGenerate(1950,iaddSchool.endDateYear)"
              (arrOut)="iaddSchool.startDateYear = $event.id;startYearCH($event.id)"
            ></app-unity-select>
          </div>
        </div>
        <div class="addNewSchool-item w30" *ngIf="!iaddSchool.curently">
          <p class="textField">{{'input.End_date'|translate}} </p>
          <div class="dateselect month">
            <app-unity-select

              [refresh]="addNewSchool"
              [title]="'month'|translate"
              [valueId]="iaddSchool.endDateMonth"
              [arrIn]="helpers.month"
              (arrOut)="iaddSchool.endDateMonth= $event.id"
            ></app-unity-select>
          </div>
          <div class="dateselect year">
            <app-unity-select

              [refresh]="addNewSchool"
              [title]="'year'|translate"
              [valueId]="iaddSchool.endDateYear"
              [arrIn]="helpers.yearGenerate(iaddSchool.startDateYear,null)"
              (arrOut)="iaddSchool.endDateYear = $event.id"
            ></app-unity-select>
          </div>
        </div>
        <div class="addNewSchool-item w30" *ngIf="iaddSchool.curently">
          <p class="textField">{{'input.Expected_graduation'|translate}}:</p>
          <div class="dateselect month">
            <app-unity-select
              [title]="'month'|translate"
              [refresh]="addNewSchool"
              [arrIn]="helpers.month"
              [valueId]="iaddSchool.expectedGraduationMonth"
              (arrOut)="iaddSchool.expectedGraduationMonth = $event.id"
            ></app-unity-select>
          </div>
          <div class="dateselect year">
            <app-unity-select
              [title]="'year'|translate"
              [refresh]="addNewSchool"
              [valueId]="iaddSchool.expectedGraduationYear"
              [arrIn]="y3"
              (arrOut)="iaddSchool.expectedGraduationYear = $event.id"
            ></app-unity-select>
          </div>
        </div>
        <div class="addNewSchool-item w35" >
          <div class="checkbox">
            <input  id="{{rand}}" name="check" type="checkbox" [(ngModel)]="iaddSchool.curently" (change)="changecurrentlyStuding()">
            <label  for="{{rand}}"><span class="checkbox__box"></span>
              <p  class="checkbox__text">{{'input.Currently_studying'|translate}}</p></label>
          </div>
        </div>
      </div>
      <div class="addNewSchool-item">
        <button  class="button shaded small" (click)="addSchool()" tabindex="0">{{'btn.Save_school'|translate}}</button>
        <span (click)="addNewSchool = !addNewSchool;clearIaddSchool()"  class="cancel-icon ">
                       <i class="material-icons action-icon"></i>
                        {{'btn.Cancel'|translate}}
                    </span>
      </div>
    </div>
    <div class="addedSchool-item" *ngFor="let school of userService.profile.Student.schools;let i = index">
      <div class="addedSchool-item-top">
        <p class="addedSchool-name">{{school.schoolName}}</p>
        <div class="addedSchool-listChar">
          <div class="listChar-item">
            <span class="listChar-nameChar"> {{'input.Educational_level'|translate}}: </span><span class="listChar-valueChar">{{dataService.options.educationLevel[school.educationLevel].text|translate}}</span>
          </div>
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'input.School_location'|translate}}: </span><span class="listChar-valueChar">{{school.schoolLocation.addr}}</span>
          </div>
          <div class="listChar-item" *ngIf="school.major">
            <span class="listChar-nameChar">{{'input.Major'|translate}}: </span><span class="listChar-valueChar">{{dataService.options.majors[school.major].text|translate}}</span>
          </div>
          <div class="listChar-item" *ngIf="school.minor">
            <span class="listChar-nameChar">{{'input.Minor'|translate}}: </span><span class="listChar-valueChar">{{dataService.options.majors[school.minor].text|translate}}</span>
          </div>
          <div class="listChar-item" *ngIf="school.speciality">
            <span class="listChar-nameChar">{{'input.Speciality'|translate}}: </span><span class="listChar-valueChar">{{school.speciality}}</span>
          </div>
          <div class="listChar-item" *ngIf="school.degree">
            <span class="listChar-nameChar">{{'input.Degree'|translate}}: </span><span class="listChar-valueChar">{{dataService.options.degrees[school.degree].text|translate}}</span>
          </div>
        </div>
        <div class="addedSchool-listChar">
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'input.Start_date'|translate}}:</span><span class="listChar-valueChar">{{school.startDateMonth + '.'+ school.startDateYear}}</span>
          </div>
          <div class="listChar-item" *ngIf="!school.curently">
            <span class="listChar-nameChar" >{{'input.End_date'|translate}}:</span><span class="listChar-valueChar">{{school.endDateMonth + '.'+ school.endDateYear}}</span>
          </div>
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'input.Currently_studying'|translate}}:</span><span class="listChar-valueChar">{{school.curently == true ? ('Yes'|translate) : ('No'|translate)}}</span>
          </div>
          <div class="listChar-item" *ngIf="school.curently">
            <span class="listChar-nameChar">{{'input.Expected_graduation'|translate}}:</span><span class="listChar-valueChar">{{school.expectedGraduationMonth + '.'+ school.expectedGraduationYear}}</span>
          </div>
        </div>
      </div>
      <div class="addedSchool-item-bottom">
                     <span class="edit-icon "  (click)="editSchool(school.schoolId);">
           <i class="material-icons action-icon">&#xE254;</i>
           {{'btn.Edit'|translate}}
          </span>
        <span class="delete-icon " (click)="deleteSchool(i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
      </div>
    </div>
  </div>
  <div class="createResume-block">
    <div class="lampText">
      {{'CreateResume.description'|translate}}
    </div>
    <p class="textField">{{'input.Knowledge_acquired'|translate}}</p>
    <div class="createResume-formItem">
      <multiselect-autocopmplete-area
        [items]="cS.resume.pickedSkills"
        [keyOff]="[]"
        [skills]="dataService.options.otherSpecificSkills"
        (outList)="cS.resume.pickedSkills = $event"
      ></multiselect-autocopmplete-area>
    </div>
  </div>
  <div class="createResume-block">
    <div class="textField">
      {{'input.Accomplishments_and_additional_information'|translate}}

    </div>
    <div class="createResume-formItem">
      <textarea
        [maxLength]="1500"

        class="textarea" [(ngModel)]="cS.resume.accomplishmentsInformation"
      ></textarea>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/language']">

    {{'CreateResume.Languages_skills'|translate}}
    <i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/language']">{{'CreateResume.Languages_skills'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
