<div class="step step-resumeWorkExp" #resumeWorkExp>
  <div class="createResume-block main">
    <div class="createResume-formItem mb0">
      <p class="sideTitle">{{'resume.wrkexp'|translate}} </p>
      <!--<div class="checkbox" *ngIf="cS.resume.workExp&&cS.resume.workExp.length==0">-->
        <!--<input  id="{{rand}}" name="check" type="checkbox" (change)="needExp = !needExp">-->
        <!--<label  for="{{rand}}"><span class="checkbox__box"></span>-->
          <!--<p  class="checkbox__text">{{'resume.ihaveWE'|translate}} </p></label>-->


      <!--</div>-->

    </div>



  </div>

  <div class="createResume-block" >

    <div class="createResume-formItem" *ngIf="!addedForm">
      <p class="textField">{{'resume.OthSpecSk'|translate}}</p>
      <div class="lampText">
        {{'resume.OthSpecSkDesc'|translate}}
      </div>

      <multiselect-autocopmplete-area
        [items]="cS.resume.otherSpecificSkills"
        [keyOff]="[]"
        [skills]="dataService.options.otherSpecificSkills"
        (outList)="cS.resume.otherSpecificSkills = $event"
      ></multiselect-autocopmplete-area>
    </div>
    <button class="button shaded small toggler"  (click)="newForm()" [ngClass]="{notActive: addedForm}" style="margin-bottom: 20px; max-width: 221px">{{'btn.addnewWE'|translate}}</button>
    <div class="createResume-formItemWrap" class="resumeWorkExp" #resumeWorkExp  *ngIf="addedForm">
      <div class="createResume-formItem">
        <div class="compOrg">
          <div class="item">
            <p class="textField">{{'resume.we.compname'|translate}}</p>
            <input [maxLength]="100" class="input" id="Com" name="Com" type="text" [(ngModel)]="iaddWorkExp.companyName">
          </div>
          <div class="item">
            <p class="textField">{{'resume.we.compsize'|translate}}</p>
            <div class="">

              <app-unity-select
                [valueId]="iaddWorkExp.companySize"
                [refresh]="addedForm"
                [title]="'resume.we.compsize'|translate"
                [arrIn]="dataService.options.companySize"
                (arrOut)="iaddWorkExp.companySize = $event.id"
              ></app-unity-select>
            </div>
          </div>
        </div>


      </div>
      <div class="createResume-formItem">
        <div class="WorkExp-items">
          <div class="WorkExp-item w50">
            <p class="textField">{{'resume.we.fiAct'|translate}}</p>
            <div class=" w100">
              <app-unity-select
                [title]="'resume.we.fiAct'|translate"
                [refresh]="addedForm"
                [valueId]="iaddWorkExp.fieldOfActivity"
                [arrIn]="dataService.options.fieldActivity"
                (arrOut)="iaddWorkExp.fieldOfActivity =  $event.id"
              ></app-unity-select>
            </div>
          </div>
          <div class="WorkExp-item w50">
            <p class="textField">{{'resume.we.ocfil'|translate}}</p>
            <div class="multipleSelect w100">
              <app-unity-select
                [title]="'resume.we.ocfil'|translate"
                [refresh]="addedForm"
                [valueId]="iaddWorkExp.occupationField"
                [arrIn]="dataService.options.occupationField"
                (arrOut)="iaddWorkExp.occupationField = $event.id"
              ></app-unity-select>
            </div>
          </div>

        </div>
      </div>
      <div class="createResume-formItem">
        <p class="textField">{{'Position'|translate}}</p>
        <!--<input class="input" id="Position" name="Com" type="text" [(ngModel)]="iaddWorkExp.position">-->
        <input-search-autocomplete
          [result]="arrPosition"
          [value]="iaddWorkExp.position"
          (query)="getData($event)"
          [title]="iaddWorkExp.position"
          (queryFull)="iaddWorkExp.position = $event"
        ></input-search-autocomplete>
      </div>
      <div class="createResume-formItem">
        <div class="locations">
          <div class="locations-item">
            <p class="textField">{{'Location'|translate}}</p>
            <div class="radio">
              <input id="zaz" type="radio" name="per" [value]="false" [(ngModel)]="locationForeign">
              <label for="zaz"><span></span>
                <p class="radio__text">{{'Local'|translate}}</p></label>

              <input id="zaz1" type="radio" name="per" [value]="true"  [(ngModel)]="locationForeign">
              <label for="zaz1"><span></span>
                <p class="radio__text">{{'Foreign'|translate}}</p></label>



            </div>
          </div>

        </div>

        <div class="locations">
          <div class="locations-item" *ngIf="locationForeign">
            <p class="textField">{{'resume.we.plsSpCou'|translate}}</p>
            <input class="input" [maxLength]="100" id="Psosition" name="Com" type="text" [(ngModel)]="iaddWorkExp.workCountry">

          </div>
        </div>


      </div>
      <div class="createResume-formItem">
        <div class="work-date">
          <div class="work-date-item">
            <p class="textField">{{'input.Start_date'|translate}}</p>
            <div class="dateselect first">
              <app-unity-select
                [title]="'Month'|translate"
                [refresh]="addedForm"
                [valueId]="iaddWorkExp.startDateMonth"
                [arrIn]="helpers.month"
                (arrOut)="iaddWorkExp.startDateMonth = $event.id"
              ></app-unity-select>
            </div>
            <div class="dateselect second">
              <app-unity-select
                [title]="'Year'|translate"
                [refresh]="addedForm"
                [valueText]="iaddWorkExp.startDateYear"
                [arrIn]="helpers.yearGenerate(1950,iaddWorkExp.endDateYear)"
                (arrOut)="iaddWorkExp.startDateYear = $event.id"
              ></app-unity-select>
            </div>

          </div>
          <div class="work-date-item" *ngIf="!iaddWorkExp.currentlyWorking">
            <p class="textField">{{'input.End_date'|translate}}</p>
            <div class="dateselect first">
              <app-unity-select
                [title]="'Month'|translate"
                [refresh]="addedForm"
                [valueId]="iaddWorkExp.endDateMonth"
                [arrIn]="helpers.month"
                (arrOut)="iaddWorkExp.endDateMonth = $event.id"
              ></app-unity-select>
            </div>
            <div class="dateselect second">
              <app-unity-select
                [title]="'Year'|translate"
                [refresh]="addedForm"
                [valueText]="iaddWorkExp.endDateYear"
                [arrIn]="helpers.yearGenerate(iaddWorkExp.startDateYear,null)"
                (arrOut)="iaddWorkExp.endDateYear = $event.text"
              ></app-unity-select>
            </div>
          </div>
          <div class="work-date-item">
            <div class="checkbox">
              <input  id="{{rand1}}" name="check" type="checkbox" [value]="true" [(ngModel)]="iaddWorkExp.currentlyWorking">
              <label  for="{{rand1}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text">{{'resume.we.CurrEm'|translate}}</p></label>


            </div>
          </div>
        </div>
      </div>
      <div class="createResume-formItem">
        <p class="textField">{{'resume.we.JobDes'|translate}}</p>
        <div class="lampText">{{'resume.we.JobDesdes'|translate}}</div>
        <textarea [maxLength]="1500" class="textarea" [(ngModel)]="iaddWorkExp.jobDesciprion"></textarea>
      </div>
      <div class="createResume-formItem">
        <p class="textField">{{'resume.we.AccAdInf'|translate}}</p>
        <div class="lampText">{{'resume.we.AccAdInfdesc'|translate}}</div>
        <textarea [maxLength]="1500" class="textarea" [(ngModel)]="iaddWorkExp.accomplishmentsiInformation"></textarea>
      </div>
      <div class="createResume-formItem">
        <div class="addNewWorkExp">
          <button  class="button shaded small" (click)="addWorkExp();">{{'btn.saveWEx'|translate}}</button>
          <span (click)="addedForm = !addedForm;edit = null" class="cancel-icon ">
                       <i class="material-icons action-icon"></i>
                        {{'btn.Cancel'|translate}}
                    </span>
        </div>
      </div>
    </div>

    <div class="addedWorExp-item" *ngFor="let work of cS.resume.workExp;let i = index" [ngClass]="{none:i==edit}">
      <div class="addedWorkExp-top">
        <p class="addedWorkExp-name" >{{work.companyName}}</p>
        <p class="addedWorkExp-size">{{dataService.getOptionsFromId("companySize", work.companySize).text|translate}}</p>
        <div class="addedWorkExp-char ">
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'resume.we.fiAct'|translate}}: </span><span class="listChar-valueChar">{{dataService.getOptionsFromId('fieldActivity',work.fieldOfActivity).text|translate}}</span>
          </div>
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'resume.we.ocfil'|translate}}: </span><span class="listChar-valueChar">{{dataService.getOptionsFromId('occupationField',work.occupationField).text|translate}}</span>
          </div>
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'Position'|translate}}: </span><span class="listChar-valueChar">{{work.position}}</span>
          </div>
          <div class="listChar-item" *ngIf="work.workCountry">
            <span class="listChar-nameChar">{{'Location'|translate}}: </span><span class="listChar-valueChar">{{work.workCountry}}</span>
          </div>
        </div>
        <div class="addedWorkExp-char w33">
          <div class="listChar-item" *ngIf="work.startDateYear">
            <span class="listChar-nameChar">{{'input.Start_date'|translate}}:</span><span class="listChar-valueChar">{{(work.startDateMonth?(helpers.month[work.startDateMonth-1].text +'.'):'')+ work.startDateYear}}</span>
          </div>
          <div class="listChar-item" *ngIf="work.endDateYear">
            <span class="listChar-nameChar">{{'input.End_date'|translate}}:</span><span class="listChar-valueChar">{{(work.currentlyWorking&&work.currentlyWorking==true)? '-' : (work.endDateMonth?(helpers.month[work.endDateMonth-1].text +'.'):'')+ work.endDateYear}}</span>
          </div>
          <div class="listChar-item">
            <span class="listChar-nameChar">{{'resume.we.CurrEm'|translate}}:</span><span class="listChar-valueChar">{{work.currentlyWorking? ('Yes'|translate) : ('No'|translate) }}</span>
          </div>

        </div>
        <div class="addWorExp-text">
          <div class="addWorExp-textWrap" *ngIf="work.jobDesciprion">
            <span>{{'resume.we.JobDes'|translate}}:</span>
            <p class="pre-line">{{work.jobDesciprion}}</p>
          </div>
          <div class="addWorExp-textWrap" *ngIf="work.accomplishmentsiInformation">
            <span>{{"resume.we.AccAdInf" | translate}}:</span>
            <p class="pre-line">{{work.accomplishmentsiInformation}}</p>
          </div>


        </div>
      </div>
      <div class="addedWorkExp-bottom">
                     <span class="edit-icon " (click)="editWorkExp(work,i)">
           <i class="material-icons action-icon">&#xE254;</i>
           {{'btn.Edit'|translate}}
          </span>
        <span class="delete-icon " (click)="deleteWorkExp(work,i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
      </div>
    </div>



  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/personality']">{{'resume.prstr'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <!--<button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="addedForm?(addWorkExp()&&cS.saveResume()):cS.saveResume()">{{'btn.Save'|translate}}</button>-->
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/personality']">{{'resume.prstr'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
