<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">

    <div class="title-wrap">
        <p class="title">{{'Match.title'|translate}}</p>
    </div>

    <div class="vacantBox-wrap">
    <div class="vacantBox norm" *ngFor="let vac of vac;let i=index">
        <div class="row-wrap">
            <div class="col-v6 col-t5 col-p10">
                <div class="topLine-vb">
                    <p class="title">{{vac.positionTitle}}</p>
                </div>
                <div class="parameterVb">
                    <p class="vacantBox__text">{{'options.vacancyType'|translate}}:
                        <span class="vacantBox__boldText">{{dS.optionText('vacancyType',vac.type)|translate}}</span>
                    </p>
                    <p class="vacantBox__text">{{'options.occupationField'|translate}}:
                        <span class="vacantBox__boldText">{{dS.optionText('occupationField',vac.occupationField)|translate}}</span>
                    </p>
                    <p *ngIf="vac.address" class="vacantBox__text">{{"Location" | translate}}:
                        <span class="vacantBox__boldText">{{vac.address}}</span>
                    </p>

                    <div class="vacantBox__text indent">{{'options.key_skills'|translate}}:
                      <div class="selInsert-wrap disable" *ngFor="let keys of vac.keySkills">
                        <div class="selInsert">{{keys.text|translate}}</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-v4 col-t5 col-p10">
                <div class="flexCol-2">
                    <div class="setcicBox-wrap">
                        <p>{{'Total_Candidates'|translate}}</p>
                        <div class="setcicBox">
                            <p>0</p>
                        </div>
                    </div>
                    <div class='setcicBox-wrap'>
                        <p>{{'new_candidates'|translate}}</p>
                        <div class='setcicBox active'>
                            <p>0</p>
                        </div>
                    </div>
                    <div class='setcicBox-wrap'>
                        <p>{{'Unread_Candidates'|translate}}</p>
                        <div class='setcicBox active'>
                            <p>0</p>
                        </div>
                    </div>
                </div>
                <p class="vacantBox__text indent" *ngIf="vac.projectID">{{"Proj" | translate}}:
                    <span class="vacantBox__boldText">{{getProjectName(vac.projectID)}}</span>
                </p>
            </div>
        </div>
        <div class="bottomLine-vb">
            <div class="row-wrap">
                <div class="col-v2 col-t3 col-m5 col-p6 indent">
                    <p class="requestSent text13">{{'Created'|translate}}: {{dS.dateConvert(vac.created_at)|date:'dd.MM.yyyy'}}</p>
                    <p class="requestSent text13" *ngIf="vac.deadLine">{{"Deadline" | translate}}: {{dS.dateConvert(vac.deadLine)|date:'dd.MM.yyyy'}}</p>
                </div>
                <div class="col-v4 col-t3 col-m5 col-p4">
                    <button class="text-ic" [routerLink]="['/vacancy/details/',vac._id]">
                        <i class='icon remove_eye_black'></i>
                        <p class="text-ic__text">{{'btn.View'|translate}}</p>
                    </button>
                </div>
                <div class="col-v4 col-t4 col-m10 col-p10">
                    <div class="flexCol">

                        <button (click)="viwe[i] = !viwe[i]" class="button min shaded">{{'btn.matchCand'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="candidateMenu " [ngClass]="{active:viwe[i]}">
            <p class="title">{{'Match.Vdesc'|translate}}</p>

            <div class="lampText min indent">
              {{'Match.Vdesc2'|translate}}
            </div>

            <table class="table td4">
                <thead>
                <tr>
                    <td></td>
                    <td class="turnText">
                        <p class="turnText__wrap">
                        {{'Match.eduLev'|translate}}

                        </p>
                    </td>
                    <td class="turnText">
                        <p class="turnText__wrap">
                        {{'Match.ocEx'|translate}}
                       </p>
                    </td>
                    <td class="turnText">
                        <p class="turnText__wrap">
                          {{'Match.keyPer'|translate}}
                        </p>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="overlap-wrap">
                            <div class="overlap__icon top"></div>
                            <p class="overlap__text">{{'Match.overHard'|translate}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyylk{{vac._id}}" type="radio" name="hard{{vac._id}}" [value]="3" [(ngModel)]="vac.match.e1">
                        <label for="yyylk{{vac._id}}"><span></span></label></div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl1j{{vac._id}}" type="radio" name="medium{{vac._id}}" [value]="3" [(ngModel)]="vac.match.e2">
                        <label for="yyyl1j{{vac._id}}"><span></span></label></div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl2j{{vac._id}}" type="radio" name="easy{{vac._id}}" [value]="3" [(ngModel)]="vac.match.e3">
                        <label for="yyyl2j{{vac._id}}"><span></span></label></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="overlap-wrap">
                            <div class="overlap__icon center"></div>
                            <p class="overlap__text">{{'Match.overMed'|translate}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl3e{{vac._id}}" type="radio" name="hard{{vac._id}}" [value]="2" [(ngModel)]="vac.match.e1">
                        <label for="yyyl3e{{vac._id}}"><span></span></label></div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl13r{{vac._id}}" type="radio" name="medium{{vac._id}}" [value]="2" [(ngModel)]="vac.match.e2">
                        <label for="yyyl13r{{vac._id}}"><span></span></label></div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl23t{{vac._id}}" type="radio" name="easy{{vac._id}}" [value]="2" [(ngModel)]="vac.match.e3">
                        <label for="yyyl23t{{vac._id}}"><span></span></label></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="overlap-wrap">
                            <div class="overlap__icon bottom"></div>
                            <p class="overlap__text">{{'Match.overEasy'|translate}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                        <input id="yyyl34z{{vac._id}}" type="radio" name="hard{{vac._id}}" [value]="1" [(ngModel)]="vac.match.e1">
                        <label for="yyyl34z{{vac._id}}"><span></span></label></div>
                    </td>
                    <td>
                        <div class="radio">
                            <input id="yyyl134x{{vac._id}}" type="radio" name="medium{{vac._id}}" [value]="1" [(ngModel)]="vac.match.e2">
                            <label for="yyyl134x{{vac._id}}"><span></span></label></div>

                    </td>
                    <td>
                        <div class="radio">
                            <input id="yyyl234o{{vac._id}}" type="radio" name="easy{{vac._id}}" [value]="1" [(ngModel)]="vac.match.e3">
                            <label for="yyyl234o{{vac._id}}"><span></span></label></div>
                    </td>
                </tr>
                <!--<tr>-->
                  <!--<td>-->
                    <!--<div class="overlap-wrap">-->
                      <!--<div class="overlap__icon bottom"></div>-->
                      <!--<p class="overlap__text">{{'none'|translate}}</p>-->
                    <!--</div>-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<div class="radio">-->
                      <!--<input id="yyyl122z{{vac._id}}" type="radio" name="hard{{vac._id}}" [value]="0" [(ngModel)]="vac.match.e1">-->
                      <!--<label for="yyyl122z{{vac._id}}"><span></span></label></div>-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--<div class="radio">-->
                      <!--<input id="yyyl123x{{vac._id}}" type="radio" name="medium{{vac._id}}" [value]="0" [(ngModel)]="vac.match.e2">-->
                      <!--<label for="yyyl123x{{vac._id}}"><span></span></label></div>-->

                  <!--</td>-->
                  <!--<td>-->
                    <!--<div class="radio">-->
                      <!--<input id="yyyl224o{{vac._id}}" type="radio" name="easy{{vac._id}}" [value]="0" [(ngModel)]="vac.match.e3">-->
                      <!--<label for="yyyl224o{{vac._id}}"><span></span></label></div>-->
                  <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>

            <div class="candidatesCheckbox row-wrap">
                <div class="col-v5 col-t10">
                    <div class="checkbox">
                        <input id="type31v{{vac._id}}" type="checkbox" name="check" [checked]="vac.match.cand === 1" [value]="1" #valCand (change)="valCand.checked?vac.match.cand=1:vac.match.cand=0" >
                        <label for="type31v{{vac._id}}"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'input.matchintcan'|translate}}</p></label>
                    </div>
                </div>
                <div class="col-v5 col-t10">
                    <div class="checkbox">
                        <input id="type31b{{vac._id}}" type="checkbox" name="check" [checked]="vac.match.work === 1"  [value]="1" #valWork (change)="valWork.checked?vac.match.work=1:vac.match.work=0">
                        <label for="type31b{{vac._id}}"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'input.matchnotwork'|translate}}</p></label>
                    </div>
                </div>
            </div>

            <div class="bottomLine-vb" >
                <div class="row-wrap">
                <div class="col-v3 col-t4 col-m5 col-p6 indent">
                    <button class="button shaded min" (click)="saveMatch(vac,i);viwe[i] = !viwe[i]">{{'btn.save&match'|translate}}</button>
                </div>


                <div class="col-v7 col-t6 col-m5 col-p4">
                    <button class="text-ic" (click)="viwe[i] = !viwe[i]">
                        <i class='icon cancel-black'></i>
                        <p class="text-ic__text">{{'btn.Cancel'|translate}}</p>
                    </button>
                </div>
                </div>

            </div>
        </div>
    </div>

    </div>
</div>
