.vacantBox__text.indent{
  margin-top: 20px;
}
.requestSent {
  color: #7E7E7E;
}

.bottomLine-vb{
  .button.min.shaded {
    display: block;
    margin: 0 auto;
    margin-right: 0;
  }
}

.candidateMenu{
  display: none;
  padding: 30px 0 0;
  position: relative;
}
.candidateMenu.active:before {
  content: '';
  position: absolute;
  width: calc(100% + 60px);
  height: 1px;
  left: -30px;
  top: 0;
  background-color: #e5e5e5;
  display: block;
}

.candidateMenu.active{
  display: block;
}
.lampText.indent {
  margin: 20px 0 30px;
}

.candidatesCheckbox .checkbox {
  line-height: 1;
  margin: 30px 0;
}
.candidatesCheckbox {
  padding: 0 20px;
}

.table tbody tr:last-child {
  border-bottom: 1px dashed #CCCCCC;
}
.table tbody tr td:first-child {
  padding-left: 0;
}

.candidateMenu{
  .bottomLine-vb{
    .button.min.shaded {
      display: inline-block;
      margin: 0 auto;
      margin-right: 20px;
    }
  }
}
.table thead tr td{
  padding: 12px;

  span{
    color: #6F6F6F;
    font-size: 12px;
    line-height: 15px;
    display: block;
  }
}
.turnText__wrap {
  color: #6F6F6F;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
}
@media screen and (max-width: 1080px){
  .candidateMenu.active:before {
    width: calc(100% + 40px);
    left: -20px;
  }
}

@media screen and (max-width: 980px){

  .table thead tr td{
    padding: 12px 0;
  }
  .candidatesCheckbox .checkbox {
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 800px) {
  .bottomLine-vb .button.min.shaded {
    margin-top: 20px;
  }
  .overlap__text {
    font-size: 12px;
    margin-left: 10px;

  }
  .table thead tr td {
    font-size: 10px;
  }
}
@media screen and (max-width: 770px){
  .bottomLine-vb .col-p4{
    text-align: right;
  }
}

@media screen and (max-width: 640px) {
  .setcicBox-wrap {
    margin-top: 20px;
  }
  .table tbody tr td:first-child {
    padding-left: 20px;
  }
  .bottomLine-vb {
    position: relative;
    top: auto;
    left: 0;
    padding: 20px 0;
    margin-top: 20px;
  }
  .bottomLine-vb:before {
    content: '';
    position: absolute;
    width: calc(100% + 40px);
    height: 1px;
    left: -20px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
  .candidateMenu.active:before {
    width: calc(100% + 40px);
    left: -20px;
  }
  .bottomLine-vb .button.min.shaded {
    max-width: 100%;
  }
  .candidateMenu .bottomLine-vb .button.min.shaded {
    max-width: 166px;
  }
  .vacantBox:hover, .vacantBox.status_3:hover {
    border: 3px solid #fff;
  }
  .candidatesCheckbox {
    padding: 0;
  }

  .table.td4 td:first-child {
    width: 50% !important;
  }
  .table tr td {
    max-width: 50px;
  }

  .table thead tr td {
    padding: 0;
    line-height: 1;
    text-align: left;
  }
  .lampText.indent {
    margin: 20px 0 130px;
  }
  .button.shaded {
    font-size: 14px;
    padding: 10px;
  }
  .icon.cancel-black {
    position: relative;
    top: auto;
    right: auto;
  }
  .overlap__text {
    width: calc(100% - 45px);
    display: inline-block;
    max-width: 60px;
  }
  .overlap__icon{
    background-image: inherit !important;
  }
  .selInsert-wrap:last-child {
    margin-right: 0px;
  }
  .vacantBox__boldText {
    display: inline;
  }
  .vacantBox.norm:hover {
    padding: 22px 22px 2px;
    border: 1px solid #D3D3D3;
  }

  .table.td4 td:first-child {
    width: 20% !important;
  }
  .table.td4 td{
    width: 12%;
    position: relative;
  }
  .turnText__wrap {
    width: 100px;
    position: absolute;
    left: 10px;
    top: -20px;
  }
  .table tr td:last-child {
    padding-right: 0;
  }

  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: auto;
  }

}
