<div class="column">
  <div class="boxList">
    <a [routerLink]="['/account']" class="sideTitle"> Профиль</a>
  </div>
  <div class="boxList">
      <a [routerLink]="['/admin/vacancy']" class="sideTitle"> Вакансии<span class="mesengerUsb">{{countVacancy}}</span></a>
      <ul class="list__ul">

        <li class="list__li">
          <a [routerLink]="['/admin/vacancy/proof']" class="list__link">На публикацию<span class="mesengerUsb act">{{countVacancyProof}}</span></a></li>
      </ul>
  </div>
  <div class="boxList">
    <a [routerLink]="['/admin/resume']" class="sideTitle"> Резюме</a>
    <ul class="list__ul">

      <li class="list__li">
        <a [routerLink]="['/admin/resume/proof']" class="list__link">На публикацию</a></li>
    </ul>
  </div>
  <div class="boxList">
    <a [routerLink]="['/admin/progressEducation']" class="sideTitle"> progress Edu</a>

  </div>
  <div class="boxList">
    <a [routerLink]="['/admin/services']" class="sideTitle"> services</a>

  </div>
  <div class="boxList">
    <a [routerLink]="['/admin/invoice']" class="sideTitle"> invoice</a>

  </div>
  <div class="boxList">
    <p class="sideTitle">Инструменты</p>
    <ul class="list__ul">

      <li class="list__li">
        <a [routerLink]="['/admin/helpers']" class="list__link">Подсказки</a></li>
      <li class="list__li">
        <a  [routerLink]="['/messages']" class="list__link">Сообщения <span class="mesengerUsb">87</span></a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/admin/profiles']" class="list__link">Профили</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/admin/optionedit']" class="list__link">optionedit</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/admin/translateedit']" class="list__link">translateedit</a>
      </li>
    </ul>
  </div>
</div>
