<h2>Resume list</h2>

<div class="resume-list">
    <div class="resume-listItem shadowBox" *ngFor="let resume of resumes; let i = index;">
        <ul class="resume-ul">
            <li><span class="resume-listTitle">Name:</span> <span>{{resume.name}}</span></li>
            <li><span class="resume-listTitle">User ID:</span> <span>{{resume.uid}}</span></li>

            <li><span class="resume-listTitle">Language:</span> <span>{{dS.options.languages[resume.language]}}</span></li>
            <li><span class="resume-listTitle">Status:</span> <span>{{resume.status == 0 ? "Требует подтверждения" : "Подтверждено"}}</span></li>


        </ul>
      <div>
        <div style="width: 200px;" *ngIf="!item.proof">
          <div  class="button" (click)="publicResume(item._id)">Опубликовать</div>
          <div  class="button">Отклонить</div>
        </div>
        <div style="width: 200px;" *ngIf="item.proof==1">
          Опубликовано
        </div>
      </div>
    </div>
</div>
