.accordion-content {
  max-height: 0;
  transition: max-height 0.5s;
  margin-bottom: 0;
  display: block;
  overflow-y: hidden;
}

.accordion-content.accordion-active {
  max-height: 180px;
  overflow-y: auto;
}

.acdResult span{
  font-size: inherit;
}