<ul class="accordion">
  <li>
    <a class="acdTitle" (click)="toggle()">{{title | translate}}</a>
    <p class="acdResult">
      <span *ngFor="let item of output;let i = index;">
          {{item.text | translate}}<span *ngIf="i < output.length - 1"> /</span>
      </span>
    </p>
    <div class="acdLine"></div>
    <div class="accordion-content " #box [class.accordion-active]="accordionAcitve">
      <div class="checkbox">
        <div *ngFor="let item of arrIn">
          <input
                  id="{{random}}{{item.id}}"
                  type="checkbox"
                  (change)="changeItem(item,$event)"
                  [(ngModel)]="arrVal[item.id]"
                  value="{{item.id}}">
          <label for="{{random}}{{item.id}}">
            <span class="checkbox__box"></span>
            <p class="checkbox__text">{{item.text|translate}}</p>
            <!--<p class="checkbox__number">19</p>-->
          </label>
        </div>
      </div>
    </div>
  </li>
</ul>
