<style>
  div{
    vertical-align: top;
    position:relative;
    height: 18px;
  }
  .hide{
    display: none;
  }
  .active{
    display: block;
  }
  .tables td{
    text-align: center;
  }
  table {

    border-collapse: collapse;
  }

  tr:nth-child(odd) { background-color: rgba(55, 244, 249, 0.27); }
  tr:nth-child(even) { background-color: rgba(104, 223, 249, 0.38); }

</style>

<table width="100%">
  <tr *ngFor="let key of keys" style="border: 1px solid rgba(55, 244, 249, 0.27)">
    <td style="width: 40px;vertical-align: top;">
      {{key}}
      <br><button (click)="editShow(key)">edit</button>
    </td>
    <td style="width: 15px;font-size: 10px;text-align: right" >
      <table id="{{key}}_show1" class="hide tables">
        <tr>
          <td>key</td>
          <td>RU</td>
          <td>EN</td>
          <td>ET</td>
          <td></td>
        </tr>

        <tr>
          <td>
            <div *ngFor="let st of obKeys(dS.options.translate.RU[key])" >
              {{st}}
            </div>

          </td>
          <td>
            <div *ngFor="let st of obKeys(dS.options.translate.RU[key])" >
              <input type="text" id="K_{{key}}_{{st}}_RU" [(ngModel)]="dS.options.translate.RU[key][st]" >
            </div>
          </td>
          <td>
            <div *ngFor="let st of obKeys(dS.options.translate.EN[key])">
              <input type="text" id="K_{{key}}_{{st}}_EN" [(ngModel)]="dS.options.translate.EN[key][st]">
            </div>
          </td>
          <td>
            <div *ngFor="let st of obKeys(dS.options.translate.ET[key])" >
              <input type="text" id="K_{{key}}_{{st}}_ET" [(ngModel)]="dS.options.translate.ET[key][st]">
            </div>
          </td>
          <td>
            <div  *ngFor="let st of obKeys(dS.options.translate.ET[key])" >
              <button style="margin-left: -10px" (click)="save(key,st)">save</button>
              <button (click)="del(key,st)">del</button>
            </div>
          </td>
          <td></td>
        </tr>
        <tr *ngIf="AddNewKey">
          <td>
            <div>
              <input style="width: 20px" type="text"  [(ngModel)]="newKey" >
            </div>

          </td>
          <td>
            <div >
              <input type="text" [(ngModel)]="text_RU" >
            </div>
          </td>
          <td>
            <div >
              <input type="text" [(ngModel)]="text_EN" >
            </div>
          </td>
          <td>
            <div >
              <input type="text" [(ngModel)]="text_ET" >
            </div>
          </td>
          <td>
            <div >
              <button (click)="addnew(key,newKey)">save</button>
            </div>
          </td>
          <td></td>
        </tr>
        <tr >
          <td colspan="5">
            <button (click)="AddNewKey=!AddNewKey" style="width: 30%;height: 30px">Add</button>

          </td>
        </tr>
      </table>

    </td>

  </tr>
</table>
