<div class="stepBox border">
  <div class="createJob">
    <div class="roundNumber-wrap">
      <p class="roundNumber">1</p>
      <p class="sideTitle">{{'vacancy.create.tit_0'|translate}}</p>
    </div>
    <div class="stringCj">
      <div class="createJob-item">
        <p class="textField">{{'vacancy.Choose_project'|translate}}</p>

        <app-unity-select

          [title]="projectText|translate"
          [arrIn]="projectList"
          [valueId]="cS.vacancy.projectID"
          (arrOut)="cS.vacancy.projectID = $event.id;"></app-unity-select>

      </div>

      <p class="amongText">{{'vacancy.or_create_new_one'|translate}}</p>

      <div class="createJob-item okLine">
        <p class="textField">{{'vacancy.Create_project'|translate}}</p>

        <input class="input border" [maxLength]="50"  type="text"  [(ngModel)]="iProject.name">

      </div>
      <button class="button shortBtn" *ngIf="iProject.name&&iProject.name.length>0" (click)="createNewProject()">Ok</button>
    </div>

  </div>
</div>
