.boxSide {
  min-height: 700px;
}
.button {
  border: 1px solid #00C3F1;
  padding: 12px 0 10px;
}

.createJob {
  padding: 35px 30px;
  letter-spacing: -5px;
  border-bottom: 1px solid #D3D3D3;
}
.stepBox.border {
  border-bottom: 1px solid #D3D3D3 !important;
}

.stepBox {
  border-bottom: 1px solid #D3D3D3;
}

.createJob:last-child, .stepBox:last-child {
  border: 0;
}

.createJob * {
  letter-spacing: 0;
}

.createJob-grid {
  display: inline-block;
  vertical-align: top;
}

.stringCj {
  margin-bottom: 25px;
}

.stringCj.indent {
  margin-bottom: 70px;
}

.stringCj:last-child {
  margin-bottom: 0;
}

.createJob .sideTitle {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.textField {
  color: #666;
  text-align: left;
}

.multipleSelect {
  border: 1px solid #E5E5E5;
  max-width: 100%;
  width: 100%;
}

.input.location-icon {
  width: 100%;
  border: 1px solid #E5E5E5;
}

.amongText {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  padding-right: 20px;
  text-align: center;
}

.createJob .button {
  display: inline-block;
}

.selectionBtn .button {
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}

.createJob .button.min {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}

.createJob-item {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: bottom;
  max-width: 245px;
  margin-right: 20px;
}

.createJob-item.min {
  max-width: 115px;
}

.createJob-item:last-child {
  margin-right: 0;
}

.selectionBtn {
  text-align: center;
  display: block;
  margin-top: 40px;
}

.input {
  border: 1px solid #E5E5E5;
  width: 100%;
}


/* - dropFiles */

@media screen and (max-width: 1100px) {
  .createJob-item {
    width: calc(33% - 10px);
    margin-right: 10px;
  }
  .amongText {
    width: 155px;
    padding-right: 10px;
  }

  .createJob-item.min {
    width: 40%;
  }
}

@media screen and (max-width: 1080px) {
  .createJob {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 980px) {

  .createJob-item {
    width: calc(49% - 10px);
    margin-right: 10px;
  }
  .amongText {
    margin-bottom: 30px;
    width: 130px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .createJob .discountBox-wrap .checkbox, .SalaryBox .createJob-item.min, .stringCj.indent {
    margin-bottom: 0px;
  }
  .stringCj {
    margin-bottom: 30px;
  }

}

.btn200 {
  width: 200px;
  padding: 10px 0;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .amongText {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {

  .stringCj {
    margin-bottom: 20px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 10px;
  }

  .multipleSelect .mpsBox {
    left: auto;
    right: -15px;
  }
}

@media screen and (max-width: 700px) {

  .btn200 {
    width: 180px;
  }
  .createJob-item {
    width: 100%;
    margin-right: 0px;
    display: block;
    max-width: 300px;
  }
  .stringCj.indent {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .createJob-item {
    width: 100%;
    max-width: 100%;
  }
  .createJob-item.okLine {
    width: calc(100% - 99px);
    display: inline-block;
    margin-right: 20px;
  }
  //.createJob-wrapTitle {
  //  text-align: center;
  //}
  //.createJob-number {
  //  display: block;
  //  margin: 0 auto 10px;
  //}
  .createJob .button.mobileNone {
    display: none;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .amongText {
    display: block;
    margin-bottom: 15px;
  }
  .discountBox {
    width: auto;
    min-width: auto;
  }

}
