<div *ngIf="this.type=='photo'">
    <input #uploadPath type="hidden" name="{{name}}">
    <input class="displayNone" (change)="changeFileInput()" id="uploadInput" #uploadInput type="file" accept="{{accept}}" name="upload-{{name}}">
</div>
