<div class="step step-resumeLanguage">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.lngsk'|translate}}</p>
    <div class="createResume-formItem ddds">

      <div class="tableSkills">
        <div *ngIf="cS.resume.languageSkills&&cS.resume.languageSkills.length>0" class="tableSkills-row tableSkills-rowHead">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="tableSkills-title"></div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <span class="tableSkills-Headtitle">{{'Level'|translate}}</span>
          </div>
          <div class="tableSkills-col tableSkills-col-3">
            <span class="tableSkills-Headtitle">{{'Certificate'|translate}}</span>
          </div>
          <div class="tableSkills-col tableSkills-col-4">
            <span class="tableSkills-Headtitle">{{'Everyday_use'|translate}}</span>
          </div>
        </div>
        <div class="tableSkills-row" *ngFor="let lang of cS.resume.languageSkills;let i = index">
          <div class="tableSkills-col tableSkills-col-1">
            <p class="tableSkills-title">{{dataService.options.languages[lang.langId].text|translate}}</p>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <p class="tableSkills-title">{{dataService.options.levels[lang.langLevel].text|translate}}</p>
          </div>
          <div class="tableSkills-col tableSkills-col-3">
            <p class="tableSkills-title"><span class="service-icon {{lang.certificate ? 'okay' : 'stop'}}"></span></p>
          </div>
          <div class="tableSkills-col tableSkills-col-4">
            <p class="tableSkills-title"><span class="service-icon {{lang.useEveryday ? 'okay' : 'stop'}}"></span></p>
          </div>
          <div class="tableSkills-col tableSkills-col-5">
            <span  class="edit-icon " (click)="editLang(i)"><i  class="material-icons action-icon"></i>{{'btn.Edit'|translate}}</span>
            <span class="delete-icon " (click)="deleteLang(i)">
                                <i class="material-icons action-icon" >&#xE872;</i>
                                {{'btn.Delete'|translate}}
                            </span>
          </div>
        </div>


      </div>
      <div class="addTableSkills">
        <button class="button shaded small" [ngClass]="{displayNone: addTableSkills}" (click)="addTableSkillsCh()"  >{{'btn.addNewLang'|translate}}</button>
        <div class="addTableSkills-form" [ngClass]="{displayBlock: addTableSkills}" >
          <div class="addTableSkills-formItem">
            <div class="mp-item">
              <div class="textField">{{'Language'|translate}}

              </div>
              <div class="lang">
                <!--<app-unity-select-->
                  <!--[refresh]="addTableSkills"-->
                  <!--[valueId]="iaddLanguage.langId"-->
                  <!--[title]="'Language'|translate"-->
                  <!--[arrIn]="arrLang"-->
                  <!--(arrOut)="iaddLanguage.langId = $event.id"-->
                <!--&gt;</app-unity-select>-->
                <input-search-autocomplete
                  [arrIn]="arrLang"
                  [valueId]="iaddLanguage.langId"
                  [title]="'Language'|translate"
                  (arrOut)="setLang($event._id)"
                ></input-search-autocomplete>
              </div>
            </div>
            <div class="mp-item">
              <div class="textField">{{'vacancy.Level'|translate}}
                <div class="btnTell-wrap">
                  <i class="material-icons btnTell">&#xE88E;</i>
                  <div class="tellBox">{{"tooltips.LanguageLevel" | translate}}</div>
                </div>
              </div>
              <div class="level">
                <app-unity-select

                  [refresh]="addTableSkills"
                  [valueId]="iaddLanguage.langLevel"
                  [title]="'vacancy.Level'|translate"
                  [arrIn]="langLevels"
                  (arrOut)="iaddLanguage.langLevel = $event.id"
                ></app-unity-select>

              </div>
            </div>


          </div>

          <div class="addTableSkills-formItem">
            <div class="checkbox">
              <input  id="{{rand}}" name="check" type="checkbox" [(ngModel)]="iaddLanguage.certificate" value="have-certificate">
              <label  for="{{rand}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text">{{'have_certificate'|translate}}</p></label>
            </div>
            <div class="checkbox">
              <input  id="{{rand2}}" name="check" type="checkbox" [(ngModel)]="iaddLanguage.useEveryday" value="use-every-day">
              <label  for="{{rand2}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text">{{'use_every_day'|translate}}</p></label>
            </div>
          </div>

          <div>
            <button class="button shaded small" style="margin-right: 20px" (click)="addLang();addTableSkills = !addTableSkills">{{'btn.Save_language'|translate}}</button>
            <span   class="cancel-icon " (click)="addTableSkills = !addTableSkills">
                               <i class="material-icons action-icon"></i>
                                {{'Cancel'|translate}}
                                </span>
          </div>



        </div>

      </div>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/computer']">{{'resume.compsk'|translate}}<i class="material-icons">&#xE315;</i> </p>

</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/computer']">{{'resume.compsk'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
