<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
  <div class="title-wrap">
    <p class="title">{{"sidebarInformation.Organization_profile" | translate}}</p>
  </div>
  <div class="boxSide">
    <div class="boxSide-item">
      <div class="lampText min indent">
       {{"OrganizationInfoTitle" | translate}}
      </div>

      <div class="row-wrap">
        <div class="col-v5 col-p10 indentBt">

          <p class="textField">{{"inputLabel.NameSchool" | translate}}</p>
          <input type="text" class="input border" [maxLength]="100" [(ngModel)]="iOrg.schoolName">
        </div>
        <div class="col-v5 col-p10 indentBt">
          <p class="textField">{{"inputLabel.RegistrationCode" | translate}}</p>
          <input type="text" class="input border" [maxLength]="15" [(ngModel)]="iOrg.regCode">
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v5 col-p10 indentBt">

          <p class="textField">{{"inputLabel.Mobile_phone" | translate}}</p>
          <input type="text" class="input border" [textMask]="{mask:dS.phoneMask}" [maxLength]="25" [(ngModel)]="iOrg.mobilePhone">
        </div>
        <div class="col-v5 col-p10 indentBt">
          <p class="textField">{{"inputLabel.Landline_phone" | translate}}</p>
          <input type="text" class="input border" [textMask]="{mask:dS.phoneMask}" [maxLength]="25" [(ngModel)]="iOrg.landlinePhone">

        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v10 indentLast">
          <p class="textField">{{"inputLabel.OrganizationAddress" | translate}}</p>
          <address-select
            (Location)="iOrg.schoolLocation=$event"
            [addr]="iOrg.schoolLocation?iOrg.schoolLocation.addr:null"
            [name]="'company'"
          ></address-select>
        </div>
      </div>
    </div>
    <div class="boxSide-item">
      <div class="row-wrap">
        <div class="col-v10 indentBt">

          <p class="textField">{{"inputLabel.AboutSchool" | translate}}</p>
          <textarea type="text" class="textarea" [maxLength]="3000" [(ngModel)]="iOrg.aboutOrg"></textarea>

        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v10 indentBt">
          <p class="textField">{{"inputLabel.VideoYourOrganization" | translate}}</p>
          <input type="text" class="input border"  [(ngModel)]="iOrg.videoUrl">
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v5 col-p10 indentBt">
          <p class="textField">{{"inputLabel.HighestEduLevel" | translate}}</p>
          <app-unity-select
            [title]="'Secondary education'"
            [arrIn]="dS.options.educationLevel"
            [valueId]="iOrg.educationLevel"
            (arrOut)="iOrg.educationLevel = $event.id;iOrg.typeOfSchool=0"></app-unity-select>

        </div>
        <div class="col-v5 col-p10 indentBt">
          <p class="textField">{{"inputLabel.TypeSchool" | translate}}</p>
          <app-unity-select
            [title]="'Middle school'"
            [valueId]="iOrg.educationLevel!=undefined?iOrg.typeOfSchool:null"
            [arrIn]="iOrg.educationLevel!=undefined?dS.options['typeOfSchool_'+iOrg.educationLevel]:dS.options['typeOfSchool_0']"
            (arrOut)="iOrg.typeOfSchool = $event.id"></app-unity-select>
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v10 indentBt">
          <p class="textField">{{"inputLabel.FieldsEducation" | translate}}</p>
          <app-multiple-select
            [typeOut]="0"
            [title]="'vacancy.Field_of_education'|translate"
            [valueId]="iOrg.minor"
            [arrIn]="dS.options.majors"
            (arrOut)="iOrg.minor = $event"

            ></app-multiple-select>
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v5 col-p10 indentBt">
          <p class="textField">{{"inputLabel.OrganizationWebsite" | translate}}</p>
          <input type="text" class="input border" [(ngModel)]="iOrg.webSite">
        </div>
        <div class="col-v5 col-p10 indentBt">
          <div class="upload-photo-wrap absolut organizationProfile">
            <file-list
              [inputStyle]="'singlePhoto'"
              [FilesList]="[iOrg.photo]"
              (change)="$event"
            ></file-list>
            <uploader
              [profilePhoto]="true"
              [inputStyle]="'singlePhoto'"
              [fileTypes]="['jpeg','png','jpg']"
              [multiple]="false"
              (file)="iOrg.photo = $event"
            ></uploader>
          </div>
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v5 indentBt">
          <p class="textField">{{'input.Established'|translate}}</p>

            <input [textMask]="{mask:dS.numMask4}" type="text" class="input border" [(ngModel)]="iOrg.Established">


          <!--<div class="datepicker" *ngIf="contract_date==0">-->
          <!--<my-date-picker   name="mydate" [options]="myDatePickerOptions" (dateChanged)="cS.vacancy.contract.start=null;cS.vacancy.contract.end=null;cS.vacancy.contract.def = {time:$event.epoc,date:$event.date}"-->
          <!--required></my-date-picker>-->
          <!--</div>-->

        </div>
        <div class="col-v5"></div>

      </div>
      <div class="row-wrap">
        <div class="col-v10 indentBt">
          <p class="textField">{{'input.Location'|translate}}</p>
          <div class="block">
            <div  *ngFor="let item of iOrg.AdditionalAddresses; let i = index;">
              <address-select

                [addr]="item.addr"
                (Location)="iOrg.AdditionalAddresses[i]=$event;"
                [locate]="item"

              ></address-select>
              <address-select *ngIf="!iOrg.AdditionalAddresses||iOrg.AdditionalAddresses.length==0"

                              [addr]="iOrg.AdditionalAddresses"
                              (Location)="iOrg.AdditionalAddresses.push($event);AdditionalAddresses=''"

              ></address-select>
            </div>

          </div>
          <a class="blueLink indentTop" (click)="addInput()">+ {{'btn.Add_additional_location'|translate}}</a>
        </div>
      </div>
      <div class="row-wrap">
        <div class="col-v10 indentLast">

          <p class="textField">{{"inputLabel.AdditionalInformationStudents" | translate}}</p>
          <textarea type="text" class="textarea" [maxLength]="2000" [(ngModel)]="iOrg.Additional_information"></textarea>

        </div>
      </div>
    </div>
  </div>

  <div class="popapApply">
    <div class="linkIcon-wrap">
      <button class="button shaded min" (click)="save()">{{'Save'|translate}}</button>
    </div>
  </div>
</div>
