.col-v10, .col-v9, .col-v8, .col-v7, .col-v6, .col-v5, .col-v4, .col-v3, .col-v2, .col-v1 {
  vertical-align: bottom;
}
.col-v5:first-child {
  padding-right: 10px;
}
.col-v5:last-child {
  padding-left: 10px;
}

.upload-photo-wrap.absolut {
  top: -38px;
  bottom: auto !important;
}

.input{
  width: 100%;
}
.textField{
  color: #666666;
}

.lampText.indent{
  margin: 10px 0 40px 0;
}

.row-wrap > div{
  position: relative;
}
.upload-photo-wrap.absolut {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 0;
}



.linkIcon-wrap:last-child {
  text-align: left;
}
.popapApply .button {
  margin-right: 0;
  margin-left: 265px;
  max-width: 150px;
}
.indentLast{
  margin-bottom: 5px;
}
/* + удалить после нового датапикера! */
.notRight .datepicker i{
  font-size: 18px;
}
.datepicker.notRight{
  border: 1px solid #E5E5E5;
  padding: 6px 12px 3px;
  font-size: 14px;
  cursor: pointer;
}
/* - удалить после нового датапикера! */
@media screen and (max-width: 1080px) {
  .popapApply .button {
    margin-left: 225px;
  }
}

@media screen and (max-width: 980px) {
  .popapApply .linkIcon-wrap:last-child {
    display: block;
  }
  .popapApply .button {
    margin-left: 0px;
  }
}

@media screen and (max-width: 640px) {
  .upload-photo-wrap.absolut {
    position: relative;
    width: 100%;
    top: 0;
  }
  .col-v5:first-child, .col-v5:last-child  {
    padding: 0px;
  }

  .boxSide-item .row-wrap:last-child .col-v10.indentBt{
    margin-bottom: 5px;
  }
  .linkIcon-wrap:last-child {
    text-align: center;
  }
  .indentLast {
    margin-bottom: 0;
  }
  .lampText.indent {
    margin: 0px 0 30px 0;
  }
  .blueLink.indentTop {
    margin-bottom: 10px;
  }
}
