<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap ">
        <div class="title">My resume view statistics</div>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <p class="lampText min indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                tempor.
            </p>

            <div class="row-wrap">
                <div class="col-v5 col-m10">
                    <div class="checkbox">
                        <input id="type31" type="checkbox" name="check" value="" checked="checked">
                        <label for="type31"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt"></span> Registered students</p></label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c" type="checkbox" name="check" value="" checked="checked">
                        <label for="type3c"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt birch"></span>Registered graduates </p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c1" type="checkbox" name="check" value="" checked="checked">
                        <label for="type3c1"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt blue"></span>Users with recommendations </p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c2" type="checkbox" name="check" value="" checked="checked">
                        <label for="type3c2"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt red"></span>Number of recommendations </p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c3" type="checkbox" name="check" value="" checked="checked">
                        <label for="type3c3"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt gren"></span>Users looking for an internship
                            </p></label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c4" type="checkbox" name="check" value="" checked="checked">
                        <label for="type3c4"><span class="checkbox__box"></span>
                            <p class="checkbox__text"><span class="roundSt yellow"></span>Users looking for a job </p>
                        </label>
                    </div>

                </div>
                <div class="col-v5 col-m10 indent">
                    <div class="select-wrap">
                        <p class="textField dark">Field of education</p>
                        <app-unity-select [title]="'Administrative'"
                                          [arrIn]="dataService.options.languages"></app-unity-select>
                    </div>
                    <div class="select-wrap">
                        <p class="textField dark">Statistics period</p>
                        <app-unity-select [title]="'Last 6 months'"
                                          [arrIn]="dataService.options.languages"></app-unity-select>
                    </div>

                </div>
            </div>

            <graphic></graphic>


        </div>
    </div>
</div>
