.select-wrap{
  width: calc(49% - 10px);
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }
}

.lampText{
  margin-bottom: 35px;
}
.checkbox .checkbox__text {
  margin-left: 10px;
}
.roundSt{
  vertical-align: middle;
  margin: 0px 5px 2px;
}

.checkbox label {
  display: block;
  line-height: 1;
}
.checkbox {
  margin-bottom: 12px;
}

@media screen and (max-width: 980px) {
  .select-wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .col-v5.col-m10.indent {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 980px) {
  .col-v5.col-m10.indent {
    margin-top: 20px;
  }
}