<div class="modal-wrap" *ngIf="show" (clickOutside)="show = false">
  <div class="modal-content">
    <i class="material-icons close" (click)="show=false">&#xE14C;</i>
    <div class="modal-content-item">
      <p class="sideTitle">{{"btn.Request_recommendation" | translate}}</p>
      <p class="lampText">{{"WeRecommendMoreDetailed" | translate}}</p>
    </div>
    <div class="modal-content-item">
      <div class="modal-form">
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.FillInName" | translate}}*</p>
          <input  class="input" type="text">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.SelectCompany" | translate}}</p>
          <div class="multipleSelect w100">
            <app-multiple-select [title]="'выбрать'" [arrIn]="[]"  (arrOut)="$event"></app-multiple-select>
          </div>
        </div>
      </div>
      <div class="modal-form">
        <p class="modal-form-title">
          {{"PersonDetails" | translate}}
        </p>
        <div class="modal-form-item">
          <p class="textField">{{"input.Company_name" | translate}}</p>
          <input  class="input" type="text">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.Position" | translate}}*</p>
          <input  class="input" type="text">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.EmailAddress" | translate}}*</p>
          <input  class="input" type="text">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.СontactPhone" | translate}}</p>
          <input  class="input" type="text" >
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.YourLetter" | translate}}</p>
          <textarea  class="textarea"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-content-item bottom">

          <button class="button shaded small">{{"btn.SendRequest" | translate}}</button>

    </div>
  </div>
</div>
