.createJob-item.top {
  vertical-align: top;
}
.alert{
  border:1px solid red;
  height: 40px;
  .dropFiles {
    border-color: red !important;
  }
}
.boxSide {
  min-height: auto;
}

uploader.alert {
  border: none !important;

}

.input.short{
  max-width: 90px;
}
.delete-icon {
  margin: 7px 0;
  display: inline-block;
}
.button {
  border: 1px solid #00C3F1;
}
.button.previous {
  border: 1px solid #D3D3D3;
}
.button.previous:hover {
  border: 1px solid #00C3F1;
}
.button.next:hover {
  border: 1px solid#0092B2;
}
.createJob {
  padding: 35px 30px;
  letter-spacing: -5px;
  border-bottom: 1px solid #D3D3D3;
}

.stepBox {
  border-bottom: 1px solid #D3D3D3;
}

.createJob:last-child, .stepBox:last-child {
  border: 0;
}

.createJob * {
  letter-spacing: 0;
}

.createJob-grid {
  display: inline-block;
  vertical-align: top;
}

.stringCj {
  margin-bottom: 25px;
}

.stringCj.indent {
  margin-bottom: 70px;
}

.stringCj:last-child {
  margin-bottom: 0;
}

.lampText.indent{
  margin-bottom: 20px;

}
.createJob .lampText{
  margin-left: 0;
}
.zn12 {
  z-index: 12;
}
.zn13 {
  z-index: 13;
}
.createJob .sideTitle {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.SalaryBox .checkbox {
  vertical-align: middle;
  margin: 0;
  width: 170px;
}

.SalaryBox .checkbox * {
  vertical-align: middle;
}

.textField {
  color: #666;
  text-align: left;
}

.multipleSelect {
  border: 1px solid #E5E5E5;
  max-width: 100%;
  width: 100%;
}

.input.location-icon {
  width: 100%;
  border: 1px solid #E5E5E5;
}

.amongText {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  padding-right: 20px;
  text-align: center;
}

.createJob .button {
  display: inline-block;
}

.btn200 {
  width: 200px;
  padding: 10px 0;
  font-size: 14px;
}

.createJob-item {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: bottom;
  max-width: 241px;
  margin-right: 20px;
}

.createJob-item.min {
  max-width: 115px;
}

.createJob-item:last-child {
  margin-right: 0;
}

.btnWrap-cj {
  text-align: center;
  display: block;
  margin-top: 40px;
}

.btnWrap-cj .button {
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.stringCj__title { /* заменить на minTilt */
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.createJob-item .datepicker {
  position: absolute;
  top: 100%;
  left: 30px;
}

.input {
  //border: 1px solid #E5E5E5;
  width: 100%;
}

.inputSt-wrap {
  display: block;
  letter-spacing: -5px;
}

.inputSt-wrap * {
  letter-spacing: 0;
}

.inputSt .input {
  width: 100%;
}

.inputSt {
  width: calc(50% - 10px);
  margin-right: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.inputSt:last-child, .inputSt-wrap:last-child {
  margin: 0;
}

.inputSt-wrap {
  margin-bottom: 20px;
}

.discountBox-wrap {
  margin-bottom: 5px;
}

.discountBox-wrap:last-child {
  margin-bottom: 0;
}

.discountBox-wrap .checkbox {
  width: 55%;
  max-width: 100%;
  padding-right: 140px;
}

.absolutField {
  max-width: 120px;
  position: absolute;
  top: -3px;
  right: 0;
}

/* + checkbox */
.checkbox {
  display: inline-block;
  max-width: 241px;
  margin-right: 20px;
  position: relative;
  width: 100%;
  line-height: 1;
  margin-bottom: 0;
}

.checkbox.max {
  max-width: 100%;
  width: 100%;
}
.checkbox.indentCb {
  margin-top: 14px;

  height: 27px;
  //background: rebeccapurple;
}

.createJob-item .checkbox {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
}

.radio label {
  margin: 15px 0;
}

.SalaryBox {
  .SalaryBox__text, .SalaryBox-item, .SalaryBox__number {
    display: inline-block;
    vertical-align: middle;
  }
  .SalaryBox__text, .createJob-item, .SalaryBox-item, .SalaryBox__number {
    margin-right: 10px;
  }
  .SalaryBox__number {
    border: 1px solid #E5E5E5;
    padding: 0px 5px;
    max-width: 75px;
    text-align: center;
    height: 38px;
  }
}

/* - checkbox */

.popupBs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popupBs-in > *{
  display: inline-block;
  vertical-align: middle;
}
.popupBs-in {
  width: calc(100% - 60px);
  text-align: left;
}



/* - dropFiles */

@media screen and (max-width: 1100px) {
  .createJob-item {
    width: calc(33% - 10px);
    margin-right: 10px;
  }
  .amongText {
    width: 155px;
    padding-right: 10px;
  }
  .SalaryBox .SalaryBox-item {
    width: calc(49% - 10px);
    margin-bottom: 10px;
  }
  .createJob-item.min {
    width: 40%;
  }
}

@media screen and (max-width: 1080px) {
  .createJob {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 980px) {
  .discountBox-wrap .checkbox {
    width: 65%;
    max-width: 100%;
  }

  .createJob-item {
    width: calc(49% - 10px);
    margin-right: 10px;
  }
  .amongText {
    margin-bottom: 30px;
    width: 130px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .createJob .discountBox-wrap .checkbox, .SalaryBox .createJob-item.min, .stringCj.indent {
    margin-bottom: 0px;
  }
  .stringCj {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .amongText {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .SalaryBox .SalaryBox-item {
    width: 100%;
  }
  .stringCj {
    margin-bottom: 20px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 10px;
  }

  .multipleSelect .mpsBox {
    left: auto;
    right: -15px;
  }

  .absolutField {
    position: relative;
    display: block;
    margin: 5px 0 10px 35px;
  }

  .discountBox-wrap .checkbox {
    width: calc(90% - 120px);
    margin-right: 10%;
    padding: 0;
  }
  .discountBox {
    vertical-align: top;
  }
}

@media screen and (max-width: 700px) {

  .btn200 {
    width: 180px;
  }
  .createJob-item {
    width: 100%;
    margin-right: 0px;
    display: block;
    max-width: 300px;
  }
  .createJob-item .checkbox {
    position: relative;
    left: 0;
    top: auto;
    margin-top: 10px;
  }
  .createJob-item .datepicker {
    position: relative;
    top: auto;
    left: 0;
    margin-bottom: 10px;
  }
  .SalaryBox .createJob-item {
    display: inline-block;
  }
  .stringCj.indent {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .popupBs .button.shaded {
    margin-right: 10px;
  }
  .createJob-item {
    width: 100%;
    max-width: 100%;
  }
  .createJob-item.okLine {
    width: calc(100% - 99px);
    display: inline-block;
    margin-right: 20px;
  }
  .checkbox.indentCb {
     margin-top: 0px;
  }

  .createJob .button.mobileNone {
    display: none;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .amongText {
    display: block;
    margin-bottom: 15px;
  }
  .discountBox {
    width: auto;
    min-width: auto;
  }

  .checkbox .checkbox__text {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
  }
  .checkbox .checkbox__box {
    vertical-align: top;
  }

  .discountBox-wrap .checkbox {
    width: calc(90% - 110px);
    margin-right: 10%;
  }
  .discountBox-wrap .btnTell-wrap {
    position: absolute;
    left: 100%;
    top: -3px;
  }
  .tellBox {
    left: 100px;
    width: 240px;
  }
  .absolutField {
    margin: 5px 0 10px 30px;
  }

}
