<div class="title-wrap">
    <p class="title" (dblclick)="creatDemo=true">
        {{cS.vacancy._id==null?('vacancy.Create_new_vacancy'|translate):cS.vacancy.positionTitle}}


    </p>
</div>

<!-- + stepsBox -->

<div class="stepsBox" id="stepHead" #box >
    <div *ngFor="let step of steps; let i = index;"
         class="stepsBox__item "
         [ngClass]="{'active': !steps[i].complete,'ready': steps[i].complete,'': steps[i].status==0 }">
        <div
                (click)="stepActive=user.accessPackage.projBmark?i:i+1;setStatus(i)"
                class="stepsBox__number">{{i+1}}
          <!--{{step ? setStep(i) : ''}}-->
        </div>
        <p>{{step.name|translate}}</p>
      <div class="stepsBox__item-line"
           [ngClass]="{'active': steps[i].status==1,'ready': steps[i].status==2,'': steps[i].status==0 }"
      ></div>
    </div>

</div>

<button #creatDemo *ngIf="creatDemo" (click)="cS.creatDemo();setDates()">DEMO</button>

<!-- - stepsBox -->
<div class="boxSide">

    <create-step-1 *ngIf="stepActive==0"></create-step-1>



    <div *ngIf="stepActive==1" class="stepBox aaa">
        <div class="createJob">
            <div class="roundNumber-wrap">
                <p class="roundNumber">{{cS.pay?2:1}}</p>
                <p class="sideTitle">{{'vacancy.Vacancy_details'|translate}}</p>
            </div>
            <div class="stringCj">
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Vacancy_language'|translate}}</p>
                    <app-unity-select
                      [error]="cS.vacancy.languageID"
                      [valueId]="cS.vacancy.languageID"
                      [valid]="cS.validationForms"
                      [title]="'vacancy.Vacancy_language'|translate"
                      [arrIn]="dataService.options.translaterDefault"
                        (arrOut)="cS.vacancy.languageID = parseInt($event.id)"
                    ></app-unity-select>
                </div>
            </div>
            <div class="stringCj">
                <div class="createJob-item zn13" >
                    <p class="textField">{{'vacancy.Position_title'|translate}}*</p>
                  <input-search-autocomplete
                    [ngClass]="{'alert':cS.validationForms&&(!cS.vacancy.positionTitle||cS.vacancy.positionTitle=='')}"
                    [result]="cS.arrPosition"
                    [value]="cS.vacancy.positionTitle"
                    [title]="'vacancy.Position_title'|translate"
                    (query)="cS.getData($event,0)"
                    (queryFull)="cS.getData($event,1)"

                  ></input-search-autocomplete>

                    <!--<input class="input border" [ngClass]="{'alert':cS.validationForms}" type="text" [(ngModel)]="cS.vacancy.positionTitle">-->

                </div>
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Vacancy_type'|translate}}*</p>

                    <app-unity-select
                      [readonly]="cS.vacancy.published_at>dataService.options.server_time"
                      [error]="cS.vacancy.type"
                      [valid]="cS.validationForms"
                      [valueId]="cS.vacancy.type"
                      [title]="'vacancy.Vacancy_type'|translate"
                      [arrIn]="dataService.options.vacancyType"
                      (arrOut)="cS.vacancy.type = $event.id"
                    ></app-unity-select>
                </div>
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Field_of_activity'|translate}}*</p>

                    <app-unity-select
                      [title]="'vacancy.Field_of_activity'|translate"
                      [error]="cS.vacancy.fieldActivity"
                      [valueId]="cS.vacancy.fieldActivity"
                      [valid]="cS.validationForms"
                      [arrIn]="dataService.options.fieldActivity"
                      (arrOut)="cS.vacancy.fieldActivity = $event.id"></app-unity-select>

                </div>
            </div>
            <div class="stringCj">
                <div class="createJob-item ">
                    <p class="textField">{{'vacancy.Occupation_field'|translate}}*</p>

                    <app-unity-select
                      [title]="'vacancy.Occupation_field'|translate"
                      [error]="cS.vacancy.occupationField"
                      [valid]="cS.validationForms"
                      [valueId]="cS.vacancy.occupationField"
                      [arrIn]="dataService.options.occupationField"
                      (arrOut)="cS.vacancy.occupationField = $event.id"></app-unity-select>
                </div>
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Min_education_required'|translate}}</p>

                    <app-unity-select
                      [title]="'vacancy.Min_education_required'|translate"
                      [arrIn]="dataService.options.educationLevelCurrent"
                      [valueId]="cS.vacancy.minEducation"
                      (arrOut)="cS.vacancy.minEducation = $event.id"></app-unity-select>
                </div>
            </div>
            <div class="stringCj"  *ngFor="let lang of cS.vacancy.LanguagesRequired;let i = index">
                <div class="createJob-item zn12">
                    <p class="textField">{{'vacancy.Languages_required'|translate}}</p>
                    <!--<app-unity-select-->
                      <!--[title]="'vacancy.Languages_required'|translate"-->
                      <!--[arrIn]="dataService.options.languages"-->
                      <!--[error]="cS.vacancy.LanguagesRequired[i].languageID"-->
                      <!--[valid]="cS.validationForms"-->
                      <!--[valueId]="cS.vacancy.LanguagesRequired[i].languageID"-->
                      <!--(arrOut)="cS.vacancy.LanguagesRequired[i].languageID =  $event.id"></app-unity-select>-->
                  <input-search-autocomplete
                    [refresh]="user.profile.currentLang"
                    (refreshOut)="setArrLang()"
                    [arrIn]="arrLang"
                    [valueId]="cS.vacancy.LanguagesRequired[i].languageID"
                    [title]="'Language'|translate"
                    (arrOut)="cS.vacancy.LanguagesRequired[i].languageID = $event._id;setLang($event._id)"
                  ></input-search-autocomplete>
                </div>
                <div class="createJob-item min">
                    <p class="textField">{{'vacancy.Level'|translate}}</p>

                    <app-unity-select
                      [title]="'vacancy.Level'|translate"
                      [arrIn]="dataService.options.levels"
                      [valueId]="cS.vacancy.LanguagesRequired[i].levelID"
                      (arrOut)="cS.vacancy.LanguagesRequired[i].levelID =  $event.id"></app-unity-select>

                </div>
                <span class="delete-icon "  (click)="Languages_requiredSplice(i)">
                        <i class="material-icons action-icon">&#xE872;</i>
                        {{'btn.Delete'|translate}}
                    </span>
            </div>

            <a class="blueLink bold"
               [ngClass]="{'alert':cS.validationForms&&(!cS.vacancy.LanguagesRequired||cS.vacancy.LanguagesRequired<1)}"
               (click)="Languages_requiredPush()">+ {{'vacancy.Add_another_language'|translate}}</a>
        </div>
        <div class="createJob">
            <div class="stringCj">
                <div class="checkbox indentCb">
                    <input id="type1" type="checkbox" name="check" [(ngModel)]="cS.vacancy.Previous_work">
                    <label for="type1"><span class="checkbox__box"></span>
                        <p class="checkbox__text">{{'vacancy.Previous_work_experience_required'|translate}}</p></label>
                </div>
                <div class="createJob-item min" *ngIf="cS.vacancy.Previous_work">
                    <p class="textField">{{'vacancy.How_many_years?'|translate}}*</p>
                    <app-unity-select
                      [title]="'vacancy.How_many_years?'|translate"

                      [arrIn]="[
                      {id:1,text:'1'},
                      {id:2,text:'2'},
                      {id:3,text:'3'},
                      {id:4,text:'4'},
                      {id:5,text:'5'},
                      {id:10,text:'10+'}
                      ]"
                      [valueId]="cS.vacancy.experience_work"
                      (arrOut)="cS.vacancy.experience_work = $event.id"></app-unity-select>
                </div>
            </div>
            <div class="stringCj indent">
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Worktime'|translate}}*</p>
                    <app-multiple-select
                      [keyOff]="['text']"
                      [typeOut]="0"
                      [error]="cS.vacancy.Worktime.length==0&&cS.validationForms"

                      [valueId]="cS.vacancy.Worktime"
                      [title]="'vacancy.Worktime'|translate"
                      [arrIn]="dataService.options.workTime"
                      (arrOut)="cS.vacancy.Worktime = $event"></app-multiple-select>
                </div>
                <div class="createJob-item">
                    <p class="textField">{{'vacancy.Location'|translate}}*</p>
                    <address-select
                      [error]="cS.vacancy.address"
                      [valid]="cS.validationForms"
                            (Address)="cS.vacancy.address=$event"
                            [addr]="cS.vacancy.address"
                            [types]="['(cities)']"
                            [placeholder]="cS.vacancy.address"
                    ></address-select>




                    <div class="checkbox">
                        <input id="type2" type="checkbox" name="check" [(ngModel)]="cS.vacancy.Remote_work">
                        <label for="type2"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'vacancy.Remote_work'|translate}}</p></label>
                    </div>
                </div>
                <div class="createJob-item" *ngIf="cS.vacancy.type==0 || cS.vacancy.type==1">
                    <p class="textField">{{'vacancy.Scholarship_offer'|translate}}</p>
                    <app-multiple-select


                      [title]="'vacancy.Scholarship_offer'|translate"
                      [typeOut]="1"
                      [valueId]="cS.vacancy.scholarshipOffer"
                      [arrIn]="dataService.options.scholarshipOffer"
                      (arrOut)="cS.vacancy.scholarshipOffer = $event.id"></app-multiple-select>
                </div>
            </div>
            <div class="stringCj">
                <p class="textField">{{'vacancy.Desired_personality_traits'|translate}}</p>
                <!--<textarea class="textarea" name="" rows="5" placeholder="Specify…" [(ngModel)]="cS.vacancy.Desired_personality_traits"></textarea>-->
              <multiselect-autocopmplete-area
                [items]="cS.vacancy.Desired_personality_traits?cS.vacancy.Desired_personality_traits:[]"
                [keyOff]="[]"
                [skills]="dataService.options.characterStrenght"
                (outList)="cS.vacancy.Desired_personality_traits = $event"
              ></multiselect-autocopmplete-area>
            </div>
            <div class="stringCj">

                <p class="textField">{{"vacancy.Assotiated_key_skills" | translate}}</p>
                <div class="lampText min indent">
                    {{"AssociatedKeySkillDescription" | translate}}
                </div>
                <multiselect-autocopmplete-area
                  [items]="cS.vacancy.keySkills?cS.vacancy.keySkills:[]"
                  [keyOff]="[]"

                  [skills]="dataService.options.otherSpecificSkills"
                  (outList)="cS.vacancy.keySkills = $event"
                ></multiselect-autocopmplete-area>
            </div>
        </div>
        <div class="createJob">
            <div class="stringCj indent">
                <p class="stringCj__title">{{'vacancy.dateDoc'|translate}}  </p>
                <div class="createJob-item top">
                    <div class="radio">
                        <input id="work31" type="radio" name="contract_dates" (click)="cS.vacancy.contract.def=null;setDates()" [value]="1" [(ngModel)]="contract_date">
                        <label for="work31"><span></span>
                            <p class="radio__text">{{'vacancy.Contr'|translate}}</p>
                        </label>

                        <input id="work312" type="radio" name="contract_dates" [value]="0"  [(ngModel)]="contract_date">
                        <label for="work312"><span></span>
                            <p class="radio__text">{{'vacancy.SetOnldC'|translate}}</p>
                        </label>
                    </div>

                    <div class="datepicker" *ngIf="contract_date==0||cS.vacancy.contract.def">
                        <my-date-range-picker
                            name="mydate"
                            [(ngModel)]="dates.contractDef"
                            [options]="myDateRangePickerOptions"
                            required
                            (dateRangeChanged)="onDateRangeChanged($event)"
                        ></my-date-range-picker>
                    </div>
                </div>
                <div class="createJob-item indent top" *ngIf="contract_date==1" >
                    <p class="textField">{{'vacancy.WstCon?'|translate}}</p>
                    <div class="radio">
                        <input id="work315" type="radio" name="contract_starts" [value]="0" [(ngModel)]="contract_start">
                        <label for="work315"><span></span>
                            <p class="radio__text">{{'vacancy.dstart'|translate}}</p>
                        </label>

                        <input id="work3126" type="radio" name="contract_starts" (click)="cS.vacancy.contract.start = null;setDates()" [value]="1" [(ngModel)]="contract_start">
                        <label for="work3126"><span></span>
                            <p class="radio__text">{{'vacancy.stWaspos'|translate}}</p>
                        </label>
                    </div>
                    <div class="datepicker" *ngIf="contract_start==0" >

                        <my-date-picker
                          name="mydate"
                          [options]="myDatePickerOptionsstart"
                          [selDate]="dates.contractStart"
                          (dateChanged)="cS.vacancy.contract.def=null;cS.vacancy.contract.start = $event.epoc;setOptStart($event.epoc)"
                                        required></my-date-picker>
                    </div>
                </div>
                <div class="createJob-item top"  *ngIf="contract_date==1">
                    <p class="textField">{{'vacancy.WendCon?'|translate}}</p>
                    <div class="radio">
                        <input id="work99" type="radio" name="contract_starts2" [value]="0" [(ngModel)]="contract_end">

                        <label for="work99"><span></span>
                            <p class="radio__text">{{'vacancy.debdart'|translate}}</p>
                        </label>

                        <input id="work98" type="radio" name="contract_starts2" (click)="cS.vacancy.contract.end = null;setDates()" [value]="1" [(ngModel)]="contract_end">
                        <label for="work98"><span></span>
                            <p class="radio__text">{{'vacancy.nendd'|translate}} </p>
                        </label>
                    </div>
                    <div class="datepicker"  *ngIf="contract_end==0" >

                        <my-date-picker
                          name="mydate"
                          [options]="myDatePickerOptionsend"
                          [selDate]="dates.contractEnd"
                          (dateChanged)="cS.vacancy.contract.def=null;cS.vacancy.contract.end = $event.epoc;setOptEnd($event.epoc)"
                                         required></my-date-picker>
                    </div>
                </div>
            </div>
            <div class="stringCj">
                <div class="stringCj__title">{{'vacancy.applDed'|translate}}
                    <div class="btnTell-wrap">
                        <i class="material-icons btnTell">&#xE88E;</i>
                        <div class="tellBox">{{'tooltips.maximumPublicationTime' | translate}}</div>
                    </div>
                </div>
                <div class="datepicker" [ngClass]="{'alert':cS.validationForms&&(!cS.vacancy.deadLine)}">
                    <my-date-picker *ngIf="myDatePickerOptionsDeadline"
                      [selDate]="deadLine"
                      name="mydatedeadline"
                      [options]="myDatePickerOptionsDeadline"
                                    (dateChanged)="cS.vacancy.deadLine = $event.epoc;setDeadline($event.epoc)"

                                    required></my-date-picker>
                </div>
            </div>
        </div>
        <div class="createJob">
            <div class="stringCj">
                <p class="stringCj__title">{{'vacancy.Salary'|translate}}</p>
                <div class="SalaryBox">
                    <div class="SalaryBox-item" *ngIf="!cS.vacancy.salary.hide">
                        <p class="SalaryBox__text">
                          {{'From'|translate}}
                        </p>
                        <div class="createJob-item min">

                            <app-unity-select
                              [title]="'monthly'"
                              [valueId]="cS.vacancy.salary.type"
                              [arrIn]="dataService.options.salary"
                              (arrOut)="cS.vacancy.salary.type = $event.id"
                            ></app-unity-select>

                        </div>
                        <input class="input short" type="text"  [maxLength]="8" #summ1 (change)="cS.vacancy.salary.summ = parseFloatSalary(summ1.value)" [(ngModel)]="cS.vacancy.salary.summ">
                      {{'To'|translate}}
                      <input class="input short" type="text" [maxLength]="8" #summ2 (change)="cS.vacancy.salary.summ2 = parseFloatSalary(summ2.value)" [(ngModel)]="cS.vacancy.salary.summ2">
                        <!--<input class="input short" type="text" [textMask]="{mask: salaryMask,guide:false}" >-->
                      <!--{{'To'|translate}}-->
                    </div>

                    <div class="checkbox">
                        <input id="type31f" type="checkbox" name="check" [value]="false" [(ngModel)]="cS.vacancy.salary.hide">
                        <label for="type31f"><span class="checkbox__box"></span>
                            <p class="checkbox__text" >{{'not_sp_sal'|translate}}</p></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="stepActive==2" class="stepBox ">
        <div class="createJob">
            <div class="roundNumber-wrap">
                <p class="roundNumber">{{cS.pay?3:2}}</p>
                <p class="sideTitle">{{'Description'|translate}}</p>
            </div>
            <div class="stringCj">
                <div class="radio">
                    <input id="work41" type="radio" checked="checked" name="createVacStep3" [(ngModel)]="cS.vacancy.descriptionStep" [value]="1" (change)="changeStep(1)">
                    <label for="work41"><span></span>
                        <div class="radio__text">{{'vacancy.entjdesc'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{'vacancy.ftusandS'|translate}}</div>
                            </div>
                        </div>
                    </label>
                    <input id="work43" type="radio" name="createVacStep3"  [value]="2" [(ngModel)]="cS.vacancy.descriptionStep" (change)="changeStep(2)">
                    <label for="work43"><span></span>
                        <p class="radio__text">{{'vacancy.dPDFfJob'|translate}}</p></label>
                    <input id="work43d" type="radio" name="createVacStep3"  [value]="3"  [(ngModel)]="cS.vacancy.descriptionStep" (change)="changeStep(3)">
                    <label for="work43d"><span></span>
                        <div class="radio__text">{{'vacancy.UsyoHR'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{'vacancy.Fbuexsea'|translate}}</div>
                            </div>
                        </div>

                    </label>

                </div>
            </div>
            <div class="stringCj" *ngIf="cS.vacancy.descriptionStep==1">
                <p class="textField">{{'input.shdesc'|translate}}</p>
                <textarea class="textarea indent" rows="5"
                          [maxLength]="2000"
                          [(ngModel)]="cS.vacancy.shotDescription"></textarea>

                <p class="textField">{{'input.roleTasks'|translate}}</p>
                <textarea
                  [ngClass]="{'alert':cS.vacancy.descriptionStep==1&&cS.validationForms&&(!cS.vacancy.roleTasks)}"
                  [maxLength]="2000" class="textarea indent" rows="5" [(ngModel)]="cS.vacancy.roleTasks"></textarea>

                <p class="textField">{{'input.requirements'|translate}}</p>
                <textarea  [maxLength]="2000" class="textarea indent" rows="5" [(ngModel)]="cS.vacancy.requirements"></textarea>

                <p class="textField">{{'input.weOffer'|translate}}</p>
                <textarea  [maxLength]="1500" class="textarea indent" rows="5" [(ngModel)]="cS.vacancy.weOffer"></textarea>
            </div>
            <div class="stringCj" *ngIf="cS.vacancy.descriptionStep==2">
                <file-list
                        [FilesList]="cS.vacancy.uploadFiles?cS.vacancy.uploadFiles:null"
                        (change)="cS.vacancy.uploadFiles = $event"
                ></file-list>

                <uploader  [alertUploader]="cS.vacancy.descriptionStep==2&&cS.validationForms&&(!cS.vacancy.uploadFiles)"

                        [inputStyle]="'drop'"
                        [fileTypes]="['pdf', 'bmp', 'gif', 'jpeg', 'jpg', 'png']"
                        [multiple] = "false"
                        (file)="cS.vacancy.uploadFiles=[$event]"
                ></uploader>

            </div>
            <div class="stringCj" *ngIf="cS.vacancy.descriptionStep==3">
                <input type="url"
                       [ngClass]="{'alert':cS.vacancy.descriptionStep==3&&cS.validationForms&&!cS.vacancy.vacancyUrl}"
                       class="inputUrl" placeholder="{{'url_site'|translate}}" [(ngModel)]="cS.vacancy.vacancyUrl">

            </div>
        </div>
    </div>

    <div *ngIf="stepActive==3" class="stepBox ">
        <div class="createJob">
            <div class="roundNumber-wrap">
                <p class="roundNumber">{{cS.pay?4:3}}</p>
                <p class="sideTitle">{{'vacancy.appaCon'|translate}}</p>
            </div>
            <div class="stringCj">
                <p class="stringCj__title">{{'vacancy.hwyTAp'|translate}}</p>
                <div class="radio">
                    <input id="work3d" name="gender" type="radio" [value]="1" [(ngModel)]="aplicatCont" (click)="cS.vacancy.aplicatCont=null">
                    <label for="work3d"><span></span>
                        <p class="radio__text">{{'vacancy.lemailnot'|translate}}</p>
                    </label>
                    <input id="work31h" name="gender" type="radio" [value]="0" [(ngModel)]="aplicatCont">
                    <label for="work31h"><span></span>
                        <p class="radio__text">{{'vacancy.sappextApp'|translate}}</p>
                    </label>
                </div>
                <input *ngIf="aplicatCont==0" type="text" class="inputUrl" placeholder="{{'Specify_URL'|translate}}" [(ngModel)]="cS.vacancy.aplicatCont">
            </div>
        </div>
    </div>

    <div *ngIf="stepActive==4" class="stepBox ">
        <div class="createJob">
            <div class="roundNumber-wrap">
                <p class="roundNumber">{{cS.pay?5:4}}</p>
                <p class="sideTitle">{{'vacancy.ConInfo'|translate}}</p>
            </div>

            <div class="stringCj">
                <p class="stringCj__title">{{'vacancy.wlShCInf'|translate}} </p>
                <div class="radio">
                    <input id="work3c" name="gender" type="radio" [value]="1" [(ngModel)]="cS.vacancy.showInfo">
                    <label for="work3c"><span></span>
                        <div class="radio__text">{{'vacancy.shConInf'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{'vacancy.fBettex'|translate}}</div>
                            </div>
                        </div>

                    </label>
                    <input id="work31c" name="gender" type="radio" [value]="0" [(ngModel)]="cS.vacancy.showInfo">
                    <label for="work31c"><span></span>
                        <div class="radio__text">{{'vacancy.hConInf'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{'vacancy.fBettanS'|translate}}</div>
                            </div>
                        </div>

                    </label>
                </div>
            </div>

            <div class="stringCj" *ngIf="cS.vacancy.showInfo==1">
                <div class="inputSt-wrap">
                    <div class="inputSt">
                        <p class="textField">{{'vacancy.ConPer'|translate}}</p>
                        <input  [maxLength]="40" class="input border" type="text"  [(ngModel)]="cS.vacancy.contactPerson">
                    </div>
                    <div class="inputSt">
                        <p class="textField">{{'vacancy.ConPerpos'|translate}}</p>
                        <input
                          [maxLength]="50"
                          class="input border" type="text" [(ngModel)]="cS.vacancy.contactPersonPosition">
                    </div>
                </div>
                <div class="inputSt-wrap">
                    <div class="inputSt">
                        <p class="textField">{{'vacancy.phNum'|translate}}</p>
                        <input
                          [maxLength]="25"
                          class="input border" type="text" [textMask]="{mask:dataService.phoneMask}" [(ngModel)]="cS.vacancy.phoneNumber">
                    </div>
                    <div class="inputSt">
                        <p class="textField">{{'vacancy.conEmail'|translate}}</p>
                        <!--<input-->
                          <!--class="input border"-->
                          <!--type="text"-->
                          <!--[maxLength]="70"-->
                          <!--[ngClass]="{'alert':cS.validationForms&&!cS.vacancy.contactEmail}"-->
                          <!--[textMask]="{mask:dataService.emailMask}"-->
                          <!--[(ngModel)]="cS.vacancy.contactEmail">-->
                        <input
                          class="input border"
                          type="text"
                          [maxLength]="70"
                          [textMask]="{mask:dataService.emailMask}"
                          [(ngModel)]="cS.vacancy.contactEmail">
                    </div>
                </div>

            </div>

            <div class="stringCj">
                <div class="checkbox max">
                    <input id="type1e" type="checkbox" name="check" [value]="true"  [(ngModel)]="cS.vacancy.messages">
                    <label for="type1e"><span class="checkbox__box"></span>
                        <p class="checkbox__text">{{'cont_info_messages'|translate}}</p></label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="stepActive==5||stepActive==6" class="stepBox ">
      <app-step-promotion></app-step-promotion>
    </div>



    <div class="paginalBtn">
        <div *ngIf="(cS.pay&&stepActive>0)||(!cS.pay&&stepActive>1)" (click)="pageFlip(-1)" class="button previous"><span class="btnArr"></span> {{'Previous'|translate}}</div>
        <div *ngIf="cS.pay?(stepActive<steps.length-1):(stepActive-1<steps.length-1)" (click)="pageFlip(1)" class="button next">{{'Next'|translate}} <span class="btnArr"></span></div>
    </div>
</div>
<div class="popupBs">
    <div class="popupBs-in">
    <button class="button shaded" (click)="cS.saveVacancy()">{{'Save'|translate}}</button>

    <div class="checkbox mobileNone">
        <input id="type122" name="check" checked="checked" type="checkbox" [value]="true" [(ngModel)]="cS.vacancy.publish">
        <label for="type122"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'btn.publish_vacancy'|translate}}</p></label>
    </div>
    </div>
  <button class="text-ic" *ngIf="cS.vacancy._id" [routerLink]="['/vacancy/details',cS.vacancy._id]" >
    <i class='icon remove_eye_black'></i>
    &nbsp;<p class="text-ic__text">{{'btn.View'|translate}}</p>
  </button>



</div>
