<style>
  input{
    width: 90%;
  }
</style>
<div *ngFor="let obk of objectKeys">
  <div *ngIf="key==obk||obKey+'.'+obk==key">
    {{key}}
    <div *ngIf="obKey+'.'+obk==key">
      <div>RU:<input [(ngModel)]="tS.transl['RU'][obKey][obk]" type="text">&nbsp;</div>
      <div>EN:<input [(ngModel)]="tS.transl['EN'][obKey][obk]" type="text">&nbsp;</div>
      <div>ET:<input [(ngModel)]="tS.transl['ET'][obKey][obk]" type="text"></div>
    </div>
    <div *ngIf="key==obk">
      <div>RU:<input [(ngModel)]="tS.transl['RU'][key]" type="text">&nbsp;</div>
      <div>EN:<input [(ngModel)]="tS.transl['EN'][key]" type="text">&nbsp;</div>
      <div>ET:<input [(ngModel)]="tS.transl['ET'][key]" type="text"></div>
    </div>
    <button (click)="save()">SAVE</button>
  </div>
  <div *ngIf="key.indexOf(obk)+1==0">&nbsp;</div>
</div>
