<span *ngIf="dateTime&&!days">{{'Posted'|translate}}: {{dS.dateConvert(dateTime-86400*30) | date: 'dd.MM.yyyy'}}</span>
<span *ngIf="dateTime&&days&&hS.Math_ceil((dateTime-hS.getUnixTimestamp())/86400)>=0"class="dateText desNone">
  {{date}}

  {{dateT==0?('min'|translate):null}}
  {{dateT==1?('hour'|translate):null}}
  {{dateT==2?('day'|translate):null}}
</span>
