
<div class="column">
  <div class="boxList">
    <a class="sideTitle" [routerLink]="['/messages']" [routerLinkActive]="['is-active']">
      {{ 'sidebarInformation.Messages' | translate }}<span class="mesengerUsb"  *ngIf="mS.countNew>0">
      {{mS.countNew}}</span>
    </a>
  </div>

  <!--<div class="boxList">-->
    <!--<a class="sideTitle" (click)="popS.initPops()"> {{ 'sidebarInformation.Notifications' | translate }}<span-->
            <!--class="mesengerUsb act">{{popS.pops.length}}</span></a>-->
  <!--</div>-->
  <div class="boxList boxList-accord">
    <p class="sideTitle" (click)="toggleAccordion($event)" >{{ 'sidebarInformation.Account' | translate }}</p>

    <ul class="list__ul">
      <li class="list__li">
        <a [routerLink]="['/account/userdata']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.User_Data' | translate }} <i
          class="ic_warning_red icon icon" *ngIf="user.GetPrsUserdataComplete() < 100"></i></a></li>
      <li class="list__li">
        <a [routerLink]="['/account/verify']" *ngIf="!user.profile.smartId" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Account_Verify' | translate }}
          <i class='icon ic_warning_red' *ngIf="!user.profile.smartId"></i>
          <i class='icon ic_verified_user_birch' *ngIf="user.profile.smartId"></i>


        </a></li>
      <li class="list__li" *ngIf="user.accessRight==0">
        <a [routerLink]="['/account/subaccounts']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Subaccounts' | translate
          }} </a></li>
      <li class="list__li">
        <a [routerLink]="['/account/settings']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Account_Settings' | translate
          }} </a></li>
    </ul>
  </div>

  <div class="boxList boxList-accord">
    <div class="sideTitle ptr" (click)="toggleAccordion($event)">{{ 'sidebarInformation.Company' | translate }}

      <a class="sideTitle">
        <app-progress-prc [prc]="user.GetPrsCompanyInformationComplete()"></app-progress-prc>
      </a>

    </div>
    <ul class="list__ul">
      <li class="list__li">
        <a [routerLink]="['/account/information']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Company_information' | translate
          }}</a></li>
      <li class="list__li">
        <a [routerLink]="['/account/rating']" [ngClass]="{'disabledLink': !user.accessPackage.rating}" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Company_rating' | translate
          }}</a>
      </li>
      <li class="list__li" *ngIf="user.accessRight==0">
        <a [routerLink]="['/account/services']" class="list__link" [routerLinkActive]="['is-active']">{{"MyServices" | translate}}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/invoices']" class="list__link" [routerLinkActive]="['is-active']">{{'Invoices' | translate}}</a>
      </li>
    </ul>
  </div>



  <div class="boxList boxList-accord active">
    <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'sidebarInformation.Tools' | translate }}</p>
    <ul class="list__ul">

      <li class="list__li">
        <a  [routerLink]="['/vacancy/create/new']" class="list__link" [routerLinkActive]="['is-active']">{{ 'create-new-vacancy' |
          translate }}</a></li>
      <li class="list__li">
        <a [routerLink]="['/vacancy/list']" class="list__link" [routerLinkActive]="['is-active']">{{
          'sidebarInformation.Your_vacancies_applicants' | translate }}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/match-candidates']" [ngClass]="{'disabledLink': !user.accessPackage.match}" class="list__link" [routerLinkActive]="['is-active']">{{
          'sidebarInformation.Match_candidates' | translate }}</a>
      </li>


      <li class="list__li">
        <a [routerLink]="['/resume/search']" [ngClass]="{'disabledLink': !user.accessPackage.search}" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Search_candidates' |
          translate }}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/saved-search']" [ngClass]="{'disabledLink': !user.accessPackage.search}" class="list__link" [routerLinkActive]="['is-active']">{{
          'sidebarInformation.Saved_searches_and_alerts' | translate }}</a>
      </li>


      <li class="list__li">
        <a [routerLink]="['/account/bookmarked-resume']" class="list__link" [ngClass]="{'disabledLink': !user.accessPackage.projBmark}" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Bookmarked_candidates' |
          translate }}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/account/projects']" class="list__link" [ngClass]="{'disabledLink': !user.accessPackage.projBmark}" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Projects' | translate }}</a>
      </li>

      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/FAQ-and-tips']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.FAQ_and_tips' | translate }}</a>-->
      <!--</li>-->


      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/vacancy/applist','all',3]" class="list__link" [routerLinkActive]="['is-active']">ApplicantListComponent</a>-->
      <!--</li>-->
      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/bookmarked-candidates']" class="list__link" [routerLinkActive]="['is-active']">bookmarked-candidates</a>-->
      <!--</li>-->
      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/hidden-vacancy.component']" class="list__link" [routerLinkActive]="['is-active']">hidden-vacancy</a>-->
      <!--</li>-->
      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/candidate-resumes.component']" class="list__link" [routerLinkActive]="['is-active']">candidate-resumes.component</a>-->
      <!--</li>-->

      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/organization-details.component']" class="list__link" [routerLinkActive]="['is-active']">organization-details.component</a>-->
      <!--</li>-->


    </ul>
  </div>

</div>
