<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div id="anchor" class="sideContent">
  <span style="display: none">{{'default'|translate}}</span>
    <div class="title-wrap">
        <p class="title">{{ 'account.Bookmarked_candidates' | translate }}</p>

        <div class="wrap-select">
            <div class="selectBox">
                <app-unity-select
                        [valueId]="filterVal"
                        [arrIn]="settingsFilter()"
                        [title]="'Status'|translate"
                        (arrOut)="setFilter($event.id)"
                ></app-unity-select>
            </div>
        </div>
    </div>
    <div class="boxSide">
        <div class="accordionFt">
            <div class="accordionFt-item" *ngFor="let project of progetsList;let pr=index">
                <input id="ft1{{project._id}}" type="checkbox" name="acardionFt{{project._id}}">
                <label for="ft1{{project._id}}">
                    <div class="lineFt">
                        <div class="row-wrap">
                            <div class="col-v5 col-m10"><p class="sideTitle">
                                {{translate.get(project.name)['value']}}</p></div>
                            <div class="col-v5 col-m10 right">
                                <button class="text-ic" *ngIf="project._id!='default'">
                                    <i class="icon edit-black" [routerLink]="['/account/projects',project._id]"></i>
                                    <p class="text-ic__text" [routerLink]="['/account/projects',project._id]">
                                        {{'Edit_project'|translate}}</p>
                                </button>
                                <div class="allocateText blue-bc">{{getProgectCount(project)}}
                                    {{'candidates'|translate}}
                                </div>
                            </div>
                        </div>
                        <span class="arrowFt"></span>
                    </div>
                </label>
                <div class="contentFt-wrap ">
                    <div class="contentFt" *ngFor="let sett of project.types;let i=index">
                        <input id="at1{{sett.id+project._id}}" type="checkbox" name="{{'acardionAt'+sett.id}}"
                               (click)="sett.show=!sett.show">
                        <label for="at1{{sett.id+project._id}}">
                            <div class="lineAt">
                                <div class="row-wrap">
                                    <div class="col-v6 col-m10"><p class="minTilt">{{sett.text|translate}} </p></div>
                                    <div class="col-v4 col-m10 right">
                                        <div class="allocateText transparent-bc">
                                            {{sett.resumes.length}} {{'candidates'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="arrowAr"></div>
                            </div>
                        </label>
                        <div class="contentAt active" *ngIf="sett.show">

                            <div class="contentAt-filter">
                                <div class="btnTabs-wrap">
                                    <button class="btnTabs " (click)="sortAdded=!sortAdded;sort_resumes(sett.resumes)"
                                            [ngClass]="{'down':sortAdded}">
                                        <span class="btnTabs__text">{{'Added'|translate}}</span>
                                        <span class="btnTabs__arr"></span>
                                    </button>
                                    <button class="btnTabs"
                                            (click)="sortratingProfile=!sortratingProfile;sort_resumes(sett.resumes)"
                                            [ngClass]="{'down':sortratingProfile}">
                                        <span class="btnTabs__text">{{'Profile_rating'|translate}}</span>
                                        <span class="btnTabs__arr"></span>
                                    </button>
                                </div>


                                <button class="text-ic mobileNone" (click)="vallnotes(sett.resumes)">
                                    <i class="icon ic_format_align_left_black"></i>
                                    <p class="text-ic__text">{{'vallnotes'|translate}} </p>
                                </button>
                            </div>
                          <app-resume-list-modules
                            *ngIf="sett.resumes.length>0"
                            [resumeIds]="sett.resumes"
                            [access]="uS.accessPackage.projBmark"
                            [btnView] = "true"
                            [btnBookmark] = "true"
                            [viewCoverLetter] = "true"

                            [btnNotes]="true"
                            [btnContact]="true"
                            [bookmarkLine]="true"
                            [btnCoverLetter]="false"
                            [class]="'addRating-text bookmaredRating'"
                            (changeBookmark)="project.types = initTypes(project._id,false)"
                            (changeProject)="initProjects()"
                            (changeType)="project.types = initTypes(project._id,false)"
                          ></app-resume-list-modules>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
