<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
  <div class="title-wrap ">
    <div class="title">  {{"MyResumeStatistic.title" | translate}}</div>
  </div>

  <div class="boxSide">
    <div class="boxSide-item">
      <p class="lampText min indent">
        {{"MyResumeStatistic.desc" | translate}}
      </p>

      <div class="row-wrap">
        <div class="col-v5 col-m10">
          <div class="checkbox">
            <input id="type31" type="checkbox" name="check" [value]="true" [(ngModel)]="filterSearch">
            <label for="type31"><span class="checkbox__box"></span>
              <p class="checkbox__text"><span class="roundSt"></span> {{'Search_Appearance'|translate}}</p></label>
          </div>
          <div class="checkbox">
            <input id="type3c" type="checkbox" name="check" [value]="true" [(ngModel)]="filterViwe">
            <label for="type3c"><span class="checkbox__box"></span>
              <p class="checkbox__text"><span class="roundSt birch"></span>{{'CV_viwe'|translate}} </p>
            </label>
          </div>
          <div class="checkbox">
            <input id="type3c1" type="checkbox" name="check" [value]="true" [(ngModel)]="filterBook">
            <label for="type3c1"><span class="checkbox__box"></span>
              <p class="checkbox__text"><span class="roundSt blue"></span>{{'CV_bookmarked'|translate}} </p>
            </label>
          </div>


        </div>
        <div class="col-v5  col-m10 indent">
          <div class="select-wrap">
            <p class="textField dark">{{'CV'|translate}}</p>
            <app-unity-select *ngIf="resumes.length>0"
              [title]="'CV'"
              [arrIn]="resumes"
              (arrOut)="setfilterResume($event.id)"
            ></app-unity-select>
          </div>
          <div class="select-wrap">
            <p class="textField dark">{{'Statistics_period'|translate}}</p>
            <app-unity-select
              [title]="'Statistics period'"
              [arrIn]="dataService.options.period_last"
              (arrOut)="setfilterTime($event.id)"
            ></app-unity-select>
          </div>

        </div>
      </div>


      <graphic

        [filterSearch]="filterSearch"
        [filterViwe]="filterViwe"
        [filterBook]="filterBook"
        [filterPeriodId]="periodId"
        [filterResumeId]="resumeId"
      ></graphic>


    </div>
  </div>
</div>
