<div class="column">
  <div class="boxList">
    <a class="sideTitle"  [routerLink]="['/messages']"> {{ 'sidebarInformation.Messages' | translate }}<span class="mesengerUsb"  *ngIf="mS.countNew>0">{{mS.countNew}}</span></a>
  </div>
  <!--<div class="boxList">-->
    <!--<a class="sideTitle"  (click)="popS.initPops()"> {{ 'sidebarInformation.Notifications' | translate }}<span-->
            <!--class="mesengerUsb act">87</span></a>-->
  <!--</div>-->
  <div class="boxList boxList-accord">
    <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'sidebarInformation.Account' | translate }}</p>

    <ul class="list__ul">
      <li class="list__li">
        <a [routerLink]="['/account/userdata']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.User_Data' | translate }} <i
          class="ic_warning_red icon icon" *ngIf="user.GetPrsUserdataComplete() < 100"></i></a></li>
       <li class="list__li">
        <a [routerLink]="['/account/settings']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Account_Settings' | translate
          }} </a></li>
    </ul>
  </div>

  <div class="boxList boxList-accord">
    <div class="sideTitle" (click)="toggleAccordion($event)">{{ 'sidebarInformation.Organization' | translate }}
    </div>
    <ul class="list__ul">
      <li class="list__li">
        <a [routerLink]="['/account/organization']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Organization_profile' | translate
          }}</a></li>
    </ul>
  </div>



  <div class="boxList boxList-accord active">
    <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'sidebarInformation.Tools' | translate }}</p>
    <ul class="list__ul">

      <li class="list__li">
        <a [routerLink]="['/recomendations']" class="list__link" [routerLinkActive]="['is-active']">{{"Recommendations" | translate}}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/educators-list']" class="list__link" [routerLinkActive]="['is-active']">{{"EducatorsList" | translate}}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/recomendations']" class="list__link" [routerLinkActive]="['is-active']">{{"rec.titleMake" | translate}}</a>
      </li>
      <li class="list__li">
        <a [routerLink]="['/recomendations']" class="list__link" [routerLinkActive]="['is-active']">{{"YourSchoolsStatistic" | translate}}</a>
      </li>

      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/FAQ-and-tips']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.FAQ_and_tips' | translate }}</a>-->
      <!--</li>-->

    </ul>
  </div>

