<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">Subaccounts</p>
    </div>

    <div class="lampText min">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    </div>
    <p class="sideTitle indent">You own main account for Google Corporation LTD</p>

    <div class="subacountBox">
        <p class="minTilt">Invite other people to your company:</p>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <p class="textField">Email address</p>
                    <input class="input border" type="text">
                </div>
                <div class="selectSb-wrap">
                    <div class="textField">Type of access
                        <div class="btnTell-wrap">
                            <i class="material-icons btnTell">&#xE88E;</i>
                            <div class="tellBox">For better user experience and search results</div>
                        </div>
                    </div>
                    <app-unity-select [title]="'Full access'" [arrIn]="[]"
                                      (arrOut)="$event"></app-unity-select>
                </div>
                <div class="statusSb-wrap">
                    <button class="button shaded min">{{"Invite" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="subacountBox">
        <p class="minTilt">Additional accounts in your company:</p>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <div class="sideTitle">John Doe Junior <span class="textField">(full access)</span>
                        <a class="blueLink">john.doe@googlecorporation.com</a>
                    </div>
                </div>
                <div class="selectSb-wrap">

                </div>
                <div class="statusSb-wrap">
                    <div class="text-ic">
                        <i class='icon completed-blue'></i>
                        <p class="text-ic__text">Active </p>
                        <span class="text-ic__minText">01.01.2017</span>
                    </div>
                </div>
                <div class="edit-wrap">
                    <button class="text-ic">
                        <i class='icon edit-black'></i>
                        <p class="text-ic__text">Edit</p>
                    </button>
                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <i class="icon delete-forever-black"></i>
                        <p class="text-ic__text">Delete</p>
                    </button>
                </div>

            </div>
            <div class="boxSide-hidden"><!-- добавить active -->
                <div class="textSb-wrap">
                    <p class="textField">Email address</p>
                    <p class="post"> john.doe@googlecorporation.com</p>
                </div>
                <div class="selectSb-wrap">
                    <div class="textField">Type of access
                        <div class="btnTell-wrap">
                            <i class="material-icons btnTell">&#xE88E;</i>
                            <div class="tellBox">For better user experience and search results</div>
                        </div>
                    </div>
                    <app-unity-select [title]="'Full access'" [arrIn]="arrIn"
                                      (arrOut)="arrOut = countChange($event)"></app-unity-select>
                </div>
                <div class="statusSb-wrap">
                    <div class="checkbox">
                        <input id="Suspend1" type="checkbox" name="check" value="">
                        <label for="Suspend1"><span class="checkbox__box"></span>
                            <p class="checkbox__text">Suspend</p></label>
                    </div>
                </div>
                <div class="edit-wrap">
                    <button class="button shaded min">{{"Invite" | translate}}</button>
                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <i class="service-icon cance-iconl"></i>
                        <p class="text-ic__text">Delete</p>
                    </button>
                </div>

            </div>
        </div>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <div class="sideTitle">John Doe Junior <span class="textField">(full access)</span>
                        <a class="blueLink">john.doe@googlecorporation.com</a>
                    </div>
                </div>
                <div class="selectSb-wrap">

                </div>
                <div class="statusSb-wrap">
                    <div class="text-ic">
                        <i class='icon suspended-red'></i>
                        <p class="text-ic__text">Suspended </p>
                        <span class="text-ic__minText">01.01.2017</span>
                    </div>
                </div>
                <div class="edit-wrap">
                    <button class="text-ic">
                        <i class='icon edit-black'></i>
                        <p class="text-ic__text">Edit</p>
                    </button>
                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <i class="icon delete-forever-black"></i>
                        <p class="text-ic__text">Delete</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <div class="sideTitle">
                        <a class="blueLink">john.doe@googlecorporation.com</a>
                        <span class="textField">(view only)</span>
                    </div>
                </div>
                <div class="selectSb-wrap">

                </div>
                <div class="statusSb-wrap">
                    <div class="text-ic">
                        <i class='icon invited-grey'></i>
                        <p class="text-ic__text">Invited </p>
                        <span class="text-ic__minText">01.01.2017</span>
                    </div>
                </div>
                <div class="edit-wrap">

                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <i class="icon delete-forever-black"></i>
                        <p class="text-ic__text">Delete</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
