<profile-title></profile-title>


<div class="boxSide">

    <profile-userline
            [text]="user.profile.first_name+' '+user.profile.last_name"
            [subtext]="user.profile.type_profile"
            [btn]="'logout'"
    ></profile-userline>

    <div class="profileBox">
        <div class="profileBox-left">
            <profile-resumebox
                    [items]="user.profile.Student.resumes"
                    [title]="'Resumes'"
                    [limit]="3"
            ></profile-resumebox>
            <hr class="hrGray">
            <profile-save-searches-box
                    [searches]="user.profile.savedSearches"
                    [type]="'vacancy'"
                    [limit]="3"
            ></profile-save-searches-box>
        </div>


        <div class="profileBox-right">
            <div class="profileBox-item">
                <p class="sideTitle">{{ 'account.User_data' | translate }}</p>
                <p class="indent">{{ 'account.profile_completed' | translate }} {{user.GetPrsUserdataComplete()}}%</p>
                <a  class="blueLink" [routerLink]="['/account/userdata']">{{ 'account.Complete_now' | translate }}</a>
            </div>


            <div class="profileBox-item">
                <p class="sideTitle">{{ 'account.Inbox' | translate }}</p>
                <account-messages_block [limit]="3"></account-messages_block>



            </div>
        </div>


    </div>

    <div class="knowBox">
        <p class="sideTitle">{{ 'account.Student.Did_you_know' | translate }} </p>
        <div class="knowBox-wrap">
            <i class="material-icons"></i>
            <p class="knowBox__text"  >
              {{ (('account.Student.Did_you_knowText' | translate)| shorten: rmor: ' ...') }}

            </p>

            <!--<a class="blueLink" *ngIf="('account.Student.Did_you_knowText' | translate).length>rmor" (click)="rmor=10000">{{ 'Read_more' | translate }}</a>-->
        </div>
    </div>
</div>




