<div class="modalStandart"  [ngClass]="{active:openModal}">
  <div class="modalStandart-wrap min">
    <div class="headerMs">
      <p class="sideTitle">{{ 'account.settings.Deacacc' | translate }}</p>

      <p class="text15">{{ 'account.settings.DeactivateAccDesc' | translate }}</p>

      <div class="row-wrap indentRw">
        <div class="col-v10">
          <p class="textField dark">{{ 'yourPass' | translate }}</p>
          <input type="password" class="input border" [(ngModel)]="yourPass">
        </div>
      </div>

      <div class="row-wrap">
        <div class="col-v6"><button class="button shaded min" (click)="deactivateAcc()">{{'btn.Deac'| translate}}</button></div>
        <div class="col-v4"><button class="button  grey" (click)="openModal = !openModal;closeModal.emit(true)"><i class="material-icons">close</i> {{'btn.Cancel'| translate}}</button></div>
      </div>


    </div>
  </div>
</div>
