.accordion {
  background-color: transparent;
  margin: 0;
}

.accordion > li {
  margin-bottom: 10px;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 5px;
  list-style-type: none;
}

//.accordion > li:last-child {
//  margin-bottom: 0;
//}
.accordion-wrap .sideTitle.indent {
  margin-bottom: 20px;
}

.acdTitle {
  font-size: 14px;
  line-height: 1;
  padding: 5px 25px 6px 0;
  display: block;
  position: relative;
}

.acdTitle:before {
  content: '';
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/assets/img/selectArr.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  width: 12px;
  height: 12px;
}

.acdResult {
  font-size: 12px;
  line-height: 14px;
  display: block;
}

.accordion-content {
  border: 0;
  background-color: transparent;
  max-height: 155px;
  overflow-y: auto;
  margin-bottom: 10px;
  display: none;
  padding: 0 0 0 10px;
  margin-right: 12px;
}
.accordion-content.accordion-active{
  padding: 3px 0 0 10px;
  margin-bottom: 10px !important;
}

.accordion.min li {
  width: 46%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  margin-bottom: 0;
}

.accordion.min li:last-child {
  margin-right: 0;
}

.accordion-input {
  display: none;
}

.accordion input[type=checkbox]:checked + label .accordion-content {
  display: block;
}

.accordion input[type=checkbox]:checked + label .acdTitle:before {
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}

:last-child > .accordion-content:last-child {
  border-bottom: 0;
}

.accordion label {
  width: 100%;
  display: block;
}

.accordion-wrap {
  margin-bottom: 25px;
}

.accordion-wrap:last-child {
  margin-bottom: 0;
}

.acdTitle, .acdResult, .checkbox__text, .checkbox input, .checkbox label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion {
  .checkbox {
    margin: 0;
    .checkbox__text, .checkbox__box {
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 1080px) {
  .acdTitle:before {
    right: 5px;
  }
  .acdTitle {
    padding: 5px 20px 6px 0;
  }
}
