@import '../import-scss/variables';

button {
  cursor: pointer;
}


button.contact-item {
  border: none !important;
  background: transparent !important;
}



.basketBtn{
  background-color: #00C3F1;
  cursor: pointer;
  display: block;
  position: relative;
  width: 54px;
  height: 54px;

  .count{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 8px;
  }
  .icon {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }


}

.button {
  border: 2px solid $color-2;
  color: $color-2;
  background-color: $color-1;
  font-size: 15px;
  cursor: pointer;
  line-height: 1;
  padding: 15px 50px;
  text-align: center;
  display: block;
  margin: 0;
  transition: 0.6s;
  font-weight: 500;
  word-break: normal;
}
.button.shaded.min {
  font-size: 14px;
}

.button.shortBtn {
  width: 75px;
  border: 2px solid $color-2;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

/* + btn Previous/ Next */
.button.previous {
  border: 1px solid #D3D3D3;
  color: #767676;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0;
  text-align: center;
  width: 140px;

  .btnArr {
    background-image: url("/assets/img/btnArr-g.svg");
    margin-left: -10px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
  }
}

.button.previous:hover {
  background-color: $color-2;
  color: $color-4;
  border: 1px solid $color-2;

  .btnArr {
    background-image: url("/assets/img/btnArr-w.svg");
  }
}

.button.next {
  background-color: $color-2;
  border: 2px solid $color-2;
  color: $color-4;
  font-size: 14px;
  font-weight: 500;

  padding: 7px 0;
  text-align: center;
  width: 140px;

  .btnArr {
    background-image: url("/assets/img/btnArr-w.svg");
    margin-right: -10px;
  }
}

.button.next:hover {
  background-color: $color-3;
  border: 2px solid $color-3;
}

.button.submit {
  font-size: 14px;
  width: 140px;
  text-align: center;
  padding: 12px 0;
  border: 1px solid $color-2;
}

.btnArr {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.paginalBtn * {
  letter-spacing: 0;
}

.paginalBtn {
  display: block;
  letter-spacing: -5px;
  padding: 15px 30px 25px;
  text-align: left;

  .button {
    display: inline-block;
    vertical-align: middle;
  }

  .button.previous {
    margin-right: calc(100% - 280px);
  }
}

/* - btn Previous/ Next */

.button.light {
  border: 1px solid #00C3F1;
  font-size: 14px;
  padding: 13px 50px;

}

.button.register{
  color: $color-5;
  border: 0;
  padding: 15px 15px 14px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.button.register.green {
  background-color: $color-7;
  color: $color-4;
}

.button.register:hover {
  background-color: $color-1;
  color: $color-5;
}

.button.register.green:hover {
  background-color: $color-7;
  color: $color-4;
}

.button.grey {
  color: $color-5;
  border: 1px solid $color-6;
  font-size: 14px;
  padding: 10px 20px;
}

.button.shaded {
  background-color: $color-2;
  color: $color-4;
  font-size: 18px;
  font-weight: 500;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 5px;
  padding-left: 5px;
  &.small {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    max-width: 200px;
    @media (max-width: 980px) {
        max-width: 180px;
      }


  }
  &.xsmall {
    max-width: 100px;
    display: inline-block;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }
  &:disabled {
    filter: grayscale(100%);
  }
}











.button.seek {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.button.seek i {
  vertical-align: middle;
}

.button.search {
  background-color: $color-2;
  color: $color-4;
  padding: 0;
  border: 0;
  letter-spacing: -5px;
  min-width: 150px;
  text-align: right;
}

.button.search * {
  letter-spacing: 0;
}

.btnNumber {
  display: inline-block;
  vertical-align: middle;
  background-color: $color-3;
  padding: 10.5px 0;
  width: 50px;
  position: relative;
  margin-left: 14px;
  color: #fff;
  text-align: center;
}

.btnNumber:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 12px solid $color-3;
  border-bottom: 6px solid transparent;
}

.btnText {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding-bottom: 2px;
  width: calc(100% - 80px);
  color: #fff;
  padding-left: 0px;
  text-align: center;
}

.button:hover span{
  color: #fff;
}

.button:hover {
  background-color: $color-2;
  color: $color-4;
}

.button.shaded:hover {
  background-color: $color-3;
  border: 2px solid $color-3;
  color: $color-4;
}

.button.search:hover {
  background-color: $color-3;
}

.button.search:hover .btnNumber {
  background-color: $color-2;
}

.button.search:hover .btnNumber:before {
  border-right: 12px solid $color-2;
}

.button.grey:hover {
  border: 1px solid $color-2;
}

.btnTabs__text {
  color: #333333;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.btnTabs__arr {
  display: inline-block;
  vertical-align: middle;
  background-image: url("/assets/img/arrDown-Black.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: 10px;
  opacity: 0.6;
}

.btnTabs {
  padding: 6px 12px 6px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border-radius: 0;
  line-height: 1;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0s;
}

.btnTabs.up,
.btnTabs.down {
  border: 2px solid $color-2;
  background-color: rgba(255, 255, 255, 0.7);
}

.btnTabs.up .btnTabs__text,
.btnTabs.down .btnTabs__text {
  color: $color-2;
}

.btnTabs.up .btnTabs__arr {
  background-image: url("/assets/img/arrUp-Blue.svg");
}

.btnTabs.down .btnTabs__arr {
  background-image: url("/assets/img/arrDown-Blue.svg");
}

.btnTabs.turn .btnTabs__arr {
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}

.btnTabs .circleText{
  position: absolute;
  top: -8px;
  right: -10px;
}

.seeAllBtn {

}

.seeAllBtn {
  color: $color-2;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  cursor: pointer;
}

.seeAllBtn:hover {
  color: $color-3;
}

.seeAllBtn i {
  padding: 0;
  line-height: 16px;
  font-size: 20px;
}

.button.min {
  padding: 10px 10px;
  width: 100%;
  font-size: 14px;
  max-width: 215px;
}


/* + social */
.social {

}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  //border: 1px solid #CACACA;
  margin-right: 5px;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.social__link:last-child {
  margin-right: 0;
}

.social__link.fb {
  background-image: url('/assets/img/share_facebook.svg');
}

.social__link.tw {
  background-image: url('/assets/img/share_twitter.svg');
}

.social__link.in {
  background-image: url('/assets/img/share_linkedin.svg');
}

.social__link.googl {
  background-image: url('/assets/img/share_google.svg');
}

/* - social */

/* + btnLetter */
.btnLetter{
  cursor: pointer;
  color: #00C3F1;
  display: inline-block;
}
.btnLetter:hover{
  color: #0092B2;
}
/* - btnLetter */


/* - button */

/* ---------------------------------------------- */
.button-element button {
  margin: 10px 0;
}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 980px) {
  .button.register {
    padding: 12px 10px 12px;
  }

  .button.shaded {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .button.seek {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .button.min {
    padding: 9px 10px;
  }

}

@media screen and (max-width: 800px) {
  .button.register {
    padding: 10px;
    width: auto;
  }
  .button.seek {
    font-size: 16px;
  }
  .button.shaded {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .button {
    width: 100%;
    max-width: 370px;
  }
  .button.shaded {
    padding-bottom: 19px;
    padding-top: 19px;
  }
  .button.min {
    padding: 9px 10px;
  }

  /* + btn Previous/ Next */
  .button.submit, .button.next, .button.previous {
    width: 120px;
  }
  .paginalBtn .button.previous {
    margin-right: calc(100% - 245px);
  }
  /* - btn Previous/ Next */

}

@media screen and (max-width: 450px) {

}
