.checkbox {
  line-height: 1.9;
  cursor: pointer;
}
.checkbox input[disabled][type=checkbox]:checked + label .checkbox__box {
  background-color: #a8a8a8;
}
.checkbox input[disabled] ~ label .checkbox__box {
  background-color: #a8a8a8;
  box-shadow: none;
  background-image: url('/assets/img/check-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}


.checkbox input[disabled] + label .checkbox__box {
  filter: grayscale(100%);
}



.checkbox {
  word-break: normal;
  margin-bottom: 10px;
  input {
    display: none;
  }
  label {
    margin: 0;
    width: 100%;
    cursor: pointer;
    position: relative;

    span {
      transition: 0s;
    }
  }
  .checkbox__text {
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    margin-left: 6px;
    width: calc(100% - 35px);
    display: inline-block;
  }
  .checkbox__box {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #fff;
  }

  input[type=checkbox]:checked + label .checkbox__box {
    background-color: #00C3F1;
    box-shadow: none;
    background-image: url("/assets/img/check-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
  }

  .checkbox__number {
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 0;
    margin: auto;
    color: #fff;
    background: #0092B2;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    display: block;
    height: 21px;
    padding: 0;
    z-index: 10;
    width: 40px;
  }
  .checkbox__number:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #0092B2;
    border-bottom: 4px solid transparent;
  }
  .checkbox-col {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    line-height: 1;
  }
}

.radio {
  word-break: normal;
  input {
    display: none;
  }
  label {
    display: block;
    margin: 0 0 4px 0;

    span {
      transition: 0s;
    }

  }
  label span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #f1f1f1;
    margin-right: 5px;
    cursor: pointer;
  }
  input[type=radio]:checked + label span {
    background-color: #fff;
    border: 5px solid #00C3F1;
    box-shadow: none;
  }

  input[disabled] + label span {
    filter: grayscale(100%);
  }


  .radio__text {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 30px);
    cursor: pointer;
    position: relative;
    font-size: 14px;
  }
  .radio__subText{
    font-size: 14px;
    display: block;
    padding-left: 30px;
    margin-top: 5px;
  }

  .radio-line{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
@media screen and (max-width: 640px) {
  .radio .radio-line {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
  }
}

