.btnTell {
  padding: 0;
  font-size: 16px;
  transition: 0.6s;
  color: #B0B0B0;
  cursor: pointer;
}

.triangle-ic{
  position: absolute;
  bottom: 100%;
  left: 35px;
  background-image: url("/assets//img/triangle.svg");
  width: 11px;
  height: 15px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.btnTell:hover {
  color: #00c3f1;
}

.btnTell-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
}

.countText{
  font-size: 14px;
  line-height: 21px;
  p{
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 30px);
  }
  span{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #00C434;
    margin-left: 5px;
  }
}

/* + roundSt (Circle status) */
.roundSt{
  width: 16px;
  height: 16px;

  border-radius: 100%;
  display: inline-block;
  background-color: #fff;
  border: 4px solid #A7A7A7;

  &.birch{
    background-color: #fff;
    border: 4px solid #008C98;
  }
  &.blue{
    background-color: #fff;
    border: 4px solid #00C3F1;
  }
  &.red{
    background-color: #fff;
    border: 4px solid #FF1E00;
  }
  &.gren{
    background-color: #fff;
    border: 4px solid #00C434;
  }
  &.yellow{
    background-color: #fff;
    border: 4px solid #FF9E00;
  }
}
/* - roundSt (Circle status) */

/* + dottedBox  на странице  Company rating*/
.dottedBox{
  border: 2px dashed #E5E5E5;
  text-align: center;
  padding: 34px 20px;
  max-width: 160px;
  margin: 0 auto;
}
.dottedBox__text{
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  display: block;
}
.dottedBox__number{
  font-size: 30px;
  line-height: 24px;
}
/* - dottedBox на странице  Company rating*/

/* + hr */
.hrLeft-pb {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: calc(100% + 30px);
  left: -30px;
  border: none;
  color: #E5E5E5;
  background-color: #E5E5E5;
  height: 1px;
}

/* - hr */

/* + adBox */
.adBox {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
  background: #00C3F1;
  display: inline-block;
  position: relative;
  padding: 1px 8px;
  top: 0;
  left: 0;
}

/* - adBox */

/* + btnTell-wrap (подсказка) */
.tellBox {
  display: none;
  position: absolute;
  bottom: calc(100% + 5px);
  padding: 15px;
  width: 240px;
  background-color: #fff;
  z-index: 10;
  box-shadow: $shadow;
  left: calc(-225px / 2);
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
}

.btnTell-wrap i:before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0px;
  left: 0;
  margin: auto;
  //width: 0;
  //height: 0;
  //border-left: 4px solid transparent;
  //border-right: 4px solid transparent;
  //border-top: 8px solid #f7f7f7;
  z-index: 100;
  opacity: 0;

  width: 9px;
  height: 8px;
  background-image: url('/assets/img/arrTell.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.btnTell-wrap .btnTell:hover:before{
  opacity: 1;
}

.btnTell:hover ~ .tellBox {
  display: block;
}
@media screen and (max-width: 640px){
  .btnTell-wrap{
    position: initial;
  }
  .stringCj__title{
    position: relative;
  }
  .btnTell-wrap i{
    position: relative;
  }
  .tellBox{
    //left: 0;
    //right: auto;
    width: 100%;
    left: 0;
    right: auto !important;
    bottom: 24px !important;
  }
}


/* - btnTell-wrap (подсказка) */

/* + overlap-wrap */
.overlap-wrap{
  display: block;
}
.overlap__text{
 	font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  word-break: normal;
}
.overlap__icon{
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: inline-block;
  vertical-align: middle;
  &.top{
    background-image: url('/assets/img/ic_vertical_align_top_white.svg');
    background-color: #FF1E00;
  }
  &.center{
    background-image: url('/assets/img/ic_vertical_align_center_white.svg');
    background-color: #FFCD00;
  }
  &.bottom{
    background-image: url('/assets/img/ic_vertical_align_bottom_white.svg');
    background-color: #00C434;
  }
}
@media screen and (max-width: 980px) {
  .overlap__icon {
    width: 29px;
    height: 29px;
  }
}
@media screen and (max-width: 640px) {
  .overlap__icon {
    width: 10px;
    height: 40px;
    background-image: inherit ;
  }

}

/* - overlap-wrap */


/* + attachedFile and attachFile */
.attachedFile > *{
  display: inline-block;
  vertical-align: middle;
}
.attachedFile{
  border: 1px solid #0092B2;
  display: inline-block;
  padding: 1px 7px 2px;
  .blueText{
    margin: 0 3px 0 7px ;
    font-size: 14px;
    color: #0092B2;
  }
  .ic_close_birch {
    cursor: pointer;
  }
}

.attachFile  > *{
  display: inline-block;
  vertical-align: middle;

}
.attachEl .blueText{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 14px;
}
.attachEl .blueText i{
  margin-right: 5px;
}
.attachEl{
  margin-top: 15px;
}
.attachFile{
  cursor: pointer;
  p{
    font-size: 14px;
    color: #0092B2;
    font-weight: 500;
    line-height: 20px;
  }
}
/* - attachedFile and attachFile */


/* + allocateText */
.allocateText{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 0 6px;
  display: inline-block;
  vertical-align: middle;
  word-break: normal;

  &.transparent-bc{
    border: 1px solid #00C3F1;
    color: #00C3F1;
    line-height: 14px;
  }

  i {
    font-size: 12px;
    margin-right: 3px;
    padding-bottom: 1px;
  }

  &.black-bc{
    border: 1px solid #757575;
    color: #757575;
  }
}
/* - allocateText */

/* + setcicBox-wrap */
.setcicBox-wrap {
  display: inline-block;
  width: 70px;
}
.setcicBox-wrap > p{
  color: #6F6F6F;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 10px;
  word-break: normal;
}
.setcicBox {
  height: 70px;
  width: 70px;
  border: 2px solid #D6D6D6;

  p{
 	font-size: 24px;
    font-weight: bold;
    line-height: 66px;
    text-align: center;
  }

  &.active{
    border: 2px solid #00C3F1;
    p{
      color: #00C3F1;
    }
  }
}

/* - setcicBox-wrap */

.upload-photo-wrap {
  text-align: center;
  border: 1px solid #E5E5E5;
  padding: 29px 0 10px;
}



.upload-photo-icon {
  height: 52px;
  width: 52px;
  border: 1px solid #E5E5E5;
  background-color: #F1F1F1;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 12px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
  }
}
.upload-photo-text {
  display: block;
  color: #00C3F1;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}


.published {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  .published-icon {
    background-image: url("/assets/img/check-white.svg");
    border-radius: 50%;
    background-color: $color-2;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-right: 3px;
    vertical-align: middle;
    margin-bottom: 2px;
  }
}







.conf-statusIcon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  text-align: center;
  line-height: 3;
  font-weight: bold;
  flex-shrink: 0;
  .conf-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    background-position: center;
    top: -6px;
    left: -6px;
    display: block;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  &.not-confirmed {
    border-color:#FD553E;
    background-color: #F4F4F4;
    color: #ACACAC;
    .conf-icon {
      background-color: #FD553E;
      background-image: url("/assets/img/assigment.svg");
    }
  }
  &.pending {
    border-color: #D3D3D3;
    background-color: #fff;
    color: #333333;

    .conf-icon {
      background-color: #D3D3D3;
      background-image: url("/assets/img/clock.svg");
    }
  }
  &.confirmed {
    border-color:#00C3F1;
    background-color: #FFFFFF;
    color: #333333;
    .conf-icon {
      background-color: #00C3F1;
      background-image: url("/assets/img/assig-turn.svg");
    }
  }

}



.okay {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  .okay-icon {
    background-image: url("/assets/img/check-white.svg");
    border-radius: 50%;
    background-color: $color-2;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-right: 3px;
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

.not-published {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  i {
    color: #A7A7A7;
    font-size: 21px;
  }
}

.okay-icon {
  background-image: url("/assets/img/check-white.svg");
  border-radius: 50%;
  background-color: #00C434;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  vertical-align: middle;

}

.stop-icon{
  color: #ff1e00;
  font-size: 20px;
}


.action-icon {
  font-size: 20px;
  color: #333333;
}

.discountBox {
  background-color: #0092B2;
  text-align: left;
  position: relative;
  padding: 7px 10px;
  display: inline-block;
  min-width: 110px;
  p, span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
}

.discountBox:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 8px solid #0092B2;
  border-bottom: 4px solid transparent;

}

/* + alphabet */
.alphabet{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;


  p{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

.alphabet-wrap{
  margin: 20px 0;


  .btnTabs{
    display: inline-block;
    vertical-align: middle;
  }
  .alphabet-inline{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 70px);
    margin-left: 20px;
    max-width: 790px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .alphabet-wrap{
    padding: 0 20px;

     .btnTabs {
      display: block;
      width: 100%;
       margin-bottom: 15px;

       .btnTabs__text{
         display: block;
       }
    }
  }
  .alphabet-wrap .alphabet-inline {
    margin-left: 0px;
    width: 100%;
  }

  .alphabet p {
    margin-right: 4%;
    width: 5%;
    margin-bottom: 10px;
    text-align: center;
  }
  .alphabet{
    display: block;
  }

  .alphabet-wrap .alphabet-inline{
    padding-right: 0;
  }
}


/* - alphabet */



/* + round-u */
.round-u-wrap{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.round-u {
  margin: 0;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
}

.roundNumber{
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #00C3F1;
  height: 34px;
  width: 34px;
  margin-right: 10px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #00C3F1;
}

.roundNumber-wrap .sideTitle {
  display: inline-block;
  vertical-align: middle;
}

.roundNumber-wrap {
  margin-bottom: 30px;
}
.round-u__number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 10;
  text-align: center;
  line-height: 39px;
  color: #00c3f1;
  font-weight: bold;
  font-size: 12px;
}

.user-h > p{
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}
.round-u:after {
  border-radius: 50%;
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  left: 4px;
  top: 4px;
  height: 62px;
  width: 62px;
}

.user-icon {
  width: 52px;
  height: 52px;
  border: 1px solid #E5E5E5;
  background-color: #F1F1F1;
  border-radius: 100%;
  position: absolute;
  display: block;
  top: 9px;
  left: 9px;
  z-index: 10;
}
.user-icon img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.boxSide .round-u.grey:after{
  background-color: #fff;
}

.noticeUser {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: #00C3F1;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 10;
}

.noticeUser.redNumber,
.noticeUser.blueNumber {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  width: 20px;
  line-height: 20px;
  height: 20px;
  z-index: 12;
  top: 4px;
  right: 2px;
}

.noticeUser.redNumber {
  background-color: #FF1E00;
}

.noticeUser.blueNumber {
  background-color: #00C3F1;
}

.p0 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(-90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p1 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(-54deg, #00C3F1 50%, #d2d2d2 50%);
}

.p2 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(-18deg, #00C3F1 50%, #d2d2d2 50%);
}

.p3 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(18deg, #00C3F1 50%, #d2d2d2 50%);
}

.p4 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(54deg, #00C3F1 50%, #d2d2d2 50%);
}

.p5 {
  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p6 {
  background-image: linear-gradient(-234deg, #00C3F1 50%, transparent 50%),
  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p7 {
  background-image: linear-gradient(-198deg, #00C3F1 50%, transparent 50%),
  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p8 {
  background-image: linear-gradient(-162deg, #00C3F1 50%, transparent 50%),
  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p9 {
  background-image: linear-gradient(-126deg, #00C3F1 50%, transparent 50%),
  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
}

.p10 {
  background-image: linear-gradient(-90deg, #00C3F1 50%, transparent 50%),
  linear-gradient(-90deg, #00C3F1 50%, #00C3F1 50%);
}

@media screen and (max-width: 1080px) {
  /* + round-u глобальный */
  .round-u:after {
    height: 52px;
    width: 52px;
  }
  .user-icon {
    //width: 42px;
    //height: 42px;
  }
  .round-u {
    width: 60px;
    height: 60px;
  }
  .round-u:before {
    top: 4px;
    right: 4px;
  }
  /* - round-u глобальный */
}

@media screen and (max-width: 800px) {

  .round-u:after {
    height: 47px;
    width: 47px;
  }
  .user-icon {
    //width: 37px;
    //height: 37px;
  }
  .round-u {
    width: 55px;
    height: 55px;
  }
  .round-u:before {
    top: 2px;
    right: 4px;
  }
  //.user-icon img {
  //  width: 20px;
  //  height: 20px;
  //}

}

/* -   round-u*/

/* + min.round-u */
.min.round-u{
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
}
.min.round-u:after{
  height: 35px;
  width: 35px;
  left: 5px;
  top: 5px;

}
.round-u.grey:after{
  background: #f6f6f6;
}
.min.round-u:before{
  display: none;
}
/* - min.round-u */




/* + stepsBox */
.stepsBox {
  position: relative;
  display: block;
  letter-spacing: -5px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.stepsBox * {
  letter-spacing: 0;
}

.stepsBox__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 16%;
  position: relative;
}

.stepsBox__number {
  height: 34px;
  width: 34px;
  border: 2px solid #B8B8B8;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100%;
  display: block;
  color: #B8B8B8;
  text-align: center;
  line-height: 29px;
  margin: 0 auto;
  cursor: pointer;
}

.stepsBox__item.ready {
  .stepsBox__number {
    border: 2px solid #00C3F1;
    background-color: #00C3F1;
    color: #fff;
  }
}

.stepsBox__item.active {
  .stepsBox__number {
    border: 2px solid #00C3F1;
    color: #00C3F1;
  }
}

.stepsBox__item p {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  display: block;
  max-width: 90px;
  margin: 5px auto 0;
}

.stepsBox__item .stepsBox__item-line {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 34px);
  height: 2px;
  background: #b8b8b8;
  top: 17px;
  margin: auto;
  right: calc(50% + 17px);
}

.stepsBox__item .stepsBox__item-line {
  &.active,
  &.ready {
    background: #00C3F1;
  }
}

.stepsBox__item:first-child .stepsBox__item-line{
  display: none;
}
/* - stepsBox */

/* + circleText */
.circleText{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* - circleText */


@media screen and (max-width: 800px) {
  .stepsBox__item p{
    font-size: 12px;
  }
  .btnTell-wrap {
    margin-left: 0px;
  }
}
@media screen and (max-width: 640px) {
  /* + stepsBox */
  .stepsBox__item p {
    font-size: 0;
    display: none;
  }
  .stepsBox {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  /* - stepsBox */

  .roundNumber-wrap {
    text-align: center;
  }
  .roundNumber {
    display: block;
    margin: 0 auto 10px;
  }

}
