$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

.input {
  margin: 0;
  border-radius: 0;
  width: auto;
  box-shadow: none;
  padding: 0 15px;
  height: 38px;
  background-color: #fff;

  color: #333333;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #fff;
  max-width: 100%;
}

.input.border.error {
  border-color: #E60202;
}
.input.border {
  border: 1px solid #E5E5E5;
}

.input.short {
  max-width: 75px;
  border: 1px solid #E5E5E5;
}

.input-text {
  border: 1px solid #E5E5E5;
}

.input-label {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

input[type='number'] {
  -moz-appearance: textfield; /*  отключаем стрелочки */
}

.input.location-icon {
  background-image: url("/assets/img/near_me.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: center;
  background-size: 15px;
  padding: 0 30px 0 15px;
  width: 100%;
  //border: 1px solid #D3D3D3;
}

.possibleMenu-wrap{
  position: relative;

  .input{
    border: 1px solid #E5E5E5;
    width: 100%;
  }
}
.possibleMenu{
  display: none;
  padding: 10px;
  box-shadow: $shadow;
}
.possibleMenu-item {
  margin-bottom: 5px;
  cursor: pointer;
}
.possibleMenu-item:last-child{
  margin: 0;
}
.possibleMenu-item a {
  cursor: pointer;
}
.possibleMenu.active{
  display: block;
}

input::-webkit-input-placeholder {
  color: #333333;
}

input::-moz-placeholder {
  color: #333333;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #333333;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #333333;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {

  background-color: #fff;
  box-shadow: none;
}

.inputUrl {
  border: 1px solid #E5E5E5;
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 8px 15px;
  height: 38px;
}




input-search-autocomplete.alert {
  border: none !important;
  .inputUrl {
    border-color: red !important;

  }
}


.inputUrl::-webkit-input-placeholder {color: #757575;	font-size: 13px;	line-height: 15px;}
.inputUrl::-moz-placeholder          {color: #757575;	font-size: 13px;	line-height: 15px;}/* Firefox 19+ */
.inputUrl:-moz-placeholder           {color: #757575;	font-size: 13px;	line-height: 15px;}/* Firefox 18- */
.inputUrl:-ms-input-placeholder      {color: #757575;	font-size: 13px;	line-height: 15px;}

.inputUrl-wrap{
  position: relative;
}
.inputUrl-wrap .inputUrl{
  width: 100%;
  max-width: 100%;
  padding-right: 40px;
}
.serch-icon{
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/ic_search_black.svg);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
}

/* multipleSelect */
.multipleSelect, .unitySelect {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  background-color: #fff;
  max-width: 190px;
  &.error{
    border: 1px solid #E60202 !important;
  }
}

.multipleSelect:before, .unitySelect:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/assets/img/selectArr.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  width: 12px;
  height: 12px;
  z-index: -1;
}

.unitySelect:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url('/assets/img/selectTriangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  width: 12px;
  height: 12px;
  z-index: -1;
}

.mpsBox__text {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  width: calc(100% - 21px);
  text-align: left;
  font-weight: 500;
  color: #666666;
}

.mpsBox__cross {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.mpsBox__cross i {
  font-size: 17px;
  margin-top: 2px;
}

.mwp .utsBox {
  right: 0;
  left: 0;
}

.globalFilter .multipleSelect .mpsBox {
  width: 320px;
  top: -20px;
  left: -20px;
}
@media screen and (max-width: 980px) {
  .globalFilter .multipleSelect .mpsBox {
    left: 0px;
  }
}
@media screen and (max-width: 640px) {
  .globalFilter .multipleSelect .mpsBox {
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .globalFilter .utsBox {
    width: calc(100% + 2px);
    right: -1px;
  }
}
.globalMenu  .input.location-icon{
  background-color: rgba(0, 0, 0, 0);
}
.globalMenu .inputHalf {
  margin-bottom: 20px;
  margin-top: 10px;
}
.globalMenu .checkbox{
  margin-bottom: 0px;
}
.globalMenu .checkbox.indentTop {
  margin-top: 20px;
}

.contentGm-item .input-wrap {
  margin-bottom: 15px;
}


.globalMenu{
  .salarySelect {
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 20px;

    .utsBox{
      width: 100%;
      min-width: 140px;
    }
  }

  app-unity-select.salaryUS {
    width: 49%;
  }
}







.multipleSelect {
  .mpsInput {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    height: 36px;
    background: rgba(0, 0, 0, 0);
    color: #333333;
    font-size: 14px;
    line-height: 16px;
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 15px;
    text-align: left;
    text-overflow: ellipsis;
  }

  .checkbox .checkbox__text{
    max-width: calc(100% - 35px);
    width: auto;
  }

  .mpsBox {
    //top: -23px;
    //left: -23px;
    //width: 320px;
    width: 100%;
    top: -20px;
    right: 0;

    position: absolute;
    background-color: #fff;
    padding: 15px 23px 20px;
    z-index: 10;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
    display: none;
  }
  .mpsBox.active {
    display: block;
  }

  .mpsBox__ok {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    color: #00C3F1;
    font-weight: 500;
    border: 0;
    background-color: transparent;
  }
  .mpsBox__checkbox {
    //height: 320px;
    max-height: 320px;
    overflow-y: auto;
    margin: 10px 0 15px;
    width: calc(100% - 4px);
  }

}
.mpsBox__checkbox *,
.mpsBox__checkbox{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

.textarea {
  border: 1px solid #E5E5E5;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  width: 100%;
  padding: 10px 15px;
  font-family: 'Roboto';
  min-height: 100px;
  display: block;
  overflow-x: hidden;
}

div.textarea {
  padding: 10px;
}

.textarea.indent {
  margin-bottom: 20px;
}

.textarea.indent:last-child {
  margin-bottom: 0px;
}

textarea::-webkit-input-placeholder {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}

textarea::-moz-placeholder {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}

/* Firefox 19+ */
textarea:-moz-placeholder {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}

/* Firefox 18- */
textarea:-ms-input-placeholder {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}

.salarySelect {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  background-color: transparent;
}

.salaryConf__input {
  border: 1px solid #D3D3D3;
  height: 36px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  max-width: 60px;
  text-align: center;
  padding: 0 5px;
}

.salaryConf__currency {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.salaryConf {
  display: block;
  margin-bottom: 30px;
}

.salaryConf .salarySelect {
  margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.salarySelect {
  .utsBox {
    top: 0px;
    left: -3px;
    position: absolute;
    background-color: #fff;
    width: 220px;

    padding: 10px 15px 20px 23px;
    z-index: 10;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
  }
  .mpsInput {
    display: block;

    position: relative;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
    background: transparent;
    color: #333333;
    font-size: 14px;
    line-height: 16px;

    width: auto;
    max-width: 95px;
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 0;
    text-align: left;
  }

}

.salaryConf input[type=number]:focus {
  background-color: transparent;
}

.salaryConf .textField {
  color: #666666;
}

.salarySelect:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/assets/img/selectArr.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 20px;
  height: 24px;
  z-index: -1;
  background-color: transparent;
}

.unitySelect {
  .utsInput {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    height: 36px;
    background: rgba(0, 0, 0, 0);
    color: #333333;
    font-size: 13px;
    line-height: 15px;
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 12px;
    text-align: left;
    text-overflow: ellipsis;
  }

}

.utsBox {
  //top: -5px;
  //right: -3px;
  //max-height: 245px;
  width: 100%;
  top: -20px;
  right: 0;

  position: absolute;
  background-color: #fff;
  padding: 10px 15px 20px 23px;
  z-index: 10;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  display: none;
}

.utsBox.active {
  display: block;
}

.utsBox-ul {
  margin: 0;
  //height: 190px;
  max-height: 190px;
  overflow-y: auto;
  width: calc(100% - 4px);
  padding: 0;
}

.servicePage{
  .utsBox-ul{
    max-height: 130px;
  }
}

.utsBox-ul {
  li {
    list-style-type: none;
  }
  a {
    font-size: 14px;
    line-height: 16px;
    display: table;
    margin-top: 15px;

    &:hover{
      color: #00C3F1;
    }
  }
  .active {
    color: #00C3F1;
  }
}

/* + selInsert */
.selInsert-wrap {
  margin-bottom: 3px;
}
.selInsert-wrap:first-child {
  margin-left: 5px;
}

.selInsert {
  color: #0092B2;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #0092B2;
  padding: 2px 8px 3px;
  cursor: pointer;
  transition: 0.6s;
  &:first-letter{
    text-transform: uppercase;
  }
}

.selInsert:hover {
  background-color: #0092B2;
  color: #fff;
}

.selInsert-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 5px;
}

.selInsert-wrap.disable .selInsert {
  cursor: inherit;
}

.selInsert-wrap.disable .selInsert:hover {
  color: #0092B2;
  background-color: #fff;
}


/* - selInsert */

/* + datepicker */
.datepicker {
  //border: 1px solid #E5E5E5;
  //font-size: 14px;
  //padding: 8px 10px 5px;
  //line-height: 16px;
  display: inline-block;
  //cursor: pointer;

  //i {
  //  font-size: 16px;
  //  line-height: 18px;
  //  margin-left: 10px;
  //
  //}
  .mydp .selectorarrow:before{
    display: none;
  }
  .mydp  {
    border: 1px solid #E5E5E5;
    padding: 1px 0;
    border-radius: 0;
  }
  .btnpickerenabled .mydpicon{
    background-image: url(/assets/img/ic_date_range.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
  }
  .mydpicon:before{
    display: none;
  }
  .btnclear.btnclearenabled {
    display: none;
  }

  .mydp .btnclearenabled:hover,
  .mydp .btndecreaseenabled:hover,
  .mydp .btnincreaseenabled:hover,
  .mydp .btnpickerenabled:hover,
  .mydp .headertodaybtnenabled:hover,
  .mydp .invaliddate{
    background-color: $color-1;
  }
  .mydp .selection{
    padding: 0 40px 0 15px;
    color: #333;
  }

  .mydp .headerlabelbtn {
    font-size: 15px;
    line-height: 18px;
    color: #333333;
  }
  .headertodaybtn.headertodaybtnenabled {
    display: none;
  }
  .headerbtn.icon-mydpleft {
    background-image: url('/assets/img/ic_chevron_black.svg');
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .headerbtn.icon-mydpright{
    background-image: url('/assets/img/ic_chevron_black.svg');
  }
  .headerbtn.icon-mydpright,
  .headerbtn.icon-mydpleft{
    width: 17px;
    height: 17px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mydp .selectorarrow {
    width: 280px !important;
    padding: 0 20px;
    background: #fff;
    height: auto !important;
    border-radius: 0;
    margin: 0;
  }
  .mydp .header {
    height: 30px;
    background-color: #F9F9F9;
    padding: 12px 20px;
    width: calc(100% + 40px);
    margin-left: -20px;
    border-bottom: 1px solid #d3d3d3;
  }
  .caltable thead {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 240px !important;
    display: inherit;
  }
  .mydp .weekdaytitle {
    background-color: #fff;
    font-size: 12px;
    color: #666666;
  }
  .datevalue span{
    color: #666;
  }
  .daycell.currmonth.selectedday.tablesingleday{
    background-color: #00C3F1;
    span{
      color: #fff;
    }
  }
  .daycell.currmonth.tablesingleday{
    position: relative;
    background-color: #fff;
    span{
      color: #000;
    }
  }
  .mydp .selectedday .datevalue, .mydp .selectedmonth .monthvalue, .mydp .selectedyear .yearvalue {
    background-color: #00c3f1;
  }
  .mydp .tablesingleday:hover, .mydp .tablesinglemonth:hover, .mydp .tablesingleyear:hover {
    background-color: #DDD;
  }
  .mydp .markcurrday, .mydp .markcurrmonth, .mydp .markcurryear {
    text-decoration: none;
    background-color: #00c3f1;
    color: #fff !important;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 28px;
  }
  tbody .daycell:last-child span{
    color: red !important;
  }
  .mydp .selectorarrow:after{
    display: none;
  }
}


/* - datepicker */

.input-wrap {
  input {
    width: 100%;
  }
}

/* multipleSelect */

/* + inputHalf */
.inputHalf {
  input {
    text-align: center;
    max-width: 62px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #D3D3D3 !important;
    background-color: transparent;

    :focus {
      background-color: transparent;
    }

  }
  span.indent {
    margin: 0 5px;
  }
}
/* - inputHalf */

/* + possibleBox */
.inputUrl-wrap{
  position: relative;
  z-index: 10;
}
.possibleBox.active{
  display: block;
}

.possibleBox {
  position: absolute;
  background: #fff;
  width: calc(100% + 20px);
  top: -10px;
  z-index: -1;
  left: -10px;
  padding: 65px 10px 20px 25px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  margin: 0;
  display: none;

  .possibleBox__ul{
    margin: 0;
    max-height: 360px;
    overflow: auto;
  }

  li {
    list-style-type: none;
    margin-top: 10px;

    &:first-child{
      margin: 0;
    }
  }

  .posLink{
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    cursor: pointer;

    &:hover{
      color: #00C3F1;
    }
  }
}

/* - possibleBox */


.globalMenu .sideTitle {
  margin-bottom: 20px;
}

@media screen and (max-width: 1150px) {
  //.multipleSelect .mpsBox {
  //  top: -15px;
  //  left: -20px;
  //}
}

@media screen and (max-width: 1080px) {
  .salaryConf .salarySelect {
    margin-right: 5px;
  }
  .salaryConf__currency {
    margin: 0;
  }
  .salaryConf__input {
    max-width: 49px;
    font-size: 12px;
  }
  .salarySelect .mpsInput {
    max-width: 90px;
  }
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 800px) {
  //.createJob .multipleSelect .mpsBox { /* /create-new-vacancy */
  //  left: auto;
  //  right: -20px;
  //}
}

@media screen and (max-width: 640px) {
  .input, .select {
    width: 100%;
    max-width: 100%;
  }
  .utsBox{
    min-width:160px;
  }

  /* + range-wrap */
  .range {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    display: block;
  }
  .range-wrap {
    margin-bottom: 50px;
  }
  .range-wrap {
    input[type=range] {
      -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
      width: 100%; /* Указание параметра ширины требуется для Firefox. */

    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
      border-color: transparent;
      color: transparent;
    }

    /* Специальные правила для браузеров на движках WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #D3D3D3;
      height: 29px;
      width: 29px;
      border-radius: 100%;
      background-color: #FAFAFA;
      cursor: pointer;
      margin-top: -11px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    }
    /* Тоже самое для Firefox */
    input[type=range]::-moz-range-thumb {
      border: 1px solid #D3D3D3;
      height: 29px;
      width: 29px;
      border-radius: 100%;
      background-color: #FAFAFA;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    /* Тоже самое для IE */
    input[type=range]::-ms-thumb {
      border: 1px solid #D3D3D3;
      height: 29px;
      width: 29px;
      border-radius: 100%;
      background-color: #FAFAFA;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 12px;
      cursor: pointer;
      //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #F5F5F5;
      border-radius: 10px;
      border: 2px solid #D3D3D3;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #F5F5F5;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 12px;
      cursor: pointer;
      //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #F5F5F5;
      border-radius: 1.3px;
      border: 2px solid #D3D3D3;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 12px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #F5F5F5;
      border: 2px solid #D3D3D3;
      border-radius: 2.6px;
      //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #F5F5F5;
    }
    input[type=range]::-ms-fill-upper {
      background: #F5F5F5;
      border: 2px solid #D3D3D3;
      border-radius: 2.6px;
      //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #F5F5F5;
    }

  }

  .scaleRange {
    letter-spacing: -5px;
    z-index: -1;
    position: relative;
    width: 88%;
    margin: -5px auto 0;
    line-height: 6px;
  }
  .scaleRange * {
    letter-spacing: 0;
  }
  .scaleRange > div {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 9px;
    border-left: 1px solid #D3D3D3;
  }
  .scaleRange > div:last-child {
    border-right: 1px solid #D3D3D3;
  }

  .rangeText-wrap {
    margin: 0 auto;
    display: block;
  }
  .rangeText-wrap p {
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 32%;
  }
  .rangeText-wrap .center {
    text-align: center;
  }
  .rangeText-wrap .right {
    text-align: right;
  }
  /* - range-wrap */

  //.createJob .multipleSelect .mpsBox { /* /create-new-vacancy */
  //  left: 0px;
  //  right: auto;
  //  width: 280px;
  //}
  //.multipleSelect .mpsBox {
  //  width: 316px;
  //}
  .selInsert-wrap:first-child {
    margin-left: 0;
  }


  .globalMenu .accordion > li {
    margin-bottom: 20px;
  }
  .globalMenu .utsBox {
    min-width: 100%;
    width: 100% !important;
  }
}



@media screen and (max-width: 450px) {

}
