/* + сетка */
.row-wrap, .row-wrap .row-wrap{
  letter-spacing: -5px !important;
}
.row-wrap.middle > div{
  vertical-align: middle;
}
.row-wrap.bottom > div{
  vertical-align: bottom;
}
.row-wrap.middle > div.center{
  text-align: center;
}
.row-wrap.middle > div.left{
  text-align: left;
}
.row-wrap.middle > div.right{
  text-align: right;
}
.row-wrap > div:last-child{
  padding-right: 0;
}
.row-wrap *{
  letter-spacing: 0;
}

.bottomLine-vb .row-wrap > div{
  vertical-align: middle;
}

.col-v10, .col-v9, .col-v8, .col-v7, .col-v6, .col-v5,.col-v4, .col-v3, .col-v2, .col-v1{
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.col-v10{
  width: 100%;
  padding-right: 0;
}
.col-v9{
  width: 90%;
}
.col-v8{
  width: 80%;
}
.col-v7{
  width: 70%;
}
.col-v6{
  width: 60%;
}
.col-v5{
  width: 50%;
}
.col-v4{
  width: 40%;
}
.col-v3{
  width: 30%;
}
.col-v2{
  width: 20%;
}
.col-v1{
  width: 10%;
}



.col-v5:nth-child(even),
.col-v5:last-child{
  padding-right: 0;
}

.indent-r20{
  margin-right: 20px;
}
.indentBt{
  margin-bottom: 25px;
}
@media screen and (max-width: 980px){
  .col-t10{
    width: 100%;
    padding-right: 0;
  }
  .col-t9{
    width: 90%;
  }
  .col-t8{
    width: 80%;
  }
  .col-t7{
    width: 70%;
  }
  .col-t6{
    width: 60%;
  }
  .col-t5{
    width: 50%;
  }
  .col-t4{
    width: 40%;
  }
  .col-t3{
    width: 30%;
  }
  .col-t2{
    width: 20%;
  }
  .col-t1{
    width: 10%;
  }

}
@media screen and (max-width: 800px){
  .col-m10{
    width: 100%;
    padding-right: 0;
  }
  .col-m9{
    width: 90%;
  }
  .col-m8{
    width: 80%;
  }
  .col-m7{
    width: 70%;
  }
  .col-m6{
    width: 60%;
  }
  .col-m5{
    width: 50%;
  }
  .col-m4{
    width: 40%;
  }
  .col-m3{
    width: 30%;
  }
  .col-m2{
    width: 20%;
  }
  .col-m1{
    width: 10%;
  }
}
@media screen and (max-width: 640px){
  .col-p10{
    width: 100%;
    padding-right: 0;
  }

  .col-p9{
    width: 90%;
  }
  .col-p8{
    width: 80%;
  }
  .col-p7{
    width: 70%;
  }
  .col-p6{
    width: 60%;
  }
  .col-p5{
    width: 50%;
  }
  .col-p4{
    width: 40%;
  }
  .col-p3{
    width: 30%;
  }
  .col-p2{
    width: 20%;
  }
  .col-p1{
    width: 10%;
  }

  .pading0-p{
    padding: 0;
  }
}
/* - сетка */