/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent
}

.hamburger:hover {
  opacity: .7
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #000
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ''
}

.hamburger-inner:before {
  top: -10px
}

.hamburger-inner:after {
  bottom: -10px
}

.hamburger--3dx .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px
}

.hamburger--3dx .hamburger-inner {
  transition: background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx .hamburger-inner:after, .hamburger--3dx .hamburger-inner:before {
  transition: -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx.is-active .hamburger-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: transparent
}

.hamburger--3dx.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dx.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--3dx-r .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px
}

.hamburger--3dx-r .hamburger-inner {
  transition: background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx-r .hamburger-inner:after, .hamburger--3dx-r .hamburger-inner:before {
  transition: -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx-r.is-active .hamburger-inner {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: transparent
}

.hamburger--3dx-r.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dx-r.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--3dy .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px
}

.hamburger--3dy .hamburger-inner {
  transition: background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dy .hamburger-inner:after, .hamburger--3dy .hamburger-inner:before {
  transition: -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dy.is-active .hamburger-inner {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  background-color: transparent
}

.hamburger--3dy.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dy.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--3dy-r .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px
}

.hamburger--3dy-r .hamburger-inner {
  transition: background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .2s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dy-r .hamburger-inner:after, .hamburger--3dy-r .hamburger-inner:before {
  transition: -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dy-r.is-active .hamburger-inner {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  background-color: transparent
}

.hamburger--3dy-r.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dy-r.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--arrow.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(.7);
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(.7)
}

.hamburger--arrow.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(.7);
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(.7)
}

.hamburger--arrow-r.is-active .hamburger-inner:before {
  -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(.7);
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(.7)
}

.hamburger--arrow-r.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(.7);
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(.7)
}

.hamburger--arrowalt .hamburger-inner:before {
  transition: top .1s .15s ease, -webkit-transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: top .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: top .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1), -webkit-transform .15s cubic-bezier(.165, .84, .44, 1)
}

.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom .1s .15s ease, -webkit-transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: bottom .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: bottom .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1), -webkit-transform .15s cubic-bezier(.165, .84, .44, 1)
}

.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease, -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: top .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: top .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22), -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  -webkit-transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(.7);
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(.7)
}

.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease, -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: bottom .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: bottom .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22), -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  -webkit-transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(.7);
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(.7)
}

.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top .1s .15s ease, -webkit-transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: top .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: top .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1), -webkit-transform .15s cubic-bezier(.165, .84, .44, 1)
}

.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom .1s .15s ease, -webkit-transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: bottom .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1);
  transition: bottom .1s .15s ease, transform .15s cubic-bezier(.165, .84, .44, 1), -webkit-transform .15s cubic-bezier(.165, .84, .44, 1)
}

.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease, -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: top .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: top .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22), -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  -webkit-transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(.7);
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(.7)
}

.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease, -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: bottom .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  transition: bottom .1s ease, transform .15s .1s cubic-bezier(.895, .03, .685, .22), -webkit-transform .15s .1s cubic-bezier(.895, .03, .685, .22);
  -webkit-transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(.7);
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(.7)
}

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner:after, .hamburger--boring .hamburger-inner:before {
  transition-property: none
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0
}

.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .15s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .15s
}

.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.hamburger--collapse .hamburger-inner:before {
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: .32s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear;
  opacity: 0
}

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .15s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .15s
}

.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.hamburger--collapse-r .hamburger-inner:before {
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: .32s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: translate3d(0, -10px, 0) rotate(45deg);
  transform: translate3d(0, -10px, 0) rotate(45deg)
}

.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear;
  opacity: 0
}

.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .42s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
  transition-duration: .4s
}

.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity .15s .4s ease
}

.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55)
}

.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: .1s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg)
}

.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0
}

.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: .1s;
  -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
  transform: translate3d(0, -20px, 0) rotate(-270deg)
}

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
  transition-duration: .4s
}

.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity .15s .4s ease
}

.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform .4s cubic-bezier(.68, -.55, .265, 1.55)
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: .1s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
  transform: translate3d(0, 10px, 0) rotate(-135deg)
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: .1s;
  -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
  transform: translate3d(0, -20px, 0) rotate(270deg)
}

.hamburger--emphatic {
  overflow: hidden
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color .2s .25s ease-in
}

.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: top .05s .2s linear, left .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335);
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, left .2s .25s ease-in;
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, left .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335)
}

.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: top .05s .2s linear, right .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335);
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, right .2s .25s ease-in;
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, right .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335)
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent
}

.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left .2s ease-out, top .05s .2s linear, -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: left .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: left .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1), -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
  transform: translate3d(80px, 80px, 0) rotate(45deg)
}

.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right .2s ease-out, top .05s .2s linear, -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: right .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: right .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1), -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transform: translate3d(-80px, 80px, 0) rotate(-45deg)
}

.hamburger--emphatic-r {
  overflow: hidden
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color .2s .25s ease-in
}

.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: top .05s .2s linear, left .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335);
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, left .2s .25s ease-in;
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, left .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335)
}

.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: top .05s .2s linear, right .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335);
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, right .2s .25s ease-in;
  transition: transform .2s cubic-bezier(.6, .04, .98, .335), top .05s .2s linear, right .2s .25s ease-in, -webkit-transform .2s cubic-bezier(.6, .04, .98, .335)
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent
}

.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left .2s ease-out, top .05s .2s linear, -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: left .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: left .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1), -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  -webkit-transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transform: translate3d(80px, -80px, 0) rotate(-45deg)
}

.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right .2s ease-out, top .05s .2s linear, -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: right .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  transition: right .2s ease-out, top .05s .2s linear, transform .2s .25s cubic-bezier(.075, .82, .165, 1), -webkit-transform .2s .25s cubic-bezier(.075, .82, .165, 1);
  -webkit-transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transform: translate3d(-80px, -80px, 0) rotate(45deg)
}

.hamburger--slider .hamburger-inner {
  top: 2px
}

.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .2s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform
}

.hamburger--slider .hamburger-inner:after {
  top: 20px
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--slider.is-active .hamburger-inner:before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0
}

.hamburger--slider.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg)
}

.hamburger--slider-r .hamburger-inner {
  top: 2px
}

.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .2s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform
}

.hamburger--slider-r .hamburger-inner:after {
  top: 20px
}

.hamburger--slider-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg)
}

.hamburger--slider-r.is-active .hamburger-inner:before {
  -webkit-transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0
}

.hamburger--slider-r.is-active .hamburger-inner:after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(90deg);
  transform: translate3d(0, -20px, 0) rotate(90deg)
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s .15s linear
}

.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: .32s;
  background-color: transparent
}

.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg)
}

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .15s
}

.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity 0s linear
}

.hamburger--spring-r .hamburger-inner:before {
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19), -webkit-transform .15s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: .32s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity 0s .32s linear;
  opacity: 0
}

.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .32s cubic-bezier(.215, .61, .355, 1), -webkit-transform .15s .32s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.hamburger--stand .hamburger-inner {
  transition: background-color 0s .1s linear, -webkit-transform .1s .22s cubic-bezier(.55, .055, .675, .19);
  transition: transform .1s .22s cubic-bezier(.55, .055, .675, .19), background-color 0s .1s linear;
  transition: transform .1s .22s cubic-bezier(.55, .055, .675, .19), background-color 0s .1s linear, -webkit-transform .1s .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand .hamburger-inner:before {
  transition: top .1s .1s ease-in, -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: top .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: top .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19), -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand .hamburger-inner:after {
  transition: bottom .1s .1s ease-in, -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19), -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand.is-active .hamburger-inner {
  transition: background-color 0s .22s linear, -webkit-transform .1s 0s cubic-bezier(.215, .61, .355, 1);
  transition: transform .1s 0s cubic-bezier(.215, .61, .355, 1), background-color 0s .22s linear;
  transition: transform .1s 0s cubic-bezier(.215, .61, .355, 1), background-color 0s .22s linear, -webkit-transform .1s 0s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent
}

.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s .12s ease-out, -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: top .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: top .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1), -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s .12s ease-out, -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1), -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.hamburger--stand-r .hamburger-inner {
  transition: background-color 0s .1s linear, -webkit-transform .1s .22s cubic-bezier(.55, .055, .675, .19);
  transition: transform .1s .22s cubic-bezier(.55, .055, .675, .19), background-color 0s .1s linear;
  transition: transform .1s .22s cubic-bezier(.55, .055, .675, .19), background-color 0s .1s linear, -webkit-transform .1s .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand-r .hamburger-inner:before {
  transition: top .1s .1s ease-in, -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: top .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: top .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19), -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand-r .hamburger-inner:after {
  transition: bottom .1s .1s ease-in, -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .1s ease-in, transform .1s 0s cubic-bezier(.55, .055, .675, .19), -webkit-transform .1s 0s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--stand-r.is-active .hamburger-inner {
  transition: background-color 0s .22s linear, -webkit-transform .1s 0s cubic-bezier(.215, .61, .355, 1);
  transition: transform .1s 0s cubic-bezier(.215, .61, .355, 1), background-color 0s .22s linear;
  transition: transform .1s 0s cubic-bezier(.215, .61, .355, 1), background-color 0s .22s linear, -webkit-transform .1s 0s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: transparent
}

.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s .12s ease-out, -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: top .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: top .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1), -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s .12s ease-out, -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s .12s ease-out, transform .1s .22s cubic-bezier(.215, .61, .355, 1), -webkit-transform .1s .22s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .3s
}

.hamburger--spin .hamburger-inner:before {
  transition: top .1s .34s ease-in, opacity .1s ease-in
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg)
}

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out, opacity .1s .14s ease-out;
  opacity: 0
}

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .3s
}

.hamburger--spin-r .hamburger-inner:before {
  transition: top .1s .34s ease-in, opacity .1s ease-in
}

.hamburger--spin-r .hamburger-inner:after {
  transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg)
}

.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out, opacity .1s .14s ease-out;
  opacity: 0
}

.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .1s
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top .1s .14s ease, opacity .1s ease
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom .1s .14s ease, -webkit-transform .1s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .14s ease, transform .1s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .14s ease, transform .1s cubic-bezier(.55, .055, .675, .19), -webkit-transform .1s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease, opacity .1s .14s ease;
  opacity: 0
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease, -webkit-transform .1s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease, transform .1s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease, transform .1s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .1s .14s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-duration: .3s
}

.hamburger--vortex .hamburger-inner:after, .hamburger--vortex .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s
}

.hamburger--vortex .hamburger-inner:before {
  transition-property: top, opacity
}

.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform
}

.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  -webkit-transform: rotate(765deg);
  transform: rotate(765deg)
}

.hamburger--vortex.is-active .hamburger-inner:after, .hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s
}

.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0
}

.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-duration: .3s
}

.hamburger--vortex-r .hamburger-inner:after, .hamburger--vortex-r .hamburger-inner:before {
  transition-delay: .1s;
  transition-timing-function: linear;
  transition-duration: 0s
}

.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top, opacity
}

.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  -webkit-transform: rotate(-765deg);
  transform: rotate(-765deg)
}

.hamburger--vortex-r.is-active .hamburger-inner:after, .hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s
}

.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0
}

.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger--collapse .hamburger-inner:after {
  top: -16px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 27px;
  height: 3px;
  background-color: #333;
}

.hamburger-box {
  width: 27px;
}

.hamburger {
  padding: 8px 4px;
  line-height: 0;
  cursor: pointer;
}

.hamburger--collapse .hamburger-inner {
  bottom: 2px;
}

.hamburger--collapse.is-active .hamburger-inner {
  bottom: 0;
}

.hamburger--collapse.is-active .hamburger-inner,
.hamburger--collapse.is-active .hamburger-inner:after,
.hamburger--collapse.is-active .hamburger-inner:before {
  background-color: #979797;
}



