/* + Helpers */
.displayNone {
  display: none;
}

.posRelative {
  position: relative;
}

.fullOfParent {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 0;
  top: 0;
}

.disabledLink {
  color: #9d9d9d !important;
}

.opacity{
  opacity: 0.5;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}


.db {
  display: block;
}
/* - Helpers */