.sg-content-item .white .icon{
  background-color: #000;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: 100%;

  /* + white */

  &.ic_shopping_cart_white {
    background-image: url("/assets/img/ic_shopping_cart_white.svg");
  }
  /* + white */


  /* + black */
  &.cancel-black {
    background-image: url("/assets/img/ic_clear_black.svg");
  }
  &.language-black{
    background-image: url("/assets/img/language-ic.svg");
    margin-right: 8px;
    margin-bottom: 3px;
  }


  &.edit-black {
    background-image: url("/assets/img/ic_mode_edit_black.svg");
  }
  &.delete-black {
    background-image: url("/assets/img/ic_delete_black.svg");
  }
  &.delete-forever-black {
    background-image: url("/assets/img/ic_delete_forever_black.svg");
    cursor: pointer;
  }
  &.update-black {
    background-image: url("/assets/img/update-black.svg");
  }
  &.autorenew-black {
    background-image: url("/assets/img/black-autorenew.svg");
  }
  &.suspended-black {
    background-image: url("/assets/img/ic_block_black.svg");
  }
  &.clockAr-black {
    background-image: url("/assets/img/ic_clockAr_black.svg");
  }
  &.remove_eye_black {
    background-image: url("/assets/img/ic_remove_red_eye_black.svg");
  }
  &.ic_timer_black {
    background-image: url("/assets/img/ic_timer_black.svg");
  }
  &.ic_access_time_black {
    background-image: url("/assets/img/ic_access_time_black.svg");
  }
  &.ic_expand_more_black {
    background-image: url("/assets/img/ic_expand_more_black.svg");
  }
  &.ic_expand_less_black {
    background-image: url("/assets/img/ic_expand_less_black.svg");
  }
  &.ic_arrow_downward_black {
    background-image: url("/assets/img/ic_arrow_downward_black.svg");
  }
  &.ic_star_border_black {
    background-image: url("/assets/img/ic_star_border_black.svg");
  }
  &.ic_location_on_black{
    background-image: url("/assets/img/ic_location_on_black.svg");
  }
  &.copy-content-black {
    background-image: url("/assets/img/ic_copy-content.svg");
  }
  &.black-list {
    background-image: url("/assets/img/ic-list.svg");
  }
  &.ic_format_align_left_black {
    background-image: url("/assets/img/ic_format_align_left_black.svg");
  }

  &.ic_view_module_black {
    background-image: url("/assets/img/ic_view_module_black.svg");
  }
  &.ic_view_headline_black {
    background-image: url("/assets/img/ic_view_headline_black.svg");
  }
  &.ic_refresh_black {
    background-image: url("/assets/img/ic_refresh_black.svg");
  }
  &.ic_add_shopping_cart_black{
    background-image: url("/assets/img/ic_add_shopping_cart_black.svg");
  }
  &.baseline-publish{
    background-image: url("/assets/img/baseline-publish.svg");
  }
  &.ic_email_black {
    background-image: url("/assets/img/ic_email_black.svg");
  }
  /* - black */

  /* + birch */
  &.account-birch {
    background-image: url("/assets/img/account.svg");
  }
  &.computer-birch {
    background-image: url("/assets/img/computer.svg");
  }
  &.content-paste-birch {
    background-image: url("/assets/img/content-paste.svg");
  }
  &.dashboard-birch {
    background-image: url("/assets/img/dashboard.svg");
  }
  &.lang-birch {
    background-image: url("/assets/img/lang.svg");
  }
  &.person-pin-birch {
    background-image: url("/assets/img/person-pin.svg");
  }
  &.pool-birch {
    background-image: url("/assets/img/pool.svg");
  }
  &.school-birch {
    background-image: url("/assets/img/school.svg");
  }
  &.thumb-up-birch {
    background-image: url("/assets/img/thumb-up.svg");
  }
  &.timeline-birch {
    background-image: url("/assets/img/timeline.svg");
  }
  &.work-birch {
    background-image: url("/assets/img/workk.svg");
  }
  &.attach-file-birch {
    background-image: url('/assets/img/ic_attach_file_birch.svg');
  }
  &.ic_close_birch {
    background-image: url('/assets/img/ic_close_birch.svg');
  }
  &.ic_verified_user_birch {
    background-image: url('/assets/img/ic_verified_user_birch.svg');
  }
  &.ic_thumb_up_birch {
    background-image: url('/assets/img/ic_thumb_up_birch.svg');
  }
  &.ic_tonality_birch {
    background-image: url('/assets/img/ic_tonality_birch.svg');
  }

  /* - birch */

  /* + red */
  &.alert-red {
    background-image: url("/assets/img/alert-icon.svg");
  }
  &.suspended-red {
    background-image: url('/assets/img/ic_block_red.svg');
  }
  &.ic_av_timer_red {
    background-image: url('/assets/img/ic_av_timer_red.svg');
  }
  &.ic_warning_red {
    background-image: url('/assets/img/ic_warning_red.svg');
  }

  /* - red */

  /* + blue  */

  &.completed-blue {
    background-image: url("/assets/img/complete-icon.svg");
  }
  &.person-pin-blue {
    background-image: url("/assets/img/ic_person_pin_blue.svg");
  }
  &.subject_blue {
    background-image: url("/assets/img/ic_subject_blue.svg");
  }
  &.ic_timelapse_blue {
    background-image: url("/assets/img/ic_timelapse_blue.svg");
  }
  &.ic_email_blue {
    background-image: url("/assets/img/ic_email_blue.svg");
  }
  &.ic_check_blue {
    background-image: url("/assets/img/ic_check_blue.svg");
  }


  /* - blue  */

  /* + green */
  &.person-pin-green {
    background-image: url("/assets/img/ic_person_pin_green.svg");
  }
  &.ic_swap_calls_green {
    background-image: url("/assets/img/ic_swap_calls_green.svg");
  }
  &.ic_check_circle_gren {
    background-image: url("/assets/img/ic_check_circle_gren.svg");
  }


  /* - green  */

  /* + grey */
  &.invited-grey {
    background-image: url('/assets/img/ic_schedule_grey.svg');
  }
  &.drafts-grey {
    background-image: url('/assets/img/ic_drafts_gray.svg');
  }
  &.delete-forever-grey {
    background-image: url('/assets/img/ic_delete_forever_gray.svg');
  }
  &.block-gray {
    background-image: url('/assets/img/ic_block_gray.svg');
  }
  &.attach-file-gray {
    background-image: url('/assets/img/ic_attach_file_gray.svg');
  }

  &.ic_markunread_gray {
    background-image: url('/assets/img/ic_markunread_gray.svg');
  }
  &.ic_subdirectory_arrow_left_gray {
    background-image: url('/assets/img/ic_subdirectory_arrow_left_gray.svg');
  }
  &.ic_chevron_left_grey {
    background-image: url('/assets/img/ic_chevron_left_grey.svg');
  }
  &.ic_face_gray {
    background-image: url('/assets/img/ic_face_gray.svg');
  }
  &.ic_thumb_down_gray {
    background-image: url('/assets/img/ic_thumb_down_gray.svg');
  }
  &.ic_visibility_off_gray {
    background-image: url('/assets/img/ic_visibility_off_gray.svg');
  }
  &.ic_work_gray {
    background-image: url('/assets/img/ic_work_gray.svg');
  }
  &.ic_loop_grey {
    background-image: url('/assets/img/ic_loop_grey.svg');
  }

  &.ic-gray-link {
    background-image: url('/assets/img/gray-link.svg');
  }
  &.ic-gray-pdf {
    background-image: url('/assets/img/gray-pdf.svg');
  }
  &.ic-gray-visib {
    background-image: url('/assets/img/gray-visib.svg');
  }



  &.ic_assignment_gray {
    background-image: url('/assets/img/ic_assignment_gray.svg');
  }
  &.ic_chat_gray {
    background-image: url('/assets/img/ic_chat_gray.svg');
  }
  &.ic_format_align_left_gray {
    background-image: url('/assets/img/ic_format_align_left_gray.svg');
  }
  &.school-gray {
    background-image: url('/assets/img/school-gray.svg');
  }
  &.ic_star_border_gray {
    background-image: url('/assets/img/ic_star_border_gray.svg');
  }
  &.ic_arrow_downward_gray {
    background-image: url('/assets/img/ic_arrow_downward_gray.svg');
  }
  &.ic_local_phone_gray {
    background-image: url('/assets/img/ic_local_phone_gray.svg');
  }
  &.ic_location_on_gray {
    background-image: url('/assets/img/ic_location_on_gray.svg');
  }
  &.ic_watch_later_gray {
    background-image: url('/assets/img/ic_watch_later_gray.svg');
  }

  &.ic_person_outline_grey{
    background-image: url('/assets/img/ic_person_outline_grey.svg');
  }

  /* - grey */


  /* + purple */
  &.ic_brightness_3_purple {
    background-image: url('/assets/img/ic_brightness_3_purple.svg');
  }
  /* - purple */



  /* + yellow */
  &.ic_star_yellow {
    background-image: url('/assets/img/ic_star_yellow.svg');
  }
  &.ic_verified_user_yellow {
    background-image: url('/assets/img/ic_verified_user_yellowe.svg');
  }

  /* - yellow */
}



  /* ------------------------ */
.blue-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  &.account {
    background-image: url("/assets/img/account.svg");
  }
  &.computer {
    background-image: url("/assets/img/computer.svg");
  }
  &.content-paste {
    background-image: url("/assets/img/content-paste.svg");
  }
  &.dashboard {
    background-image: url("/assets/img/dashboard.svg");
  }
  &.lang {
    background-image: url("/assets/img/lang.svg");
  }
  &.person-pin {
    background-image: url("/assets/img/person-pin.svg");
  }
  &.pool {
    background-image: url("/assets/img/pool.svg");
  }
  &.school {
    background-image: url("/assets/img/school.svg");
  }
  &.thumb-up {
    background-image: url("/assets/img/thumb-up.svg");
  }
  &.timeline {
    background-image: url("/assets/img/timeline.svg");
  }
  &.work {
    background-image: url("/assets/img/workk.svg");
  }
}

.blue-icon, .red-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: 100%;
}

.service-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &.verify {
    background-image: url("/assets/img/ic-verified.svg");
  }
  &.refresh {
    background-image: url("/assets/img/ic-refresh.svg");
  }

  &.completed {
    background-image: url("/assets/img/complete-icon.svg");
  }
  &.alert {
    background-image: url("/assets/img/alert-icon.svg");
  }
  &.delete-forever {
    background-image: url("/assets/img/delete-forever.svg");
    cursor: pointer;
  }
  &.cance-icon {
    background-image: url("/assets/img/ic_clear_black.svg");
  }
  &.edit-icon {
    background-image: url("/assets/img/edit-icon.svg");
  }
  &.delete {
    background-image: url("/assets/img/delete.svg");
  }
  &.update {
    background-image: url("/assets/img/update.svg");
  }
  &.autorenew {
    background-image: url("/assets/img/autorenew.svg");
  }
  &.stop {
    background-image: url("/assets/img/stop.svg");
  }
  &.okay {
    background-image: url("/assets/img/okay.svg");
  }

}

/* + text-ic */
.text-ic {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.text-ic__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
}

.text-ic__minText {
  color: #7E7E7E;
  font-size: 12px;
  line-height: 14px;
  display: block;
  margin-left: 25px;
}

.text-ic__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.text-ic__icon.delete {
  background-image: url("/assets/img/ic_delete_black.svg");
}

.text-ic__icon.edit {
  background-image: url("/assets/img/ic_mode_edit_black.svg");
}

.text-ic__icon.cancel {
  background-image: url("/assets/img/ic_clear_black.svg");
}

.text-ic__icon.active {
  background-image: url('/assets/img/ic_check_circle_blue.svg');
}

.text-ic__icon.suspended {
  background-image: url('/assets/img/ic_block_red.svg');
}

.text-ic__icon.invited {
  background-image: url('/assets/img/ic_schedule_grey.svg');
}

/* - text-ic */
