$shadowPopap: 0px 1px 3px 1px rgba(0, 0, 0, 0.44); /* тень попап */

.triangleIcon {
  background-image: url(/assets/img/triangle.png);
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: auto;
  opacity: 0.7;
}

/* + modalStandart */
.modalStandart.active {
  display: block;
}

.modalStandart {


  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 30;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  letter-spacing: -5px;


  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
  }
}

.modalStandart * {
  letter-spacing: 0;
}

.indentRw {
  margin: 20px 0 10px;
}

.modalStandart-wrap.min { /* max-width 320px */
  max-width: 320px;
}

.modalStandart-wrap.min {
  .headerMs, .contentMs, .footerMs {
    padding: 20px;
  }

}

.modalStandart-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  background-color: #fff;
  text-align: left;
  padding: 0;
  max-height: 100vh;
  overflow: auto;
  //padding-bottom: 70px;



  .button.grey {
    padding: 11px 20px;
    width: 100%;
    i {
      line-height: 1px;
      padding: 0;
    }
  }
  .input {
    width: 100%;
  }

  .headerMs {
    padding: 20px 25px;
  }
  .contentMs {
    padding: 20px 25px 25px;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
  }
  .footerMs {
    padding: 20px 25px;
    white-space: pre-line;
    word-wrap: break-word;
  }

  .sideTitle {
    display: block;
    margin-bottom: 15px;
  }

  .checkbox {
    display: block;
    margin-bottom: 20px;
  }

  .icon.cancel-black {
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0.6;
    cursor: pointer;
  }

  .minTilt {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
    width: 200px;
  }
  .namePosition {
    font-size: 14px;
    line-height: 24px;
    span {
      display: block;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .star-wrap {
    display: inline-block;
    vertical-align: middle;
  }
  .rating-item {
    margin-bottom: 10px;
  }

  .radio {
    .text {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }

    label {
      margin: 0 15px 4px 0;
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        margin: 0 0 4px 0;
      }
    }
  }
  .row-wrap.indent {
    margin-bottom: 25px;
  }
  .row-wrap.indentMin {
    margin-bottom: 10px;
  }
  .text.indentTop {
    margin-top: 25px;
  }
  .text{
    white-space: pre-line;
    word-wrap: break-word;
  }

  .button.min {
    margin: 0 auto;
    border: 1px solid #00C3F1;
    padding: 11px 10px;
    max-width: 190px;
  }

  .checkbox label {
    line-height: 1;
    display: block;
  }
  .star {
    width: 15px !important;
    height: 15px !important;
  }

  .indentLeft {
    margin-left: 20px;
  }
  .text .icon.ic_visibility_off_gray {
    margin-right: 5px;
  }

  .row-wrap.bottom .col-v5 {
    vertical-align: bottom;
  }
  .row-wrap {
    letter-spacing: -5px !important;
  }
  .row-wrap.spacing {
    letter-spacing: -5px !important;

    & * {
      letter-spacing: 0;
    }
  }
  .greyText.indentBottom,
  .greyText.indent {
    margin-bottom: 25px;
  }
  .button.shaded:hover {
    border: 1px solid #0092B2;

  }
  @media screen and (max-width: 640px) {

  }
}

.criteriaName {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 640px) {
  .modalStandart-wrap {
    -webkit-overflow-scrolling:touch;

    max-height: calc(100vh - 140px);
    width: 100%;
    max-width: 300px !important;
  }
  .modalStandart-wrap .minTilt {
    display: block;
    width: 100%;
  }
  .modalStandart-wrap .indentMob{
    margin-bottom: 15px;
  }
  //.modalStandart{
  //  transform: translateY(70px);
  //  top: -70px;
  //  padding-bottom: 70px;
  //}
}

/* - modalStandart */

/* + savePopup */
.savePopup {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 30;
  left: 0;
  right: 0;
  text-align: center;
  @media screen and (max-width: 640px) {
    //text-align: left;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
  }
}

.savePopup-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 320px;
  background-color: #fff;
  text-align: left;
  padding: 20px 0px 25px 0px;

  @media screen and (max-width: 640px) {
    width: 310px;
  }

  .checkbox .checkbox__box, .checkbox__text {
    vertical-align: middle;
  }
  .checkbox {
    margin: 0;
  }
  .cancel-black {
    position: absolute;
    right: 15px;
    top: 12px;
    opacity: 0.6;
    cursor: pointer;
  }

  .savePopup-c {
    padding: 0 20px 0 20px;
    border-bottom: 1px solid #D3D3D3;
  }

  .savePopup-f {
    padding: 15px 20px 0 20px;
  }

  .button {
    margin-top: 35px;
    width: 100%;
    max-width: 100%;
  }

  .sideTitle {
    margin-bottom: 15px;
  }
  .indentBt .textField {
    margin-top: 10px;
  }

  .col-v5 {
    vertical-align: bottom;
  }

  .input {
    width: 100%;
    max-width: 100%;
  }
}

/* - savePopup */

/* + promotionModal */
.promotionModal {
  display: block;
  max-width: 600px;
  box-shadow: $shadowPopap;
  position: relative;
  &.promo{
    max-width: 470px;
    width: calc(100% + 20px) !important;
   .stringCj{
      padding-bottom: 35px;
    }
    @media screen and (max-width: 640px){
      .stringCj {
        padding: 0px 10px 35px 10px;
      }
      .headerPm {
        padding: 20px 10px 0 10px;
        .sideSubTitle {
          margin-bottom: 15px;
        }
      }
      .button.shaded.min{
        width: 100%;
        max-width: 100%;
        margin-right: auto;
      }
    }
    .button.shaded:hover{
      border: 2px solid #0092B2;
    }
    .button.shaded.min{
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 50px;
      display: block !important;
    }

  }
  .triangle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .stringCj {
    padding: 0px 20px 10px 30px;
  }
  .checkbox {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 150px);

    label {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 125px);
      min-width: auto;
      max-width: calc(100% - 125px);
      line-height: 1;
    }
  }
  .absolutField {
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
  }
  .discountBox {
    max-width: 140px;
    float: none;
    min-width: 55px;
    text-align: center;
    margin-bottom: 10px;
  }
  .discountBox-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .multipleSelect, .unitySelect {
    background-color: #f1f1f1;
  }
}

.footerPm {
  padding: 15px 20px 20px 20px;
  border-top: 1px solid #D3D3D3;

  .button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    max-width: 140px;
  }
  .button.min.grey {
    padding: 11px 10px;
  }
}

.headerPm {
  position: relative;
  padding: 30px 20px 0 30px;

  i {
    position: absolute;
    right: 30px;
    top: 15px;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.7;
  }
}

/* - promotionModal */

/* + letterModal */
.letterModal {
  background-color: #fff;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5);
  padding: 20px 30px 35px 20px;
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  &.active {
    display: block;
  }

  .icon.cancel-black {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    opacity: 0.6;
  }

  .letterModal-wrap {
    display: block;
    margin-bottom: 15px;
  }

  .flag {
    display: inline-block;
    vertical-align: middle;
  }
  .sideTitle {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 35px);
  }
  .minText {
    display: block;
    color: #7E7E7E;
    margin-top: 5px;

    span {
      color: #7E7E7E;
      font-size: 12px;
    }
  }

  .letterModal__text {
    font-size: 14px;
    line-height: 16px;
    white-space: pre-line;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 640px) {
  .letterModal {
    padding: 20px 20px 25px 20px;
  }
  .letterModal .minText {
    padding-left: 35px;
  }
  .icon.cancel-black {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .letterModal-wrap {
    margin-bottom: 20px;
  }

}

/* - letterModal */