/* + new pagination */
.ngx-pagination {
  text-align: center;
  display: block;
  letter-spacing: -5px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 0 !important;
  padding: 0 20px;
  .pagination-previous a,
  .pagination-next a{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    transition: 0s;
    background-color: transparent !important;
    &:before{
      font-size: 0;
    }
  }
  .pagination-next.disabled{
    opacity: 0;
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 0 !important;
  }
}

.ngx-pagination * {
  letter-spacing: 0;
}

.ngx-pagination .pagination-next:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/ic_arrow_downward_black.svg);
  font-size: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 10px !important;
}

.ngx-pagination .pagination-previous:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/ic_arrow_downward_black.svg);
  font-size: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 10px !important;
}

.ngx-pagination span {
  font-size: 16px;
  cursor: pointer;

}

.ngx-pagination .pagination-previous.disabled:hover span,
.ngx-pagination .pagination-next.disabled:hover span {
  color: #333;
}

.ngx-pagination .pagination-previous:hover span,
.ngx-pagination .pagination-next:hover span,
.ngx-pagination .pagination-previous:hover a,
.ngx-pagination .pagination-next:hover a{
  color: #00C3F1;
}

.ngx-pagination .pagination-previous:hover:before,
.ngx-pagination .pagination-next:hover:after {
  background-image: url(/assets/img/ic_arrow_downward_blue.svg);
}

.ngx-pagination .pagination-previous.disabled:hover:before,
.ngx-pagination .pagination-next.disabled:hover:after {
  background-image: url(/assets/img/ic_arrow_downward_black.svg);
  //display: none;
}

.ngx-pagination .disabled {
  padding: 0 !important;
}

.ngx-pagination .current {
  background: rgba(0, 0, 0, 0) !important;
}

.pagination-next {
  float: right;
}

.pagination-previous {
  float: left;
  &.disabled{
    display: none;
  }
  a{
    display: inline-block;
    vertical-align: middle;
    &:after{
      font-size: 0;
    }
  }
}
.pagination-next{
  a{
    display: inline-block;
    vertical-align: middle;
    &:after{
      font-size: 0;
    }
  }
}
.ngx-pagination a, .ngx-pagination button {
 padding: 0;

}


/* - new pagination */

/* + pagination */
.pagination {
  display: block;
  letter-spacing: -5px;
  margin-top: 30px;
  position: relative;

}

.sideContent .pagination {
  padding: 0 25px;
}

.pagination * {
  letter-spacing: 0;
}

.pagination__ul {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 260px);
  text-align: center;
  margin: 0 0 1px;
  padding: 0 10px;
}

.pagination li {
  list-style: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  line-height: 1;
  padding: 4px 8px;
}

.pagination .status_0 {

}

.pgLink.prev.status_0 {
  opacity: 0; /* нужна высота кнопки для телефона (next перемещяем абсолютом вверх) */
  user-select: none;
  cursor: default; /* убираем выделение */
}

.pagination .status_1 {
  cursor: pointer;
  color: #333;

  &:hover {
    color: #00C3F1;
  }
}

.pagination .status_2 {
  color: #333;
  cursor: pointer;
}

.pagination .status_1:hover,
.pagination .status_2:hover {
  color: #00C3F1;
}

.pagination .status_3 {
  color: #00C3F1;
}

.pgLink {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  //width: 100px;
  width: 130px;
}

.pgLink.prev i {
  margin-right: 10px;
  margin-bottom: 3px;
}

.pgLink.next i {
  margin-left: 10px;
  margin-bottom: 3px;
}

.pgLink.next {
  text-align: right;
}

/* - pagination */

@media screen and (max-width: 800px) {
  /* + pagination */
  .pagination__ul {
    display: block;
    margin: 10px auto 0;
    width: 100%;
  }
  .pgLink.next {
    position: absolute;
    top: 0;
    right: 20px;
  }
  /* - pagination */
}

@media screen and (max-width: 640px) {
  .pagination {
    margin-bottom: 30px;
  }
  .ngx-pagination {
    margin-bottom: 30px !important;
    padding: 50px 20px 0;
  }

  .pagination-next {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .pagination-previous {
    position: absolute;
    top: 0;
    left: 20px;
  }
}
