/* + favoritPopup */
.favoritPopup {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 40;
  display: none;

  .favoritPopup-add, .favoritPopup-remov {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 16px 10px;

  }
}

.favoritPopup-add {
  background-color: #00C434;
}

.favoritPopup-remov {
  background-color: #E60202;
}

@media screen and (max-width: 640px) {
  .favoritPopup {
    display: block;
  }
  .favoritPopup-add, .favoritPopup-remov {
    display: none;
  }

  .favoritPopup-add.active {
    display: block;
  }
  .favoritPopup-remov.active {
    display: block;
  }
}

/* - favoritPopup */

/* + cartModal */
.cartModal-wrap {
  position: relative;
  width: 100%;
}
.cartModal-scrol{
  padding: 20px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}
.cartModal {
  display: none;
  width: 320px;
  background-color: white;
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);

  .attachedFile{
    margin-right: 5px;
  }
  .row-wrap.bottom {
    margin-top: 15px;
  }

  p {
    color: #333333;
    font-size: 14px;
    line-height: 16px;
  }
  &.active {
    display: block;
  }
  .cancel-black {
    position: absolute;
    right: 15px;
    top: 12px;
    opacity: .6;
    cursor: pointer;
  }
  &:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 21px;
    margin: auto;
    z-index: 100;
    width: 9px;
    height: 8px;
    background-image: url(/assets/img/arrTell.svg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .tabletCart__span {
    color: #6F6F6F;
    font-size: 12px;
    line-height: 14px;
    display: block;
  }

  .col-v10, .col-v9, .col-v8, .col-v7, .col-v6, .col-v5, .col-v4, .col-v3, .col-v2, .col-v1 {

    padding-right: 10px;
  }
  .discountText {
    display: inline-block;
    vertical-align: middle;
    margin-top: -30px;
  }
  .tabletCart__price {
    position: relative;
  }

  .col-v2, .col-v1 {
    padding: 0;
  }
  .col-v1 {
    text-align: right;
  }
  .tabletCart-h {
    color: #6F6F6F;
    font-size: 13px;
    line-height: 15px;
  }
  .totalPrice__text {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    margin-top: 10px;
  }
}

.totalPrice .discountText {
  text-decoration: none;
  margin: 0;
  color: #FF1E00;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.totalPrice {
  position: relative;
  padding: 15px 0 20px;

  .col-v4, col-v10 {
    padding: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    background-color: #D3D3D3;;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    background-color: #D3D3D3;;
  }
}

.tabletCart {
  margin-bottom: 25px;
}

.tabletCart-string,
.tabletCart-header {
  letter-spacing: -5px;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}

.tabletCart-string *,
.tabletCart-header {
  letter-spacing: 0;
}

.tabletCart-string > div,
.tabletCart-header > div {
  vertical-align: middle;
}

.promocodeCart {
  .col-v3 {
    padding: 0;
  }
  .button {
    border: 1px solid #00c3f1;
    padding: 11px 0;
  }
  .minText {
    margin-bottom: 5px;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.codesApplied {
  display: block;
  margin-top: 10px;
  .attachedFile {
    border: 1px solid #666666;
    padding: 0px 0px 1px;
    line-height: 1;

    .icon {
      width: 18px;
      height: 12px;
      position: relative;
      margin: 0;
      top: auto;
      right: auto;
    }
    .blueText {
      font-size: 12px;
      color: #666666;
    }

  }
  .minText {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    font-size: 12px;

  }
}

.cartModal-wrap .button {
  width: 100%;
  max-width: 100%;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 640px) {
  .cartModal:before {
    right: 44px;
  }
  .cartModal{
    right: -20px;
  }
  .cartModal-scrol {
    max-height: 100%;
  }
  //.cartModal {
  //  max-height: calc(100vh - 162px);
  //  overflow-y: scroll;
  //
  //}

  //
  //app-shop-cart-modal > .cartModal-wrap{
  //  &:before {
  //    content: "";
  //    position: absolute;
  //    top: -11px;
  //    right: 41px;
  //    /* left: 0; */
  //    margin: auto;
  //    z-index: 100;
  //    width: 9px;
  //    height: 8px;
  //    background-image: url(/assets/img/arrTell.svg);
  //    background-position: 50%;
  //    background-size: 100%;
  //    background-repeat: no-repeat;
  //    -webkit-transform: rotate(180deg);
  //    transform: rotate(180deg);
  //  }
  //}
}

/* - cartModal */

/* + стили downPopup находятся в app/modules/down-popup */
.parrend-for-app-down-popup .default, .parrend-for-app-down-popup .success,
.parrend-for-app-down-popup .info, .parrend-for-app-down-popup .warning {
  position: relative;
  display: block;
}

@media screen and (max-width: 1100px) {
  .downPopup .default,
  .downPopup .success,
  .downPopup .info,
  .downPopup .warning {
    padding: 15px 20px;
  }

}

/* - стили downPopup находятся в app/modules/down-popup */

/* + popupBs страница создания вакансии */
.popupBs {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding-right: calc((100% - 1060px) / 2);
  padding-left: calc((100% - 530px) / 2);
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 36px;
  z-index: 20;
  .text-ic{
    display: inline-flex;
    align-items: center;
  }
}

.popupBs * {
  display: inline-block;
  vertical-align: middle;
}

.popupBs .button.shaded {

  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  width: 150px;
  margin-right: 25px;
}

.popupBs .button.shaded:hover {
  border: 1px solid #0092B2;
}

.popupBs__link {
  float: right;
  line-height: 36px;
}

.popupBs__link i {
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 0;
}

.popupBs__link p {
  cursor: pointer;
}

.popupBs__link p:hover {
  color: #00C3F1;
}

.popupBs {

  .checkbox {
    margin: 0;
    line-height: 1;

    .checkbox__text {
      width: auto;
    }
  }
}

@media screen and (max-width: 1100px) {
  .popupBs {
    padding: 15px 20px;
  }
}

/* - popupBs страница создания вакансии */

/* + fixedLine детальная вакансия */
.fixedLine-wrap {
  bottom: 0px;
  left: 0;
  max-width: 1100px;
  right: 0;
  margin: auto;
  z-index: 20;
  width: 100%;
}

.fixedLine-wrap.fix {
  position: fixed;
}

.fixedLine-wrap.absolut {
  position: absolute;
  bottom: 0;

}

.fixedLine-wrap.absolute .fixedLine {
  border-left: 0;
  border-bottom: 0;
  width: 77%;
}

.fixedLine-wrap {
  .fixedLine {
    width: calc(77% - 1px);
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;

    position: relative;
    text-align: center;
    padding: 17px 30px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-top: -1px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.fixedLine-wrap.sb {
  .fixedLine {
    margin: 0 auto;
    margin-right: 1px;
    width: calc(77% - 1px);
  }
}

/* - fixedLine детальная вакансия */
/* + .linkIcon-wrap */
.linkIcon-wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 49%;
}

.linkIcon-wrap:last-child {
  text-align: right;
}

@media screen and (max-width: 980px) {

  .fixedLine-wrap {
    .fixedLine {
      width: calc(100% - 1px);
    }
  }
}

@media screen and (max-width: 640px) {
  .fixedLine-wrap {
    display: none;
  }
}

/* - .linkIcon-wrap */

/* + popapApply */
.popapApply {
  padding-right: calc((100% - 1060px) / 2);
  padding-left: calc((100% - 1060px) / 2);
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 10;

  .button {
    width: 210px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .float {
    float: right;
    margin: 7px 0 6px;
  }

  .linkIcon {
    margin: 6.5px 0;
  }

}

.popapApply-wrap.stop .popapApply {
  position: absolute;
  bottom: unset;
  //margin-top: 1px;
}

.popupBs .checkbox__text {
  font-weight: normal;
}

@media screen and (max-width: 1100px) {
  .popapApply {
    padding: 7px 20px;
  }

  .fixedLine-wrap.sb .fixedLine {
    width: calc(100% - 266px); /* sb = sidebar (на странице где есть sidebar) */
  }
}

@media screen and (max-width: 1080px) {
  .fixedLine-wrap.sb .fixedLine {
    width: calc(100% - 216px); /* sb = sidebar (на странице где есть sidebar) */
  }
}

@media screen and (max-width: 980px) {
  .popapApply {

    .linkIcon-wrap {
      width: 100%;
      text-align: center;
    }
    .linkIcon-wrap:last-child {
      display: none;
    }
    .linkIcon {
      display: none;
    }
    .button {
      margin: 0;
    }

  }
  .fixedLine-wrap.sb {
    .linkIcon {
      display: block;
      margin: 0 0 5px 0;
    }
    .linkIcon:last-child {
      margin: 0;
    }
    .linkIcon-wrap:last-child {
      text-align: left;
    }
  }

}

@media screen and (max-width: 640px) {
  .popupBs {
    text-align: center;
    padding: 7px 20px;

    .button.shaded {
      margin: 0;
    }

    .checkbox.mobileNone {
      display: none;
    }
  }
  .popapApply {
    padding: 8px 20px;
  }
}

/* - popapApply */
