/* + scroll */
::-webkit-scrollbar-button {
  width: 5px;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: rgba(216, 216, 216, 1)
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(123, 123, 123, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(123, 123, 123, 1);
}

::-webkit-resizer {
  width: 4px;
  height: 0px
}

::-webkit-scrollbar {
  width: 4px;
}
/* - scroll */