.table {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      td {
        color: #6F6F6F;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        padding: 12px 0;


      }
      td:first-child {
        width: 40%;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px dashed #CCCCCC;
      td {
        color: #333333;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 12px 5px;
        word-break: break-all;
        min-width: 50px;

        i {
          font-size: 20px;
          line-height: 20px;
        }
      }
      td:first-child {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  span.birch {
    display: block;
  }

}

.table.td5{
  td{
    width: 15%;
  }
  td:first-child {
    width:40%;
  }
}

.table.td4 {
  td {
    width: 20%;
  }
  td:first-child {
    width: 40%;
  }
}

.table.td3 {
  td {
    width: 30%;
  }
  td:first-child {
    width: 40%;
  }
}

.table:last-child {
  margin-bottom: 0;
}
.tableSkills {
  margin-bottom: 30px;
  .tableSkills-row {

    border-bottom: 1px dashed #CCCCCC;
    padding: 7px 22px;
    &:last-child {
      border-bottom: none;
    }
    .tableSkills-title {
      font-size: 14px;
      padding: 7px 0;


    }
    .tableSkills-col{
      display: inline-block;
    }
  }
  .tableSkills-rowHead {
    padding: 8px 22px;
    color: #6F6F6F;
    font-size: 13px;
    line-height: 15px;

    .tableSkills-Headtitle {
      font-size: 13px;
      line-height: 15px;

      color: #6f6f6f;
    }
  }

}

@media screen and (max-width: 640px) {
  .table tr td:last-child {
    padding-right: 20px;
  }
  .table tbody tr td:first-child {
    padding-right: 10px;
  }

  .table td{
    position: relative;
  }
  .turnText{
    -moz-transform: rotate(-90deg) translate(50%, 0px);
    -webkit-transform: rotate(-90deg) translate(50%, 0px);
    -o-transform: rotate(-90deg) translate(50%, 0px);
    -ms-transform: rotate(-90deg) translate(50%, 0px);
    transform: rotate(-90deg) translate(50%, 0px);
    padding-right: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    margin: auto;
    text-align: left;
  }
  .table {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .table.td5 td:first-child {
    width: 15%;
  }
  .table.td5 td {
    width: 10%;
  }
}

@media screen and (max-width: 350px) {
  .table tr td {
    max-width: 150px;
  }
}
