
p, span {
  color: #333333;
  margin: 0;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 20px;

}

p {
  transition: 0.6s;
}
.pre-line{
  white-space: pre-line;
  word-wrap: break-word;
}

ul {
  padding: 0;
}

.title {
  font-size: 24px;
  line-height: 28px;
  display: block;
  font-weight: 500;
  overflow: hidden;

  &:visited {
    color: #6E6E6E;
  }
}

.title i { /* удаляем на телефонее  */
  font-style: normal;
}

.titleSidebar {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 25px;
}

.ellipsis { /* многоточие */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: bold;
}

.createDate {
  font-size: 13px;
}

.sideTitle {
  font-size: 20px;
  line-height: 24px;
}

.sideSubTitle {
  color: $color-5;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 22px;
}

.minTilt {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.form-subTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.npm.indent {
  margin-bottom: 20px;
}

.minText {
  font-size: 12px;
}
.microText{
  font-size: 10px;
}
.textField {
  color: #E1E1E1;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin: 0 0 4px 0;
  display: block;
  position: relative;
}

.textField.dark {
  color: #666666;
}

.indentTf { /* отступ (в место textField) с вверху для выравнивания полей */
  margin-top: 18px;
}

.greyText {
  color: #757575;
  font-size: 13px;
  line-height: 15px;
}

.greenText {
  color: #00C434;
  font-size: 14px;
  line-height: 16px;
}

.subMin-title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  display: block;
}

.text {
  font-size: 14px;
  line-height: 20px;
}

.post {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  i {
    font-size: 14px;
    color: #666666;
    display: inline-block;
    vertical-align: top;
    padding: 3px 5px 0 0;
  }
  span {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 25px);
  }

}

.dateText {
  font-size: 13px;
  color: #666666;
  line-height: 15px;
}

.dateText span {
  display: block;
  font-size: 13px;
  color: #666666;
  line-height: 15px;
}

.text11 {
  color: #6F6F6F;
  font-size: 11px;
  line-height: 13px;
  display: block;
}

.discountText {
  color: #FF1E00;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  text-decoration: line-through;
}

.text13 {
  font-size: 13px;
  color: #333333;
  line-height: 15px;

  .blueLink {
    font-size: 13px;
    font-weight: normal;
  }
}

.text15 {
  color: #626262;
  font-size: 15px;
  line-height: 18px;
}

a {
  text-decoration: none;
  transition: 0.6s;
  font-size: 15px;
  cursor: pointer;
}

a:focus, a:hover {
  color: inherit;
}

.blueLink {
  color: #00C3F1;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.blueLink.indentTop {
  margin-top: 15px;
  display: inline-block;
}

.blueLink:hover {
  color: #0092B2;
}

.blueLink.min {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.blueText {
  color: #00C3F1;
}

/* + linkIcon */
.linkIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  i {
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    margin-right: 10px;
    padding: 0;
  }
  span {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.6s;
  }
  span:hover {
    color: #00C3F1;
  }
}

.linkIcon.min {
  span {
    font-size: 13px;
    line-height: 15px;
  }
}

.linkIcon:last-child {
  margin-right: 0;
}

/* - linkIcon */

.ulSquare { /* на странице детальной новости */
  li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
    padding-left: 35px;
  }
  li:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #979797;
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 22px;
    //line-height: 20px;
  }

}

@media screen and (max-width: 980px) {
  .title {
    font-size: 20px;
    //line-height: 20px;
  }

  p, span {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .mainCard .title {
    font-size: 19px;
  }
  .title {
    font-size: 18px;
    //line-height: 20px;
  }

}

@media screen and (max-width: 640px) {
  .title {
    font-size: 24px;
    //line-height: 20px;
  }
  .title i {
    font-style: normal;
    display: none;
  }
}

@media screen and (max-width: 450px) {

}
