.lampText {
  padding-left: 30px;
  line-height: 20px;
  position: relative;
  font-weight: normal;
  font-size: 13px;
  color: #626262;
}



.bgText {
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  &.bgText-black {
    background-color: #F1F1F1;
    color: #8B8B8B;
  }

  &.bgText-blue {
    background-color: #00C3F1;
    color: #ffffff;
  }
}


.lampText:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("/assets/img/lamp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.lampText.min {
  font-size: 13px;
  line-height: 15px;
  color: #626262;
  max-width: 730px;
}

.lampText.indent {
  margin: 10px 0;
}


.attachText {
  padding-left: 30px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("/assets/img/attach.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.grayText {
  color: #7E7E7E;
  &.small {
    font-size: 12px;
  }
}

.linkText {
  font-size: 14px;
  color: $color-2;
  cursor: pointer;
}

/* + quadList */
.quadList-item{
  color: #333333;	font-size: 15px;	line-height: 20px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;

  &:before{
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 5px;
    border: 1px solid #979797;
    margin: auto;
  }

  &:last-child{
    margin-bottom: 0;
  }
}
.quadList__title{
  color: #333333;	font-size: 15px;	line-height: 20px;
  margin-bottom: 10px;
}
/* - quadList */
