
<!--===TYPE_0=== mRequest_educators-->
<div class="modal-wrap" *ngIf="show&&type==0">
  <div class="modal-content">
    <app-loader
    [show]="load"
    ></app-loader>
    <i class="material-icons close" (click)="closeModal()">&#xE14C;</i>
    <div class="modal-content-item">
      <p class="sideTitle">{{"btn.Request_recommendation" | translate}}</p>
      <p class="lampText">{{"WeRecommendMoreDetailed_0" | translate}}</p>
    </div>
    <div class="modal-content-item">
      <div class="modal-form">
        <div class="modal-form-item">
          <p class="textField">{{"SelectOrganization" | translate}}</p>
          <div class="w100">
            <app-unity-select
              [title]="'SelectOrganization'|translate"
              [arrIn]="schools"
              (arrOut)="setGetEducatorFromSchoolID($event.id);educators=[]"
            ></app-unity-select>
            <!--recommendation.schoolId = this.uS.profile.Student.schools[$event.id]._id-->
          </div>
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.SelectEducatorFromRegistered" | translate}}</p>
          <div class="multipleSelect w100">
            <app-unity-select
              [title]="'Select educator from registered'|translate"
              [arrIn]="educators"
              (arrOut)="recommendation.educatorId = $event.id"
            ></app-unity-select>
          </div>
        </div>

        <div class="modal-form-item" *ngIf="!recommendation.educatorId||!recommendation.schoolId">
          <p class="textField">{{"OrEnterEmailAddressCaseYouFindFromList" | translate}}</p>

          <input [textMask]="dS.emailMask" [maxLength]="70"  class="input" type="text" [(ngModel)]="recommendation.email">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.YourLetter" | translate}}</p>
          <textarea  class="textarea" [maxLength]="1000" [(ngModel)]="recommendation.letter"></textarea>
        </div>
      </div>

    </div>
    <div class="modal-content-item bottom">

          <button class="button shaded small" (click)="SendRequest(0)">{{"btn.SendRequest" | translate}}</button>

    </div>
  </div>
</div>


<!--===TYPE_1=== mRequest_company-->
<div class="modal-wrap" *ngIf="show&&type==1">
  <div class="modal-content">
    <i class="material-icons close" (click)="closeModal()">&#xE14C;</i>
    <div class="modal-content-item">
      <p class="sideTitle">{{"RequireRecommendationEmployer" | translate}}</p>
      <p class="lampText">{{"WeRecommendMoreDetailed_1" | translate}}</p>
    </div>
    <div class="modal-content-item">
      <div class="modal-form">

        <div class="modal-form-item">

          <p class="textField">{{"inputLabel.SelectCompany" | translate}}*</p>

          <div class="w100">
            <!--<app-unity-select-->
              <!--[title]="'Relation'"-->
              <!--[arrIn]="companys"-->
              <!--(arrOut)="recommendation.workExpId = this.uS.profile.Student.workExp[$event.id]._id "-->
            <!--&gt;</app-unity-select>-->
            <input  class="input" [maxLength]="40" type="text" [(ngModel)]="recommendation.workExpId">
          </div>
        </div>
        <div class="modal-form-item">

          <p class="textField">{{"inputLabel.Name" | translate}}*</p>
          <input  class="input" type="text"  [maxLength]="40"  [(ngModel)]="recommendation.name">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"Position" | translate}}*</p>
          <input  class="input" type="text"  [maxLength]="70"   [(ngModel)]="recommendation.position">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.EmailAddress" | translate}}*</p>

          <input  class="input" type="text" [maxLength]="70"   [(ngModel)]="recommendation.email"  [textMask]="dS.emailMask" >
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.СontactPhone" | translate}}*</p>
          <input  class="input" type="text" [textMask]="{mask:dS.phoneMask}"  [(ngModel)]="recommendation.phone">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.YourLetter" | translate}}</p>
          <textarea  class="textarea" [maxLength]="1000"  [(ngModel)]="recommendation.letter"></textarea>
        </div>
      </div>

    </div>
    <div class="modal-content-item bottom">

      <button class="button shaded small" (click)="SendRequest(1)">{{"btn.SendRequest" | translate}}</button>

    </div>
  </div>
</div>


<!--===TYPE_2=== mRequest_other-->
<div class="modal-wrap" *ngIf="show&&type==2">
  <div class="modal-content">
    <i class="material-icons close" (click)="closeModal()">&#xE14C;</i>
    <div class="modal-content-item">
      <p class="sideTitle">{{"btn.Request_recommendation"|translate}}</p>
      <p class="lampText">{{"WeRecommendMoreDetailed_2" | translate}}</p>
    </div>
    <div class="modal-content-item">
      <div class="modal-form">
        <div class="modal-form-item">
          <p class="textField">{{"FillInName" | translate}}*</p>
          <input  class="input" type="text" [maxLength]="40"  [(ngModel)]="recommendation.name">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{'relat'|translate}}*</p>
          <div class=" w100">
            <app-unity-select
              [title]="'relat'"
              [arrIn]="dS.options.Relation"
              (arrOut)="recommendation.relation = $event.id"
            ></app-unity-select>
          </div>
        </div>
      </div>
      <div class="modal-form">
        <p class="modal-form-title">
          Person details
        </p>
        <div class="modal-form-item" *ngIf="recommendation.relation==0||recommendation.relation==1||recommendation.relation==2">
          <p class="textField">{{"input.Company_name" | translate}}</p>
          <input  class="input" type="text" [maxLength]="100"  [(ngModel)]="recommendation.orgName">
        </div>
        <div class="modal-form-item" *ngIf="recommendation.relation==0||recommendation.relation==1||recommendation.relation==2">
          <p class="textField">{{"inputLabel.Position" | translate}}*</p>
          <input  class="input" type="text" [maxLength]="70" [(ngModel)]="recommendation.position">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.EmailAddress" | translate}}*</p>
          <input  class="input" type="text" [maxLength]="70"  [(ngModel)]="recommendation.email"  [textMask]="dS.emailMask">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.СontactPhone" | translate}}</p>
          <input  class="input" type="text" [textMask]="{mask:dS.phoneMask}" [(ngModel)]="recommendation.phone">
        </div>
        <div class="modal-form-item">
          <p class="textField">{{"inputLabel.YourLetter" | translate}}</p>
          <textarea  class="textarea" [maxLength]="1000" [(ngModel)]="recommendation.letter"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-content-item bottom">

      <button class="button shaded small" (click)="SendRequest(2)">{{"btn.SendRequest" | translate}}</button>

    </div>
  </div>
</div>
