<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar" ></sidebar-link>
<div class="sideContent resume-list">

  <div  class="title-wrap">
    <p class="title">{{'resume.list_title'|translate}}</p>
    <button [routerLink]="['/resume/create']" class="button shaded">{{'input.create_new_resume'|translate}}</button>
    <div class="lampText">
      {{'resume.list_description'|translate}}
    </div>
  </div>

  <div class="resume-list-wrap" >
    <div class="resume-list-item" *ngFor="let resume of uS.profile.Student.resumes; let i = index;">
      <div class="resume-list-item-top">
          <div class="item-titleBlock">
            <img onload="window['loadPhoto'](this)" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',resume.language).value}}.png" alt="">
            <span class="item-title" (click)="router.navigate(['/resume/create',resume._id]);">{{resume.name}}</span>
            <rating-star [dieStar]="false" [starResult]="false"  [ratingValue]="resume.rating"></rating-star>
            <p class="last-edited">{{'Last_edited'|translate}}: <span>{{resume.updated_at*1000| date: 'dd.MM.yyyy (HH:mm)'}}</span></p>
          </div>
          <div class="item-checkbox">
          </div>
          <div class="item-progress">
            <app-progress-prc [prc]="resume.prc+uS.userDataComplited"></app-progress-prc>
        </div>
      </div>
      <div class="resume-list-item-bottom">
        <div class="resume-list-item-bottom-left">
          <span class="list-icon left">
            <switch-toggle

              [defaultInput]="resume.publish"
              [trueTitle]="'Published'|translate"
              [falseTitle]="'Not_published'|translate"
              (checkedState)="checkPublish(resume._id,$event);"></switch-toggle>
          </span>
        </div>
        <div class="resume-list-item-bottom-right">
          <span class="list-icon mb">
            <switch-toggle

              [defaultInput]="resume.publish"
              [trueTitle]="'Published'|translate"
              [falseTitle]="'Not_published'|translate"
              (checkedState)="checkPublish(resume._id,$event)"></switch-toggle>
          </span>
          <span class="list-icon iw40" (click)="router.navigate(['/resume/create/',resume._id,'dublicate']);">
            <i class="material-icons">content_copy</i>

            <span>{{'btn.dublicate'|translate}}</span>

          </span>
          <span class="list-icon iw30" (click)="router.navigate(['/resume/details/',resume._id]);">
           <i class="material-icons">remove_red_eye</i>
            <span>{{'btn.View'|translate}}</span>

          </span>
          <span class="list-icon iw30" (click)="router.navigate(['/resume/create/',resume._id]);">
           <i class="material-icons">mode_edit</i>
            <span>{{'btn.Edit'|translate}}</span>

          </span>
          <span class="list-icon iw30" (click)="deleteResume(i)">
            <i class="material-icons">delete</i>
            <span>{{'btn.Delete'|translate}}</span>

          </span>
        </div>




      </div>
    </div>

  </div>






</div>
