.resume-list .lampText {
  margin-bottom: 20px;
  margin-top: 15px;
}
switch-toggle * {
  max-width: 100% !important;
}
.resume-list-item-bottom-left {
  width: 180px;
}
@media screen and (max-width: 640px) {
  rating-star {
    margin-left: 33px;
  }

  .resume-list-item-top .item-checkbox {
    padding-top: 20px;
  }

}

rating-star {
  margin-left: 10px;
}
