
<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'Subaccounts.title' | translate}}</p>
    </div>

    <div class="lampText min indent">
        {{'Subaccounts.description' | translate}}

    </div>


    <div class="subacountBox">
        <p class="minTilt">{{'Subaccounts.InvitePeopleYourCompany'|translate}}</p>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <p class="textField">{{"eduList.emailAddr" | translate}}</p>
                    <input class="input border" type="text" [maxLength]="70" [textMask]="dataService.emailMask" [(ngModel)]="email">
                </div>
              <div class="selectSb-wrap">
                <div class="textField">{{"TypeAccess" | translate}}
                  <div class="btnTell-wrap">
                    <i class="material-icons btnTell">&#xE88E;</i>
                    <div class="tellBox">{{"tooltips.TypeAccess" | translate}}</div>
                  </div>
                </div>
                <app-unity-select
                  [title]="''"
                  [type]="1"
                  [arrIn]="[{id: 0, text: 'My employee'},{id: 0, text: 'Partner-Company'}]"
                  (arrOut)="typeAccess = $event.id"></app-unity-select>
              </div>
                <div class="selectSb-wrap">
                    <div class="textField">{{"TypeAccess" | translate}}
                        <div class="btnTell-wrap">
                            <i class="material-icons btnTell">&#xE88E;</i>
                            <div class="tellBox">{{"tooltips.TypeAccess" | translate}}</div>
                        </div>
                    </div>
                  <app-unity-select
                    [title]="''"

                    [arrIn]="dataService.options.access"
                    (arrOut)="access = $event"></app-unity-select>

                </div>
                <div class="statusSb-wrap indent">
                    <button class="button shaded min" (click)="createSubaccount()">{{"Invite" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

  <div class="subacountBox" *ngIf="userService.profile.employee&&userService.profile.employee.length">
    <p class="minTilt">{{"employee" | translate}}</p>
    <div class="boxSide" *ngFor="let user of userService.profile.employee;let i = index">
      <div class="boxSide-item" >
        <div class="textSb-wrap">
          <div class="sideTitle">{{user.first_name}} {{user.last_name}}<span class="textField"> ({{dataService.options.access[user.access].text|translate}})</span>
            <a class="blueLink">{{user.email}}</a>
          </div>
        </div>
        <div class="selectSb-wrap">

        </div>
        <div class="statusSb-wrap">
          <div class="text-ic" *ngIf="user.status==0">
            <i class="icon ic_access_time_black"></i>
            <p class="text-ic__text">{{"invited" | translate}} </p>
            <span class="text-ic__minText">{{dataService.dateConvert(user.created_at) | date: 'dd.MM.yyyy'}}</span>
          </div>
          <div class="text-ic" *ngIf="user.status==1">
            <i class="icon completed-blue"></i>
            <p class="text-ic__text">{{"Active" | translate}} </p>
            <span class="text-ic__minText">{{dataService.dateConvert(user.created_at) | date: 'dd.MM.yyyy'}} </span>
          </div>

        </div>

        <div class="edit-wrap">
          <!--[attr.disabled]="user.status==0 ? true : false"-->
          <button *ngIf="user.status!=1"

                  class="text-ic edit-button"  (click)="user.edit=!user.edit;clearEdit(user)">
            <span class="text-ic__icon edit"></span>
            <p class="text-ic__text">{{"btn.Edit" | translate}}</p>
          </button>
        </div>
        <div class="delete-wrap">
          <button class="text-ic">
            <span class="text-ic__icon delete"></span>
            <p class="text-ic__text" (click)="deleteEmployee(user._id,i)">{{'Delete'|translate}}</p>
          </button>
        </div>

      </div>
      <div class="boxSide-hidden active" *ngIf="user.edit"><!-- добавить active -->
        <div class="textSb-wrap">
          <p class="textField">{{"eduList.emailAddr" | translate}}</p>
          <p class="post"> {{user.email}}</p>
        </div>
        <div class="selectSb-wrap">
          <div class="textField">{{"TypeAccess" | translate}}
            <div class="btnTell-wrap">
              <i class="material-icons btnTell">&#xE88E;</i>
              <div class="tellBox">{{"settings.deac_text" | translate}}</div>
            </div>
          </div>

          <app-unity-select

            [title]="dataService.options.access[user.access].text|translate"
            [valueId]="user.access"
            [arrIn]="dataService.options.access"
            (arrOut)="Uaccess = $event.id">

          </app-unity-select>
        </div>
        <div class="statusSb-wrap">

        </div>
        <div class="edit-wrap">
          <button class="button shaded min" (click)="editEmployee(user,i);user.edit=!user.edit">Save</button>
        </div>
        <div class="delete-wrap">
          <button class="text-ic">
            <span class="text-ic__icon cancel"></span>
            <p class="text-ic__text" (click)="user.edit=!user.edit">{{"btn.Cancel" | translate}}</p>
          </button>
        </div>
      </div>
    </div>

  </div>
    <div class="subacountBox">
        <p class="minTilt">{{"AdditionalAccounts" | translate}}</p>
        <div class="boxSide" *ngFor="let user of userService.profile.subaccounts;let i = index">
            <div class="boxSide-item" >
                <div class="textSb-wrap">
                    <div class="sideTitle">{{user.first_name}} {{user.last_name}}<span class="textField"> ({{dataService.options.access[user.access].text|translate}})</span>
                        <a class="blueLink">{{user.email}}</a>
                    </div>
                </div>
                <div class="selectSb-wrap">

                </div>
                <div class="statusSb-wrap">
                    <div class="text-ic" *ngIf="user.status==0&&!user.blocked">
                        <i class="icon ic_access_time_black"></i>
                        <p class="text-ic__text">{{"invited" | translate}} </p>
                        <span class="text-ic__minText">{{dataService.dateConvert(user.created_at) | date: 'dd.MM.yyyy'}}</span>
                    </div>
                  <div class="text-ic" *ngIf="user.status==1&&!user.blocked">
                    <i class="icon completed-blue"></i>
                    <p class="text-ic__text">{{"Active" | translate}} </p>
                    <span class="text-ic__minText">{{dataService.dateConvert(user.created_at) | date: 'dd.MM.yyyy'}} </span>
                  </div>
                  <div class="text-ic" *ngIf="user.blocked">
                    <i class="icon suspended-red"></i>
                    <p class="text-ic__text">{{"Suspended" | translate}} </p>
                    <span class="text-ic__minText">{{dataService.dateConvert(user.created_at) | date: 'dd.MM.yyyy'}} </span>
                  </div>
                </div>

                <div class="edit-wrap">
                  <!--[attr.disabled]="user.status==0 ? true : false"-->
                  <button *ngIf="user.status!=0"

                      class="text-ic edit-button"  (click)="user.edit=!user.edit;clearEdit(user)">
                        <span class="text-ic__icon edit"></span>
                        <p class="text-ic__text">{{"btn.Edit" | translate}}</p>
                    </button>
                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <span class="text-ic__icon delete"></span>
                        <p class="text-ic__text" (click)="deleteInvite(user._id,i)">Delete</p>
                    </button>
                </div>

            </div>
            <div class="boxSide-hidden active" *ngIf="user.edit"><!-- добавить active -->
                <div class="textSb-wrap">
                    <p class="textField">{{"eduList.emailAddr" | translate}}</p>
                    <p class="post"> {{user.email}}</p>
                </div>
                <div class="selectSb-wrap">
                    <div class="textField">{{"TypeAccess" | translate}}
                        <div class="btnTell-wrap">
                            <i class="material-icons btnTell">&#xE88E;</i>
                            <div class="tellBox">{{"settings.deac_text" | translate}}</div>
                        </div>
                    </div>

                    <app-unity-select

                            [title]="dataService.options.access[user.access].text|translate"
                            [valueId]="user.access"
                            [arrIn]="dataService.options.access"
                            (arrOut)="Uaccess = $event.id">

                    </app-unity-select>
                </div>
                <div class="statusSb-wrap">
                    <div class="checkbox">
                        <input id="Suspend1" type="checkbox"  [(ngModel)]="Ublocked"  name="check"
                               >
                        <label for="Suspend1"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{"Suspended" | translate}}</p></label>
                    </div>
                </div>
                <div class="edit-wrap">
                    <button class="button shaded min" (click)="editInvite(user,i);user.edit=!user.edit">Save</button>
                </div>
                <div class="delete-wrap">
                    <button class="text-ic">
                        <span class="text-ic__icon cancel"></span>
                        <p class="text-ic__text" (click)="user.edit=!user.edit">{{"btn.Cancel" | translate}}</p>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
