input {
  margin: 0;
  border-radius: 0;
  width: auto;
  box-shadow: none;
  padding: 0 15px;
  height: 38px;
  background-color: #fff;
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  border: 1px solid #E5E5E5;
}

.edit-button:disabled {
  filter: brightness(2.5);
}

.lampText.indent {
  margin: 10px 0 35px;
}


.boxSide {
  margin-bottom: 15px;
  .button.min {
    max-width: 100px;
  }
}
.boxSide-hidden {
  padding: 20px 30px 20px 30px;
  letter-spacing: -5px;

  & *{
    letter-spacing: 0;
  }
}

.input{
  width: 100%;
}

.boxSide-item {
  letter-spacing: -5px;
}

.boxSide-item * {
  letter-spacing: 0px;
}

.textField {
  color: #666;
}

.sideTitle.indent {
  margin: 35px 0 25px 0;
}

.sideTitle {
  .textField {
    color: #7E7E7E;
    display: inline;
  }
  .blueLink {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
}

.inputSb-wrap {
  display: inline-block;
  vertical-align: bottom;
  width: 34%;
  padding-right: 20px;

  .input {
    width: 100%;
  }
}

.selectSb-wrap {
  width: 22%;
  padding-right: 20px;
}

.btnSb-wrap {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  margin-right: 20px;
}

.elementsSb-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 67%;
  text-align: right;

}

.textSb-wrap,
.selectSb-wrap,
.statusSb-wrap,
.edit-wrap,
.delete-wrap {
  display: inline-block;
  vertical-align: bottom;
  min-height: 36px;
}

.textSb-wrap {
  width: 30%;
  padding-right: 20px;

  .post {
    padding: 11px 0;
    word-wrap: break-word;
    max-height: 38px;
  }
}

.statusSb-wrap {
  width: 19%;
  padding-right: 20px;

  .checkbox {
    margin-bottom: 0;
    display: inline-block;

    label {
      margin-top: 6px;
      display: inline-block;
    }
  }
}

.edit-wrap {
  width: 16%;
  text-align: center;
  padding-right: 20px;
}

.delete-wrap {
  width: 10%;
  text-align: right;
}

.inputSb-wrap:last-child,
.selectSb-wrap:last-child,
.btnSb-wrap:last-child,
.subacountBox:last-child {
  margin: 0;
}

.subacountBox {
  margin-bottom: 30px;
}

.textField.indent {
  margin-bottom: 15px;
}
.delete-wrap .text-ic, .edit-wrap .text-ic {
  line-height: 32px;
}
@media screen and (max-width: 1080px) {
  .boxSide-item {
    padding: 20px;
  }
}




@media screen and (max-width: 980px) {

  .textSb-wrap, .selectSb-wrap {
    width: 41%;
  }
  .textSb-wrap {
    margin-bottom: 15px;
  }
  .selectSb-wrap app-unity-select{
    margin-bottom: 15px;
    display: block;
  }
  .selectSb-wrap {
    padding: 0;
    max-width: 150px;
    margin-right: 10%;
  }
  .textSb-wrap .input{
    width: 100%;
    max-width: 250px;
  }
  .statusSb-wrap, .edit-wrap, .delete-wrap {
    width: 33%;
  }
  .edit-wrap button.button.min {
    margin: 0 auto;
  }


}
@media screen and (max-width: 800px) {
  .textSb-wrap, .selectSb-wrap {
    width: 50%;
  }

  .selectSb-wrap {
    margin-right: 0;
  }
  .sideTitle {
    line-height: 20px;
  }
}

@media screen and (max-width: 640px) {
  .sideTitle  {
    margin: auto;
  }
  .sideTitle.indent {
    padding: 0 20px;
    margin: 35px 0 30px 0;
  }
  .subacountBox .minTilt{
    margin: 0 auto 10px;
    padding: 0 20px;
  }
  .lampText.min {
    padding-right: 20px;
    padding-left: 45px;
    margin: 0 auto 35px;
  }
  .lampText:before{
    left: 20px;
  }
  .textSb-wrap {
    width: 34%;
    padding-right: 0;
  }
  .boxSide {
    border: 1px solid #D3D3D3;
  }
  .textSb-wrap .textField {
    display: block !important;
    margin: 4px 0;
  }

  .textSb-wrap, .selectSb-wrap {
    width: 100%;
    max-width: 100%;
  }
  //.boxSide-item{
  //  padding: 20px 20px 30px;
  //}
  .textSb-wrap .input {
    width: 100%;
    max-width: 100%;
  }
  .selectSb-wrap{
    min-height: auto;
  }
  .statusSb-wrap {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 0;
  }
  .edit-wrap, .delete-wrap {
    width: 50% ;
    padding: 0 ;
    text-align: center ;
    min-height: auto ;
    vertical-align: middle;
  }
  .boxSide-item > div:last-child{
    margin-bottom: 0;
  }

  .boxSide .statusSb-wrap .button.min {
    max-width: 100%;
  }
  .boxSide-hidden {
    padding: 20px;
  }

  .subacountBox:last-child .boxSide{
    margin-bottom: 0;
  }
  .statusSb-wrap.indent {
    margin-top: 5px;
  }
}

