<div class="row">
    <div class="sideContent detailed">
        <div class="boxSd">
            <div class="boxSd-item">

                <div class="topLine-vb">
                    <p class="title">Product Designer <span class="starFv"><!-- active --></span>
                        <span class="vacantBox__address"><i class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                    </p>
                    <p class="vacantBox__price">
                        50\88<span>/h</span>
                        <span class="dateText">Posted: 21.01.2017</span>
                    </p>
                </div>

                <img class="vacantBox__logo tabletBlock" src="/assets/img/logo/mcdonald-s-15.svg">

                <div class="tabletBlock indent">

                    <button class="button shaded min mobileNone">Apply</button>
                    <div class="rating-wrap">
                        <p class="vacantBox__boldText">Tieto Estonia AS</p>
                        <div class="rating yellow">
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE83A;</i>
                        </div>
                    </div>

                    <p class="vacantBox__text desNone"><i class="material-icons red indent">&#xE01B;</i>Deadline:21.02.2017
                        <span class="dateText desNone">10 days</span></p>
                    <button class="button shaded min desNone">Apply</button>


                </div>
            </div>
            <div class="boxSd-item">
                <div class="piece-wrap">
                    <p class="minTilt">Short description</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida
                        dolor
                        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
                        natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                        pharetra
                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>
                </div>
                <div class="piece-wrap">
                    <p class="minTilt">Responsibilities and tasks</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

                    <ul class="ulSquare">
                        <li>Aenean euismod bibendum laoreet.</li>
                        <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
                        <li>Proin sodales pulvinar tempor.</li>
                        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                        <li>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien
                            nunc
                            eget.
                        </li>
                    </ul>
                </div>
                <div class="piece-wrap">
                    <p class="minTilt">Requirements</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida
                        dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                        sociis
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
                        luctus
                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                </div>
                <div class="piece-wrap">
                    <p class="minTilt">We offer</p>
                    <p><a class="blueLink">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit. Aenean euismod
                        bibendum
                        laoreet. Proin gravida
                        dolor sit amet lacus accumsan et viverra justo commodo. <a class="blueLink">Proin sodales</a>
                        pulvinar
                        tempor. Cum sociis
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
                        luctus
                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                </div>
            </div>
            <div class="boxSd-item border-n">
                <p class="minTilt">Assotiated key skills</p>

                <div class="selInsert-wrap disable"><!-- disable отключает кликабельность -->
                    <div class="selInsert">Photoshop</div>
                </div>
                <div class="selInsert-wrap disable">
                    <div class="selInsert">Illustrator</div>
                </div>
                <div class="selInsert-wrap disable">
                    <div class="selInsert">Sketch</div>
                </div>
                <div class="selInsert-wrap disable">
                    <div class="selInsert">HTML</div>
                </div>

            </div>
            <div class="boxSd-item border-s">
                <p class="minTilt">Contacts</p>
                <div class="contactSd">
                    <p class="sideTitle">John Petrov
                        <span class="contactSd__spun">HR specialist</span></p>

                    <p class="contact-item"><i class="material-icons">&#xE0C8;</i> <span>Tammsaare tee 47, 12323 Tallinn, Harjumaa,
                Estonia</span></p>
                    <p class="contact-item"><i class="material-icons">&#xE0BE;</i> <a
                            class="blueLink">info@googlecorporation.com</a>
                    </p>
                    <p class="contact-item"><i class="material-icons">&#xE0CD;</i> +372 43343434</p>


                    <div class="social-wrap">
                        <p class="minTilt">Share it</p>

                        <div class="social"><!-- стили в button.scss -->
                            <div class="social__link fb"></div>
                            <div class="social__link tw"></div>
                            <div class="social__link in"></div>
                            <div class="social__link googl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixedLine-wrap fix"><!-- fix -->
                <div class="fixedLine">
                    <div class="linkIcon-wrap">
                        <div class="linkIcon min"><i class="material-icons">&#xE415;</i> <span>Print PDF</span></div>
                        <div class="linkIcon min"><i class="material-icons">&#xE157;</i> <span>Copy vacancy link</span>
                        </div>
                    </div>
                    <div class="linkIcon-wrap">
                        <div class="linkIcon min"><i class="material-icons">&#xE0B7;</i> <span>Contact</span></div>
                        <div class="linkIcon min"><i class="material-icons">&#xE83A;</i> <span>Bookmark</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tapeSd">
            <div class="tapeSd-top">
                <div class="tapeSd-box">
                    <p class="vacantBox__text"><i class="material-icons red indent">&#xE01B;</i>Deadline:21.02.2017</p>
                    <button class="button shaded min tabletNone">Apply</button>
                    <div class="absolut-wrapNd tabletNone">
                        <img alt="" class="vacantBox__logo" src="/assets/img/logo/mcdonald-s-15.svg">
                        <div class="rating-wrap">
                            <p class="vacantBox__boldText">Tieto Estonia AS</p>
                            <div class="rating yellow">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE83A;</i>
                            </div>
                        </div>
                    </div>
                    <p class="btnTabs__text">Large company (&gt;250 emp.)</p>
                    <span class="dateText tabletBlock">Posted: 21.01.2017</span>
                    <div class="largeCompanyNd">
                        <a class="blueLink">About company</a>
                        <a class="blueLink">All company vacancies (54)</a>
                    </div>
                </div>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Ocupation field:</span> <span
                        class="vacantBox__boldText">Design</span></p>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Type:</span> <span
                        class="vacantBox__boldText">Paid internship</span>
                </p>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Work time:</span> <span
                        class="vacantBox__boldText"><i
                        class="material-icons purple">&#xE3A8;</i> Night shifts</span>
                    <span class="vacantBox__boldText"><i class="material-icons grey">&#xE028;</i> Shift</span></p>
                <p class="vacantBox__text"><span class="vacantBox__text--span"> Education required:</span> <span
                        class="vacantBox__boldText">High education</span></p>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Language(s) required: </span> <span
                        class="vacantBox__boldText">English A1, Estonian B2</span></p>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Required experience:</span> <span
                        class="vacantBox__boldText">1 year minimum</span></p>
                <p class="vacantBox__text"><span class="vacantBox__text--span">Contract:</span> <span
                        class="vacantBox__boldText">02.07.2017 - 20.10.2018</span></p>
            </div>
            <div class="tapeSd-featured">
                <p class="sideTitle">Featured vacancies:</p>
                <div class="tapeSd-featured-item">
                    <a class="blueLink">User interface designer</a>
                    <p class="title"><span class="vacantBox__address"><i
                            class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                    <p class="vacantBox__text">Ocupation field: <span class="vacantBox__boldText">Design</span></p>
                    <p class="vacantBox__price">50€<span>/h</span></p>
                    <div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>
                        <div class="rating yellow">
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE83A;</i>
                        </div>
                    </div>
                </div>
                <div class="tapeSd-featured-item">
                    <a class="blueLink">User interface designer</a>
                    <p class="title"><span class="vacantBox__address"><i
                            class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                    <p class="vacantBox__text">Ocupation field: <span class="vacantBox__boldText">Design</span></p>
                    <p class="vacantBox__price">50€<span>/h</span></p>
                    <div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>
                        <div class="rating yellow">
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE83A;</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="linkIcon-mobile desNone">
            <div class="linkIcon-wrap">
                <div class="linkIcon"><i class="material-icons">&#xE83A;</i> <span>Bookmark</span></div>
            </div>
            <div class="linkIcon-wrap">
                <div class="linkIcon"><i class="material-icons">&#xE241;</i> <span>View similiar vacancies</span></div>
            </div>
        </div>

        <div class="popapApply">
            <div class="linkIcon-wrap">
                <button class="button shaded min">Apply</button>
                <div class="linkIcon min"><i class="material-icons">&#xE83A;</i> <span>Bookmark</span></div>
            </div>
            <div class="linkIcon-wrap">
                <div class="linkIcon"><i class="material-icons">&#xE241;</i> <span>View similiar vacancies</span></div>
            </div>
        </div>

    </div>
</div>
