<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">Organization profile</p>
    </div>
    <div class="boxSide">
        <div class="boxSide-item">
            <div class="lampText min indent">
                We recommend to be more detailed for getting more search matches
            </div>

            <div class="row-wrap">
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Name of school (organisation name)</p>
                    <input type="text" class="input border">
                </div>
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Organization registration code</p>
                    <input type="text" class="input border">
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Mobile phone</p>
                    <input type="number" class="input border">
                </div>
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Landline phone</p>
                    <input type="number" class="input border">
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v10 indentLast">
                    <p class="textField">Organization address</p>
                    <input type="text" class="input location-icon border" placeholder="">
                </div>
            </div>
        </div>
        <div class="boxSide-item">
            <div class="row-wrap">
                <div class="col-v10 indentBt">
                    <p class="textField">About school</p>
                    <textarea type="text" class="textarea"></textarea>
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v10 indentBt">
                    <p class="textField">Video about your organization</p>
                    <input type="text" class="input border">
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Highest educational level</p>
                    <app-unity-select [title]="'Secondary education'" [arrIn]="[]"
                                      (arrOut)="$event"></app-unity-select>

                </div>
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Type of school</p>
                    <app-unity-select [title]="'Middle school'" [arrIn]="[]"
                                      (arrOut)="$event"></app-unity-select>
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v10 indentBt">
                    <p class="textField">Fields of education</p>
                    <app-multiple-select [title]="'Administrative, Finances, Building'" [arrIn]="[]"
                                         (arrOut)="$event"></app-multiple-select>
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">Organization website</p>
                    <input type="text" class="input border">
                </div>
                <div class="col-v5 col-p10 indentBt">
                    <div class="upload-photo-wrap absolut organizationProfile">
                        <file-list
                                [inputStyle]="'singlePhoto'"
                                [FilesList]="[]"
                                (change)="$event"
                        ></file-list>
                        <uploader
                                [profilePhoto]="true"
                                [inputStyle]="'singlePhoto'"
                                [fileTypes]="['jpeg','png','jpg']"
                                [multiple]="false"
                                (file)="$event"
                        ></uploader>
                    </div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v5 indentBt">
                    <p class="textField">Established</p>
                    <div class="datepicker notRight">20.05.2017 <i class="material-icons">&#xE916;</i></div>

                    <!--<div class="datepicker" *ngIf="contract_date==0">-->
                        <!--<my-date-picker   name="mydate" [options]="myDatePickerOptions" (dateChanged)="cS.vacancy.contract.start=null;cS.vacancy.contract.end=null;cS.vacancy.contract.def = {time:$event.epoc,date:$event.date}"-->
                                          <!--required></my-date-picker>-->
                    <!--</div>-->

                </div>
                <div class="col-v5"></div>

            </div>
            <div class="row-wrap">
                <div class="col-v10 indentBt">
                    <p class="textField">Location</p>
                    <input type="text" class="input location-icon border" placeholder="Masina 22, Tallinn, 12288 Estonia">
                    <a class="blueLink indentTop">+ Add additional location</a>
                </div>
            </div>
            <div class="row-wrap">
                <div class="col-v10 indentLast">
                    <p class="textField">Additional information for students</p>
                    <textarea type="text" class="textarea"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="popapApply">
        <div class="linkIcon-wrap">
            <button  class="button shaded min">Save</button>
        </div>
    </div>
</div>
