<div class="switch-toggle">
  <input type="checkbox"  id="{{random}}" name="" [attr.disabled]="readonly ? 'disabled': null"  (change)="checkInput()" [(ngModel)]="InputStatus" >
  <div class="toggle">
    <label for="{{random}}"><i></i></label>
  </div>
    <span class="toggle-val">{{setTitle()}}</span>
</div>


