.switch-toggle {
  position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  //max-width: 93px;
}
input[type="checkbox"] {
  display: none;
}

.toggle-val {
  display: inline-block;
  padding-left: 50px;
  font-weight: 500;
  cursor: default;
}

.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 51px;
  height: auto;
}

.toggle label,
.toggle i {
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}

.toggle label {
  width: 40px;
  height: 23px;
  border-radius: 32px;
  border: 1px solid #D3D3D3;
  transition: all 0.30s ease;
  cursor: pointer;
  background: #f1f1f1;
}

.toggle i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 28px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
  0 3px 3px 0 rgba(0,0,0, 0.15);
  background: #ffffff;
  transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .toggle i {
  width: 35px;
}

input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
  border: 11px solid  #00C3F1;
  background: #00C3F1;
}

input[type="checkbox"]:checked + .toggle i {
  left: 21px;
}

input[type="checkbox"]:checked:active + .toggle label {
  border: 11px solid  #00C3F1;

}

input[type="checkbox"]:checked:active + .toggle i {
  left: 14px;
}


