.popupBs__link.desNone {
  display: none;
}

@media screen and (max-width: 640px) {
  .popupBs__link.desNone {
    display: block;
    text-align: left;
    padding: 20px 20px;
    width: 100%;
  }

  .linkIcon {
    margin-right: 0;
    width: 49%;
  }
  .linkIcon span {
    width: 100px;
  }
}