<div class="createIndex-wrap">
    <div class="createIndex-left" [class.borderRight]="cS._id != undefined" [class.width100]="cS._id == undefined">
        <div class="createResume-formItem">
            <p class="textField">{{'input.cvtitle'|translate}}</p>
            <input type="text" class="input" [(ngModel)]="cS.resume.name">
        </div>

        <div class="createResume-formItem">
            <div class="createIndex-flexWrap">
                <div class="item">
                    <p class="textField">{{'input.cvlanguage'|translate}}</p>

                    <app-unity-select
                      [valueId]="cS.resume.language"
                      [title]="'input.cvlanguage'|translate"
                      [arrIn]="dataService.options.translaterDefault"
                      (arrOut)="cS.resume.language = $event.id"
                    ></app-unity-select>

                </div>
                <!--<div class="item">-->
                <!--<p class="textField">Duplicate this CV on</p>-->
                <!--<app-multiple-select [title]="'Duplicate this CV on'" [arrIn]="dataService.options.languages"  (arrOut)="cS.resume.dBlanguage = $event.id"></app-multiple-select>-->
                <!--</div>-->
                <button *ngIf="!cS.resume._id && cS.dublicate" class="button" (click)="CreateResume()">
                    {{'Dublicate' | translate}}
                </button>
                <button *ngIf="!cS.resume._id && !cS.dublicate" class="button" (click)="CreateResume()">
                    {{'Create' | translate}}
                </button>
            </div>
        </div>
        <div class="createIndex-right dn" *ngIf="cS.resume._id">

      <span class="grayText small" *ngIf="cS.resume.updated_at">
          {{'Last_edited'|translate}}: {{dataService.dateConvert(cS.resume.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}
        </span>
            <div class="flexbox">
                <div class="name">{{'Resume'|translate}}<br>
                    completeness
                </div>

                <app-progress-prc [prc]="cS.resume.prc+(user.userDataComplited||0)"></app-progress-prc>
            </div>
            <div class="flexbox">
                <div class="name">{{'Rating'|translate}}</div>
                <rating-star [starResult]="false" [dieStar]="false" [ratingValue]="cS.resume.rating||0"></rating-star>
            </div>
            <div class="uploader-wrap">

                <file-list
                        [FilesList]="[{path:user.profile.photo}]"
                        (change)="$event"
                        [inputStyle]="'singlePhoto'"
                ></file-list>
                <uploader
                        [profilePhoto]="true"
                        [inputStyle]="'singlePhoto'"
                        [fileTypes]="dataService.fileupload.photo"
                        [multiple]="false"
                        (file)="setSinglePhoto($event)"
                ></uploader>
            </div>


        </div>
        <div class="createIndex-list" *ngIf="cS.resume._id">
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/objective/':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon account'></i>{{'resume.Objective'|translate}}</p>

                </div>

                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.objective,'alert':!cS.resumeStatus.objective  }"></i>

            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/keyskills/':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon school'></i>{{'resume.Ed_kw'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.keyskills,'alert':!cS.resumeStatus.keyskills  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/language':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon lang'></i>{{'resume.lngsk'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.language,'alert':!cS.resumeStatus.language  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/computer':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon computer'></i>{{'resume.compsk'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.computer,'alert':!cS.resumeStatus.computer  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/work-exp':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon work'></i>{{'resume.wrkexpskills'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.work_exp,'alert':!cS.resumeStatus.work_exp  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/personality':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon person-pin'></i>{{'resume.prstr'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.personality,'alert':!cS.resumeStatus.personality  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/interest':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon pool'></i>{{'resume.intval'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.interest,'alert':!cS.resumeStatus.interest  }"></i>
            </div>
            <div class="list-item">


                <div class="accordion">

                    <div class="name arrowName" (click)="listItemAc = !listItemAc" [ngClass]="{active: listItemAc}">
                        <p class="list-item-p"><i class='blue-icon timeline'></i>{{'resume.myexp'|translate}}</p>
                    </div>
                    <div class="accordion-content" [ngClass]="{active: listItemAc}">
                        <div class="router-link" [routerLink]="cS._id?'/resume/create/'+cS._id+'/job-option':null">
                            {{'resume.jobop'|translate}}
                        </div>
                        <div class="router-link"
                             [routerLink]="cS._id?'/resume/create/'+cS._id+'/intership-option':null">
                            {{'resume.intop'|translate}}
                        </div>
                    </div>


                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.expectations,'alert':!cS.resumeStatus.expectations  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/additional':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon dashboard'></i>{{'resume.addInfo'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.additional,'alert':!cS.resumeStatus.additional  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/education-progress':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon school'></i>{{'resume.prgsedu'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.education_progress,'alert':!cS.resumeStatus.education_progress  }"></i>
            </div>
            <div class="list-item" [routerLink]="cS._id?'/resume/create/'+cS._id+'/recommendations':null">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon thumb-up'></i>{{'resume.recomm'|translate}}</p>
                </div>
                <i class="service-icon"
                   [ngClass]="{'completed':cS.resumeStatus.recommendations,'alert':!cS.resumeStatus.recommendations  }"></i>
            </div>
            <div class="list-item not-flex" style="cursor: default">
                <div class="name">
                    <p class="list-item-p"><i class='blue-icon content-paste'></i>{{'resume.docs'|translate}}</p>
                </div>
                <p class="lampText">{{'resume.descript'|translate}}</p>
                <file-list style="border: none;"
                           [FilesList]="uploadFiles"
                           (change)="chFile($event)"
                           [inputStyle]="'fileList'"
                ></file-list>
                <uploader
                        [inputStyle]="'drop'"
                        [fileTypes]="dataService.fileupload.docs"
                        [multiple]="true"
                        (file)="setFiles($event)"
                ></uploader>

            </div>


        </div>
    </div>
    <div class="createIndex-right mn" *ngIf="cS.resume._id">
        <!--<div class="checkbox">-->
        <!--<input id="type31" type="checkbox" name="check" value="">-->
        <!--<label for="type31"><span class="checkbox__box"></span>-->
        <!--<p class="checkbox__text">Duplicate CV on Estonian</p></label>-->
        <!--</div>-->
        <span class="grayText small" *ngIf="cS.resume.updated_at">
          {{'Last_edited'|translate}}: {{cS.resume.updated_at*1000| date: 'dd.MM.yyyy (HH:mm)'}}
        </span>
        <div class="flexbox" >
            <div class="name">{{'Resume'|translate}}<br>
                {{'completeness'|translate}}
            </div>
            <app-progress-prc [prc]="cS.resume.prc+(user.userDataComplited||0)"></app-progress-prc>
        </div>
        <div class="flexbox">
            <div class="name">{{'Rating'|translate}}</div>
            <rating-star [dieStar]="false" [starResult]="false" [ratingValue]="cS.resume.rating"></rating-star>
        </div>
        <div class="uploader-wrap">
            <file-list
                    [FilesList]="[{path:user.profile.photo}]"
                    (change)="$event"
                    [inputStyle]="'singlePhoto'"
            ></file-list>
            <uploader
                    [inputStyle]="'singlePhoto'"
                    [fileTypes]="['jpg','png','jpeg', 'PNG']"
                    [multiple]="false"
                    [profilePhoto]="true"
                    (file)="setSinglePhoto($event)"
            ></uploader>
        </div>
    </div>
</div>

<div class="popupBs__link desNone">

    <div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-visib"></i> <span
            _ngcontent-c24="" [routerLink]="['/resume/details/',cS.resume._id]">{{'Preview'|translate}}</span></div>
    <div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-link"></i> <span
            _ngcontent-c24="" ngxClipboard [cbContent]="'http://'+dataService.HOST+'/resume/details/'+cS.resume._id">{{'Copy_link'|translate}}</span>
    </div>
    <div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-pdf"></i> <span
            _ngcontent-c24="" (click)="cS.printPdf()">{{'Print_PDF'|translate}}</span></div>
</div>

<div class="popupBs" style="display:block;" *ngIf="cS.resume._id">
    <button class="button shaded" [attr.disabled]="cS.toSave ?  null : 'disabled'" (click)="CreateResume()">
        {{'Save'|translate}}
    </button>

    <!--<div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">-->
    <!--<i class='icon black-list' style="margin-right: 5px;"></i>Back to CV-->
    <!--</div>-->

    <div class="popupBs__link">

        <div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-visib"></i> <span
                _ngcontent-c24="" [routerLink]="['/resume/details/',cS.resume._id]">{{'Preview'|translate}}</span></div>
        <div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-link"></i> <span
                _ngcontent-c24="" ngxClipboard
                [cbContent]="location+'/resume/details/'+cS.resume._id">{{'Copy_link'|translate}}</span>
        </div>
        <!--<div _ngcontent-c24="" class="linkIcon min"><i _ngcontent-c24="" class="icon ic-gray-pdf"></i> <span-->
                <!--_ngcontent-c24="" (click)="cS.printPdf()">{{'Print_PDF'|translate}}</span></div>-->
    </div>
</div>




















