<div class="globalFilter-wrap" (clickOutside)="closeFilter()">
  <div class="globalFilter">
    <div class="row">
      <div class="column">
        <div class="globFilter-item">
          <p class="textField">{{"options.occupationField" | translate}}</p>
          <app-multiple-select
                  [keyOff]="['text']"
                  [title]="'options.occupationField'|translate"
                  [arrIn]="dataService.options.occupationField"
                  [arrVal]="vacancyService.filter.options.occupationField"
                  (arrOutVal)="vacancyService.setFilterOption('occupationField',$event)"
                  (arrOut)="setFilter('occupationField',$event,'$in')"
                  [refresh]="vacancyService.clear"
                  [change]="vacancyService.lastChangeOption"
                  [changeName]="'occupationField'"
          ></app-multiple-select>
        </div>
        <div class="globFilter-item">
          <p class="textField">{{"filter.Type_of_vacancy" | translate}}</p>
          <app-multiple-select
            [keyOff]="['text']"
            [title]="'filter.Type_of_vacancy'|translate"
            [arrIn]="typeVacancy"
            (arrOut)="transformVacancyType($event)"
            [refresh]="vacancyService.clear"
            [change]="vacancyService.lastChangeOption"
            [changeName]="'vacancyType'"
          ></app-multiple-select>
        </div>
        <div class="globFilter-item">
          <p class="textField">{{"inputLabel.SearchForVacancies" | translate}}</p>
          <input class="input" [(ngModel)]="vacancyService.filter.options.keywords" (change)="setKeyWords($event)" type="text">
        </div>
        <div class="globFilter-item">
          <p class="textField">{{"options.Location" | translate}}</p>
          <address-select
                  (Address)="setAddress($event)"
                  [addr]="address"
                  [name]="'vacancySearch'"

                  [types]="['(regions)']"
                  [refresh]="vacancyService.clear"
          ></address-select>
        </div>
        <div class="globFilter-item">
          <button class="button search"><span class="btnText" (click)="searchVacancy(); globalMenu=false; shadowBody(true)">{{"btn.Search" | translate}}</span> <span class="btnNumber">{{this.vacancyService.countItems}}</span>
          </button>

        </div>
        <div (click)="globalMenu=!globalMenu; shadowBody()" class="btnSf">{{"DetailedSearch" | translate}}</div>
      </div>
    </div>
  </div>
  <div class="globalMenu" [ngClass]="{'active':globalMenu}"><!-- active -->
    <!--<form action="#">-->
      <div class="contentGm">
        <div class="row">
          <div class="column">
            <div class="contentGm-item">
              <p class="sideTitle indent">{{"Vacancies" | translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Type_of_vacancy'|translate"
                      [arrIn]="this.dataService.options.vacancyType"
                      [arrVal]="vacancyService.filter.options.vacancyType"
                      (arrOutVal)="vacancyService.setFilterOption('vacancyType',$event)"
                      (arrOut)="setFilter('type',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'vacancyType'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Industry'|translate"
                      [arrIn]="this.dataService.options.fieldActivity"
                      [arrVal]="vacancyService.filter.options.fieldActivity"
                      (arrOutVal)="vacancyService.setFilterOption('fieldActivity',$event)"
                      (arrOut)="setFilter('fieldActivity',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'fieldActivity'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Language'|translate"
                      [arrIn]="this.dataService.options.translaterDefault"
                      [arrVal]="vacancyService.filter.options.languages"
                      (arrOutVal)="vacancyService.setFilterOption('languages',$event)"
                      (arrOut)="setFilter('languageID',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'languages'"
              ></app-accordion-select>
            </div>
            <div class="contentGm-item">
              <p class="sideTitle indent">{{"requirements" | translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Required_education_level'|translate"
                      [arrIn]="this.dataService.options.educationLevel"
                      [arrVal]="vacancyService.filter.options.educationLevel"
                      (arrOutVal)="vacancyService.setFilterOption('educationLevel',$event)"
                      (arrOut)="setFilter('minEducation',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'educationLevel'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Required_languages'|translate"
                      [arrIn]="this.dataService.options.languages"
                      [arrVal]="vacancyService.filter.options.reqLanguages"
                      (arrOutVal)="vacancyService.setFilterOption('reqLanguages',$event)"
                      (arrOut)="setFilter('LanguagesRequired.languageID',$event,'$all')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'reqLanguages'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Previous_work_experience'|translate"
                      [arrIn]="this.dataService.options.workExp"
                      [arrVal]="vacancyService.filter.options.workExp"
                      (arrOutVal)="vacancyService.setFilterOption('workExp',$event)"
                      (arrOut)="setFilter('experience_work',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'workExp'"
              ></app-accordion-select>
            </div>
            <div class="contentGm-item">
              <p class="sideTitle indent">{{"filter.Expectations" | translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Work_time'|translate"
                      [arrIn]="this.dataService.options.workTime"
                      [arrVal]="vacancyService.filter.options.workTime"
                      (arrOutVal)="vacancyService.setFilterOption('workTime',$event)"
                      (arrOut)="setFilter('Worktime',$event,'$in')"
                      (lastElem)="setLastElem($event)"
                      [refresh]="vacancyService.clear"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'workTime'"
              ></app-accordion-select>
              <div class="salaryConf">
                <p class="textField">{{"filter.Salary_from" | translate}}</p>
                <app-unity-select
                        [title]="'monthly'|translate"
                        [arrIn]="this.dataService.options.salary"
                        [arrVal]="vacancyService.filter.options.salary"
                        (arrOutVal)="vacancyService.setFilterOption('salary',$event)"
                        (arrOut)="setFilter('salary.type',$event,'=')"
                        [type]="'salarySelect'"
                        [refresh]="vacancyService.clear"
                        [change]="vacancyService.lastChangeOption"
                        [changeName]="'salary'"
                        class="salaryUS"
                ></app-unity-select>
                <input class="salaryConf__input " [min]="0" #salary [(ngModel)]="vacancyService.filter.options.minSalary" type="number" (change)="setSalarySumm($event)">
                <p class="salaryConf__currency">€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerGm">
        <div class="row">
          <div class="column">
            <button (click)="this.vacancyService.clearFilter()" class="button grey">{{"btn.Clear" | translate}}</button>
            <button class="button search" (click)="searchVacancy(); globalMenu=!globalMenu; shadowBody()">
              <span class="btnText" >{{"btn.Search" | translate}}</span>
              <span class="btnNumber">{{this.vacancyService.countItems}}</span>
            </button>
          </div>
        </div>
      </div>
    <!--</form>-->
  </div>
</div>
