<div class="profileBox-item" *ngIf="title=='Resumes'">
  <p class="sideTitle" >{{ 'Resumes' | translate }}</p>

  <div class="resumesPb" *ngFor="let item of localItems">
    <img onload="window['loadPhoto'](this)" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',item.language).value}}.png" alt="">

    <app-progress-prc [prc]="item.prc+uS.userDataComplited"></app-progress-prc>
    <p>{{item.name || item.positionTitle}}</p>
  </div>
  <a  class="blueLink"  [routerLink]="['/resume/create']" >{{ 'btn.add_new_resume' | translate }}</a>
  <div class="seeAllBtn" [routerLink]="['/resume']" ><i class="material-icons">&#xE241;</i> {{ 'btn.seeAll' | translate }}</div>

</div>

<div class="profileBox-item" *ngIf="title=='Vacancies'">
  <p class="sideTitle" >{{ 'Vacancies' | translate }}</p>

  <div *ngFor="let item of localItems" class="sasBox-item active" >
    <img onload="window['loadPhoto'](this)" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',item.language).value}}.png" alt="">
    <p class="sasBox__text">{{item.name || item.positionTitle}}</p>
    <div class="vacant-wrap">
      <p class="vacant"><span>6</span> {{"new_candidates" | translate}}</p>
    </div>
  </div>
  <a  class="blueLink"  [routerLink]="['/vacancy/create']" >{{ 'btn.create_new_vacancy' | translate }}</a>

  <div class="seeAllBtn"><i class="material-icons">&#xE241;</i> {{ 'btn.seeAll' | translate }}</div>
</div>
