<div class="chatBox" (click)="mS.isRead()" [ngClass]="{toggleBox:toggleChat}">
  <div class="userSidebar" [ngClass]="{'messages-empty' : getDialogs().length == 0}">
    <div class="messages-empty-text">
      {{'noMessages' | translate}}
    </div>
    <!--<div class="searchCb">-->
    <!--<div class="inputUrl-wrap">-->
    <!--<input type="text" class="inputUrl" placeholder="{{'SearchMessages' | translate}}" (keyup)="findText($event)"-->
    <!--[(ngModel)]="searchMessages">-->
    <!--<span class="serch-icon"></span>-->
    <!--</div>-->
    <!--<div class="searchCb-all">-->

    <!--<app-unity-select (arrOut)="mS.setFilter($event)"-->
    <!--[arrIn]="[{text:'Show ALL',id:0},{text:'Show unread',id:1},{text:'Show blocked',id:2}]"-->
    <!--[title]="'All'"></app-unity-select>-->
    <!--</div>-->
    <!--</div>-->
    <div class="scrol">
      <div *ngFor="let id of  getDialogs()" class="userCb"

           [ngClass]="
                  {'online':uS.users[id]&&uS.users[id].online,
                  'notRead':mS.dialogs[id]&&mS.dialogs[id].notread>0,
                  'display':mS.dialogs[id]&&mS.dialogs[id].status==mS.filterStatus,
                  'active':mS.dialogActive==mS.dialogs[id].id}
                "
      >
        <div class="userCb-click" (click)="mS.getDialog(id);scrollToBottom(); toggleChat = !toggleChat;">


          <div class="logo-wrapCb">
            <img  onload="window['loadPhoto'](this,'contain')" class="userCb__logo" src="{{uS.users[id].photo}}" alt="">
          </div>
          <div class="userCb-name" (click)="mS.getDialog(id);scrollToBottom();">
            <p class="minTilt"> {{uS.getUserName(id)}}</p>
            <!--<p class="minText" >{{uS.getUserName(id,1)}} </p>-->
          </div>
          <p class="userCb-text ellipsis"
             *ngIf="mS.dialogs[id]&&mS.dialogs[id].messages.length>0"
             [ngClass]="{
                                          'bold':mS.dialogs[id].notread>0
                                          &&uS.profile._id!=mS.dialogs[id].messages[mS.dialogs[id].messages.length-1].sender
                                          }">{{mS.dialogs[id].messages[mS.dialogs[id].messages.length-1].text}}
          </p>

          <div class="row-wrap">
            <div class="col-v8">
              <p class="minText" *ngIf="mS.dialogs[id].messages[mS.dialogs[id].messages.length-1]">
                {{ dS.dateConvert(mS.dialogs[id].messages[mS.dialogs[id].messages.length-1].date) |
                date:
                'dd.MM.yyyy'}}
              </p>
            </div>
            <!--<div class="col-v5 right"><i class='icon '-->
            <!--[ngClass]="{'drafts-grey':mS.dialogs[id].notread==0,'ic_markunread_gray':mS.dialogs[id].notread>0}"></i>-->
            <!--<i class='icon delete-forever-grey' (click)="mS.deleteDialog(id)"></i>-->
            <!--</div>-->
          </div>
          <div class="mesengerUsb" *ngIf="mS.dialogs[id].notread&&mS.dialogs[id].notread>0">
            {{mS.dialogs[id].notread}}
          </div>

        </div>
        <div class="row-wrap abs">
          <div class="col-v10 right">
            <i class='icon '
               [ngClass]="{'drafts-grey':mS.dialogs[id].notread==0,'ic_markunread_gray':mS.dialogs[id].notread>0}">
            </i>
            <i class='icon delete-forever-grey' (click)="mS.deleteDialog(id)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="messagesContent"
       [ngClass]="{'online':uS.users[mS.dialogActive]&&uS.users[mS.dialogActive].online, 'messages-empty' : getDialogs().length == 0}">
    <div class="messages-empty-text">
      {{'noMessages' | translate}}
    </div>
    <div class="nameLine">
      <div class="row-wrap" *ngIf="mS.dialogs[mS.dialogActive]">
        <i class='icon ic_chevron_left_grey' (click)="toggleChat = !toggleChat;"></i>
        <div class="col-v6">
          <p class="minTilt">{{uS.getUserName(mS.dialogActive)}} </p>
        </div>
        <div class="col-v4 right">
          <i class='icon '
             [ngClass]="{'drafts-grey':mS.dialogs[mS.dialogActive].notread==0,'ic_markunread_gray':mS.dialogs[mS.dialogActive].notread>0}"></i>
          <i class='icon delete-forever-grey' (click)="mS.deleteDialog(mS.dialogActive)"></i>
          <i class='icon invited-grey'></i>
        </div>

      </div>
    </div>
    <div class="chatContnet" #chatContnet (scroll)="onScrollEvent($event)">
      <div class="dateCb" *ngIf="mS.dialogs[mS.dialogActive]">
        <div class="chatContnet-item "

             *ngFor="let item of mS.dialogs[mS.dialogActive].messages"
             [ngClass]="{'receiver':uS.profile._id==item.sender,'sender':uS.profile._id!=item.sender}">
          <p *ngIf="uS.profile._id==item.sender" class="minText">
            {{uS.getUserName(item.sender,0)}} {{ dS.dateConvert(item.date) | date: 'dd.MM.yyyy (HH:mm)'}}
          </p>
          <p *ngIf="uS.profile._id!=item.sender" class="minText">
            {{uS.getUserName(mS.dialogActive,0)}} {{ dS.dateConvert(item.date) | date: 'dd.MM.yyyy (HH:mm)'}}
          </p>
          <p *ngIf="uS.profile._id==item.sender&&item.status>0" class="read">
            {{'Read'|translate}}</p>
          <p class="text" *ngIf="item.text"> {{item.text}}</p>
          <file-list *ngIf="item.file"
                     [FilesList]="item.file"
                     (change)="$event"
                     [inputStyle]="'messageFile'"
          ></file-list>
        </div>


        <!--<p class="dateCb__text">2 days ago</p>-->
      </div>
    </div>
    <div class="chatEnter" *ngIf="mS.dialogActive">
      <textarea (keyup)="send($event)" class="textareaChat" [(ngModel)]="message"></textarea>
      <div (click)="send()" class="enterBtn"><i class='icon ic_subdirectory_arrow_left_gray'></i></div>
      <div class="row-wrap">
        <div class="col-v7 col-m6">
          <file-list
            [FilesList]="uploadFile"
            (change)="$event"
            [inputStyle]="'singleFile'"
          ></file-list>
        </div>
        <div class="col-v3 col-m4 right">
          <uploader
            [inputStyle]="'singleFile'"
            [fileTypes]="['jpg','png','jpeg', 'PNG','pdf','doc','docx']"
            [multiple]="false"
            (file)="setSingleFile($event)"
          ></uploader>
        </div>
      </div>
    </div>
  </div>
</div>
