.col-v10, .col-v9, .col-v8, .col-v7, .col-v6, .col-v5, .col-v4, .col-v3, .col-v2, .col-v1 {
  vertical-align: middle;
}
.chatBox{
  background-color: #fff;
  letter-spacing:-5px;
  margin: 20px auto;
  border: 1px solid #E5E5E5;
  position: relative;

  .minTilt{
    margin: 0;
  }

  .scrol {
    max-height: 594px;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
  }
}
.chatBox *{
  letter-spacing:0;
}
.userSidebar{
  width: 320px;
  display: inline-block;
  vertical-align: top;
  .messages-empty-text {
    display: none;
    font-size: 20px;
    color: #989898;
  }

  &.messages-empty {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media(max-width: 800px) {
      display: none;
    }
    .messages-empty-text {
      display: block;
    }

    .scrol {
      display: none;
    }
  }
}
p.text {
  word-break: break-all;
}
.messagesContent{
  width: calc(100% - 320px);
  display: inline-block;
  vertical-align: top;
  .messages-empty-text {
    display: none;
    font-size: 20px;
    color: #989898;
    width: 100%;
    text-align: center;
  }
  &.messages-empty {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media(max-width: 800px) {
      width: 100%;
      height: 200px;
    }
    .name-line,
    .chatContent,
    .nameLine,
    .chatEnter {
      display: none;
    }

    .messages-empty-text {
      display: block;

    }
  }
}
.inputUrl {
  border: 1px solid #E5E5E5;
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 10px 10px 10px 40px !important;
}
.serch-icon{
  right: auto;
  left: 15px;
}
.inputUrl::-webkit-input-placeholder {color:#757575;	font-size: 13px;	line-height: 15px;}
.inputUrl::-moz-placeholder          {color:#757575;	font-size: 13px;	line-height: 15px;}/* Firefox 19+ */
.inputUrl:-moz-placeholder           {color:#757575;	font-size: 13px;	line-height: 15px;}/* Firefox 18- */
.inputUrl:-ms-input-placeholder      {color:#757575;	font-size: 13px;	line-height: 15px;}

.inputUrl-wrap {
  width: 65%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.searchCb-all{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - (65% + 15px));
}
.searchCb {
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
}
.userCb.marketing:after{
  display: none;
}
.minTilt{
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 14px;
  &:before{
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: #B4B4B4;
    border-radius: 100%;
    top:0;
    bottom: 0;
    left: -15px;
    margin: auto;
  }
}
.online{
  .minTilt{
    &:before{
      background-color: #00C434;
    }
  }
}
.userCb-click{
  padding: 15px 15px 10px;
}
.row-wrap.abs {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 0;
  padding: 0 15px 10px 0;
  z-index: 10;
}
.userCb{
  border: 3px solid #fff;
  position: relative;
  cursor: pointer;
  &:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: 1px;
    background-color: #D3D3D3;
  }
  &:before{
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    height: calc(100% + 6px);
    width: 3px;
    display: block;
    opacity: 0;
    transition: 0.6s;
    background-color: #00C3F1;
  }
  &.active:before{
    opacity: 1;
  }
  &.marketing{
    border: 3px solid #00C3F1;
  }
  .icon {
    margin: 0 0 0 10px;
    cursor: pointer;
  }
}

.userCb-name {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 85px);
  padding-left: 16px;
}
.userCb__logo{
  max-width: 100%;
  height: 100%;
  object-fit: contain;

}
.logo-wrapCb{
  width: 80px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.userCb-text {
  font-size: 13px;
  line-height: 15px;
  margin: 15px 0 10px;
  width: 100%;
}

.mesengerUsb{
  width: 18px;
  height: 18px;
  display: block;
  line-height: 7px;
  min-height: 18px;
  min-width: 18px;
  font-size: 11px;
  position: absolute;
  top: 7px;
  right: 17px;
  font-weight: bold;
}

.nameLine {
  padding: 20px 20px 17px 45px;
  border-bottom: 1px solid #E5E5E5;
}
.chatContnet{
  height: 450px;
  //margin: 5px 0;
  overflow-y: auto;
}
.dateCb{
  padding: 30px 30px 5px;
  border-bottom: 1px dashed #CCCCCC;

  &:last-child{
    border: 0;
  }
}

.chatContnet-item {
  display: block;
  width: 80%;
  margin-bottom: 20px;


  &.sender{
    .text{
      background-color: #EFFCFF;
    }
  }
  &.receiver{
    margin: 0 auto 20px;
    margin-right: 0;
    .text{
      background-color: #F8F8F8;
    }
  }
  .text{
    padding: 20px;
    position: relative;
    transition: 0s;
    max-height:1340px;
    overflow-y: hidden;
    width: 100%;

    &:before{
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 3px;
      display: block;
      opacity: 0;
      transition: 0.6s;
      background-color: #00C3F1;
    }
    &.active:before{
      opacity: 1;
    }
    &.active{
      font-weight: bold;
    }
  }
  .minText{
    color: #757575;
    display: inline-block;
  }
  .read{
    float: right;
    color: #757575;
    font-size: 12px;
  }
}
.dateCb__text {
  margin-top: 30px;
  color: #757575;
  font-size: 12px;
  line-height: 14px;
}
.nameLine i {
  margin: 0 0 0 10px;
  cursor: pointer;

  &.ic_chevron_left_grey{
    display: none;
  }
}

.chatEnter{
  padding: 15px 20px 20px 30px;
  border-top: 1px solid #D3D3D3;

  .textareaChat{
    resize: none;
    border: 0;
    font-size: 16px;
    line-height: 23px;
    width: 90%;
    font-family: Roboto;
    margin-bottom: 15px;
    min-height: 50px;
    height: 100%;
    max-height: 500px;
    height: 50px; /* fix */
  }
}
.messagesContent {
  border-left: 1px solid #D3D3D3;

}

.enterBtn{
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  max-height: 9%;
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: calc(9% - 25px);
  margin-top: 5px;
  i{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: block;

  }
}
.attachFile {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .messagesContent {
    width: calc(100% - 325px);
  }

  .chatBox{
    letter-spacing: -3px;
  }
}



@media screen and (max-width: 980px) {
  .chatEnter {
    padding: 20px;
  }
  .enterBtn {
    margin-left: calc(9% - 26px);
  }
  .attachedFile {
    padding: 1px 2px 2px;
  }
  .attachedFile .blueText {
    margin: 0 0px 0 0px;
    font-size: 13px;
  }
  .chatEnter .col-v7 {
    padding-right: 10px;
  }
  .attachFile p {
    font-size: 13px;
  }
  .chatContnet-item .text {
    padding: 15px 10px 15px 20px;
  }
  .dateCb {
    padding: 20px 20px 5px;
  }
  .nameLine {
    padding: 20px 20px 17px 30px;
  }
}

@media screen and (max-width: 640px) {
  .chatBox.toggleBox{
    .messagesContent{
      display: block;
    }
    .userSidebar{
      display: none;
    }
  }
  .chatContnet {
    height: calc(100vh - 307px);
    overflow-y: auto;
  }

  .messagesContent {
    width: 100%;
    left: 0;
    background: #fff;
    display: none;

    &.mobileNone{

      display: none;

    }
  }


  .userSidebar{
    width: 100%;
    &.mobileNone{
     display: none;
    }
  }

  .chatBox{
    //overflow: hidden;
    margin-bottom: -1px;
  }
  .chatBox .scrol {
    max-height: 100%;
    overflow-y: auto;
  }
  .userCb.marketing {
    border: 3px solid #fff;
  }
  .chatContnet-item {
    width: 100%;
  }

  .nameLine{
    position: relative;
    padding: 20px 20px 17px 55px;
  }
  .nameLine i {
    margin: 0 0 0 9px;

    &.ic_chevron_left_grey{
      display: block;
      position: absolute;
      left: 5px;
      width: 30px;
      height: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .userCb.marketing:after {
    content: '';
    display: block;
    //position: absolute;
    //bottom: -3px;
    //left: -3px;
    //width: calc(100% + 6px);
    //height: 1px;
    //background-color: #D3D3D3;
  }

}

.hide{
  display: none;
}
