.textField {
  color: #666666;
}

.boxSide-item.headerBs{
  padding-top: 15px;
  padding-bottom: 15px;
}

.lampText {
  margin-bottom: 20px;
}
.title-wrap {
  margin-bottom: 20px;
}

.boxSide {
  margin-bottom: 15px;
}
.boxSide:last-child{
  margin-bottom: 0;
}

.dateText {
  color: #333333;

  span {
    color: #333333;
  }
}

.rightPart {
  width: 50%;
  display: inline-block;
  vertical-align: middle;

  .button{
    margin: 0 auto;
    margin-right: 0;
  }
}

.text13{
  margin-bottom: 10px;
}
.turnText {
  font-size: 13px;
  color: #6F6F6F;
  line-height: 15px;
}
.input{
  width: 100%;
}
.textarea {
  min-height: 75px;
}
.indent15{
  margin-bottom: 15px;
}

.table tbody tr:last-child{
  border-bottom: 1px dashed #CCCCCC;
}
.countText p {
  word-break: initial;
}
@media screen and (max-width: 1080px){
  .rightPart {
    width: 59%;
  }
}


@media screen and (max-width: 980px){
  .text13 {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 640px){
  .boxSide-item .sideTitle {
    margin-bottom: 10px;
  }
  .text13 {
    margin-bottom: 90px;
  }

  .lampText.min {
    padding-right: 20px;
    padding-left: 45px;
    margin: 0 auto 35px;
  }
  .lampText:before{
    left: 20px;
  }

  .table tr td:last-child {
    padding-right: 0;
  }

  .rightPart {
    width: 100%;
    margin-top: 20px;

    .button{
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }
  .title-wrap {
        margin-bottom: 0;
  }
  .boxSide-item:last-child {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: -1px;
  }
  .table.td5 td:first-child {
    width: 40%;
  }
  .table tbody tr td:first-child {
    padding-left: 15px;
  }
}

