<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">

    <div class="title-wrap">
        <p class="title">{{'Projects'|translate}}</p>
        <div class="rightPart">
            <button class="button shaded min" (click)="addNewProject()">{{'btn.Add_new_project'|translate}}</button>
        </div>
    </div>
    <div class="lampText min">
      {{'Project.title'|translate}}

    </div>

    <div class="boxSide" *ngIf="formNewProject">
        <div class="boxSide-item">
            <div class="indentBt">
                <p class="textField">{{'input.Project_name'|translate}}</p>
                <input type="text" class="input border" [maxLength]="50" [(ngModel)]="iproject.name">
            </div>
            <div class="indent15">
                <p class="textField">{{'input.Description'|translate}}</p>
                <textarea name="" id="" cols="30" rows="4" class="textarea"[maxLength]="300"  [(ngModel)]="iproject.description"></textarea>
            </div>


            <div class="row-wrap middle">
                <div class="col-v7 col-t5 mobileNone"></div>
                <div class="col-v2 col-t3 col-p5">
                    <button class="button shaded min max120" (click)="createNewProject()">{{'btn.Save'|translate}}</button>
                </div>
                <div class="col-v1 col-t2 col-p5 right">
                    <button class="text-ic"  (click)="formNewProject=false">
                        <span class="text-ic__icon cancel"></span>
                        <p class="text-ic__text">{{'btn.Cancel'|translate}}</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="boxSide" *ngFor="let project of userService.profile.Company.projects;let i = index">
        <div class="boxSide-item headerBs">
            <div class="row-wrap middle">
                <div class="col-v6 col-t4 col-p10"><p class="sideTitle">{{project.name}} </p></div>
                <div class="col-v1 col-t2 col-p4"><p class="dateText">{{'Created'|translate}}: <span>{{dataService.dateConvert(project.created_at)|  date: 'dd.MM.yyyy'}}</span></p></div>
                <div class="col-v2 col-t2 col-p3 center">
                    <button class="text-ic" (click)="editProject(project._id,i)">
                        <i class='icon edit-black'></i>
                        <p class="text-ic__text">{{'btn.Edit'|translate}}</p>
                    </button>
                </div>
                <div class="col-v1 col-t2 col-p3 right">
                    <button class="text-ic" (click)="deleteProject(project._id,i)">
                        <i class='icon delete-black'></i>
                        <p class="text-ic__text">{{'btn.Delete'|translate}}</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="boxSide-item">
            <p class="text13">{{project.description}}</p>


            <table class="table td5">
                <thead>
                <tr>
                    <td></td>
                    <td><p class="turnText">{{'Project.Candidates'|translate}}</p></td>
                    <td><p class="turnText">{{'Project.New'|translate}}</p></td>
                    <td><p class="turnText">{{'Project.Unread'|translate}}</p></td>
                    <td><p class="turnText">{{'Project.Bookmarked'|translate}}</p></td>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td><div class="countText">
                      <p>{{'Project.Vacancies_published'|translate}}</p>
                      <span *ngIf="projectVac[project._id].vacancy">{{projectVac[project._id].vacancy.length}}</span></div></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].vacallcand}">{{projectVac[project._id].vacallcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].vacnewcand}">{{projectVac[project._id].vacnewcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].vacunreadcand}">{{projectVac[project._id].vacunreadcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].vacsavedcand}">{{projectVac[project._id].vacsavedcand}}</p></td>
                </tr>
                <tr>
                    <td><div class="countText">{{'Project.Matches'|translate}}</div></td>
                    <td><p class="bold">0</p></td>
                    <td><p class="bold">0</p></td>
                    <td><p class="bold">0</p></td>
                    <td><p class="bold">0</p></td>
                </tr>
                <tr>
                    <td><div class="countText"><p>{{'Project.Saved_searches'|translate}}</p>
                      <span *ngIf="projectVac[project._id].savedSearches.length" class="circleText green-bc">{{projectVac[project._id].savedSearches.length}}</span></div></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].savallcand}">{{projectVac[project._id].savallcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].savnewcand}">{{projectVac[project._id].savnewcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].savunreadcand}">{{projectVac[project._id].savunreadcand}}</p></td>
                    <td><p class="bold" [ngClass]="{blueText:projectVac[project._id].savsavedcand}">{{projectVac[project._id].savsavedcand}}</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
