<p class="vacantBox__text" *ngIf="type=='single'&&(data==0||data)">
  <span class="vacantBox__text--block">{{title}}: </span>
  <span class="vacantBox__boldText">{{dS.getOptionsFromId(options,data).text|translate}} {{prefixEnd}}</span>
</p>
<div class="indent" *ngIf="type=='worktime'">
  <p class="vacantBox__text"><span class="vacantBox__text--block">{{title}}: </span>
    <span class="vacantBox__boldText" *ngFor="let work of data">
    <i class="icon" [ngClass]="helpers.workTimeIcon(work)"></i>
      {{dS.getOptionsFromId('workTime',work).text|translate}}
    </span>
    {{prefixEnd}}
  </p>
</div>

<p class="vacantBox__text" *ngIf="type=='multi'&&data">
  <span class="vacantBox__text--block" >{{title}}: </span>
  <span  *ngFor="let item of data;let s = index ;">
    <span class="vacantBox__boldText" *ngFor="let itemOpt of options; let i = index ;">
      {{ dS.getOptionsFromId(itemOpt,item[dataValues[i]]).text|translate}}
    </span>
    <span *ngIf="s < options.length - 1">, </span>

  </span>
  {{prefixEnd}}
</p>
