<div class="step step-resumeInterest">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.intval'|translate}}</p>
    <div class="lampText">{{'resume.intvalDesk'|translate}}</div>
  </div>
  <div class="createResume-block">

    <div class="createResume-formItem">
      <p class="textField">{{'input.intHob'|translate}}</p>
      <textarea [maxLength]="1000" class="textarea" [(ngModel)]="cS.resume.interestsAndHobbies"></textarea>
    </div>
    <div class="createResume-formItem">
      <p class="textField">{{'input.yMainVal'|translate}}</p>
      <textarea [maxLength]="1000" class="textarea" [(ngModel)]="cS.resume.yourMainValues" ></textarea>
    </div>
    <div class="createResume-formItem">
      <p class="textField">{{'input.partcompub'|translate}}</p>
      <textarea [maxLength]="1000" class="textarea" [(ngModel)]="cS.resume.participationInCommunities"></textarea>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/job-option']">{{'resume.jobop'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/job-option']">{{'resume.jobop'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>

