.boxSide {
  letter-spacing: -5px;
  padding-bottom: 60px;
}

.boxSide * {
  letter-spacing: 0;
}

.resumeContent, .resumeSidebar {
  display: inline-block;
  vertical-align: top;
}

.resumeContent {
  width: 73%;
  border-right: 1px solid #E5E5E5;
  //padding-bottom: 20px;

  .resumeBox {
    padding: 26px;
    .title {
      margin-bottom: 5px;
    }
  }
}

.resumeSidebar {
  width: 27%;
  padding: 30px;
}

.contactSd span.inBlock {
  display: inline-block;
  vertical-align: text-top;
  max-width: calc(100% - 45px);
}

.resumeBox {
  padding: 30px;
  .indent {
    margin-top: 20px;
  }
  .post {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    span {
      display: inline-block;
      width:auto;
      font-size: 14px;
    }
    i {
      display: inline-block;
    }
  }
  i {
    font-size: 18px;
    margin-right: 5px;
  }
}

.resumeMenu {
  padding: 20px 30px;
  border-top: 1px solid #E5E5E5;
  .minTilt {
    margin: 0;
    width: calc(100% - 110px);
    display: inline-block;
    i {
      margin-right: 10px;
      padding: 0;
      font-size: 20px;
    }
  }
}

.listRmc {
  margin-bottom: 30px;
  position: relative;
  //padding-right: 140px;
  .vacantBox__logo {
    position: absolute;
    right: 0;
    top: 10px;
    max-width: 130px;
  }

}
.logoWr{
  .listRmc{
    padding-right: 130px;
    @media screen and (max-width: 640px) {
      padding-right: 0;
    }
  }
}

.resumeMenu-content {
  display: none;
  margin-top: 15px;
  &.indent {
      margin-bottom: 30px;
  }
}
.vacantBox__text{
  margin-top: 10px;
}


.resumeMenu-content.active {
  display: block;


}

.table {
  margin-bottom: 15px;
}
.table thead tr td{
  padding: 0 0 12px 0;
}

.resumeMenu .birch.pointer{
  display: table;
}
/* + btnShow */
.btnShow {
  color: #00C3F1;
  font-size: 13px;
  line-height: 15px;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  transition: 0.6s;
  i {
    color: #00C3F1;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 0;
    transition: 0.6s;
  }
}

.btnShow:hover {
  color: #0092B2;
  i {
    color: #0092B2;
  }
}

.btnShow.show {
  color: #797979;
  transition: 0s;
  i {
    transition: 0s;
    color: #797979;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
  }
}

/* - btnShow */

.resumeSidebar {
  .contactSd {
    margin-bottom: 25px;
  }
  .contact-item {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 15px;
  }
}

.inl-text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 45px);
  font-size: 14px;
  line-height: 16px;
  max-width: 150px;
  word-wrap: break-word;
  padding-right: 10px;
}

.round-wrap {
  display: inline-block;
  vertical-align: middle;
}

.inl-wrap {
  margin-bottom: 5px;
  i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 11px;
    padding: 0;
  }
}

.duplicateSidebar {
  display: none;
}
.resumeSidebar .listRmc i {
  font-size: 20px;
}
.inBlock .vacantBox__boldText{
  display: inline-block;
}
.vacantBox__boldText{
  word-break: break-word;
}


@media screen and (max-width: 1120px){
  .fixedLine-wrap {
    padding-right: 20px;
  }
}
@media screen and (max-width: 980px) {

  .resumeSidebar.tabletNone {
    display: none;
  }
  .duplicateSidebar {
    display: block;
    margin-top: 30px;
    .rating-wrap {
      margin: 10px 0 5px;
      text-align: center;
    }
    .contactSd {
      margin-top: 20px;
      .contact-item {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .inl-wrap {
      width: 49%;
      display: inline-block;
      padding-right: 0;
    }

    .listRmc {
      margin-bottom: 20px;
      margin-top: 20px;
      position: relative;
    }
    .listRmc.inline, .progress-education {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      margin: 15px 0 0 0;
      padding-right: 10px;
    }
    .progress-education .subMin-title {
      margin-bottom: 10px;
    }
  }
  .resumeContent, .resumeSidebar {
    width: 100%;
  }

}

@media screen and (max-width: 770px) {
  .fixedLine-wrap.sb .fixedLine {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 640px) {
  .listRmc {
    padding-right: 0;
  }
  .resumeSidebar{
    padding: 30px 0 0;
  }
  .boxSide {
    margin-top: 15px;
  }

  .resumeMenu {
    padding: 20px 20px;
  }

  .linkIcon-mobile {
    .block {
      display: block;
      margin-bottom: 10px;
    }
    padding: 20px 20px 10px;
    border-top: 1px solid #E5E5E5;

  }
  .boxSide {
    padding-bottom: 0;
    border-bottom: 1px solid #D3D3D3;
  }
  .duplicateSidebar .listRmc.inline, .duplicateSidebar .progress-education {
    width: 100%;
  }
  .duplicateSidebar .listRmc.inline, .duplicateSidebar .progress-education {
    margin: 20px 0 0 0;
  }

  .duplicateSidebar {
    .contactSd {
      .contact-item {
        vertical-align: top;
        span, i {
          display: inline-block;
          vertical-align: top;
        }
        span {
          width: calc(100% - 30px);
        }
      }
    }
  }
  .listRmc .vacantBox__logo {
    position: relative;
    right: inherit;
    top: inherit;
    margin: 0 auto;
  }
  .resumeBox {
    padding: 30px 20px;
  }
  .resumeBox {
    //padding: 30px;
    .indent {
      margin-top: 20px;
    }
    .post {
      span {
        vertical-align: top;
      }
      i {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .btnShow {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    i {
      margin: 0;
    }
  }
  .resumeMenu .minTilt {
    width: calc(100% - 25px);
  }

  .table {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .table thead tr td:first-child {
    padding-left: 20px;
  }


  .vacantBox__boldText i{
    margin-left: 0;
  }
  .resumeBox .duplicateSidebar .listRmc i{
    font-size: 20px;
  }
  .duplicateSidebar .contactSd i {
    color: #666666;
  }
  .selInsert-wrap:first-child {
    margin-left: 0;
  }
  .vacantBox__boldText{
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
}
