<div class="row">
    <app-sidebar-top-candidates *ngIf="resume.uid!=us.profile._id" class="sidebar"></app-sidebar-top-candidates>
    <sidebar-link *ngIf="resume.uid==us.profile._id" [componentData]="component.componentSidebarLink"
                  class="sidebar"></sidebar-link>
    <div class="sideContent">

        <app-modal-recommendation
                [openModal]="openModal"
                [modalRecomm]="modalRecomm"
                (closeModal)="openModal = $event"
        ></app-modal-recommendation>


        <div class="boxSide" *ngIf="resume&&us.users[resume.uid]">

            <div class="resumeContent" id="resumeCandidate" style="background-color: #FFF">
                <div class="resumeBox">
                    <app-resume-short
                            [resume]="resume"
                    >
                    </app-resume-short>

                    <div class="duplicateSidebar">
                        <app-student-contacts class="resumeSidebar"
                                              [uid]="us.users[resume.uid]._id"
                                              [rating]="resume.rating"
                                              [class]="'ratingBlock'"
                        >

                        </app-student-contacts>
                        <div class="listRmc">
                            <div class="inl-wrap">
                                <p class="inl-text">{{'Verified_user'|translate}}: </p>
                              <i class='icon suspended-red' *ngIf="us.users[resume.uid].proof==0"></i>
                              <i class='icon ic_verified_user_birch' *ngIf="us.users[resume.uid].proof==1"></i>
                            </div>
                            <div class="inl-wrap">
                                <p class="inl-text">{{'Resume_readiness'|translate}}:</p>
                                <div class="round-wrap">
                                    <app-progress-prc [prc]="resume.prc"></app-progress-prc>
                                </div>
                            </div>
                        </div>
                        <!--<div class="listRmc inline">-->
                        <!--<p class="subMin-title">Available CVs:</p>-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--<img alt="" class="flag" src="/assets/img/flag/Estonia.png">-->
                        <!--</div>-->


                        <div class="progress-education"
                             *ngIf="us.users[resume.uid].Student.schools&&us.users[resume.uid].Settings.progress_in_edu">
                            <p class="subMin-title">{{'resume.prgsedu'|translate}}:</p>
                            <p *ngFor="let prog of us.users[resume.uid].Student.schools">
                          <span *ngIf="prog.SchoolProgressEducation.avarage">

                            {{ds.options.minEducation[prog.educationLevel].text|translate}} : </span>
                                <span *ngIf="prog.SchoolProgressEducation.avarage">
                            <i *ngIf="prog.SchoolProgressEducation.status==3" class="material-icons blue">&#xE862;</i>
                            <i *ngIf="prog.SchoolProgressEducation.status<3" class="material-icons red">&#xE85F;</i>
                            <strong *ngIf="prog.SchoolProgressEducation.avarage">
                              {{prog.SchoolProgressEducation.avarage}} / {{prog.SchoolProgressEducation.evaluationSystem}}
                            </strong>
                          </span>
                            </p>
                        </div>

                    </div>
                </div>
                <!--Objective-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE853;</i> {{'resume.Objective'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.objective=!blocks.objective"
                                [class.show]="blocks.objective"><i class="material-icons ">&#xE313;</i>

                            {{blocks.objective?('Show_less'|translate):('Show_more'|translate)}}
                        </button><!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.objective"><!-- active -->
                        <p class="pre-line">{{resume.objective}}</p>
                    </div>
                </div>
                <!--Preferences for internship-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE87A;</i> {{'resume.prefofInt'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.intern=!blocks.intern" [class.show]="blocks.intern"><i
                                class="material-icons ">&#xE313;</i>
                            {{(blocks.intern?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" *ngIf="!resume.internshipOptions.init" [class.active]="blocks.intern"><!-- active -->
                        <div class="listRmc">
                            <p *ngIf="resume.internshipOptions.occupationField && resume.internshipOptions.occupationField.length"
                               class="vacantBox__text">{{'vacancy.Occupation_field'|translate}}:
                                <span class="vacantBox__boldText"
                                      *ngFor="let fieldId of resume.internshipOptions.occupationField;let i=index">
                                    {{ds.options.occupationField[fieldId].text|translate}}
                                    <span *ngIf="i < resume.internshipOptions.occupationField.length - 1">, </span>
                                </span>
                            </p>
                            <p *ngIf="resume.internshipOptions.possible_internship.length" class="vacantBox__text">
                                {{'input.pospos'|translate}}:
                                <span class="vacantBox__boldText"
                                      *ngFor="let item of resume.internshipOptions.possible_internship;let i=index;">
                                    {{item}}<span
                                        *ngIf="i < resume.internshipOptions.possible_internship.length - 1">, </span>
                                </span>
                            </p>
                            <p class="vacantBox__text"
                               *ngIf="!resume.internshipOptions.init&&resume.internshipOptions.preferredPeriod&&resume.internshipOptions.preferredPeriod&&
                               (resume.internshipOptions.preferredPeriod.start!=null||resume.internshipOptions.preferredPeriod.startWork!=null)
                                ">
                                {{'resume.prefPer'|translate}}:

                                <span class="vacantBox__boldText"
                                      *ngIf="
                                            resume.internshipOptions.preferredPeriod.type==0
                                            &&resume.internshipOptions.preferredPeriod.start!=null
                                        ">
                                    {{ds.dateConvert(resume.internshipOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                                    {{resume.internshipOptions.preferredPeriod.end?' - ': null}}
                                    {{ds.dateConvert(resume.internshipOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                                </span>
                                <span class="vacantBox__boldText"
                                      *ngIf="
                                          resume.internshipOptions.preferredPeriod.type==1
                                          &&resume.internshipOptions.preferredPeriod.startWork!=null
                                        ">
                                  {{ds.getOptionsFromId('preferredPeriod',resume.internshipOptions.preferredPeriod.startWork).text|translate  }}
                                  {{resume.internshipOptions.preferredPeriod.hour}} {{resume.internshipOptions.preferredPeriod.hour?('hours'|translate):null}}</span>
                                <span class="vacantBox__boldText"
                                      *ngIf="!resume.internshipOptions.preferredPeriod.hasOwnProperty('type')">{{'immediately'|translate}}</span>
                            </p>
                            <p *ngIf="resume.internshipOptions.scholarshipOpt.returnWork || resume.internshipOptions.scholarshipOpt.returnComWork || resume.internshipOptions.scholarshipOpt.anyKind"
                               class="vacantBox__text">{{'resume.schOp'|translate}}:
                                <span *ngIf="resume.internshipOptions.scholarshipOpt.returnWork"
                                      class="vacantBox__boldText">{{'resume.Irmw'|translate}}</span>
                                <span *ngIf="resume.internshipOptions.scholarshipOpt.returnWork && resume.internshipOptions.scholarshipOpt.returnComWork"
                                      class="vacantBox__boldText">/</span>
                                <span *ngIf="resume.internshipOptions.scholarshipOpt.returnComWork"
                                      class="vacantBox__boldText">{{'resume.IrmCw'|translate}}</span>
                                <span *ngIf="(resume.internshipOptions.scholarshipOpt.returnWork || resume.internshipOptions.scholarshipOpt.returnComWork) && resume.internshipOptions.scholarshipOpt.anyKind"
                                      class="vacantBox__boldText">/</span>
                                <span *ngIf="resume.internshipOptions.scholarshipOpt.anyKind"
                                      class="vacantBox__boldText">{{'resume.anykind'|translate}}</span>
                            </p>
                            <p *ngIf="resume.internshipOptions.scholarshipOpt.Size" class="vacantBox__text">
                                {{'resume.Desired_scholarship'|translate}}:
                                <span class="vacantBox__boldText">{{resume.internshipOptions.scholarshipOpt.Size}} € / {{'filter.monthly'|translate}}</span>
                            </p>
                        </div>
                        <p *ngIf="resume.internshipOptions.additonalInformation" class="subMin-title">
                            {{'resume.addInfo'|translate}}</p>
                        <p class="pre-line " *ngIf="resume.internshipOptions.additonalInformation">
                            {{resume.internshipOptions.additonalInformation}}</p>
                    </div>
                </div>
                <!--Preferences for job-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE8F9;</i> {{'resume.PrefJob'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.job=!blocks.job" [class.show]="blocks.job"><i
                                class="material-icons ">&#xE313;</i> {{(blocks.job?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.job"><!-- active -->

                        <div class="listRmc">
                            <p *ngIf="resume.jobOptions.occupationField && resume.jobOptions.occupationField.length"
                               class="vacantBox__text">{{'vacancy.Occupation_field'|translate}}:
                                <span class="vacantBox__boldText"
                                      *ngFor="let fieldId of resume.jobOptions.occupationField;let i=index">
                                    {{ds.options.occupationField[fieldId].text|translate}}
                                    <span *ngIf="i < resume.jobOptions.occupationField.length - 1">, </span>
                                </span>
                            </p>
                            <p *ngIf="resume.jobOptions.possible_position&&resume.jobOptions.possible_position.length>0" class="vacantBox__text">
                                {{'resume.pospos'|translate}}:
                                <span class="vacantBox__boldText"
                                      *ngFor="let item of resume.jobOptions.possible_position;let i=index;">
                                    {{item}}<span *ngIf="i < resume.jobOptions.possible_position.length - 1">, </span>
                                </span>
                            </p>
                            <!--<p class="vacantBox__text">{{'resume.prefPer'|translate}}:-->
                            <!--<span class="vacantBox__boldText" *ngIf="resume.jobOptions.preferredPeriod">{{resume.jobOptions.preferredPeriod.start}} - {{resume.jobOptions.preferredPeriod.end}}</span>-->
                            <!--<span class="vacantBox__boldText"-->
                            <!--*ngIf="!resume.jobOptions.preferredPeriod">{{'immediately'|translate}}</span>-->
                            <!--</p>-->
                            <p class="vacantBox__text"
                               *ngIf="resume.jobOptions.preferredPeriod&&resume.jobOptions.preferredPeriod&&
                               (resume.jobOptions.preferredPeriod.start!=null||resume.jobOptions.preferredPeriod.startWork!=null)
                                ">
                                {{'resume.prefPer'|translate}}:

                                <span class="vacantBox__boldText"
                                      *ngIf="
                                            resume.jobOptions.preferredPeriod.type==0
                                            &&resume.jobOptions.preferredPeriod.start!=null
                                        ">
                                    {{ds.dateConvert(resume.jobOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                                    {{resume.jobOptions.preferredPeriod.end?' - ': null}}
                                    {{ds.dateConvert(resume.jobOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                                </span>
                                <span class="vacantBox__boldText"
                                      *ngIf="
                                          resume.jobOptions.preferredPeriod.type==1
                                          &&resume.jobOptions.preferredPeriod.startWork!=null
                                        ">
                                  {{ds.getOptionsFromId('preferredPeriod',resume.jobOptions.preferredPeriod.startWork).text|translate  }}
                                  {{resume.jobOptions.preferredPeriod.hour}} {{resume.jobOptions.preferredPeriod.hour?('hours'|translate):null}}</span>

                            </p>
                            <!--<p class="vacantBox__text" *ngIf="resume.jobOptions.preferredPeriod">-->
                                <!--{{'resume.prefPer'|translate}}:-->

                                <!--<span class="vacantBox__boldText"-->
                                      <!--*ngIf="resume.jobOptions.preferredPeriod&&resume.jobOptions.preferredPeriod.type==0">{{ds.dateConvert(resume.jobOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}} - {{ds.dateConvert(resume.jobOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}</span>-->
                                <!--<span class="vacantBox__boldText"-->
                                      <!--*ngIf="resume.jobOptions.preferredPeriod&&resume.jobOptions.preferredPeriod.type==1">-->
                                  <!--{{ds.getOptionsFromId('preferredPeriod',resume.jobOptions.preferredPeriod.startWork).text|translate  }}-->
                                 <!--</span>-->
                                <!--<span class="vacantBox__boldText"-->
                                      <!--*ngIf="!resume.jobOptions.preferredPeriod.hasOwnProperty('type')">{{'immediately'|translate}}</span>-->
                            <!--</p>-->


                            <p class="vacantBox__text" *ngIf="resume.jobOptions.salary&&(resume.jobOptions.salary.monthly!=null||resume.jobOptions.salary.hourly!=null)">{{'resume.Desired_scholarship'|translate}}:
                                <span class="vacantBox__boldText" *ngIf="resume.jobOptions.salary.hourly!=null">{{resume.jobOptions.salary.hourly}} €   {{'hourly'|translate}}</span>
                                <span *ngIf="resume.jobOptions.salary.hourly&&resume.jobOptions.salary.monthly">/</span>
                                <span class="vacantBox__boldText" *ngIf="resume.jobOptions.salary.monthly!=null"> {{resume.jobOptions.salary.monthly}} €  {{'monthly'|translate}}</span>
                            </p>
                        </div>

                        <p *ngIf="resume.jobOptions.additonalInformation" class="subMin-title">
                            {{'resume.addInfo'|translate}}</p>
                        <p class="pre-line " *ngIf="resume.jobOptions.additonalInformation">
                            {{resume.jobOptions.additonalInformation}}</p>
                    </div>
                </div>
                <!--Education & Key skills-->
                <div class="resumeMenu ">
                    <div class="resumeMenu-header">
                        <!--us.users[resume.uid].Student.schools-->
                        <p class="minTilt"><i class="material-icons birch">&#xE80C;</i> {{'resume.Ed_ks'|translate}}</p>
                        <button class="btnShow" (click)="blocks.edu_skills=!blocks.edu_skills"
                                [class.show]="blocks.edu_skills"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.edu_skills?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.edu_skills"><!-- active -->
                        <div class="listRmc " *ngIf="resume.hasOwnProperty('currentLevelOfEducation')">
                            <p class="vacantBox__text">{{'input.current_level'|translate}}: <span
                                    class="vacantBox__boldText">{{ds.getOptionsFromId('educationLevelCurrent',resume.currentLevelOfEducation).text|translate }}</span>
                            </p>
                        </div>
                        <div class="listRmc" *ngFor="let sch of us.users[resume.uid].Student.schools">
                            <p class="vacantBox__text">{{'input.School_name'|translate}}: <span
                                    class="vacantBox__boldText">{{sch.schoolName}}</span>
                            </p>
                            <p class="vacantBox__text">{{'input.Educational_level'|translate}}: <span
                                    class="vacantBox__boldText">{{ds.getOptionsFromId('educationLevel',sch.educationLevel).text|translate }}</span>
                            </p>
                            <p class="vacantBox__text">{{'Period_of_study'|translate}}:
                                <span class="vacantBox__boldText">{{sch.startDateMonth}}.{{sch.startDateYear}} -</span>
                                <span class="vacantBox__boldText"
                                      *ngIf="sch.expectedGraduationMonth&&sch.expectedGraduationYear">{{sch.expectedGraduationMonth+'.'+sch.expectedGraduationYear}}</span>
                                <span class="vacantBox__boldText" *ngIf="sch.endDateMonth&&sch.endDateYear">
                                  {{sch.endDateMonth}}.{{sch.endDateYear}}</span>
                            </p>
                            <p class="vacantBox__text" *ngIf="sch.hasOwnProperty('degree')">
                                {{'input.Degree'|translate}}:
                                <span class="vacantBox__boldText">
                                {{ds.getOptionsFromId('degrees',sch.degree).text|translate}}
                              </span>
                            </p>
                            <p class="vacantBox__text" *ngIf="sch.hasOwnProperty('major')">
                                {{'input.Major'|translate}}:
                                <span class="vacantBox__boldText">
                                {{ds.getOptionsFromId('majors',sch.major).text|translate}}
                              </span>
                            </p>
                            <p class="vacantBox__text" *ngIf="sch.hasOwnProperty('minor')">
                                {{'input.Minor'|translate}}:
                                <span class="vacantBox__boldText">
                                {{ds.getOptionsFromId('majors',sch.minor).text|translate}}
                              </span>
                            </p>
                            <p class="vacantBox__text" *ngIf="sch.hasOwnProperty('speciality')&&sch.speciality">
                                {{'input.Speciality'|translate}}:
                                <span class="vacantBox__boldText">
                                  {{sch.speciality}}
                              </span>
                            </p>
                        </div>
                        <p *ngIf="resume.accomplishmentsInformation" class="subMin-title 444">
                            {{'input.Accomplishments_and_additional_information'|translate}}</p>
                        <p class="breakAll pre-line " *ngIf="resume.accomplishmentsInformation">
                            {{resume.accomplishmentsInformation}} </p>
                    </div>
                </div>
                <!--Skills acquired-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE80C;</i>
                            {{'input.Skills_acquired'|translate}}</p>
                        <button class="btnShow" (click)="blocks.skills=!blocks.skills" [class.show]="blocks.skills"><i
                                class="material-icons ">&#xE313;</i>
                            {{(blocks.skills?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.skills"><!-- active -->
                        <div *ngFor="let skill of resume.pickedSkills" class="selInsert-wrap disable">
                            <!-- disable отключает кликабельность -->
                            <div class="selInsert">{{skill.text|translate}}</div>
                        </div>
                    </div>
                </div>
                <!--Languages skills-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE894;</i> {{'resume.lngsk'|translate}}</p>
                        <button class="btnShow" (click)="blocks.langs=!blocks.langs" [class.show]="blocks.langs"><i
                                class="material-icons ">&#xE313;</i>
                            {{(blocks.langs?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.langs"><!-- active -->
                        <table class="table td4">
                            <thead>
                            <tr>
                                <td></td>
                                <td>{{'Level'|translate}}</td>
                                <td>{{'Certificate'|translate}}</td>
                                <td>{{'Everyday_use'|translate}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lang of resume.languageSkills">

                                <td *ngIf="ds.options.languages[lang.langId]">
                                    {{ds.getOptionsFromId('languages',lang.langId).text|translate }}
                                </td>
                                <td *ngIf="ds.options.languages[lang.langLevel]">
                                    {{ds.getOptionsFromId('levels',lang.langLevel).text|translate}}
                                </td>
                                <td>
                                    <i *ngIf="!lang.certificate" class="material-icons red">&#xE15C;</i>
                                    <i *ngIf="lang.certificate" class="material-icons green">&#xE86C;</i>
                                </td>
                                <td>
                                    <i *ngIf="!lang.useEveryday" class="material-icons red">&#xE15C;</i>
                                    <i *ngIf="lang.useEveryday" class="material-icons green">&#xE86C;</i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Computer skills & other-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE30A;</i> {{'resume.compsk'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.comp_skills=!blocks.comp_skills"
                                [class.show]="blocks.comp_skills"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.comp_skills?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.comp_skills"><!-- active -->
                        <table class="table td3">
                            <thead>
                            <tr>
                                <td></td>
                                <td>{{'Level'|translate}}</td>
                                <td>{{'Usfrly'|translate}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let tool of resume.officeTools">
                                <td>{{ds.optionText('software',tool.officeTool)|translate}}</td>
                                <td>{{ds.optionText('levelsComp',tool.level)|translate}}</td>
                                <td>
                                    <i *ngIf="!tool.use" class="material-icons red">&#xE15C;</i>
                                    <i *ngIf="tool.use" class="material-icons green">&#xE86C;</i>
                                </td>
                            </tr>
                            <tr *ngFor="let tool of resume.otherSoftware">
                                <td>{{tool.otherSoft}}</td>
                                <td>{{ds.optionText('levelsComp',tool.level)|translate}}</td>
                                <td>
                                    <i *ngIf="!tool.use" class="material-icons red">&#xE15C;</i>
                                    <i *ngIf="tool.use" class="material-icons green">&#xE86C;</i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div *ngIf="resume.informationAboutComputerSkills" class="listRmc">
                            <p class="subMin-title">{{'AdinfoKompSki'|translate}}</p>
                            <p class="pre-line ">{{resume.informationAboutComputerSkills}}</p>
                        </div>

                    </div>
                </div>
                <!--Work experience-->
                <div class="resumeMenu logoWr" *ngIf="resume.workExp">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE8F9;</i> {{'resume.wrkexp'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.work_exp=!blocks.work_exp"
                                [class.show]="blocks.work_exp"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.work_exp?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content indent" [class.active]="blocks.work_exp"><!-- active -->
                        <div *ngIf="resume.otherSpecificSkills" class="listRmc ">
                            <p class="subMin-title">{{'resume.OthSpecSk'|translate}}</p>


                            <div *ngFor="let oth of resume.otherSpecificSkills;let i=index"
                                 class="selInsert-wrap disable">
                                <!-- disable отключает кликабельность -->
                                <div class="selInsert">{{oth.text|translate}}</div>
                            </div>


                        </div>
                        <div *ngFor="let work of resume.workExp">
                            <div class="listRmc">
                                <p class="vacantBox__text">{{'per_work'|translate}}:
                                    <span class="vacantBox__boldText">{{work.startDateMonth?work.startDateMonth+'.':''}}{{work.startDateYear}} -</span>
                                    <span class="vacantBox__boldText" *ngIf="!work.currentlyWorking">{{work.endDateMonth?work.endDateMonth+'.':''}}{{work.endDateYear}}</span>
                                    <span class="vacantBox__boldText"
                                          *ngIf="work.currentlyWorking">{{'now'|translate}}</span>

                                    <span class="vacantBox__boldText"><span>({{differenceWorkTime(work)}})</span></span>

                                </p>
                                <p class="vacantBox__text">{{'userdata.Company_name'|translate}}: <span
                                        class="vacantBox__boldText blue">{{work.companyName}}</span>
                                </p>
                                <p class="vacantBox__text">{{'resume.we.fiAct'|translate}}: <span
                                        class="vacantBox__boldText">{{ds.optionText('fieldActivity',work.fieldOfActivity)|translate}}</span>
                                </p>
                                <p class="vacantBox__text">{{'resume.we.compsize'|translate}}: <span
                                        class="vacantBox__boldText">{{ds.optionText('companySize',work.companySize)|translate}}</span>
                                </p>
                                <p class="vacantBox__text">{{'resume.we.ocfil'|translate}}: <span
                                        class="vacantBox__boldText">{{ds.optionText('occupationField',work.occupationField)|translate}}</span>
                                </p>
                                <p class="vacantBox__text">{{'Position'|translate}}: <span
                                        class="vacantBox__boldText">{{work.position}}</span>
                                </p>
                                <img onload="window['loadPhoto'](this,'contain')" alt="" class="vacantBox__logo" src="/assets/img/logo/default-organization.svg">
                            </div>
                            <div class="listRmc" *ngIf="work.jobDesciprion">
                                <p class="subMin-title">{{'resume.we.JobDes'|translate}}</p>
                                <p class="pre-line ">{{work.jobDesciprion}}</p>
                            </div>
                            <div class="listRmc" *ngIf="work.accomplishmentsiInformation">
                                <p class="subMin-title">{{'resume.we.AccAdInf'|translate}}</p>
                                <p class="pre-line ">{{work.accomplishmentsiInformation}}</p>
                            </div>
                        </div>

                    </div>

                </div>


                <!--Personality Traits-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">person_pin</i>{{'resume.prstr'|translate}}</p>
                        <button class="btnShow" (click)="blocks.personaliti=!blocks.personaliti"
                                [class.show]="blocks.personaliti"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.personaliti?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.personaliti"><!-- active -->
                        <div class="listRmc">
                            <p class="subMin-title">{{'input.Character_traits'|translate}}</p>
                            <div *ngFor="let item of resume.characterTraits" class="selInsert-wrap disable">
                                <!-- disable отключает кликабельность -->
                                <div class="selInsert">{{item.text|translate}}</div>
                            </div>
                        </div>
                      <div class="listRmc">
                        <p class="subMin-title">{{'input.Strenghs'|translate}}</p>
                        <div *ngFor="let item of resume.strenghs" class="selInsert-wrap disable">
                          <!-- disable отключает кликабельность -->
                          <div class="selInsert">{{item.text|translate}}</div>
                        </div>
                      </div>
                        <div class="listRmc">
                            <p class="subMin-title">{{'input.addInfo'|translate}}</p>
                            <p class="pre-line ">{{resume.idditonalInfo}} </p>
                        </div>
                    </div>
                </div>


                <!--Interests & hobbies-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xEB48;</i> {{'input.intHob'|translate}}</p>
                        <button class="btnShow" (click)="blocks.interests=!blocks.interests"
                                [class.show]="blocks.interests"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.interests?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.interests"><!-- active -->
                        <div class="listRmc">
                            <p class="subMin-title">{{'Hobbies'|translate}}</p>
                            <p class="pre-line ">{{resume.interestsAndHobbies}}</p>
                        </div>
                        <div class="listRmc">
                            <p class="subMin-title">{{'Values'|translate}}</p>
                            <p class="pre-line ">{{resume.yourMainValues}}</p>
                        </div>
                        <div class="listRmc">
                            <p class="subMin-title">{{'input.partcompub'|translate}}</p>
                            <p class="pre-line ">{{resume.participationInCommunities}}</p>
                        </div>
                    </div>
                </div>
                <!--Additional information-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE871;</i> {{'resume.addInfo'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.add_info=!blocks.add_info"
                                [class.show]="blocks.add_info"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.add_info?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.add_info"><!-- active -->
                        <p class="pre-line ">{{resume.additional}}</p>
                    </div>
                </div>
                <!--Certifications & licences-->
                <div class="resumeMenu" *ngIf="resume.certificationsAndLicences">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE031;</i> {{'resume.Cert&Lic'|translate}}
                        </p>
                        <button class="btnShow" (click)="blocks.cert=!blocks.cert" [class.show]="blocks.cert"><i
                                class="material-icons ">&#xE313;</i> {{(blocks.cert?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.cert"><!-- active -->
                        <table class="table">
                            <thead>
                            <tr>
                                <td>{{'Name'|translate}}</td>
                                <td>{{'Year'|translate}}</td>
                                <td>{{'Issuer'|translate}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cert of resume.certificationsAndLicences">
                                <td>{{cert.name}}</td>
                                <td>{{cert.year}}</td>
                                <td>{{cert.issuer}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Driving licence-->
                <div class="resumeMenu" *ngIf="resume.drivingLicense">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE531;</i>
                            {{'resume.Driving_licence'|translate}}</p>
                        <button class="btnShow" (click)="blocks.driving=!blocks.driving" [class.show]="blocks.driving">
                            <i class="material-icons ">&#xE313;</i>
                            {{(blocks.driving?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.driving"><!-- active -->
                        <table class="table">
                            <tbody>
                            <tr *ngFor="let car of resume.drivingLicense">
                                <td>{{ds.optionText('drivingCategory',car.category)|translate}}</td>
                                <td>
                                    <i *ngIf="!car.drivingStatus" class="material-icons red">&#xE15C;</i>
                                    <i *ngIf="car.drivingStatus" class="material-icons green">&#xE86C;</i>
                                </td>
                                <td>{{'resume.CanUspw'|translate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Recommendations-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE8DC;</i> {{'resume.recomm'|translate}} {{recomms.length}}
                        </p>
                        <button class="btnShow" (click)="blocks.recommends=!blocks.recommends"
                                [class.show]="blocks.recommends"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.recommends?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>

                    <div class="resumeMenu-content" [class.active]="blocks.recommends"><!-- active -->
                        <table class="table">
                            <tbody>
                            <tr *ngFor="let reccomend of recomms">
                                <td *ngIf="reccomend.type==0&&reccomend.school">
                                    <span class="birch pointer" (click)="openModal = !openModal;modalRecomm = reccomend">
                                        {{us.getUserName(reccomend.educatorId,0)}} ({{'Educator'|translate}})
                                    </span>
                                    <span>{{reccomend.answerer}}</span>
                                    <span class="minText grey">{{reccomend.school.addr}}</span>
                                </td>
                                <td *ngIf="reccomend.type==1">
                                    <span class="birch pointer" (click)="openModal = !openModal;modalRecomm = reccomend">
                                        {{reccomend.name}} ({{'Employer'|translate}})
                                    </span>
                                    <span>{{reccomend.answerer}}</span>
                                    <span class="minText grey">{{reccomend.workExpId}}</span>
                                </td>
                                <td *ngIf="reccomend.type==2">
                                    <span class="birch pointer" (click)="openModal = !openModal;modalRecomm = reccomend">
                                        {{reccomend.name}}
                                    </span>
                                    <span>{{reccomend.answerer}}</span>
                                    <!--<span class="minText grey">{{ds.getOptionsFromId('Relation',reccomend.relation).text|translate}} ({{'Others'|translate}})</span>-->
                                    <span class="minText grey">{{reccomend.orgName}} </span>
                                </td>



                                    <!--<span class="birch pointer" *ngIf="reccomend.name"-->
                                          <!--(click)="openModal = !openModal;modalRecomm = reccomend">222{{reccomend.name}}11</span>-->
                                    <!--<span class="birch pointer" *ngIf="reccomend.schoolId"-->
                                          <!--(click)="openModal = !openModal;modalRecomm = reccomend">333{{reccomend.school.addr}}444</span>-->
                                    <!--<span>{{reccomend.answerer}}</span>-->
                                    <!--<span class="minText grey" *ngIf="reccomend.type==0">{{us.getUserName(reccomend.educatorId,0)}} ({{'Educator'|translate}})</span>-->
                                    <!--<span class="minText grey" *ngIf="reccomend.type==1">{{reccomend.position}} ({{'Employers'|translate}})</span>-->
                                    <!--<span class="minText grey" *ngIf="reccomend.type==2">{{ds.getOptionsFromId('Relation',reccomend.relation).text|translate}} ({{'Others'|translate}})</span>-->

                                <td>

                                    <rating-star (click)="openModal = !openModal;modalRecomm = reccomend"
                                                 style="display: block !important;cursor:pointer"
                                                 class="rating-wrap"
                                                 [dieStar]="false"
                                                 [starResult]="false"
                                                 [ratingValue]="reccomend.rating"
                                    ></rating-star>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Documetns attached:-->
                <div class="resumeMenu">
                    <div class="resumeMenu-header">
                        <p class="minTilt"><i class="material-icons birch">&#xE14F;</i>
                            {{'Documetns_attached'|translate}}:</p>
                        <button class="btnShow" (click)="blocks.docs=!blocks.docs" [class.show]="blocks.docs"><i
                                class="material-icons ">&#xE313;</i> {{(blocks.docs?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" *ngIf="resume.uploadFiles" [class.active]="blocks.docs"><!-- active -->
                        <table class="table">
                            <tbody>
                            <tr *ngFor="let file of resume.uploadFiles">
                                <td><a href="//{{ds.HOST_STATIC}}:{{ds.PORT_STATIC}}{{file.path}}" target="_blank"><i class="material-icons">&#xE226;</i>
                                    {{file.name}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Contacts-->
                <div class="resumeMenu"
                     *ngIf="(us.accessPackage.search&&us.profile.type_profile!='Student')&&us.users[resume.uid].Settings.contact_info">
                    <div class="resumeMenu-header">
                        <p class="minTilt">{{'Contacts'|translate}}</p>
                        <button class="btnShow" (click)="blocks.contacts=!blocks.contacts"
                                [class.show]="blocks.contacts"><i class="material-icons ">&#xE313;</i>
                            {{(blocks.contacts?'Show_less':'Show_more')|translate}}
                        </button>
                        <!-- show -->
                    </div>
                    <div class="resumeMenu-content" [class.active]="blocks.contacts"><!-- active -->
                        <div class="contactSd">
                            <p *ngIf="us.users[resume.uid].Location && us.users[resume.uid].Location.addr"
                               class="contact-item">
                                <i class="material-icons">&#xE0C8;</i>
                                <span class="inBlock">{{us.users[resume.uid].Location.addr}}</span></p>
                            <p class="contact-item" *ngIf="us.users[resume.uid].Settings.contact_info"><i
                                    class="material-icons">&#xE0BE;</i>
                                <a class="blueLink" href="mailto:{{us.users[resume.uid].email}}">
                                    {{us.users[resume.uid].email}}
                                </a>
                            </p>
                            <p class="contact-item" *ngIf="us.users[resume.uid].Settings.contact_info"><i
                                    class="material-icons">&#xE0CD;</i>
                                {{us.users[resume.uid].phone}}</p>
                        </div>
                    </div>
                </div>

                <div class="linkIcon-mobile desNone">
                    <div class="block">
                        <div class="linkIcon min"><i class="material-icons">&#xE415;</i> <span>Print PDF</span></div>
                    </div>

                </div>
            </div>
            <div class="resumeSidebar tabletNone"><!-- отключаем на планшете и дублируем в resumeContent -->

                <app-student-contacts
                        [uid]="us.users[resume.uid]._id"
                        [rating]="resume.rating"
                        [class]="'ratingBlock'"
                >
                </app-student-contacts>
                <div class="listRmc">
                    <div class="inl-wrap">
                        <p class="inl-text">{{'Verified_user'|translate}}: </p>
                        <i class='icon suspended-red' *ngIf="us.users[resume.uid].proof==0"></i>
                        <i class='icon ic_verified_user_birch' *ngIf="us.users[resume.uid].proof==1"></i>
                    </div>
                    <div class="inl-wrap">
                        <p class="inl-text">{{'Resume_readiness'|translate}}:</p>
                        <div class="round-wrap">

                            <app-progress-prc
                                    [prc]="(resume.prc+us.users[resume.uid].userDataComplited)"></app-progress-prc>
                        </div>
                    </div>
                </div>

                <div class="progress-education"
                     *ngIf="us.users[resume.uid].Student.schools&&us.users[resume.uid].Settings.progress_in_edu">
                    <p class="subMin-title">{{'resume.prgsedu'|translate}}:</p>
                    <p *ngFor="let prog of us.users[resume.uid].Student.schools">
                      <span  *ngIf="prog.SchoolProgressEducation.avarage">
                        {{ds.getOptionsFromId('minEducation',prog.educationLevel).text|translate}} : <span>
                        <i *ngIf="prog.SchoolProgressEducation.status==3" class="material-icons blue">&#xE862;</i>
                        <i *ngIf="prog.SchoolProgressEducation.status<3" class="material-icons red">&#xE85F;</i>
                        <strong>{{prog.SchoolProgressEducation.avarage}}/{{prog.SchoolProgressEducation.evaluationSystem}}</strong></span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="fixedLine-wrap sb fix"><!-- fix -->
                <div class="fixedLine">
                    <div class="linkIcon-wrap">
                        <!--<div class="linkIcon min" (click)="printPdf()"><i class="material-icons">&#xE415;</i> <span>{{'Print_PDF'|translate}}</span>-->
                        <!--</div>-->
                        <div class="linkIcon min"><i class="material-icons">&#xE157;</i>
                          <span ngxClipboard

                                [cbContent]="location+'/resume/details/'+resume._id">{{'Copy_link'|translate}}</span>
                        </div>
                    </div>
                    <div class="linkIcon-wrap">
                        <div *ngIf="resume.uid!=us.profile._id" class="linkIcon min"
                             (click)="contacttUser(resume.uid);"><i
                                class="material-icons">&#xE0B7;</i> <span>{{'Contact'|translate}}</span>
                        </div>
                        <a class="linkIcon min" *ngIf="!resume.bookmark&&resume.uid!=us.profile._id"
                           (click)="setBookmark(resume.id)">
                            <i class='icon ic_star_border_gray'></i> {{'Bookmark'|translate}}
                        </a>
                        <a class="linkIcon min" *ngIf="resume.bookmark&&resume.uid!=us.profile._id"
                           (click)="unsetBookmark(resume.id)">
                            <i class='icon ic_star_yellow'></i> {{'Bookmarked'|translate}}
                        </a>
                    </div>
                </div>
            </div><!-- sb(смещение в бок из за sidebar) -->
        </div>
    </div>
</div>
