



.star-wrap{
  letter-spacing: -2px;
}
.star-wrap *{
  letter-spacing: 0;
}
.star{
  background-image: url("/assets/img/star-grey.svg");
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}
.select .star{
  width: 20px;
  height: 20px;
}
//.star.yellow{
//  background-image: url("/assets/img/star-yellow.svg");
//}

//.star.yellow1{
//  background-image: url("/assets/img/star10.svg");
//}
.star.yellow25{
  background-image: url("/assets/img/star35.svg");
}
.star.yellow50{
  background-image: url("/assets/img/star50.svg");
}
.star.yellow75{
  background-image: url("/assets/img/star75.svg");
}
//.star.yellow5{
//  background-image: url("/assets/img/star90.svg");
//}
.star.yellow100{
  background-image: url("/assets/img/star100.svg");
}
.starResult{
  background-color: #FE9E00;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  text-align: center;

  display: inline-block;
  margin-left: 10px;
  padding: 2px 5px;
}
.starResult:before{
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  margin: auto;
  right: 100%;
  width: 0;
  height: 0;

  border-top: 4px solid transparent;
  border-right: 8px solid #FE9E00;
  border-bottom: 4px solid transparent;
}

.dieStar{
  background-color: #F1F1F1;
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  position: relative;
  text-align: center;

  display: inline-block;
  margin-left: 10px;
  padding: 2px 5px;
}




/* + rating (старый рейтин ) */
.rating.yellow i{
  color: #FE9E00;
}
.rating i{
  font-size: 15px;
  cursor: pointer;
}
.rating.minStar i{
  font-size: 15px;
  line-height: 15px;
}
.rating{
  letter-spacing: -4px !important;
}
.rating *{
  letter-spacing: 0 !important;
}
.rating-wrap {
  margin: 14px 0;
}

/*  - rating (старый рейтин ) */

