<div class="savePopup" [ngClass]="{'active':show}" >
  <div class="savePopup-wrap"  (clickOutside)="clickexclude($event)">
    <i (click)="close.emit(false)" class="icon cancel-black"></i>
    <div class="savePopup-c">
      <p class="sideTitle">{{'bookmarkModalTitle'|translate}}</p>

      <div class="row-wrap indentBt">
        <p class="textField dark">{{"popup.Your_projects" | translate}}</p>
        <app-unity-select
          [arrIn]="projects"
          (arrOut)="ProjectId = $event.id"
        ></app-unity-select>
      </div>

      <div class="row-wrap indentBt">
        <p>{{"popup.Or_create_new_project" | translate}}:</p>
        <p class="textField dark">{{"popup.Enter_new_project_name" | translate}}</p>
        <input type="text" class="input border" [(ngModel)]="newprojectName" >
      </div>
      <div class="row-wrap indentBt">
        <p class="textField dark">{{"WithFollowingStatus" | translate}}</p>
        <app-unity-select
          [arrIn]="dS.options.bookmarked_status"
          [title]="'Status'|translate"
          (arrOut)="Status = $event.id"
        ></app-unity-select>
      </div>
      <div class="row-wrap indentBt">
        <p class="textField dark">{{"AndAction" | translate}}</p>
        <app-unity-select
          [title]="'Action'|translate"
          [arrIn]="dS.options.bookmarked_action"
          (arrOut)="Action = $event.id"
        ></app-unity-select>
      </div>
    </div>
    <div class="savePopup-f">
      <div class="row-wrap">
        <button (click)="save()" class="button min shaded">{{"btn.Bookmark" | translate}}</button>
      </div>

    </div>
  </div>
</div>
