<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'cmprat.title'|translate}}</p>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <p class="lampText min indnet">
              {{'cmprat.desc'|translate}}

            </p>
            <p class="sideSubTitle">{{'cmprat.sear'|translate}}</p>
            <div class="inputUrl-wrap">
                <input-search-autocomplete
                  [result]="arrCompanies"
                  (query)="getData($event, 0)"
                  (queryFull)="getData($event, 3)"
                ></input-search-autocomplete>

            </div>
            <p class="sideSubTitle indent" *ngIf="arrFullCompanies.length > 0">{{'searres'|translate}} ({{arrFullCompanies.length}}): </p>

            <div class="viewRating-wrap">
                <div class="viewRating result" *ngFor="let item of arrFullCompanies">
                    <div class="row-wrap">
                        <div class="col-v2 col-t3 col-m10">
                          <a target="_blank" href="http://talents.fund/public-company/{{item._id}}">
                            <img onload="window['loadPhoto'](this,'contain')" class="vacantBox__logo" src="{{uS.users[item._id].photo}}" alt="">
                          </a>
                        </div>

                        <div class="col-v4 col-t7 col-m10" >
                            <div class="rating-wrap">

                                <p class="vacantBox__boldText"><a target="_blank" href="http://talents.fund/public-company/{{item._id}}">{{item.Company.public.nameCompany}} </a></p>
                                <rating-star
                                  [ratingValue]="item.rating"
                                  [dieStar]="false"
                                  [starResult]="false"
                                ></rating-star>
                            </div>
                        </div>

                        <div class="col-v2 col-t5 col-m10">
                            <button *ngIf="!item.MY"  class="button shaded" (click)="companyId = {companyId:item._id}; modalTemplate='send'; show = true;  shadowBody()">{{'ratecmp'|translate}}
                            </button>

                        </div>
                        <div class="col-v2 col-t5 col-m10">
                        <button class="button"  *ngIf="item.MY" (click)="companyId = item.MY; modalTemplate='get';show = true; shadowBody()">
                           {{'btn.videtrat'|translate}}
                        </button>
                        </div>
                    </div>
                </div>


            </div>

            <p class="sideSubTitle indent">{{'cmprat.orchfrlist'|translate}}:</p>



        </div>
    </div>
    <companies-rating-modal
            [openModal]="show"
            [cId] = "companyId"
            [template]="modalTemplate"
            (ropenModal)="show = $event"
            (comment)="setComment($event)"
            (changeratingCompany)="changeratingCompany($event)"
    ></companies-rating-modal>


    <!--<div class="modalStandart" [ngClass]="{active:openModal2}">-->
        <!--<div class="modalStandart-wrap">-->
            <!--<i class="icon cancel-black" (click)="openModal2 = !openModal2;"></i>-->

            <!--<div class="headerMs">-->
                <!--<p class="sideTitle">{{'cmprat.ratcmpcom'|translate}}</p>-->


                <!--<div class="row-wrap indent"><p class="text"><i class='icon ic_visibility_off_gray'></i> {{'cmprat.anfdbk'|translate}}</p></div>-->
                <!--<div class="row-wrap"><p class="text">{{'cmprat.wreccmp'|translate}} <span class="indentLeft">{{'Yes'|translate}}</span></p></div>-->

            <!--</div>-->
            <!--<div class="contentMs">-->
                <!--<div class="row-wrap indent">-->
                    <!--<div class="rating-item">-->
                        <!--<p class="minTilt">{{'cmprat.culatm'|translate}}: </p>-->
                        <!--<div class="star-wrap">-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow25"></div>-->
                            <!--<div class="dieStar">good</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="rating-item">-->
                        <!--<p class="minTilt">{{'cmprat.wcond'|translate}}: </p>-->
                        <!--<div class="star-wrap">-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow25"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="rating-item">-->
                        <!--<p class="minTilt">{{'cmprat.cpmlsal'|translate}}: </p>-->
                        <!--<div class="star-wrap">-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow25"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="rating-item">-->
                        <!--<p class="minTilt">{{'cmprat.mngqlt'|translate}}:</p>-->
                        <!--<div class="star-wrap">-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow25"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="rating-item">-->
                        <!--<p class="minTilt">{{'cmprat.crropp'|translate}}:</p>-->
                        <!--<div class="star-wrap">-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow100"></div>-->
                            <!--<div class="star yellow25"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row-wrap">-->
                    <!--<p class="textField dark">{{'cmprat.rectext'|translate}}</p>-->
                    <!--<p class="text">{{'cmprat.rectextttl'|translate}}</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="footerMs center">-->
                <!--<button class="text-ic">-->
                    <!--<i  class="icon edit-black"></i>-->
                    <!--<p  class="text-ic__text">{{'btn.Edit'|translate}}</p>-->
                <!--</button>-->

            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>
