.sideSubTitle{
  font-weight: 500;
  margin-bottom: 20px;

  &.indent{
    margin: 50px 0 40px;
  }
}
.lampText.indnet {
  margin-bottom: 30px;
}
.text13 strong {
  display: block;
}
.text13{
  margin-top: 10px;
  display: block;
}
.vacantBox__boldText {
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
  line-height: 19px;
}

.row-wrap > div{
  vertical-align: middle;
}
.viewRating .button {
  max-width: 100%;
  width: 100%;
  padding: 14px 10px;
  font-size: 14px;

  &.shaded{
    padding: 14px 10px;
  }
}

.vacantBox__logo {
  max-width: 130px;
  margin-right: 40px;
  vertical-align: middle;
}


.viewRating {
  &.result {
    padding: 10px 0;
    @media(max-width: 980px) {
      button {
        margin-top: 10px;

        &:last-child {
          margin-top: 0px;
        }
      }
    }

    @media(max-width: 768px) {
      .vacantBox__logo {
        display: block;
        margin: 0 auto;
      }
    }


    .button {

      border-width: 1px;

    }
  }
}

.viewRating {
  border-top: 1px solid #E5E5E5;

  &:last-child{
    border-bottom: 1px solid #E5E5E5;
  }
}

@media screen and (max-width: 980px) {
  .viewRating .button {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .sideSubTitle.indent {
    margin: 40px 0 25px;
  }
}
