.sideContent {
  width: 100%;
  letter-spacing: -5px;
  position: relative;
}
.sideContent *{
  letter-spacing: 0;
}
.fixedLine-wrap.absolut .fixedLine {
  border-left: 0;
  border-bottom: 0;
  width: 77%;
}
.boxSd, .tapeSd {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.boxSd {
  width: 77%;
  border-right: 1px solid #D3D3D3;
  padding-bottom: 60px;
}

.tapeSd {
  width: 23%;
  margin-left: -1px;
  border-left: 1px solid #D3D3D3;
}

.absolut-wrapNd {
  margin-top: 50px;
}

.starFv {
  display: none;
  margin-left: 20px;
}

.selInsert-wrap {
  margin-bottom: 5px;
}

.tapeSd-featured {
  padding: 35px 20px 30px;

  .tapeSd-featured-item {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .tapeSd-featured-item:last-child {
    border-bottom: 0;
  }

  .sideTitle {
    margin-bottom: 25px;
  }
  .blueLink {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: 500;
    display: block;
  }
  .vacantBox__text {
    margin-top: 5px;
  }
  .vacantBox__price {
    text-align: left;
    position: inherit;
  }
  .rating-wrap {
    margin: 10px 0 0 0;
  }

}

.tapeSd-top {
  padding: 20px 20px 35px;
  border: 0;
}

.contactSd__spun {
  display: block;
  font-size: 15px;
  color: #666666;
}

.boxSd-item {
  border-top: 1px solid #E5E5E5;
  padding: 30px 20px 30px 30px;
}

.boxSd-item:first-child {
  border-top: 0;
}

.dateText {
  display: block;
  margin-top: 5px;
}

.vacantBox__price {
  width: 150px; /* страница поиска вакансий 100px */
}

.piece-wrap {
  display: block;
  margin-bottom: 30px;
}

.piece-wrap:last-child {
  margin-bottom: 10px;
}

.social {
  display: inline-block;
  vertical-align: middle;
}

.social-wrap .minTilt {
  display: inline-block;
  margin: 0 30px 0 0;
  vertical-align: middle;
}

.social-wrap {
  //margin-top: 35px;
}

.contactSd {
  //margin-top: 20px;
}

.absolut-wrapNd {
  text-align: center;
  .rating-wrap {
    text-align: left;
  }
  .icon{
    width: 40px;
    height: 40px;
  }
}

.material-icons.indent {
  margin-right: 10px;
}

.tapeSd-box {
  margin-bottom: 50px;
}

.tapeSd-box {
  .btnTabs__text {
    margin-bottom: 15px;
  }
}

.largeCompanyNd {
  .blueLink {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}

.vacantBox__text i {
  font-size: 18px;
  display: inline-block;
}

.vacantBox__text--span {
  display: block;
}

.dateText.tabletBlock {
  display: none;
}



@media screen and (max-width: 1100px) {
  .tapeSd {
    width: calc(22% + 5px);
    margin-left: 0;
  }
}

@media screen and (max-width: 980px) {

  .boxSd, .tapeSd {
    width: 100%;
    display: block;
  }
  .starFv {
    display: inline-block;
  }

  .boxSd {
    padding-bottom: 0;
    .tabletBlock {

      .rating-wrap, .button {
        display: inline-block;
        vertical-align: middle;
      }
      .button.desNone {
        display: none;
      }
    }
    .tabletBlock.indent {
      margin-top: 15px;
    }
    .rating-wrap {
      width: auto;
      text-align: right;
    }
    .icon{
      width: 30px;
      height: 30px;
    }
    .topLine-vb {
      display: inline-block;
      width: calc(100% - 130px);
      vertical-align: middle;
      margin: 0;
    }
    .vacantBox__logo.tabletBlock {
      display: inline-block;
      vertical-align: middle;
    }
    .dateText {
      display: none;
    }
    .vacantBox__price {
      font-size: 24px;
    }
    .vacantBox__logo {
      margin-left: 30px;
      width: 95px;
    }
    .rating-wrap {
      margin: 0 0 0 0;
    }
    .contact-item {
      max-width: 280px;
      margin-bottom: 10px;
    }
    .contact-item i, .contact-item span {
      display: inline-block;
      vertical-align: top;
    }
    .contact-item span {
      width: calc(100% - 45px);
    }
    .border-s {
      border-bottom: 1px solid #E5E5E5;

    }
  }
  .tapeSd {
    padding-bottom: 60px;
    .tapeSd-box {
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      :before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: calc(100% + 40px);
        display: block;
        height: 1px;
        background-color: #e5e5e5;
      }
      .btnTabs__text, .vacantBox__text {
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
        margin: 0;
        margin-bottom: 10px;
      }
      .btnTabs__text {
        text-align: right;
      }
      .dateText.tabletBlock {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        padding-left: 28px;
      }
      .largeCompanyNd {
        display: inline-block;
        vertical-align: middle;
        width: 59%;
        text-align: right;
        .blueLink {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }
    .tapeSd-featured {
      display: none;
    }
    .vacantBox__text--span {
      display: inline-block;
    }
    .vacantBox__text {
      margin-bottom: 15px;
    }
    .vacantBox__text:last-child {
      margin-bottom: 0;
    }
  }

  .vacantBox__boldText, .save-favorites, .vacantBox__text {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
    line-height: 20px;
  }
  .vacantBox__address {
    margin-top: 10px;
  }
  .boxSd-item {
    padding: 20px;
  }
  .boxSd-item.border-n {
    border: 0;
    padding-top: 0;
  }

}
.topLine-vb{
  margin-bottom: 0;
}
@media screen and (max-width: 770px) {
  .boxSd-item.border-n {
    border-bottom: 1px solid #E5E5E5;
  }
  .boxSd-item.mobileNone{
    display: none;
  }
  .boxSd-item.desNone{
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .sideContent{
    border-left: 0;
    border-right: 0;
  }
  .boxSd {
    .icon {
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto;
    }
    .rating-wrap {
      width: 100%;
      text-align: center;
    }
    .topLine-vb {
      display: block;
      width: 100%;

    }
    .starFv {
      float: right;
      margin-top: 4px;
    }
    .vacantBox__price {
      margin: 10px auto 0;
    }
    .vacantBox__logo.tabletBlock {
      display: block;
      margin: 30px auto 20px;
    }
    .tabletBlock {
      .button.mobileNone {
        display: none;
      }
      .button.desNone {
        display: block;
        margin: 0 auto;
      }
      .rating-wrap {
        padding-bottom: 0px;
        margin-bottom: 0px;
        position: relative;
        .vacantBox__boldText {
          text-align: center;
          margin-bottom: 0;
          width: 100%;
          margin-right: 0;
        }
      }
    }
    .vacantBox__text {
      margin-bottom: 15px;
    }
    .dateText.desNone {
      display: inline-block;
      float: right;
      margin-top: 2px;
    }

  }
  .tapeSd {
    padding-bottom: 0;
    border-bottom: 0;
    border: 0;
    .tapeSd-box {
      .vacantBox__text {
        display: none;
      }
      .dateText.tabletBlock {
        display: none;
      }
      .btnTabs__text {
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
      }
      .largeCompanyNd {
        width: 100%;
        text-align: left;
        .blueLink {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }
        .blueLink:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .linkIcon-mobile {
    background-color: #f1f1f1;
    padding: 20px;
    .linkIcon-wrap {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    .linkIcon {
      margin: 0;
    }
  }



}

