.stringIn{
  letter-spacing: -5px;
}

.stringIn *{
  letter-spacing: 0;
}

.numberIv, .dateIv, .dueDateIv, .paidIv{
  display: inline-block;
  vertical-align: middle;
}

.numberIv{
  width: 60%;
  padding-right: 10px;
}

.dateIv{
  width: 15%;
  padding-right: 10px;
}

.paidIv{
  width: 10%;
  text-align: center;
}

.dateText{
  color: #6F6F6F;
}

.stringIn{
  border-bottom: 1px dashed #CCCCCC;
}
.invoicesTablet-h .stringIn{
  padding: 0px 0 10px;
}
.invoicesTablet-c .stringIn{
  padding: 15px 0;
}
.invoicesTablet-c  .stringIn:last-child{
  border: 0;
}

.blueText {
  font-weight: 500;
  a {
    color: #00C3F1;
    &:hover{
      color: #0092B2;
    }
  }
}

@media screen and (max-width: 980px) {
  .numberIv{
    width: 50%;
  }
  .dateIv{
    width: 20%;
  }
}


@media screen and (max-width: 640px) {
  .numberIv {
    width: 100%;
    margin-bottom: 10px;

    &:before{
      content: 'Invoice number';
      display: block;
      color: #6F6F6F;
      font-family: Roboto;
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  .dateIv{
    width: 40%;

    &.data1{
      &:before{
        content: 'Date';
        display: block;
        color: #6F6F6F;
        font-family: Roboto;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
      }
    }

    &.data2{
      &:before{
        content: 'Due date';
        display: block;
        color: #6F6F6F;
        font-family: Roboto;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
      }
    }

  }

  .paidIv{
    width: 20%;
    text-align: left;

    &:before{
      content: 'Paid';
      display: block;
      color: #6F6F6F;
      font-family: Roboto;
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  .boxSide-item {
    padding: 20px 20px 25px 20px;
  }
}
