<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>

<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'Invoices'|translate}}</p>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <div class="invoicesTablet">
                <div class="invoicesTablet-h mobileNone">
                    <div class="stringIn">
                        <div class="numberIv"><p class="dateText">{{'Invoice_number'|translate}}</p></div>
                        <div class="dateIv"><p class="dateText">{{'Date'|translate}}</p></div>
                        <div class="dateIv"><p class="dateText">{{'Due date'|translate}}</p></div>
                        <div class="paidIv"><p class="dateText">{{'Payment'|translate}}</p></div>
                    </div>
                </div>
                <div class="invoicesTablet-c">
                    <div class="stringIn" *ngFor="let order of uS.profile.service.orders | paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                      <!--{{ shopService.objectIdtoInt(order._id)}}-->
                        <div class="numberIv"><p class="blueText"><a target="_blank" href="{{order.file}}">{{order.number}}</a></p></div>
                        <div class="dateIv data1"><p class="text">{{dS.dateConvert(order.created_at)| date:'dd.MM.yyyy'}}</p></div>
                        <!--<div class="dateIv data2"><p class="text" *ngIf="order.service.subscription">{{order.service.subscription.deactivate_at==0?" - ":dS.dateConvert(order.service.subscription.deactivate_at)| date:'dd.MM.yyyy'}}</p></div>-->
                        <div class="dateIv data2"><p class="text" >{{dS.dateConvert(order.created_at+86400*5)| date:'dd.MM.yyyy'}}</p></div>
                        <div class="paidIv">
                          <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
                          <i class='icon ic_warning_red' *ngIf="order.status==2"></i>
                          <i class='icon ic_check_blue' *ngIf="order.status==1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <pagination-controls
    directionLinks="true"
    autoHide="true"
    previousLabel="{{'previousLabel'|translate}}"
    nextLabel="{{'nextLabel'|translate}}"
    *ngIf="uS.profile.service.orders.length>10" (pageChange)="p = $event"></pagination-controls>
    <!--<div  class="pagination">-->
        <!--<div  class="pgLink prev status_0"><i class="material-icons">&#xE5C4;</i>Previous</div>-->
        <!--<ul  class="pagination__ul">-->
            <!--<li  class="status_2">1</li>-->
            <!--<li  class="status_1">2</li>-->
            <!--<li  class="status_1">3</li>-->
            <!--<li  class="status_0">...</li>-->
            <!--<li  class="status_1">23</li>-->
        <!--</ul>-->
        <!--<div  class="pgLink next status_2">Next<i class="material-icons">&#xE5C8;</i></div>-->
    <!--</div>-->
</div>
