<div class="globalFilter-wrap" (clickOutside)="closeFilter()">
  <div class="globalFilter">
    <div class="row">
      <div class="column">
        <div class="globFilter-item">
          <p class="textField">{{'filter.search_for'|translate}}</p>
          <input class="input" placeholder="{{'keyword'|translate}}" [(ngModel)]="rs.filter.options.keywords" (change)="setKeyWords($event)" type="text">
        </div>
        <div class="globFilter-item">
          <p class="textField">{{'filter.wheretosearch'|translate}}</p>
          <app-multiple-select
                  [keyOff]="['text']"
                  [title]="'filter.wheretosearch'"
                  [arrIn]="ds.options.whereToSearch"

                  [arrVal]="rs.filter.options.whereToSearch"
                  (arrOutVal)="rs.setFilterOption('whereToSearch',$event)"
                  [refresh]="rs.clear"
                  [change]="rs.lastChangeOption"
                  [changeName]="'whereToSearch'"

          ></app-multiple-select>
        </div>
        <div class="globFilter-item">
          <p class="textField">{{'filter.interested_in'|translate}}</p>
          <app-multiple-select
                  [keyOff]="['text']"
                  [title]="'filter.interested_in'"
                  [arrIn]="ds.options.interestedIn"
                  [arrVal]="rs.filter.options.interestedIn"
                  (arrOutVal)="rs.setFilterOption('interestedIn',$event)"
                  [refresh]="rs.clear"
                  [change]="rs.lastChangeOption"
                  [changeName]="'interestedIn'"
          ></app-multiple-select>


        </div>
        <div class="globFilter-item">
          <p class="textField">{{'filter.Desired_location'|translate}}</p>
          <address-select
                  (Address)="setAddress($event)"
                  (Location)="setAddress2($event)"
                  [addr]="address"
                  [name]="'resumeSearch'"
                  [placeholder]="'Estonia'"
                  [types]="['(regions)']"
                  [refresh]="rs.clear"
          ></address-select>
        </div>
        <div class="globFilter-item">
          <button class="button search"><span class="btnText" (click)="searchResume(); globalMenu=false; shadowBody(true)">{{'btn.Search'|translate}}</span>
            <span *ngIf="uS.accessPackage.search" class="btnNumber">{{rs.countItems}}</span>
            <span *ngIf="!uS.accessPackage.search" class="btnNumber">-</span>
          </button>
        </div>
        <div (click)="globalMenu=!globalMenu; shadowBody()" class="btnSf">{{'Detailed search'|translate}}</div>
      </div>
    </div>
  </div>
  <div class="globalMenu" [ngClass]="{'active':globalMenu}"><!-- active -->
    <!--<form action="#">-->
    <div class="contentGm">
        <div class="row">
          <div class="column">
            <div class="contentGm-item">
              <p class="sideTitle indent">{{'Personal'|translate}}:</p>
              <div class="checkbox">
                <div class="checkbox-col">
                  <input id="Male" [(ngModel)]="rs.filter.options.sex[1]" (change)="changeCheckbox('male',$event)" type="checkbox" name="rod" value="">
                  <label for="Male"><span class="checkbox__box"></span>
                    <p class="checkbox__text">{{'inputLabel.Male'|translate}}</p></label>
                </div>
                <div class="checkbox-col">
                  <input id="Female" [(ngModel)]="rs.filter.options.sex[0]" (change)="changeCheckbox('female',$event)" type="checkbox" name="rod" value="">
                  <label for="Female"><span class="checkbox__box"></span>
                    <p class="checkbox__text">{{'inputLabel.Female'|translate}}</p></label>
                </div>
              </div>
              <div class="inputHalf">
                <p class="textField">{{'Age'|translate}}</p>
                <input type="number" class="input" [(ngModel)]="rs.filter.options.ageFrom" (change)="setAge($event)" placeholder="{{'from'|translate}}">
                <span class="indent">-</span>
                <input type="number" class="input" [(ngModel)]="rs.filter.options.ageTo" (change)="setAge($event,true)" placeholder="{{'to'|translate}}">
              </div>
              <div class="input-wrap">
                <p class="textField">{{'filter.City_of_residence'|translate}}</p>
                <address-select
                        class="filter"
                        (Address)="setCityAddress($event)"
                        [addr]="rs.filter.options.city"
                        [name]="'resumeSearchCity'"
                        [placeholder]="''"
                        [types]="['(cities)']"
                        [refresh]="rs.clear"
                ></address-select>
              </div>
              <app-accordion-select
                      [title]="'filter.Resume_languages'|translate"
                      [arrIn]="ds.options.translaterDefault"
                      [arrVal]="rs.filter.options.languages"
                      (arrOut)="setFilter('language',$event,'resume','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('languages',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'languages'"
              ></app-accordion-select>
              <div class="checkbox indentTop">
                <input id="verified_ch" type="checkbox" (change)="rs.setVerify($event)" name="verified_ch" [(ngModel)]="rs.filter.options.onlyVerified">
                <label for="verified_ch"><span class="checkbox__box"></span>
                  <p class="checkbox__text">{{'Only_verified_accounts'|translate}}</p></label>
              </div>
            </div>
            <div class="contentGm-item">
              <p class="sideTitle indent">{{'Education'|translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Current_level_of_education'|translate"
                      [arrIn]="ds.options.educationLevelCurrent"
                      [arrVal]="rs.filter.options.educationLevel"
                      (arrOut)="setFilter('currentLevelOfEducation',$event,'resume','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('educationLevel',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'educationLevel'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'input.Major'|translate"
                      [arrIn]="ds.options.majors"
                      [arrVal]="rs.filter.options.majors"
                      (arrOut)="setFilter('major',$event,'school','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('majors',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'majors'"
              ></app-accordion-select>
              <p class="textField">{{'Expected_graduation_before'|translate}}</p>
              <app-unity-select
                      [default]="'Month'|translate"
                      [title]="'Month'|translate"
                      [arrIn]="help.month"
                      [arrVal]="rs.filter.options.expectedGraduationMonth"
                      (arrOutVal)="rs.setFilterOption('expectedGraduationMonth',$event)"
                      (arrOut)="setExpectGrad(help.toInt($event.text),'m')"
                      [type]="'salarySelect'"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'Month'"
                      class="salaryUS"
              ></app-unity-select>
              <app-unity-select
                      [default]="'Year'|translate"
                      [title]="'Year'|translate"
                      [arrIn]="expYear"
                      [arrVal]="rs.filter.options.expectedGraduationYear"
                      (arrOutVal)="rs.setFilterOption('expectedGraduationYear',$event)"
                      (arrOut)="setExpectGrad($event.text,'y')"
                      [type]="'salarySelect'"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'Year'"
                      class="salaryUS"
              ></app-unity-select>
            </div>
            <div class="contentGm-item">
              <p class="sideTitle indent">{{'Candidates_preferences'|translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Desired_occupational_field'|translate"
                      [arrIn]="ds.options.occupationField"
                      [arrVal]="rs.filter.options.occupationField"
                      (arrOut)="setFilter('jobOptions.occupationField',$event,'resume','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('occupationField',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'occupationalField'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Desired_industry'|translate"
                      [arrIn]="ds.options.fieldActivity"
                      [arrVal]="rs.filter.options.fieldActivity"
                      (arrOut)="setFilter('jobOptions.fieldActivity',$event,'resume','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('fieldActivity',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'fieldActivity'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Type_of_vacancy'|translate"
                      [arrIn]="typeVacOptions"
                      [arrVal]="rs.filter.options.vacancyType"
                      (arrOut)="setTypeVacFilter($event)"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('vacancyType',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'vacancyType'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Status_for_employmenty'|translate"
                      [arrIn]="ds.options.readyTowork"
                      [arrVal]="rs.filter.options.statusForEmployment"
                      (arrOut)="setFilter('Student.ready_to_work',$event,'user','$in')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('statusForEmployment',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'statusForEmployment'"
              ></app-accordion-select>
              <app-accordion-select
                      [title]="'filter.Work_time'|translate"
                      [arrIn]="ds.options.workTime"
                      [arrVal]="rs.filter.options.workTime"
                      (arrOut)="setWorkTimeFilter($event)"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('workTime',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'workTime'"
              ></app-accordion-select>
            </div>
            <div class="contentGm-item">
              <p class="sideTitle indent">{{'Skills'|translate}}:</p>
              <app-accordion-select
                      [title]="'filter.Language_skills'|translate"
                      [arrIn]="ds.options.languages"
                      [arrVal]="rs.filter.options.languagesSkills"
                      (arrOut)="setFilter('languageSkills.langId',$event,'resume','$all')"
                      (lastElem)="setLastElem($event)"
                      (arrOutVal)="rs.setFilterOption('languagesSkills',$event)"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'languagesSkills'"
              ></app-accordion-select>
              <p class="textField">{{'Profile_score_within_range'|translate}}</p>
              <rating-star
                      style="display: block !important;"
                      class="rating-wrap"
                      [dieStar]="false"
                      [select]="true"
                      [starResult]="false"
                      [refresh]="rs.clear"
                      [ratingValue]="rs.filter.options.profileScore"
                      (selectVal)="setRating($event)"
              ></rating-star>
              <app-unity-select

                      [title]="'filter.progress_in_education'|translate"
                      [arrIn]="ds.options.evaluationProgress"
                      [arrVal]="rs.filter.options.avgProgressEdu"
                      (arrOutVal)="rs.setFilterOption('avgProgressEdu',$event)"
                      (arrOut)="setFilter('Student.avgEduProgress',$event.value,'user','$gte')"
                      [refresh]="rs.clear"
                      [change]="rs.lastChangeOption"
                      [changeName]="'filter.progress_in_education'"
                      [type]="'salarySelect'"
                      class="avgProgressSelect"
              ></app-unity-select>
              <div class="checkbox">
                <input id="workExp" type="checkbox" name="workExp" (change)="changeCheckbox('workExp',$event)" [(ngModel)]="rs.filter.options.workExp">
                <label for="workExp"><span class="checkbox__box"></span>
                  <p class="checkbox__text">{{'Has_previous_work_experience'|translate}}</p></label>
              </div>
              <div class="checkbox">
                <input id="recommendation_ch" type="checkbox" name="recommendation_ch" (change)="changeCheckbox('recommends',$event)" [(ngModel)]="rs.filter.options.recommendations">
                <label for="recommendation_ch"><span class="checkbox__box"></span>
                  <p class="checkbox__text">{{'Has_recommendations'|translate}}</p></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerGm">
        <div class="row">
          <div class="column">
            <button (click)="rs.clearFilter()" class="button grey">{{'Clear'|translate}}</button>
            <button class="button search" (click)="searchResume(); globalMenu=!globalMenu; shadowBody()">
              <span class="btnText" >{{'btn.Search'|translate}}</span>
              <span *ngIf="uS.accessPackage.search" class="btnNumber">{{rs.countItems}}</span>
              <span *ngIf="!uS.accessPackage.search" class="btnNumber">-</span>
            </button>
          </div>
        </div>
      </div>
    <!--</form>-->
  </div>
</div>
