/* + globalFilter */
.globalFilter {
  background-color: #535353;
  padding: 18px 0;
  position: relative;
  z-index: 20;

  .multipleSelect .mpsBox {
    top: -23px;
    left: -23px;
    width: 320px;
    padding: 15px 23px 20px;

  }
}

.globalFilter:before {
  content: '';
  height: 100%;
  right: calc(100% - 1px);
  width: calc((100vw - 1100px) / 2);
  display: block;
  background: #535353;
  top: 0;
  position: absolute;
}

.globalFilter:after {
  content: '';
  height: 100%;
  left: calc(100% - 1px);
  width: calc((100vw - 1102px) / 2);
  display: block;
  background: #535353;
  top: 0;
  position: absolute;
}

.globFilter-item {
  display: inline-block;
  vertical-align: bottom;
  width: 180px;
  margin-right: 15px;
}

.globFilter-item .input {
  max-width: 100%;
}

.globalFilter .button.search {
  font-size: 14px;
  width: 100%;
}

.globalFilter .btnNumber {
  padding: 9px 0;
}

.btnSf {
  max-width: 55px;
  color: #62E1FF;
  font-size: 13px;
  line-height: 15px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 3px;
  cursor: pointer;
}

.globalMenu {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 15;
  max-width: 1100px;
  width: 100%;
}

.globalMenu:before {
  content: '';
  height: 100%;
  right: calc(100% - 1px);
  width: calc((100vw - 1100px) / 2);
  display: block;
  background: #f1f1f1;
  top: 0;
  position: absolute;
}

.globalMenu:after {
  content: '';
  height: 100%;
  left: calc(100% - 1px);
  width: calc((100vw - 1102px) / 2);
  display: block;
  background: #f1f1f1;
  top: 0;
  position: absolute;
}

.globalMenu.active {
  display: block;
}

.footerGm {
  text-align: right;
  padding: 10px 0;
  position: relative;
}

.footerGm:before {
  content: '';
  background-color: #C6C6C6;
  height: 1px;
  position: absolute;
  display: block;
  top: 0;
  //width: calc(100vw);
  z-index: 9;
  //left: calc((100vw - 1100px) / (-2));
  //width: 100%;

  width: calc(100% + (100vw - 100%));
  left: calc((100vw - 99%) / (-2));
}

.footerGm .button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 180px;
}

.footerGm .btnNumber {
  padding: 8px 0;
}

.contentGm {
  letter-spacing: -5px;
  padding: 25px 0 15px 0;
  position: relative;
}

.contentGm * {
  letter-spacing: 0;
}

.contentGm-item {
  width: 22%;
  max-width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}

.contentGm-item:last-child {
  margin-right: 0;
}

.multipleSelect, .unitySelect {
  max-width: 100%;
  width: 100%;
}
.globFilter-item{
  z-index: 0;
  position: relative;
}
.globFilter-item:nth-child(1) {
  z-index: 3;
  position: relative;
}

.globFilter-item:nth-child(2) {
  z-index: 2;
  position: relative;
}
.globFilter-item:nth-child(3) {
  z-index: 1;
  position: relative;
}
.input {
  border: 0;
}

.salaryConf {
  margin-top: 10px;
}

/* - globalFilter */

@media screen and (max-width: 1100px) {

  /* + globalFilter */
  .globFilter-item{
    margin-bottom: 10px;
  }
  .btnSf {
    margin-bottom: 13px;
  }
  .globFilter-item .input {
    width: 100%;

  }
  .multipleSelect, .unitySelect {
    margin-bottom: 10px;
  }
  .globFilter-item {
    width: 22%;
    margin-right: 2%;
  }
  .contentGm-item {
    width: 23%;
    max-width: 215px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
  }
  /* - globalFilter */
}

@media screen and (max-width: 980px) {
  /* + globalFilter */
  .globFilter-item {
    width: 23%;
    margin-right: 1%;
  }
  /* - globalFilter */
}

@media screen and (max-width: 800px) {
  /* + globalFilter */
  .globFilter-item {
    width: 31%;
    margin-right: 1%;
    margin-bottom: 10px;
  }
  .globFilter-item .input {
    margin-bottom: 0;
  }
  .btnSf {
    margin-bottom: 13px;
  }
  .contentGm-item {
    width: 47%;
    max-width: 100%;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .multipleSelect, .unitySelect {
    margin-bottom: 0 !important;
  }
  /* - globalFilter */
}

@media screen and (max-width: 640px) {
  /* + globFilter-item */
  .globFilter-item {
    width: 100%;
    //max-width: 370px;
    max-width: 100%;
    display: block;
    margin: 0 auto 15px;

    &.indent{
      margin: 25px 0;
    }
  }
  .globalFilter .button.search {
    max-width: 100%;
  }
  .btnSf {
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
    max-width: inherit;
  }
  .globalFilter {
    padding: 20px 0 25px;
  }
  .contentGm-item {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto 25px;
  }
  .contentGm-item:last-child {
    margin: 0 auto 0;
  }
  .salaryConf {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .footerGm {
    text-align: center;
    border-top: 0;
    padding: 20px 0 35px;
  }
  .contentGm {
    padding: 25px 0 25px 0;
  }
  .footerGm .button {

    width: 100%;
    max-width: 370px;
    margin: 0 auto 10px;
    display: block;
  }
  .footerGm .button:last-child {
    margin: 0 auto 0;
  }

  .globFilter-item .button.search {
    margin: 25px 0 0;
  }

}

@media screen and (max-width: 410px) {
  .btnSf {
    margin-left: 0;
  }
}
