.profile {
  padding: 20px;
  margin: 20px;
  background-color: red;
}

.toolbar-link {

  background-color: #3f51b5;
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
  font-family: Roboto;
  border-bottom: 1px solid rgb(129, 142, 210);

}

.toolbar-content .toolbar-content-inner {
  padding: 20px;
}

.toolbar-item .toolbar-content {

  display: block;
  box-sizing: content-box;
  font-size: 24px;
  max-height: 0;
  overflow: hidden;
  color: #000000;
  transition: max-height .2s linear;
  padding: 0;
  margin: 0;

}

.toolbar-item.active .toolbar-content {

  max-height: 400px;

}
