﻿<div class="toolbar">
  <div class="toolbar-item" [class.active]="tabItem.active" *ngFor="let tabItem of tabList">
    <div class="toolbar-link" (click)="toggle(tabItem)">{{tabItem.link}}</div>
    <div class="toolbar-content">
      <div class="toolbar-content-inner">{{tabItem.content}}</div>
    </div>
  </div>
</div>

