<div class="vacantBox__price" >
 <p *ngIf="salary && !salary.hide&&summ!=''">{{summ}}</p>
 <span *ngIf="salary && !salary.hide&&summ!=''">/€</span><span *ngIf="salary && !salary.hide&&summ!=''" class="vacantBox__price--time">{{dS.getOptionsFromId('salary',salary.type).text|translate}}</span>
  <span class="dateText tabletNone" *ngIf="published_at&&published_at>0" >{{'Posted'|translate}}: {{dS.dateConvert(published_at)|date:'dd.MM.yyyy'}}</span>
</div>
