span{
    font-size: 13px;
}
.vacantBox__price--time {
    margin-left: 5px;
}
/*.vacantBox__price{*/
  /*position: relative;*/
/*}*/
.topLine-vb{
    display: flex;
    padding-right: 0;
    justify-content: space-between;
}
/*.vacantBox__price {*/
    /*position: relative;*/
    /*right: auto;*/
    /*left: 0;*/
    /*text-align: left;*/
    /*margin-top: 10px;*/
/*}*/
@media screen and (max-width: 980px) {
    .dateText.tabletNone {
        display: none;
    }

}
