<div class="filterSd mobileNone">
    <div class="btnTabs-wrap">
        <button class="btnTabs"
                [ngClass]="{'up':btns.published_at==1,'down':btns.published_at==2,'':btns.published_at==0}"
                (click)="sortVacancy('published_at');">
            <span class="btnTabs__text">{{'Posted'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
        <button class="btnTabs"
                [ngClass]="{'up':btns.deadLine==1,'down':btns.deadLine==2,'':btns.deadLine==0}"
                (click)="sortVacancy('deadLine');">

            <span class="btnTabs__text">{{'Deadline'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
        <button class="btnTabs"
                [ngClass]="{'up':btns['user.rating']==2,'down':btns['user.rating']==1,'':btns['user.rating']==0}"
                (click)="sortVacancy('user.rating');">
            <span class="btnTabs__text">{{'Company rating'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
        <button class="btnTabs"
                [ngClass]="{'up':btns['salary.summ']==2,'down':btns['salary.summ']==1,'':btns['salary.summ']==0}"
                (click)="sortVacancy('salary.summ');">
            <span class="btnTabs__text">{{'Salary'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
    </div>


    <app-unity-select style="display: inline-block"
                      *ngIf="viewSelect"
                      [title]="'Posted'"
                      [arrIn]="dataService.options['notOlderThan']"
                      (arrOut)="setOlderThan($event)"
                      [arrVal]="vacancyService.filter.options.olderThan"
                      (arrOutVal)="vacancyService.setFilterOption('olderThan',$event)"
                      [refresh]="vacancyService.clear"
                      [default]="'all'"
                      [change]="vacancyService.lastChangeOption"
                      [changeName]="'olderThan'"
    ></app-unity-select>

</div>

<!-- + sortPanel-wrap -->
<div class="sortPanel-wrap desNone">
    <div class="sortPanel__btn " (click)="openFilter = !openFilter; shadowBody()"><i class="material-icons">&#xE429;</i>
        {{'Filters'|translate}}
    </div>
    <div (click)="changeComp()" class="sortPanel__btn view" [ngClass]="{'headline':!comp,'module':comp}" *ngIf="viewCompact">
        <!-- headline-(иконка полная карточка) или module-(иконка сокращенная  карточка) -->
        <i class='icon material-icons headline-icon ic_view_headline_black'></i>
        <i class='icon material-icons module-icon ic_view_module_black'></i>
        <span *ngIf="!comp">{{'Compact_view'|translate}}</span>
        <span *ngIf="comp">{{'Detailed_view'|translate}}</span>
    </div>

    <div class="filterSp" [ngClass]="{active:openFilter}"><!-- active -->
        <p class="title">{{'Sort_by'|translate}}:</p>
        <div class="filterSp-wrap">
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Posted'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('published_at',1);"
                     [ngClass]="{'status3':btns.published_at==1,'':(btns.published_at==2 || btns.published_at==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('published_at',2);"
                     [ngClass]="{'status2':(btns.published_at==1 || btns.published_at==0),'status4':btns.published_at==2}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Deadline'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('deadLine',1);"
                     [ngClass]="{'status3':btns.deadLine==1,'':(btns.deadLine==2 || btns.deadLine==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('deadLine',2);"
                     [ngClass]="{'status2':(btns.deadLine==1 || btns.deadLine==0),'status4':btns.deadLine==2}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Company rating'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('user.rating',2);"
                     [ngClass]="{'status3':btns['user.rating']==2,'':(btns['user.rating']==1 || btns['user.rating']==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('user.rating',1);"
                     [ngClass]="{'status2':(btns['user.rating']==2 || btns['user.rating']==0),'status4':btns['user.rating']==1}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Salary'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('salary.summ',2);"
                     [ngClass]="{'status3':btns['salary.summ']==2,'':(btns['salary.summ']==1 || btns['salary.summ']==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('salary.summ',1);"
                     [ngClass]="{'status2':(btns['salary.summ']==2 || btns['salary.summ']==0),'status4':btns['salary.summ']==1}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
        </div>

        <div class="range-wrap" *ngIf="viewRange">
            <p class="title">{{'Show_not_older_than'|translate}}:</p>
            <input type="range" step="1" min="0" max="4" [(ngModel)]="vacancyService.filter.options.olderThan" (change)="setOlderThan($event.target.value)">
            <div class="scaleRange">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="rangeText-wrap">
                <p>3 {{"Days" | translate}}</p>
                <p class="center">2 {{"Weeks" | translate}}</p>
                <p class="right">{{"All" | translate}}</p>
            </div>
        </div>
        <div class="button shaded" (click)="searchVacancy(); openFilter = false; shadowBody(true)">{{'Filter'|translate}}</div>
    </div>
</div>
<!-- - sortPanel-wrap -->
