<div  *ngIf="checkUser()&&showInfo==1" class="vacantBox-right">
    <img alt=""
      src="{{user.photo}}"
      onload="window['loadPhoto'](this,'contain')"
      class="vacantBox__logo"
    >
    <div class="rating-wrap">
        <p class="vacantBox__boldText">{{ user.Company.nameCompany }}</p>
        <rating-star [dieStar]="false" [starResult]="false" [ratingValue]="user.rating"></rating-star>
    </div>
    <p *ngIf="user.Company.companySize" class="btnTabs__text">{{dataService.optionText('companySize',user.Company.companySize)|translate}}</p>
</div>

<div *ngIf="!checkUser()&&showInfo==1" class="vacantBox-right" >
    <img onload="window['loadPhoto'](this,'contain')" src="/assets/img/ic_business_grey.svg" alt="" class="vacantBox__logo">
    <div class="rating-wrap">
        <p class="vacantBox__boldText">{{'Company'|translate}}</p>
    </div>
    <p class="btnTabs__text"></p>
</div>
<div class="absolut-wrapNd desNone  vacantBox-right" *ngIf="showInfo==0">
  <i class='icon ic_visibility_off_gray'></i>
  <div class="rating-wrap">
    <p class="vacantBox__boldText"> {{"CompanyNameHidden" | translate}}</p>
  </div>
</div>
<div class="absolut-wrapNd tabletNone vacantBox-right" *ngIf="showInfo==0">
  <i class='icon ic_visibility_off_gray'></i>
  <div class="rating-wrap">
    <p class="vacantBox__boldText"> {{"CompanyNameHidden" | translate}}</p>
  </div>
</div>
