<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent"><!--  desktop and mobile version -->
    <div class="modalStandart" [ngClass]="{active:openModal}">
        <div class="modalStandart-wrap">
            <i class="icon cancel-black" (click)="openModal = !openModal;"></i>
            <div class="headerMs">
                <p class="sideTitle">Order subscription</p>
                <p class="greyText indentBottom">Please select desired subscription and period</p>

                <div class="row-wrap">
                    <div class="col-v5 col-m10 indentMob">
                        <p class="textField dark">Subscriptions</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                    <div class="col-v5 col-m10">
                        <p class="textField dark">period</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>
            </div>
            <div class="contentMs">
                <div class="row-wrap bottom">
                    <div class="col-v5 col-m10 indentMob">
                        <div class="checkbox">
                            <input id="type31" type="checkbox" name="check" value="">
                            <label for="type31"><span class="checkbox__box"></span>
                                <p class="checkbox__text">I have promocode</p></label>
                        </div>
                    </div>
                    <div class="col-v5 col-m10">
                        <p class="textField dark">Enter promocode</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>
                <p class="greyText indent">Please note! You can publish additional vacancies only within active
                    subscription period.</p>

                <button class="button min shaded">Save and confirm</button>
            </div>
        </div>
    </div>
    <div class="modalStandart" [ngClass]="{active:openModal2}">
        <div class="modalStandart-wrap">
            <i class="icon cancel-black" (click)="openModal2 = !openModal2;"></i>
            <div class="headerMs">
                <p class="sideTitle">Order additional vacancies</p>
                <p class="greyText indentBottom">Please select the number of additional vacancies</p>

                <div class="row-wrap bottom">
                    <div class="col-v5 col-m10 indentMob">
                        <p class="textField dark">Amount of vacancies</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                    <div class="col-v5 col-m10">
                        <p class="sideTitle">Total cost: <span class="price">80 €</span></p>
                    </div>
                </div>
            </div>
            <div class="contentMs">
                <div class="row-wrap bottom">
                    <div class="col-v5 col-m10 indentMob">
                        <div class="checkbox">
                            <input id="type31s" type="checkbox" name="check" value="">
                            <label for="type31s"><span class="checkbox__box"></span>
                                <p class="checkbox__text">I have promocode</p></label>
                        </div>
                    </div>
                    <div class="col-v5 col-m10">
                        <p class="textField dark">Enter promocode</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>
                <p class="greyText indent">Please note! You can publish additional vacancies only within active
                    subscription period.</p>

                <button class=" button min shaded">Save and confirm</button>
            </div>
        </div>
    </div>
    <div class="modalStandart" [ngClass]="{active:openModal3}">
        <div class="modalStandart-wrap">
            <i class="icon cancel-black" (click)="openModal3 = !openModal3;"></i>
            <div class="headerMs">
                <p class="sideTitle">Order service</p>
                <p class="greyText indentBottom">Please select the number of additional vacancies</p>

                <div class="row-wrap bottom">
                    <div class="col-v10  indentMob">
                        <p class="textField dark">Your vacancy</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>
                <div class="row-wrap indent">
                    <div class="col-v5 col-m10 indentMob">
                        <p class="textField dark">Service</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                    <div class="col-v5 col-m10">
                        <p class="textField dark">Duration</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>

                <button class="button min shaded">Save and confirm</button>
            </div>

        </div>
    </div>
    <div class="modalStandart" [ngClass]="{active:openModal4}">
        <div class="modalStandart-wrap">
            <i class="icon cancel-black" (click)="openModal4 = !openModal4;"></i>
            <div class="headerMs">
                <p class="sideTitle">Order service</p>
                <p class="greyText indentBottom">Please select the number of additional vacancies</p>

                <div class="row-wrap">
                    <div class="col-v10 indentMob">
                        <p class="textField dark">Your vacancy</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                </div>
                <div class="row-wrap indent">
                    <div class="col-v5 col-m10 indentMob">
                        <p class="textField dark">Service</p>
                        <app-unity-select [title]="''"></app-unity-select>
                    </div>
                    <div class="col-v5 col-m10 indentMob">
                        <p class="textField dark">Add document (optional)</p>
                        <button class="button min">Upload file</button>
                    </div>
                </div>
                <div class="row-wrap indent">
                    <div class="col-v10 indentMob">
                        <p class="textField dark">Essential details and instructions for execution (optional)</p>
                        <textarea placeholder="Specify…" class="textarea"></textarea>
                    </div>
                </div>

                <button class=" button min shaded">Save and confirm</button>

            </div>
        </div>
    </div>

    <div class="title-wrap">
        <p class="title">My Services</p>
    </div>
    <div class="tabletNone"><!-- отключаем с 980px -->
        <div class="boxSide">
            <div class="boxSide-item">
                <p class="sideTitle">Subscriptions</p>
            </div>
            <div class="boxSide-item">
                <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum
                    laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                    <a class="blueLink">Learn more about subscription plans.</a>
                </p>

                <button class="button shaded min" (click)="openModal = !openModal;">Order</button>

                <div class="tableDash indent">
                    <div class="tableDash-string headerTd">
                        <div class="boxTds tbs1">
                            <p class="text13">Subscription name</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Duration</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Active since</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Active till</p></div>
                        <div class="boxTds tbs8">
                        </div>
                    </div>
                    <div class="dasedTd"></div>
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <p class="boxTds__text bold">Smart Search</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="boxTds__text">Termless</p>
                        </div>
                        <div class="boxTds tbs4">
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs7"></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">View</p>
                            </button>
                        </div>
                        <div class="allocateText blue-bc">3 vacancies available</div>
                        <a class="blueLink min" (click)="openModal2 = !openModal2;">Buy additional vacancies</a>
                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history1" type="checkbox">
                    <label class="labelSh" for="history1">Subscriptions history <i
                            class='icon ic_expand_more_black'></i></label>
                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <p class="boxTds__text bold">Additional vacancies</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs3">
                                </div>
                                <div class="boxTds tbs4">
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                </div>
                                <div class="boxTds tbs8">
                                </div>
                            </div>
                        </div>
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <p class="boxTds__text bold">Job AD </p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="boxTds__data">03.10.2016</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="boxTds__text">2 months</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="boxTds__data">04.10.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="boxTds__data">04.10.2016</p>
                                </div>
                                <div class="boxTds tbs8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="boxSide">
            <div class="boxSide-item">
                <p class="sideTitle">Additional services</p>
            </div>
            <div class="boxSide-item">
                <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum
                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                    pulvinar
                    tempor.
                    <a class="blueLink">Learn more about additional services.</a>
                </p>
                <div class="minTitle">Promotion of vacancy for certain period of time</div>
                <button class="button shaded min" (click)="openModal3 = !openModal3;">Order</button>

                <div class="tableDash indent">
                    <div class="tableDash-string headerTd">
                        <div class="boxTds tbs1">
                            <p class="text13">Position title / service</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Duration</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Active since</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Active till</p></div>
                        <div class="boxTds tbs8">
                        </div>
                    </div>
                    <div class="dasedTd"></div>
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Designers</a>
                            <p class="greyText">{{"promotions.prem_listing" | translate}}</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="boxTds__text">Termless</p>
                        </div>
                        <div class="boxTds tbs4">
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="boxTds__data">Pending</p>
                        </div>
                        <div class="boxTds tbs7"><p>-</p></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">Revoke</p>
                            </button>
                        </div>

                    </div>
                    <div class="dasedTd"></div>
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Front end developer</a>
                            <p class="greyText">Highlighted frame</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="boxTds__data">19.02.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="boxTds__text">1 week</p>
                        </div>
                        <div class="boxTds tbs4">
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <i class='icon ic_check_circle_gren'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="boxTds__data">Pending</p>
                        </div>
                        <div class="boxTds tbs7"><p>-</p></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class='icon cancel-black'></i>
                                <p class="text-ic__text">Stop</p>
                            </button>
                        </div>

                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history5" type="checkbox">
                    <label class="labelSh" for="history5">History<i
                            class='icon ic_expand_more_black'></i></label>
                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">{{"promotions.prem_listing" | translate}}</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="boxTds__data">2 weeks</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxSide-item">
                <p class="minTitle">One-time advertisement or recruiting</p>
                <button class="button shaded min" (click)="openModal4 = !openModal4;">Order</button>

                <div class="tableDash indent">
                    <div class="tableDash-string headerTd">
                        <div class="boxTds tbs1">
                            <p class="text13">Position title / service</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Status</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Date</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Details</p></div>
                        <div class="boxTds tbs8"></div>
                    </div>
                    <div class="dasedTd"></div>
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Designers</a>
                            <p class="greyText">Promotion in FB</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="boxTds__data">01.03.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="boxTds__text">Pending</p>
                        </div>
                        <div class="boxTds tbs4">
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p>-</p>
                        </div>
                        <div class="boxTds tbs7"><a class="blueLink">See</a></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">Revoke</p>
                            </button>
                        </div>

                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history3" type="checkbox">
                    <label class="labelSh" for="history3">History<i
                            class='icon ic_expand_more_black'></i></label>
                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">e-Advertisement to a target group</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="greenText">Executed</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <a class="blueLink">See</a>
                                </div>
                                <div class="boxTds tbs8">
                                </div>
                            </div>
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">Banner inside e-mail alerts</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="greenText">Executed</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <a class="blueLink">See</a>
                                </div>
                                <div class="boxTds tbs8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabletBlock"><!-- включаем с 980px -->
        <div class="boxSide">
            <div class="boxSide-item">
                <p class="sideTitle">Subscriptions</p>
            </div>
            <div class="boxSide-item">
                <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum
                    laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                    <a class="blueLink">Learn more about subscription plans.</a>
                </p>
                <button class="button shaded min" (click)="openModal = !openModal;">Order</button>

                <div class="tableDash indent">
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <p class="text13">Subscription name</p>
                            <p class="boxTds__text bold">Smart Search</p>
                            <div class="allocateText blue-bc">3 vacancies available</div>
                            <a class="blueLink min" (click)="openModal2 = !openModal2;">Buy additional vacancies</a>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Duration</p>
                            <p class="boxTds__text">Termless</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Active since</p>
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Active till</p></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">View</p>
                            </button>
                        </div>
                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history4" type="checkbox">
                    <label class="labelSh" for="history4">Subscriptions history <i
                            class='icon ic_expand_more_black'></i></label>

                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <p class="boxTds__text bold">Additional vacancies</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="text13">Order placed</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="text13">Duration</p>
                                    <p>-</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <p class="text13">Invoice</p>
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <p class="text13">Payment</p>
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="text13">Active since</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="text13">Active till</p>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <p class="boxTds__text bold">Job AD </p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="text13">Order placed</p>
                                    <p class="boxTds__data">03.10.2016</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="text13">Duration</p>
                                    <p class="boxTds__text">2 months</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <p class="text13">Invoice</p>
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <p class="text13">Payment</p>
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="text13">Active since</p>
                                    <p class="boxTds__data">04.10.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="text13">Active till</p>
                                    <p class="boxTds__data">04.10.2016</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="boxSide">
            <div class="boxSide-item">
                <p class="sideTitle">Additional services</p>
            </div>
            <div class="boxSide-item">
                <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum
                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                    pulvinar
                    tempor.
                    <a class="blueLink">Learn more about additional services.</a>
                </p>
                <div class="minTitle">Promotion of vacancy for certain period of time</div>
                <button class="button shaded min" (click)="openModal3 = !openModal3;">Order</button>

                <div class="tableDash indent">

                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Designers</a>
                            <p class="greyText">{{"promotions.prem_listing" | translate}}</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                            <p class="boxTds__data">07.01.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Duration</p>
                            <p class="boxTds__text">Termless</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Active since</p>
                            <p class="boxTds__data">Pending</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Active till</p>
                            <p>-</p></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">Revoke</p>
                            </button>
                        </div>
                    </div>
                    <div class="dasedTd"></div>
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Front end developer</a>
                            <p class="greyText">Highlighted frame</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                            <p class="boxTds__data">19.02.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Duration</p>
                            <p class="boxTds__text">1 week</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                            <i class='icon ic_check_circle_gren'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Active since</p>
                            <p class="boxTds__data">Pending</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Active till</p>
                            <p>-</p></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class='icon cancel-black'></i>
                                <p class="text-ic__text">Stop</p>
                            </button>
                        </div>

                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history2" type="checkbox">
                    <label class="labelSh" for="history2">History<i
                            class='icon ic_expand_more_black'></i></label>
                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">{{"promotions.prem_listing" | translate}}</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="text13">Order placed</p>
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="text13">Duration</p>
                                    <p class="boxTds__data">2 weeks</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <p class="text13">Invoice</p>
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <p class="text13">Payment</p>
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="text13">Active since</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="text13">Active till</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxSide-item">
                <p class="minTitle">One-time advertisement or recruiting</p>
                <button class="button shaded min" (click)="openModal4 = !openModal4;">Order</button>

                <div class="tableDash indent">
                    <div class="tableDash-string">
                        <div class="boxTds tbs1">
                            <a class="blueLink">Designers</a>
                            <p class="greyText">Promotion in FB</p>
                        </div>
                        <div class="boxTds tbs2">
                            <p class="text13">Order placed</p>
                            <p class="boxTds__data">01.03.2017</p>
                        </div>
                        <div class="boxTds tbs3">
                            <p class="text13">Status</p>
                            <p class="boxTds__text">Pending</p>
                        </div>
                        <div class="boxTds tbs4">
                            <p class="text13">Invoice</p>
                            <a class="blueLink">Open</a>
                        </div>
                        <div class="boxTds tbs5">
                            <p class="text13">Payment</p>
                            <i class='icon ic_watch_later_gray'></i>
                        </div>
                        <div class="boxTds tbs6">
                            <p class="text13">Date</p>
                            <p>-</p>
                        </div>
                        <div class="boxTds tbs7"><p class="text13">Details</p><a class="blueLink">See</a></div>
                        <div class="boxTds tbs8">
                            <button class="text-ic">
                                <i class="icon ic_refresh_black"></i>
                                <p class="text-ic__text">Revoke</p>
                            </button>
                        </div>
                    </div>
                    <div class="dasedTd"></div>
                </div>

                <div class="subHistory-wrap">
                    <input id="history6" type="checkbox">
                    <label class="labelSh" for="history6">History<i
                            class='icon ic_expand_more_black'></i></label>
                    <div class="subHistory">
                        <div class="tableDash">
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">e-Advertisement to a target group</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="text13">Order placed</p>
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="text13">Status</p>
                                    <p class="greenText">Executed</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <p class="text13">Invoice</p>
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <p class="text13">Payment</p>
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="text13">Date</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="text13">Details</p>
                                    <a class="blueLink">See</a>
                                </div>

                            </div>
                            <div class="tableDash-string">
                                <div class="boxTds tbs1">
                                    <a class="blueLink">Designers</a>
                                    <p class="greyText">Banner inside e-mail alerts</p>
                                </div>
                                <div class="boxTds tbs2">
                                    <p class="text13">Order placed</p>
                                    <p class="boxTds__data">01.02.2017</p>
                                </div>
                                <div class="boxTds tbs3">
                                    <p class="text13">Status</p>
                                    <p class="greenText">Executed</p>
                                </div>
                                <div class="boxTds tbs4">
                                    <p class="text13">Invoice</p>
                                    <a class="blueLink">Open</a>
                                </div>
                                <div class="boxTds tbs5">
                                    <p class="text13">Payment</p>
                                    <i class='icon ic_check_circle_gren'></i>
                                </div>
                                <div class="boxTds tbs6">
                                    <p class="text13">Date</p>
                                    <p class="boxTds__data">05.12.2016</p>
                                </div>
                                <div class="boxTds tbs7">
                                    <p class="text13">Details</p>
                                    <a class="blueLink">See</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>