.boxSide{
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }
}
.text13.indent {
  margin-bottom: 20px;
}
.allocateText{
  margin-right: 10px;
}
.dasedTd{
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ccc;
}
.tableDash-string{
  padding: 14px 0;
}
.tableDash-string.headerTd {
  padding-top: 0;
  padding-bottom: 8px;
}
.tableDash-string.headerTd .boxTds.tbs5{
  text-align: left;
}
.boxTds.tbs5 {
  text-align: center;
}
.minTitle{
  font-weight: normal;
  margin: 10px 0 30px;
}
.greyText {
  margin-top: 5px;
}
.greenText {
  line-height: 22px;
}

.boxTds {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  min-width: 10%;
}
.tableDash-string{
  letter-spacing: -5px;
  position: relative;
}
.tableDash-string *{
  letter-spacing: 0;
}
.tableDash-string.border:before {
  content: '';
  border-bottom: 1px dashed #ccc;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 20px;
  margin: auto;
}

.tableDash .text13{
  color: #6F6F6F;
  //margin-bottom: 26px;
}
.empty{
  font-size: 13px;
  opacity: 0;
}

.subHistory-wrap .tableDash .icon{
  display: block;
  margin: 0 auto;
}
.minTilt{
  font-weight: normal;
}


.boxTds.tbs1 {
  width: 20%;
}
.boxTds.tbs2 {
  width: 12%;
}
.boxTds.tbs3 {
  width: 12%;
}
.boxTds.tbs4 {
  width: 10%;
}
.boxTds.tbs5 {
  width: 9%;
  min-width: 9%;
}
.boxTds.tbs6 {
  width: 12%;
}
.boxTds.tbs7 {
  width: 12%;
}
.boxTds.tbs8 {
  width: 13%;
}


.subHistory-wrap input{
  display: none;
}
.subHistory{
  display: none;
}
input[type=checkbox]:checked + label ~ .subHistory{
  display: block;
}
input[type=checkbox]:checked + label i{
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}
.labelSh{
  color: #6F6F6F;
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
  display: table;
  margin-bottom: 10px;
}
.labelSh i{
  opacity: 0.8;
  width: 14px;
  height: 14px;
  margin-left: 3px;
}

.subHistory-wrap .tableDash-string {
  border-top: 1px dashed #CCCCCC;
  padding: 14px 0;
}
.subHistory-wrap {
  display: block;
  margin-top: 25px;
}
.tableDash.indent{
  margin-top: 25px;
}

.modalStandart-wrap .checkbox {
  margin-bottom: 10px;
}
.greyText.indent{
  margin-top: 30px;
  margin-bottom: 25px;
}
.greyText.indentBottom{
  margin-bottom: 30px;
}
.row-wrap.bottom .sideTitle{
  margin-bottom: 10px;
}
span.price {
  font-size: 20px;
}
.row-wrap.indent{
  margin: 25px 0;
}

@media screen and (max-width: 980px) {
  .boxTds.tbs1 {
    width: 100% !important;
    margin-top: 0;
  }
  .boxTds {
    width: 33% !important;
    margin: 10px 0;
  }
  .boxTds.tbs5 {
    text-align: left;

    .icon {
      margin: 5px 15px 0;
      display: block;
    }
  }
  .tableDash.indent {
    margin-top: 20px;
  }
  .subHistory-wrap .tableDash .icon {
    margin: 5px 15px 0;
    display: block;
  }

  .tableDash-string {
    padding: 14px 0 4px;
  }
  .subHistory-wrap .tableDash-string {
    border-top: 1px dashed #CCCCCC;
    padding: 14px 0 4px;
  }
}

@media screen and (max-width: 640px) {
  .button {
    max-width: 100%;
  }
  .col-v5.col-m10.indentMob {
    margin-bottom: 20px;
  }
  .row-wrap.indent {
    margin: 15px 0;
  }
  .greyText.indent {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .modalStandart-wrap .button.min {
    max-width: 100%;
  }
  .button.shaded {
    margin-top: 20px;
  }
  .greyText.indentBottom {
    margin-bottom: 25px;
  }

}
