<style>
  .gosSlider-wrap li {
    display: inline-block;
    max-width: 150px;
    margin: 0 5px 5px 0px;
    vertical-align: middle;
    position: relative;
  }
  .gosSlider-wrap li:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
  }
  .gosSlider-wrap {
    margin: 10px;
    box-shadow: 1px 0px 15px -2px;
    padding: 10px 10px 0px 10px;
  }

</style>
<div class="step step-resumeIntership">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.intop'|translate}}</p>
    <div class="lampText">{{'resume.intopDesk'|translate}}</div>
    <div class="checkbox">
      <input id="{{rand}}" name="check" type="checkbox" (ngModelChange)="initOptions($event)" [(ngModel)]="cS.resume.internshipOptions.init">
      <label  for="{{rand}}"><span class="checkbox__box"></span>
        <p  class="checkbox__text">{{'resume.intop_havFin'|translate}}</p></label>
    </div>
  </div>
  <div *ngIf="!cS.resume.internshipOptions.init">
    <div class="createResume-block">
      <p class="sideSubTitle">{{'resume.intop_intint'|translate}}</p>
      <div class="createResume-formItem unpaid">

        <div class="checkbox" *ngFor="let type of dS.options.internshipType">
          <input
            id="{{type.id}}{{rand2}}"
            name="check"
            type="checkbox"
            [attr.checked]="cS.resume.internshipOptions.internshipType.indexOf(type.id)>-1 ? true : null"
            (change)="cS.optionsChange(type.id,cS.resume.internshipOptions.internshipType)"
          >
          <label for="{{type.id}}{{rand2}}"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{type.text|translate}}</p></label>
        </div>
      </div>
      <div class="createResume-formItem">
        <p class="textField">{{'options.occupationField'|translate}}</p>

        <div class=" w100">
          <app-multiple-select
            [typeOut]="0"
            [title]="'options.occupationField'|translate"
            [arrIn]="dS.options.occupationField"
            [valueId]="cS.resume.internshipOptions.occupationField"
            (arrOut)="cS.resume.internshipOptions.occupationField = $event"
          ></app-multiple-select>

        </div>
      </div>
      <div class="createResume-formItem possible">
        <p class="textField">{{'input.pospos'|translate}}</p>
        <div class="possible-item" *ngFor="let item of cS.resume.internshipOptions.possible_internship;let i = index">
          <input disabled class="input" name="School-location" type="text"  value="{{item}}">
          <span class="delete-icon "  (click)="delPossible_internship(i)">
                        <i class="material-icons action-icon">&#xE872;</i>
                        {{'btn.Delete'|translate}}
                    </span>

        </div>
        <div class="possible-item add">
          <input-search-autocomplete
            [result]="arrPosition"
            [value]="possible_internship"
            [title]="'input.pospos'|translate"
            (query)="getData($event,0)"
            (queryFull)="getData($event,1)"
          ></input-search-autocomplete>
          <!--<input class="input" name="School-location" type="text" [(ngModel)]="possible_internship">-->
          <button class="button shortBtn" (click)="addPossible_internship()">{{'btn.Add'|translate}}</button>
        </div>

      </div>


    </div>
    <div class="createResume-block">
      <p class="sideSubTitle">{{'Locations'|translate}}</p>
      <div class="checkbox mb">
        <input  id="{{rand3}}" name="check" type="checkbox" [value]="true" [(ngModel)]="cS.resume.internshipOptions.remote_work">
        <label  for="{{rand3}}"><span class="checkbox__box"></span>
          <p  class="checkbox__text">{{'resume.intop_iperrwo'|translate}}</p></label>


      </div>
      <div class="location" *ngIf="!cS.resume.internshipOptions.remote_work">
        <div class="location-item">
          <p class="textField" *ngIf="cS.resume.internshipOptions.locations.length">{{'Locations'|translate}}</p>
          <div class="location-item-wrap" *ngFor="let loc of cS.resume.internshipOptions.locations;let i = index">

            <input disabled type="text" class="input location-icon" value="{{loc.addr}}">
            <span class="delete-icon " (click)="deleteLocate(i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
          </div>


        </div>
        <div class="location-item add">
          <p class="textField">{{'Location'|translate}}</p>
          <div class="location-item-wrap">

            <address-select
              (Address)="Address=$event"
              [addr]="Address"
              (Location)="Location=$event"
              [locate]="Location"
              [types]="['(regions)']"
            ></address-select>
            <button class="button shortBtn" (click)="setLocate()">{{'btn.Add'|translate}}</button>
          </div>


        </div>
      </div>





    </div>
    <div class="createResume-block worktime">
      <p class="sideSubTitle">{{'resume.prefWT'|translate}}</p>
      <div class="createResume-formItem pref">
        <div class="checkbox" *ngFor="let time of dS.options.workTime">
          <input  id="{{ time.id }}{{rand4}}" name="check" type="checkbox"
                  [attr.checked]="cS.resume.internshipOptions.preferredWorkTime.indexOf(time.id)>-1 ? true : null"
                  (change)="cS.optionsChange(time.id,cS.resume.internshipOptions.preferredWorkTime)"
                 >
          <label  for="{{ time.id }}{{rand4}}"><span class="checkbox__box"></span>
            <p  class="checkbox__text">{{ time.text|translate }}</p></label>
        </div>
      </div>
    </div>
    <div class="createResume-block">
      <p class="sideSubTitle">{{'resume.prefPer'|translate}}</p>
      <div class="checkbox mb">
        <input  id="{{rand9}}" name="check" type="checkbox" (ngModelChange)="delPeriodPreferred($event)" [(ngModel)]="show_preferred">
        <label  for="{{rand9}}"><span class="checkbox__box"></span>
          <p  class="checkbox__text">{{'resume.prefPerInt'|translate}}</p></label>


      </div>
      <div class="period" *ngIf="show_preferred">
        <div class="period-item period-item-first ">

          <div class="radio">
            <input id="{{rand10}}" type="radio" name="period" (change)="delPeriodPreferred(true)" [(ngModel)]="cS.resume.internshipOptions.preferredPeriod.type" [value]="0">
            <label for="{{rand10}}"><span></span>
              <p class="radio__text">{{'resume.prefPerDat'|translate}}</label>


          </div>
          <div class="period-date"  *ngIf="cS.resume.internshipOptions.preferredPeriod.type==0">
            <div class="date-item">
              <p class="textField">{{'From'|translate}}</p>
              <div class="datepicker">

                <my-date-picker
                  [selDate]="preferredPeriod_start"
                  name="mydate"
                  [options]="myDatePickerOptions"
                  (dateChanged)="cS.resume.internshipOptions.preferredPeriod.start = $event.epoc"
                                  required></my-date-picker>
              </div>

            </div>
            <div class="date-item">
              <p class="textField">{{'To'|translate}}</p>
              <div class="datepicker pr">
                <my-date-picker
                  [selDate]="preferredPeriod_end"
                  name="mydate" [options]="myDatePickerOptions"
                  (dateChanged)="cS.resume.internshipOptions.preferredPeriod.end = $event.epoc"
                                  required></my-date-picker>
              </div>
            </div>
          </div>



        </div>
        <div class="period-item period-item-mid ">
          {{'or'|translate}}
        </div>
        <div class="period-item period-item-last">

          <div class="radio">

            <input id="uuu" type="radio" name="period" (change)="delPeriodPreferred(true)" [(ngModel)]="cS.resume.internshipOptions.preferredPeriod.type" [value]="1" >
            <label for="uuu"><span></span>
              <p class="radio__text">{{'resume.prefPerAvst'|translate}}</p></label>
          </div>
          <div class="period-date fs" *ngIf="cS.resume.internshipOptions.preferredPeriod.type==1">
            <div class="period-date-item">
              <p class="textField">{{'resume.AvtoSt'|translate}}</p>
              <div class="">
                <app-unity-select
                  [valueId]="cS.resume.internshipOptions.preferredPeriod.startWork"
                  [arrIn]="dS.options.preferredPeriod"
                  [title]="'resume.AvtoSt'|translate"
                  (arrOut)="cS.resume.internshipOptions.preferredPeriod.startWork = $event.id"
                ></app-unity-select>
              </div>
            </div>

            <div class="period-date-item">
              <p class="textField">{{'resume.Amofpr'|translate}}</p>
              <input class="input" id="" name="School-location" placeholder="00" type="number" [(ngModel)]="cS.resume.internshipOptions.preferredPeriod.hour">
              <span>{{'hours'|translate}}</span>
            </div>


          </div>


        </div>
      </div>
    </div>
    <div class="createResume-block">
      <p class="sideSubTitle">{{'resume.schOp'|translate}}</p>
      <div class="createResume-formItem scholar">
        <div class="scholar-check">
          <div class="checkbox">
            <input id="{{rand12}}" name="check" type="checkbox" value="Currently_studying"
                   [(ngModel)]="cS.resume.internshipOptions.scholarshipOpt.returnWork">
            <label for="{{rand12}}"><span class="checkbox__box"></span>
              <p class="checkbox__text">{{'resume.Irmw'|translate}}</p></label>


          </div>
          <div class="checkbox">
            <input id="{{rand13}}" name="check" type="checkbox" value="Currently_studying"
                   [(ngModel)]="cS.resume.internshipOptions.scholarshipOpt.returnComWork">
            <label for="{{rand13}}"><span class="checkbox__box"></span>
              <p class="checkbox__text">{{'resume.IrmCw'|translate}}</p></label>


          </div>
          <div class="checkbox">
            <input id="{{rand14}}" name="check" type="checkbox" value="Currently_studying"
                   [(ngModel)]="cS.resume.internshipOptions.scholarshipOpt.anyKind">
            <label for="{{rand14}}"><span class="checkbox__box"></span>
              <p class="checkbox__text">{{'resume.anykind'|translate}}</p></label>


          </div>
        </div>
        <div class="scholar-time">


          <p class="textField">{{'resume.sizeofint'|translate}}</p>

          <input class="input"
                 id="Size"
                 name="School-location"

                 type="number"

                 [(ngModel)]="cS.resume.internshipOptions.scholarshipOpt.Size"
          >
          <span>{{'€/month'|translate}} </span>

        </div>


      </div>
    </div>
    <div class="createResume-block">
      <p class="textField">{{'resume.addInfo'|translate}}</p>
      <textarea  [maxLength]="2000" class="textarea"  [(ngModel)]="cS.resume.internshipOptions.additonalInformation"></textarea>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/additional']">{{'resume.addInfo'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>

<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/additional']">{{'resume.addInfo'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
