
<div class="dialogNotes">
<div class="dialogNotes-item" *ngFor="let notes of notesFromResume">
  <div class="dialogNotes-h">
    <p class="textField">{{uS.getUserName(notes.uid,0)}}</p>
    <p class="dateText">{{ dS.dateConvert(notes.updated_at) | date: 'dd.MM.yyyy HH:mm'}}</p>
    <a class="blueLink" (click)="editNote(notes)" *ngIf="!uS.first_profile._id&&notes.uid==uS.profile._id">{{'Edit_note'|translate}} </a>
    <a class="blueLink" (click)="editNote(notes)" *ngIf="uS.first_profile._id&&notes.uid==uS.first_profile._id">{{'Edit_note'|translate}}</a>

    <rating-star
      [select]="false"
      [ratingValue]="notes.rating"
      [dieStar]="false"

    ></rating-star>

  </div>
  <p class="text">{{notes.text}}</p>
</div>
</div>
<div class="notes-vb-f" *ngIf="addNewNotes">
  <textarea placeholder="Write your note…" class="textarea" [(ngModel)]="notesText"></textarea>
  <div class="row-wrap">
    <div class="col-v6 col-p10" >
      <p class="text">{{'Add_rating'|translate}}: </p>
      <rating-star
        [ratingValue]="notesRating"
        [select]="true"
        [starResult]="false"
        [dieStar]="false"
        (selectVal)="notesRating = $event"></rating-star>
    </div>
    <div class="col-v4 col-p10 right">
      <button class="button shaded min" (click)="sendNotes(resume)">{{'btn.Save'|translate}}</button>
    </div>
  </div>
</div>
