<div class="column">
  <div class="boxList ">
    <a class="sideTitle" [routerLink]="['/messages']">{{ 'left_menu.Messages' | translate }}<span class="mesengerUsb"
                                                                                                  *ngIf="mS.countNew>0">{{mS.countNew}}</span>
    </a>
  </div>
  <!--<div class="boxList">-->
    <!--<p class="sideTitle"  (click)="popS.initPops()">{{"sidebarInformation.Notifications" | translate}}<span class="mesengerUsb act">{{popS.pops.length}}</span></p>-->
  <!--</div>-->
  <div class="boxList boxList-accord">
    <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'left_menu.Account' | translate }}</p>

    <ul class="list__ul">
      <li class="list__li"><a [routerLink]="['/account/userdata']" class="list__link"
                              [routerLinkActive]="['is-active']">{{ 'left_menu.User_Data' | translate }} <i
        class="ic_warning_red icon icon" *ngIf="user.GetPrsUserdataComplete() < 100"></i></a>
      </li>
      <li class="list__li" *ngIf="!user.profile.smartId"><a class="list__link" [routerLink]="['/account/verify']" [routerLinkActive]="['is-active']">{{
        'left_menu.Account_Verify' | translate }}
        <i class='icon ic_warning_red' *ngIf="!user.profile.smartId"></i>
        <i class='icon ic_verified_user_birch' *ngIf="user.profile.smartId"></i>
      </a>
      </li>
      <!--<li class="list__li"><a class="list__link">{{ 'sidebarInformation.Subaccounts' | translate}}</a></li>-->
      <li class="list__li"><a [routerLink]="['/account/settings']" class="list__link"
                              [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Account_Settings' | translate
        }} </a></li>

    </ul>
  </div>



  <!--<div class="boxList boxList-accord">-->
  <!--<div class="sideTitle ptr" (click)="toggleAccordion($event)">Организация-->
  <!--<div class="min round-u grey p3 ">-->
  <!--<p class="round-u__number">30%</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<ul class="list__ul">-->
  <!--<li class="list__li"><a class="list__link">Профиль Организация </a></li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="boxList active boxList-accord">
    <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'left_menu.Tools' | translate }}</p>
    <ul class="list__ul">
      <li class="list__li"><a class="list__link" [routerLink]="['/educator-recommendations']"
                              [routerLinkActive]="['is-active']">{{'resume.recomm'|translate}}</a></li>
      <li class="list__li"><a class="list__link" [routerLink]="['/educator-make-recommendation']"
                              [routerLinkActive]="['is-active']">{{'account.innewrec'|translate}}</a></li>
      <!--<li class="list__li"><a class="list__link" [routerLinkActive]="['is-active']">Статистика вашей школы</a></li>-->
      <!--<li class="list__li">-->
        <!--<a [routerLink]="['/FAQ-and-tips']" class="list__link" [routerLinkActive]="['is-active']">{{-->
          <!--'left_menu.FAQ_and_tips' | translate }}</a>-->
      <!--</li>-->

      <!--<a [routerLink]="['/educator-recommendations']" class="list__link" [routerLinkActive]="['is-active']">educator-recommendations</a>-->
      <!--</li>-->
      <!--<li class="list__li"><a class="list__link"></a>-->
      <!--<a [routerLink]="['/educator-make-recommendation']" class="list__link" [routerLinkActive]="['is-active']">educator-make-recommendation</a>-->
      <!--</li>-->
      <!--<li class="list__li"><a class="list__link"></a>-->
      <!--<a [routerLink]="['/organization-profile']" class="list__link" [routerLinkActive]="['is-active']">Organization profile</a>-->
      <!--</li>-->
      <!--<li class="list__li"><a class="list__link"></a>-->
      <!--<a [routerLink]="['/verify-account']" class="list__link" [routerLinkActive]="['is-active']">verify-account</a>-->
      <!--</li>-->
      <!--<li class="list__li">-->
      <!--<a [routerLink]="['//organization-statistics.component']" class="list__link" [routerLinkActive]="['is-active']">/organization-statistics.component</a>-->
      <!--</li>-->
      <!--<li class="list__li">-->
      <!--<a [routerLink]="['/educators-list.component']" class="list__link" [routerLinkActive]="['is-active']">/educators-list.component</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>
