<style>
  div{
    vertical-align: top;
    position:relative;

  }
  .hide{
    display: none;
  }
  .active{
    display: block;
  }
  .tables td{
    text-align: center;
  }
  table {

    border-collapse: collapse;
  }

  tr:nth-child(odd) { background-color: rgba(55, 244, 249, 0.27); }
  tr:nth-child(even) { background-color: rgba(104, 223, 249, 0.38); }

</style>
<table width="100%" *ngIf="tS.transl['RU']&&tS.transl['EN']&&tS.transl['ET']">
  <tr *ngFor="let key of obKeys(tS.transl.EN)" style="border: 1px solid rgba(55, 244, 249, 0.27)">
    <td style="width: 40px;vertical-align: top;" >
      <div *ngIf="tS.transl.EN[key]!='[object Object]'">{{key}} <button (click)="setKey(key)">edit</button></div>
      <div *ngIf="tS.transl.EN[key]=='[object Object]'">
        <div *ngFor="let key2 of obKeys(tS.transl.EN[key])"> -- {{key}}.{{key2}} <button (click)="setKey(key+'.'+key2)">edit</button></div>
        <div *ngIf="tS.transl.EN[key][key2]=='[object Object]'">
          <div *ngFor="let key3 of obKeys(tS.transl.EN[key][key2])"> ---- {{key}}.{{key2}}.{{key3}} <button (click)="setKey(key+'.'+key2+'.'+key3)">edit</button></div>

        </div>
      </div>



    </td>
    <td style="vertical-align: top" >
      <app-translate-edit-show
        *ngIf="ifKey(key)"
        [key]="tS.activeEdit"
        [obKey]="key"
      >
      </app-translate-edit-show>


    </td>

  </tr>
</table>
