.lds-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: progress;
  background: rgba(0, 165, 204, 0.46);
  z-index: 999;
}

.lds-wrap{
  width: 60px;
  height: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 1000;
}

.lds-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.lds-btn div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-btn 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-btn div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-btn div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-btn div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-btn {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
