<div class="savePopup" [ngClass]="{'active':show}" (clickOutside)="closePopup()" >
  <div class="savePopup-wrap">
  <i (click)="closePopup()" class="icon cancel-black"></i>

  <div class="savePopup-c">
    <p class="sideTitle">{{'Save_this_search'|translate}}</p>

    <div class="row-wrap indentBt">
      <p class="textField dark">{{'popup.Name_this_search'|translate}}</p>
      <input class="input border" (change)="checkName()" [ngClass]="{'error': errorName}" [(ngModel)]="options.name" type="text">
    </div>



    <div class="row-wrap indentBt" *ngIf="type=='resume'">
      <p>{{'popup.Save_search_to_existing_project'|translate}}:</p>
      <p class="textField dark">{{'popup.Your_projects'|translate}}</p>
      <app-unity-select
              [title]="''"
              [arrIn]="projects"
              [arrVal]="curProject"
              [change]="change"
              [changeName]="'project'"
              [valueId]="projectId"
              (arrOut)="uS.accessPackage.projBmark ? options.project = $event.value : popUp.show_info(this.dataService.getOptionsFromId('errors',10).text)"
      ></app-unity-select>
    </div>
    <div class="row-wrap indentBt" *ngIf="type=='resume' && uS.accessPackage.projBmark">
      <p>{{'popup.Or_create_new_project'|translate}}:</p>
      <p class="textField dark">{{'popup.Enter_new_project_name'|translate}}</p>
      <input class="input border" [(ngModel)]="newProject.name" type="text">
    </div>


  </div>
  <div class="savePopup-f">
    <div class="row-wrap">
      <div class="col-v5">
        <div class="checkbox">
          <input id="type31"
                 type="checkbox"
                 [(ngModel)]="options.alertEmail"
                 name="check"
          >

          <label for="type31"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{'popup.Activate_email_alerts'|translate}}</p></label>
        </div>
      </div>
      <div class="col-v5">
        <p class="textField dark">{{'popup.Frequency'|translate}}</p>
        <app-unity-select
                [title]="'popup.Frequency'|translate"
                [arrVal]="period"
                [valueId]="options.period||0"
                (arrOut)="options.period = $event.id"
                [arrIn]="dataService.options.period"
                [valueId]="1"
        ></app-unity-select>
      </div>
      <button (click)="save()" class="button min shaded">{{'Save_search'|translate}}</button>
    </div>
  </div>
  </div>
</div>
