<div class="title-wrap">
  <p class="title">{{'vacancy.newcreate'|translate}}</p>
</div>
<div class="boxSide">
  <create-step-1 *ngIf="cS.pay"></create-step-1>
  <div class="stepBox">
    <div class="createJob">
      <div class="roundNumber-wrap">
        <p class="roundNumber">{{cS.pay?2:1}}</p>
        <p class="sideTitle forDesc">
          {{'vacancy.create.tit_1'|translate}}
        </p>
        <p class="sideTitle forMobile">
          {{'vacancy.create.tit_1_m'|translate}}
        </p>
      </div>
      <div class="lampText min forDesc">
        {{'vacancy.create.desc_1'|translate}}
      </div>
      <div class="lampText min forMobile">
        {{'vacancy.create.desc_1_m'|translate}}
      </div>
      <div class=" selectionBtn">
        <button [routerLink]="cS._id?['/vacancy/create/'+cS._id+'/manual']:['/vacancy/create/manual']" class="button shaded  mobileNone">{{"btn.CreateManually" | translate}}</button>
        <button [routerLink]="cS._id?['/vacancy/create/'+cS._id+'/upload']:['/vacancy/create/upload']" class="button">{{"UploadFile" | translate}}</button>

      </div>
    </div>
  </div>
</div>



