<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent submit-applications-page">
    <div class="title-wrap ">
        <div class="title">{{'left_menu.Submitted_applications'|translate}}</div>
    </div>

    <div class="cardVacant-wrap">
      <app-vacancy-card
        *ngFor="let item of vacancy | paginate: { itemsPerPage: 8, currentPage: p }; let i = index;"
        [vacancy]="item"
        [exp_deadline]="true"
        [exp_published_at]="true"
        [exp_submitedResume]="true"
        [exp_coverLetter]="true"
        [exp_appliedtovacancy]="true"
        [exp_address]="true"
        [exp_totalsubs]="true"

        [class]="'submitLine'"
      >
      </app-vacancy-card>
        <!--<app-vacancy-card-->
          <!--*ngFor="let item of vacancy | paginate: { itemsPerPage: 8, currentPage: p };"-->
          <!--[vacancy]="item">-->

            <!--<div class="vacantBox-left">-->
                <!--<div class="topLine-vb">-->
                    <!--<p class="title" style="cursor: pointer" [routerLink]="['/vacancy/details/',item._id]">{{item.positionTitle}}-->
                        <!--<span class="vacantBox__address" *ngIf="item.address">-->
                          <!--<i class="material-icons"></i>{{item.address}}-->
                        <!--</span>-->
                    <!--</p>-->
                  <!--<p class="vacantBox__price" *ngIf="item.salary&&!item.salary.hide">-->
                    <!--{{item.salary&&!item.salary.hide&&item.salary.summ&&!item.salary.summ2?item.salary.summ+'&euro;':null}}-->
                    <!--{{item.salary&&!item.salary.hide&&item.salary.summ&&item.salary.summ2?item.salary.summ+' - '+item.salary.summ2+'&euro;':null}}-->
                    <!--<span *ngIf="item.salary&&item.salary.type&&!item.salary.hide">/{{dS.options.salary[item.salary.type].text|translate}}</span>-->

                  <!--</p>-->
                <!--</div>-->
                <!--<div class="parameterVb">-->
                    <!--<p class="vacantBox__text">{{'options.occupationField'|translate}}: <span class="vacantBox__boldText">{{dS.getOptionsFromId('occupationField',item.occupationField).text|translate}}</span></p>-->
                    <!--<p class="vacantBox__text">{{'vacancy.Type'|translate}}: <span class="vacantBox__boldText">{{dS.getOptionsFromId('vacancyType',item.type).text|translate}}</span></p>-->
                  <!--<p class="vacantBox__text" *ngIf="item.Worktime">{{'vacancy.Work_time'|translate}}:-->
                    <!--<span class="vacantBox__boldText" *ngFor="let work of item.Worktime"><i-->
                      <!--class="icon" [ngClass]="helpers.workTimeIcon(work)"></i>{{dS.getOptionsFromId('workTime',work).text|translate}}</span>-->
                  <!--</p>-->
                <!--</div>-->
            <!--</div>-->
          <!--<search-user-->
            <!--[type]="'company'"-->
            <!--[users]="[]"-->
            <!--[uid]="item.uid"-->
          <!--&gt;</search-user>-->
            <!--<div class="bottomLine-vb">-->
                <!--<div class="vbt-wrap">-->

                    <!--<i class='material-icons  indent' *ngIf="item.deadLine" [ngClass]="{'red':dS.options.server_time>(item.deadLine+86400*10)}">&#xE01B;</i>-->
                    <!--<div class="vacantBox__text">-->

                        <!--<span *ngIf="item.deadLine">{{'Deadline'|translate}}: {{dS.dateConvert(item.deadLine)|date:"dd.MM.yyyy"}}</span>-->
                        <!--<span class="grey">{{'Posted'|translate}}: {{dS.dateConvert(item.updated_at)||dS.dateConvert(item.created_at)|date:"dd.MM.yyyy"}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="vbt-wrap">-->
                    <!--<div class="vacantBox__text">-->
                        <!--{{'Applied'|translate}}: {{dS.dateConvert(this.uS.profile.subscribeVacancy[this.uS.profile.subscribeVacancy.indexObject('vacancyId',item._id)].created_at)|date:"dd.MM.yyyy"-->
                      <!--}}-->
                        <!--<span class="dark" *ngIf="subscribeCount[i]">{{'totApp'|translate}}: {{subscribeCount[i].count}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="vbt-wrap">-->
                    <!--<div class="vacantBox__text block">-->
                        <!--{{'cvaATT'|translate}}:-->
                        <!--<div class="blueLink" [routerLink]="['/resume/details/',getResumeId(item._id)]">{{getResumeName(item._id)}}</div>-->
                    <!--</div>-->

                    <!--<div class="vacantBox__text block" *ngIf="getCoverLetter(item._id)!=''">-->
                      <!--{{'covLeTAtt'|translate}}:-->
                        <!--<div class="blueLink" (click)="coverModal = getCoverLetter(item._id);coverModalVac = item._id;">{{getCoverLetter(item._id).title}}</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


          <!--<div class="letterModal  active" *ngIf="coverModal&&coverModalVac==item._id" >&lt;!&ndash; active &ndash;&gt;-->
            <!--<i class='icon cancel-black' (click)="coverModal=null;coverModalVac=null"></i>-->
            <!--<div class="letterModal-wrap">-->
              <!--<img *ngIf="coverModal.language" alt="" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',coverModal.language).value}}.png">-->
              <!--<p class="sideTitle">{{coverModal.title}}</p>-->
              <!--<p *ngIf="coverModal.updated_at" class="minText">{{'Last_edited'|translate}}: <span>{{dS.dateConvert(coverModal.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}</span></p>-->
            <!--</div>-->
            <!--<p class="letterModal__text">-->
              <!--{{content}}-->

            <!--</p>-->
          <!--</div>-->
        <!--</app-vacancy-card>-->

    </div>
  <pagination-controls
    directionLinks="true"
    autoHide="true"
    previousLabel="{{'previousLabel'|translate}}"
    nextLabel="{{'nextLabel'|translate}}"
    *ngIf="vacancy.length>10" (pageChange)="p = $event"></pagination-controls>
</div>
