.vbt-wrap {
  display: inline-block;
  vertical-align: top;
}


.bottomLine-vb .vacantBox__text span {
  display: block;
}

.bottomLine-vb .vacantBox__text {
  vertical-align: top;
  margin: 0;
}


.bottomLine-vb .blueLink {
  display: inline-block;
  font-weight: normal;
}

.vacantBox__text.block {
  display: block;
}

.bottomLine-vb .vacantBox__text span {
  font-size: 14px;
  //line-height: 16px;
  //margin-bottom: 10px;
  line-height: 24px;
}

.vbt-wrap {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.vacantBox:hover{
  padding: 32px 32px 2px;
  border: 1px solid #D3D3D3;
  cursor: auto;
}



@media screen and (max-width: 980px) {

  .bottomLine-vb .vacantBox__text span {
    font-size: 13px;
  }
  .bottomLine-vb .blueLink {
    font-size: 12px;
  }
  .vbt-wrap {
    margin-right: 15px;
  }
}
@media screen and (max-width: 980px) {
  .vbt-wrap {
    margin-right: 0;
    width: 50%;
    padding-right: 20px;

    &:last-child{
      width: 100%;
    }
  }
}
@media screen and (max-width: 640px) {

  .vacantBox:first-child{
    margin-top: 0;
  }

  .vacantBox-right{
    position: relative;
    padding: 0 0 15px;
  }
  .vacantBox-right:before {
    content: '';
    position: absolute;
    width: calc(100% + 44px);
    height: 1px;
    display: block;
    top: 0;
    left: -22px;
    background: #e5e5e5;
  }
  .vacantBox-right:after {
    content: '';
    position: absolute;
    width: calc(100% + 44px);
    height: 1px;
    display: block;
    bottom: 0;
    left: -22px;
    background: #e5e5e5;
  }
  .btnTabs__text {
    display: block;
  }
  .rating-wrap {
    margin: 0;
  }
  .star-wrap {
    float: right;
  }
  .rating-wrap .vacantBox__boldText {
    width: calc(100% - 90px);
    display: inline-block;
  }

  .vbt-wrap {
    padding-right: 0;
    display: block;
    width: 100%;
  }




  .vacantBox-wrap {
    padding-right: 0;
  }


}
