<header [class.fixed]="navIsFixed" id="header">
  <div class="header-wrap" id="header-wrap">
    <!-- topLine-h -->
    <div class="topLine-h registered">
      <div class="row">
        <div class="column">
          <div class="logoWrapper-h">
            <a href="/" class="absLink"></a>
            <div *ngIf="!help.ie" class="logo-h svg-logo"></div>
            <div *ngIf="help.ie" class="logo-h" [inlineSVG]="'/assets/img/logo.svg'"></div>
            <div class="logoText-h">
              talents<span>.fund</span>

            </div>
            <!--<button (click)="functionalert()">Нажми на меня</button>-->
          </div>
          <div class="menuLeft-h mobileNone">
            <!--<div class="topMenu-h">-->

            <!--<a [routerLink]="['/search-for-vacancies']" class="topMenu__link-h " id="studentsLink"-->
            <!--[ngClass]="{'active': studentsLink }" (click)="studentsLink=!studentsLink">Search-->
            <!--vacancies</a>-->
            <!--<a [routerLink]="['/account']" class="topMenu__link-h" id="employersLink"-->
            <!--[ngClass]="{'active': employersLink }" (click)="employersLink=!employersLink">My Profile</a>-->
            <!--<a [routerLink]="['/FAQ_Tips']" class="topMenu__link-h" id="educatorsLink" [ngClass]="{'active': educatorsLink }"-->
            <!--(click)="educatorsLink=!educatorsLink">FAQ &amp; Tips</a>-->
            <!--<a [routerLink]="['/News']" class="topMenu__link-h" id="aboutLink" [ngClass]="{'active': aboutLink }"-->
            <!--(click)="aboutLink=!aboutLink">News1</a>-->

            <!--</div>-->
            <div class="topMenu-h">
              <a *ngIf="user.type=='Student'"
                 [ngClass]="{'active': route=='/vacancy/search'}"
                 (click)="customRoute('/vacancy/search')"
                 class="topMenu__link-h "
                 id="studentsLink">{{'top_menu.Search_vacancies'| translate}}</a>
              <a *ngIf="user.type=='Company'"
                 [ngClass]="{'active': route=='/resume/search'}"
                 (click)="customRoute('/resume/search')"
                 class="topMenu__link-h "
                 id="companyLink">{{'top_menu.Search_candidates'| translate}}</a>
              <a
                (click)="customRoute('/account')"
                [ngClass]="{'active': route=='/account'}"
                class="topMenu__link-h"
                id="employersLink">{{'top_menu.My_Profile'|
                translate}}</a>
              <!--<a-->
              <!--href="//talents.fund/faq"-->
              <!--target="_blank"-->
              <!--class="topMenu__link-h"-->
              <!--id="educatorsLink">{{'top_menu.FAQ_and_Tips'|-->
              <!--translate}}</a>-->
              <a
                href="//talents.fund/news"
                target="_blank"
                class="topMenu__link-h"
                id="aboutLink">{{'top_menu.News'|
                translate}}</a>


            </div>
          </div>
          <div class="menuRight-h" style="column:2">

            <div class="user-h">
              <p *ngIf="user.type!='Company'">{{user.profile.first_name}} {{this.user.profile.last_name}}</p>
              <p *ngIf="user.type=='Company'">{{user.profile.Company.nameCompany}}</p>
              <div class="round-u-wrap">
                <div class="openMl" style="cursor: pointer" (click)="userModalActive=!userModalActive; mobileMenu=false"
                     id="userModalLink"></div>
                <app-progress-account
                  [prc]="getPrc()"
                  [photo]="user.profile.photo"
                  [point]="popS.pops.length"
                  [red]="true"
                >
                </app-progress-account>


                <div class="userModal fadeIn animated" [ngClass]="{'active': userModalActive } "
                     [exclude]="'#userModalLink,#hamburger' " (clickOutside)="userModalActive = false">

                  <div class="userModal-scrol">
                    <div class="userLine">
                      <div class="userLine-left">
                        <p class="userModal__title">{{user.profile.first_name}}
                          {{user.profile.last_name}}</p>
                        <span class="userModal__sub">{{user.profile.type_profile | translate}}</span>
                      </div>
                      <p style="display: none">
                        {{"Student"|translate}}
                        {{"Company"|translate}}
                        {{"Organization"|translate}}
                        {{"Admin"|translate}}
                      </p>
                      <div class="userLine-right">
                        <i class="material-icons">&#xE879;</i>
                        <a class="userModal__out" (click)="authenticationService.logout()">{{"log_out" | translate}}</a>
                      </div>
                    </div>


                    <div class="userModal-box">

                      <sidebar-link *ngIf="userModalActive" [componentData]="component.componentSidebarLink"
                                    class="sidebar"></sidebar-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="optCountry mobileNone">
              <!--<div class="optCountry-item mobileNone">-->
                <!--<a class="optCountry__link" (click)="selectCountry=!selectCountry" id="selectCountry">-->
                  <!--<img class="flag" onload="window['loadPhoto'](this)"-->
                       <!--src="/assets/img/flag/{{dataService.getOptionsFromId('languages',user.profile.currentCountry).value}}.png"-->
                       <!--alt="">-->
                  <!--<span class="opt-arrow"></span>-->
                <!--</a>-->
                <!--<div class="optMenu" [ngClass]="{'active': selectCountry }" [exclude]="'#selectCountry'"-->
                     <!--(clickOutside)="selectCountry=false">-->
                  <!--<svg class="triangle" viewBox="0 0 200 200">-->
                    <!--<defs>-->
                      <!--<filter id="dropshadow">-->
                        <!--<feGaussianBlur class="tri-blur" in="SourceAlpha"-->
                                        <!--stdDeviation="22"></feGaussianBlur>-->
                        <!--<feOffset class="tri-dist" dx="-3" dy="-3"-->
                                  <!--result="offsetblur"></feOffset>-->
                        <!--<feMerge>-->
                          <!--<feMergeNode></feMergeNode>-->
                          <!--<feMergeNode in="SourceGraphic"></feMergeNode>-->
                        <!--</feMerge>-->
                      <!--</filter>-->
                    <!--</defs>-->
                    <!--<path d="M100,0 200,200 0,200" fill="#fff" filter="url(#dropshadow)"></path>-->
                  <!--</svg>-->
                  <!--<div class="optMenu-wrap">-->
                    <!--<a *ngFor="let country of dataService.options.countries" (click)="setCountry(country)">-->
                      <!--<img class="flag" onload="window['loadPhoto'](this)"-->
                           <!--src="/assets/img/flag/{{dataService.getOptionsFromId('languages', country.id).value}}.png"-->
                           <!--alt="">-->
                      <!--<span class="optaCountry__text">{{country.text|translate}} </span>-->
                    <!--</a>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->


              <div class="optCountry-item">
                <a class="optCountry__link" (click)="selectLang=!selectLang" id="selectLang">
                  <i class="icon language-black"></i>
                  <span class="optCountry__full">{{dataService.getOptionsFromId('translater', user.profile.currentLang).text}}<span class="opt-arrow"></span></span>
                  <span class="optCountry__short ">{{dataService.getOptionsFromId('translater', user.profile.currentLang).text}} <span class="opt-arrow"></span></span>
                </a>

                <div class="optMenu" [ngClass]="{'active': selectLang }" [exclude]="'#selectLang'"
                     (clickOutside)="selectLang=false">
                  <svg class="triangle" viewBox="0 0 200 200">
                    <defs>
                      <filter id="dropshadow">
                        <feGaussianBlur class="tri-blur" in="SourceAlpha"
                                        stdDeviation="22"></feGaussianBlur>
                        <feOffset class="tri-dist" dx="-3" dy="-3"
                                  result="offsetblur"></feOffset>
                        <feMerge>
                          <feMergeNode></feMergeNode>
                          <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                      </filter>
                    </defs>
                    <path d="M100,0 200,200 0,200" fill="#fff" filter="url(#dropshadow)"></path>
                  </svg>
                  <div class="optMenu-wrap">
                    <a *ngFor="let lang of dataService.options.translater" (click)="setLang(lang)">
                      <span class="optCountry__text">{{lang.text}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hamburger-wrap desNone">
            <div class="hamburger hamburger--collapse"
                 (click)="mobileMenu=!mobileMenu; userModalActive = false;  shadowBody()"
                 [ngClass]="{'is-active': mobileMenu }" id="hamburger">
              <!-- hamburger добавить класс  is-active -->
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobileMenu" [ngClass]="{'animated': mobileMenu }" (clickOutside)="mobileMenu = false; shadowBody()"
         [exclude]="'#hamburger'"><!-- active -->
      <div class="menuLeft-h ">
        <div class="topMenu-h">

          <div class="topMenu__link-h " *ngIf="user.type=='Student'">
            <p id="studentLinkM"
               [routerLink]="['/vacancy/search']"
               (click)="mobileMenu = false; shadowBody()"
            >
              {{'top_menu.Search_vacancies'| translate}}
            </p>
          </div>
          <div class="topMenu__link-h " *ngIf="user.type=='Company'">
            <p id="companyLinkM"
               (click)="mobileMenu = false; shadowBody()"
               [routerLink]="['/resume/search']"
            >
              {{'top_menu.Search_candidates'| translate}}
            </p>
          </div>


          <div class="topMenu__link-h">
            <p id="employersLinkM"
               [routerLink]="['/account']"
               (click)="mobileMenu = false; shadowBody()"
            >
              {{'top_menu.My_Profile'| translate}}
            </p>
          </div>

          <!--<div class="topMenu__link-h">-->
          <!--<p id="educatorsLinkM"-->
          <!--[routerLink]="['/FAQ-and-tips']"-->
          <!--(click)="mobileMenu = false; shadowBody()"-->
          <!--&gt;-->
          <!--{{'top_menu.FAQ_and_Tips'| translate}}-->
          <!--</p>-->

          <!--</div>-->

          <div class="topMenu__link-h">
            <a id="aboutLinkM"
               href="//talents.fund/news"
               target="_blank"
               (click)="mobileMenu = false; shadowBody()"
            >
              {{'top_menu.News'| translate}}
            </a>

          </div>

        </div>
        <div class="optCountry">
          <!--<div class="optCountry-item">-->
            <!--<a class="optCountry__link" (click)="selectCountryM=!selectCountryM" id="selectCountryM">-->
              <!--<img class="flag" onload="window['loadPhoto'](this)"-->
                   <!--src="/assets/img/flag/{{dataService.getOptionsFromId('languages',user.profile.currentCountry).value}}.png"-->
                   <!--alt="">-->
              <!--<span class="optCountry__full">{{ 'country.2' | translate}}<span class="opt-arrow"></span></span>-->

            <!--</a>-->
            <!--<div class="optMenu" [ngClass]="{'active': selectCountryM }" [exclude]="'#selectCountryM'"-->
                 <!--(clickOutside)="selectCountryM=false">-->
              <!--<svg class="triangle" viewBox="0 0 200 200">-->
                <!--<defs>-->
                  <!--<filter id="dropshadow">-->
                    <!--<feGaussianBlur class="tri-blur" in="SourceAlpha"-->
                                    <!--stdDeviation="22"></feGaussianBlur>-->
                    <!--<feOffset class="tri-dist" dx="-3" dy="-3" result="offsetblur"></feOffset>-->
                    <!--<feMerge>-->
                      <!--<feMergeNode></feMergeNode>-->
                      <!--<feMergeNode in="SourceGraphic"></feMergeNode>-->
                    <!--</feMerge>-->
                  <!--</filter>-->
                <!--</defs>-->
                <!--<path d="M100,0 200,200 0,200" fill="#fff" filter="url(#dropshadow)"></path>-->
              <!--</svg>-->
              <!--<div class="optMenu-wrap">-->
                <!--<a *ngFor="let country of dataService.options.countries" (click)="setCountry(country); selectCountryM=!selectCountryM">-->
                  <!--<img class="flag" onload="window['loadPhoto'](this)" src="/assets/img/flag/{{country.value}}.png" alt="">-->
                  <!--<span class="optCountry__text">{{country.text|translate}} </span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="optCountry-item">
            <a class="optCountry__link" (click)="selectLangM=!selectLangM" id="selectLangM">
              <i class="icon language-black"></i>
              <span class="optCountry__full">English<span
                class="opt-arrow"></span></span>
              <span class="optCountry__short ">English<span
                class="opt-arrow"></span></span>
            </a>

            <div class="optMenu" [ngClass]="{'active': selectLangM }" [exclude]="'#selectLangM'"
                 (clickOutside)="selectLangM=false">
              <svg class="triangle" viewBox="0 0 200 200">
                <defs>
                  <filter id="dropshadow">
                    <feGaussianBlur class="tri-blur" in="SourceAlpha"
                                    stdDeviation="22"></feGaussianBlur>
                    <feOffset class="tri-dist" dx="-3" dy="-3" result="offsetblur"></feOffset>
                    <feMerge>
                      <feMergeNode></feMergeNode>
                      <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                  </filter>
                </defs>
                <path d="M100,0 200,200 0,200" fill="#fff" filter="url(#dropshadow)"></path>
              </svg>
              <div class="optMenu-wrap">

                <a *ngFor="let lang of dataService.options.translater" (click)="setLang(lang); selectLangM=false; mobileMenu = false; shadowBody();">
                  <span class="optCountry__text">{{lang.text}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="hiddenMenu-h">
      <div class="row">
        <div class="column">

          <div class="boxHm">
            <p class="title">{{"StudentsJobSeekers" | translate}}</p>
            <div class="listHm">
              <ul class="listHm__ul">
                <li class="listHm__li"><p class="listHm__text" href="#">{{"BenefitsJoining" | translate}}</p></li>
                <li class="listHm__li"><p class="listHm__text" href="#">{{"RightStartCareer" | translate}}</p></li>
                <li class="listHm__li"><p class="listHm__text" href="#">{{"HowWorks" | translate}}</p></li>
              </ul>
              <ul class="listHm__ul">
                <li class="listHm__li"><p class="listHm__text" href="#">{{"BenefitsJoining" | translate}}</p></li>
                <li class="listHm__li"><p class="listHm__text" href="#">{{"RightStartCareer" | translate}}</p></li>
                <li class="listHm__li"><p class="listHm__text" href="#">{{"HowWorks" | translate}}</p></li>
              </ul>
            </div>
            <button class="button">{{"FindJob" | translate}}</button>
          </div>


        </div>
      </div>
      <img src="/assets/img/students.jpg" alt="" class="imgHm">
    </div>
    <div class="hiddenMenu-wrap-h">

      <div id="students-lk" class="hiddenMenu-h" [ngClass]="{'active': studentsLink }" [exclude]="'#studentsLink'"
           (clickOutside)="studentsLink = false">
        <div class="row">
          <div class="column">

            <div class="boxHm">
              <p class="title">{{"StudentsJobSeekers" | translate}}</p>
              <div class="listHm">
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"BenefitsJoining" | translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"RightStartCareer" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"HowWorks" | translate}}</p></li>
                </ul>
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"BenefitsJoining" | translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"RightStartCareer" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"HowWorks" | translate}}</p></li>
                </ul>
              </div>
              <button class="button">{{"FindJob" | translate}}</button>
            </div>


          </div>
        </div>
        <img src="/assets/img/students.jpg" alt="" class="imgHm">
      </div>

      <div id="employers-lk" class="hiddenMenu-h" [ngClass]="{'active': employersLink }"
           [exclude]="'#employersLink'"
           (clickOutside)="employersLink = false">
        <div class="row">
          <div class="column">

            <div class="boxHm">
              <p class="title">{{"StudentsJobSeekers" | translate}}</p>
              <div class="listHm">
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"BenefitsJoining" | translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"FindAttract" | translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"ContactHireYoungTalents" | translate}}</p>
                  </li>
                </ul>
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"ServicesPlans" | translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="#">{{"AboutInternshipPrograms" | translate}}</p>
                  </li>
                </ul>
              </div>
              <button class="button">{{"FindJob" | translate}}</button>
            </div>


          </div>
        </div>
        <img src="/assets/img/businessman.jpg" alt="" class="imgHm">
      </div>

      <div id="educators-lk" class="hiddenMenu-h" [ngClass]="{'active': educatorsLink }"
           [exclude]="'#educatorsLink'"
           (clickOutside)="educatorsLink = false">
        <div class="row">
          <div class="column">

            <div class="boxHm">
              <p class="title">{{"StudentsJobSeekers" | translate}}</p>
              <div class="listHm">
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/benefits-of-joining">{{"BenefitsJoining" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/use-of-your-preferences">{{"HowMakeReference" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/for-schools-and-universities">{{"StatsAboutYourStudents" | translate}}</p>
                  </li>
                </ul>
              </div>
              <button class="button">{{"FindJob" | translate}}</button>
            </div>


          </div>
        </div>
        <img src="/assets/img/teacher.jpg" alt="" class="imgHm">
      </div>

      <div id="about-lk" class="hiddenMenu-h" [ngClass]="{'active': aboutLink }" [exclude]="'#aboutLink'"
           (clickOutside)="aboutLink = false">
        <div class="row">
          <div class="column">

            <div class="boxHm">
              <p class="title">{{"StudentsJobSeekers" | translate}}</p>
              <div class="listHm">
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/about">{{"OurVision" |
                    translate}}</p></li>
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/news">{{"News" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/partner-with-us">{{"PartnerWithUs"
                    | translate}}</p></li>
                </ul>
                <ul class="listHm__ul">
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/right-start-of-career">
                    {{"CareersTalentsFund" | translate}}</p>
                  </li>
                  <li class="listHm__li"><p class="listHm__text" href="//talents.fund/contact-us">{{"ContactUs" |
                    translate}}</p></li>
                  <!--<li class="listHm__li"><p class="listHm__text" href="#">{{"FAQ" | translate}}</p></li>-->
                </ul>
              </div>
              <button class="button">{{"FindJob" | translate}}</button>
            </div>
          </div>
        </div>
        <img src="/assets/img/about.jpg" alt="" class="imgHm">
      </div>
      <img src="/assets/img/students.jpg" alt="" class="imgHm">

    </div>
    <!-- topLine-h -->
  </div>
</header>

