@import './src/import-scss/variables';
.sidebar{
  width: 100%;
  column-count: 2;
  @media (max-width: 640px) {
    column-count: 1;

  }

}







.hiddenMenu-h {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    max-height: 400px;
    display: block;
    opacity: 1;
  }
}

.optMenu {
  &.active {
    display: block;
  }
}



.topLine-h {
  padding: 8px 0;
  background-color: #fff;
  position: relative;
  transition: 0.2s;
}

.headerFixed {
  position: relative;
  z-index: 10;
  width: 100%;
  top: 0;
}

.desNone {
  display: none;
}

.headerFixed.scrol {
  position: fixed;
}

.menuRight-h {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 40%;
  //padding-right: 30px;
}

.menuLeft-h {
  display: inline-block;
  vertical-align: middle;
  width: calc(60% - 130px);
  transition: 0s;
}

.svg-logo{
  background-image: url("/assets/img/logo.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo-h {
  display: inline-block;
  vertical-align: middle;
  //background-image: url("/assets/img/logo.svg");
  //background-position: center;
  //background-size: 100%;
  width: 52px;
  height: 64px;
  //background-repeat: no-repeat;
  transition: 0s;
}

.topLine-h .column {
  letter-spacing: -5px;
}

.topLine-h .column * {
  letter-spacing: 0;
}

.logoText-h {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  transition: 0s;
}

.logoText-h span {
  display: block;
  font-weight: normal;
  transition: 0s;
  font-size: 21px;
  margin-left: -5px;
}

.logoWrapper-h, .topMenu__link-h, .topMenu-h, .loginBox-h, .optCountry {
  display: inline-block;
  vertical-align: middle;
}

.logoWrapper-h{
  position: relative;
}

.topMenu__link-h {
  font-size: 15px;
  line-height: 24px;
  margin-right: 4%;
  cursor: pointer;
  transition: 0.6s;
}

header .topMenu__link-h {
  transition: 0.6s;
}

.topMenu__link-h.active .hiddenMenu-h {
  display: block;
}

.topMenu__link-h:last-child {
  margin-right: 0;
}

.topMenu__link-h.active {
  color: #00C3F1;
}

.topMenu__link-h p.active {
  color: #00C3F1;
  background-color: #ffffff;
  padding-top: 20px;
}

.topMenu__link-h:hover,
.topMenu__link-h.active:hover {
  color: #0092B2;
}

//.opt-arrow {
//  background-image: url("/assets/img/selectTriangle.svg");
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: 150%;
//  width: 12px;
//  height: 12px;
//  display: inline-block;
//  vertical-align: middle;
//  margin-left: 3px;
//}
//.flag {
//  border: 1px solid #979797;
//  display: inline-block;
//  vertical-align: middle;
//  width: 24px;
//  height: 16px;
//  object-fit: cover;
//  margin-right: 5px;
//}
.optCountry-item {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.optCountry-item:last-child {
  margin-right: 0px;
}

.optCountry .optCountry__short {
  display: none;
}

.optCountry .optCountry__full {
  display: inline-block;
}

.registered .optCountry__short {
  display: inline-block;
  //text-transform: uppercase;
}

.registered .optCountry__full {
  display: none;

}

.registered .optMenu .triangle {
  right: 14%;
}

.optMenu {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  right: -10px;
  top: 52px;
  box-shadow: $shadow;
  display: none;
  text-align: left;

}

.optMenu-wrap {
  overflow-y: auto;
  padding: 30px 20px 30px 35px;
  width: 180px;
  height: auto;
  min-height: 45px;
}

.optMenu-wrap .optCountry__text {
  display: inline-block;
}

.optCountry-item.active .optMenu {
  display: block;
}

.optCountry-item.active .optCountry__full {
  color: #00C3F1;
}

.optCountry-item.active .opt-arrow {
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}

.optMenu .triangle {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -9px;
  right: 25%;
}

.optMenu-wrap > a {
  display: block;
  margin-bottom: 30px;
}

.optMenu-wrap > a:last-child {
  margin-bottom: 0px;
}

.optCountry {
  margin-left: 3%;
}

.topMenu-h {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: left;
  padding-left: 6%;
}

.hiddenMenu-h {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  border-top: 1px solid #ccc;
  z-index: 20;
  -webkit-box-shadow: 0px 6px 9px -5px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 6px 9px -5px rgba(204, 204, 204, 1);
  box-shadow: 0px 6px 9px -5px rgba(204, 204, 204, 1);
  top: 100%;
  transition: 0s;
}

.hiddenMenu-h.active {
  display: block;
}

.listHm {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 30px 0;
  width: 52%;
}

.listHm__ul {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  max-width: 300px;
  margin-right: 9%;

}

.listHm__ul:last-child {
  margin-right: 0;
}

.listHm__li {
  margin-bottom: 10px;
  list-style-type: none;
}

.listHm__li:last-child {
  margin-bottom: 0;
}

.listHm__li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  border: 2px solid #00C3F1;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: 2px;
}

.listHm__text {
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 25px);
}

.boxHm {
  padding: 40px 0 90px 0;
  display: block;
}

.imgHm {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: -1;
}

.user-h {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  > p {
    max-width: 150px;
  }
}

.user-h.desNone {
  display: none;
}

//.user-icon {
//  width: 52px;
//  height: 52px;
//  border: 1px solid #E5E5E5;
//  background-color: #F1F1F1;
//  border-radius: 100%;
//  position: absolute;
//  display: block;
//  top: 9px;
//  left: 9px;
//  z-index: 10;
//}
//.user-icon img {
//  position: absolute;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  margin: auto;
//  width: 24px;
//  height: 24px;
//}
//.round-u-wrap {
//  position: relative;
//  display: inline-block;
//  vertical-align: middle;
//}
//.round-u {
//
//  margin: 0;
//  width: 70px;
//  height: 70px;
//  position: relative;
//  border-radius: 50%;
//  transition: 0s;
//}
//
//.user-h > p {
//  display: inline-block;
//  vertical-align: middle;
//  margin-right: 9px;
//}
//
//.round-u:after {
//  border-radius: 50%;
//  display: block;
//  content: "";
//  background: #fff;
//  position: absolute;
//  left: 4px;
//  top: 4px;
//  height: 62px;
//  width: 62px;
//}
//
//.boxSide .round-u.grey:after {
//  background-color: #fff;
//}
//.p0 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(-90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p1 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(-54deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p2 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(-18deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p3 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(18deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p4 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(54deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p5 {
//  background-image: linear-gradient(-90deg, #d2d2d2 50%, transparent 50%),
//  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p6 {
//  background-image: linear-gradient(-234deg, #00C3F1 50%, transparent 50%),
//  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p7 {
//  background-image: linear-gradient(-198deg, #00C3F1 50%, transparent 50%),
//  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p8 {
//  background-image: linear-gradient(-162deg, #00C3F1 50%, transparent 50%),
//  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p9 {
//  background-image: linear-gradient(-126deg, #00C3F1 50%, transparent 50%),
//  linear-gradient(90deg, #00C3F1 50%, #d2d2d2 50%);
//}
//
//.p10 {
//  background-image: linear-gradient(-90deg, #00C3F1 50%, transparent 50%),
//  linear-gradient(-90deg, #00C3F1 50%, #00C3F1 50%);
//}
.openMl {
  position: absolute;
  width: 52px;
  height: 52px;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  z-index: 11;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}
.userModal {
  position: absolute;
  background: #fff;
  z-index: 10;
  width: 500px;
  right: -30px;
  text-align: left;
  margin-top: 25px;
  display: none;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5);
}

.userModal-scrol {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.userModal.active {
  display: block;
}

.userModal:before {
  content: '';
  position: absolute;
  top: -12px;
  right: 60px;


  background-image: url(/assets/img/triangle-icon.svg);
  width: 15px;
  height: 12px;
  background-position: center;
}

.userLine {
  background-color: #f1f1f1;

}

.userModal .userLine {
  padding: 15px 30px;
}

.userModal-box {
  background-color: #fff;
  padding: 30px 15px 0px 15px;
}

.userLine-right {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.userLine-left {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 83px);
  padding-right: 20px;
}

.userModal__title {
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding-right: 10px;
}

.userModal__title .material-icons {
  display: none;
}

.userLine__sub {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}

.userLine__out {
  display: inline-block;
  vertical-align: middle;
}

//.list__ul .material-icons {
//  display: inline-block;
//  vertical-align: middle;
//  font-size: 18px;
//  margin-right: 3px;
//}
.userModal-box {
  letter-spacing: -5px !important;
}

.userModal-box * {
  letter-spacing: 0;
}

.sectionUsb {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 15px;
}

//.list__link {
//  font-size: 15px;
//  line-height: 18px;
//}
//.list__li {
//  display: block;
//  margin-top: 10px;
//}
.sectionUsb-item {
  border-bottom: 2px solid #a7a7a7;
}

.sectionUsb-item:last-child {
  border-bottom: none;
}

.sectionUsb-item {
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.list__ul {
  margin: 0;
}

header.fixed .logoText-h span {
  display: inline;
  font-size: 17px;
  margin: 0;
}


@media screen and (max-width: 640px) {
  header.fixed .user-h {
    display: inline-block;
  }
  header.fixed .registered .logoWrapper-h {
    width: calc(100% - 73px);
  }
  header.fixed .menuLeft-h {
    width: 100%;
  }
}



//.mesengerUsb {
//  background-color: #00C3F1;
//  color: #fff;
//  border-radius: 100%;
//  padding: 6px 3px;
//  line-height: 17px;
//  display: inline-block;
//  vertical-align: middle;
//  min-width: 29px;
//  min-height: 29px;
//  text-align: center;
//  margin-left: 10px;
//}
.notificationsUsb {
  background-color: #FF1E00;
  color: #fff;
  border-radius: 100%;
  padding: 6px 3px;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  min-width: 29px;
  min-height: 29px;
  text-align: center;
  margin-left: 10px;
}

.userModal .radio {
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio .minText {
  margin-bottom: 5px;
}

//.round-u__number {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  margin: auto;
//  width: 40px;
//  height: 40px;
//  z-index: 10;
//  text-align: center;
//  line-height: 39px;
//  color: #00c3f1;
//  font-weight: bold;
//  font-size: 12px;
//}
.userModal .round-u {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.userModal .round-u:after {
  height: 35px;
  width: 35px;
  left: 5px;
  top: 5px;
}

.userModal .round-u:before {
  display: none;
}

//.min.round-u {
//  width: 45px;
//  height: 45px;
//  display: inline-block;
//  vertical-align: middle;
//}
//.min.round-u:after {
//  height: 35px;
//  width: 35px;
//  left: 5px;
//  top: 5px;
//}
//.round-u.grey:after {
//  background: #f6f6f6;
//}
//.min.round-u:before {
//  display: none;
//}
.burgers-h {
  display: none;
}

@media screen and (max-width: 1080px) {
  /* + header */
  .topMenu__link-h {
    font-size: 14px;
    margin-right: 3%;
  }
  .logoText-h {
    font-size: 20px;
  }
  .logoText-h span {
    font-size: 19px;
    margin-left: -4px;
  }
  .topMenu-h {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .menuRight-h {
    padding-right: 0px;
  }
  /* - header */
}

@media screen and (max-width: 980px) {
  /* + header */
  .logo-h {
    width: 40px;
    height: 50px;
  }
  .logoText-h {
    font-size: 16px;
    line-height: 14px;
  }
  .logoText-h span {
    font-size: 14px;
  }
  .topMenu-h {
    width: 100%;
    padding-left: 10%;
    text-align: left;
    line-height: 1.3;
    margin-top: 1px;
  }
  .topMenu__link-h {
    line-height: 1;
  }
  .menuLeft-h {
    width: calc(60% - 101px);
  }

  .menuRight-h {
    width: 40%;
    margin-top: 7px;
  }
  /* - header */
}

@media screen and (max-width: 800px) {
  /* + header */
  .topLine-h {
    padding: 10px 0;
  }
  /* + header */
}

@media screen and (max-width: 640px) {
  /* + header */

  .logoWrapper-h {
    width: calc(100% - 35px);
  }
  .registered .logoWrapper-h {
    width: calc(100% - 108px);
  }
  .topLine-h {
    padding: 8px 0;
  }
  .menuLeft-h, .menuRight-h, .optCountry {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .topMenu-h {
    text-align: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
  }

  .button.register {
    padding: 15px 40px;
    width: auto;
  }
  .mobileMenu {
    background-color: #f1f1f1;
    max-height: calc(100vh - 80px);
    //overflow-y: auto;
  }
  .topMenu__link-h {
    display: block;
    font-size: 15px;
    line-height: 36px;
    margin-bottom: 0;
    width: 100%;
    padding: 8px 0;
  }
  .topMenu__link-h:last-child {
    margin-bottom: 0;
  }
  .menuRight-h {
    padding: 13px 0;
  }
  .hiddenMenu-h {
    position: relative;
    box-shadow: none;
    border: 0;
  }
  .listHm {
    width: 100%;
    border: 0;
    padding: 0;
    max-width: 370px;
    margin: 0 auto;
  }
  .hiddenMenu-h .title, .imgHm {
    display: none;
  }
  .listHm__ul {
    width: 100%;
    text-align: left;
    display: block;
  }
  .boxHm {
    padding: 10px 0 20px 0;
  }
  .topMenu__link-h.active {
    background-color: #fff;
  }

  .topMenu__link-h.active > p {
    color: #00C3F1;
  }

  .mainCard .column {
    padding: 0 20px;
  }
  .logo-h {
    width: 52px;
    height: 64px;
  }
  .logoText-h {
    font-size: 22px;
    line-height: 20px;
  }
  .logoText-h span {
    font-size: 21px;
  }
  .burgers-h {
    display: inline-block;
    vertical-align: middle;
  }

  .hamburger-wrap.desNone {
    display: inline-block;
    vertical-align: middle;

  }

  .mobileNone {
    display: none;
    width: 100%;
  }
  .logoWrapper-h {
    width: calc(100% - 35px);
  }
  .registered .logoWrapper-h {
    width: calc(100% - 123px);
  }
  .topLine-h {
    padding: 8px 0;
  }
  .menuLeft-h, .menuRight-h, .optCountry {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .topMenu-h {
    text-align: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
    margin-top: 0px;
  }
  .button.register {
    padding: 15px 40px;
    width: auto;
  }
  .mobileMenu {
    background-color: #f1f1f1;
  }
  .topMenu__link-h {
    display: block;
    font-size: 15px;
    line-height: 36px;
    margin-bottom: 0;
    width: 100%;
    padding: 16px 0;
  }
  .topMenu__link-h:last-child {
    margin-bottom: 0;
  }
  .menuRight-h {
    //padding: 13px 0;
    padding: 0;
  }
  .hiddenMenu-h {
    position: relative;
    box-shadow: none;
    border: 0;
  }
  .listHm {
    width: 100%;
    border: 0;
    padding: 0;
    max-width: 370px;
    margin: 0 auto;
  }
  .hiddenMenu-h .title, .imgHm {
    display: none;
  }
  .listHm__ul {
    width: 100%;
    text-align: left;
    display: block;
  }
  .boxHm {
    padding: 10px 0 20px 0;
  }
  .topMenu__link-h.active {
    background-color: #fff;
  }
  .topMenu__link-h p {
    font-size: 15px;
  }
  .topMenu__link-h.active > p {
    color: #00C3F1;
  }
  .hiddenMenu-h .button {
    margin: 30px auto 0;
  }
  .optCountry .optCountry__full {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
  }

  .optCountry-item {
    position: initial;
  }
  .optCountry {
    display: block;
    padding: 24px 0;
    position: relative;
  }
  .optMenu {
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    box-shadow: none;
    z-index: 20;
    padding: 30px 0;
  }

  .optMenu .triangle {
    display: none;
  }
  .optMenu-wrap {
    width: 120px;
    margin: 0 auto;
    padding: 0;
    height: 125px;
  }

  .mobileMenu.animated  {
    display: block;
    top: 100%;
    bottom: auto;
  }

  .user-h {
    text-align: center;
    display: block;
    margin: 0 auto;
    //padding: 8px 0;
    padding: 0;
    position: relative;
  }
  .user-h > p {
    font-size: 15px;
    margin-right: 20px;
  }
  .userModal {
    //max-width: 420px;
    //width: 320px;
    max-width: 100vw;
    width: 100vw;
    right: -73px;
    margin: auto;
    margin-right: 0;
    top: 110%;
  }
  .userModal-scrol {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    -webkit-overflow-scrolling:touch;
  }
  .userModal .userLine {
    padding: 15px 20px;
  }
  .sectionUsb {
    display: block;
    width: 100%;
    padding: 0;
  }
  .userModal-box {
    padding: 25px 20px 0;
  }
  .sectionUsb-item {
    border-bottom: 1px solid #a7a7a7;
  }

  .userModal:before {
    left: calc(100% - 112px);
  }
  .userLine i.back {
    font-size: 16px;
    padding: 0;
  }

  .user-h > p {
    display: none;
  }
  .optCountry.mobileNone {
    display: none;
  }
  .registered .menuRight-h {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
  }
  .sectionUsb-item.active {
    .mobileHiden {
      display: block;
    }
  }

  .mobileHiden {
    display: none;
  }

  .sectionUsb-item:last-child {
    border-bottom: 1px solid #a7a7a7;
  }

  .sectionUsb:last-child .sectionUsb-item:last-child {
    border-bottom: none;
  }
  .userModal__title .material-icons {
    position: absolute;
    right: 0;
    display: block;
    top: 0;
  }

  .Company .userModal__title .material-icons {
    top: 13px;
  }
  .userModal__title .material-icons.turn {
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
  }

  .optCountry-item {
    margin-right: 50px;
  }
  .optCountry-item:last-child {
    margin-right: 0px;
  }

  /* - header */
}
