<div class="cartModal-wrap" *ngIf="cartModal" (clickOutside)="clickOutside($event)"
     [exclude]="'.basketBtn-wrap,.attachedFile' ">
  <div class="cartModal active">
    <div class="cartModal-scrol">
      <div class="cartModal-wrap">
        <div class="tabletCart" *ngIf="shopService.cart.subscriptions.packageId">
          <div class="tabletCart-string">
            <div class="col-v5">
              <p class="tabletCart__text">

                {{dS.getOptionsFromId('packages',shopService.cart.subscriptions.packageId).text}}
                <span class="tabletCart__span">
                              {{dS.getOptionsFromId('price_period',shopService.cart.subscriptions.periodId).text|translate}}
                            </span>
              </p>
            </div>
            <div class="col-v2"></div>
            <div class="col-v2"><p class="tabletCart__price">
              {{rounded(shopService.cartPrice.subscription-shopService.cartPrice.subscriptionDebt)}} €</p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeSubscr()"><i class='icon delete-forever-black'></i></button>
            </div>
          </div>
        </div>
        <div class="tabletCart">
          <div class="tabletCart-string">
            <div class="col-v5"><p class="tabletCart-h">{{"TableLabel.Service" | translate}}</div>
            <div class="col-v2"><p class="tabletCart-h">{{"TableLabel.Qty" | translate}}</p></div>
            <div class="col-v2"><p class="tabletCart-h">{{"TableLabel.Price" | translate}}</p></div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.vacancy">
            <div class="col-v5"><p class="tabletCart__text">{{"AdditionalVacancy" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.vacancy}}</div>
            </div>
            <div class="col-v2">
              <p class="tabletCart__price">
                {{shopService.cartPrice.service.vacancy}} €
                <!--<span class="discountText">99 €</span>-->
              </p>
            </div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('vacancy')"><i class='icon delete-forever-black'></i></button>
            </div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.premiumListing">
            <div class="col-v5"><p class="tabletCart__text">{{"promotions.prem_listing" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.premiumListing}}</div>
            </div>
            <div class="col-v2"><p class="tabletCart__price">
              {{shopService.cartPrice.service.premiumListing}} €
            </p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('premiumListing')"><i class='icon delete-forever-black'></i>
              </button>
            </div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.hightFrame">
            <div class="col-v5"><p class="tabletCart__text">{{"promotions.frame" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.hightFrame}}</div>
            </div>
            <div class="col-v2"><p class="tabletCart__price">
              {{shopService.cartPrice.service.hightFrame}} €
            </p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('hightFrame')"><i class='icon delete-forever-black'></i>
              </button>
            </div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.insocialMedia">
            <div class="col-v5"><p class="tabletCart__text">{{"promotions.isSocialMedia" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.insocialMedia}}</div>
            </div>
            <div class="col-v2"><p class="tabletCart__price">
              {{shopService.cartPrice.service.insocialMedia}} €
            </p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('insocialMedia')"><i class='icon delete-forever-black'></i>
              </button>
            </div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.targetGroup">
            <div class="col-v5"><p class="tabletCart__text">{{"promotions.edvtarg" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.targetGroup}}</div>
            </div>
            <div class="col-v2"><p class="tabletCart__price">
              {{shopService.cartPrice.service.targetGroup}} €
            </p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('targetGroup')"><i class='icon delete-forever-black'></i>
              </button>
            </div>
          </div>
          <div class="tabletCart-string" *ngIf="shopService.cart.services.bannerofEmail">
            <div class="col-v5"><p class="tabletCart__text">{{"promotions.banner" | translate}}</div>
            <div class="col-v2">
              <div class="quantityBox">{{shopService.cart.services.bannerofEmail}}</div>
            </div>
            <div class="col-v2"><p class="tabletCart__price">
              {{shopService.cartPrice.service.bannerofEmail}} €
            </p></div>
            <div class="col-v1">
              <button class="text-ic" (click)="removeCart('bannerofEmail')"><i class='icon delete-forever-black'></i>
              </button>
            </div>
          </div>
        </div>

        <div class="totalPrice">
          <div class="row-wrap">
            <div class="col-v6">
              <div class="checkbox">
                <input id="type1" type="checkbox" name="check" [(ngModel)]="havepromo">
                <label for="type1"><span class="checkbox__box"></span>
                  <p class="checkbox__text">{{"IhavePromocode" | translate}} </p></label>
              </div>
            </div>

            <div class="col-v4 right">
              <p class="tabletCart__price">{{"TableLabel.Price" | translate}}:

                {{getAllPrice().toFixed(2)}}
                €</p>
              <p class="discountText" *ngIf="shopService.cartPrice.Discount">{{"TableLabel.Discount" | translate}}:
                -{{shopService.cartPrice.Discount.toFixed(2)}} €</p>
            </div>
            <div class="col-v10">
              <p class="totalPrice__text">{{"TotalPrice" | translate}}:
                {{shopService.cartPrice.TotalPrice>0?shopService.cartPrice.TotalPrice.toFixed(2):0}} €</p>
            </div>
          </div>
        </div>

        <div class="promocodeCart" *ngIf="havepromo">
          <div class="row-wrap bottom">
            <div class="col-v7">
              <p class="minText">{{"EnterPromocode" | translate}}</p>
              <input type="text"
                     [ngClass]="{'error': promoError}"
                     (change)="promoError = false"
                     class="input border"
                     #promocodeVal>
            </div>
            <div class="col-v3">
              <button class="button min" (click)="shopService.addPromo(promocodeVal,this);">{{'Apply'|translate}}
              </button>
            </div>

            <div class="codesApplied">
              <p class="minText">{{"CodesApplied" | translate}}</p>
              <div class="attachedFile" *ngFor="let pr of shopService.cart.promocode;let i = index">
                <p class="blueText">{{pr}}</p>
                <i class='icon cancel-black' (click)="shopService.addCart({promocodeDel:i});"></i>
              </div>

            </div>
          </div>
        </div>

        <button class="button min shaded" (click)="shopService.applyCart();cartModal = false">{{"btn.Checkout" |
          translate}}
        </button>

      </div>
      <div class="cartModal-f"></div>
      <!--<div>COUNT: {{shopService.countCart()}}</div>-->
      <!--<div *ngIf="shopService.cart">-->
      <!--<div *ngIf="shopService.cart.subscriptions.packageId">-->
      <!--<div>subscriptions</div>-->
      <!--<div>NAME: {{dS.getOptionsFromId('packages',shopService.cart.subscriptions.packageId).text}}</div>-->
      <!--<div>PERIOD:-->
      <!--{{dS.getOptionsFromId('price_period',shopService.cart.subscriptions.periodId).text|translate}}-->
      <!--</div>-->
      <!--<div>PRICE: {{ shopService.getPackage(shopService.cart.subscriptions.packageId).price}}</div>-->
      <!--</div>-->
      <!--<button (click)="shopService.applyCart()">apply</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
