<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent vacancy-search">
  <div class="title-wrap">
    <p class="title">{{"Vacancys" | translate}}</p>
  </div>

  <div class="candidateBox-wrap" ><!--[class.minCard]="compact" для телефона minCard-(сокращенный карточка) -->
    <app-vacancy-card
      *ngFor="let item of vacancy; let i = index;"
      [vacancy]="item"
      [exp_published_at]="true"
      [exp_top_published_at]="true"
      [exp_bookMark]="true"
      [exp_deadline]="true"
      [exp_address]="true"
      (routeDetail)="delete_count_unread($event)"
      [class]="'vacancySearch'"

    >
    </app-vacancy-card>
  </div>

</div>
