.settings-item{
  padding: 20px 30px 25px 30px;
  border-bottom: 1px solid #D3D3D3;

  .lampText{
    max-width: 730px;
  }
}
.settings-item:last-child{
  border: 0;
}
.sideTitle i {
  padding-bottom: 6px;
}

.button.min.indent{
  margin-top: 20px;
}
.button.min{
  border: 1px solid #00C3F1;
  padding: 11px 10px;
}
@media screen and (max-width: 640px) {
  .settings-item {
    padding: 25px 20px 20px 20px;
  }

  .button.min {
    width: 100%;
    max-width: 100%;
  }
  .sideTitle{
    position: relative;
  }
  .tellBox {
    right: 0;
    margin: auto;
    bottom: 100%;
  }



}
