<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar">sidebar-link</sidebar-link>
<account-setting class="sideContent" [componentData]="component.componentSetting"></account-setting>
