.recosting{
  .col-v3 {
    width: 29%;
  }
  .col-v4 {
    width: 42%;
  }
  .dottedBox {
    padding: 34px 10px;
  }
  .button.min {
    padding: 14px 10px;
    max-width: 280px;
    border: 1px solid #00c3f1;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1024px) {
    .show {
      width: 100% !important;
    }

    .rating{
      width: 76% !important;
    }
    .recommend {
      width: 24% !important;
      .dottedBox {
        margin-top: 0;

        margin-left: auto;
        margin-right: 0;
      }
    }

    .recommend {
      padding-right: 0;
    }

    .rating {
      margin-bottom: 20px;
    }
    .dottedBox {
      padding: 34px 10px;
    }

  }

  @media (max-width: 700px) {
    .rating-item .blueText {
      //width: 100%;
    }
    .dottedBox {
      padding: 34px 20px;
    }

    .rating{
      width: 50% !important;
    }
    .recommend {
      width: 50% !important;
    }
  }
  @media (max-width: 640px) {
    .rating-item {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 450px) {
    .recommend,
    .rating,
    .show {
      width: 100% !important;
      .dottedBox {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .recommend{
      margin-bottom: 20px;
    }
  }
}




.checkbox .checkbox__text.bold{
  font-weight: 500;
}

.checkbox {
  line-height: 1;
  margin-bottom: 5px;
}

.reviewsFrom .button {
  padding: 15px;
  width: 100%;
  margin-top: 30px;
  border: 1px solid #00C3F1;
}
.reviewsFrom .minTilt {
  margin-bottom: 20px;
}
.sideTitle.indent{
  margin: 30px 0 25px;
}

.rating-item{
  line-height: 1;
  margin-bottom: 5px;
  display: flex;
  .star {
    width: 14px;
    height: 14px;
  }

  .blueText{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-size: 13px;

  }
  .star-wrap{
    display: inline-block;
    vertical-align: middle;
  }
}
.statusPr {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 500;

  i{
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }
}
.postRating .dateText{
  color: #757575;
  font-size: 12px;
  line-height: 17px;
  margin-left: 10px;
  vertical-align: top;
}

.postRating .star-wrap {
  margin-bottom: 3px;
}
.postRating .subMin-title{
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  margin: 0;
  padding-right: 10px;
}

.star-wrap{
  display: inline-block;
  vertical-align: middle;
}

.postRating__text{
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  //height: 60px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
}
.nestingPs {
  max-width: 640px;
  width: 82%;
  margin: 0 auto 0;
  display: none;

  .postRating{
    margin: 35px auto 0;
  }
}

.nestingPs.active{
  display: block;
}
.postRating .blueLink{
  font-size: 12px;
}
.minText span{
  word-break: break-all;
}

.postRating-f{
  .minText{
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;

    span{
      display: block;
      font-weight: normal;
      line-height: 1;
      font-size: 12px;
    }

    i{
      font-size: 15px;
    }
  }
  i{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: top;
  }
}

.formPs{
  margin-top: 20px;
  .formPs-link{
    margin-bottom: 20px;
  }
  .blueLink{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .textField{
    color: #666666;
  }
  .button{
    margin: 10px auto 0;
    margin-right: 0;
    border: 1px solid #00C3F1;
    max-width: 190px;
  }
}

.replyPs{
  margin-top: 20px;
  display: none;

  &.active{
    display: block;
  }

  .blueLink{
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .rating-item .blueText {
    width: 150px;
  }
  .col-v5.rating {
    padding-right: 0;
  }
}

@media screen and (max-width: 1100px) {
  .rating-item .blueText {
    width: 130px;
  }
  .rating-item .star {
    width: 12px;
    height: 12px;
  }


}

@media screen and (max-width: 980px) {
  .nestingPs {
    width: 90%;
  }
  .reviewsFrom {
    margin: 20px 0 0 0;
  }

}
@media screen and (max-width: 800px) {
  .dottedBox{
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .reviewsFrom {
    margin: 30px 0 0 0;
  }
  .rating-item .star {
    width: 14px;
    height: 14px;
  }
  .sideTitle.indent {
    margin: 20px 0 25px;
  }

  .rating-item .blueText {
    width: calc(100% - 100px);
  }
  .reviewsFrom .button {
    max-width: 100%;
  }
  .postRating__text[_ngcontent-c13] {
    margin-top: 20px;
  }
  .postRating .blueLink {
    display: block;
    margin: 0 0 7px;
    &:last-child{
      margin: 0;
    }
  }
  .postRating span.blueText{
    display: none;
  }

  .nestingPs {
    width: 94%;
    margin: 0 auto;
    margin-right: 0;
  }
  .formPs {
    width: calc(100% + 6%);
    margin-left: -6%;
  }
  .formPs .button {
    max-width: 100%;
  }
  .postRating .dateText {
    display: block;
    margin: 0px 0 0 25px;
  }
  .postRating-f .minText span {
    margin-bottom: 5px;
  }
  .nestingPs .postRating {
    margin: 30px auto 0;
  }


}