
<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'CompRat.title'|translate}}</p>
    </div>
<!--<button (click)="ngOnInit()">sssssss</button>-->
    <div class="boxSide">
        <div class="boxSide-item">
            <div class="lampText min indent">
              {{'CompRat.description'|translate}}
            </div>
            <p class="sideTitle indent">{{'CompRat.tit2'|translate}}</p>
            <div class="row-wrap recosting ">
                <div class="col-v5 col-t7 rating">
                    <div class="rating-item">
                        <p class="blueText ellipsis">{{'cmprat.culatm'|translate}}: </p>
                        <rating-star class="starFlex" [starResult]="false" [dieStar]="true" [select]="false" [ratingValue]="rating_career"></rating-star>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">{{'cmprat.wcond'|translate}}: </p>
                      <rating-star class="starFlex" [starResult]="false" [dieStar]="true" [select]="false" [ratingValue]="rating_culture"></rating-star>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">{{'cmprat.cpmlsal'|translate}}: </p>
                      <rating-star class="starFlex" [starResult]="false" [dieStar]="true" [select]="false" [ratingValue]="rating_managment"></rating-star>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">{{'cmprat.mngqlt'|translate}}: </p>
                      <rating-star class="starFlex" [starResult]="false" [dieStar]="true" [select]="false" [ratingValue]="rating_salary"></rating-star>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">{{'cmprat.crropp'|translate}}: </p>
                      <rating-star class="starFlex" [starResult]="false" [dieStar]="true" [select]="false" [ratingValue]="rating_work"></rating-star>
                    </div>
                </div>
                <div class="col-v2 col-t3 recommend">

                    <div class="dottedBox">
                        <p class="dottedBox__text">{{'RecBy'|translate}}:</p>
                        <p class="dottedBox__number">{{ratingPrc}}%</p>
                    </div>

                </div>
                <div class="col-v3 col-t10 show">
                    <p class="minTilt bold">{{'srfrom'|translate}}:</p>
                    <div class="checkbox ">
                        <input id="type3z1" disabled checked="checked" type="checkbox" name="check" value="">
                        <label for="type3z1"><span class="checkbox__box"></span>
                            <p class="checkbox__text bold"><i class='icon ic_verified_user_birch'></i>{{'Verified_users'|translate}}

                            </p></label>
                    </div>
                    <div class="checkbox">
                        <input id="typen_55" type="checkbox" name="check" [value]="true" [(ngModel)]="rating_undefuser">
                        <label for="typen_55"><span class="checkbox__box"></span>
                            <p class="checkbox__text bold"><i class='icon suspended-red'></i> {{'unverUser'|translate}}
                            </p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input id="type3c_55" type="checkbox" name="check" [value]="true" [(ngModel)]="rating_websitevis">
                        <label for="type3c_55"><span class="checkbox__box"></span>
                            <p class="checkbox__text bold"><i class='icon ic_face_gray'></i> {{'webs_vis'|translate}}
                            </p>
                        </label>
                    </div>
                    <button class="button min" (click)="savePublSetting()">{{'appubpr'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="boxSide-item" *ngFor="let item of rewiews;let irew = index">
            <div class="postRating">
                <div class="postRating-h">
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> {{'overRat'|translate}}:</p>
                      <rating-star [starResult]="false" [dieStar]="false" [select]="false" [ratingValue]="calcRating(item)"></rating-star>
                    </div>
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> {{'Recommends'|translate}}: </p>
                        <p class="statusPr" *ngIf="item.comment_recommend"><i class='icon ic_thumb_up_birch' ></i> {{'Yes'|translate}}</p>
                        <p class="statusPr" *ngIf="!item.comment_recommend"><i class='icon ic_thumb_down_gray' ></i> {{'No'|translate}}</p>

                    </div>

                </div>
                <p class="postRating__text">{{item.comment_text}}
                </p>

                <div class="postRating-f" *ngIf="uS.users[item.uid]">
                    <div class="row-wrap">
                        <div class="col-v5 col-p7">
                          <i class='icon suspended-red' *ngIf="!uS.users[item.uid].proof&&!item.comment_anonim"></i>
                          <i class='icon ic_verified_user_birch' *ngIf="uS.users[item.uid].proof==1&&!item.comment_anonim"></i>
                          <i class='icon ic_visibility_off_gray' *ngIf="uS.users[item.uid].proof==2&&!item.comment_anonim"></i>
                            <i class='icon ic_work_gray' *ngIf="item.workedForThisCompany"></i>
                            <p class="minText" *ngIf="item.comment_anonim"><i class='icon ic_visibility_off_gray'></i>{{'anonymous'|translate}}</p>
                            <p class="minText" *ngIf="!item.comment_anonim">{{uS.getUserName(item.uid,0)}}</p>
                            <span class="dateText">{{dS.dateConvert(item.created_at)|date:'dd.MM.yyyy (HH:mm)'}}</span>
                        </div>
                        <div class="col-v5 col-p3 right">
                            <a class="blueLink" *ngIf="!item.comment_anonim" (click)="mS.setDialogs(item.uid);" [routerLink]="['/messages']">{{'Contact_user'|translate}}</a>
                            <span class="blueText">|</span>
                            <a class="blueLink" (click)="ReportAbuse(item._id,1)">{{'Report_abuse'|translate}}</a>
                        </div>
                    </div>

                </div>
              <div class="postRating-f" *ngIf="!uS.users[item.uid]">
                <div class="row-wrap">
                  <div class="col-v5 col-p7">

                    <p class="minText" ><i class='icon ic_face_gray'></i>{{'webs_vis'|translate}}</p>
                    <span class="dateText">{{dS.dateConvert(item.created_at)|date:'dd.MM.yyyy (HH:mm)'}}</span>
                  </div>

                </div>
              </div>


                <div class="replyPs "><a class="blueLink">2 {{'replies'|translate}}</a></div><!-- active -->
                <div class="nestingPs active" ><!-- active -->
                    <div class="postRating " *ngFor="let rep of item.replies|slice:0:item.limit; let i=index" >

                        <p class="postRating__text">
                            {{rep.reply_text}}
                        </p>
                        <div class="postRating-f" *ngIf="uS.users[rep.uid]">
                            <div class="row-wrap">
                                <div class="col-v5 col-p7">
                                    <i class='icon suspended-red' *ngIf="!uS.users[rep.uid].proof"></i>
                                    <i class='icon ic_verified_user_birch' *ngIf="uS.users[rep.uid].proof==1"></i>
                                    <i class='icon ic_visibility_off_gray' *ngIf="uS.users[rep.uid].proof==3"></i>
                                    <p class="minText">{{uS.getUserName(rep.uid,0)}}
                                      <!--<i class='icon ic_work_gray'></i> -->
                                      <span *ngIf="uS.users[rep.uid].type_profile=='Company'">{{uS.getUserName(rep.uid,1)}}</span>
                                    </p>
                                    <span class="dateText">{{dS.dateConvert(rep.created_at)|date:'dd.MM.yyyy (HH:mm)'}}</span>
                                </div>
                                <div class="col-v5 col-p3 right" *ngIf="rep.uid!=uS.profile._id">
                                    <a class="blueLink" *ngIf="!item.comment_anonim"  (click)="setDialog(rep.uid)">{{'Contact_user'|translate}}</a>
                                    <span class="blueText" *ngIf="!item.comment_anonim" >|</span>
                                    <a class="blueLink" (click)="ReportAbuse(item._id,2)">{{'Report_abuse'|translate}}</a>
                                </div>
                            </div>
                        </div>
                      <div class="postRating-f" *ngIf="!uS.users[rep.uid]">
                        <div class="row-wrap">
                          <div class="col-v5 col-p7">

                            <p class="minText" ><i class='icon ic_face_gray'></i>{{'webs_vis'|translate}}</p>
                            <span class="dateText">{{dS.dateConvert(rep.created_at)|date:'dd.MM.yyyy (HH:mm)'}}</span>
                          </div>

                        </div>
                      </div>

                    </div>
                  <div class="formPs-link" *ngIf="item.replies&&item.limit<item.replies.length" (click)="incLimit(item)">
                    <a class="blueLink">{{'viMorRep'|translate}}</a>
                  </div>
                  <div class="replyPs active"  ><a class="blueLink" (click)="item.replyActive =! item.replyActive">{{'Reply'|translate}}</a></div>
                  <div class="formPs" *ngIf="item.replyActive">

                        <p class="textField">{{'Your_comment'|translate}}</p>
                        <textarea #text class="textarea"></textarea>
                        <button class="button min" (click)="sendMess(text,item._id,irew); item.replyActive =! item.replyActive">{{'btn.Submit'|translate}}</button>
                    </div>
                </div><!-- active -->
            </div>
        </div>


    </div>
</div>
