<div class="tapeSd-featured">
  <p class="sideTitle">{{'vacancy.Featured_vacancies'|translate}}:</p>
  <div class="tapeSd-featured-item" *ngFor="let vac of vacancy">
    <a class="blueLink"  [routerLink]="['/vacancy/details/',vac._id]" >{{vac.positionTitle}}</a>
    <p class="title"><span class="vacantBox__address"><i
      class="material-icons" *ngIf="vac.address">&#xE0C8;</i>{{vac.address}}</span>
    <p class="vacantBox__text">{{'vacancy.Occupation_field'|translate}}: <span class="vacantBox__boldText">{{dS.getOptionsFromId('occupationField',vac.occupationField).text|translate}}</span></p>
    <p class="vacantBox__price" *ngIf="vac.salary&&vac.salary.summ&&vac.salary.type">
      {{vac.salary.summ}}
      <span >
      /{{dS.options.salary[vac.salary.type].text|translate}}
    </span>

        </p>
        <div class="rating-wrap"><p class="vacantBox__boldText">{{vac.nameCompany}}</p>
            <rating-star [dieStar]="false" [starResult]="false" [ratingValue]="vac.rating"></rating-star>
        </div>
    </div>

</div>
