
.tapeSd-featured {
  padding: 35px 20px 30px;

  .tapeSd-featured-item {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .tapeSd-featured-item:last-child {
    border-bottom: 0;
  }

  .sideTitle {
    margin-bottom: 25px;
  }
  .blueLink {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: 500;
    display: block;
  }
  .vacantBox__text {
    margin-top: 5px;
  }
  .vacantBox__price {
    text-align: left;
    position: inherit;
  }
  .rating-wrap {
    margin: 10px 0 0 0;
  }

  .tapeSd-featured-item:last-child{
    //padding-bottom: 0;
    margin-bottom: 0;
  }

}
