
<div class="title-wrap">
    <p class="title" #eerr>{{ 'account.User_data' | translate }}</p>
    <p *ngIf="!user.profile.smartId" class="fixText"><i class="material-icons orange"></i>
        {{ 'account.verified' | translate }} <a class="blueLink" [routerLink]="['/account/verify']">{{ 'account.Fixverified' | translate }}</a></p>
</div>

<div class="boxSide userData">
    <div class="userLine">
        <div class="userLine-left">
            <p class="sideTitle"> {{user.profile.first_name}}
                {{user.profile.last_name}}</p>


        </div>
        <div class="userLine-right">
            <button class="button min light" *ngIf="oAuth" (click)="unsetOAuth()">{{"DisconnectAccount" | translate}}</button>
            <button class="button min light" *ngIf="!oAuth" (click)="user.setOAuth()">{{"Connect_account_to_Facebook" | translate}}</button>
        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content">
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="first-name" class="textField">{{"inputLabel.First_name"| translate}}</label>
                    <input class="input" [attr.readonly]="oAuth ? '' : null" name="first-name" id="first-name" type="text" [maxLength]="20"  [(ngModel)]="first_name">
                </div>
                <div class="userData-content-item">
                    <label for="last-name" class="textField">{{"inputLabel.Last_name"| translate}}</label>
                    <input class="input" [attr.readonly]="oAuth ? '' : null" name="last-name" id="last-name" type="text" [maxLength]="30"  [(ngModel)]="last_name">
                </div>
                <div class="userData-content-item">
                    <p class="textField">{{"inputLabel.Display_as"| translate}}</p>

                    <app-unity-select
                      [valueId]="user.profile.displayAs"
                      [title]="'inputLabel.Display_as'| translate"
                      [arrIn]="user.displayAs(user.profile)"
                      (arrOut)="user.profile.displayAs = displayAs = $event.id"></app-unity-select>

                </div>
            </div>
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="mobile-phone" class="textField">{{"inputLabel.Mobile_phone"| translate}}</label>
                    <input class="input" name="mobile-phone" [textMask]="{mask:dataService.phoneMask}" id="mobile-phone" type="text" [(ngModel)]="phone">
                </div>
                <div class="userData-content-item">
                    <label for="email" class="textField">{{"inputLabel.E-mail"| translate}}</label>
                    <input class="input" name="email" id="email" type="text"
                           [textMask]="dataService.emailMask"
                           [maxLength]="70"
                           [value]="user.profile.email"
                           [(ngModel)]="email">
                </div>
                <div class="userData-content-item">
                    <p class="textField">{{"inputLabel.Pref_lang_comm"| translate}}</p>

                    <app-unity-select
                      [valueId]="user.profile.prefLang"
                      [title]="'inputLabel.Pref_lang_comm'| translate"
                      [arrIn]="dataService.options.translaterDefault"
                      (arrOut)="prefLang = user.profile.prefLang = $event.id"></app-unity-select>

                </div>
            </div>

        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content">
            <p class="form-subTitle reset-spacing">{{"inputLabel.ChangePassword" | translate}}</p>
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="currentPassword" class="textField">{{"inputLabel.CurrentPassword" | translate}}</label>
                    <input  [minLength]="6" class="input" name="password"  id="currentPassword" type="password"  [(ngModel)]="currentPass">
                </div>
                <div class="userData-content-item">
                    <label for="password" class="textField">{{"inputLabel.Password" | translate}}</label>
                    <input  [minLength]="6" class="input" name="password" id="password" type="password" [(ngModel)]="newPass">
                </div>
                <div class="userData-content-item">
                    <label for="repeat-password" class="textField">{{"inputLabel.RepeatPassword" | translate}}</label>
                    <input  [minLength]="6" class="input" name="repeat-password" id="repeat-password" type="password"
                           [(ngModel)]="repeatPass">
                </div>
            </div>
            <button (click)="user.changePassword(currentPass,newPass,repeatPass)" class="button shaded min savePasswordChange">{{"Change" | translate}}</button>
        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content">
            <p class="form-subTitle">{{"userdata.Additional_personal_data"| translate}}</p>
            <div class="userData-content-row">
                <div class="userData-content-item fba">
                    <label for="personal-id" class="textField">{{"userdata.Personal_ID_code"| translate}}</label>
                    <input [attr.readonly]="oAuth&&personalId ? '' : null" class="input" name="personal-id"  [maxLength]="30" id="personal-id"  [(ngModel)]="personalId">
                </div>
                <div class="userData-content-item small-width fba mr20">
                    <p class="textField">{{"inputLabel.Date_of_birth" | translate}}</p>

                  <my-date-picker
                    [selDate]="seldate"
                    name="mydate"
                    [options]="myDatePickerOptions"
                    (dateChanged)="birthday = $event.epoc"
                    (change)="ch($event)"
                                    required></my-date-picker>
                </div>
                <div class="userData-content-item radio-item fba">

                    <p class="textField">{{"inputLabel.Gender"| translate}}</p>
                    <div class="radio">
                        <input id="Male" name="userdataGender" type="radio" [value]="1" [(ngModel)]="gender">
                        <label for="Male"><span></span>
                            <p class="radio__text">{{"inputLabel.Male"| translate}}</p>
                        </label>

                        <input id="Female" name="userdataGender" type="radio" [value]="0" [(ngModel)]="gender">
                        <label for="Female"><span></span>
                            <p class="radio__text">{{"inputLabel.Female"| translate}}</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="userData-content-row">
                <div class="userData-content-item w100 fba">
                    <p class="textField">{{"inputLabel.Im_currently"| translate}}</p>
                    <div class="radio">
                        <input id="interested" name="not-ready1" type="radio" [value]="1" [(ngModel)]="ready_to_work">
                        <label for="interested"><span></span>
                            <p class="radio__text">{{"inputLabel.interested_in_work"| translate}}</p>
                        </label>

                        <input id="not-ready" name="not-ready1" type="radio" [value]="0" [(ngModel)]="ready_to_work">
                        <label for="not-ready"><span></span>
                            <p class="radio__text">{{"inputLabel.not_ready_to_work"| translate}}</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content ">
            <p class="form-subTitle">{{"inputLabel.Address"| translate}}</p>
            <div class="userData-content-row">
                <div class="userData-content-item w100 fba">
                    <address-select
                      [name]="'profile'"
                      [addr]="Location?Location.addr:''"

                      (Location)="Location=$event"
                      [locate]="Location"
                      [types]="['address']"
                      (Address)="changeAddress
                      ($event)"

                    ></address-select>
                  <!--[types]="['(regions)']"-->
                </div>
            </div>
        </div>
    </div>
    <div class="popapApply userData-popap">
        <button class="button shaded min"  (click)="save()">{{"Save_my_data" | translate}}</button>
    </div>
    <disconnectFbModal
      (close)="disconnectFbModal=$event"
      [show]="disconnectFbModal"
    ></disconnectFbModal>

</div>
