.default,
.success,
.info,
.warning,
.error,
.done {
  //position: fixed;
  //bottom: 0;
  left: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 15px calc((100% - 1060px) / 2);
  line-height: 36px;
  z-index: 110;

}

swiper {
  width: 100%;
  height: auto;
}


.leftRs {
  display: none !important;
}
.rightRs {
  display: none !important;
}

ngx-carousel {
  position: relative;

}

.error{
  background-color: rgba(255, 30, 0, 0.9);
  .notification-button {
    color: #A61300;
  }
}
.warning {
  background-color: rgba(255, 30, 0, 0.9);
  .notification-button {
    color: #A61300;
  }
}

.info {
  background-color: rgba(23, 199, 240, 1);
  .notification-button {
    color: #3CD0F3;
  }
}

.success, .done {
  background-color: rgba(0, 196, 52, 0.9);
  .notification-button {
    color: #00C434;
  }
}


.default {
  background-color: rgba(51, 51, 51, 0.9);
}

.material-icons {
  margin-right: 20px;
}


.notification-button {
  padding: 10px 14px;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  width: 165px;
  text-align: center;


}

.notification-item {
  border-bottom: 1px solid #FFFFFF;
  &:last-child {
    border-bottom: none;
  }
}


.notification-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > .notification-control {
    flex-shrink: 0;
    & > * {
      margin-right: 27px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & > :first-child {
    flex-shrink: 1;
  }
}


.hotification-icon {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;

  span {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 13px;
  }
  i {
    font-size: 18px;
    margin-right: 0;
  }
}

.default .material-icons.close {
  display: none;
}

.notification-container {
  z-index: 1000000000000;
}

.notification-wrap {
  position: relative;
  .notification-text {
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
  }
  .notification-char {
    position: absolute;
    left: 0;
  }

}

@media screen and (max-width: 1100px) {
  .default, .success, .info, .warning, .error, .done {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 640px) {
  .notification-wrap{
    flex-wrap: wrap;
  }
  .notification-button {
    font-size: 11px;
    width: 160px;
  }
  .notification-wrap > .notification-control > * {
    margin-right: 10px;
  }
  .notification-wrap[_ngcontent-c3] .notification-text[_ngcontent-c3] {
   padding-right: 0;
  }
}
/* - downPopup */





