<div *ngIf="slider" class="notification-container" style="position: fixed;width: 100%;bottom: 0;">
  <div class=""  *ngFor="let pop of popS.getPops();let i=index"  [className]="pop.type + ' notification-item'">
    <div class="notification-wrap">


      <p class="notification-text"><i class="material-icons notification-char">{{icon[pop.type]}}</i>{{pop.text|translate}}</p>



      <div class="notification-control">
        <button class="notification-button" *ngIf="pop.buttonUrl" [routerLink]="[pop.buttonUrl]">{{pop.buttonName | translate}}</button>
        <div class="hotification-icon" (click)="deleteNotify(pop._id);popS.getPops()">

          <i class="material-icons" >&#xE872;</i>
          <span>{{"btn.Delete" | translate}}</span>

        </div>
        <div class="hotification-icon" *ngIf="pop._id" (click)="popS.closePop(pop._id)" >
          <i class="material-icons close notification-close" >close</i>
          <span>{{"close" | translate}}</span>


        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="!slider"  class="notification-container" style="position: fixed;width: 100%;bottom: 0;">
<ngx-carousel [inputs]="carouselOne">
  <ngx-item *ngFor="let pop of popS.getPops();let i=index" NgxCarouselItem>
    <div   [className]="icon[pop.type] + ' notification-item'">
      <div class="notification-wrap">

        <p class="notification-text"><i class="material-icons notification-char">{{icon[pop.type]}}</i>{{pop.text|translate}}</p>



        <div class="notification-control flex">
          <button class="notification-button" *ngIf="pop.buttonUrl" [routerLink]="[pop.buttonUrl]">{{pop.buttonName | translate}}</button>
          <div class="notification-control-right">
            <div class="hotification-icon" (click)="deleteNotify(pop._id);popS.getPops()">
              <i class="material-icons" >&#xE872;</i>
              <span>{{"btn.Delete" | translate}}</span>

            </div>
            <div class="hotification-icon" *ngIf="pop._id" (click)="popS.closePop(pop._id)">
              <i class="material-icons close notification-close" >close</i>
              <span>{{"close" | translate}}</span>
            </div>
          </div>

        </div>



      </div>
    </div>
  </ngx-item>

  <button style="display: none !important" NgxCarouselPrev class='leftRs'>&lt;</button>
  <button style="display:none !important;" NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
</div>
