﻿<div class="column" *ngIf="uS.profile.Student">


    <div class="boxList">
        <a class="sideTitle" [routerLink]="['/messages']"> {{ 'left_menu.Messages' | translate }}<span
                class="mesengerUsb" *ngIf="mS.countNew>0">{{mS.countNew}}</span></a>
    </div>
  <!--<div class="boxList">-->
    <!--<a class="sideTitle"  (click)="popS.initPops()"> {{ 'sidebarInformation.Notifications' | translate }}<span-->
      <!--class="mesengerUsb act">{{popS.pops.length}}</span></a>-->
  <!--</div>-->
    <div class="boxList boxList-accord">
        <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'left_menu.Account' | translate }}</p>
        <div class="radio">
            <p class="minText"> {{ 'left_menu.Im_currently' | translate }}</p>

          <form action="">
            <input id="SbReady" name="Ready2sidebar" type="radio" [value]="1"  [(ngModel)]="uS.profile.Student.ready_to_work" (ngModelChange)="ready_to_work($event)">
            <label for="SbReady"><span></span>
                <p class="radio__text">{{ 'left_menu.interested_in_work' | translate }}</p></label>

          <input id="SbnotReady" name="Ready2sidebar" type="radio" [value]="0" [(ngModel)]="uS.profile.Student.ready_to_work" (ngModelChange)="ready_to_work($event)">
            <label for="SbnotReady"><span></span>
                <p class="radio__text">{{ 'left_menu.not_ready_to_work' | translate }}</p></label>
          </form>
        </div>
        <ul class="list__ul">
            <li class="list__li">
                <a [routerLink]="['/account/userdata']" [routerLinkActive]="['is-active']" class="list__link">{{ 'left_menu.User_Data' | translate }} <i
                        class="ic_warning_red icon icon" *ngIf="uS.GetPrsUserdataComplete() < 100"></i></a></li>
            <li class="list__li" *ngIf="!uS.profile.smartId">
                <a [routerLink]="['/account/verify']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Account_Verify' | translate }}
                  <i class='icon ic_warning_red' *ngIf="!uS.profile.smartId"></i>
                  <i class='icon ic_verified_user_birch' *ngIf="uS.profile.smartId"></i>
                </a></li>
            <li class="list__li">
                <a [routerLink]="['/account/settings']" class="list__link" [routerLinkActive]="['is-active']">{{ 'sidebarInformation.Account_Settings' |
                    translate
                    }} </a></li>
        </ul>
    </div>

    <div class="boxList boxList-accord ">
        <div class="sideTitle ptr" (click)="toggleAccordion($event)">{{ 'left_menu.Resume' | translate }}

          <a class="sideTitle">
            <app-progress-prc [prc]="getPrc(uS.profile.Student.resumes,uS.userDataComplited)"></app-progress-prc>
          </a>

        </div>
        <ul class="list__ul">
            <li class="list__li">
                <a [routerLink]="['/resume']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.My_CV' | translate }}</a></li>
            <li class="list__li">
                <a [routerLink]="['/cover-letters']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Cover_Letters' | translate }}</a>
            </li>
        </ul>
    </div>




    <div class="boxList boxList-accord active">
        <p class="sideTitle" (click)="toggleAccordion($event)">{{ 'left_menu.Tools' | translate }}</p>
        <ul class="list__ul">
            <li class="list__li">
                <a [routerLink]="['/vacancy/search']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Search_for_vacancies' |
                    translate }}</a></li>
            <li class="list__li">
                <a [routerLink]="['/saved-search']" class="list__link" [routerLinkActive]="['is-active']">{{
                    'left_menu.Saved_searches_and_alerts' | translate }}</a>
            </li>




            <li class="list__li">
                <a [routerLink]="['/account/bookmarked-vacancy']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Bookmarked_vacancies' |
                    translate
                    }}</a>
            </li>
            <li class="list__li">
                <a [routerLink]="['/vacancy/Submitted-applications']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Submitted_applications' |
                    translate }}</a>
            </li>
            <li class="list__li">
                <a [routerLink]="['/My-resume-views-statistics']" class="list__link" [routerLinkActive]="['is-active']">{{
                    'left_menu.My_resume_views_statistics' |
                    translate }}</a>
            </li>
            <li class="list__li">
                <a [routerLink]="['/student-companies-ratings']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.Companies’_rating' | translate
                    }}</a>
            </li>
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/FAQ-and-tips']" class="list__link" [routerLinkActive]="['is-active']">{{ 'left_menu.FAQ_and_tips' | translate }}</a>-->
            <!--</li>-->


            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/student-companies-ratings']" class="list__link" [routerLinkActive]="['is-active']">student-companies-ratings</a>-->
            <!--</li>-->
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/public-company-ratings-search']" class="list__link" [routerLinkActive]="['is-active']">public-company-ratings-search</a>-->
            <!--</li>-->
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/public-company-ratings.component']" class="list__link" [routerLinkActive]="['is-active']">public-company-ratings.component</a>-->
            <!--</li>-->
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/company-vacancies-applicants']" class="list__link" [routerLinkActive]="['is-active']">company-vacancies-applicants.component</a>-->
            <!--</li>-->
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/company-my-services.component']" class="list__link" [routerLinkActive]="['is-active']">company-my-services.component</a>-->
            <!--</li>-->
            <!--<li class="list__li">-->
                <!--<a [routerLink]="['/bookmarked-candidates']" class="list__link" [routerLinkActive]="['is-active']">bookmarked-candidates</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
