<div class="title-wrap">
  <p class="title">{{ 'account.User_data' | translate }}</p>
  <p *ngIf="!user.profile.smartId" class="fixText"><i class="material-icons orange"></i>
    {{ 'account.verified' | translate }}<a class="blueLink" [routerLink]="['/account/verify']">>{{ 'account.Fixverified' | translate }}</a></p>
</div>
<div class="boxSide userData" >
  <div class="userLine">
    <div class="userLine-left">
      <p class="sideTitle">{{"YouSignedFacebook" | translate}} {{user.profile.first_name}} {{user.profile.last_name}}</p>

    </div>
    <div class="userLine-right">
      <button class="button min light" *ngIf="oAuth" (click)="unsetOAuth()">{{"DisconnectAccount" | translate}}</button>
      <button class="button min light" *ngIf="!oAuth" (click)="user.setOAuth()">{{"Connect_account_to_Facebook" | translate}}</button>
    </div>
  </div>
  <div class="userData-line">
    <div class="userData-content">
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="first-name" class="textField">{{"inputLabel.First_name"| translate}}*</label>
          <input class="input" name="first-name" [attr.readonly]="oAuth ? '' : null" id="first-name" type="text" [readonly]="readonly" [maxLength]="20"  [(ngModel)]="first_name" >
        </div>
        <div class="userData-content-item">
          <label for="last-name" class="textField">{{"inputLabel.Last_name"| translate}}*</label>
          <input class="input" name="last-name" [attr.readonly]="oAuth ? '' : null" id="last-name" type="text" [readonly]="readonly" [maxLength]="30"  [(ngModel)]="last_name">
        </div>
        <div class="userData-content-item">
          <p class="textField">{{"inputLabel.Display_as"| translate}}</p>
          <div class="multipleSelect">
            <app-unity-select [readonly]="readonly" [title]="'Afanasij N.'" [arrIn]="[]"
                              (arrOut)="displayAs = $event"></app-unity-select>
          </div>
        </div>
      </div>
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="mobile-phone" class="textField">{{"inputLabel.Mobile_phone"| translate}}</label>
          <input class="input" name="mobile-phone" id="mobile-phone" [textMask]="{mask:dataService.phoneMask}" type="text"  [readonly]="readonly" [(ngModel)]="phone">
        </div>
        <div class="userData-content-item">
          <label for="email" class="textField">{{"inputLabel.E-mail"| translate}}</label>
          <input class="input" name="email" id="email" type="text"  [readonly]="readonly"
                 [textMask]="dataService.emailMask"
                 [maxLength]="70"
                 [value]="user.profile.email" [(ngModel)]="email">
        </div>
        <div class="userData-content-item">
          <p class="textField">{{"inputLabel.Pref_lang_comm"| translate}}</p>


            <app-unity-select
              [valueId]="user.profile.prefLang"
              [readonly]="readonly"
              [title]="'inputLabel.Pref_lang_comm'"
              [arrIn]="dataService.options.translaterDefault"
              (arrOut)="prefLang = $event">
            </app-unity-select>
          </div>

      </div>

    </div>
  </div>
  <div class="userData-line">
    <div class="userData-content">
      <p class="form-subTitle reset-spacing">{{"inputLabel.ChangePassword" | translate}}</p>
      <div class="userData-content-row">
        <div class="userData-content-item">
          <label for="currentPassword" class="textField">{{"inputLabel.CurrentPassword" | translate}}</label>
          <input  [minLength]="6" class="input" name="password"  id="currentPassword" type="password" [(ngModel)]="currentPass">
        </div>
        <div class="userData-content-item">
          <label for="password" class="textField">{{"inputLabel.Password" | translate}}</label>
          <input  [minLength]="6" class="input" name="password" id="password" type="password" [(ngModel)]="newPass">
        </div>
        <div class="userData-content-item">
          <label for="repeat-password" class="textField">{{"inputLabel.RepeatPassword" | translate}}</label>
          <input  [minLength]="6" class="input" name="repeat-password" id="repeat-password" type="text"
                  [(ngModel)]="repeatPass">
        </div>
      </div>
      <button class="button shaded min savePasswordChange" (click)="user.changePassword(currentPass,newPass,repeatPass)">{{"btn.Change" | translate}}</button>
    </div>
  </div>

  <!--<div class="userData-line">-->
    <!--<div class="userData-content">-->
      <!--<p class="form-subTitle">Company data</p>-->
      <!--<div class="userData-content-row">-->
        <!--<div class="userData-content-item">-->
          <!--<label for="Company-name" class="textField">Company name</label>-->
          <!--<input class="input" name="Company-name" id="Company-name" type="text"  [readonly]="readonly" [(ngModel)]="company_name">-->
        <!--</div>-->
        <!--<div class="userData-content-item">-->
          <!--<label for="Company-registration-code" class="textField">Company registration code</label>-->
          <!--<input class="input" name="Company-registration-code" id="Company-registration-code" type="number" [readonly]="readonly"   [(ngModel)]="company_code">-->
        <!--</div>-->

      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
  <div class="userData-line">
    <div class="userData-content">
      <p class="form-subTitle">{{"inputLabel.Address" | translate}}</p>
      <div class="userData-content-row">
        <div class="userData-content-item w100">

          <address-select
                  (Address)="Address=$event"
                  [addr]="Address"
                  [name]="'profile'"
          ></address-select>

        </div>

      </div>

    </div>
  </div>
  <div class="popapApply userData-popap">
    <button *ngIf="!readonly" class="button shaded min"  (click)="save()">{{"Save_my_data" | translate}}</button>
  </div>
  <disconnectFbModal
    (close)="disconnectFbModal=$event"
    [show]="disconnectFbModal"
  ></disconnectFbModal>

</div>
