<span *ngIf="getResumeName(vacancyId)!=''">
  {{'submitedResume'|translate}}:
  <span class="blueLink" [routerLink]="['/resume/details/',getResumeId(vacancyId)]">
    {{getResumeName(vacancyId)}}
  </span>
</span>
