.inputUrl-wrap .serch-icon {
  opacity: 1;
  z-index: 100;
}

//
//
//.inputUrl {
//  &.alert {
//    border-color: red !important;
//  }
//
//}

.inputUrl-wrap{
  position: relative;
  z-index: 11;
}
