<div class="inputUrl-wrap" (clickOutside)="result = [];arrInFinal=[]">
  <input [attr.disabled]="readonly ? 'disabled': null" [maxLength]="50" type="text" class="inputUrl" placeholder="{{(title?title:'EnterName') | translate}}"  [(ngModel)]="queryString" (keyup)="filter($event)">
  <span class="serch-icon" (click)="possibleBox = !possibleBox;"></span>

  <div class="possibleBox" [ngClass]="{active:result&&result.length > 0||arrIn&&arrInFinal.length > 0}">

    <ul class="possibleBox__ul" *ngIf="result">
      <li *ngFor="let item of result" ><a class="posLink" (click)="selectStr(item)">{{item}}</a></li>
    </ul>
    <ul class="possibleBox__ul" *ngIf="arrInFinal">
      <li *ngFor="let item of arrInFinal" ><a class="posLink" (click)="selectAr(item)">{{item.text | translate}}</a></li>
    </ul>
  </div>
</div>
