<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'vacancy.list_title'|translate}}</p>
    </div>
    <div class="row-wrap">
        <div class="sortPanel-wrap desNone">
            <div class="sortPanel__btn " (click)="mobFilter=!mobFilter"><i class="material-icons"></i> {{'Filters'|translate}}</div>
            <div class="filterSp " [ngClass]="{active:mobFilter}">
                <div class="vacancy-filter-indent">
                    <p class="textField">{{"vacancy.Vacancy_type" | translate}}</p>
                    <!--[all]="{text:'AllVacanciesType'| translate}"-->
                    <app-multiple-select
                            [typeOut]="0"

                            [title]="'AllVacanciesType' | translate"

                            [arrIn]="vacancyTypes"
                            (arrOut)="filters.vacancyType = $event"
                    ></app-multiple-select>
                </div>
                <div class="vacancy-filter-indent">
                    <p class="textField">{{"Projects" | translate}}</p>
                    <app-multiple-select
                            [keyOff]="['text']"
                            [typeOut]="0"
                            [title]="'all_projects'| translate"
                            [arrIn]="CompanyProjects"
                            (arrOut)="filters.project = $event"
                    ></app-multiple-select>
                </div>


            </div><!-- add active -->
        </div>

        <div class="col-v7 col-m10 col-p10 mobileNone">
            <div class="row-wrap">
                <div class="col-v4 col-t5 col-p10">
                    <app-multiple-select
                      [typeOut]="0"
                      [title]="'AllVacanciesType' | translate"
                      [arrIn]="vacancyTypes"
                      (arrOut)="filters.vacancyType = $event"
                    ></app-multiple-select>
                </div>
                <div class="col-v4 col-t5 col-p10">
                    <app-multiple-select
                      [typeOut]="0"
                      [title]="'all_projects'"
                      [arrIn]="CompanyProjects"
                      (arrOut)="filters.project = $event"
                    ></app-multiple-select>
                </div>
            </div>
        </div>
        <div class="col-v3 col-m10 col-p10 right">
            <button class="button shaded min" (click)="router.navigate(['/vacancy/create/new']);">{{'input.Create_new_vacancy'|translate}}</button>
        </div>
    </div>
  <div *ngFor="let vacancy of uS.profile.Company.vacancy;let i = index" >
    <div class="vacantBox norm"
         *ngIf="(filters.project.length==0||filters.project.indexOf(vacancy.projectID)>-1)
         &&(filters.vacancyType.length==0||filters.vacancyType.indexOf(vacancy.type)>-1)"
    >
      <div class="row-wrap">
        <div class="col-v6 col-m10 col-p10">
          <div class="topLine-vb">
            <p class="title" style="cursor: pointer" >{{vacancy.positionTitle}}</p>
            <span class="allocateText lightGreen-bc" *ngIf="isPromot(vacancy)==true" (click)="modalPromo[vacancy._id]=!modalPromo[vacancy._id]"><i class="material-icons">&#xE876;</i>{{'Paid_promotion'|translate}}</span>
            <span class="allocateText transparent-bc" *ngIf="isPromot(vacancy)==false" (click)="modalPromo[vacancy._id]=!modalPromo[vacancy._id]" >$ {{'Apply_Paid_promotion'|translate}}</span>
              <app-services-instructions-promo
                class="promotionModal promo"

                *ngIf="modalPromo[vacancy._id]"
                [vacancy]="vacancy"
                (onclose)="modalPromo[vacancy._id] = false"
              >

              </app-services-instructions-promo>


          </div>
          <div class="parameterVb">
            <p class="vacantBox__text">{{'options.vacancyType'|translate}}:
              <span class="vacantBox__boldText">{{dS.getOptionsFromId('vacancyType',vacancy.type).text|translate}}</span>
            </p>
            <p class="vacantBox__text">{{'options.occupationField'|translate}}:
              <span class="vacantBox__boldText">{{dS.getOptionsFromId('occupationField',vacancy.occupationField).text|translate}}</span>
            </p>
            <p class="vacantBox__text" *ngIf="vacancy.address">{{'options.Location'|translate}}:
              <span class="vacantBox__boldText inline">{{vacancy.address}}</span>
            </p>
            <div class="vacantBox__text indent" *ngIf="vacancy.keySkills&&vacancy.keySkills.length>0">{{'options.key_skills'|translate}}:
              <div class="selInsert-wrap disable" *ngFor="let keys of vacancy.keySkills">
                <div class="selInsert">{{keys.text|translate}}</div>
              </div>
            </div>
            <div class="duplicateLg">
              <img src="/assets/img/flag/{{dS.getOptionsFromId('languages',vacancy.languageID).value}}.png" alt="">
              <div class="duplicateLg__text">{{dS.getOptionsFromId('languages',vacancy.languageID).text|translate}}
                <!--<a class="blueLink">Duplicate on other languages</a>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-v4 col-m10 col-p10">
          <div class="flexCol 111"
               *ngIf="vacancy.type_temp==1">
            <div class="setcicBox-wrap" (click)="checkRout('/vacancy/applist', vacancy._id,2)">
              <p>{{'Total_applicants'|translate}}</p>
              <div class="setcicBox" [ngClass]="{'active': uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id}) }">
                <p>{{uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id})}}</p>
              </div>
            </div>
            <div class='setcicBox-wrap' (click)="checkRout('/vacancy/applist', vacancy._id,0)">
              <p>{{'New_applicants'|translate}}</p>
              <div class='setcicBox '  [ngClass]="{'active': uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id,isnew:0}) }">
                <p>{{uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id,isnew:0})}}</p>
              </div>
            </div>
            <div class='setcicBox-wrap' (click)="checkRout('/vacancy/applist', vacancy._id,1)">
              <p> {{'Unread_applicants'|translate}}</p>
              <div class='setcicBox ' [ngClass]="{'active': uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id,isview:0}) }">
                <p>{{uS.profile.subscribeCandidate.countObjectfromVal({vacancyId:vacancy._id,isview:0})}}</p>
              </div>
            </div>
          </div>
          <div class="checkbox indent" *ngIf="vacancy.type_temp==1"  >
            <input id="type314_{{vacancy._id}}" type="checkbox" name="check_{{vacancy._id}}" (ngModelChange)="changeNotify($event,vacancy._id,i)" [(ngModel)]="vacancy.notify">
            <label for="type314_{{vacancy._id}}"><span class="checkbox__box"></span>
              <p class="checkbox__text">{{'Notify_new_appl_email'|translate}}</p></label>
          </div>
            <div>
                <p class="textField">{{'Projects'|translate}}</p>
                <app-unity-select
                        [valueId]="vacancy.projectID"
                        [title]="'Projects'|translate"
                        [arrIn]="CompanyProjects"
                        (arrOut)="uS.accessPackage.projBmark ? setProject(vacancy._id,$event.id,uS.profile.Company.vacancy.indexObject('_id',vacancy._id)) : popUp.show_info(dS.getOptionsFromId('errors',10).text)"
                ></app-unity-select>
            </div>

        </div>
      </div>
      <div class="bottomLine-vb" >
        <div class="row-wrap">
          <div class="col-v2 col-t5 col-m5 col-p5 indent">
            <p class="requestSent text12" (dblclick)="view_varible=!view_varible">{{'Created'|translate}}: {{ dS.dateConvert(vacancy.created_at) | date: 'dd.MM.yyyy'}}</p>
            <p class="requestSent text12" *ngIf="vacancy.deadLine&&vacancy.deadLine">
              <!--<i class="material-icons  indent"-->
                 <!--[ngClass]="{'red':dS.options.server_time>(vacancy.deadLine-86400*10)}"-->
              <!--&gt;&#xE01B;</i>-->

              <!--{{'published_at'|translate}}: {{ dS.dateConvert(vacancy.published_at) | date: 'dd.MM.yyyy'}}-->
              {{'Deadline'|translate}}: {{ dS.dateConvert(vacancy.deadLine) | date: 'dd.MM.yyyy'}}
            </p>
            <p *ngIf="view_varible" class="requestSent text12">_id: {{ vacancy._id}}</p>
            <p *ngIf="view_varible" class="requestSent text12">published_at: {{ dS.dateConvert(vacancy.published_at) | date: 'dd.MM.yyyy HH:mm:ss'}}</p>
            <p *ngIf="view_varible" class="requestSent text12">edit: {{ vacancy.edit}}</p>
            <p *ngIf="view_varible" class="requestSent text12">proof: {{ vacancy.proof}}</p>
            <p *ngIf="view_varible" class="requestSent text12">publish: {{ vacancy.publish}}</p>
            <p *ngIf="view_varible" class="requestSent text12">type_temp: {{ vacancy.type_temp}}</p>
            <p *ngIf="view_varible" class="requestSent text12">deleted_at: {{ vacancy.deleted_at}}</p>
            <p *ngIf="view_varible" class="requestSent text12">getUnixTimestamp: {{ dS.dateConvert(hS.getUnixTimestamp()) | date: 'dd.MM.yyyy HH:mm:ss'}}</p>



            <!--<exp-deadline  [dateTime]="vacancy.deadLine"></exp-deadline>-->
            <!--<p class="requestSent text12" *ngIf="vacancy.published_at&&vacancy.published_at">{{'published_at'|translate}}: {{ dS.dateConvert(vacancy.published_at) | date: 'dd.MM.yyyy'}}</p>-->
          </div>
          <div class="col-v4 col-t5 col-m5 col-p5 paddingP-0 switcher-wrap-flex">
              <div class="switcher-wrap-flex-left">


                  <switch-toggle *ngIf="
                  vacancy.proof==2
                  &&vacancy.edit==false
                  &&vacancy.type_temp==1
                  &&vacancy.deadLine>hS.getUnixTimestamp()&&
                  vacancy.published_at>hS.getUnixTimestamp()"
                                 [defaultInput]="vacancy.publish"
                                 [trueTitle]="'Published'|translate"
                                 [falseTitle]="'Hidden'|translate"

                                 (checkedState)="vS.changePublish($event,vacancy)">

                  </switch-toggle>

                  <button
                    class="text-ic margin_not"
                    *ngIf="
                    vacancy.type_temp==1&&
                    vacancy.proof==0
                    "
                    (click)="vS.changePublish(true,vacancy)"
                  >
                      <i class='icon baseline-publish'></i>
                      <p class="text-ic__text">{{'btn.Publish'|translate}}</p>
                  </button>
                <button
                  class="text-ic margin_not"
                  *ngIf="
                    vacancy.type_temp==2&&
                    vacancy.proof==0
                    "
                  (click)="vS.changePublish(true,vacancy)"
                >
                  <i class='icon baseline-publish'></i>
                  <p class="text-ic__text">{{'btn.Submit'|translate}}</p>
                </button>
                  <button class="text-ic margin_not"
                          (click)="vS.changePublish(true,vacancy);"
                          *ngIf="
                          vacancy.proof==2
                    &&vacancy.published_at<hS.getUnixTimestamp()
                    " >
                      <i class='icon autorenew-black'></i>
                      <p  class="text-ic__text">{{'btn.Re-publish'|translate}}</p>
                  </button>


              </div>
              <div class="switcher-wrap-flex-right">
                  <span *ngIf="(vacancy.proof==0)">
                      <i class='icon ic_access_time_black'></i>
                    <p class="text-ic__text">{{"btn.inProcess" | translate}}</p>
                    </span>
                  <span *ngIf="vacancy.proof==1&&vacancy.publish == true">
                  <i class='icon ic_timer_black'></i>
                  <p class="text-ic__text">{{"btn.underModeration" | translate}}</p>
                  </span>
              </div>
          </div>
          <div class="col-v4 col-t10 col-m10 col-p10">
            <div class="right">
              <button class="text-ic" *ngIf="vacancy.type_temp == 1"  (click)="setDublicatVacancy(vacancy);" >
                <i class='icon copy-content-black'></i>
                <p class="text-ic__text">{{'btn.dublicate'|translate}}</p>
              </button>
              <button class="text-ic" *ngIf="vacancy.type_temp==1" [routerLink]="['/vacancy/details',vacancy._id]" >
                <i class='icon remove_eye_black'></i>
                <p class="text-ic__text">{{'btn.View'|translate}}</p>
              </button>
              <button class="text-ic"  (click)="setEditVacancy(vacancy);">
                <i class="icon edit-black"></i>
                <p class="text-ic__text">{{'btn.Edit'|translate}}</p>
              </button>
              <button class="text-ic" (click)="cS.deleteVacancy(vacancy._id,i)">
                <i class='icon delete-forever-black'></i>
                <p class="text-ic__text">{{'btn.Delete'|translate}}</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
