//.bottomLine-vb i {
//  margin: 0;
//}
.bottomLine-vb .right {
  .text-ic{
    //margin-left: 19px;
    margin-left: 8px;
    &:first-child{
      margin-left: 0;
    }
  }
}
.button.shaded.min {
  display: inline-block;
}
.textField{
  color: #666666;
}
.checkbox.indent {
  line-height: 1;
  margin: 30px 0 25px;
}

.vacancy-filter-indent {
  &:first-child {
    margin-bottom: 20px;
  }
}
.vacantBox .title {
 width: 100%;
}
//@media(max-width: 370px) {
//  .switcher-wrap-flex-right span,
//  .switcher-wrap-flex-left span{
//    display: block;
//    text-align: center;
//  }
//  .switcher-wrap-flex-left button i,
//  .switcher-wrap-flex-right span i{
//    display: block;
//    margin: 0 auto !important;
//    text-align: center;
//  }
//}


.requestSent {
  color: #7E7E7E;
}

.switcher-wrap-flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 980px) {
    padding-right: 0 !important;
  }
}

.margin_not {
  margin-top: 0 !important;
}

.switcher-wrap-flex-left {
  padding-right: 7px;
}

.promotionModal {
  position: absolute;
  z-index: 1000;
  background: #fff;
  top: calc(100% + 15px);
  left: -10px;
  width: 600px;
  //display: none;
}

.lightGreen-bc{
  cursor: pointer;
}
.allocateText{
  vertical-align: top;
  margin-top: 4px;
  position: relative;
}
.promotionModal .button.shaded {
  border: 1px solid #00C3F1;
  padding: 11px 10px;

  &:hover{
    border: 1px solid #0092B2;
  }
}

.allocateText.lightGreen-bc:hover:before, .allocateText.transparent-bc.active:before{
  display: none !important;
}
.allocateText.transparent-bc.active:before, .allocateText.lightGreen-bc:hover:before {
  content: '';
  background-image: url('/assets/img/triangle.png');
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: auto;
  opacity: 0.7;
  top: calc(100% + 27px);
  z-index: 10000;

}

.vacantBox > .row-wrap .topLine-vb  .lightGreen-bc:hover ~ .promotionModal.hover{
  display: block;
}
.vacantBox > .row-wrap .topLine-vb  .lightGreen-bc:hover ~ .promotionModal.active ~ .promotionModal.hover{
  display: none;
}
.vacantBox > .row-wrap .topLine-vb  .lightGreen-bc ~ .promotionModal.active{
  display: block;
}
.transparent-bc{
  cursor: pointer;
}
.triangleIcon {
  right: 59.5%;
  left: 0;
}
.topLine-vb{
  margin-bottom: 20px;
}

.text12{
  color: #7E7E7E;	font-size: 12px;	line-height: 14px;
}

.vacantBox * .parameterVb > .indent {
  margin-top: 20px;
  margin-bottom: 18px;
}

@media screen and (max-width: 1100px){
  .bottomLine-vb .right {
    .text-ic{
      margin-left: 9px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 980px){
  .parameterVb {
    padding-bottom: 20px;
  }
  .text-ic {
    margin-top: 20px;
  }
  .promotionModal {
    width: 540px;
  }

  .bottomLine-vb {
    .right{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;
      .text-ic{
        margin-left: 0px;
        &:first-child{
          margin-left: 0;
        }
      }
    }

  }
}

@media screen and (max-width: 800px){
  .bottomLine-vb {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
  }
  .button.shaded.min {
    display: block;
    margin-top: 15px;
  }
  .promotionModal {
    width: 510px;

    .discountBox-wrap{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}


@media screen and (max-width: 640px){
  .button.shaded.min {
    display: block;
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
  .sortPanel-wrap {
    text-align: left;
    padding-top: 0;
  }
  .bottomLine-vb {
    margin-top: 20px;
  }
  .vacantBox * .parameterVb > .indent {
    margin-bottom: 25px;
  }
  .paddingP-0{
    padding: 0;
  }
  .paddingP-0 .text-ic {
    width: calc(100% + 5px);
    margin: 0;
  }

  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: auto;
  }
}
