<div class="row">
  <sidebar-link [componentData]="component.componentSidebarLink" class="sidebar" ></sidebar-link>
  <div class="sideContent">
    <div class="title-wrap">
      <p class="title">{{'Match.title'|translate}}</p>
    </div>
    <app-resume-list-modules
            *ngIf="resumeIds.length != 0"
            [access]="uS.accessPackage.applicants"
            [resumeIds] = "resumeIds"
            [btnNotes]="false"
            [btnView] = "true"
            [btnCoverLetter]="false"
    ></app-resume-list-modules>
  </div>
</div>


