<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{"VerifyAccount" | translate}}</p>
    </div>
    <div class="boxSide">
        <div class="boxSide-item">
            <div class="lampText min indent" *ngIf="uS.profile.type_profile=='Company'">{{"verifyAccountDescription.Company" | translate}}</div>
            <div class="lampText min indent" *ngIf="uS.profile.type_profile=='Student'">{{"verifyAccountDescription.Student" | translate}}</div>
            <div class="lampText min indent" *ngIf="uS.profile.type_profile=='Organization'">{{"verifyAccountDescription.Organization" | translate}}</div>
            <div class="lampText min indent" *ngIf="uS.profile.type_profile=='Educator'">{{"verifyAccountDescription.Educator" | translate}}</div>
        </div>
        <div class="boxSide-item" *ngIf="!uS.profile.smartId">
            <div class="row-wrap">
                <div class="verify-text w100">
                  <span class="sideTitle">
                    {{"UsingIDCard" | translate}}
                  </span>
                </div>
                <button class="button shaded min inline"   (click)="hS.startSmartIdLogin()">{{'VerifyAccount'|translate}}</button>
                <!--<img class="id-img" (click)="hS.startSmartIdLogin()" src="/assets/img/mobiil-id.png" alt="">-->

            </div>

        </div>
      <div class="boxSide-item" style="width: 100%" *ngIf="uS.profile.smartId">


            <p class="sideTitle">idcode: {{uS.profile.smartId.idcode}}</p>
            <p class="sideTitle">firstname: {{uS.profile.smartId.firstname}}</p>
            <p class="sideTitle">lastname: {{uS.profile.smartId.lastname}}</p>
            <p class="sideTitle">email: {{uS.profile.smartId.email}}</p>






      </div>
        <div class="boxSide-item" style="display: none">

            <div class="verify-text indentTf"><p class="sideTitle">{{"UsingMobileID" | translate}}</p></div>
            <div class="verify-input">
                <p class="textField">{{"inputLabel.Isikukood" | translate}}</p>
                <input type="text" class="input border">
            </div>
            <div class="verify-input">
                <p class="textField">{{"inputLabel.YourPhoneNumber" | translate}}</p>
                <input type="number" class="input border">
            </div>
            <img class="id-img indentTf" src="/assets/img/mobiil-id.png" alt="">

        </div>
        <div class="boxSide-item" style="display: none">

            <p class="sideTitle">{{"UsingBankAccount" | translate}}</p>

            <div class="img-brand-wrap">
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
                <div class="img-brand">
                    <img src="/assets/img/Swedbank_logo_logotype_emblem.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
