.row-wrap > div {
  vertical-align: middle;
}
.verify-input{
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  margin-right: 20px;
}
.verify-text {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  &.w100{
    width: 100%;
    margin-bottom: 15px;
    display: block;
  }

  //display: flex;
  //justify-content: space-between;
  //width: 100%;
  //align-items: center;
}
.verify-input .input {
  min-width: 100%;
  max-width: 100%;
}
.textField{
  color: #666666;
}

@media (max-width: 980px) {
  .verify-text.indentTf{
    display: block;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 800px) {
  .verify-text.indentTf{
    margin: 0 0 10px 0;
  }
  .indentTf {
    margin-top: 10px;
  }

}
@media (max-width: 640px) {
  .verify-text, .verify-text.indentTf {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }
  .sideTitle{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .verify-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
