.sideContent {
  width: 100%;
}

.boxSide-item {
  padding: 25px 30px 35px 30px;
}

.lampText {
  max-width: 100%;
}


.sideSubTitle {
  font-weight: 500;
  margin-bottom: 20px;

  &.indent {
    margin: 30px 0 15px;
  }
}

.lampText.indnet {
  margin-bottom: 30px;
}

.row-wrap > div {
  vertical-align: middle;
}

.viewRating .button {
  max-width: 300px;
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
  border: 1px solid #00C3F1;
  margin: 0 auto;

  &.shaded {
    padding: 15px 10px;
  }
  &.shaded:hover {
    border: 1px solid #0092B2;
  }
}

.icon.ic_visibility_off_gray{
  width: 40px;
  height: 33px;
}

.eyes-ic-wrap{
  margin: 0 40px 0 0;
  text-align: center;
  width: 130px;
  display: inline-block;
  vertical-align: middle;
}

.vacantBox__boldText {
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
  line-height: 19px;
  display: block;
}

.viewRating {
  .vacantBox__logo, .rating-wrap {
    display: inline-block;
    vertical-align: middle;
  }
  .rating-wrap {
    margin: 0;
  }
}

.vacantBox__logo {
  max-width: 130px;
  margin-right: 40px;
}

.viewRating {
  border-top: 1px solid #E5E5E5;
  padding: 15px 0;
  position: relative;

  &:last-child{
    border-bottom: 1px solid #E5E5E5;
  }
}

.viewRating.ad{
  border-top: 3px solid #00C3F1;
  border-bottom: 3px solid #00C3F1;
  margin-top: -3px;

}

.adBox {
  position: absolute;
  display: none;
}

.viewRating.ad .adBox{
  display: block;
}

@media screen and (max-width: 1120px){
  .sideContent {
    padding: 0 20px;
  }
}


@media screen and (max-width: 1100px) {

  .vacantBox__logo {
    margin-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .viewRating .button {
    margin: 20px auto 0;
  }
  .vacantBox__boldText {
    display: inline-block;
  }
}

@media screen and (max-width: 640px) {
  .sideContent {
    padding: 0;
  }
  .boxSide-item {
    padding: 25px 0 0px 0;
  }
  .sideSubTitle, .viewRating{
    padding-left: 20px;
    padding-right: 20px;
  }

  .inputUrl-wrap, .lampText{
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
  .vacantBox__boldText {
    display: block;
    width: 100%;
  }
  .viewRating .button {
    max-width: 100%;
    padding: 15px 10px;
    font-size: 14px;
    margin-top: 10px;

    &.shaded {
      padding: 15px 10px;
    }
  }

  .vacantBox__logo {
    margin-right: 10px;
    max-width: 109px;
  }

}