<div class="sideContent">
    <div class="title-wrap ">
        <div class="title">Companies' rating</div>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <p class="lampText min indnet">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
            </p>
            <p class="sideSubTitle">Search for another company to rate it</p>

            <input-search-autocomplete [result]="arrCompanies" (query)="getData($event, 0)" (queryFull)="getData($event, 1)"></input-search-autocomplete>

            <p class="sideSubTitle indent">Search results:</p>

            <div class="viewRating-wrap">
                <div class="viewRating" *ngFor="let item of arrFullCompanies">
                    <!--<div class="adBox">ad</div> голубая рамка ad-->
                    <div class="row-wrap">
                        <div class="col-v4 col-t10 ">
                            <div class="eyes-ic-wrap" >
                                <i class='icon ic_visibility_off_gray'></i>
                                <p class="minText grey">No logo</p>
                            </div>
                            <!--<img alt="" class="vacantBox__logo" src="/assets/img/logo/mcdonald-s-15.svg">-->
                            <div class="rating-wrap">
                                <p class="vacantBox__boldText">{{item.Company.public.nameCompany}}</p>
                                <rating-star [ratingValue]="item.Company.rating" [dieStar]="false"></rating-star>
                            </div>
                        </div>
                        <div class="col-v3 col-t5 col-p10">
                            <button class="button">View company detailed rating</button>

                        </div>
                        <div class="col-v3 col-t5  col-p10">
                            <button class="button shaded">Rate company and leave feedback</button>
                        </div>
                    </div>
                </div>
            </div>




    </div>

    <div  class="pagination">

        <div  class="pgLink prev status_0"><i class="material-icons">&#xE5C4;</i>Previous</div>

        <ul  class="pagination__ul">
            <li  class="status_2">1</li>
            <li  class="status_1">2</li>
            <li  class="status_1">3</li>

            <li  class="status_0">...</li>

            <li  class="status_1">23</li>

        </ul>

        <div  class="pgLink next status_2">Next<i class="material-icons">&#xE5C8;</i></div>

    </div>
</div>
