<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{"sidebarInformation.Subaccounts" | translate}}</p>
    </div>

    <div class="lampText min">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    </div>
    <p class="sideTitle indent">You own main account for Google Corporation LTD</p>

    <div class="subacountBox">
        <p class="minTilt">{{"Subaccounts.InvitePeopleYourCompany" | translate}}</p>
        <div class="boxSide">
            <div class="boxSide-item">
                <div class="textSb-wrap">
                    <p class="textField">{{"inputLabel.First_name" | translate}}</p>
                    <input class="input border" type="text" [readonly]="readonly" [(ngModel)]="Subaccount.first_name">
                  <p class="textField">{{"inputLabel.Last_name" | translate}}</p>
                  <input class="input border" type="text" [readonly]="readonly" [(ngModel)]="Subaccount.last_name">
                </div>
                <div class="selectSb-wrap">
                  <p class="textField">{{"inputLabel.E-mail" | translate}}</p>
                  <input class="input border" type="text" [readonly]="readonly" [(ngModel)]="Subaccount.email">
                  <p class="textField">{{"inputLabel.Password" | translate}}</p>
                  <input class="input border" type="text" [readonly]="readonly" [(ngModel)]="Subaccount.password">
                </div>
              <div class="selectSb-wrap">
                <div class="textField">{{"TypeAccess" | translate}}
                  <div class="btnTell-wrap">
                    <i class="material-icons btnTell">&#xE88E;</i>
                    <div class="tellBox">{{"settings.deac_text" | translate}}</div>
                  </div>
                </div>
                <app-unity-select [readonly]="readonly" [title]="''" [arrIn]="dataService.options.shortAccess"
                                  (arrOut)="Subaccount.access = $event.id"></app-unity-select>
              </div>
                <div class="statusSb-wrap" *ngIf="!readonly">
                    <button class="button shaded min" (click)="createSubaccount()">{{"btn.Create" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="subacountBox">
        <p class="minTilt">{{"AdditionalAccountsYourCompany" | translate}}</p>
        <div class="boxSide" *ngFor="let user of userService.profile.subaccounts;let i = index">
             {{user.first_name}} {{user.last_name}}
        </div>

    </div>

</div>
