<div class="filterSd mobileNone">
    <div class="btnTabs-wrap">
        <button class="btnTabs down"
                [ngClass]="{'up':btns['rating']==2,'down':btns['rating']==1,'':btns['rating']==0}"
                (click)="sortVacancy('rating');">
            <span class="btnTabs__text">{{'Rating'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
        <button class="btnTabs"
                [ngClass]="{'up':btns['user.birthday']==2,'down':btns['user.birthday']==1,'':btns['user.birthday']==0}"
                (click)="sortVacancy('user.birthday');">
            <span class="btnTabs__text">{{'Age'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
        <button class="btnTabs"
                [ngClass]="{'up':btns['recommends']==2,'down':btns['recommends']==1,'':btns['recommends']==0}"
                (click)="sortVacancy('recommends');">
            <span class="btnTabs__text">{{'resume.recomm'|translate}}</span>
            <span class="btnTabs__arr"></span>
        </button>
    </div>
</div>

<!-- + sortPanel-wrap -->
<div class="sortPanel-wrap desNone">
    <div class="sortPanel__btn" (click)="openFilter = !openFilter; shadowBody()"><i class="material-icons">&#xE429;</i>
        {{'Filters'|translate}}
    </div>
    <div (click)="comp=!comp; compact.emit(comp)" class="sortPanel__btn view" [ngClass]="{'headline':comp,'module':!comp}" *ngIf="viewCompact">
        <!-- headline-(иконка полная карточка) или module-(иконка сокращенная карточка) -->
        <i class='icon material-icons headline-icon ic_view_headline_black'></i>
        <i class='icon material-icons module-icon ic_view_module_black'></i>
        <span *ngIf="comp">{{'Compact_view'|translate}}</span>
        <span *ngIf="!comp">{{'Detailed_view'|translate}}</span>
    </div>

    <div class="filterSp" [ngClass]="{'active':openFilter}"><!-- active -->
        <p class="title">{{'Sort_by'|translate}}:</p>
        <div class="filterSp-wrap">
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Rating'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('rating',2);"
                     [ngClass]="{'status3':btns['rating']==2,'':(btns['rating']==1 || btns['rating']==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('rating',1);"
                     [ngClass]="{'status2':(btns['rating']==2 || btns['rating']==0),'status4':btns['rating']==1}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
            <div class="filterSp-item">
                <p class="filterSp__text">{{'Age'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('user.birthday',2);"
                     [ngClass]="{'status3':btns['user.birthday']==2,'':(btns['user.birthday']==1 || btns['user.birthday']==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('user.birthday',1);"
                     [ngClass]="{'status2':(btns['user.birthday']==2 || btns['user.birthday']==0),'status4':btns['user.birthday']==1}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
            <div class="filterSp-item">
                <p class="filterSp__text">{{'resume.recomm'|translate}}</p>
                <div class="filterSp__btn"
                     (click)="sortVacancy('recommends',2);"
                     [ngClass]="{'status3':btns['recommends']==2,'':(btns['recommends']==1 || btns['recommends']==0)}"
                ><i class="material-icons">&#xE5D8;</i></div>
                <div class="filterSp__btn"
                     (click)="sortVacancy('recommends',1);"
                     [ngClass]="{'status2':(btns['recommends']==2 || btns['recommends']==0),'status4':btns['recommends']==1}"
                ><i class="material-icons">&#xE5D8;</i></div>
            </div>
        </div>

        <div class="button shaded" (click)="searchResume(); openFilter=false; shadowBody(true)">{{'Filter'|translate}}</div>
    </div>
</div>
<!-- - sortPanel-wrap -->
