
<app-modal-recommendation
  [openModal]="openModal"
  [modalRecomm]="modalRecomm"
  (closeModal)="openModal = $event"
></app-modal-recommendation>




<div class="step step-resumeRecomendation">
  <div class="resumeRecomendation-block main">
    <div class="resumeRecomendation-blockTop">
      <p class="sideTitle">{{'resume.yrecomm'|translate}}</p>
      <div class="lampText">{{'resume.yrecommDesk'|translate}}</div>
    </div>
    <div class="res-recomendGroup">
      <div class="recomendGroup-header">
        <p class="sideSubTitle">{{'Your_educators'|translate}} ({{reqommendationData[0].length}})</p>
        <button (click)="mRequest_educators=true" class="button shaded small">{{'btn.Request_recommendation'|translate}}</button>
      </div>
      <div class="recomendGroup-item" *ngFor="let item of reqommendationData[0]">
        <div class="recomendGroup-itemTop" >
          <p class="sideTitle">{{item.email}}</p>
          <p class="sideTitle" *ngIf="uS.users[item.educatorId]">
            <i *ngIf="uS.users[item.educatorId].proof==0" class='service-icon verify'></i>
            <i *ngIf="uS.users[item.educatorId].proof==1" class='icon ic_check_circle_gren'></i>
            {{uS.getUserName(item.educatorId,0)}}</p>
          <div class="itemTop-wrap">
            <div class="itemTop-wrapLeft" *ngIf="uS.users[item.educatorId]">
              <p class="name">{{'resume.OrgName'|translate}}: </p>
              <p class="value" *ngIf="item.school">{{item.school.addr}}</p>
              <p class="value" *ngIf="item.email">{{item.email}}</p>
            </div>
            <div class="itemTop-wrapRight">
              <div class="rseItem">
                <p class="name">{{'Date'|translate}}:</p>
                <p class="value">{{ dS.dateConvert(item.created_at) | date: 'dd.MM.yyyy'}}</p>
              </div>
              <div class="rseItem">
                <p class="name">{{'Initiator'|translate}}:</p>
                <p class="value" *ngIf="item.req==0">{{'Me'|translate}}</p>
                <p class="value" *ngIf="item.req==1">{{'Educator'|translate}}</p>

              </div>
              <div class="rseItem" [ngClass]="{'w50':item.status==0}">
                <p class="name">{{'Status'|translate}}:</p>
                <p class="value">
                                        <span class="okay">
                                          <i *ngIf="item.status==2" class='material-icons red'></i>
                                          <i *ngIf="item.status==1" class='service-icon completed'></i>
                                          <i *ngIf="item.status==0" class='icon invited-grey'></i>
                                          <span *ngIf="item.status==0">{{'Pending_response'|translate}}</span>
                                          <span *ngIf="item.status==1">{{'OK'|translate}}</span>
                                          <span *ngIf="item.status==2">{{'NO'|translate}}</span>
                                        </span>
                </p>
              </div>
              <div class="rseItem" *ngIf="item.status==1">
                <p class="name">{{'Rating'|translate}}:</p>

                <rating-star [select]="false" [starResult]="false" [dieStar]="false" [ratingValue]="calcRating(item)"></rating-star>
              </div>
            </div>

          </div>
        </div>
        <div class="recomendGroup-itemBottom">
          <switch-toggle
            *ngIf="item.status==1"
            [defaultInput]="item.visibility"
            [trueTitle]="'Visible'|translate"
            [falseTitle]="'Hidden'|translate"
            (checkedState)="checkVis(item._id,0,$event)"
          ></switch-toggle>
          <span class="delete-icon " *ngIf="item.status!=1"  (click)="deleteRec(item._id,0)">
                            <i class="material-icons action-icon">&#xE872;</i>
                            {{'btn.Delete'|translate}}
                        </span>
          <button class="text-ic" *ngIf="item.status==1" (click)="openModal = !openModal;modalRecomm = item" >
            <i class="icon remove_eye_black"></i>
            <p class="text-ic__text">{{'btn.View'|translate}}</p>
          </button>
        </div>
      </div>

    </div>
    <div class="res-recomendGroup">
      <div class="recomendGroup-header">
        <p class="sideSubTitle"> {{'Your_employers'|translate}}({{reqommendationData[1].length}})</p>
        <button (click)="mRequest_company=true" class="button shaded small">{{'btn.Request_recommendation'|translate}}</button>
      </div>
      <div class="recomendGroup-item" *ngFor="let item of reqommendationData[1]">
        <div class="recomendGroup-itemTop" >
          <p class="sideTitle">{{item.name}}</p>
          <div class="itemTop-wrap">
            <div class="itemTop-wrapLeft">
              <p class="name">{{'resume.OrgName'|translate}}: </p>
              <p class="value">{{item.workExpId}}</p>
            </div>
            <div class="itemTop-wrapRight">
              <div class="rseItem">
                <p class="name">{{'Date'|translate}}:</p>
                <p class="value">{{dS.dateConvert(item.created_at) | date: 'dd.MM.yyyy'}}</p>
              </div>
              <div class="rseItem">
                <p class="name">{{'Initiator'|translate}}:</p>
                <p class="value" *ngIf="item.req==0">{{'Me'|translate}}</p>
                <p class="value" *ngIf="item.req==1">{{item.name}}</p>
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Company'">Company</p>-->
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Organization'">Organization</p>-->
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Educator'">Educator</p>-->

              </div>
              <div class="rseItem" [ngClass]="{'w50':item.status==0}">
                <p class="name">{{'Status'|translate}}:</p>
                <p class="value">
                                        <span class="okay">
                                          <i *ngIf="item.status==1" class='service-icon completed'></i>
                                          <i *ngIf="item.status==0" class='icon invited-grey'></i>
                                            <span *ngIf="item.status==1">{{'OK'|translate}}</span>
                                          <span *ngIf="item.status==0">{{'Pending_response'|translate}}</span>
                                        </span>
                </p>
              </div>
              <div class="rseItem" *ngIf="item.status==1" >
                <p class="name">{{'Rating'|translate}}:</p>
                <rating-star [select]="false" [starResult]="false" [dieStar]="false" [ratingValue]="calcRating(item)"></rating-star>
              </div>
            </div>

          </div>
        </div>
        <div class="recomendGroup-itemBottom">
          <switch-toggle
            *ngIf="item.status==1"
            [defaultInput]="item.visibility"
            [trueTitle]="'Visible'|translate" [falseTitle]="'Hidden'|translate" (checkedState)="checkVis(item._id,1,$event)"></switch-toggle>
          <span class="delete-icon " *ngIf="item.status!=1"  (click)="deleteRec(item._id,1)">
                            <i class="material-icons action-icon">&#xE872;</i>
                            {{'btn.Delete'|translate}}
                        </span>
          <button class="text-ic" *ngIf="item.status==1" (click)="openModal = !openModal;modalRecomm = item" >
            <i class="icon remove_eye_black"></i>
            <p class="text-ic__text">{{'btn.View'|translate}}</p>
          </button>
        </div>
      </div>
    </div>
    <div class="res-recomendGroup">
      <div class="recomendGroup-header">
        <p class="sideSubTitle">{{'Others'|translate}} ({{reqommendationData[2].length}})</p>
        <button (click)="mRequest_other=true" class="button shaded small">{{'btn.Request_recommendation'|translate}}</button>
      </div>
      <div class="recomendGroup-item" *ngFor="let item of reqommendationData[2]">
        <div class="recomendGroup-itemTop" >
          <p class="sideTitle">{{item.name}}</p>
          <div class="itemTop-wrap">
            <div class="itemTop-wrapLeft" >
              <p class="name" *ngIf="item.orgName">{{'resume.OrgName'|translate}}: </p>
              <p class="value" *ngIf="item.orgName">{{item.orgName}}</p>
            </div>
            <div class="itemTop-wrapRight">
              <div class="rseItem">
                <p class="name">{{'Date'|translate}}:</p>
                <p class="value">{{dS.dateConvert(item.created_at) | date: 'dd.MM.yyyy'}}</p>
              </div>
              <div class="rseItem">
                <p class="name">{{'Initiator'|translate}}:</p>
                <p class="value" *ngIf="item.req==0">{{'Me'|translate}}</p>
                <p class="value" *ngIf="item.req==1">{{item.orgName}}</p>
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Company'">Company</p>-->
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Organisation'">Organisation</p>-->
                <!--<p class="value" *ngIf="uS.users[item.req_id].type_profile=='Educator'">Educator</p>-->

              </div>
              <div class="rseItem" [ngClass]="{'w50':item.status==0}">
                <p class="name">{{'Status'|translate}}:</p>
                <p class="value">
                                        <span class="okay">
                                          <i *ngIf="item.status==1" class='service-icon completed'></i>
                                          <i *ngIf="item.status==0" class='icon invited-grey'></i>
                                            <span *ngIf="item.status==1">{{'OK'|translate}}:</span>
                                          <span *ngIf="item.status==0">{{'Pending_response'|translate}}:</span>
                                        </span>
                </p>
              </div>
              <div class="rseItem" *ngIf="item.status==1">
                <p class="name">{{'Rating'|translate}}:</p>
                <rating-star [select]="false" [starResult]="false" [dieStar]="false" [ratingValue]="calcRating(item)"></rating-star>
              </div>
            </div>

          </div>
        </div>
        <div class="recomendGroup-itemBottom">
          <switch-toggle *ngIf="item.status==1" [defaultInput]="item.visibility" [trueTitle]="'Visible'|translate" [falseTitle]="'Hidden'|translate" (checkedState)="checkVis(item._id,2,$event)"></switch-toggle>
          <span class="delete-icon " *ngIf="item.status!=1"  (click)="deleteRec(item._id,2)">
                            <i class="material-icons action-icon">&#xE872;</i>
                            {{'btn.Delete'|translate}}
                        </span>

          <button class="text-ic" *ngIf="item.status==1" (click)="openModal = !openModal;modalRecomm = item" >
            <i class="icon remove_eye_black"></i>
            <p class="text-ic__text">{{'btn.View'|translate}}</p>
          </button>

        </div>
      </div>



    </div>
  </div>

</div>
<div class="popupBs" style="display:block;" >
  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{"btn.Back_to_CV" | translate}}
  </div>

</div>
<popup_recomendation [type]="0" (req)="setRec($event)" [show]="mRequest_educators" (rshow)="mRequest_educators = $event"></popup_recomendation>
<popup_recomendation [type]="1" (req)="setRec($event)" [show]="mRequest_company" (rshow)="mRequest_company = $event"></popup_recomendation>
<popup_recomendation [type]="2" (req)="setRec($event)" [show]="mRequest_other" (rshow)="mRequest_other = $event"></popup_recomendation>
