<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent"><!--  desktop and mobile version -->
  <app-service-modal
    [active]="modal"
    (activeClose)="modal=$event"

  ></app-service-modal>


  <div class="title-wrap">
    <p class="title">My Services</p>
  </div>
  <div class="basketBtn-wrap">
    <div class="basketBtn" (click)="cartModal=!cartModal">
      <i class='icon ic_shopping_cart_white'></i>
      <div class="count">{{shopService.countCart()}}</div>
    </div>
  </div>

  <!-------------cartModal------------------>
  <div class="cartModal-wrap">
    <div class="cartModal" [ngClass]="{'active':cartModal}">
      <<<<<<< HEAD
      <i class="icon cancel-black" (click)="cartModal = false"></i>
      <div class="cartModal-c"></div>
      <div class="cartModal-f"></div>
      <div>COUNT: {{shopService.countCart()}}</div>
      <div *ngIf="shopService.cart">
        <div >
          <div *ngIf="shopService.cart.subscriptions.packageId">
            <div>subscriptions</div>
            <div>NAME: {{dS.getOptionsFromId('packages',shopService.cart.subscriptions.packageId).text}}</div>
            <div>PERIOD:
              {{dS.getOptionsFromId('price_period',shopService.cart.subscriptions.periodId).text|translate}}
            </div>
          </div>
          <div *ngIf="shopService.cart.services">
            SERVICES
            <div>
              <table>
                <tr *ngIf="shopService.cart.services.vacancy">
                  <td>vacancy</td>
                  <td>{{shopService.cart.services.vacancy}}</td>
                  <td>{{shopService.getPriceVacancy()*shopService.cart.services.vacancy}}</td>
                  <td>del</td>
                </tr>
              </table>

            </div>
          </div>

          <!--<div>PRICE: {{ shopService.getPackage(shopService.cart.subscriptions.packageId).price}}</div>-->
        </div>
        <button (click)="shopService.applyCart()">apply</button>
      </div>
    </div>
  </div>
  <!-------------cartModal------------------>

  <div class="boxSide tabletNone">
    <div class="boxSide-item">
      <p class="sideTitle">Subscriptions</p>
    </div>
    <div class="boxSide-item">
      <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum
        laoreet. Proin gravida
        dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        <a class="blueLink" [routerLink]="['/invoices']">Learn more about subscription plans.</a>
      </p>

      <button class="button shaded min" *ngIf="!shopService.subscribe" (click)="modal = 1;">Order</button>

      <div class="tableDash indent" *ngIf="shopService.subscribe">
        <div class="tableDash-string headerTd">
          <div class="boxTds tbs1">
            <p class="text13">Subscription name</p>
          </div>
          <div class="boxTds tbs2">
            <p class="text13">Order placed</p>
          </div>
          <div class="boxTds tbs3">
            <p class="text13">Duration</p>
          </div>
          <div class="boxTds tbs4">
            <p class="text13">Invoice</p>
          </div>
          <div class="boxTds tbs5">
            <p class="text13">Payment</p>
          </div>
          <div class="boxTds tbs6">
            <p class="text13">Active since</p>
          </div>
          <div class="boxTds tbs7"><p class="text13">Active till</p></div>
          <div class="boxTds tbs8">
            =======
            <div class="cartModal-wrap">
              <div class="tabletCart">
                <div class="tabletCart-string">
                  <div class="col-v5"><p class="tabletCart__text">Smart search <span class="tabletCart__span">Termless</span>
                  </p></div>
                  <div class="col-v2"></div>
                  <div class="col-v2"><p class="tabletCart__price">199 €</p></div>
                  <div class="col-v1">
                    <button class="text-ic"><i class='icon delete-forever-black'></i></button>
                    >>>>>>> 88751b910b32de8e3f22debbb2ae84a3052c9806
                  </div>
                </div>
              </div>
              <div class="tabletCart">
                <div class="tabletCart-string">
                  <div class="col-v5"><p class="tabletCart-h">Service</div>
                  <div class="col-v2"><p class="tabletCart-h">Qty</p></div>
                  <div class="col-v2"><p class="tabletCart-h">Price</p></div>
                </div>
                <div class="tabletCart-string">
                  <div class="col-v5"><p class="tabletCart__text">Additional vacancy</div>
                  <div class="col-v2">
                    <div class="quantityBox">1</div>
                  </div>
                  <div class="col-v2"><p class="tabletCart__price">75 € <span class="discountText">99 €</span></p>
                  </div>
                  <div class="col-v1">
                    <button class="text-ic"><i class='icon delete-forever-black'></i></button>
                  </div>
                </div>
                <div class="tabletCart-string">
                  <div class="col-v5"><p class="tabletCart__text">Advertisement insocial media</div>
                  <div class="col-v2">
                    <div class="quantityBox">1</div>
                  </div>
                  <div class="col-v2"><p class="tabletCart__price">75 €</p></div>
                  <div class="col-v1">
                    <button class="text-ic"><i class='icon delete-forever-black'></i></button>
                  </div>
                  <<<<<<< HEAD
                  <div class="boxTds tbs8">
                    <button class="text-ic" (click)="modal = 1;">
                      <i class="icon ic_refresh_black"></i>
                      <p class="text-ic__text">Change</p>
                    </button>
                    <button class="text-ic" >
                      <i class="icon cancel-black"></i>
                      <p class="text-ic__text">Cancel</p>
                    </button>
                  </div>
                  <div class="allocateText blue-bc">{{this.uS.profile.service.active.vacancy}} vacancies available</div>
                  <a class="blueLink min" (click)="modal = 2;">Buy additional vacancies</a>
                  =======
                  >>>>>>> 88751b910b32de8e3f22debbb2ae84a3052c9806
                </div>
              </div>

              <div class="totalPrice">
                <div class="row-wrap">
                  <div class="col-v6">
                    <div class="checkbox">
                      <input id="type1" type="checkbox" name="check" value="">
                      <label for="type1"><span class="checkbox__box"></span>
                        <p class="checkbox__text">I have promocode</p></label>
                    </div>
                  </div>
                  <<<<<<< HEAD
                </div>
              </div>

            </div>
          </div>

          <table *ngIf="(shopService.subscribe&&shopService.subscribe.service.subscription.packageId)||shopService.cart.subscriptions.packageId">
            <tr>
              <td>Service</td>
              <td>Available/ordered</td>
              <td>in cart</td>
              <td></td>
              <td>quanity</td>
              <td>price</td>
              <td></td>
            </tr>
            <tr>
              <td>Vacancy</td>
              <td>{{uS.profile.service.active.vacancy}}/0</td>
              <td>0</td>
              <td>Apply</td>
              <td><input type="number" #countVac >vac</td>
              <td>{{shopService.getPriceVacancy()}}</td>
              <td><button (click)="addCart('vacancy',countVac.value)">Buy</button></td>
            </tr>
            <tr>
              <td>{{"promotions.prem_listing" | translate}}</td>
              <td>15/0</td>
              <td>0</td>
              <td>Apply</td>
              <td><input type="text">days</td>
              <td>198</td>
              <td><button>Buy</button></td>
            </tr>
          </table>




          <div class="boxSide">
            <div class="boxSide-item">
              <p class="sideTitle">Additional services</p>
            </div>
            <div class="boxSide-item">
              <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                bibendum
                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar
                tempor.
                <a class="blueLink">Learn more about additional services.</a>
              </p>
              <div class="minTitle">Promotion of vacancy for certain period of time</div>
              <button class="button shaded min" (click)="modal = 3;">Order</button>

              <div class="tableDash indent">
                <div class="tableDash-string headerTd">
                  <div class="boxTds tbs1">
                    <p class="text13">Position title / service</p>
                  </div>
                  <div class="boxTds tbs2">
                    <p class="text13">Order placed</p>
                  </div>
                  <div class="boxTds tbs3">
                    <p class="text13">Duration</p>
                  </div>
                  <div class="boxTds tbs4">
                    <p class="text13">Invoice</p>
                  </div>
                  <div class="boxTds tbs5">
                    <p class="text13">Payment</p>
                  </div>
                  <div class="boxTds tbs6">
                    <p class="text13">Active since</p>
                    =======
                    <div class="col-v4 right">
                      <p class="tabletCart__price">Price: 256 €</p>
                      <p class="discountText">Discount: -56 €</p>
                      >>>>>>> 88751b910b32de8e3f22debbb2ae84a3052c9806
                    </div>
                    <div class="col-v10">
                      <p class="totalPrice__text">Total price: 200 €</p>
                    </div>
                  </div>
                </div>

                <div class="promocodeCart">
                  <div class="row-wrap bottom">
                    <div class="col-v7">
                      <p class="minText">Create project</p>
                      <input type="text" class="input border">
                    </div>
                    <div class="col-v3">
                      <button class="button min">Apply</button>
                    </div>

                    <div class="codesApplied">
                      <p class="minText">Codes applied:</p>
                      <div class="attachedFile">
                        <p class="blueText">09876543</p>
                        <i class='icon cancel-black'></i>
                      </div>
                      <div class="attachedFile">
                        <p class="blueText">76543212</p>
                        <i class='icon cancel-black'></i>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="button min shaded">Checkout</button>

              </div>
              <div class="cartModal-f"></div>
              <!--<div>COUNT: {{shopService.countCart()}}</div>-->
              <!--<div *ngIf="shopService.cart">-->
              <!--<div *ngIf="shopService.cart.subscriptions.packageId">-->
              <!--<div>subscriptions</div>-->
              <!--<div>NAME: {{dS.getOptionsFromId('packages',shopService.cart.subscriptions.packageId).text}}</div>-->
              <!--<div>PERIOD:-->
              <!--{{dS.getOptionsFromId('price_period',shopService.cart.subscriptions.periodId).text|translate}}-->
              <!--</div>-->
              <!--<div>PRICE: {{ shopService.getPackage(shopService.cart.subscriptions.packageId).price}}</div>-->
              <!--</div>-->
              <!--<button (click)="shopService.applyCart()">apply</button>-->
              <!--</div>-->
            </div>
          </div>
          <!-------------cartModal------------------>

          <div class="boxSide">
            <div class="boxSide-item">
              <p class="sideTitle">Subscriptions</p>
            </div>
            <div class="boxSide-item">
              <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                bibendum
                laoreet. Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                <a class="blueLink">Learn more about subscription plans.</a>
              </p>

              <button class="button shaded min" *ngIf="!shopService.subscribe" (click)="modal = 1;">Order</button>

              <div class="tableDash indent" *ngIf="shopService.subscribe">
                <div class="tableDash-string headerTd">
                  <div class="boxTds tbs1">
                    <p class="text13">Subscription name</p>
                  </div>
                  <div class="boxTds tbs2">
                    <p class="text13">Order placed</p>
                  </div>
                  <div class="boxTds tbs3">
                    <p class="text13">Duration</p>
                  </div>
                  <div class="boxTds tbs4">
                    <p class="text13">Invoice</p>
                  </div>
                  <div class="boxTds tbs5">
                    <p class="text13">Payment</p>
                  </div>
                  <div class="boxTds tbs6">
                    <p class="text13">Active since</p>
                  </div>
                  <div class="boxTds tbs7"><p class="text13">Active till</p></div>
                  <div class="boxTds tbs8">
                  </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                  <div class="boxTds tbs1">
                    <p class="text13 desNone">Subscription name</p>
                    <p class="boxTds__text bold">
                      {{dS.getOptionsFromId('packages',shopService.subscribe.service.subscription.packageId).text}}</p>
                  </div>
                  <div class="boxTds tbs2">
                    <p class="text13 desNone">Order placed</p>
                    <p class="boxTds__data"> {{dS.dateConvert(shopService.subscribe.created_at)|
                      date:'dd.MM.yyyy'}} </p>
                  </div>
                  <div class="boxTds tbs3">
                    <p class="text13 desNone">Duration</p>
                    <p class="boxTds__text">
                      {{dS.getOptionsFromId('price_period',shopService.subscribe.service.subscription.periodId).text|translate}}</p>
                  </div>
                  <div class="boxTds tbs4">
                    <p class="text13 desNone">Invoice</p>
                    <a class="blueLink">Open</a>
                  </div>
                  <div class="boxTds tbs5">
                    <p class="text13 desNone">Payment</p>
                    <i class='icon ic_watch_later_gray' *ngIf="shopService.subscribe.status==0"></i>
                    <i class='icon ic_check_circle_gren' *ngIf="shopService.subscribe.status==1"></i>
                  </div>
                  <div class="boxTds tbs6">
                    <p class="text13 desNone">Active since</p>
                    <p class="boxTds__data">
                      {{shopService.subscribe.service.subscription.activate_at==0?"-":dS.dateConvert(shopService.subscribe.service.subscription.activate_at)|
                      date:'dd.MM.yyyy'}}</p>
                  </div>
                  <div class="boxTds tbs7">
                    <p class="text13 desNone">Active till</p>
                    <p class="boxTds__data">
                      {{shopService.subscribe.service.subscription.deactivate_at==0?"-":dS.dateConvert(shopService.subscribe.service.subscription.deactivate_at)|
                      date:'dd.MM.yyyy'}}</p>
                  </div>
                  <div class="boxTds tbs8">
                    <button class="text-ic" (click)="modal = 1;">
                      <i class="icon ic_refresh_black"></i>
                      <p class="text-ic__text">Change</p>
                    </button>
                    <button class="text-ic">
                      <i class="icon cancel-black"></i>
                      <p class="text-ic__text">Cancel</p>
                    </button>
                  </div>
                  <div class="allocateText blue-bc">3 vacancies available</div>
                  <a class="blueLink min" (click)="modal = 2;">Buy additional vacancies</a>
                </div>
                <div class="dasedTd"></div>
              </div>

              <div class="subHistory-wrap">
                <input id="history1" type="checkbox">
                <label class="labelSh" for="history1">Subscriptions history <i
                  class='icon ic_expand_more_black'></i></label>
                <div class="subHistory">
                  <div class="tableDash" *ngFor="let order of uS.profile.service.orders">
                    <div class="tableDash-string">
                      <div class="boxTds tbs1">
                        <p class="text13 desNone">Subscription name</p>
                        <p class="boxTds__text bold">
                          {{dS.getOptionsFromId('packages',order.service.subscription.packageId).text}}</p>
                      </div>
                      <div class="boxTds tbs2">
                        <p class="text13 desNone">Order placed</p>
                        <p class="boxTds__data"> {{dS.dateConvert(order.created_at)| date:'dd.MM.yyyy'}} </p>
                      </div>
                      <div class="boxTds tbs3">
                        <!--<p class="text13 desNone">Duration</p>-->
                      </div>
                      <div class="boxTds tbs4">
                        <p class="text13 desNone">Invoice</p>
                        <a class="blueLink">Open</a>
                      </div>
                      <div class="boxTds tbs5">
                        <p class="text13 desNone">Payment</p>
                        <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
                        <i class='icon ic_check_circle_gren' *ngIf="order.status==1"></i>
                      </div>
                      <div class="boxTds tbs6">
                        <p class="text13 desNone">Active since</p>
                        <p class="boxTds__data">
                          {{order.service.subscription.activate_at==0?"-":dS.dateConvert(order.service.subscription.activate_at)|
                          date:'dd.MM.yyyy'}}</p>
                      </div>
                      <div class="boxTds tbs7">
                        <p class="text13 desNone">Active till</p>
                        <p class="boxTds__data">
                          {{order.service.subscription.deactivate_at==0?"-":dS.dateConvert(order.service.subscription.deactivate_at)|
                          date:'dd.MM.yyyy'}}</p>
                      </div>
                      <div class="boxTds tbs8">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>








          <div class="boxSide">
            <div class="boxSide-item">
              <p class="sideTitle">Additional services</p>
            </div>
            <div class="boxSide-item">

              <p class="text13 indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                bibendum
                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar
                tempor.
                <a class="blueLink">Learn more about additional services.</a>
              </p>

              <div class="tableDash indent">
                <div class="tableDash-string headerTd">
                  <div class="boxTas tbs1">
                    <p class="text13">Service</p>
                  </div>
                  <div class="boxTas tbs2">
                    <p class="text13">Available / Ordered</p>
                  </div>
                  <div class="boxTas tbs3">
                    <p class="text13">In cart</p>
                  </div>
                  <div class="boxTas tbs4">

                  </div>
                  <div class="boxTas tbs5">
                    <p class="text13">Quantity</p>
                  </div>
                  <div class="boxTas tbs6">
                    <p class="text13">Price</p>
                  </div>
                  <div class="boxTas tbs7"></div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                  <div class="boxTas tbs1">
                    <div class="boxTds__text bold">
                      Additional vacancy
                      <div class="btnTell-wrap">
                        <i class="material-icons btnTell">&#xE88E;</i>
                        <div class="tellBox">For better user experience and search results</div>
                      </div>
                    </div>
                  </div>
                  <div class="boxTas tbs2">
                    <p class="text13 desNone">Available / Ordered</p>
                    <p class="boxTds__text gray"><span class="blueText">15</span> / 0</p>
                  </div>
                  <div class="boxTas tbs3">
                    <p class="text13 desNone">In cart</p>
                    <p class="boxTds__text">0</p>
                  </div>
                  <div class="boxTas tbs4">

                  </div>
                  <div class="boxTas tbs5">
                    <div class="quantityBox-wrap">
                      <div class="quantityBox">1</div>
                      vacancy
                    </div>

                  </div>
                  <div class="boxTas tbs6">
                    <p class="boxTds__data">99 €</p>
                  </div>
                  <div class="boxTas tbs7">
                    <button class="text-ic">
                      <i class='icon ic_add_shopping_cart_black'></i>
                      <p class="text-ic__text">Buy</p>
                    </button>
                  </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                  <div class="boxTas tbs1">
                    <div class="boxTds__text bold">
                      Premium listing
                      <div class="btnTell-wrap">
                        <i class="material-icons btnTell">&#xE88E;</i>
                        <div class="tellBox">For better user experience and search results</div>
                      </div>
                    </div>
                  </div>
                  <div class="boxTas tbs2">
                    <p class="text13 desNone">Available / Ordered</p>
                    <p class="boxTds__text gray"><span class="blackText">15</span> / 0</p>
                  </div>
                  <div class="boxTas tbs3">
                    <p class="text13 desNone">In cart</p>
                    <p class="boxTds__text">2</p>
                  </div>
                  <div class="boxTas tbs4">
                    <p class="blueText"><i class='icon ic_check_blue'></i> Apply</p>
                  </div>
                  <div class="boxTas tbs5">
                    <div class="quantityBox-wrap">
                      <div class="quantityBox">1</div>
                      day(s)
                    </div>

                  </div>
                  <div class="boxTas tbs6">
                    <p class="boxTds__price blue">99 €</p>
                  </div>
                  <div class="boxTas tbs7">
                    <button class="text-ic">
                      <i class='icon ic_add_shopping_cart_black'></i>
                      <p class="text-ic__text bold">Buy</p>
                    </button>
                  </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                  <div class="boxTas tbs1">
                    <div class="boxTds__text bold">
                      e-Advertisement
                      to a target group
                      <div class="btnTell-wrap">
                        <i class="material-icons btnTell">&#xE88E;</i>
                        <div class="tellBox">For better user experience and search results</div>
                      </div>
                    </div>
                  </div>
                  <div class="boxTas tbs2">
                    <p class="text13 desNone">Available / Ordered</p>
                    <p class="boxTds__text gray"><span class="blackText">15</span> / 0</p>
                  </div>
                  <div class="boxTas tbs3">
                    <p class="text13 desNone">In cart</p>
                    <p class="boxTds__text">2</p>
                  </div>
                  <div class="boxTas tbs4">
                    <p class="blueText"><i class='icon ic_check_blue'></i> Apply</p>
                  </div>
                  <div class="boxTas tbs5">
                    <div class="quantityBox-wrap">
                      <div class="quantityBox">1</div>
                      pcs
                    </div>

                  </div>
                  <div class="boxTas tbs6">
                    <p class="boxTds__price blue">99 €</p>
                  </div>
                  <div class="boxTas tbs7">
                    <button class="text-ic">
                      <i class='icon ic_add_shopping_cart_black'></i>
                      <p class="text-ic__text bold">Buy</p>
                    </button>
                  </div>
                </div>
                <div class="dasedTd"></div>
              </div>

              <p class="minTitle">Order history</p>
              <div class="tableDash indent">
                <div class="tableDash-string headerTd tabletBlock">
                  <div class="boxOhs tbs1 left">
                    <p class="text13">Invoice</p>
                  </div>
                  <div class="boxOhs tbs2">
                    <p class="text13">Order date</p>
                  </div>
                  <div class="boxOhs tbs3">
                    <p class="text13">Amount</p>
                  </div>
                  <div class="boxOhs tbs4">
                    <p class="text13">Payment</p>
                  </div>
                  <div class="boxOhs tbs5">
                    <p class="text13">Description</p>
                  </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                  <div class="boxOhs tbs1 left">
                    <p class="text13 mobBlock">Invoice</p>
                    <p class="invoice">240230498023</p>
                  </div>
                  <div class="boxOhs tbs2">
                    <p class="text13 mobBlock">Order date</p>
                    <p class="boxTds__data">01.03.2017</p>
                  </div>
                  <div class="boxOhs tbs3">
                    <p class="text13 mobBlock">Amount</p>
                    <p class="boxTds__price">99 €</p>
                  </div>
                  <div class="boxOhs tbs4">
                    <p class="text13 mobBlock">Payment</p>
                    <i class='icon ic_watch_later_gray'></i>
                  </div>
                  <div class="boxOhs tbs5">
                    <p class="text13 mobBlock">Description</p>
                    <p class="boxTds__text min">Additional vacancy / 1
                      Premium listing / 60 days
                      Highlighted frame / 30 days
                      Advertisement in Social media / 1 pcs
                      e-Advertisement to a target group / 1 pcs
                      Banner inside of e-mail alerts / 1 pcs</p>
                  </div>

                </div>
                <div class="dasedTd"></div>

              </div>

              <div class="subHistory-wrap indent">
                <input id="history2" type="checkbox">
                <label class="labelSh" for="history2">Processed orders<i class='icon ic_expand_more_black'></i></label>
                <div class="subHistory">
                  <div class="tableDash">
                    <div class="tableDash-string headerTd tabletBlock">
                      <div class="boxOhs tbs1 left">
                        <p class="text13">Invoice</p>
                      </div>
                      <div class="boxOhs tbs2">
                        <p class="text13">Order date</p>
                      </div>
                      <div class="boxOhs tbs3">
                        <p class="text13">Amount</p>
                      </div>
                      <div class="boxOhs tbs4">
                        <p class="text13">Payment</p>
                      </div>
                      <div class="boxOhs tbs5">
                        <p class="text13">Description</p>
                      </div>
                    </div>
                    <div class="tableDash-string">
                      <div class="boxOhs tbs1 left">
                        <p class="text13 mobBlock">Invoice</p>
                        <p class="invoice">240230498023</p>
                      </div>
                      <div class="boxOhs tbs2">
                        <p class="text13 mobBlock">Order date</p>
                        <p class="boxTds__data">01.03.2017</p>
                      </div>
                      <div class="boxOhs tbs3">
                        <p class="text13 mobBlock">Amount</p>
                        <p class="boxTds__price">99 €</p>
                      </div>
                      <div class="boxOhs tbs4">
                        <p class="text13 mobBlock">Payment</p>
                        <i class='icon ic_check_circle_gren'></i>
                      </div>
                      <div class="boxOhs tbs5">
                        <p class="text13 mobBlock">Description</p>
                        <p class="boxTds__text min">Additional vacancy / 1
                          Premium listing / 60 days
                          Highlighted frame / 30 days
                          Advertisement in Social media / 1 pcs
                          e-Advertisement to a target group / 1 pcs
                          Banner inside of e-mail alerts / 1 pcs</p>
                      </div>

                    </div>
                    <div class="tableDash-string">
                      <div class="boxOhs tbs1 left">
                        <p class="text13 mobBlock">Invoice</p>
                        <p class="invoice">240230498023</p>
                      </div>
                      <div class="boxOhs tbs2">
                        <p class="text13 mobBlock">Order date</p>
                        <p class="boxTds__data">01.03.2017</p>
                      </div>
                      <div class="boxOhs tbs3">
                        <p class="text13 mobBlock">Amount</p>
                        <p class="boxTds__price">99 €</p>
                      </div>
                      <div class="boxOhs tbs4">
                        <p class="text13 mobBlock">Payment</p>
                        <i class='icon ic_check_circle_gren'></i>
                      </div>
                      <div class="boxOhs tbs5">
                        <p class="text13 mobBlock">Description</p>
                        <p class="boxTds__text min">Additional vacancy / 1
                          Premium listing / 60 days
                          Highlighted frame / 30 days
                          Advertisement in Social media / 1 pcs
                          e-Advertisement to a target group / 1 pcs
                          Banner inside of e-mail alerts / 1 pcs</p>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
