<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent servicePage"><!--  desktop and mobile version -->
    <app-service-modal
            [active]="modal"
            (activeClose)="modal=$event"

    ></app-service-modal>


    <div class="title-wrap">
        <p class="title">{{"MyServices" | translate}}</p>
    </div>

    <div class="tube-basketBtn" [ngClass]="{noFixed:fixedToggle}">
        <div class="fixed-basketBtn">
            <div class="basketBtn-wrap" (click)="fixedToggle = !fixedToggle; inBasket()" (clickOutside)="outBasket()">
                <div class="basketBtn" (click)="cartModal=!cartModal">
                    <i class='icon ic_shopping_cart_white'></i>
                    <div class="count">{{shopService.countCart()}}</div>
                </div>
            </div>
            <!-------------cartModal------------------>
            <app-shop-cart-modal
                    (cartModal)="cartModal = $event"
                    [show]="cartModal">
            </app-shop-cart-modal>
            <!-------------cartModal------------------>
        </div>
    </div>
    <div class="boxSide">
        <div class="boxSide-item">
            <p class="sideTitle">{{"Subscriptions" | translate}}</p>
        </div>
        <div class="boxSide-item">
            <p class="text13 indent">{{"SubscriptionsDesk"| translate}}
                <a class="blueLink" target="_blank" href="https://talents.fund/services-plans">{{"LearnMoreAboutSubscriptionPlans" | translate}}</a>
            </p>

            <button class="button shaded min" *ngIf="!shopService.subscribe" (click)="modal = 1;">{{"Order" | translate}}</button>

            <div class="tableDash indent" *ngIf="shopService.subscribe">
                <div class="tableDash-string headerTd">
                    <div class="boxTds tbs1">
                        <p class="text13">{{"TableLabel.SubscriptionName" | translate}}</p>
                    </div>
                    <div class="boxTds tbs2">
                        <p class="text13">{{"TableLabel.OrderPlaced" | translate}}</p>
                    </div>
                    <div class="boxTds tbs3">
                        <p class="text13">{{"TableLabel.Duration" | translate}}</p>
                    </div>
                    <div class="boxTds tbs4">
                        <p class="text13">{{"TableLabel.Invoice" | translate}}</p>
                    </div>
                    <div class="boxTds tbs5">
                        <p class="text13">{{"TableLabel.Payment" | translate}}</p>
                    </div>
                    <div class="boxTds tbs6">
                        <p class="text13">{{"TableLabel.ActiveSince" | translate}}</p>
                    </div>
                    <div class="boxTds tbs7"><p class="text13">{{"TableLabel.ActiveTill" | translate}}</p></div>
                    <div class="boxTds tbs8">
                    </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string">
                    <div class="boxTds tbs1">
                        <p class="text13 desNone">{{"TableLabel.SubscriptionName" | translate}}</p>
                        <p class="boxTds__text bold">
                            {{dS.getOptionsFromId('packages',shopService.subscribe.service.subscription.packageId).text}}</p>
                    </div>
                    <div class="boxTds tbs2">
                        <p class="text13 desNone">{{"TableLabel.OrderPlaced" | translate}}</p>
                        <p class="boxTds__data">
                            {{dS.dateConvert(shopService.subscribe.created_at)|date:'dd.MM.yyyy'}} </p>
                    </div>
                    <div class="boxTds tbs3">
                        <p class="text13 desNone">{{"TableLabel.Duration" | translate}}</p>
                        <p class="boxTds__text">
                            {{dS.getOptionsFromId('price_period',shopService.subscribe.service.subscription.periodId).text|translate}}</p>
                    </div>
                    <div class="boxTds tbs4">
                        <p class="text13 desNone">{{"TableLabel.Invoice" | translate}}</p>
                        <a class="blueLink" target="_blank" href="{{shopService.subscribe.file}}">{{"btn.Open" | translate}}</a>
                    </div>
                    <div class="boxTds tbs5">
                        <p class="text13 desNone">{{"TableLabel.Payment" | translate}}</p>
                        <i class='icon ic_watch_later_gray' *ngIf="shopService.subscribe.status==0"></i>
                        <i class='icon ic_check_circle_gren' *ngIf="shopService.subscribe.status==1"></i>
                    </div>
                    <div class="boxTds tbs6">
                        <p class="text13 desNone">{{"TableLabel.ActiveSince" | translate}}</p>
                        <p class="boxTds__data">
                            {{shopService.subscribe.service.subscription.activate_at==0?"-":dS.dateConvert(shopService.subscribe.service.subscription.activate_at)|
                            date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="boxTds tbs7">
                        <p class="text13 desNone">{{"TableLabel.ActiveTill" | translate}}</p>
                        <p class="boxTds__data">
                            {{shopService.subscribe.service.subscription.deactivate_at==0?"-":dS.dateConvert(shopService.subscribe.service.subscription.deactivate_at)|
                            date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="boxTds tbs8">
                        <button class="text-ic" (click)="modal = 1;"
                                >
                          <!--*ngIf="shopService.subscribe.service.subscription.deactivate_at>0"-->
                            <i class="icon ic_refresh_black"></i>
                            <p class="text-ic__text">{{"btn.Change" | translate}}</p>
                        </button>
                        <button class="text-ic" (click)="shopService.cancelSubscribe()"
                                *ngIf="shopService.subscribe.service.subscription.deactivate_at==0">
                            <i class="icon cancel-black"></i>
                            <p class="text-ic__text">{{"btn.Cancel" | translate}}</p>
                        </button>
                    </div>
                    <div class="allocateText blue-bc"
                         *ngIf="uS.profile.service.active&&uS.profile.service.active.vacancy">
                        {{uS.profile.service.active.vacancy}} {{"VacanciesAvailable" | translate}}
                    </div>
                    <a class="blueLink min db" (click)="scrollTo()">{{"BuyAdditionalVacancies" | translate}}</a>
                </div>
                <div class="dasedTd"></div>
            </div>

            <div class="subHistory-wrap" *ngIf="uS.profile.service&&uS.profile.service.orders.length>0">
                <input id="history1" type="checkbox">
                <label class="labelSh" for="history1">{{"inputLabel.SubscriptionsHistory" | translate}} <i
                        class='icon ic_expand_more_black'></i></label>
                <div class="subHistory">
                    <div class="tableDash" *ngFor="let order of uS.profile.service.orders">
                        <div class="tableDash-string" *ngIf="order.service.subscription">
                            <div class="boxTds tbs1">
                                <p class="text13 desNone">{{"TableLabel.SubscriptionName" | translate}}</p>
                                <p class="boxTds__text bold">
                                    {{dS.getOptionsFromId('packages',order.service.subscription.packageId).text}}</p>
                            </div>
                            <div class="boxTds tbs2">
                                <p class="text13 desNone">{{"TableLabel.OrderPlaced" | translate}}</p>
                                <p class="boxTds__data"> {{dS.dateConvert(order.created_at)| date:'dd.MM.yyyy'}} </p>
                            </div>
                            <div class="boxTds tbs3">
                                <p class="text13 desNone">{{"TableLabel.Duration" | translate}}</p>
                              <p class="boxTds__data"> {{dS.getOptionsFromId('price_period',order.service.subscription.periodId).text|translate}}</p>

                            </div>
                            <div class="boxTds tbs4">
                                <p class="text13 desNone">{{"TableLabel.Invoice" | translate}}</p>
                                <a href="{{order.file}}" target="_blank" class="blueLink">{{"btn.Open" | translate}}</a>
                            </div>
                            <div class="boxTds tbs5">
                                <p class="text13 desNone">{{"TableLabel.Payment" | translate}}</p>
                                <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
                                <i class='icon ic_check_circle_gren' *ngIf="order.status==1"></i>
                            </div>
                            <div class="boxTds tbs6">
                                <p class="text13 desNone">{{"TableLabel.ActiveSince" | translate}}</p>
                                <p class="boxTds__data">
                                    {{order.service.subscription.activate_at==0?"-":dS.dateConvert(order.service.subscription.activate_at)|
                                    date:'dd.MM.yyyy'}}</p>
                            </div>
                            <div class="boxTds tbs7">
                                <p class="text13 desNone">{{"TableLabel.ActiveTill" | translate}}</p>
                                <p class="boxTds__data">
                                    {{order.service.subscription.deactivate_at==0?"-":dS.dateConvert(order.service.subscription.deactivate_at)|
                                    date:'dd.MM.yyyy'}}</p>
                            </div>
                            <div class="boxTds tbs8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="boxSide">
        <div class="boxSide-item">
            <p class="sideTitle">{{"AdditionalServices" | translate}}</p>
        </div>
        <div class="boxSide-item">

            <p class="text13 indent">
                {{"UseAdditionalServices" | translate}}
                <a class="blueLink" target="_blank"  href="https://talents.fund/services-plans">{{"LearnMoreAboutServices" | translate}}.</a>
            </p>

            <div class="tableDash indent"
                 *ngIf="(shopService.subscribe&&shopService.subscribe.service.subscription.packageId)||shopService.cart.subscriptions.packageId">
                <div class="tableDash-string headerTd">
                    <div class="boxTas tbs1">
                        <p class="text13">{{"TableLabel.Service" | translate}}</p>
                    </div>
                    <div class="boxTas tbs2">
                        <p class="text13">{{"TableLabel.AvailableOrdered" | translate}}</p>
                    </div>
                    <div class="boxTas tbs3">
                        <p class="text13">{{"TabelLabel.InCart" | translate}}</p>
                    </div>
                    <div class="boxTas tbs4">

                    </div>
                    <div class="boxTas tbs5">
                        <p class="text13">{{"TabelLabel.Quantity" | translate}}</p>
                    </div>
                    <div class="boxTas tbs6">
                        <p class="text13">{{"TabelLabel.Price" | translate}}</p>
                    </div>
                    <div class="boxTas tbs7"></div>
                </div>
                <div class="dasedTd"></div>
                <!--Additional vacancy-->
                <div id="additionalServices" class="tableDash-string">
                    <div class="boxTas tbs1">
                        <div class="boxTds__text bold">
                            {{"AdditionalVacancy" | translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{"tooltips.AdditionalVacancy" | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="boxTas tbs2">
                        <p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>
                        <p class="boxTds__text gray"><span
                                class="blackText">{{uS.profile.service.active.vacancy||0}}</span> /
                            {{shopService.orderedServices.vacancy||0}}</p>
                    </div>
                    <div class="boxTas tbs3">
                        <p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>
                        <p class="boxTds__text" ><span [ngClass]="{blueState: shopService.cart.services.vacancy > 0}">{{shopService.cart.services.vacancy}}</span></p>
                    </div>
                    <div class="boxTas tbs4">

                    </div>
                    <div class="boxTas tbs5 " id="addVacScroll">
                        <div class="quantityBox-wrap">
                            <input #countVac [value]="1" id="inpaddVacScroll" type="number" (keyup)="countVac.value<0?countVac.value=0:null"
                                   class="quantityBox">
                            {{"Vacancy" | translate}}
                        </div>

                    </div>
                    <div class="boxTas tbs6">
                        <p class="boxTds__price" [ngClass]="{'blue':checkCount(countVac)}">
                            {{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.priceVacancy*countVac.value}}€</p>
                    </div>
                    <div class="boxTas tbs7">
                        <button class="text-ic"  (click)="addCart('vacancy',countVac.value); countVac.value>0?changeText(buyButton):null;">
                            <i class='icon ic_add_shopping_cart_black'></i>
                            <p class="text-ic__text" #buyButton >{{"btn.BuyServiceButton.Buy" | translate}}</p>

                        </button>
                    </div>
                </div>
                <div class="dasedTd"></div>
                <!--Premium listing  modal 2-->
                <div class="tableDash-string">
                    <div class="boxTas tbs1">
                        <div class="boxTds__text bold">
                            {{'promotions.prem_listing'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{"tooltips.prem_listing" | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="boxTas tbs2">
                        <p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>
                        <p class="boxTds__text gray"><span
                                [ngClass]="{'blueText':uS.profile.service.active.premiumListing>0}">{{uS.profile.service.active.premiumListing||0}}</span>
                            / {{shopService.orderedServices.premiumListing||0}}</p>
                    </div>
                    <div class="boxTas tbs3">
                        <p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>
                        <p class="boxTds__text" ><span [ngClass]="{blueState: shopService.cart.services.premiumListing > 0}">{{shopService.cart.services.premiumListing}}</span></p>
                    </div>
                    <div class="boxTas tbs4">
                        <p class="blueText modalbtn" *ngIf="uS.profile.service.active.premiumListing>0" (click)="modal = 2"><i class='icon ic_check_blue'></i> {{"Apply" | translate}}</p>
                    </div>
                    <div class="boxTas tbs5">
                        <div class="quantityBox-wrap">
                            <input #countPrList [value]="1" type="number"
                                   (keyup)="countPrList.value<0?countPrList.value=0:null" class="quantityBox">
                            {{"Days" | translate}}
                        </div>

                    </div>
                    <div class="boxTas tbs6">

                        <p class="boxTds__price" [ngClass]="{'blue':checkCount(countPrList)}">
                            {{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.pricePremiumListing*countPrList.value}}
                            €

                        </p>

                    </div>
                    <div class="boxTas tbs7">
                        <button class="text-ic" (click)="addCart('premiumListing',countPrList.value); changeText(buyButton1)">
                            <i class='icon ic_add_shopping_cart_black'></i>
                            <p class="text-ic__text bold" #buyButton1 >{{"btn.BuyServiceButton.Buy" | translate}}</p>
                        </button>
                    </div>
                </div>
                <div class="dasedTd"></div>
                <!--Highlihted frame modal 3-->
                <div class="tableDash-string">
                    <div class="boxTas tbs1">
                        <div class="boxTds__text bold">
                            {{'promotions.frame'|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{"tooltips.frame" | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="boxTas tbs2">
                        <p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>
                        <p class="boxTds__text gray"><span
                                [ngClass]="{'blueText':uS.profile.service.active.hightFrame>0}">{{uS.profile.service.active.hightFrame||0}}</span>
                            / {{shopService.orderedServices.hightFrame||0}}</p>
                    </div>
                    <div class="boxTas tbs3">
                        <p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>
                        <p class="boxTds__text"><span [ngClass]="{blueState: shopService.cart.services.hightFrame > 0}">{{shopService.cart.services.hightFrame}}</span></p>
                    </div>
                    <div class="boxTas tbs4">
                        <p class="blueText modalbtn" *ngIf="uS.profile.service.active.hightFrame>0" (click)="modal = 3">
                            <i class='icon ic_check_blue'></i> {{"Apply" | translate}}</p>
                    </div>
                    <div class="boxTas tbs5">
                        <div class="quantityBox-wrap">
                            <input #counthightFrame [value]="1" type="number" class="quantityBox"
                                   (keyup)="counthightFrame.value<0?counthightFrame.value=0:null">
                            {{"Days" | translate}}
                        </div>

                    </div>
                    <div class="boxTas tbs6">
                        <p class="boxTds__price" [ngClass]="{'blue':checkCount(counthightFrame)}">
                            {{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.priceHightFrame*counthightFrame.value}}
                            €</p>
                    </div>
                    <div class="boxTas tbs7">
                        <button class="text-ic" (click)="addCart('hightFrame',counthightFrame.value); changeText(buyButton2)">
                            <i class='icon ic_add_shopping_cart_black'></i>
                            <p class="text-ic__text bold" #buyButton2>{{"btn.BuyServiceButton.Buy" | translate}}</p>
                        </button>
                    </div>
                </div>
                <div class="dasedTd"></div>
                <!--Advertisement in Social media   modal 4-->
                <!--<div class="tableDash-string">-->
                    <!--<div class="boxTas tbs1">-->
                        <!--<div class="boxTds__text bold">-->
                            <!--{{'promotions.isSocialMedia'|translate}}-->
                            <!--<div class="btnTell-wrap">-->
                                <!--<i class="material-icons btnTell">&#xE88E;</i>-->
                                <!--<div class="tellBox">{{"tooltips.isSocialMedia" | translate}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs2">-->
                        <!--<p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>-->
                        <!--<p class="boxTds__text gray"><span-->
                                <!--[ngClass]="{'blueText':uS.profile.service.active.insocialMedia>0}">{{uS.profile.service.active.insocialMedia||0}}</span>-->
                            <!--/ {{shopService.orderedServices.insocialMedia||0}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs3">-->
                        <!--<p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>-->
                        <!--<p class="boxTds__text"><span  [ngClass]="{blueState: shopService.cart.services.insocialMedia > 0}">{{shopService.cart.services.insocialMedia}}</span></p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs4">-->
                        <!--<p class="blueText modalbtn" *ngIf="uS.profile.service.active.insocialMedia>0"-->
                           <!--(click)="modal = 4"><i class='icon ic_check_blue'></i> {{"Apply" | translate}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs5">-->
                        <!--<div class="quantityBox-wrap">-->
                            <!--<input #countinsocialMedia [value]="1" type="number" class="quantityBox"-->
                                   <!--(keyup)="countinsocialMedia.value<0?countinsocialMedia.value=0:null">-->
                            <!--{{"Pcss" | translate}}-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="boxTas tbs6">-->
                        <!--<p class="boxTds__price" [ngClass]="{'blue':checkCount(countinsocialMedia)}">-->
                            <!--{{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.priceInsocialMedia*countinsocialMedia.value}}-->
                            <!--€</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs7">-->
                        <!--<button class="text-ic" (click)="addCart('insocialMedia',countinsocialMedia.value); changeText(buyButton3)">-->
                            <!--<i class='icon ic_add_shopping_cart_black'></i>-->
                            <!--<p class="text-ic__text bold" #buyButton3 >{{"btn.BuyServiceButton.Buy" | translate}}</p>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="dasedTd"></div>-->
                <!--&lt;!&ndash;e-Advertisement to target group  modal 5&ndash;&gt;-->
                <!--<div class="tableDash-string">-->
                    <!--<div class="boxTas tbs1">-->
                        <!--<div class="boxTds__text bold">-->
                            <!--{{'promotions.edvtarg'|translate}}-->
                            <!--<div class="btnTell-wrap">-->
                                <!--<i class="material-icons btnTell">&#xE88E;</i>-->
                                <!--<div class="tellBox">{{"tooltips.edvtarg" | translate}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs2">-->
                        <!--<p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>-->
                        <!--<p class="boxTds__text gray"><span-->
                                <!--[ngClass]="{'blueText':uS.profile.service.active.targetGroup>0}">{{uS.profile.service.active.targetGroup||0}}</span>-->
                            <!--/ {{shopService.orderedServices.targetGroup||0}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs3">-->
                        <!--<p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>-->
                        <!--<p class="boxTds__text" ><span [ngClass]="{blueState: shopService.cart.services.targetGroup > 0}">{{shopService.cart.services.targetGroup}}</span></p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs4">-->
                        <!--<p class="blueText modalbtn" *ngIf="uS.profile.service.active.targetGroup>0"-->
                           <!--(click)="modal = 5"><i class='icon ic_check_blue'></i> {{"Apply" | translate}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs5">-->
                        <!--<div class="quantityBox-wrap">-->
                            <!--<input #counttargetGroup [value]="1" type="number" class="quantityBox"-->
                                   <!--(keyup)="counttargetGroup.value<0?counttargetGroup.value=0:null">-->
                            <!--{{"Pcss" | translate}}-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="boxTas tbs6">-->
                        <!--<p class="boxTds__price" [ngClass]="{'blue':checkCount(counttargetGroup)}">-->
                            <!--{{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.priceTargetGroup*counttargetGroup.value}}-->
                            <!--€</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs7">-->
                        <!--<button class="text-ic" (click)="addCart('targetGroup',counttargetGroup.value); changeText(buyButton4)">-->
                            <!--<i class='icon ic_add_shopping_cart_black'></i>-->
                            <!--<p class="text-ic__text bold" #buyButton4 >{{"btn.BuyServiceButton.Buy" | translate}}</p>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="dasedTd"></div>-->
                <!--&lt;!&ndash;Banner inside of e-mail alerts  modal 6&ndash;&gt;-->
                <!--<div class="tableDash-string">-->
                    <!--<div class="boxTas tbs1">-->
                        <!--<div class="boxTds__text bold">-->
                            <!--{{'promotions.banner'|translate}}-->
                            <!--<div class="btnTell-wrap">-->
                                <!--<i class="material-icons btnTell">&#xE88E;</i>-->
                                <!--<div class="tellBox">{{"tooltips.banner" | translate}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs2">-->
                        <!--<p class="text13 desNone">{{"TableLabel.AvailableOrdered" | translate}}</p>-->
                        <!--<p class="boxTds__text gray"><span-->
                                <!--[ngClass]="{'blueText':uS.profile.service.active.bannerofEmail>0}">{{uS.profile.service.active.bannerofEmail||0}}</span>-->
                            <!--/ {{shopService.orderedServices.bannerofEmail||0}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs3">-->
                        <!--<p class="text13 desNone">{{"TabelLabel.InCart" | translate}}</p>-->
                        <!--<p class="boxTds__text" ><span [ngClass]="{blueState: shopService.cart.services.bannerofEmail > 0}">{{shopService.cart.services.bannerofEmail}}</span></p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs4">-->
                        <!--<p class="blueText modalbtn" *ngIf="uS.profile.service.active.bannerofEmail>0"-->
                           <!--(click)="modal = 6"><i class='icon ic_check_blue'></i> {{"Apply" | translate}}</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs5">-->
                        <!--<div class="quantityBox-wrap">-->
                            <!--<input #countbannerofEmail [value]="1" type="number" class="quantityBox"-->
                                   <!--(keyup)="countbannerofEmail.value<0?countbannerofEmail.value=0:null">-->
                            <!--{{"Pcss" | translate}}-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="boxTas tbs6">-->
                        <!--<p class="boxTds__price" [ngClass]="{'blue':checkCount(countbannerofEmail)}">-->
                            <!--{{shopService.getPackage(shopService.cart.subscriptions.packageId).settings.priceBannerofEmail*countbannerofEmail.value}}-->
                            <!--€</p>-->
                    <!--</div>-->
                    <!--<div class="boxTas tbs7">-->
                        <!--<button class="text-ic" (click)="addCart('bannerofEmail',countbannerofEmail.value); changeText(buyButton5)">-->
                            <!--<i class='icon ic_add_shopping_cart_black'></i>-->
                            <!--<p class="text-ic__text bold" #buyButton5>{{"btn.BuyServiceButton.Buy" | translate}}</p>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="dasedTd"></div>-->
            </div>

            <p class="minTitle" *ngIf="filterOrderService(0).length>0">{{"OrderHistory" | translate}}</p>
            <div class="tableDash indent" *ngIf="filterOrderService(0).length>0">
                <div class="tableDash-string headerTd tabletBlock">
                    <div class="boxOhs tbs1 left">
                        <p class="text13">{{"TableLabel.Invoice" | translate}}</p>
                    </div>
                    <div class="boxOhs tbs2">
                        <p class="text13">{{"OrderDate" | translate}}</p>
                    </div>
                    <div class="boxOhs tbs3">
                        <p class="text13">{{"TableLabel.Amount" | translate }}</p>
                    </div>
                    <div class="boxOhs tbs4">
                        <p class="text13">{{"TableLabel.Payment" | translate}}</p>
                    </div>
                    <div class="boxOhs tbs5">
                        <p class="text13">{{"TableLabel.Description" | translate}}</p>
                    </div>
                </div>
                <div class="dasedTd"></div>
                <div class="tableDash-string" *ngFor="let order of filterOrderService(0)">

                    <div class="boxOhs tbs1 left">
                        <p class="text13 mobBlock">{{"TableLabel.Invoice" | translate}}</p>
                        <a href="{{order.file}}" target="_blank" class="blueLink invoice">{{order.number}}</a>
                    </div>
                    <div class="boxOhs tbs2">
                        <p class="text13 mobBlock">{{"OrderDate" | translate}}</p>
                        <p class="boxTds__data">{{dS.dateConvert(order.created_at)|date:'dd.MM.yyyy' }}</p>
                    </div>
                    <div class="boxOhs tbs3">
                        <p class="text13 mobBlock">{{"TableLabel.Amount" | translate }}</p>
                        <p class="boxTds__price">{{order.TotalPrice}} €</p>
                    </div>
                    <div class="boxOhs tbs4">
                        <p class="text13 mobBlock">{{"TableLabel.Payment" | translate}}</p>
                        <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
                        <i class='icon ic_check_circle_gren' *ngIf="order.status==1"></i>
                    </div>
                    <div class="boxOhs tbs5">
                        <p class="text13 mobBlock">{{"TableLabel.Description" | translate}}</p>
                        <p class="boxTds__text min" [innerHTML]="getOrderDesc(order)"></p>
                    </div>


                </div>
                <div class="dasedTd"></div>

            </div>

            <div class="subHistory-wrap indent" *ngIf="filterOrderService(1).length>0">
                <input id="history2" type="checkbox">
                <label class="labelSh" for="history2">{{"TableLabel.ProcessedOrders" | translate}}<i class='icon ic_expand_more_black'></i></label>
                <div class="subHistory">
                    <div class="tableDash">
                        <div class="tableDash-string headerTd tabletBlock">
                            <div class="boxOhs tbs1 left">
                                <p class="text13">{{"TableLabel.Invoice" | translate}}</p>
                            </div>
                            <div class="boxOhs tbs2">
                                <p class="text13">{{"OrderDate" | translate}}</p>
                            </div>
                            <div class="boxOhs tbs3">
                                <p class="text13">{{"TableLabel.Amount" | translate }}</p>
                            </div>
                            <div class="boxOhs tbs4">
                                <p class="text13">{{"TableLabel.Payment" | translate}}</p>
                            </div>
                            <div class="boxOhs tbs5">
                                <p class="text13">{{"TableLabel.Description" | translate}}</p>
                            </div>
                        </div>
                        <div class="tableDash-string" *ngFor="let order of filterOrderService(1)">
                            <div class="boxOhs tbs1 left">
                                <p class="text13 mobBlock">{{"TableLabel.Invoice" | translate}}</p>

                              <a href="{{order.file}}" target="_blank" class="blueLink invoice">{{order.number}}</a>
                            </div>
                            <div class="boxOhs tbs2">
                                <p class="text13 mobBlock">{{"OrderDate" | translate}}</p>
                                <p class="boxTds__data">{{dS.dateConvert(order.created_at)|date:'dd.MM.yyyy' }}</p>
                            </div>
                            <div class="boxOhs tbs3">
                                <p class="text13 mobBlock">{{"TableLabel.Amount" | translate }}</p>
                                <p class="boxTds__price">{{order.TotalPrice}} €</p>
                            </div>
                            <div class="boxOhs tbs4">
                                <p class="text13 mobBlock">{{"TableLabel.Payment" | translate}}</p>
                                <i class='icon ic_watch_later_gray' *ngIf="order.status==0"></i>
                                <i class='icon ic_check_circle_gren' *ngIf="order.status==1"></i>
                            </div>
                            <div class="boxOhs tbs5">
                                <p class="text13 mobBlock">{{"TableLabel.Description" | translate}}</p>

                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('vacancy') && order.service.vacancy > 0">{{'AdditionalVacancy'|translate}} {{order.service.vacancy}} {{'pcs'|translate}}</p>
                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('premiumListing') && order.service.premiumListing > 0">{{'promotions.prem_listing'|translate}} {{order.service.premiumListing}} {{'days'|translate}}</p>
                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('hightFrame') && order.service.hightFrame > 0">{{'promotions.frame'|translate}} {{order.service.hightFrame}} {{'days'|translate}}</p>
                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('insocialMedia') && order.service.insocialMedia > 0">{{'promotions.isSocialMedia'|translate}} {{order.service.insocialMedia}} {{'Pcss'|translate}}</p>
                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('targetGroup') && order.service.targetGroup > 0">{{'promotions.edvtarg'|translate}} {{order.service.targetGroup}} {{'Pcss'|translate}}</p>
                                <p class="boxTds__text min" *ngIf="order.service.hasOwnProperty('bannerofEmail') && order.service.bannerofEmail > 0">{{'promotions.banner'|translate}} {{order.service.bannerofEmail}} {{'Pcss'|translate}}</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
