.blueLink {
  color: #00C3F1 !important;
  &:hover{
    color: #0092B2 !important;
  }
}

.modalbtn{
  cursor: pointer;
}

/* popup */
.greyText.indentBottom {
  margin-bottom: 15px;
}
.modalStandart-wrap .row-wrap {
  letter-spacing: -5px !important;
}
/* popup */


.btnTell-wrap {
  position: absolute;
}
.sideContent{
  position: relative;
}
.tube-basketBtn {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  height: 54px;
  width: 54px;

  position: absolute;
  top: -30px;
}
.fixed-basketBtn{
  position: fixed;
  z-index: 10;
}

.title-wrap {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 59px);
  margin-bottom: 10px;
}

.shopCart-button {
  position: relative;
  display: inline-block;

  app-shop-cart-modal {
    position: absolute;
    left: 0;
    top: 100%;
    width: 500px;
    background-color: #ffffff;
    border: 1px solid black;

  }
}

.active {
  display: block;
}

.basketBtn-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.boxSide {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text13.indent {
  margin-bottom: 20px;
}

.allocateText {
  margin-right: 10px;
}

.dasedTd {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ccc;
}

.tableDash-string {
  padding: 14px 0;
}

.tableDash-string.headerTd {
  padding-top: 0;
  padding-bottom: 8px;
}

.tableDash-string.headerTd .boxTds.tbs5 {
  text-align: left;
}

.boxTds.tbs5 {
  text-align: center;
}

.minTitle {
  font-weight: normal;
  margin:  35px 0;
  font-size: 16px;
}

.greyText {
  margin-top: 5px;
}

.greenText {
  line-height: 22px;
}

.boxTds {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  min-width: 10%;
}

.tableDash-string {
  letter-spacing: -5px;
  position: relative;
}

.tableDash-string * {
  letter-spacing: 0;
}

.tableDash-string.border:before {
  content: '';
  border-bottom: 1px dashed #ccc;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 20px;
  margin: auto;
}

.tableDash .text13 {
  color: #6F6F6F;
  //margin-bottom: 26px;
}

.empty {
  font-size: 13px;
  opacity: 0;
}

.subHistory-wrap .tableDash .icon {
  display: block;
  margin: 0 auto;
}

.minTilt {
  font-weight: normal;
}

.boxTds.tbs1 {
  width: 20%;
}

.boxTds.tbs2 {
  width: 12%;
}

.boxTds.tbs3 {
  width: 12%;
}

.boxTds.tbs4 {
  width: 10%;
}

.boxTds.tbs5 {
  width: 9%;
  min-width: 9%;
}

.boxTds.tbs6 {
  width: 12%;
}

.boxTds.tbs7 {
  width: 12%;
}

.boxTds.tbs8 {
  width: 13%;
}
.boxTds.tbs9 {
  width: 87%;
}
.boxTds.tbs9.indent{
  margin-top: -20px;
}

.subHistory-wrap input {
  display: none;
}
.subHistory-wrap.indent{
  margin-top: 50px;
}

.subHistory {
  display: none;
}

input[type=checkbox]:checked + label ~ .subHistory {
  display: block;
}

input[type=checkbox]:checked + label i {
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}

.labelSh {
  color: #6F6F6F;
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
  display: table;
  margin-bottom: 10px;
}

.labelSh i {
  opacity: 0.8;
  width: 14px;
  height: 14px;
  margin-left: 3px;
}

.subHistory-wrap .tableDash-string {
  border-top: 1px dashed #CCCCCC;
  padding: 14px 0;
}

.subHistory-wrap {
  display: block;
  margin-top: 25px;
}

.tableDash.indent {
  margin-top: 25px;
}

.modalStandart-wrap .checkbox {
  margin-bottom: 10px;
}

.greyText.indent {
  margin-top: 30px;
  margin-bottom: 25px;
}

.greyText.indentBottom {
  margin-bottom: 30px;
}

.row-wrap.bottom .sideTitle {
  margin-bottom: 10px;
}

span.price {
  font-size: 20px;
}

.row-wrap.indent {
  margin: 25px 0;
}

.boxOhs {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  min-width: 9%;

  &.tbs1 {
    width: 20%;
    text-align: center;
    &.left {
      text-align: left;
    }
  }
  &.tbs2 {
    width: 12%;
    text-align: center;
  }
  &.tbs3 {
    width: 12%;
    text-align: center;
  }
  &.tbs4 {
    width: 12%;
    text-align: center;
  }
  &.tbs5 {
    width: 32%;
  }
  .invoice {
    color: #00C3F1;
    font-weight: 500;
  }
}

.boxTas {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  min-width: 9%;

  &.tbs1 {
    width: 26%;
  }
  &.tbs2 {
    width: 14%;
    text-align: center;
    &.left {
      text-align: left;
    }
  }
  &.tbs3 {
    width: 10%;
    text-align: center;
  }
  &.tbs4 {
    width: 16%;
    text-align: center;
    padding-right: 20px;
  }
  &.tbs5 {
    width: 14%;
  }
  &.tbs6 {
    width: 9%;
    text-align: center;
  }
  &.tbs7 {
    width: 11%;
  }
  .bold {
    font-weight: 500;
  }
}

.quantityBox-wrap {
  font-size: 14px;
  line-height: 16px;
}

.quantityBox {
  height: 35px;
  width: 35px;
  line-height: 33px;
  border: 1px solid #E5E5E5;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
}

.boxTds__text, .boxTds__data {
  font-size: 14px;

}

.boxTds__text.gray {
  color: #6F6F6F;

  span{
    font-size: 14px;
  }
}

.boxTds__text.min {
  color: #646464;
  font-size: 12px;
  line-height: 14px;
 s{
   text-decoration: none;
 }
}

.blackText {
  color: #333;
}

.boxTds__price {
  &.blue {
    color: #fff;
    background-color: #00C3F1;
    padding: 7px 0;
  }
}

.blueState {
  color: #fff;
  background-color: #00C3F1;
  width: 50px;
  display: inline-block;
  padding: 5px;

}


.text13.mobBlock{
  display: none;
}
.tableDash-string.headerTd.tabletBlock {
  display: block;
}
.boxTas.tbs7 {
  padding: 0;
}


@media screen and (max-width: 1150px){
  .boxTas.tbs7  .text-ic__text{
    font-size: 13px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 981px)  {

  .boxTds__text,
  .boxTds__data,
  .quantityBox-wrap,
  .text-ic__text,
  .blueText,
  .invoice,
  .text13,
  .boxTds__price{
    font-size: 12px;
  }
}

@media screen and (max-width: 980px) {
  .btnTell-wrap {
    position: inherit;
  }
  .boxTds.tbs9 {
    width: 100% !important;
  }
  .boxTds.tbs9.indent{
    margin-top: 0px;
  }
  .boxTds.tbs1 {
    width: 100% !important;
    margin-top: 0;
  }
  .boxTds {
    width: 33% !important;
    margin: 15px 0;
  }
  .boxTds.tbs5 {
    text-align: left;

    .icon {
      margin: 5px 15px 0;
      display: block;
    }
  }
  .tableDash.indent {
    margin-top: 20px;
  }
  .subHistory-wrap .tableDash .icon {
    margin: 5px 15px 0;
    display: block;
  }

  .tableDash-string {
    padding: 14px 0 4px;
  }
  .subHistory-wrap .tableDash-string {
    border-top: 1px dashed #CCCCCC;
    padding: 14px 0 4px;
  }
  .boxTas.tbs4 {
    padding-right: 10px;
  }
  .boxTas.tbs5 {
    text-align: center;
  }
  .tableDash  .quantityBox {
    display: block;
    margin: 0 auto;
  }
  .boxOhs.tbs5 {
    width: 39%;
    padding: 0;
  }
  .boxOhs.tbs2 {
    width: 17%;
  }

  .boxTds {
    width: 33%!important;
    margin: 10px 0;
  }




  .boxTas {
    min-width: 33%;
    text-align: center;
    margin-bottom: 15px;
  }
  .boxTas.tbs1 {
    width: 100% !important;
    text-align: left;
  }
  .boxTas.tbs2,
  .boxTas.tbs5{
    text-align: left;
  }

  .tableDash .quantityBox {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .boxTds__price.blue {
    padding: 7px 10px;
    display: table;
    margin: 0 auto;
  }
  .tableDash-string.headerTd {
    display: none;
  }
  .text13.desNone {
    display: block;
    margin-bottom: 0;
  }
  .tableDash-string.headerTd.tabletBlock {
    display: block;
  }

  .subHistory-wrap .tableDash .boxOhs  .icon {
    margin: 5px auto 0;
    display: block;
  }

  .boxTds.tbs8 {
    width: 100% !important;
  }
  .tableDash{
    .allocateText, .blueLink.min{
      margin-bottom: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 800px){
  .btnTell-wrap {
    margin-left: 5px;
  }
}
@media screen and (max-width: 640px) {
  .button {
    max-width: 100%;
  }
  .col-v5.col-m10.indentMob {
    margin-bottom: 20px;
  }
  .row-wrap.indent {
    margin: 15px 0;
  }
  .greyText.indent {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .modalStandart-wrap .button.min {
    max-width: 100%;
  }
  .button.shaded {
    margin-top: 20px;
  }
  .greyText.indentBottom {
    margin-bottom: 25px;
  }
  .title-wrap {
    width: calc(100% - 75px);
  }
  .tableDash-string.headerTd.tabletBlock {
    display: none;
  }

  .boxOhs {
    width: 50% !important;
    margin-bottom: 15px;
  }
  .boxOhs.tbs3{
   text-align: left;
  }
  .boxOhs.tbs5{
    width: 100% !important;
  }

  .text13.mobBlock{
    display: block;
    margin-bottom: 4px;
  }

  .tube-basketBtn {
    margin-top: 30px;
    z-index: 11;
  }

  .quantityBox {
    height: 30px;
    width: 30px;
  }
  .quantityBox-wrap {
    font-size: 12px;
  }

  .tube-basketBtn.noFixed .fixed-basketBtn {
    position: relative;
  }

  .tableDash .icon.cancel-black {
    position: relative;
    top: auto;
    right: auto;
  }

}

