/* + popup */
.modalStandart-wrap{
  max-width: 320px;

  .button{
    width: 100%;
    max-width: 100%;
  }
  textarea {
    height: 260px;
    text-align: left;
    line-height: 18px;
  }

  .row-wrap.indentTop{
    margin: 20px 0;
  }

}
.popapApply{
  height: 52px;

}
exp-bookmark{
  display: none;
}
.notBorder {
  border: none !important;
}

.modalStandart-wrap .row-wrap.indent {
  margin-bottom: 10px;
}


.fixedLine-wrap {
  //bottom: 52px;
}
/* - popup */


.sideContent {
  width: 100%;
  position: relative;
}

.boxSd, .tapeSd {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.boxSd {
  width: 77%;
  border-right: 1px solid #D3D3D3;
  padding-bottom: 60px;
  .topLine-vb {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 0;
    width: 100%;
  }
}

.tapeSd {
  width: calc(22% + 11px);
  margin-left: -1px;
  border-left: 1px solid #D3D3D3;
}

.starFv {
  display: none;
  margin-left: 20px;
}

.selInsert-wrap {
  margin-bottom: 5px;
}


.tapeSd-top {
  border-bottom: 1px solid #D3D3D3;
  padding: 20px 20px 35px;
}

.contactSd__spun {
  display: block;
  font-size: 15px;
  color: #666666;
}

.boxSd-item {
  border-top: 1px solid #E5E5E5;
  padding: 30px 20px 30px 30px;
}

.boxSd-item:first-child {
  border-top: 0;
}

.dateText {
  display: block;
  margin-top: 5px;
}

.vacantBox__price {
  width: 300px; /* страница поиска вакансий 100px */
  right: 0;
}

.piece-wrap {
  display: block;
  margin-bottom: 30px;
}

.piece-wrap:last-child {
  margin-bottom: 10px;
}

.social {
  display: inline-block;
  vertical-align: middle;
}

.social-wrap .minTilt {
  display: inline-block;
  margin: 0 30px 0 0;
  vertical-align: middle;
}

.social-wrap {
  margin-top: 35px;
}

.contactSd {
  margin-top: 20px;
}

.absolut-wrapNd {
  text-align: center;
  margin-top: 50px;
  .rating-wrap {
    text-align: left;
  }
}

.material-icons.indent {
  margin-right: 10px;
}

.tapeSd-box {
  margin-bottom: 50px;
}

.tapeSd-box {
  .btnTabs__text {
    margin-bottom: 15px;
  }
}

.largeCompanyNd {
  .blueLink {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}

.vacantBox__text i {
  font-size: 18px;
  display: inline-block;
}

.vacantBox__text--span {
  display: block;
}

.dateText.tabletBlock {
  display: none;
}


options-data{
  margin-bottom: 15px;
  display: block;
  &:last-child{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1100px) {
  .tapeSd {
    width: 23%;
    margin-left: -1px;
  }
  .sideContent.detailed {
    letter-spacing: -5px;
  }
  .sideContent.detailed *{
    letter-spacing: 0;
  }
}

@media screen and (max-width: 980px) {
  .sideContent.detailed .topLine-vb .title{
    max-width: calc(100% - 160px);
  }
  .boxSd, .tapeSd {
    width: 100%;
    display: block;
  }
  .starFv {
    display: inline-block;
  }

  .boxSd {
    padding-bottom: 0;
    .tabletBlock {

      .rating-wrap, .button {
        display: inline-block;
        vertical-align: middle;
      }
      .button.desNone {
        display: none;
      }
    }
    .tabletBlock.indent {
      margin-top: 15px;
    }
    .rating-wrap {
      //width: calc(100% - 220px);
      width: 100%;
      text-align: right;
      .vacantBox__boldText{
        display: block;
      }
    }
    .topLine-vb {
      //padding-right: 0;
      display: inline-flex;
      //width: calc(100% - 210px);
      width: calc(100% - 125px);
      vertical-align: middle;
      margin: 0;
      //padding-right: 170px;
      .vacantBox__price{
        left: calc(100% + 10px);
        width: 200px;
      }
    }
    .vacantBox__logo.tabletBlock {
      display: inline-block;
      vertical-align: middle;
    }
    .dateText {
      display: none;
    }
    .vacantBox__price {
      font-size: 24px;
    }
    .vacantBox__logo {
      margin-left: 30px;
      width: 95px;
    }
    .rating-wrap {
      margin: 0 0 0 0;
    }
    .contact-item {
      max-width: 280px;
      margin-bottom: 10px;
    }
    .contact-item i, .contact-item span {
      display: inline-block;
      vertical-align: top;
    }
    .contact-item span {
      width: calc(100% - 45px);
    }
    .border-s {
      border-bottom: 1px solid #E5E5E5;
      border-top: 0;

    }
  }
  .tapeSd {
    padding-bottom: 60px;
    .tapeSd-box {
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      :before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: calc(100% + 40px);
        display: block;
        height: 1px;
        background-color: #e5e5e5;
      }
      .btnTabs__text, .vacantBox__text {
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
        margin: 0;
        margin-bottom: 10px;
      }
      .btnTabs__text {
        text-align: right;
      }
      .dateText.tabletBlock {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        padding-left: 28px;
      }
      .largeCompanyNd {
        display: inline-block;
        vertical-align: middle;
        width: 59%;
        text-align: right;
        .blueLink {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }
    .tapeSd-featured {
      display: none;
    }
    .vacantBox__text--span {
      display: inline-block;
    }
    .vacantBox__text {
      margin-bottom: 15px;
    }
    .vacantBox__text:last-child {
      margin-bottom: 0;
    }
  }

  .vacantBox__boldText, .save-favorites, .vacantBox__text {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
    //line-height: 20px;
  }
  .vacantBox__address {
    margin-top: 10px;
  }
  .boxSd-item {
    padding: 20px;
  }
  .boxSd-item.border-n {
    border: 0;
    padding-top: 0;
  }
  .social-wrap.mobileNone{
    display: none;
  }
  .boxSd-item.desNone{
    display: block;
  }
  .tapeSd .contactSd {
    margin: 0;
  }
  .tapeSd .social-wrap {
    margin-top: 0;
  }
  .tapeSd .boxSd-item{
    border: 0;
  }
  .boxSd-item.border-n {
    border-bottom: 1px solid #E5E5E5;
  }
  .boxSd-item.mobileNone{
    display: none;
  }
}
.topLine-vb{
  margin-bottom: 0;

}

@media screen and (max-width: 770px) {







}

@media screen and (max-width: 640px) {
  .sideContent.detailed .topLine-vb .title{
    max-width: calc(100% - 30px);
  }
  exp-bookmark {
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    i {
      display: block !important;
    }
  }
  .vacantBox__price--time{
    display: none;
  }
  .popapApply{
    display: block;

  }
  .linkIcon span {
    max-width: 100%;
  }
  .sideContent{
    border-left: 0;
    border-right: 0;
  }
  .tapeSd .boxSd-item {
    border-bottom: 1px solid #d3d3d3;
  }
  .boxSd {
    .rating-wrap {
      width: 100%;
      text-align: center;
    }

    .topLine-vb {
      width: 100%;
      padding-right: 0;
      display: block;
      .vacantBox__price {
        display: block;
        width: 100%;
        left: 0;
      }
    }
    .starFv {
      float: right;
      margin-top: 4px;
    }
    .vacantBox__price {
      margin: 10px auto 0;
    }
    .vacantBox__logo.tabletBlock {
      display: block;
      margin: 30px auto 20px;
    }
    .tabletBlock {
      .button.mobileNone {
        display: none;
      }
      .button.desNone {
        display: block;
        margin: 0 auto;
      }
      .rating-wrap {
        padding-bottom: 15px;
        margin-bottom: 10px;
        position: relative;
        .vacantBox__boldText {
          text-align: left;
          margin-bottom: 0;
          display: inline-block;
        }
        :before {
          content: '';
          position: absolute;
          left: -20px;
          bottom: 0;
          width: calc(100% + 40px);
          height: 1px;
          background-color: #e5e5e5;
        }
      }
    }
    .vacantBox__text {
      margin-bottom: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dateText.desNone {
      display: inline-block;
      float: right;
      margin-top: 2px;
    }

  }
  .tapeSd {
    padding-bottom: 0;
    border-bottom: 0;
    border: 0;
    .tapeSd-box {
      .vacantBox__text {
        display: none;
      }
      .dateText.tabletBlock {
        display: none;
      }
      .btnTabs__text {
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
      }
      .largeCompanyNd {
        width: 100%;
        text-align: left;
        .blueLink {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;
        }
        .blueLink:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .linkIcon-mobile {
    background-color: #f1f1f1;
    padding: 20px;
    .linkIcon-wrap {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    .linkIcon {
      margin: 0;
    }
  }
  .boxSd-item {
    padding: 25px 20px;
  }
  .vacantBox__text--span {
    display: block !important;
  }


}

