<div class="row" *ngIf="vacancy&&vacancy.uid&&userService.users[vacancy.uid]">
    <div class="sideContent detailed" id="sideContent" *ngIf="vacancy">
        <div class="boxSd" #boxSd id="vacancyDet" style="background-color: #FFF">

            <div class="boxSd-item">

                <div class="topLine-vb">
                    <p class="title">{{vacancy.positionTitle}}
                        <exp-bookMark [vacancyId]="vacancy._id"></exp-bookMark>
                        <exp-address [address]="vacancy.address"></exp-address>
                    </p>
                    <exp-salarysumm [salary]="vacancy.salary"
                                    [published_at]="vacancy.published_at-30*86400"></exp-salarysumm>
                </div>

                <img *ngIf="userService.users[vacancy.uid]&&vacancy.showInfo==1"
                     onload="window['loadPhoto'](this,'contain')" class="vacantBox__logo tabletBlock"
                     src="{{userService.users[vacancy.uid].photo}}">
                <img *ngIf="vacancy.showInfo==0" class="vacantBox__logo tabletBlock"
                     src="/assets/img/ic_visibility_off_gray.svg">


                <div class="indent" *ngIf="vacancy.showInfo==0">
                    <p class="vacantBox__boldText desNone" style="text-align: center;width: 100%;">
                        {{"CompanyNameHidden" | translate}}</p>
                </div>

                <div class="tabletBlock indent"
                     *ngIf="userService.users[vacancy.uid]&&userService.users[vacancy.uid].Company">
                    <button class="button shaded min mobileNone"
                            *ngIf="vacancy.uid!=userService.profile._id&&userService.profile.subscribeVacancy.indexObject('vacancyId',this._id)<0"
                            (click)="modal = !modal"
                    >{{'btn.Apply'|translate}}
                    </button>
                    <div class="rating-wrap" *ngIf="vacancy.showInfo==1">
                        <p class="vacantBox__boldText">{{ userService.users[vacancy.uid].Company.nameCompany }}</p>
                        <a href="https://talents.fund/public-company/{{vacancy.uid}}" target="_blank">
                            <rating-star [dieStar]="false" [starResult]="false"
                                         [ratingValue]="userService.users[vacancy.uid].rating"></rating-star>
                        </a>
                    </div>
                    <p class="vacantBox__text desNone" *ngIf="vacancy.deadLine">
                        <exp-deadline [dateTime]="vacancy.deadLine"></exp-deadline>
                        <exp-published_at [days]="true" [dateTime]="vacancy.published_at"></exp-published_at>
                    </p>
                    <button class="button shaded min desNone"
                            *ngIf="!vacancy.aplicatCont&&vacancy.uid!=userService.profile._id&&userService.profile.subscribeVacancy.indexObject('vacancyId',this._id)<0"
                            (click)="modal = !modal"
                    >{{'btn.Apply'|translate}}
                    </button>
                    <a *ngIf="vacancy.aplicatCont" href="{{vacancy.aplicatCont}}" target="_blank">
                        <button
                                class="button shaded min desNone"
                        >{{'btn.Apply'|translate}}
                        </button>
                    </a>
                </div>
            </div>
            <iframe style="width: 100%;height: 500px"
                    *ngIf="vacancy.vacancyUrl&&vacancy.vacancyUrl!=''&&vacancy.descriptionStep==3" class="boxSd-item"
                    [src]="iframe"></iframe>
            <pdf-viewer

                    *ngIf="vacancy.uploadFiles&&vacancy.uploadFiles.length>0&&vacancy.descriptionStep==2&&typeFile=='pdf'"
                    [src]="'//'+dataService.HOST_STATIC+':'+dataService.PORT_STATIC+vacancy.uploadFiles[0].path"
                    [render-text]="true"
                    [autoresize]="true"
                    [original-size]="false"
                    style="display: block;"
            ></pdf-viewer>

            <div class="scale-wrap">
                <img style="width: 100%"
                     *ngIf="typeFile&&vacancy.uploadFiles&&vacancy.uploadFiles.length>0&&typeFile!='pdf'"
                     src="//{{dataService.HOST_STATIC+':'+dataService.PORT_STATIC+vacancy.uploadFiles[0].path}}">
            </div>
            <div class="boxSd-item" *ngIf="vacancy.descriptionStep==1">
                <div class="piece-wrap" *ngIf="vacancy.shotDescription">
                    <p class="minTilt">{{'vacancy.Short_description'|translate}}</p>
                    <p>{{vacancy.shotDescription}}</p>
                </div>
                <div class="piece-wrap" *ngIf="vacancy.roleTasks">
                    <p class="minTilt">{{'vacancy.Responsibilities_and_tasks'|translate}}</p>
                    <p>{{vacancy.roleTasks}}</p>
                </div>
                <div class="piece-wrap" *ngIf="vacancy.requirements">
                    <p class="minTilt">{{'vacancy.Requirements'|translate}}</p>
                    <p>{{vacancy.requirements}}</p>
                </div>
                <div class="piece-wrap" *ngIf="vacancy.weOffer">
                    <p class="minTilt">{{'vacancy.We_offer'|translate}}</p>
                    <p>{{vacancy.weOffer}}</p>
                </div>
            </div>
            <div *ngIf="vacancy.keySkills&&vacancy.keySkills.length>0" class="boxSd-item border-n">
                <p class="minTilt">{{'vacancy.Assotiated_key_skills'|translate}}</p>
                <div *ngFor="let skill of vacancy.keySkills" class="selInsert-wrap disable">
                    <!-- disable отключает кликабельность -->
                    <div class="selInsert">{{skill.text|translate}}</div>
                </div>
            </div>
            <div class="boxSd-item border-s"
                 *ngIf="vacancy.showInfo==1&&(userService.users[vacancy.uid].Company.webSite||vacancy.contactPerson||vacancy.contactPersonPosition||userService.users[vacancy.uid].Company.Address||vacancy.contactEmail||vacancy.phoneNumber)">
                <p class="minTilt">{{'Contacts'|translate}}</p>
                <div class="contactSd">
                    <p class="sideTitle">{{vacancy.contactPerson}}
                        <span class="contactSd__spun">{{vacancy.contactPersonPosition}}</span></p>

                    <p class="contact-item" *ngIf="userService.users[vacancy.uid].Company.Address"><i
                            class="material-icons">&#xE0C8;</i>
                        <span>{{userService.users[vacancy.uid].Company.Address}}</span></p>

                    <p class="contact-item" *ngIf="vacancy.contactEmail"><i class="material-icons">&#xE0BE;</i> <a
                            class="blueLink">{{vacancy.contactEmail}}</a>
                    </p>
                    <p class="contact-item" *ngIf="vacancy.phoneNumber"><i class="material-icons">&#xE0CD;</i>
                        {{vacancy.phoneNumber}}</p>

                    <p class="contact-item" *ngIf="userService.users[vacancy.uid].Company.webSite"><i
                            class="material-icons">language</i>
                        <a class="blueLink" target="_blank" href="//{{userService.users[vacancy.uid].Company.webSite}}">{{userService.users[vacancy.uid].Company.webSite}}</a>
                    </p>

                    <div class="social-wrap mobileNone">
                        <p class="minTilt">{{'Share it'|translate}}</p>

                        <div class="social"><!-- стили в button.scss -->
                            <div class="social__link fb"></div>
                            <div class="social__link tw"></div>
                            <div class="social__link in"></div>
                            <div class="social__link googl"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tapeSd" *ngIf="userService.users[vacancy.uid]">
            <div class="tapeSd-top" [ngClass]="{notBorder:userService.profile.type_profile == 'Company'}">
                <div class="tapeSd-box">
                    <p class="vacantBox__text" *ngIf="vacancy.deadLine">
                        <exp-deadline [dateTime]="vacancy.deadLine"></exp-deadline>
                    </p>

                    <button
                            class="button shaded min tabletNone"
                            *ngIf="!vacancy.aplicatCont&&vacancy.uid!=userService.profile._id&&userService.profile.subscribeVacancy.indexObject('vacancyId',this._id)<0"
                            (click)="modal = !modal"

                    >{{'btn.Apply'|translate}}
                    </button>
                    <a *ngIf="vacancy.aplicatCont" href="{{vacancy.aplicatCont}}" target="_blank">
                        <button
                                class="button shaded min tabletNone"
                        >{{'btn.Apply'|translate}}
                        </button>
                    </a>
                    <div class="absolut-wrapNd tabletNone" *ngIf="vacancy.showInfo==1&&userService.users[vacancy.uid]">
                        <img onload="window['loadPhoto'](this,'contain')" alt="" class="vacantBox__logo"
                             src="{{userService.users[vacancy.uid].photo}}">
                        <div class="rating-wrap">
                            <p class="vacantBox__boldText">{{ userService.users[vacancy.uid].Company.nameCompany }}</p>
                            <a href="https://talents.fund/public-company/{{vacancy.uid}}" target="_blank">
                                <rating-star style="cursor: pointer" [dieStar]="false" [starResult]="false"
                                             [ratingValue]="userService.users[vacancy.uid].rating"></rating-star>
                            </a>
                        </div>
                    </div>

                    <p class="btnTabs__text" *ngIf="vacancy.showInfo==1&&userService.users[vacancy.uid]">
                        {{
                        dataService.getOptionsFromId('companySize',userService.users[vacancy.uid].Company.companySize).text|translate}}
                    </p>
                    <span class="dateText tabletBlock">{{'Posted'|translate}}: {{dataService.dateConvert(vacancy.created_at) | date: 'dd.MM.yyyy'}}</span>
                    <div class="largeCompanyNd" *ngIf="vacancy.showInfo==1">
                        <a class="blueLink" [routerLink]="['/company-details',vacancy.uid]">{{'About_company'|translate}}</a>
                        <a class="blueLink"
                           [routerLink]="vacancy.uid == userService.profile._id ? ['/vacancy/list'] : ['/vacancy/all-vacancies', vacancy.uid]">{{'All_company_vacancies'|translate}}
                            ({{companyVacancyCount}})</a>
                    </div>
                </div>
                <div class="absolut-wrapNd tabletNone" *ngIf="vacancy.showInfo==0">
                    <i class='icon ic_visibility_off_gray'></i>
                    <div class="rating-wrap">
                        <!--<p class="vacantBox__boldText"> {{"CompanyNameHidden" | translate}}</p>-->
                    </div>
                </div>
                <options-data class="blockOd"
                              [type]="'single'"
                              [title]="'vacancy.Occupation field'|translate"
                              [data]="vacancy.occupationField"
                              [options]="'occupationField'"
                ></options-data>
                <options-data class="blockOd"
                              [type]="'single'"
                              [title]="'vacancy.Type'|translate"
                              [data]="vacancy.type"
                              [options]="'vacancyType'"
                ></options-data>
                <options-data class="blockOd"

                              [type]="'worktime'"
                              [title]="'vacancy.Work_time'|translate"
                              [data]="vacancy.Worktime"
                              [options]="'workTime'"
                ></options-data>

                <options-data class="blockOd"
                              [type]="'single'"
                              [title]="'vacancy.Education_required'|translate"
                              [data]="vacancy.minEducation"
                              [options]="'educationLevelCurrent'"
                ></options-data>
                <options-data class="blockOd"
                              [type]="'multi'"
                              [title]="'vacancy.Language(s)_required'|translate"
                              [data]="vacancy.LanguagesRequired"
                              [dataValues]="['languageID','levelID']"
                              [options]="['languages','levels']"
                ></options-data>

                <span *ngIf="false">{{'-'|translate}}</span>
                <options-data class="blockOd"
                              [type]="'single'"
                              [title]="'vacancy.Required_experience'|translate"
                              [data]="vacancy.experience_work"
                              [options]="'workExp'"
                              [prefixEnd]="'vacancy.year_minimum'|translate"
                ></options-data>

                <p class="vacantBox__text" *ngIf="vacancy.contract.start||vacancy.contract.end">
                    <span class="vacantBox__text--span">{{'vacancy.Contract'|translate}}:</span>
                    <span class="vacantBox__boldText">
                        {{vacancy.contract.start?(dataService.dateConvert(vacancy.contract.start)|date:'dd.MM.yyyy'):''}}

                        {{vacancy.contract.end&&vacancy.contract.start?'-':''}}
                        {{vacancy.contract.end?(dataService.dateConvert(vacancy.contract.end)|date:'dd.MM.yyyy'):''}}

                    </span>
                </p>
            </div>
            <app-random-vacancy *ngIf="userService.profile.type_profile == 'Student'">

            </app-random-vacancy>


            <div class="boxSd-item border-s desNone">
                <div class="contactSd">
                    <div class="social-wrap">
                        <p class="minTilt">{{'Share_it'|translate}}</p>
                        <div class="social"><!-- стили в button.scss -->
                            <div class="social__link fb"></div>
                            <div class="social__link tw"></div>
                            <div class="social__link in"></div>
                            <div class="social__link googl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottomline1" class=" fixedLine-wrap fix" [ngStyle]="{'bottom':userService.profile.type_profile=='Student'&&vacancy&&vacancy.uid&&userService.users[vacancy.uid]?'52px':'0px'}"><!-- fix -->
            <div class="fixedLine">
                <div class="linkIcon-wrap">

                    <div class="linkIcon min" (click)="printPdf()"><i class="material-icons">&#xE415;</i> <span>{{'Print PDF'|translate}}</span>
                    </div>
                    <div class="linkIcon min" ngxClipboard
                         [cbContent]="'http://account.'+dataService.HOST+'/vacancy/details/'+vacancy._id"><i
                            class="material-icons">&#xE157;</i> <span>
                      {{'Copy vacancy link'|translate}}</span>
                    </div>
                </div>
                <div class="linkIcon-wrap">
                    <exp-set-dialog [userId]="vacancy.uid"></exp-set-dialog>
                    <exp-bookMark [vacancyId]="vacancy._id"></exp-bookMark>
                </div>
            </div>
        </div><!-- fix and absolut -->
        <div  class="linkIcon-mobile desNone" *ngIf="userService.profile.type_profile=='Student'">

            <div class="linkIcon-wrap">
                <exp-bookMark [vacancyId]="vacancy._id"></exp-bookMark>
            </div>
            <div class="linkIcon-wrap">
                <div class="linkIcon" (click)="router.navigate(['/vacancy/search'])"><i
                        class="material-icons">&#xE241;</i> <span>{{'View similiar vacancies'|translate}}</span></div>
            </div>
        </div>

    </div>
  <div class="popapApply" id="bottomline2"  *ngIf="userService.profile.type_profile=='Student'&&vacancy&&vacancy.uid&&userService.users[vacancy.uid]">

    <div class="linkIcon-wrap">
      <button class="button shaded min"
              *ngIf="!vacancy.aplicatCont&&vacancy.uid!=userService.profile._id&&userService.profile.subscribeVacancy.indexObject('vacancyId',this._id)<0"
              (click)="modal = !modal">{{'btn.Apply'|translate}}
      </button>
      <a *ngIf="vacancy.aplicatCont" href="{{vacancy.aplicatCont}}" target="_blank">
        <button
          class="button shaded min"
          *ngIf="vacancy.aplicatCont&&vacancy.uid!=userService.profile._id&&userService.profile.subscribeVacancy.indexObject('vacancyId',this._id)<0"
        >{{'btn.Apply'|translate}}
        </button>
      </a>
      <div class="linkIcon min" *ngIf="!userService.iSBookmark(vacancy._id)"
           (click)="userService.setBookmark(vacancy._id)"><i
        class='icon ic_star_border_gray'></i> <span>{{'Bookmark'|translate}}</span></div>
      <div class="linkIcon min" *ngIf="userService.iSBookmark(vacancy._id)"
           (click)="userService.unsetBookmark(vacancy._id)"><i
        class='icon ic_star_yellow'></i> <span>{{'Bookmarked'|translate}}</span></div>
    </div>
    <div class="linkIcon-wrap" *ngIf="userService.profile.type_profile=='Student'">
      <div class="linkIcon" (click)="router.navigate(['/vacancy/search'])"><i
        class="material-icons">&#xE241;</i> <span>{{'View similiar vacancies'|translate}}</span></div>
    </div>
  </div>

</div>

<div class="modalStandart " [ngClass]="{'active':modal}">
    <div class="modalStandart-wrap">
        <i class="icon cancel-black" (click)="modal = !modal"></i>

        <div class="headerMs">
            <p class="sideTitle">{{'vacancy.Apply_for_this_vacancy'|translate}}</p>

            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{'vacancy.Choose_your_CV'|translate}}</p>
                    <app-unity-select
                            [error]="apply.resumeId"
                            [valid]="apply.vacancyId?true:false"
                            [title]="'vacancy.Choose_your_CV'|translate"
                            [arrIn]="resumes"
                            (arrOut)="apply.resumeId = $event.id"
                    ></app-unity-select>
                </div>
            </div>
            <!--<p class="text">or <a class="blueLink">upload as a file</a></p>-->

        </div>
        <div class="contentMs">
            <div class="row-wrap indent">
                <!--<div class="checkbox">-->
                <!--<input id="type31" type="checkbox" name="check" value="">-->
                <!--<label for="type31"><span class="checkbox__box"></span>-->
                <!--<p class="checkbox__text">{{'vacancy.Previous_work_experience_required'|translate}}</p></label>-->
                <!--</div>-->

                <div class="col-v10">
                    <p class="textField dark">{{'vacancy.Choose_your_cover_letter'|translate}}</p>
                    <app-unity-select
                            [title]="'vacancy.Choose_your_cover_letter'|translate"
                            [arrIn]="coverLetter"
                            (arrOut)="setTextCL($event.id);apply.coverLetterId = $event.id"
                    ></app-unity-select>
                </div>
            </div>
            <p class="text">{{'or'|translate}} <a class="blueLink" [routerLink]="['/create-cover-letter']">{{'vacancy.write_a_new_one'|translate}}</a>
            </p>

            <div class="row-wrap indentTop">
                <p class="textField dark">{{'Cover letter content'|translate}}</p>
                <textarea [(ngModel)]="apply.content" class="textarea"></textarea>
            </div>

            <button class="button shaded min" (click)="applyToVacancy(_id)">{{'btn.Apply'|translate}}</button>

        </div>


    </div>
</div>
