<p>
  {{"ProgressEducation" }}
</p>
<div>
  <div class="vacantBox status_3" *ngFor="let item of progress">


    <div class="vacantBox-left" >
      <div class="topLine-vb" [routerLink]="['/admin/vacancy/details',item._id]">
        <p class="title">{{item.positionTitle}}</p>

      </div>
      <div class="parameterVb">
        <p class="vacantBox__text">{{"School" }}: <span
          class="vacantBox__boldText">{{item.schoolName}}</span>
        </p>
        <p class="vacantBox__text">
          {{"Start" }}: <span class="vacantBox__boldText">{{item.startDateMonth}}.{{item.startDateYear}}</span>
          {{"End" }}: <span class="vacantBox__boldText">{{item.endDateMonth}}.{{item.endDateYear}}</span>
        </p>
        <p class="vacantBox__text">
          {{"GradeStarted" }}: <span class="vacantBox__boldText">{{item.SchoolProgressEducation.gradeStarted}}</span>
        </p>
        <p class="vacantBox__text">
          {{"GradeStarted" }}: <span class="vacantBox__boldText">{{item.SchoolProgressEducation.gradeStarted}}</span>
        </p>
      </div>
      <div>
        <div style="width: 200px;" *ngIf="item.SchoolProgressEducation.status==2">
          <div  class="button" (click)="verify(item._id,3)">{{"Publish" }}</div>
          <div  class="button" (click)="verify(item._id,1)">{{"Reject" }}</div>
        </div>
        <div style="width: 200px;" *ngIf="item.SchoolProgressEducation.status==3">
          {{"Published" }}
        </div>
      </div>
    </div>


  </div>

</div>


