<div class="step step-resumeObjective">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.Objective'|translate}}</p>
    <div class="lampText">
      {{'resume.Objective_desc'|translate}}
    </div>
    <div class="createResume-formItem">
      <label  class="textField" for="Your_objective">{{'resume.Your_objec'|translate}}</label>
      <textarea
              id="Your_objective"
              class="textarea"

              [maxLength]="3000"
              [(ngModel)]="cS.resume.objective"


      ></textarea>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/keyskills']">{{'resume.Ed_ks'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/keyskills']">{{'resume.Ed_ks'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>
