<div class="title-wrap">
    <p class="title">{{ 'account.settings.title' | translate }}</p>
</div>
<div class="boxSide">

    <div class="settings-item">
        <p class="sideTitle indent">{{ 'account.settings.news' | translate }}</p>

        <div class="radio">
            <div class="radio-line">
                <input id="mnb" type="radio" name="news11"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="true"
                       [attr.disabled]="readonly"
                       value="true">
                <label

                        for="mnb"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.yes' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.receive_news' | translate }}</p>
                </label>
            </div>
            <div class="radio-line">
                <input id="mnbv" type="radio" name="news11"
                       [(ngModel)]="user.profile.Settings.news"
                       [value]="false"
                       [attr.disabled]="readonly"
                       value="false">
                <label

                        for="mnbv"><span></span>
                    <p class="radio__text bold">{{ 'account.settings.no' | translate }}</p>
                    <p class="radio__subText">{{ 'account.settings.dont_receive_news' | translate }}</p>
                </label>
            </div>
        </div>
    </div>
</div>
