<div *ngIf="inputStyle=='drop'">
  <div class="dropFiles" appDnd (click)="fileInput.click()"
       [ngClass]="{'dragover' : dragover==1,'drop' : dragover==2, 'alert': alertUploader == true}"

       (dragover)="dragover=true"

  ><p  class="blueLink">

    {{'Browse_file'|translate}}
  </p></div>
</div>

<div *ngIf="inputStyle=='singlePhoto'">
  <span class="blueLink"   (click)="fileInput.click()"> {{user.profile.type_profile=='Company'?('Upload_your_logo'|translate):('Upload_your_photo'|translate)}}</span>
</div>
<div *ngIf="inputStyle=='singleFile'">
  <div class="attachFile"  (click)="fileInput.click()">
    <p>Attach file</p>
    <i class='icon attach-file-birch'></i>
  </div>
</div>
<div *ngIf="inputStyle=='document'">
  <button  (click)="fileInput.click()" class="button min">{{'Upload_conf_doc'|translate}}</button>
</div>
<div *ngIf="inputStyle=='singleFilebtn'">
  <button  (click)="fileInput.click()" class="button min">{{'Upload_file'|translate}}</button>
</div>
<input  [attr.multiple]="multiple ? 'true' : null" accept="{{accept}}" type="file" style="display:none;" #fileInput (change)="checkFiles(parsefiles($event))"/>


