
/* + dropFiles */
.dropFiles {
  text-align: center;
  padding: 27px 10px;
  border: 1px #A1A1A1;
  border-style: dashed;
  margin-top: 30px;
}

.alert.dropFiles {
  border-color: red !important;
}

.dropFiles p {
  display: inline-block;
  cursor: pointer;
  transition: 0.6s;
}

.dropFiles p:hover .blueLink {
  color: #0092B2;
}





.fileList {
  border-top: 1px dashed #CCCCCC;
  border-bottom: 1px dashed #CCCCCC;
  padding: 10px;
  display: block;
  position: relative;
  margin-top: 5px;

  * {
    display: inline-block;
    vertical-align: top;
  }

  .clip {
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .crossBascet {
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    padding: 0;
    cursor: pointer;
  }
  .fileList__title {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .fileList__text span {
    display: block;
    cursor: pointer;
  }
  .fileList__text {
    color: #626262;
    font-size: 13px;
    line-height: 15px;
  }

}

/* - dropFiles */

@media screen and (max-width: 1100px) {
  .createJob-item {
    width: calc(33% - 10px);
    margin-right: 10px;
  }
  .amongText {
    width: 155px;
    padding-right: 10px;
  }

  .createJob-item.min {
    width: 40%;
  }
}

@media screen and (max-width: 1080px) {
  .createJob {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 980px) {
  .discountBox-wrap .checkbox {
    width: 65%;
    max-width: 100%;
  }

  .createJob-item {
    width: calc(49% - 10px);
    margin-right: 10px;
  }
  .amongText {
    margin-bottom: 30px;
    width: 130px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .createJob .discountBox-wrap .checkbox, .SalaryBox .createJob-item.min, .stringCj.indent {
    margin-bottom: 0px;
  }
  .stringCj {
    margin-bottom: 30px;
  }

}

.button.min{
  width: 100%;
  max-width: 100%;
}


.btnJob-wrap {
  display: block;
  text-align: center;
  .button.min {
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0;
    line-height: 36px;
    i {
      padding: 0;

    }
  }
  .button.grey {
    line-height: 36px;
  }
  .button:first-child {
    margin-right: calc(100% - 245px);
  }
}
//*////////////////////////////////////////////

.dragover{
  background-color: #00C3F1;
  .blueLink{
    color: #FFFFFF;
  }
}
.drop{
  background-color: #00C434;
  .blueLink{
    color: #FFFFFF;
  }
}
