<div class="sideContent detailed ">

    <div class="boxSd">
        <div class="boxSd-item">
            <div class="topLine-vb">
                <p class="title">Czech Airlines ltd Rating</p>
                <button class="button shaded">Rate this company</button>
            </div>
            <p class="sideTitle desNone">Rating visibility in your public company profile</p>
        </div>

        <div class="boxSd-item">
            <div class="row-wrap">
                <div class="col-v7 col-t5 col-m10 col-p10">
                    <div class="rating-item">
                        <p class="blueText ellipsis">Culture & atmosphere: </p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>
                        </div>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">Work conditions: </p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>
                        </div>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">Compliance of salary: </p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>
                        </div>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">Management quality: </p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>

                        </div>
                    </div>
                    <div class="rating-item">
                        <p class="blueText ellipsis">Career opportunities: </p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>

                        </div>
                    </div>
                </div>
                <div class="col-v3 col-t5 col-p10">
                    <div class="dottedBox">
                        <p class="dottedBox__text">Recommended by:</p>
                        <p class="dottedBox__number">86%</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="boxSide-item">
            <div class="postRating">
                <div class="postRating-h">
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Overall rating:</p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow100"></div>
                            <div class="star yellow25"></div>

                        </div>
                    </div>
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Recommends: </p>
                        <p class="statusPr"><i class='icon ic_thumb_up_birch'></i> Yes</p>

                    </div>

                </div>
                <p class="postRating__text">When asked, “If you could wish for one thing only, what would that wish be?”
                    almost everyone; from
                    beauty pagent
                </p>
                <div class="postRating-f">
                    <div class="row-wrap">
                        <div class="col-v5 col-p7">
                            <i class="icon ic_verified_user_birch"></i>
                            <i class='icon ic_work_gray'></i>
                            <p class="minText">Afanasij Nikitin</p>
                            <span class="dateText">20.06.2017 (15:46)</span>
                        </div>
                        <div class="col-v5 col-p3 right">
                            <a class="blueLink">Report abuse</a>
                        </div>
                    </div>

                </div>
                <div class="replyPs"><a class="blueLink">2 replies</a></div><!-- active -->
                <div class="nestingPs active"><!-- active -->
                    <div class="postRating ">
                        <p class="postRating__text">
                            Advertising leads to the interpellation of the subject to effect the material practice of
                            consumption. Put more simply: there is money involved. Other ideologies – propagated through
                            organized religions, for instance – lead to prayer. Could this be the material practice that
                            they are looking for? No way. Money, prayer, the very ability to interpellate – they are all
                            representations of
                        </p>
                        <div class="postRating-f">
                            <div class="row-wrap">
                                <div class="col-v5 col-p7">
                                    <i class='icon suspended-red'></i>
                                    <p class="minText">Afanasij Nikitin <i class='icon ic_work_gray'></i> <span>Google Moogle LTD</span>
                                    </p>
                                    <span class="dateText">20.06.2017 (15:46)</span>
                                </div>
                                <div class="col-v5 col-p3 right">

                                    <a class="blueLink">Report abuse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="postRating">
                        <p class="postRating__text">
                            Are we human because of unique traits and attributes not shared with either animal or
                            machine?
                            The definition of “human” is circular: we are human by virtue of the properties that make us
                            human (i.e., distinct from animal and machine). It is a definition by negation: that which
                            separates us from animal and machine is our “human-ness”.
                        </p>
                        <div class="postRating-f">
                            <div class="row-wrap">
                                <div class="col-v5 col-p7">
                                    <i class='icon suspended-red'></i>
                                    <p class="minText">Afanasij Nikitin
                                    </p>
                                    <span class="dateText">20.06.2017 (15:46)</span>
                                </div>
                                <div class="col-v5 col-p3 right">

                                    <a class="blueLink">Report abuse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="formPs">
                        <div class="formPs-link">
                            <a class="blueLink">View more replies</a>
                        </div>
                        <p class="textField">Your comment</p>
                        <textarea class="textarea"></textarea>
                        <button class="button min">Submit</button>
                    </div>
                </div><!-- active -->
            </div>
        </div>

        <div class="boxSide-item">
            <div class="postRating">
                <div class="postRating-h">
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Overall rating:</p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>

                        </div>
                    </div>
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Recommends: </p>
                        <p class="statusPr"><i class='icon ic_thumb_down_gray'></i> No</p>
                    </div>

                </div>
                <p class="postRating__text">
                    Hypnosis quit smoking methods maintain caused quite a stir in the medical world over the last two
                    decades. There is a lot of argument pertaining to whether or not hypnosis quit smoking treatments
                    are actually useful in the long-term. Nonetheless, there has been much research conducted concerning
                    the treatments, and the agreement is that hypnosis treatments are just as effective
                </p>
                <div class="postRating-f">
                    <div class="row-wrap">
                        <div class="col-v5 col-p7">
                            <i class="icon ic_verified_user_birch"></i>
                            <p class="minText">Ana Maria Bendelshdam</p>
                            <span class="dateText">20.06.2017 (15:46)</span>
                        </div>
                        <div class="col-v5 col-p3 right">
                            <a class="blueLink">Report abuse</a>
                        </div>
                    </div>

                </div>

                <div class="replyPs active"><a class="blueLink">3 replies</a></div><!-- active -->
                <div class="nestingPs"><!-- active -->
                    <div class="postRating ">
                        <p class="postRating__text">
                            Advertising leads to the interpellation of the subject to effect the material practice of
                            consumption. Put more simply: there is money involved. Other ideologies – propagated through
                            organized religions, for instance – lead to prayer. Could this be the material practice that
                            they are looking for? No way. Money, prayer, the very ability to interpellate – they are all
                            representations of
                        </p>
                        <div class="postRating-f">
                            <div class="row-wrap">
                                <div class="col-v5  col-p7">
                                    <i class='icon suspended-red'></i>
                                    <p class="minText">Afanasij Nikitin <i class='icon ic_work_gray'></i> <span>Google Moogle LTD</span>
                                    </p>
                                    <span class="dateText">20.06.2017 (15:46)</span>
                                </div>
                                <div class="col-v5 col-p3 right">
                                    <a class="blueLink">Report abuse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="postRating">
                        <p class="postRating__text">
                            Are we human because of unique traits and attributes not shared with either animal or
                            machine?
                            The definition of “human” is circular: we are human by virtue of the properties that make us
                            human (i.e., distinct from animal and machine). It is a definition by negation: that which
                            separates us from animal and machine is our “human-ness”.
                        </p>
                        <div class="postRating-f">
                            <div class="row-wrap">
                                <div class="col-v5 col-p7">
                                    <i class='icon suspended-red'></i>
                                    <p class="minText">Afanasij Nikitin
                                    </p>
                                    <span class="dateText">20.06.2017 (15:46)</span>
                                </div>
                                <div class="col-v5 col-p3 right">

                                    <a class="blueLink">Report abuse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="postRating">
                        <p class="postRating__text">
                            Are we human because of unique traits and attributes not shared with either animal or
                            machine?
                            The definition of “human” is circular: we are human by virtue of the properties that make us
                            human (i.e., distinct from animal and machine). It is a definition by negation: that which
                            separates us from animal and machine is our “human-ness”.
                        </p>
                        <div class="postRating-f">
                            <div class="row-wrap">
                                <div class="col-v5 col-p7">
                                    <i class='icon suspended-red'></i>
                                    <p class="minText">Afanasij Nikitin
                                    </p>
                                    <span class="dateText">20.06.2017 (15:46)</span>
                                </div>
                                <div class="col-v5 col-p3 right">

                                    <a class="blueLink">Report abuse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="formPs">
                        <div class="formPs-link">
                            <a class="blueLink">View more replies</a>
                        </div>
                        <p class="textField">Your comment</p>
                        <textarea class="textarea"></textarea>
                        <button class="button min">Submit</button>
                    </div>
                </div><!-- active -->
            </div>
        </div>

        <div class="boxSide-item">
            <div class="postRating">
                <div class="postRating-h">
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Overall rating:</p>
                        <div class="star-wrap">
                            <div class="star yellow100"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                    </div>
                    <div class="col-v4 col-p10">
                        <p class="subMin-title"> Recommends: </p>
                        <p class="statusPr"><i class='icon ic_thumb_down_gray'></i> No</p>
                    </div>

                </div>
                <p class="postRating__text">
                    Believing Is The Absence Of Doubt
                </p>
                <div class="postRating-f">
                    <div class="row-wrap">
                        <div class="col-v5 col-p7">
                            <i class='icon ic_face_gray'></i>
                            <p class="minText">Website visitor</p>
                            <span class="dateText">20.06.2017 (15:46)</span>
                        </div>
                        <div class="col-v5 col-p3 right">
                            <a class="blueLink">Report abuse</a>
                        </div>
                    </div>

                </div>

                <div class="replyPs active"><a class="blueLink">Reply</a></div><!-- active -->
                <div class="nestingPs"><!-- active -->
                    <div class="formPs">
                        <p class="textField">Your comment</p>
                        <textarea class="textarea"></textarea>
                        <button class="button min">Submit</button>
                    </div>
                </div><!-- active -->
            </div>
        </div>
    </div>
    <div class="tapeSd">
        <div class="tapeSd-top">
            <div class="tapeSd-box">
                <div class="absolut-wrapNd tabletNone">
                    <img alt="" class="vacantBox__logo" src="/assets/img/logo/mcdonald-s-15.svg">
                    <div class="rating-wrap">
                    <rating-star></rating-star></div>
                </div>
                <p class="btnTabs__text">Large company (&gt;250 emp.)</p>
                <span class="dateText">Established: 1999</span>
            </div>

            <p class="vacantBox__text"><span class="vacantBox__text--span">Fields of activity:</span>
                <span class="vacantBox__boldText">Web Design, Web services, Mal, Calendars</span>
            </p>
            <p class="vacantBox__text"><span class="vacantBox__text--span">Location(s):</span>
                <span class="vacantBox__boldText block"> <i class='icon ic_location_on_black'></i> Tallinn, Estonia</span>
                <span class="vacantBox__boldText"> <i class='icon ic_location_on_black'></i> New York, US</span>
            </p>
            <p class="vacantBox__text"><span class="vacantBox__text--span">Legal form of business:</span>
                <span class="vacantBox__boldText block">Joint stock (JSC)</span>
            </p>
            <button class="button">Company vacancies: 59</button>
        </div>
        <div class="tapeSd-featured">
            <div class="tapeSd-featured-item">
                <a class="blueLink">User interface designer</a>
                <p class="title"><span class="vacantBox__address"><i
                        class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                <p class="vacantBox__text">Ocupation field: <span class="vacantBox__boldText">Design</span></p>
                <p class="vacantBox__price">50€<span _ngcontent-c4="">/h</span></p>
                <div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>
                    <rating-star></rating-star>
                </div>
            </div>
            <div class="tapeSd-featured-item">
                <a class="blueLink">User interface designer</a>
                <p class="title"><span class="vacantBox__address"><i
                        class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                <p class="vacantBox__text">Ocupation field: <span class="vacantBox__boldText">Design</span></p>
                <p class="vacantBox__price">50€<span _ngcontent-c4="">/h</span></p>
                <div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>
                    <rating-star></rating-star>
                </div>
            </div>
            <div class="tapeSd-featured-item">
                <a class="blueLink">User interface designer</a>
                <p class="title"><span class="vacantBox__address"><i
                        class="material-icons">&#xE0C8;</i>Tallinn, Estonia</span>
                <p class="vacantBox__text">Ocupation field: <span class="vacantBox__boldText">Design</span></p>
                <p class="vacantBox__price">50€<span _ngcontent-c4="">/h</span></p>
                <div class="rating-wrap"><p class="vacantBox__boldText">Tieto Estonia AS</p>
                    <rating-star></rating-star>
                </div>
            </div>
        </div>
    </div>
</div>