.sideContent {
  width: 100%;
}
.boxSd{
  padding-bottom: 0;
}
.tapeSd-top {
  border-bottom: 1px solid #d3d3d3;
  padding: 35px 20px 30px 20px;
}
.absolut-wrapNd {
  text-align: center;
}
.rating-wrap {
  margin: 15px 0;
}
.tapeSd-box {
  margin-bottom: 30px;
}
.vacantBox__boldText.block {
  display: block;
}

.vacantBox__boldText .icon{
  width: 12px;
  height: 18px;
}

.tapeSd-top .button {
  padding: 15px 5px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #00C3F1;
  margin-top: 20px;
}
.tapeSd-featured .blueLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
  display: table;
}
.vacantBox__text {
  margin-bottom: 20px;
}
.vacantBox__text--span {
  display: block;
  margin-bottom: 3px;
}
.tapeSd-featured {
  padding: 20px;
}
.tapeSd-featured .vacantBox__price {
  text-align: left;
  position: inherit;
}



.topLine-vb .button.shaded {
    padding: 14px 10px;
    width: 245px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

  .title {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 250px);
  }
}

.boxSd-item {
  padding: 15px 20px;
  border-bottom: 1px solid #E5E5E5;
}
.boxSide-item {
  border-bottom: 1px solid #E5E5E5;

  &:last-child{
    border: 0;
  }
}

/* ------- */
.dottedBox {
  margin-right: 0;
}
.checkbox .checkbox__text.bold{
  font-weight: 500;
}
.checkbox input[type=checkbox]:checked + label .checkbox__box {
  background-color: #a8a8a8;
}
.checkbox {
  line-height: 1;
}

/* ------ */

.reviewsFrom .button {
  padding: 15px;
  width: 100%;
  margin-top: 30px;
  border: 1px solid #00C3F1;
}
.reviewsFrom .minTilt {
  margin-bottom: 20px;
}
.sideTitle.indent{
  margin: 30px 0 25px;
}

.rating-item{
  line-height: 1;
  margin-bottom: 5px;
  .star {
    width: 14px;
    height: 14px;
  }

  .blueText{
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    font-size: 13px;

  }
  .star-wrap{
    display: inline-block;
    vertical-align: middle;
  }
}

.star-wrap {
  display: inline-block;
}

.statusPr {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 500;

  i{
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }
}

.postRating .subMin-title {
  font-weight: 500;
  width: 110px;
  margin: 0;
  padding-right: 10px;
}

.postRating .star-wrap {
  margin-bottom: 3px;
}

.postRating__text {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.postRating-f{
  .minText{
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;

    span{
      display: block;
      font-weight: normal;
      line-height: 1;
      font-size: 12px;
    }

    i{
      font-size: 15px;
    }
  }
  i{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: top;
  }
}

.postRating .dateText {
  color: #757575;
  font-size: 12px;
  line-height: 17px;
  margin-left: 10px;
  vertical-align: top;
}

.rating-item .blueText,
.rating-item .star-wrap,
.statusPr,
.subMin-title,
.postRating {
  display: inline-block;
  vertical-align: middle;
}



.postRating .dateText {
  color: #757575;
  font-size: 12px;
  line-height: 17px;
  margin-left: 10px;
  vertical-align: top;
}

.nestingPs.active {
  display: block;
}

.nestingPs {
  max-width: 640px;
  width: 82%;
  margin: 0 auto 0;
  display: none;

  .postRating{
    margin: 35px auto 0;
  }
}


.postRating .blueLink {
  font-size: 12px;
}

.postRating {
  width: 100%;
}

/* ------ */
.nestingPs.active{
  display: block;
}
.postRating .blueLink{
  font-size: 12px;
}
.formPs{
  margin-top: 20px;
  .formPs-link{
    margin-bottom: 20px;
  }
  .blueLink{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .textField{
    color: #666666;
  }
  .button{
    margin: 5px auto 0;
    margin-right: 0;
    border: 1px solid #00C3F1;
    max-width: 190px;
  }
}
.replyPs{
  margin-top: 20px;
  display: none;

  &.active{
    display: block;
  }

  .blueLink{
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .rating-item .blueText {
    width: 140px;
  }
  .rating-item .star {
    width: 12px;
    height: 12px;
  }


}

@media screen and (max-width: 980px) {
  .nestingPs {
    width: 90%;
  }
  .reviewsFrom {
    margin: 20px 0 0 0;
  }

  .tapeSd{
    display: none;
  }
  .boxSd{
    width: 100%;
  }

}
@media screen and (max-width: 800px) {
  .dottedBox{
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .reviewsFrom {
    margin: 30px 0 0 0;
  }
  .rating-item .star {
    width: 14px;
    height: 14px;
  }
  //.postRating__text {
  //  margin-top: 20px;
  //  margin-bottom: 20px;
  //}
  .boxSide-item > .postRating > .postRating__text {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .rating-item .blueText {
    width: calc(100% - 135px);
  }
  .reviewsFrom .button {
    max-width: 100%;
  }
  .postRating .blueLink {
    display: block;
    margin: 0 0 10px;
    &:last-child{
      margin: 0;
    }
  }
  .postRating span.blueText{
    display: none;
  }

  .nestingPs {
    width: 94%;
    margin: 0 auto;
    margin-right: 0;
  }
  .formPs {
    width: calc(100% + 6%);
    margin-left: -6%;
  }
  .formPs .button {
    max-width: 100%;
  }
  .postRating .dateText {
    display: block;
    margin: 0px 0 0 25px;
  }
  .postRating-f .minText span {
    margin-bottom: 5px;
  }

  .topLine-vb .button.shaded {
    display: block;
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
  }
  .topLine-vb .title {
    width: 100%;
  }
   .topLine-vb{
     margin-bottom: 25px;
  }
  .boxSd-item {
    padding: 0 20px 25px;
    border-bottom: 1px solid #E5E5E5;

    &:first-child{
      border: 0;
      padding-top: 35px;
    }

  }
  .dottedBox {
    margin-right: auto;
  }

}