<div class="step step-resumeJobOption">
  <div class="createResume-block main">
    <p class="sideTitle">{{'resume.jobop'|translate}}</p>
    <div class="lampText">{{'resume.jobopDesc'|translate}}</div>
  </div>
  <div class="createResume-block">
    <p class="sideSubTitle">{{'resume.jobop_intInj'|translate}}</p>
    <div class="createResume-formItem unpaid">
      <div class="checkbox" *ngFor="let type of dS.options.jobType">
        <input
          id="{{type.id}}{{rand}}"
          name="check"
          type="checkbox"
          [attr.checked]="cS.resume.jobOptions.jobType.indexOf(type.id)>-1 ? true : null"
          (change)="cS.optionsChange(type.id,cS.resume.jobOptions.jobType)"
          >
        <!---->
        <label  for="{{type.id}}{{rand}}"><span class="checkbox__box"></span>
          <p  class="checkbox__text" >{{type.text|translate}}</p></label>
      </div>
    </div>
    <div class="createResume-formItem">
      <p class="textField">{{'options.occupationField'|translate}}</p>
      <div class=" w100">
        <app-multiple-select
          [typeOut]="0"
          [title]="'options.occupationField'|translate"
          [valueId]="cS.resume.jobOptions.occupationField"
          [arrIn]="dS.options.occupationField"
          (arrOut)="cS.resume.jobOptions.occupationField = $event"
        ></app-multiple-select>
      </div>
    </div>
    <div class="createResume-formItem possible">
      <p class="textField">{{'input.pospos'|translate}}</p>
      <div class="possible-item" *ngFor="let item of cS.resume.jobOptions.possible_position;let i = index">
        <input disabled class="input" name="School-location" type="text" value="{{item}}">
        <span class="delete-icon " (click)="delPossible_position(i)">
                        <i class="material-icons action-icon">&#xE872;</i>
                        {{'btn.Delete'|translate}}
                    </span>

      </div>
      <div class="possible-item add">
        <input-search-autocomplete
          [value]="possible_position"
          [result]="arrPosition"
          [title]="'input.pospos'|translate"
          (query)="getData($event,0)"
          (queryFull)="getData($event,1)"
        ></input-search-autocomplete>
        <!--<input class="input"  name="School-location" type="text" [(ngModel)]="possible_position">-->
        <button class="button shortBtn" (click)="addPossible_position()">{{"btn.Add" | translate}}</button>
      </div>

    </div>
    <div class="createResume-formItem">
      <p class="textField">{{'vacancy.Field_of_activity'|translate}}</p>

      <div class=" w100">
        <app-multiple-select
                [typeOut]="0"
                [valueId]="cS.resume.jobOptions.fieldActivity"
                [title]="'vacancy.Field_of_activity'|translate"
                [arrIn]="dS.options.fieldActivity"
                (arrOut)="cS.resume.jobOptions.fieldActivity = $event"
        ></app-multiple-select>

      </div>
    </div>



  </div>
  <div class="createResume-block">
    <p class="sideSubTitle">{{'Locations'|translate}}</p>
    <div class="checkbox mb">
      <input  id="{{rand3}}" name="check" type="checkbox" [value]="true" [(ngModel)]="cS.resume.jobOptions.remote_work">
      <label  for="{{rand3}}"><span class="checkbox__box"></span>
        <p  class="checkbox__text">{{'resume.ipeRemwo'|translate}}</p></label>


    </div>
    <div class="location" *ngIf="!cS.resume.jobOptions.remote_work">
      <div class="location-item">
        <p class="textField" *ngIf="cS.resume.jobOptions.locations.length">{{'Location'|translate}}</p>
        <div class="location-item-wrap" *ngFor="let loc of cS.resume.jobOptions.locations;let i = index">

          <input disabled type="text" class="input location-icon" value="{{loc.addr}}">
          <span class="delete-icon " (click)="deleteLocate(i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
        </div>


      </div>
      <div class="location-item add">
        <p class="textField">{{'Location'|translate}}</p>
        <div class="location-item-wrap">

          <address-select
            (Address)="Address=$event"
            [addr]="Address"
            (Location)="Location=$event"
            [locate]="Location"
            [types]="['(regions)']"
          ></address-select>
          <button class="button shortBtn" (click)="setLocate()">{{'btn.Add'|translate}}</button>
        </div>


      </div>
    </div>





  </div>
  <div class="createResume-block">
    <p class="sideSubTitle">{{'resume.prefWT'|translate}}</p>
    <div class="createResume-formItem pref">
      <div class="checkbox" *ngFor="let time of dS.options.workTime">
        <input  id="{{ time.id }}{{rand4}}" name="check" type="checkbox"
                [attr.checked]="cS.resume.jobOptions.preferredWorkTime.indexOf(time.id)>-1 ? true : null"
                (change)="cS.optionsChange(time.id,cS.resume.jobOptions.preferredWorkTime)"
        >
        <label  for="{{ time.id }}{{rand4}}"><span class="checkbox__box"></span>
          <p  class="checkbox__text">{{ time.text|translate }}</p></label>
      </div>
    </div>

  </div>
  <div class="createResume-block">
    <p class="sideSubTitle">{{'resume.prefPer'|translate}}</p>
    <div class="checkbox mb">
      <input  id="{{rand9}}" name="check" type="checkbox" (ngModelChange)="delPeriodPreferred($event)" [(ngModel)]="show_preferred">
      <label  for="{{rand9}}"><span class="checkbox__box"></span>
        <p  class="checkbox__text">{{'resume.prefPerInt'|translate}}</p></label>


    </div>
    <div class="period" *ngIf="show_preferred">
      <div class="period-item period-item-first ">

        <div class="radio">
          <input id="{{rand10}}" type="radio" name="period" (change)="delPeriodPreferred(true)"
                 [(ngModel)]="cS.resume.jobOptions.preferredPeriod.type" [value]="0">
          <label for="{{rand10}}"><span></span>
            <p class="radio__text"> {{'resume.prefPerDat'|translate}}</p></label>


        </div>
        <div class="period-date" *ngIf="cS.resume.jobOptions.preferredPeriod.type==0">
          <div class="date-item">
            <p class="textField">{{'From'|translate}}</p>
            <div class="datepicker">
              <my-date-picker
                name="mydate"
                [selDate]="preferredPeriod_start"
                [options]="myDatePickerOptions"
                (dateChanged)="cS.resume.jobOptions.preferredPeriod.start = $event.epoc"
                                required></my-date-picker>
            </div>

          </div>
          <div class="date-item">
            <p class="textField">{{'To'|translate}}</p>
            <div class="datepicker pr">
              <my-date-picker
                [selDate]="preferredPeriod_end"
                name="mydate"
                [options]="myDatePickerOptions"
                (dateChanged)="cS.resume.jobOptions.preferredPeriod.end = $event.epoc"
                                required></my-date-picker>
            </div>
          </div>
        </div>



      </div>
      <div class="period-item period-item-mid ">
        {{'or'|translate}}
      </div>
      <div class="period-item period-item-last">

        <div class="radio">

          <input id="uuu" type="radio" name="period" (change)="delPeriodPreferred(true)" [(ngModel)]="cS.resume.jobOptions.preferredPeriod.type" [value]="1" >
          <label for="uuu"><span></span>
            <p class="radio__text">{{'resume.prefPerAvst'|translate}}</p></label>
        </div>
        <div class="period-date fs" *ngIf="cS.resume.jobOptions.preferredPeriod.type==1">
          <div class="period-date-item">
            <p class="textField">{{'resume.AvtoSt'|translate}}</p>
            <div class="multipleSelect">
              <app-unity-select
                [valueId]="cS.resume.jobOptions.preferredPeriod.startWork"
                [arrIn]="dS.options.preferredPeriod"
                [title]="'resume.AvtoSt'|translate"
                (arrOut)="cS.resume.jobOptions.preferredPeriod.startWork = $event.id"
              ></app-unity-select>
            </div>
          </div>

          <!--<div class="period-date-item">-->
            <!--<p class="textField">Amount of practice</p>-->
            <!--<input class="input" id="" name="School-location" placeholder="00" type="number" [(ngModel)]="cS.resume.jobOptions.preferredPeriod.hour">-->
            <!--<span>hours</span>-->
          <!--</div>-->


        </div>


      </div>
    </div>
  </div>
  <div class="createResume-block scholar">
    <p class="sideSubTitle">{{'resume.SaFro'|translate}}</p>
    <div  class="scholar-time">
      <p  class="textField">{{'Monthly'|translate}}</p>
      <input
        class="input mountly"
        id="Ssize" max="5"
        name="School-location"

        type="number"

        [(ngModel)]="cS.resume.jobOptions.salary.monthly">

      <span>€</span>

    </div>
    <div  class="scholar-time">


      <p  class="textField">{{'Hourly'|translate}}</p>

      <input
        class="input mountly"
        id="Ssize2" max="5"
        name="School-location"
        type="number" [(ngModel)]="cS.resume.jobOptions.salary.hourly">
      <span>€</span>

    </div>
  </div>
  <div class="createResume-block">
    <p class="textField">{{'resume.addInfo'|translate}}</p>
    <textarea  [maxLength]="2000" class="textarea"  [(ngModel)]="cS.resume.jobOptions.additonalInformation"></textarea>
  </div>



  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/intership-option']">{{'resume.intop'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>

<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/intership-option']">{{'resume.intop'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>

