<div class="step step-resumeComputerSkills">
  <div class="createResume-block main">
    <div class="createResume-formItem compSkills">
      <p class="sideTitle">{{'resume.compsk'|translate}}</p>

      <div class="tableSkills comp">
        <div class="tableSkills-row tableSkills-rowHead">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="tableSkills-Headtitle">{{'Office_tools'|translate}}</div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <span class="tableSkills-Headtitle">{{'vacancy.Level'|translate}}</span>
          </div>
        </div>
        <div class="tableSkills-row" *ngFor="let ofTool of cS.resume.officeTools;let i = index">
          <div class="tableSkills-col tableSkills-col-1">
            <p class="tableSkills-title">{{dataService.getOptionsFromId('software',ofTool.officeTool).text|translate}}</p>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class=" comp-dib">
              <!--{{dataService.getOptionsFromId('levels',ofTool.level).text}}-->
              <app-unity-select
                [readonly]="true"

                [valueId]="ofTool.level"
                [arrIn]="dataService.options.levelsComp"
                (arrOut)="$event"></app-unity-select>
            </div>
            <div class="checkbox comp-dib">
              <input  id="{{rand + i}}" name="check" type="checkbox" checked [(ngModel)]="ofTool.use">
              <label  for="{{rand + i}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text" style="font-weight: normal">{{'use_frequently'|translate}}</p></label>
            </div>
            <span class="delete-icon " (click)="deleteSoftware(ofTool.officeTool,i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
          </div>
        </div>
        <div class="tableSkills-row add" >
          <div class="tableSkills-col tableSkills-col-1">
            <div class="comp-dib">

              <app-unity-select
                [refresh]="addOfficeToolsRef"
                [title]="'Office tool'"
                [arrIn]="dataService.options.software"
                (arrOut)="iaddOfficeTools.officeTool = $event.id;"
              ></app-unity-select>
            </div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class=" comp-dib">

              <app-unity-select
                [refresh]="addOfficeToolsRef"
                [title]="'Level'"
                [arrIn]="dataService.options.levelsComp"
                (arrOut)="iaddOfficeTools.level = $event.id"
              ></app-unity-select>
            </div>
            <div class="checkbox comp-dib">
              <input  id="{{rand3}}" name="check" type="checkbox" [(ngModel)]="iaddOfficeTools.use">
              <label  for="{{rand3}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text"  style="font-weight: normal">{{'use_frequently'|translate}}</p></label>
            </div>
            <button class="button shaded xsmall" (click)="addOfficeTools()">{{'btn.Add'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="tableSkills comp">
        <div class="tableSkills-row tableSkills-rowHead">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="tableSkills-Headtitle">{{'resume.Other_software'|translate}}</div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <span class="tableSkills-Headtitle">{{'Level' | translate}}</span>
          </div>
        </div>
        <div class="tableSkills-row" *ngFor="let otherSof of cS.resume.otherSoftware; let i = index">
          <div class="tableSkills-col tableSkills-col-1">
            <p class="tableSkills-title">{{otherSof.otherSoft}}</p>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class=" comp-dib">


              <app-unity-select
                [readonly]="true"
                [valueId]="otherSof.level"
                [arrIn]="dataService.options.levelsComp"
                (arrOut)="$event"></app-unity-select>
            </div>
            <div class="checkbox comp-dib">
              <input  id="{{rand6 + i}}" name="check" type="checkbox" [(ngModel)]="otherSof.use">
              <label  for="{{rand6 + i}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text">{{'use_frequently'|translate}}</p></label>
            </div>
            <span class="delete-icon " (click)="deleteotherSof(otherSof.otherSoft,i)">
            <i class="material-icons action-icon" >&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
          </div>
        </div>

        <div class="tableSkills-row add">
          <div class="tableSkills-col tableSkills-col-1">
            <div class=" comp-dib">

              <input-search-autocomplete
                [title]="'resume.Other_software_ph'|translate"
                [refresh]="addOtherSoftRef"
                [arrIn] = "dataService.options.other_software"
                (arrOut)="iaddOtherSoftware.otherSoft =  $event.text"
                (query)="OthSoftData($event)"
                (queryFull)="OthSoftData($event)"
              ></input-search-autocomplete>
              <!--<app-unity-select [refresh]="addOtherSoftRef" [title]="'Other software title'" [arrIn]="othersoftwareArr"   (arrOut)="iaddOtherSoftware.otherSoft =  $event.id"></app-unity-select>-->
            </div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class=" comp-dib">
              <app-unity-select
                [refresh]="addOtherSoftRef"
                [title]="'Level'|translate"
                [arrIn]="dataService.options.levelsComp"
                (arrOut)="iaddOtherSoftware.level = $event.id"></app-unity-select>
            </div>
            <div class="checkbox comp-dib">
              <input  id="{{rand7}}" name="check" type="checkbox" [(ngModel)]="iaddOtherSoftware.use">
              <label  for="{{rand7}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text">{{'use_frequently'|translate}}</p></label>
            </div>
            <button class="button shaded xsmall" (click)="addOtherSoft()">{{'btn.Add'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="createResume-formItem">
        <p class="textField">{{'resume.comp_infCS'|translate}}</p>
        <div class="lampText">
          {{'resume.comp_infCSdesc'|translate}}
        </div>
        <textarea
          class="textarea"
          [maxLength]="3000"

          [(ngModel)]="cS.resume.informationAboutComputerSkills"
        ></textarea>
      </div>

    </div>
    <div class="createResume-formItem licences">
      <p class="sideTitle">{{'resume.Cert&Lic'|translate}}</p>
      <div class="tableSkills comp">
        <div class="tableSkills-row tableSkills-rowHead">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="tableSkills-Headtitle">{{'Name'|translate}}</div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <span class="tableSkills-Headtitle">{{'Year'|translate}}</span>
          </div>
          <div class="tableSkills-col tableSkills-col-3">
            <span class="tableSkills-Headtitle">{{'Issuer'|translate}}</span>
          </div>
          <div class="tableSkills-col tableSkills-col-4">
          </div>
        </div>
        <div class="tableSkills-row" *ngFor="let item of cS.resume.certificationsAndLicences;let i =index">
          <div class="tableSkills-col tableSkills-col-1 ">
            <input  class="input "  name="name" type="text" [maxLength]="40" readonly value="{{item.name}}">
          </div>
          <div class="tableSkills-col tableSkills-col-2 ">
            <div class=" comp-dib">

              <input [maxLength]="4" class="input"  name="name" type="text" readonly value="{{item.year}}">

            </div>
          </div>
          <div class="tableSkills-col tableSkills-col-3">
            <input  class="input"  name="name" type="text" readonly value="{{item.issuer}}">
          </div>
          <div class="tableSkills-col tableSkills-col-4">
            <span class="delete-icon" (click)="deleteCert(item, i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'btn.Delete'|translate}}
          </span>
          </div>
        </div>
        <div class="tableSkills-row">
          <div class="tableSkills-col tableSkills-col-1">
            <p class="textField dn">{{'Name'|translate}}</p>
            <input  class="input" [maxLength]="40"  name="name" type="text" [(ngModel)]="iaddCert.name">
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <p class="textField dn">{{'Year'|translate}}</p>
            <div class=" comp-dib">
              <app-unity-select
                [refresh]="addCertRef"
                [title]="'year'|translate"
                [valueId]="iaddCert.year"
                [arrIn]="helpers.yearGenerate(null,null)"
                (arrOut)="iaddCert.year = $event.id"></app-unity-select>
            </div>
          </div>
          <div class="tableSkills-col tableSkills-col-3">
            <p class="textField dn">{{'Issuer'|translate}}</p>
            <input  class="input" [maxLength]="100"  name="name" type="text" [(ngModel)]="iaddCert.issuer">
          </div>
          <div class="tableSkills-col tableSkills-col-4">
            <button class="button shaded xsmall" (click)="addCert(); ">{{'btn.Add'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="createResume-formItem driving">
      <p class="sideTitle">{{'resume.Driving_licence'|translate}}</p>
      <div class="tableSkills comp">
        <div class="tableSkills-row tableSkills-rowHead">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="tableSkills-Headtitle">{{'Category'|translate}}</div>
          </div>

        </div>
        <div class="tableSkills-row" *ngFor="let drivItem of cS.resume.drivingLicense;let i = index">
          <div class="tableSkills-col tableSkills-col-1">
             <span class="driving-category"><span>{{dataService.getOptionsFromId('drivingCategory',drivItem.category).text|translate}}</span></span>

          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class="checkbox">
              <input  id="{{rand8 + i}}" name="check" readonly type="checkbox" [(ngModel)]="drivItem.drivingStatus">
              <label  for="{{rand8 + i}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text can">{{'resume.CanUspw'|translate}}</p></label>
            </div>
            <span class="delete-icon " (click)="deleteDriving(drivItem, i)">
            <i class="material-icons action-icon">&#xE872;</i>
            {{'Delete'|translate}}
          </span>
          </div>
        </div>
        <div class="tableSkills-row">
          <div class="tableSkills-col tableSkills-col-1">
            <div class="">
              <app-unity-select
                [refresh]="addDrivingRef"
                [title]="'Category'|translate"
                [arrIn]="drivingCategoryArr"
                (arrOut)="iaddDriving.category = $event.id"></app-unity-select>
            </div>
          </div>
          <div class="tableSkills-col tableSkills-col-2">
            <div class="checkbox">
              <input  id="{{rand10}}" name="check" type="checkbox"  [(ngModel)]="iaddDriving.drivingStatus">
              <label  for="{{rand10}}"><span class="checkbox__box"></span>
                <p  class="checkbox__text can">{{'resume.CanUspw'|translate}}</p></label>
            </div>
            <button class="button shaded xsmall" (click)="addDriving();">{{'btn.Add'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="resumeNext-step"  [routerLink]="['/resume/create/'+cS._id+'/work-exp']">{{'resume.wrkexp'|translate}}<i class="material-icons">&#xE315;</i> </p>
</div>
<div class="popupBs" style="display:block;" >
  <button class="button shaded"  [attr.disabled]="cS.toSave ?  null : 'disabled'"  (click)="cS.saveResume()">{{'btn.Save'|translate}}</button>

  <div class="checkbox" [routerLink]="['/resume/create/'+cS._id]">
    <i class='icon black-list' style="margin-right: 5px;"></i>{{'btn.Back_to_CV'|translate}}
  </div>

  <div class="popupBs__link">
    <p   [routerLink]="['/resume/create/'+cS._id+'/work-exp']">{{'resume.wrkexp'|translate}}<i class="material-icons">&#xE315;</i> </p>
  </div>
</div>

