<app-modal-bookmark
  [show]="boomarkModal"
  [boomarkId]="boomarkId"
  (close)="boomarkModal=$event"
>
</app-modal-bookmark>
<div class="candidateBox"
     *ngFor="let item of resume;let num=index"
     [ngClass]="{'shadow':true}">

  <app-resume-short
    class="vacantBox-left"
    [rating]="btnNotes?item.rating:null"
    [nameView]="access"
    [resume]="item">
  </app-resume-short>
  <div class="vacantBox-right">
    <app-student-contacts
      *ngIf="uS.users[item.uid]"
      class="resumeSidebar"
      [uid]="item.uid"
      [contactView]="access"
    >
    </app-student-contacts>
  </div>
  <div class="filter-vb"
       *ngIf="bookmarkLine">
    <div class="select-wrap">
      <p class="textField dark">{{'Status'|translate}}</p>
      <app-unity-select
        [valueId]="getStatus(item._id)"
        [arrIn]="dS.options.bookmarked_status"
        [title]="'Status'|translate"
        (arrOut)="setStatus(item._id,$event.id)"
      ></app-unity-select>
    </div>
    <div class="select-wrap">
      <p class="textField dark">{{'Action'|translate}}</p>
      <app-unity-select
        [title]="'Action'|translate"
        [valueId]="getAction(item._id)"
        [arrIn]="dS.options.bookmarked_action"
        (arrOut)="setAction(item._id,$event.id)"
      ></app-unity-select>
    </div>
    <div class="select-wrap">
      <p class="textField dark">{{'Proj'|translate}}</p>
      {{item.projectID}}
      <app-unity-select
        [title]="''"
        [valueId]="getProject(item._id)"
        [arrIn]="getProjects()"
        (arrOut)="setProject(item._id,$event.id)"
      ></app-unity-select>
    </div>
    <div class="vacantBox__text">
      {{'Saved'|translate}}: {{
      dS.dateConvert(getCreatedAtBook(item)) | date:
      'dd.MM.yyyy'}}:
      <span class="vacantBox__boldText"
            *ngIf="getFromBookM(item)==0"> {{'fromSearch'|translate}}</span>
      <span class="vacantBox__boldText"
            *ngIf="getFromBookM(item)==1"> {{'fromApp'|translate}}</span>


    </div>
    <div class="vacantBox__text">
      {{'Communication'|translate}}:
      <a class="blueLink"
         (click)="access?(mS.setDialogs(item.uid)||router.navigate(['messages'])):(popS.show_warning(dS.getOptionsFromId('errors',10).text));">
        <i class="icon ic_email_blue"></i>
        {{getMessCount(item.uid)}}
        {{'newmess'|translate}}</a>
    </div>
  </div>
  <!--detail resume-->
  <div class="candidateMenu"
       id="toggle_{{item._id}}"><!-- добавить active для открытия блока -->
    <div *ngIf="item.objective"
         class="candidateMenu-item">
      <p class="subMin-title">{{'resume.Objective'|translate}}</p>
      <p>{{item.objective}}</p>
    </div>
    <div class="candidateMenu-item"
         *ngIf="item.internshipOptions&&!item.internshipOptions.init">
      <p class="subMin-title">{{'resume.prefofInt'|translate}}</p>
      <div class="listRmc">
        <p *ngIf="item.internshipOptions.occupationField && item.internshipOptions.occupationField.length"
           class="vacantBox__text">{{'resume.we.ocfil'|translate}}:
          <span class="vacantBox__boldText"
                *ngFor="let fieldId of item.internshipOptions.occupationField;let i=index">
                                    {{ dS.optionText('occupationField',fieldId) | translate}}
                                    <span *ngIf="i < item.internshipOptions.occupationField.length - 1">, </span>
                                </span>
        </p>
        <p class="vacantBox__text"
           *ngIf="item.internshipOptions.possible_internship.length">
          {{'input.pospos'|translate}}:
          <span class="vacantBox__boldText"
                *ngFor="let pos of item.internshipOptions.possible_internship;let i = index">
                                    {{pos}}
                                    <span *ngIf="i < item.internshipOptions.possible_internship.length - 1">, </span>
                                </span>
        </p>

        <p class="vacantBox__text"
           *ngIf="item.internshipOptions.preferredPeriod&&item.internshipOptions.preferredPeriod&&
                               (item.internshipOptions.preferredPeriod.start!=null||item.internshipOptions.preferredPeriod.startWork!=null)
                                ">
          {{'resume.prefPer'|translate}}:

          <span class="vacantBox__boldText"
                *ngIf="
                                            item.internshipOptions.preferredPeriod.type==0
                                            &&item.internshipOptions.preferredPeriod.start!=null
                                        ">
                                    {{dS.dateConvert(item.internshipOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                                    {{item.internshipOptions.preferredPeriod.end?' - ': null}}
                                    {{dS.dateConvert(item.internshipOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                                </span>
          <span class="vacantBox__boldText"
                *ngIf="
                                          item.internshipOptions.preferredPeriod.type==1
                                          &&item.internshipOptions.preferredPeriod.startWork!=null
                                        ">
                                  {{dS.getOptionsFromId('preferredPeriod',item.internshipOptions.preferredPeriod.startWork).text|translate  }}
                                  {{item.internshipOptions.preferredPeriod.hour}} {{item.internshipOptions.preferredPeriod.hour?('hours'|translate):null}}</span>
          <span class="vacantBox__boldText"
                *ngIf="!item.internshipOptions.preferredPeriod.hasOwnProperty('type')">{{'immediately'|translate}}</span>
        </p>
        <p
          *ngIf="item.internshipOptions.scholarshipOpt.returnWork || item.internshipOptions.scholarshipOpt.returnComWork || item.internshipOptions.scholarshipOpt.anyKind"
          class="vacantBox__text">{{'resume.schOp'|translate}}:
          <span *ngIf="item.internshipOptions.scholarshipOpt.returnWork"
                class="vacantBox__boldText">{{'resume.Irmw'|translate}}</span>
          <span
            *ngIf="item.internshipOptions.scholarshipOpt.returnWork && item.internshipOptions.scholarshipOpt.returnComWork"
            class="vacantBox__boldText">/</span>
          <span *ngIf="item.internshipOptions.scholarshipOpt.returnComWork"
                class="vacantBox__boldText">{{'resume.IrmCw'|translate}}</span>
          <span
            *ngIf="(item.internshipOptions.scholarshipOpt.returnWork || item.internshipOptions.scholarshipOpt.returnComWork) && item.internshipOptions.scholarshipOpt.anyKind"
            class="vacantBox__boldText">/</span>
          <span *ngIf="item.internshipOptions.scholarshipOpt.anyKind"
                class="vacantBox__boldText">{{'resume.anykind'|translate}}</span>
        </p>
        <p *ngIf="item.internshipOptions.scholarshipOpt.Size"
           class="vacantBox__text">
          {{'resume.Desired_scholarship'|translate}}:
          <span class="vacantBox__boldText">{{item.internshipOptions.scholarshipOpt.Size}} € / {{'filter.monthly'|translate}}</span>
        </p>
      </div>
      <div *ngIf="item.internshipOptions.additonalInformation">
        <p class="subMin-title">{{'resume.addInfo'|translate}}</p>
        <p>{{item.internshipOptions.additonalInformation}}</p>
      </div>
    </div>
    <div class="candidateMenu-item">
      <p class="subMin-title">{{'resume.PrefJob'|translate}}</p>
      <div class="listRmc">
        <p *ngIf="item.jobOptions.occupationField && item.jobOptions.occupationField.length"
           class="vacantBox__text">
          {{'vacancy.Occupation_field'|translate}}:
          <span class="vacantBox__boldText"
                *ngFor="let fieldId of item.jobOptions.occupationField;let i=index">
                                    {{ dS.optionText('occupationField',fieldId) | translate}}
                                    <span *ngIf="i < item.jobOptions.occupationField.length - 1">, </span>
                                </span>
        </p>
        <p *ngIf="item.jobOptions.possible_position && item.jobOptions.possible_position.length"
           class="vacantBox__text">{{'resume.pospos'|translate}}:
          <span class="vacantBox__boldText"
                *ngFor="let pos of item.jobOptions.possible_position;let i=index">
                                    {{pos}}
                                    <span *ngIf="i < item.jobOptions.possible_position.length - 1">, </span>
                                </span>
        </p>

        <p class="vacantBox__text"
           *ngIf="item.jobOptions.preferredPeriod&&item.jobOptions.preferredPeriod&&
                               (item.jobOptions.preferredPeriod.start!=null||item.jobOptions.preferredPeriod.startWork!=null)
                                ">
          {{'resume.prefPer'|translate}}:

          <span class="vacantBox__boldText"
                *ngIf="
                                            item.jobOptions.preferredPeriod.type==0
                                            &&item.jobOptions.preferredPeriod.start!=null
                                        ">
                                    {{dS.dateConvert(item.jobOptions.preferredPeriod.start)|date:'dd.MM.yyyy'}}
                                    {{item.jobOptions.preferredPeriod.end?' - ': null}}
                                    {{dS.dateConvert(item.jobOptions.preferredPeriod.end)|date:'dd.MM.yyyy'}}
                                </span>
          <span class="vacantBox__boldText"
                *ngIf="
                                          item.jobOptions.preferredPeriod.type==1
                                          &&item.jobOptions.preferredPeriod.startWork!=null
                                        ">
                                  {{dS.getOptionsFromId('preferredPeriod',item.jobOptions.preferredPeriod.startWork).text|translate  }}
                                  {{item.jobOptions.preferredPeriod.hour}} {{item.jobOptions.preferredPeriod.hour?('hours'|translate):null}}</span>
          <span class="vacantBox__boldText"
                *ngIf="!item.jobOptions.preferredPeriod.hasOwnProperty('type')">{{'immediately'|translate}}</span>
        </p>
        <p *ngIf="item.jobOptions.salary && (item.jobOptions.salary.hourly || item.jobOptions.salary.monthly)"
           class="vacantBox__text">{{'resume.Desired_scholarship'|translate}}:
          <span class="vacantBox__boldText"
                *ngIf="item.jobOptions.salary.hourly">{{item.jobOptions.salary.hourly}} € / {{'hourly'|translate}}</span>
          <span class="vacantBox__boldText"
                *ngIf="item.jobOptions.salary.monthly">{{item.jobOptions.salary.monthly}} € / {{'filter.monthly'|translate}}</span>
        </p>
      </div>
      <div *ngIf="item.jobOptions.additonalInformation">
        <p class="subMin-title">{{'resume.addInfo'|translate}}</p>
        <p>{{item.jobOptions.additonalInformation}}</p>
      </div>
    </div>
  </div>
  <!--detail resume-->

  <!--bottom line-->
  <div class="bottomLine-vb bottomLine-vb-flex">

    <div class="bottomLine-vb-flex-left">
      <button class="btnTabs"
              id="toggle_turn{{item._id}}"
              (click)="access?toggleDetail(item._id):popS.show_warning(dS.getOptionsFromId('errors',10).text)">
        <!-- turn добавить класс по клику -->
        <span class="btnTabs__text">{{'Details'|translate}}</span>
        <span class="btnTabs__arr"></span>
      </button>
      <button *ngIf="btnView"
              class="contact-item grey"
              (click)="access?routeDetail.emit(item._id):popS.show_warning(dS.getOptionsFromId('errors',10).text)"
              [routerLink]="access?['/resume/details/',item._id]:null">
        <i class='icon ic_assignment_gray'></i>
        {{'btn.View'|translate}}
      </button>
      <p *ngIf="btnNotes"
         class="contact-item grey"
         (click)="access||uS.accessPackage.projBmark?NotesShow(item._id):popS.show_warning(dS.getOptionsFromId('errors',10).text)"
      >
        <i class="icon ic_format_align_left_gray"></i>
        {{'btn.Notes'|translate}}
      </p>
      <button *ngIf="btnCoverLetter"
              [value]="'false'"
              #coverLetter
              (click)="access||uS.accessPackage.projBmark?coverLetter.value = CoverLetterShow(item._id):popS.show_warning(dS.getOptionsFromId('errors',10).text)"
              class="contact-item grey"
      >
        <i class='icon ic_markunread_gray'></i>
        {{'btn.Cover_letter'|translate}}
      </button>

    </div>
    <div class="bottomLine-vb-flex-right">
      <p class="contact-item grey"
         (click)="access?(mS.setDialogs(item.uid)||router.navigate(['messages'])):(popS.show_warning(dS.getOptionsFromId('errors',10).text));">
        <i class='icon ic_chat_gray'></i> {{'Contact'|translate}} </p>
      <a *ngIf="!isBookmark(item._id)"
         class="contact-item grey"
         (click)="setBookmark(item._id)">
        <i class='icon ic_star_border_gray'></i> {{'Bookmark'|translate}}
      </a>
      <a class="contact-item grey"
         *ngIf="isBookmark(item._id)"
         (click)="unsetBookmark(item._id)">
        <i class='icon ic_star_yellow'></i> {{'Bookmarked'|translate}}
      </a>
    </div>


  </div>
  <div class="hiddenBox-vb notes-vb"
       *ngIf="btnNotes"
       id="notes_{{item._id}}">

    <p class="sideTitle">{{'Notes_for'|translate}} {{uS.getUserName(item.uid,0,access)}}</p>
    <i class="icon cancel-black"
       (click)="NotesShow(item._id)"></i>
    <app-notes-resume
      [notesFromResume]="notesFromResume"
      [updater]="resume.notesVb"
      [resume]="item"
      (notesRatingAll)="item.rating = $event"
    >
    </app-notes-resume>


  </div>
  <div class="hiddenBox-vb cover-letters-hidden-box"
       *ngIf="btnCoverLetter"
       id="covlet_{{item._id}}">
    <div class="row-wrap">
      <div class="col-v10 col-p10">
        <div class="title">{{uS.getUserName(item.uid,0,access)}}


          <rating-star
            [select]="false"
            [ratingValue]="item.rating"
            [starResult]="false"
            [dieStar]="false"
          ></rating-star>

        </div>
        <i class="icon cancel-black"
           (click)="CoverLetterShow(item._id)"
        ></i>
        <div class="dialogNotes">
          <p class="dialogNotes-item"
          >
            {{getCoverLettersContent(item._id)}}</p>
        </div>
      </div>
      <!--<div class="col-v2 col-p10">-->
      <!--<app-student-contacts class="resumeSidebar"-->
      <!--[uid]="item.uid"-->
      <!--[rating]="item.rating"-->
      <!--[recommend]="false"-->
      <!--[contactView]="false"-->
      <!--[userOldView]="false"-->

      <!--&gt;-->
      <!--</app-student-contacts>-->
      <!--</div>-->
    </div>

  </div>
</div>


