.popapApply {
  padding-left: calc((100% - 525px) / 2);
}
.vacantBox__text i{
  display: inline-block;
}



.vacantBox-left .title {
  cursor: pointer;
  display: table;
}
.bottomLine-vb {
  .btnTabs, .listRmc, .rightBtl, .contact-item {
    display: inline-block;
    vertical-align: top;
  }
  .flag, .contact-item {
    margin: 0;
    font-size: 13px;
  }
  .contact-item i {
    margin-right: 8px;
  }
  .btnTabs {
    padding: 0;
    line-height: 15px;
  }
  .rightBtl {
    .contact-item {
      margin-right: 30px;
      cursor: pointer;
    }
    .contact-item:last-child {
      margin: 0;
    }
  }
  .listRmc {
    margin: 0;
    width: 54%;
    padding: 0 20px 0 7%;
  }

  .contact-item i{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }

}



.resumeSidebar {
  .rating-wrap {
    margin: 5px 0;
    display: block !important;
  }
  .subMin-title {
    margin-bottom: 8px;
  }

  .contactSd{

    .contact-item{
      margin-bottom: 0;
      font-size: 13px;
    }
    .blueLink{
      margin-top: 10px;
      display: table;
    }
  }
}

.flag-wrap {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
  margin-left: 5px;
}

.candidateMenu {
  display: none;
  margin-top: 25px;
  .listRmc {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.candidateMenu.active {
  display: block;
}

.candidateMenu-item {
  position: relative;
  padding: 25px 0;

  :before {
    content: "";
    position: absolute;
    width: calc(100% + 60px);
    left: -30px;
    background-color: #E5E5E5;
    height: 1px;
    top: 0;
  }

}



@media screen and (max-width: 1080px) {
  .popapApply {
    padding-left: calc((100% - 525px) / 2);
  }
}

@media screen and (max-width: 980px) {
  .popapApply {
    padding-left: 20px;
  }
}

@media screen and (max-width: 980px) {
  .vacantBox-right {
    width: 27%;
  }
  .vacantBox-left {
    width: 73%;
  }
  .bottomLine-vb .listRmc {
    margin: 0;
    width: calc(100% - 280px);
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .vacantBox-left {
    width: 66%;
  }
  .vacantBox-right {
    width: 34%;
  }

  .resumeSidebar {
    .contactSd .contact-item i {
      margin-right: 0;
    }
    .listRmc {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 640px) {


  .bottomLine-vb {
    position: relative;
    top: auto;
    right: auto;
    padding: 20px 0;
    .listRmc {
      width: 100%;
      padding: 0;

      display: none;
    }
    .rightBtl {
      width: 100%;
      margin-top: 0px;
      .contact-item {
        margin-right: 0;
        width: 49%;
      }
    }
    :before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  .candidateBox {
    .btnTabs {
      display: none;
    }
    .post {
      margin: 10px 0 20px;
    }
    .resumeSidebar {
      padding: 25px 0 20px;
      text-align: center;
    }
    .candidateMenu {
      display: none;
      &.active{
        display: block;
      }
    }

  }




  .vacantBox-left, .vacantBox-right {
    width: 100%;

  }

  .candidateBox-wrap.minCard {
    .vacantBox__text, .bottomLine-vb, .imgPerson, .listRmc, .contact-item {
      display: none;
    }
    .rating-wrap {
      display: inline-block !important;
      width: 49%;
      padding: 0 10px;
      text-align: left;
    }
    .subMin-title.center {
      display: inline-block;
      text-align: right;
      width: 49%;
    }
    .contact-item:first-child {
      display: block;
      text-align: left;
    }
    .candidateBox .resumeSidebar {
      padding: 0 0 20px;
      text-align: left;
    }
    .candidateBox .post {
      margin: 10px 0 5px;
    }

    .contact-item-phone{
      display: none;
    }

  }

  .resumeSidebar .contactSd .blueLink {
    display: table;
    margin: 10px auto 0;
  }
  .minCard{
    .resumeSidebar .contactSd .blueLink {
      display: none;
    }
  }
  .contactSd .blueLink {
    margin-bottom: 20px;
  }
}

.notes-vb-f{
  padding: 20px 20px 0;
  .text, .star-wrap{
    display: inline-block;
    vertical-align: middle;
  }
  .button.shaded.min{
    width: 140px;
    display: inline-block;
    vertical-align: middle;
  }
  .textarea {
    display: block;
    margin-bottom: 10px;
  }
  .text {
    margin-right: 5px;
    margin-top: 4px;
  }
}
.hiddenBox-vb.active {
  display: block;
}
.contentAt.active {
  display: block;
}

.candidateMenu.active ~ .bottomLine-vb .btnTabs .btnTabs__arr{
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
  transition: 0s;
}
.hiddenBox-vb{
  width: calc(100% + 64px);
  margin-left: -32px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #d7d7d7;
  position: relative;
  display: none;
  .row-wrap{
    height: 100%;
    > div{
      height: 100%;
    }
  }

  &.cover-letters-hidden-box {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 32px 32px 0px;
    background-color: #ffffff;
    z-index: 10;
    width: 100%;

  }

  .sideTitle{
    padding: 0 20px;
    margin-right: 0;

  }

  .cancel-black{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    opacity: .6;
  }

  .dataText {
    padding: 0 20px;
    margin-right: 0;
    max-width: calc(100% - 30px);
    color: #7E7E7E;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }

}
.candidateMenu {
  margin-top: 15px !important;
  display: none;
}
.candidateMenu-item {
  position: relative;
  padding: 25px 0;

  .listRmc {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .vacantBox__text{
    display: block;
  }
}
.candidateMenu-item:before {
  content: "";
  position: absolute;
  width: calc(100% + 60px);
  left: -30px;
  background-color: #e5e5e5;
  height: 1px;
  top: 0;
}
.candidateMenu.active {
  display: block;
}
.hiddenBox-vb.abs.active{
  display: block;
}
.candidateBox .title span {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.candidateMenu.active ~ .hiddenBox-vb.abs{
  max-height: 415px;
}
.hiddenBox-vb.abs {
  position: absolute;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  right: 0;
  margin: 0;
  height: 100%;

  border: 0;
  //padding-left: 20px;
  //padding-right: 20px;
  padding: 32px 32px 30px 32px;
  top: auto;
  bottom: 1px;
  border-top: 1px solid #D3D3D3;

  .title .star-wrap {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    position: relative;
    line-height: 1;
  }
  .title{
    margin-bottom: 20px;
  }

  .sideTitle {
    padding: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .dialogNotes{
    width: 100%;
    max-width: 100%;
    height: 305px;
  }
  .dialogNotes-item{
    padding: 0;
  }
}
.dialogNotes-item {
  padding: 0px 0px 20px 20px;
  border-bottom: 1px solid #d3d3d3;
  width: calc(100% - 20px);

  &:last-child{
    border-bottom: none;
  }
}
.dialogNotes{
  max-height: 200px;
  height: calc(100% - 70px);
  overflow-y: auto;
  width: calc(100% - 20px);
  margin-top: 20px;

  .textField{
    color: #333;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .dateText{
    color: #757575;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .blueLink{
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .star-wrap {
    float: right;
  }
  .dialogNotes-h {
    display: block;
    margin-bottom: 10px;
  }

}
.vacantBox__text i{
  display: inline-block;
}

@media screen and (max-width: 1080px) {
  .hiddenBox-vb {
    width: calc(100% + 44px);
    margin-left: -22px;
  }
  .candidateMenu-item:before {
    width: calc(100% + 47px);
    left: -23px;
  }
  .contact-item-wrap .contact-item:first-child{
    margin: 0;
  }
  .contact-item-wrap .contact-item:last-child {
    margin-right: 0;
    margin-left: 20px;
  }
  .contact-item-wrap .contact-item {
    margin-right: 0;
    margin-left: 20px;
  }
  .bottomLine-vb .btnTabs {
    padding: 0;
    //margin-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .vacantBox-left .title .star-wrap {
    display: block;
    margin-left: 0;
  }
  .titleStar{
    margin-top: 10px;
    position: relative;
  }
  .vacantBox-left {
    width: 100%;
    padding-right: 0;
  }
  .vacantBox-right {
    width: 100%;
    margin: 25px 0 0 0;
  }
  .accordionFt .contentFt {
    width: calc(100% - 40px);
  }
  .candidateBox {
    padding: 22px 22px 0px;
  }
  .resumeSidebar .contactSd {
    text-align: center;
  }
  .filter-vb .vacantBox__text {
    width: 49%;
  }
  .candidateBox .title span {
    font-size: 18px;
    line-height: 20px;
  }
  .hiddenBox-vb.abs {
    height: auto;
    bottom: 0;
    top: auto;
    border-top: 1px solid #D3D3D3;
  }
  .btnTabs-wrap {
    display: inline-block;
  }
  .candidateBox {
    margin-top: 0;
  }
  .hiddenBox-vb .cancel-black {
    top: 15px;
  }
}


@media screen and (max-width: 640px) {
  .hiddenBox-vb .row-wrap {
    height: auto;
  }
  .accordionFt .sideTitle {
    max-width: calc(100% - 90px);
  }
  .accordionFt .lineFt .row-wrap > div:last-child {
    padding-right: 90px;
  }
  .filter-vb .vacantBox__boldText {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
  }
  .filter-vb .vacantBox__text {
    width: 100%;
  }
  .filter-vb .blueLink {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  .accordionFt .contentFt {
    width: 100%;
  }
  .accordionFt .lineAt {
    padding: 15px 20px;
  }
  .accordionFt .arrowAr {
    right: 20px;
  }
  .bottomLine-vb {
    position: relative;
    top: auto;
    right: 0;
    margin: 15px 0 0 0;
    padding: 15px 0;
  }
  .contentAt-filter .text-ic.mobileNone {
    display: none;
  }
  .btnTabs__text {
    display: inline-block;
  }
  .candidateBox {
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
  }
  .contentAt .btnTabs-wrap {
    width: 100%;
    padding: 0 20px;
  }
  .accordionFt .allocateText {
    padding: 3px 0 1px 0;
    width: 100px;
    font-size: 14px;
  }
  .filter-vb .select-wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .filter-vb{
    padding: 20px;
  }
  .notes-vb-f .button.shaded.min {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .dialogNotes {
    width: calc(100% - 10px);
  }
  .dialogNotes .star-wrap {
    float: none;
  }
  .hiddenBox-vb.abs .title .star-wrap {
    display: block;
    margin-left: 0;
  }
  .hiddenBox-vb.abs .dialogNotes {
    margin-bottom: 20px;
  }
  .contact-item-wrap .contact-item.btnBl.mobileNone {
    display: none;
  }

  .bottomLine-vb .contact-item.btnBl.desNone{
    background-color: #fff;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    float: right;
    line-height: 24px;
  }
  .listRmc {
    margin: 15px 0;
  }

  .bottomLine-vb .contact-item-wrap {
    width: 100%;

    .contact-item.grey:first-child{
      float: left;
      margin-top: 2px;
    }

  }
  .bottomLine-vb:before {
    content: '';
    position: absolute;
    width: calc(100% + 22px);
    height: 1px;
    left: -21px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
  .wrap-select {
    display: none;
  }

  .title-wrap .title {
    width: 100%;
  }
  .selectBox{
    width: 100%;
  }

  .dialogNotes-h rating-star {
    float: right;
  }
  .vacantBox-right {
    text-align: center;
  }

}
