<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">FAQ and tips</p>
    </div>

    <div class="boxSide">
        <div class="searchFt">
            <div class="inputUrl-wrap">
                <input type="text" class="inputUrl" placeholder="{{'QuickSearchQestions' | translate}}">
                <span class="serch-icon"></span>
            </div>
        </div>
        <div class="accordionFt">
            <div class="accordionFt-item">
                <input id="ft1" type="checkbox" name="acardionFt">
                <label for="ft1">
                    <div class="lineFt">
                        <p class="sideTitle">My account sssssss</p>
                        <span class="arrowFt"></span>
                    </div>

                    <div class="contentFt">
                        <input id="at1" type="checkbox" name="acardionAt">
                        <label for="at1">
                            <div class="lineAt">
                                <p class="minTilt">How to verify account?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. </p>
                                    <div class="quadList">
                                        <p class="quadList-item">Aenean euismod bibendum laoreet.</p>
                                        <p class="quadList-item">Proin gravida dolor sit amet lacus accumsan et viverra
                                            justo commodo.</p>
                                        <p class="quadList-item">Proin sodales pulvinar tempor.</p>
                                        <p class="quadList-item">Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus.</p>
                                        <p class="quadList-item">Nam fermentum, nulla luctus pharetra vulputate, felis
                                            tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="contentFt">
                        <input id="at2" type="checkbox" name="acardionAt">
                        <label for="at2">
                            <div class="lineAt">
                                <p class="minTilt">How to use credit card?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. </p>

                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="contentFt">
                        <input id="at3" type="checkbox" name="acardionAt">
                        <label for="at3">
                            <div class="lineAt">
                                <p class="minTilt">I’m lost in this world. What should I do next?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">I’m lost in this world. What should I do next?</p>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="contentFt">
                        <input id="at4" type="checkbox" name="acardionAt">
                        <label for="at4">
                            <div class="lineAt">
                                <p class="minTilt">How to add people to my company profile?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">I’m lost in this world. What should I do next?</p>
                                </div>
                            </div>
                        </label>
                    </div>
                </label>
            </div>
            <div class="accordionFt-item">
                <input id="ft2" type="checkbox" name="acardionFt">
                <label for="ft2">
                    <div class="lineFt">
                        <p class="sideTitle">Projects and vacancies</p>
                        <span class="arrowFt"></span>
                    </div>
                    <div class="contentFt">
                        <input id="at21" type="checkbox" name="acardionAt">
                        <label for="at21">
                            <div class="lineAt">
                                <p class="minTilt">How to verify account?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. </p>
                                    <div class="quadList">
                                        <p class="quadList-item">Aenean euismod bibendum laoreet.</p>
                                        <p class="quadList-item">Proin gravida dolor sit amet lacus accumsan et viverra
                                            justo commodo.</p>
                                        <p class="quadList-item">Proin sodales pulvinar tempor.</p>
                                        <p class="quadList-item">Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus.</p>
                                        <p class="quadList-item">Nam fermentum, nulla luctus pharetra vulputate, felis
                                            tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </label>
            </div>
            <div class="accordionFt-item">
                <input id="ft3" type="checkbox" name="acardionFt">
                <label for="ft3">
                    <div class="lineFt">
                        <p class="sideTitle">Ways to search for candidates</p>
                        <span class="arrowFt"></span>
                    </div>
                    <div class="contentFt">
                        <input id="at31" type="checkbox" name="acardionAt">
                        <label for="at31">
                            <div class="lineAt">
                                <p class="minTilt">How to verify account?</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. </p>
                                    <div class="quadList">
                                        <p class="quadList-item">Aenean euismod bibendum laoreet.</p>
                                        <p class="quadList-item">Proin gravida dolor sit amet lacus accumsan et viverra
                                            justo commodo.</p>
                                        <p class="quadList-item">Proin sodales pulvinar tempor.</p>
                                        <p class="quadList-item">Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus.</p>
                                        <p class="quadList-item">Nam fermentum, nulla luctus pharetra vulputate, felis
                                            tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </label>
            </div>
            <div class="accordionFt-item">
                <input id="ft4" type="checkbox" name="acardionFt">
                <label for="ft4">
                    <div class="lineFt">
                        <p class="sideTitle">Ways to search for candidates</p>
                        <span class="arrowFt"></span>
                    </div>
                    <div class="contentFt">
                        <input id="at41" type="checkbox" name="acardionAt">
                        <label for="at41">
                            <div class="lineAt">
                                <p class="minTilt">Profile information and company rating</p>
                                <div class="arrowAr"></div>
                            </div>
                            <div class="contentAt">
                                <div class="quadList-wrap">
                                    <p class="quadList__title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. </p>
                                    <div class="quadList">
                                        <p class="quadList-item">Aenean euismod bibendum laoreet.</p>
                                        <p class="quadList-item">Proin gravida dolor sit amet lacus accumsan et viverra
                                            justo commodo.</p>
                                        <p class="quadList-item">Proin sodales pulvinar tempor.</p>
                                        <p class="quadList-item">Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus.</p>
                                        <p class="quadList-item">Nam fermentum, nulla luctus pharetra vulputate, felis
                                            tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
