<div class="title-wrap">
    <p class="title">{{ 'account.User_data' | translate }}</p>
    <p *ngIf="!user.profile.smartId" class="fixText"><i class="material-icons orange"></i>
        {{ 'account.verified' | translate }}   <a class="blueLink" [routerLink]="['/account/verify']"> {{ 'account.Fixverified' | translate }}</a></p>
</div>
<div class="boxSide userData">
    <div class="userLine">
        <div class="userLine-left">
            <p class="sideTitle">
              <!--You signed up with Facebook as -->
              {{user.profile.first_name}}
                {{user.profile.last_name}}</p>

        </div>
        <div class="userLine-right">
            <button class="button min light" *ngIf="oAuth" (click)="unsetOAuth()">{{"DisconnectAccount" | translate}}</button>
            <button class="button min light" *ngIf="!oAuth" (click)="user.setOAuth()">{{"Connect_account_to_Facebook" | translate}}</button>
        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content">
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="first-name" class="textField">{{"inputLabel.First_name"| translate}}*</label>
                    <input class="input" [attr.readonly]="oAuth ? '' : null" name="first-name" id="first-name" type="text" [maxLength]="20"  (change)="checkChange('first_name',first_name)" [(ngModel)]="first_name">
                </div>
                <div class="userData-content-item">
                    <label for="last-name" class="textField">{{"inputLabel.Last_name"| translate}}*</label>
                    <input class="input" [attr.readonly]="oAuth ? '' : null" name="last-name" id="last-name" type="text"  [maxLength]="30"  (change)="checkChange('last_name',last_name)" [(ngModel)]="last_name">
                </div>
                <div class="userData-content-item">
                    <p class="textField">{{"inputLabel.Display_as"| translate}}</p>
                    <div class="">
                      <app-unity-select
                        [valueId]="user.profile.displayAs"
                        [title]="'inputLabel.Display_as'| translate"
                        [arrIn]="user.displayAs(user.profile)"
                        (arrOut)="user.profile.displayAs = displayAs = $event.id"></app-unity-select>
                    </div>
                </div>
            </div>
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="mobile-phone" class="textField">{{"inputLabel.Mobile_phone"| translate}}</label>
                    <input
                      class="input"
                      name="mobile-phone"
                      id="mobile-phone"
                      type="text"
                      [textMask]="{mask:dataService.phoneMask}"


                      [value]="user.profile.phone" (change)="checkChange('phone',phone)" [(ngModel)]="phone">
                </div>
                <div class="userData-content-item">
                    <label for="email" class="textField">{{"inputLabel.E-mail"| translate}}</label>
                    <input class="input" name="email" id="email" type="text"
                           [value]="user.profile.email"
                           [textMask]="dataService.emailMask"
                            [maxLength]="70"
                           [(ngModel)]="email">
                </div>
                <div class="userData-content-item">
                    <p class="textField">{{"inputLabel.Pref_lang_comm"| translate}}</p>

                    <app-unity-select
                      [valueId]="user.profile.prefLang"
                      [title]="'inputLabel.Pref_lang_comm'| translate"
                      [arrIn]="dataService.options.translaterDefault"
                      (arrOut)="user.profile.prefLang = prefLang = $event.id; checkChange('prefLang',prefLang)"></app-unity-select>
                </div>

            </div>

        </div>
    </div>
    <div class="userData-line">
        <div class="userData-content">
            <p class="form-subTitle reset-spacing">{{"inputLabel.ChangePassword" | translate}}</p>
            <div class="userData-content-row">
                <div class="userData-content-item">
                    <label for="currentPassword" class="textField">{{"inputLabel.CurrentPassword" | translate}}</label>
                    <input
                      [minLength]="6"
                      [(ngModel)]="currentPass"
                      class="input" name="password"  id="currentPassword" type="password">

                </div>
                <div class="userData-content-item">
                    <label for="password" class="textField">{{"inputLabel.Password" | translate}}</label>
                    <input
                      [minLength]="6"
                      [(ngModel)]="newPass"

                      class="input" name="password" id="password" type="password">
                </div>
                <div class="userData-content-item">
                    <label for="repeat-password" class="textField">{{"inputLabel.RepeatPassword" | translate}}</label>
                    <input class="input" name="repeat-password" id="repeat-password" type="password"
                           [minLength]="6"
                            [(ngModel)]="repeatPass">
                </div>

            </div>
            <button class="button shaded min savePasswordChange" (click)="user.changePassword(currentPass,newPass,repeatPass)" >{{"btn.Change" | translate}}</button>
        </div>
    </div>
    <!--<div class="userData-line">-->
        <!--<div class="userData-content">-->
            <!--<p class="form-subTitle">{{'userdata.Company_data'|translate}}</p>-->
            <!--<div class="userData-content-row">-->
                <!--<div class="userData-content-item">-->
                    <!--<label for="Company-name" class="textField">{{'userdata.Company_name'|translate}}</label>-->
                    <!--<input class="input" name="Company-name" id="Company-name" type="text"-->
                           <!--(change)="checkChange('nameCompany',nameCompany)"-->
                           <!--[value]="user.profile.Company.nameCompany"-->
                           <!--[(ngModel)]="nameCompany">-->
                <!--</div>-->
                <!--<div class="userData-content-item">-->
                    <!--<label for="Company-registration-code" class="textField">{{'userdata.reg_code'|translate}}</label>-->
                    <!--<input class="input" name="Company-registration-code" id="Company-registration-code" type="number"-->
                           <!--(change)="checkChange('regCode',regCode)"-->
                           <!--[value]="user.profile.Company.regCode" [(ngModel)]="regCode">-->
                <!--</div>-->

            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
    <div class="userData-line">
        <div class="userData-content">
            <p class="form-subTitle">{{'Address'|translate}}</p>
            <div class="userData-content-row">
                <div class="userData-content-item w100">

                  <address-select

                    [addr]="Location?Location.addr:''"

                    (Location)="Location=$event; checkChange('Location',Location)"
                    [locate]="Location"
                    [types]="['address']"

                  ></address-select>

                </div>

            </div>

        </div>
    </div>
    <div class="popapApply userData-popap">
        <button class="button shaded min"  (click)="save()">{{'input.Save_my_data'|translate}}</button>
    </div>
    <disconnectFbModal
      (close)="disconnectFbModal=$event"
      [show]="disconnectFbModal"
    ></disconnectFbModal>
</div>
