.row-wrap > div{
  vertical-align: bottom;
}
.boxSide{
  position: relative;
}
.letterModal {
  top: 120px;
}
.title-wrap .title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-right: 20px;
}

.lampText.indent {
  margin-top: 15px;
  margin-bottom: 0px;
}

.lampText{
  font-weight: normal;
}

.minText{
  display: block;
  color: #7E7E7E;
  margin-bottom: 15px;

  span{
    color: #7E7E7E;
    font-size: 12px;
  }
}

.input{
  width: 100%;
}

.checkbox {
  margin-bottom: 4px;

  .checkbox__box, .checkbox__text{
    vertical-align: middle;
  }
}

.textarea-wrap{
  margin-top: 25px;
  margin-bottom: 10px;
}

.textarea{
  height: 400px;
}

.unity-wrap{
  max-width: 200px;
}

.popapApply {
  padding-right: calc((100% - 1000px) / 2);
  padding-left: calc((100% - 530px) / 2);
  z-index: 20;

  .button.min{
    max-width: 150px;
  }

  .text-ic {
    display: none;
    &.active{
      display: block;
    }
  }
}

@media screen and (max-width: 1100px) {
  .popapApply {
    padding: 7px 20px;
  }
}

@media screen and (max-width: 980px) {
  .checkbox {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .textarea {
    height: 300px;
  }
  .letterModal {
    top: 170px;
  }
}


@media screen and (max-width: 800px) {

  .title-wrap .title {
    width: 100%;
  }
  .lampText.indent {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .unity-wrap {
    margin-top: 20px;
  }
  .letterModal {
    top: 250px;
  }
}
@media screen and (max-width: 640px) {
  .unity-wrap{
    max-width: 100%;
  }
  .textarea {
    height: 250px;
  }
  .title-wrap .title {
    padding-right: 0;
  }

  .popapApply .button {
    width: 140px;
  }
  .popapApply .icon {
    position: relative;
    top: auto;
    right: auto;
  }
}