<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>

<div class="sideContent">
    <div class="title-wrap ">
        <div class="title">{{'Cover_Letters.creatNew'|translate}}
            <div class="lampText min indent">
              {{'Cover_Letters.creatNewDesc'|translate}}

            </div>
        </div>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <p class="minText indent" *ngIf="coverLetter.updated_at">Last edited: <span>{{dS.dateConvert(coverLetter.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}</span></p>

            <div class="row-wrap">
                <div class="col-v5 col-m10">
                    <p class="textField dark"> {{'Cover_Letters.crTitle'|translate}}</p>
                    <input type="text" [maxLength]="50" class="input border" [(ngModel)]="coverLetter.title">
                </div>
                <div class="col-v2 col-t5 col-m10">
                    <div class="unity-wrap">
                        <p class="textField dark">{{'Cover_Letters.crLng'|translate}}</p>
                        <app-unity-select
                          [title]="'Cover_Letters.crLng'|translate"
                          [valueId]="coverLetter.language"
                          [arrIn]="dS.options.translaterDefault"
                          (arrOut)="coverLetter.language = $event.id"></app-unity-select>
                    </div>
                </div>
                <div class="col-v3 col-t10" *ngIf="uS.profile.type_profile=='Company'">
                    <div class="checkbox">
                        <input checked="checked" id="typeclt" type="checkbox" name="check"  [(ngModel)]="coverLetter.defaultLang">
                        <label for="typeclt"><span class="checkbox__box"></span>
                            <p class="checkbox__text">{{'Cover_Letters.DefcovlOn'|translate}} {{dS.getOptionsFromId('languages',uS.profile.currentCountry).text|translate}}</p></label>
                    </div>
                </div>

                <div class="textarea-wrap">
                    <p class="textField dark">{{'Cover_Letters.crCnt'|translate}}</p>
                    <textarea class="textarea" [maxLength]="3000"  [(ngModel)]="coverLetter.text"></textarea>
                </div>
            </div>
        </div>


    </div>

    <div class="popapApply userData-popap flexCol">
        <button class="button shaded min" (click)="saveCoverLetter()">{{'btn.Save'|translate}}</button>
        <button class="text-ic"><!-- active  -->
            <i class="icon remove_eye_black"></i>
            <p class="text-ic__text">{{'btn.View'|translate}}</p>
        </button>
        <button class="text-ic active" [routerLink]="['/cover-letters']"><!-- active  -->
            <i class="icon cancel-black"></i>
            <p class="text-ic__text">{{'btn.Cancel'|translate}}</p>
        </button>
    </div>
</div>
