.sg-sidebar ul {
  padding: 0;
  margin: 0;
}

.sg-sidebar {
  display: inline-block;
  width: 335px;
  vertical-align: top;
  background: #232629;
  min-height: 100vh;
  color: #d2d2d2;
  position: fixed;
}

.sidebar-icon {
  display: inline-block;
  border: 1px solid #dadada;
  width: 15px;
  height: 15px;

  border-radius: 50%;
  margin-right: 10px;
}

.sg-content {
  display: inline-block;
  width: 79%;
  vertical-align: top;
  padding: 25px;
  font-family: Roboto;
  padding-top: 43px;
  margin-left: 335px;
}

.sg-sidear-item {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  font-family: Roboto;
  padding-left: 40px;
  font-weight: 100;

}

.sg-header {
  text-align: center;
  font-weight: 200;
  font-size: 34px;
  padding: 27px;
  margin-bottom: 30px;
  font-family: Roboto;
  border-bottom: 1px dotted #656565;
}

.sg-content-item_tile span {
  font-size: 26px;
  color: #232629;
  font-family: Roboto;
  font-weight: 100;
}

.sg-content-item_tile {
  margin-bottom: 20px;
}

.sg-content-item textarea {
  margin-top: 20px;
  width: 500px;
  height: auto;
}

.sg-content-item {
  margin-bottom: 35px;
}

pre {
  background-color: #232629;
  color: #8edaff;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 17px;
  height: 300px;
  overflow-y: scroll;
  position: relative;
}

.ts textarea {
  background-color: #232629;
  color: #8edaff;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 17px;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  width: 100%;
  padding: 15px;
  color: #ffd866;
}

.sg-code-title {

  position: relative;
  bottom: -21px;

}

.sg-code-title span {
  display: inline-block;
  background: #2bb1f3;
  color: #fff;
  padding: 10px 15px;
  font-family: Roboto;
  font-size: 20px;
  cursor: pointer;
}

button {
  font-family: Roboto;
}


.icon-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

}

.icon-item .input {
  max-width: 100%;
  width: 600px;
}

.letterModal-custom{
  height: 190px;
  position: relative;
}


