<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>

<div class="sideContent">
    <div class="title-wrap ">
        <div class="title">{{'left_menu.Cover_Letters'|translate}}
            <div class="lampText min indent">
              {{'Cover_Letters.Desk'|translate}}

            </div>
        </div>
        <button class="button shaded min" [routerLink]="['/create-cover-letter']" >{{'btn.newCoverLett'|translate}}</button>


    </div>
    <div class="vacantBox-wrap">
        <div class="vacantBox norm" *ngFor="let item of uS.profile.CoverLetter;let i = index;">
            <div class="topLine-vb">
                <div class="row-wrap">
                    <div class="col-v6 col-m10 col-p10">
                        <img alt="" onload="window['loadPhoto'](this)" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',item.language).value}}.png">
                        <p class="sideTitle">{{item.title}} </p>
                        <p class="minText">{{'Last_edited'|translate}}: <span>{{dS.dateConvert(item.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}</span></p>
                    </div>
                    <div class="col-v4 col-m10 col-p10" *ngIf="uS.profile.type_profile=='Company'">
                        <div class="checkbox" >
                            <input id="typelt{{item._id}}" type="checkbox" name="check_{{item._id}}" (change)="setDef(item._id,item.defaultLang)"  [(ngModel)]="item.defaultLang" >
                            <label for="typelt{{item._id}}"><span class="checkbox__box"></span>
                                <p class="checkbox__text">{{'Cover_Letters.DefcovlOn'|translate}} {{dS.getOptionsFromId('languages',uS.profile.currentCountry).text|translate}} </p></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomLine-vb right">
                <button class="text-ic" (click)="coverModal[i] = !coverModal[i];">
                    <i class="icon remove_eye_black"></i>
                    <p class="text-ic__text">{{'btn.View'|translate}}</p>
                </button>
                <button class="text-ic" [routerLink]="['/create-cover-letter',item._id]" >
                    <i class="icon edit-black"></i>
                    <p class="text-ic__text">{{'btn.Edit'|translate}}</p>
                </button>
                <button class="text-ic" (click)="deleteCoverLetter(item._id,i)">
                    <i class="icon delete-black"></i>
                    <p class="text-ic__text">{{'btn.Delete'|translate}}</p>
                </button>
            </div>

            <div class="letterModal" [ngClass]="{active:coverModal[i]}"><!-- active -->
                <i class='icon cancel-black' (click)="coverModal[i] = !coverModal[i];"></i>
                <div class="letterModal-wrap">
                    <img alt="" onload="window['loadPhoto'](this)" class="flag" src="/assets/img/flag/{{dS.getOptionsFromId('languages',item.language).value}}.png">
                    <p class="sideTitle">{{item.title}}</p>
                    <p  class="minText">{{'Last_edited'|translate}}: <span>{{dS.dateConvert(item.updated_at)| date:'dd.MM.yyyy (hh:mm)'}}</span></p>
                </div>
                <p class="letterModal__text">{{item.text}}
                </p>
            </div>
        </div>

    </div>
</div>
