.vacantBox{
  position: relative;
}
.title-wrap .title {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 219px);
  padding-right: 20px;
}

.title-wrap .button{
  display: inline-block;
  vertical-align: top;
}

.lampText.indent {
  margin-top: 15px;
  margin-bottom: 5px;
}

.vacantBox:first-child{
  margin-top: 0;
}
.vacantBox.norm {
  padding: 22px 32px 2px;

  &:hover{
    padding: 22px 32px 2px;
  }
}


.topLine-vb{
  .flag{
    display: inline-block;
    vertical-align: middle;
  }
  .sideTitle{
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 35px);
    word-break: break-all;
  }

  .minText{
    display: block;
    color: #7E7E7E;
    margin-top: 5px;

    span{
      color: #7E7E7E;
      font-size: 12px;
    }
  }

  .checkbox {
    margin: 7px 0;
    line-height: 1;
  }
}

.bottomLine-vb{
  .text-ic {
    margin-left: 40px;

    &:first-child{
      margin-left: 0;
    }
  }
}


@media screen and (max-width: 1080px) {
  .vacantBox.norm {
    padding: 22px 22px 2px;
  }
  .vacantBox.norm:hover {
    padding: 22px 22px 2px;
  }
}


@media screen and (max-width: 800px) {
  .topLine-vb .checkbox {
    margin: 15px 0 0;
    line-height: 1;
  }
  .bottomLine-vb {
    position: relative;
    top: auto;
    right: auto;
    padding: 18px 0;
  }
  .title-wrap .button {
    display: block;
    margin: 20px 0;
  }
  .title-wrap .title {
    width: 100%;
  }
  .lampText.indent {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .bottomLine-vb{
    text-align: left;
  }
  .bottomLine-vb .text-ic {
    width: 33%;
    margin: 0;

    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
  }
  .title-wrap .button {
    margin: 20px 0 0;
    max-width: 100%;
  }
  .title-wrap {
    padding: 40px 20px 5px;
  }
  .topLine-vb .minText {
    padding-left: 35px;
  }
  .vacantBox-wrap {
    margin-top: 20px;
  }
  .title-wrap .button.shaded {
    font-size: 14px;
  }

  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: auto;
  }
}

