<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{"ApplicantsList" | translate}}</p>
    </div>

      <div class="candidateBox-wrap appList ddd" ><!--[class.minCard]="compact" для телефона minCard-(сокращенный карточка) -->
        <app-resume-list-modules
          [access]="uS.accessPackage.applicants"
          [resumeIds]="resumeIds"
          [btnNotes]="true"
          [btnView] = "true"
          [btnCoverLetter]="true"
          [class] = "'appList addRating-text'"
          (routeDetail)="routeDetail($event)"
        ></app-resume-list-modules>
      </div>

</div>
