<span *ngIf="getCoverLetter(vacancyId)!=''">
 {{'submitedCoverLetter'|translate}}:
  <span class="blueLink" (click)="coverLetter.emit(getCoverLetter(vacancyId))">
    {{getCoverLetter(vacancyId).title}}
  </span>
</span>


