<div class="modalStandart active" *ngIf="active==1">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{ 'modalService.OrderSubscription' | translate }}</p>
            <p class="greyText indentBottom">{{ 'modalService.PleaseSelectDesired' | translate }}</p>

            <div class="row-wrap indent">
                <div class="col-v5 col-m10 indentMob">
                    <p class="textField dark">{{ 'Subscription' | translate }}</p>
                    <app-unity-select
                            [title]="'Subscriptions'"
                            [valueId]="packageId"
                            [arrIn]="dS.options.packages"
                            (arrOut)="packageId = $event.id"
                    ></app-unity-select>
                </div>
                <div class="col-v5 col-m10">
                    <p class="textField dark">{{ 'Period' | translate }}</p>
                    <app-unity-select
                            [title]="'periodprice'"
                            [valueId]="shopService.cart.subscriptions.periodId"
                            [arrIn]="dS.options.price_period"
                            (arrOut)="periodId = $event.id"
                    ></app-unity-select>
                </div>
            </div>
        </div>
        <div class="contentMs">

            <p class="greyText indent">{{ 'modalService.PleaseNote' | translate }}</p>

            <button class="button min shaded" (click)="addtoCart()">{{ 'AddCart' | translate }}</button>
        </div>
    </div>
</div>

<div class="modalStandart active" *ngIf="active==2">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{"ApplyPremiumListing" | translate }}</p>
            <p class="greyText indentBottom">{{"modalService.SelectVacancyPromote" | translate}}</p>

            <div class="row-wrap indent">
                <div class="col-m10 indentMob">
                    <p class="textField dark">{{"YourVacancy" | translate }}</p>
                    <app-unity-select
                            [title]="'Your_vacancy'|translate"
                            [arrIn]="vacancy"
                            (arrOut)="vacancyId = $event.id;updateDuration('premiumListing')"
                    ></app-unity-select>
                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-m10 indentMob">
                    <p class="textField dark">{{"Duration" | translate}}</p>
                    <app-unity-select
                            [title]="'Duration'"
                            [arrIn]="duration"
                            (arrOut)="periodListingDays = $event.id"
                    ></app-unity-select>
                </div>
            </div>
        </div>
        <div class="contentMs">


            <button class=" button min shaded" (click)="initPremiumlisting()">{{"btn.SaveAndConfirm" | translate}}</button>
        </div>
    </div>
</div>
<div class="modalStandart active" *ngIf="active==3">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{"promotions.frame" | translate}}</p>
            <p class="greyText indentBottom">{{"modalService.SelectVacancyPromote" | translate}}</p>

            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"YourVacancy" | translate }}</p>
                    <app-unity-select
                            [title]="'Your_vacancy'|translate"
                            [arrIn]="vacancy"
                            (arrOut)="vacancyId = $event.id;updateDuration('hightFrame')"
                    ></app-unity-select>
                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-m10 ">
                    <p class="textField dark">{{"Duration" | translate}}</p>
                    <app-unity-select
                            [title]="'Duration'"
                            [arrIn]="duration"
                            (arrOut)="periodListingDays = $event.id"
                    ></app-unity-select>
                </div>
            </div>
        </div>
        <div class="contentMs">


            <button class=" button min shaded" (click)="initHighlihtedFrame()">{{"btn.SaveAndConfirm" | translate}}</button>
        </div>
    </div>
</div>

<div class="modalStandart active" *ngIf="active==4">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{"modalService.OrderService" | translate}}</p>
            <p class="greyText indentBottom">{{"modalService.SelectNumberAdditionVacancies" | translate }}</p>

            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"YourVacancy" | translate}}</p>
                    <app-unity-select
                            [title]="'Your_vacancy'|translate"
                            [arrIn]="vacancy"
                            (arrOut)="vacancyId = $event.id;"
                    ></app-unity-select>
                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-m10 ">
                    <p class="textField dark">{{"AddDocument" | translate }}</p>

                    <file-list
                            [FilesList]="uploadFile"
                            (change)="uploadFile = $event"
                            [inputStyle]="'singleFile'"
                    ></file-list>
                    <uploader
                            [inputStyle]="'singleFilebtn'"
                            [fileTypes]="['doc','xml','jpeg', 'PNG']"
                            [multiple]="false"
                            (file)="setSingleFile($event)"
                    ></uploader>

                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"modalService.EssentialDetails" | translate}}</p>
                    <textarea placeholder="Specify…" class="textarea" [(ngModel)]="Specify"></textarea>
                </div>
            </div>
        </div>
        <div class="contentMs">
            <button class=" button min shaded" (click)="initOrder('insocialMedia')">{{"btn.SaveAndConfirm" | translate}}</button>
        </div>
    </div>
</div>
<div class="modalStandart active" *ngIf="active==5">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{"modalService.OrderService" | translate}}</p>
            <p class="greyText indentBottom">{{"modalService.SelectNumberAdditionVacancies" | translate }}</p>

            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"YourVacancy" | translate}}</p>
                    <app-unity-select
                            [title]="'Your_vacancy'|translate"
                            [arrIn]="vacancy"
                            (arrOut)="vacancyId = $event.id;"
                    ></app-unity-select>
                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-m10">
                    <p class="textField dark">{{"AddDocument" | translate}}</p>

                    <file-list
                            [FilesList]="uploadFile"
                            (change)="uploadFile = $event"
                            [inputStyle]="'singleFile'"
                    ></file-list>
                    <uploader
                            [inputStyle]="'singleFilebtn'"
                            [fileTypes]="['doc','xml','jpeg', 'PNG']"
                            [multiple]="false"
                            (file)="setSingleFile($event)"
                    ></uploader>

                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"modalService.EssentialDetails" | translate}}</p>
                    <textarea placeholder="Specify…" class="textarea" [(ngModel)]="Specify"></textarea>
                </div>
            </div>
        </div>

        <div class="contentMs">
            <button class=" button min shaded" (click)="initOrder('targetGroup')">{{"btn.SaveAndConfirm" | translate}}</button>
        </div>
    </div>
</div>
<div class="modalStandart active" *ngIf="active==6">
    <div class="modalStandart-wrap" (clickOutside)="clickexclude($event)">
        <i class="icon cancel-black" (click)="closeModal();"></i>
        <div class="headerMs">
            <p class="sideTitle">{{"modalService.OrderService" | translate}}</p>
            <p class="greyText indentBottom">{{"modalService.SelectNumberAdditionVacancies" | translate }}</p>

            <div class="row-wrap indent">
                <div class="col-v10 ">
                    <p class="textField dark">{{"YourVacancy" | translate}}</p>
                    <app-unity-select
                            [title]="'Your_vacancy'|translate"
                            [arrIn]="vacancy"
                            (arrOut)="vacancyId = $event.id;"
                    ></app-unity-select>
                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-m10 ">
                    <p class="textField dark">{{"AddDocument" | translate}}</p>

                    <file-list
                            [FilesList]="uploadFile"
                            (change)="uploadFile = $event"
                            [inputStyle]="'singleFile'"
                    ></file-list>
                    <uploader
                            [inputStyle]="'singleFilebtn'"
                            [fileTypes]="['doc','xml','jpeg', 'PNG']"
                            [multiple]="false"
                            (file)="setSingleFile($event)"
                    ></uploader>

                </div>
            </div>
            <div class="row-wrap indent">
                <div class="col-v10">
                    <p class="textField dark">{{"modalService.EssentialDetails" | translate}}</p>
                    <textarea placeholder="Specify…" class="textarea" [(ngModel)]="Specify"></textarea>
                </div>
            </div>

        </div>
        <div class="contentMs">
            <button class=" button min shaded" (click)="initOrder('bannerofEmail')">{{"btn.SaveAndConfirm" | translate}}</button>
        </div>
    </div>
</div>
