
<div class="multipleSelect" [ngClass]="{'active': multipleSelect ,'error':errorClass}" >
  <!--<input class="mpsInput" id="{{random}}" value="{{selectedstr.join(', ')}}" type="text" (click)="toggle()" readonly>-->
  <div class="mpsInput" id="{{random}}" (click)="toggle()" style="line-height: 38px;overflow-x:hidden;overflow-y:hidden;">
    <span *ngIf="selectedstr.length==0">{{title|translate}}</span>
    <span *ngFor="let s of selectedstr;let i = index">{{s|translate}}{{i<selectedstr.length-1?',':null}} </span>
  </div>
  <div class="mpsBox " [ngClass]="{'active': multipleSelect }" (clickOutside)="clickexclude($event)">
    <div class="mpsBox-top">
      <p class="mpsBox__text">{{title+''|translate}}</p>
      <button class="mpsBox__cross" (click)="multipleSelect = false">
        <i class="material-icons"></i>
      </button>
    </div>
    <div #box class="mpsBox__checkbox">
      <div class="checkbox">
        <div *ngFor="let item of arrIn">
          <input id="{{random}}_{{item.id}}" [(ngModel)]="arrVal[item.id]"  (change)="changeItem(item,$event)" type="checkbox" value="1">
          <label for="{{random}}_{{item.id}}"><span class="checkbox__box"></span>
            <p class="checkbox__text">{{item.text|translate}}</p></label>
        </div>
      </div>
    </div>
    <button class="mpsBox__ok" (click)="multipleSelect = false">{{'ok'|translate}}</button>
  </div>

</div>
