<div class="title-wrap">
  <p class="title" >{{ 'account.TITLE' | translate }}</p>
  <div *ngIf="myuidShow">{{uS.profile._id}}</div>
  <p class="fixText" *ngIf="uS.profile.proof==0"><i class="material-icons orange"></i>
    {{ 'account.verified' | translate }} <a class="blueLink" [routerLink]="['/account/verify']">{{ 'account.Fixverified' | translate }}</a></p>
</div>
