.title-wrap {
  margin-bottom: 20px;
}
.btnTabs-wrap {
  width: calc(100% - 190px);
}
.filterSd app-unity-select {
  display: inline-block;
  vertical-align: middle;
}
.bottomLine-vb i {
  margin: 0 8px 3px 0;
}
.save-favorites {
  font-size: 13px;
}
.bottomLine-vb .vacantBox__text {
  font-size: 13px;
}
.save-favorites.desNone {
  display: none;
}
.vacantBox__text i, .vacantBox__boldText {
  display: inline-block;
}
.vacantBox-right .vacantBox__boldText {
  display: inline-block;
}
@media screen and (max-width: 1120px) {
  .vacantBox-wrap {
    padding-right: 0px;
  }
}
@media screen and (max-width: 980px) {
  .bottomLine-vb .vacantBox-right {
    width: 30%;
  }
  .bottomLine-vb .vacantBox-left {
    width: 70%;
  }
  .btnTabs-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .title i {
    display: inline-block;
  }
  .vacantBox:first-child{
    margin-top: 0;
  }
  .save-favorites.desNone {
    display: block;
  }
  .bottomLine-vb {
    position: relative;
    top: 0;
    right: 0;
  }
  .bottomLine-vb .vacantBox-left {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
  }
  .bottomLine-vb .vacantBox-right{
    display: none;
  }

  .bottomLine-vb:before {
    content: '';
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
  .star-wrap {
    display: inline-block;
    float: right;
  }
  .rating-wrap .vacantBox__boldText {
    max-width: calc(100% - 90px);
    display: inline-block;
  }
  .bottomLine-vb .vacantBox__text {
    width: auto;
  }
  .bottomLine-vb .vacantBox__text {
    margin-right: 10px;

    &:last-child{
      margin: 0;
    }
  }
  .topLine-vb .save-favorites .ic_star_yellow{
    display: block;
    margin: 0 auto 2px;
    margin-right: 0;
  }
  .topLine-vb .save-favorites{
    position: absolute;
    top:0;
    right: 0;
  }

  .sortPanel-wrap {
    text-align: left;
  }
  .filterSp app-unity-select {
    margin-bottom: 30px;
    display: block;
  }
  .vacantBox-right{
    position: relative;
  }
  .vacantBox-right:before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    top: 0;
    background-color: #e5e5e5;
    display: block;
  }
  .vacantBox>.vacantBox-left {
    padding-bottom: 15px;

  }
  .vacantBox > .vacantBox-left:before{
    content: '';
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    height: 1px;
    bottom: 0;
    background-color: #e5e5e5;
    display: block;
  }

  .bottomLine-vb .vacantBox-left{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }


  .title-wrap {
    margin-bottom: 0;
  }

  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: 0;
  }
}


