<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>

<div class="sideContent bookmarkedPage ">
  <div class="title-wrap">
    <p class="title">{{ 'account.Bookmarked_vacancies' | translate }}</p>
  </div>

  <div class="filterSd mobileNone">
    <div class="btnTabs-wrap">
      <button class="btnTabs down" [ngClass]="{down:sorted.posted==1,up:sorted.posted==2}" (click)="sortedF('posted')">
        <span class="btnTabs__text">{{ 'Posted' | translate }}</span>
        <span class="btnTabs__arr"></span>
      </button>
      <button class="btnTabs" [ngClass]="{down:sorted.deadLine==1,up:sorted.deadLine==2}" (click)="sortedF('deadLine')">
        <span class="btnTabs__text">{{ 'Deadline' | translate }}</span>
        <span class="btnTabs__arr"></span>
      </button>
      <button class="btnTabs" [ngClass]="{down:sorted.rating==1,up:sorted.rating==2}" (click)="sortedF('rating')">
        <span class="btnTabs__text">{{ 'Company_rating' | translate }}</span>
        <span class="btnTabs__arr"></span>
      </button>
      <button class="btnTabs" [ngClass]="{down:sorted.salary==1,up:sorted.salary==2}" (click)="sortedF('salary')">
        <span class="btnTabs__text">{{ 'Salary' | translate }}</span>
        <span class="btnTabs__arr"></span>
      </button>
    </div>
    <app-unity-select
      [title]="'filter.all_opportunities'|translate"
      [arrIn]="getOcF()"
      [valueId]="sorted.typeOfVacancy||-1"
      (arrOut)="sorted.typeOfVacancy = $event.id"></app-unity-select>
  </div>

  <div class="sortPanel-wrap desNone">
    <div class="sortPanel__btn " (click)="filterSpActive = !filterSpActive"><i class="material-icons"></i> {{ 'Filters'
      | translate }}
    </div>
    <div class="filterSp" [ngClass]="{active:filterSpActive}">
      <p class="title">{{'sort.Sort_by'|translate}}:</p>
      <div class="filterSp-wrap">
        <div class="filterSp-item">
          <p class="filterSp__text">{{ 'Posted' | translate }}</p>
          <div class="filterSp__btn"
               (click)="sortedF('posted',2)"
               [ngClass]="{'status3':sorted.posted==2,'':(sorted.posted==1 || sorted.posted==0)}">
            <i class="material-icons"></i></div>
          <div class="filterSp__btn"
               (click)="sortedF('posted',1)"
               [ngClass]="{'status2':(sorted.posted==2 || sorted.posted==0),'status4':sorted.posted==1}">
            <i class="material-icons"></i></div>
        </div>
        <div class="filterSp-item">
          <p class="filterSp__text">{{ 'Deadline' | translate }}</p>
          <div class="filterSp__btn"
               (click)="sortedF('deadLine',2)"
               [ngClass]="{'status3':sorted.deadLine==2,'':(sorted.deadLine==1 || sorted.deadLine==0)}">
            <i class="material-icons"></i></div>
          <div class="filterSp__btn"
               (click)="sortedF('deadLine',1)"
               [ngClass]="{'status2':(sorted.deadLine==2 || sorted.deadLine==0),'status4':sorted.deadLine==1}">
            <i class="material-icons"></i></div>
        </div>
        <div class="filterSp-item">
          <p class="filterSp__text">{{ 'Company_rating' | translate }}</p>
          <div class="filterSp__btn"
               (click)="sortedF('rating',2)"
               [ngClass]="{'status3':sorted.rating==2,'':(sorted.rating==1 || sorted.rating==0)}">
            <i class="material-icons"></i></div>
          <div class="filterSp__btn"
               (click)="sortedF('rating',1)"
               [ngClass]="{'status2':(sorted.rating==2 || sorted.rating==0),'status4':sorted.rating==1}">
            <i class="material-icons"></i></div>
        </div>
        <div class="filterSp-item">
          <p class="filterSp__text">{{ 'Salary' | translate }}</p>
          <div class="filterSp__btn"
               (click)="sortedF('salary',2)"
               [ngClass]="{'status3':sorted.salary==2,'':(sorted.salary==1 || sorted.salary==0)}">
            <i class="material-icons"></i></div>
          <div class="filterSp__btn"
               (click)="sortedF('salary',1)"
               [ngClass]="{'status2':(sorted.salary==2 || sorted.salary==0),'status4':sorted.salary==1}">
            <i class="material-icons"></i></div>
        </div>
      </div>
      <app-unity-select
        [title]="'filter.all_opportunities'|translate"
        [arrIn]="getOcF()"
        [valueId]="sorted.typeOfVacancy||-1"
        (arrOut)="sorted.typeOfVacancy = $event.id"></app-unity-select>
      <div class="button shaded" (click)="filterSpActive = false">{{ 'Filters' | translate }}</div>
    </div>
  </div>

  <!--<app-sort-panel-filter-component [viewSelect]="true"></app-sort-panel-filter-component>-->

  <div class="vacantBox-wrap">

    <app-vacancy-card
      *ngFor="let item of getBookmarked(); let i = index;"
      [vacancy]="item"
      [exp_deadline]="true"
      [exp_published_at]="true"
      [exp_top_published_at]="true"
      [exp_bookMark]="true"
      [class]="'bookmarkedVacancies'"
    ></app-vacancy-card>


  </div>
</div>
