.boxSide-item{
  padding: 35px 30px;

  &:last-child{
    border-bottom: 0;
  }
}
.boxSide{
  padding-bottom: 10px;
}
.textField {
  color: #666;
}
.lampText{
  margin-bottom: 40px;
}
.input {
  width: 100%;
  max-width: 100%;
}

.mr {
  margin-right: 20px !important;
}



:host /deep/ address-select .input {
  width: 100%;
  max-width: 100%;
}

.blueLink.indentTop{
  margin-top: 15px;
  display: inline-block;
}

.upload-photo-wrap.absolut {
  position: absolute;
  width: 100%;
  top: 18px;
  padding: 30px 0;

  file-list {
    margin-bottom: 11px;
    display: block;
  }


}

.vertical-align {
  height: 200px !important;
  padding: 60px 0 !important;

  @media(max-width: 640px) {
    height: auto !important;
    padding: 30px 0px !important;
  }
}

.relative{
  position: relative;
}

.popapApply{
  z-index: 11;
  padding-left: calc((100% - 531px) / 2);
}
.popapApply .button {
  width: 150px;
  margin: 0;
}

@media screen and (max-width: 1080px){
  .boxSide-item {
    padding: 25px 20px;
  }
  .lampText {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 980px){
  .popapApply{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 640px){
  .col-p10.indentTop{
    margin-top: 25px;
  }

  .button-wrap {
    width: 100%;
    .mr {
      margin: 0 auto !important;
    }
  }

  .upload-photo-wrap.absolut {
    position: relative;
    width: 100%;
    top: 0;
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .popapApply .text-ic.active {
    display: none !important;
  }

  .popapApply .button{
    margin: 0 auto;
    display: block;
  }

}
