<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent">
    <div class="title-wrap">
        <p class="title">{{'CompanyInf_title'|translate}}</p>
    </div>

    <div class="boxSide">
        <div class="boxSide-item">
            <div class="lampText min">
              {{'Company_information'|translate}}

            </div>

            <div class="row-wrap">
                <div class="col-v5 col-p10">
                    <div class="indentBt">
                        <p class="textField">{{'input.Company_name'|translate}}</p>

                      <input  type="text" class="input border" [(ngModel)]="nameCompany">
                    </div>
                    <div class="row-wrap">
                        <div class="col-v5 col-t10  indentBt">
                            <p class="textField">{{'input.Company_registration_code'|translate}}</p>
                            <input readonly type="text" class="input border" [(ngModel)]="userService.profile.Company.regCode">
                        </div>
                        <div class="col-v5 col-t10 indentBt">
                            <p class="textField">{{'input.Company_VAT_number'|translate}}</p>
                            <input type="text" class="input border" [maxLength]="11" [(ngModel)]="userService.profile.Company.vatnumber" >
                        </div>
                        <div class="col-v5 col-t10 indentBt">
                            <p class="textField">{{'input.Mobile_phone'|translate}}</p>
                            <input type="text" class="input border" [textMask]="{mask:dataService.phoneMask}" [(ngModel)]="userService.profile.Company.mobilePhone" >
                        </div>
                        <div class="col-v5 col-t10 indentBt">
                            <p class="textField">{{'input.Landline_phone'|translate}}</p>
                            <input type="text" class="input border" [textMask]="{mask:dataService.phoneMask}" [(ngModel)]="userService.profile.Company.landlinePhone">
                        </div>
                    </div>

                </div>
                <div class="col-v5 col-p10 relative">
                    <!--<div class="avatarBox">-->
                        <!--<div class="avatarBox__img "><img src="/assets/img/ic_business_grey.svg" alt=""> </div>-->
                        <!--<a class="blueLink">Upload company logo</a>-->
                    <!--</div>-->

                    <div class="upload-photo-wrap absolut squareLogo vertical-align">
                        <file-list
                                [inputStyle]="'singlePhoto'"
                                [FilesList]="[photo]"
                                (change)="$event"
                        ></file-list>
                        <uploader
                                [profilePhoto]="true"
                                [inputStyle]="'singlePhoto'"
                                [fileTypes]="dataService.fileupload.photo"
                                [multiple]="false"
                                (file)="setPhoto($event)"
                        ></uploader>
                    </div>
                </div>
            </div>
            <p class="textField">{{'input.Company_address'|translate}}</p>
            <address-select
                    (Address)="userService.profile.Company.Address=$event"
                    [addr]="userService.profile.Company.Address"
                    [name]="'company'"
            ></address-select>
        </div>
        <div class="boxSide-item">
            <div class="indentBt">
                <p class="textField">{{'input.About_company'|translate}}</p>
                <textarea name="" id="" cols="30" rows="6" class="textarea"
                          [maxLength]="2000"
                          [(ngModel)]="userService.profile.Company.aboutCompany" ></textarea>
            </div>
            <div class="indentBt">
                <p class="textField">{{'input.Video_about_your_company'|translate}}</p>
                <input type="url" class="input border" [ngClass]="{error: !validVideoURL}" [(ngModel)]="userService.profile.Company.videoUrl" >
            </div>

            <div class="row-wrap">
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">{{'input.Field_of_activity'|translate}}</p>


                    <app-multiple-select
                      [valueId]="userService.profile.Company.activityField"
                      [title]="'input.Field_of_activity'|translate"
                      [typeOut]="0"
                      [arrIn]="dataService.options.fieldActivity"
                      (arrOut)="userService.profile.Company.activityField = $event"
                    ></app-multiple-select>
                </div>
                <div class="col-v5 col-p10 indentBt">
                    <p class="textField">{{'input.Company_website'|translate}}</p>
                    <input type="url" class="input border" [(ngModel)]="userService.profile.Company.webSite">
                </div>
            </div>

            <div class="multiArea-wrap indentBt">


              <div class="textField">{{"keyword" | translate}}
                <div class="btnTell-wrap">
                  <i class="material-icons btnTell">&#xE88E;</i>
                  <div class="tellBox">{{"tooltips.Keywords" | translate}}</div>
                </div>
              </div>
              <multiselect-autocopmplete-area
                                              [items]="userService.profile.Company.skills?userService.profile.Company.skills:[]"
                                              [keyOff]="[]"
                                              [max]="50"
                                              [skills]="[]"
                                              (outList)="userService.profile.Company.skills = $event"

              ></multiselect-autocopmplete-area>
            </div>

            <div class="indentBt">
                <div class="row-wrap">
                    <div class="col-v2 col-t3 col-p5 pading10R-p">
                        <p class="textField">{{'input.Established'|translate}}</p>
                      <input [textMask]="{mask:dataService.yearMask}" [minLength]="4" type="text" class="input border" [(ngModel)]="userService.profile.Company.Established">
                    </div>
                    <div class="col-v3 col-p5 pading10L-p">
                        <p class="textField">{{'input.Size_of_company'|translate}}</p>
                        <app-unity-select [title]="'input.Size_of_company'|translate"
                                          [arrIn]="dataService.options.companySize"
                                          (arrOut)="userService.profile.Company.companySize = $event.id"
                                          [valueId]="userService.profile.Company.companySize"
                        ></app-unity-select>
                    </div>
                    <div class="col-v5 col-t4 col-p10 indentTop">
                        <p class="textField">{{'input.Legal_form_of_business'|translate}}</p>
                        <app-unity-select [title]="'input.Legal_form_of_business'|translate"
                                          [arrIn]="dataService.options.legalFormBusiness"
                                          (arrOut)="userService.profile.Company.legalFormBusiness = $event.id"
                                          [valueId]="userService.profile.Company.legalFormBusiness"
                        ></app-unity-select>

                    </div>
                </div>
            </div>



            <p class="textField">{{'input.Location'|translate}}</p>
            <div class="block">
              <div  *ngFor="let item of userService.profile.Company.AdditionalAddresses; let i = index;">
                <input *ngIf="item" readonly  class="input border " type="text" value="{{item.addr}}" style="width: 88%">
                <span class="delete-icon " (click)="delAddres(i)" style="margin-left: 10px">
                        <i class="material-icons action-icon">&#xE872;</i>
                        {{'btn.Delete'|translate}}
                    </span>
              </div>
              <address-select
              *ngIf="addAddr"
              (Location)="addAddres($event);addAddr=false"
              ></address-select>
            </div>


            <a class="blueLink indentTop" (click)="addAddr=true">+ {{'btn.Add_additional_location'|translate}}</a>
        </div>

    </div>
    <div class="popapApply userData-popap flexCol">
        <div class="button-wrap">
            <button class="button shaded min mr" (click)="save()">{{'Save'|translate}}</button>
            <button class="text-ic " [routerLink]="['/company-details', userService.profile._id]" >
                <i class='icon remove_eye_black'></i>
                <p class="text-ic__text">{{'View'|translate}}</p>
            </button>
        </div>



        <button  class="text-ic active mobileNone">
            <i  class="icon cancel-black"></i>
            <p  class="text-ic__text">{{'Cancel'|translate}}</p>
        </button>
    </div>
</div>
