<sidebar-link [componentData]="component.componentSidebarLink" class="sidebar"></sidebar-link>
<div class="sideContent ">
    <div class="title-wrap">
        <p class="title">{{'head.savedSearchesAndAlerts'|translate}}</p>
    </div>

    <!------------------------------- + filter заменить ------------------------- -->

    <div class="filterSd mobileNone" *ngIf="uS.profile.type_profile=='Company'">
        <div class="btnTabs-wrap">
            <button class="btnTabs " [ngClass]="{'up':sortdate}" (click)="sortdate=!sortdate;sortname=false;filter()">
                <span class="btnTabs__text">{{'sort.Recently_added'|translate}}</span>
                <span class="btnTabs__arr"></span>
            </button>
            <button class="btnTabs " [ngClass]="{'up':sortname}" (click)="sortname=!sortname;sortdate=false;filter()">
                <span class="btnTabs__text">{{'Name'|translate}}</span>
                <span class="btnTabs__arr"></span>
            </button>

        </div>
        <app-unity-select
          [title]="'all_projects'|translate"
          [arrIn]="CompanyProjectsF"
          [valueId]="sirttype"
          (arrOut)="sirttype = $event.id;filter()"></app-unity-select>
    </div>

    <div class="sortPanel-wrap desNone" *ngIf="uS.profile.type_profile=='Company'">
        <div class="sortPanel__btn " (click)="mvFilter=!mvFilter"><i class="material-icons"></i> {{'Filters'|translate}}</div>
        <div class="filterSp " style="display: block" *ngIf="mvFilter">
            <p class="title">{{'sort.Sort_by'|translate}}:</p>
            <div class="filterSp-wrap">
                <div class="filterSp-item">

                    <p class="filterSp__text">{{'sort.Recently_added'|translate}}</p>
                    <div class="filterSp__btn" [ngClass]="{'status2':!sortdate,'up':sortdate}" (click)="sortdate=!sortdate;sortname=false;filter()"><i class="material-icons"></i></div>

                </div>
                <div class="filterSp-item">
                    <p class="filterSp__text">{{'Name'|translate}}</p>
                    <div class="filterSp__btn"  [ngClass]="{'status2':!sortname,'up':sortname}" (click)="sortname=!sortname;sortdate=false;filter()"><i class="material-icons"></i></div>

                </div>

            </div>

            <app-unity-select [title]="'all_projects'|translate" [arrIn]="CompanyProjectsF" [valueId]="sirttype"
                              (arrOut)="sirttype = $event.id;filter()"></app-unity-select>
            <div class="button shaded">{{'Filter'|translate}}</div>
        </div>
    </div>


    <!--<app-sort-panel-filter-component [viewSelect]="true" ></app-sort-panel-filter-component>-->
    <!--------------------- + filter заменить -------------------------------------- -->

    <div class="vacantBox-wrap">
      <div class="vacantBox norm" *ngFor="let item of sortingArr;let i = index">
            <div class="row-wrap">
                <div class="col-v6 col-m10 col-p10">
                    <div class="topLine-vb">
                        <p class="title">{{item.name}}</p>
                        <span class="text11">{{'Created'|translate}}: {{dataService.dateConvert(item.created_at)|date: 'dd.MM.yyyy'}}</span>
                    </div>
                    <div class="parameterVb">

                        <p class="vacantBox__text"  *ngFor="let opt of item.optText">
                            {{
                            opt.name=='savSea.languages'?
                                uS.profile.type_profile=='Company'?
                                    ('savSea.languagesC'|translate):('savSea.languagesS'|translate):
                                (opt.name|translate)

                            }}:
                            <span *ngIf="opt.text" class="vacantBox__boldText">
                              {{opt.text}}
                            </span>
                            <span *ngIf="opt.values">
                              <span class="vacantBox__boldText" *ngFor="let text of opt.values;let i = index">
                                {{text|translate}}{{i<opt.values.length-1?',':null}}
                              </span>
                            </span>

                        </p>

                        <!--<div class="vacantBox__text indent">Search request:-->
                            <!--<div class="selInsert-wrap disable">-->
                                <!--<div class="selInsert">Photoshop</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-v4 col-m10 col-p10">
                    <div class="flexCol">
                        <div class="setcicBox-wrap" [routerLink]="uS.profile.type_profile=='Company'?['/vacancy/applist/',item._id,4]:['/StudentVacancyListComponent/',item._id,4]">
                            <p>{{'Total_Candidates'|translate}}</p>
                            <div class="setcicBox">
                                <p>{{item.ids.length||0}}</p>
                            </div>

                        </div>
                        <div class='setcicBox-wrap'   [routerLink]="uS.profile.type_profile=='Company'?['/vacancy/applist/',item._id,5]:['/StudentVacancyListComponent/',item._id,5]">
                            <p>{{'New_Candidates'|translate}}</p>
                            <div class='setcicBox active'>
                                <p>{{item.count_new.length||0}}</p>
                            </div>
                        </div>
                        <div class='setcicBox-wrap'  [routerLink]="uS.profile.type_profile=='Company'?['/vacancy/applist/',item._id,6]:['/StudentVacancyListComponent/',item._id,6]">
                            <p>{{'Unread_Candidates'|translate}}</p>
                            <div class='setcicBox active'>
                                <p>{{item.count_unread.length||0}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="text11 indent">{{'Updated'|translate}}: {{dataService.dateConvert(item.last_updated)|date:"dd.MM.yyyy (hh:mm)"}}</p>
                    <div class="row-wrap middle" >
                        <div class="col-v6 col-t5">
                            <div class="checkbox indent">
                                <input id="type314" type="checkbox" name="check" [value]="true"  (ngModelChange)="updateSearch(item)" [(ngModel)]="item.alertEmail">
                                <label for="type314"><span class="checkbox__box"></span>
                                    <p class="checkbox__text">{{'Email_Alerts'|translate}}</p></label>
                            </div>
                        </div>
                        <div class="col-v4 col-t5 maxUnity">
                            <app-unity-select
                              [arrIn]="dataService.options.period"
                              [title]="'resume.prefPer'|translate"
                              [valueId]="item.period"
                              (arrOut)="item.period = $event.id;updateSearch(item)"
                            ></app-unity-select>
                        </div>
                    </div>
                  <span *ngIf="uS.profile.type_profile=='Company'&&uS.accessPackage.projBmark">
                    <p class="textField dark">{{'saveSearch.assignTP'|translate}}</p>
                    <app-unity-select
                      [valueId]="item.project"
                      [title]="'Projects'|translate"
                      [arrIn]="CompanyProjects"
                      (arrOut)="item.project = $event.id;updateProject(item._id,$event.id)"
                    ></app-unity-select>
                    </span>
                </div>
            </div>
            <div class="bottomLine-vb">
                <div class="row-wrap">
                    <div class="col-v6 col-t5 col-m3 col-p10 indent">
                        <button (click)="updateSS(item,i)" class="button shaded min">{{'Update'|translate}}</button>

                    </div>
                    <div class="col-v4 col-t5 col-m7 col-p10">
                        <div class="flexCol">

                            <button *ngIf="uS.profile.type_profile=='Company'" [routerLink]="uS.accessRight!=3?['/resume/search',item._id]:[]" class="text-ic">
                                <i class="icon edit-black"></i>
                                <p class="text-ic__text">{{'saveSearch.modSeCr'|translate}}</p>
                            </button>
                            <button *ngIf="uS.profile.type_profile!='Company'" [routerLink]="['/vacancy/search',item._id]" class="text-ic">
                                <i class="icon edit-black"></i>
                                <p class="text-ic__text">{{'saveSearch.modSeCr'|translate}}</p>
                            </button>
                            <button class="text-ic" (click)="deleteSS(item._id,i)">
                                <i class='icon delete-forever-black'></i>
                                <p class="text-ic__text">{{'btn.Delete'|translate}}</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
