.up{
  border: 2px solid #00C3F1;
  background-color: rgba(255, 255, 255, 0.7)
}
.filterSd app-unity-select {
  width: 190px;
  display: inline-block;
  vertical-align: middle;
}
.text11.indent{
  margin-top: 5px;
  margin-bottom: 10px;
}

.row-wrap.middle > div{
  vertical-align: middle;
  margin-bottom: 10px;
}
.checkbox.indent {
  margin: 0;
  line-height: 1;
}
app-sort-panel-filter-component .wrap-unity {
  display: inline-block;
  width: 190px;
  background-color: red;
}

.bottomLine-vb .row-wrap > div{
  vertical-align: middle;
}
.bottomLine-vb .button.min {
  max-width: 120px;
}
.maxUnity app-unity-select {
  max-width: 130px;
  display: block;
  margin: 0 auto;
  margin-right: 0;
}
.selInsert-wrap:first-child {
  margin-left: 5px;
}
.vacantBox * .parameterVb > .indent {
  margin-top: 28px;
}

@media screen and (max-width: 800px) {
  .parameterVb {
    margin-bottom: 20px;
  }
  .text11.indent{
    margin-bottom: 20px;
  }
  .row-wrap.middle > div{
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 640px) {
  .bottomLine-vb {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;

    .button.min{
      width: 100%;
      margin: 20px 0;
      max-width: 100%;
    }
  }
  .sortPanel-wrap {
    text-align: left;
    background: #f1f1f1;
    padding-top: 0;

  }
  .vacantBox .title{
    margin-bottom: 5px;
  }

  .title-wrap{
    padding-right: 10px;
  }
  .vacantBox:hover .bottomLine-vb {
    top: auto;
    right: auto;
  }

}

