<div class="userLine">
  <div class="userLine-left" *ngIf="user.profile.type_profile!='Company'" (click)="bar=!bar">
    <div class="sideTitle ">
      {{text}}
      <span class="userLine__sub">{{(subtext| translate).toLowerCase() }} </span>
    </div>
  </div>
    <div class="userLine-left" *ngIf="user.profile.type_profile=='Company'" (click)="bar=!bar">
      <!--(click)="bar=!bar;setProfileInvite(user.profile._id)"-->

        <div class="sideTitle "  [ngClass]="{'active':user.profile.type_profile=='Company'&&bar}" >
          <!--<i class='service-icon verify'></i>-->
          {{text}}
            <span class="arrowUl"  *ngIf="user.profile.invite.length>0||!user.initProfile"></span>

            <div class="utsBox "  *ngIf="user.profile.invite.length>0||!user.initProfile"><!-- active -->
                <div class="mpsBox-top">
                    <p class="mpsBox__text">{{'account.userline_chCompany'|translate}}</p>
                    <button class="mpsBox__cross">
                        <i class="material-icons"></i>
                    </button>
                </div>
                <ul class="utsBox-ul" >
                  <li *ngIf="!user.initProfile"  (click)="setProfileInvite(user.first_profile._id,0);user.initProfile=true;" >
                    <a >{{user.first_profile.Company.nameCompany}} ({{dataService.options.access[0].text|translate}})</a>
                  </li>

                  <li *ngFor="let invite of user.profile.invite" (click)="setProfileInvite(invite.uid,invite.access);user.initProfile=false;">
                    <a *ngIf="invite.Company" >{{invite.Company.nameCompany}} ({{dataService.options.access[invite.access].text|translate}})</a>
                  </li>

                </ul>
            </div>
        </div>
        <span class="userLine__sub">{{(subtext| translate).toLowerCase() }} </span>
    </div>
    <!--<div class="userLine-left">-->
    <!--<div *ngFor="let invite of user.profile.invite" style="border: 1px solid black;"-->
    <!--(click)="setProfileInvite(invite.uid)">-->
    <!--<span class="text-ic__icon  {{dataService.options.status[invite.status].class}}"></span>-->
    <!--{{invite.first_name}} {{invite.last_name}} <span class="textField"> ({{dataService.options.access[invite.access].text}})</span>-->
    <!--</div>-->
    <!--</div>-->
    <div class="userLine-right" *ngIf="rightbtn()">
        <i class="material-icons">exit_to_app</i>
        <a class="userLine__out" (click)="logout()">{{ 'log_out' | translate }}</a>
    </div>
</div>
