.createJob-item.top {
  vertical-align: top;
}
.alert{
  border:1px solid red;
  height: 40px;
}
.boxSide {
  min-height: auto;
}

.promotion-table-wrap{
  overflow: auto;
}
.table.promotion-table{
  min-width: 550px;
  margin: 0;
  thead tr td:first-child{
    width: auto;
  }
  tr td:first-child {
    padding-left: 0;
  }
  td{
    width: 25%;
  }
  tr{
    border-top: none;
  }
  tbody{
    border-top: 1px dashed #CCCCCC;
    border-bottom: 1px dashed #CCCCCC;
  }
  .blueText{
    display: inline-block;
  }
  td .grayText{
    display: block;
    font-size: 10px;
  }

}
.hidenTp-f{
  margin-top: 2px;
  .allocateText,
  .microText{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.hidenTp{
  margin-top: 5px;
  div{
    color: #8B8B8B;
    .allocateText{
      color: #fff;
      font-size: 10px;
    }
    .blueText {
      color: #00C3F1;
    }
  }
}
.openTp{
  font-size: 10px;
  color: #8B8B8B;
  cursor: pointer;
  .icon{
    opacity: 0.6;
    width: 15px;
    height: 15px;

    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
  }
}






.button {
  border: 1px solid #00C3F1;
}
.button.previous {
  border: 1px solid #D3D3D3;
}
.button.previous:hover {
  border: 1px solid #00C3F1;
}
.button.next:hover {
  border: 1px solid#0092B2;
}
.createJob {
  padding: 35px 30px;
  letter-spacing: -5px;
  border-bottom: 1px solid #D3D3D3;
}

.stepBox {
  border-bottom: 1px solid #D3D3D3;
}

.createJob:last-child, .stepBox:last-child {
  border: 0;
}

.createJob * {
  letter-spacing: 0;
}

.createJob-grid {
  display: inline-block;
  vertical-align: top;
}

.stringCj {
  margin-bottom: 25px;
}

.stringCj.indent {
  margin-bottom: 70px;
}

.stringCj:last-child {
  margin-bottom: 0;
}

.lampText.indent{
  margin-bottom: 20px;

}
.createJob .lampText{
  margin-left: 0;
}
//.createJob-number {
//  display: inline-block;
//  vertical-align: middle;
//  border: 2px solid #00C3F1;
//  height: 34px;
//  width: 34px;
//  margin-right: 10px;
//  border-radius: 100%;
//  text-align: center;
//  line-height: 30px;
//  font-size: 18px;
//  font-weight: bold;
//  color: #00C3F1;
//}

.createJob .sideTitle {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.SalaryBox .checkbox {
  vertical-align: middle;
  margin: 0;
  width: 170px;
}

.SalaryBox .checkbox * {
  vertical-align: middle;
}

.textField {
  color: #666;
  text-align: left;
}

.multipleSelect {
  border: 1px solid #E5E5E5;
  max-width: 100%;
  width: 100%;
}

.input.location-icon {
  width: 100%;
  border: 1px solid #E5E5E5;
}

.amongText {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  padding-right: 20px;
  text-align: center;
}

.createJob .button {
  display: inline-block;
}

.btn200 {
  width: 200px;
  padding: 10px 0;
  font-size: 14px;
}

.createJob-item {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: bottom;
  max-width: 241px;
  margin-right: 20px;
}

.createJob-item.min {
  max-width: 115px;
}

.createJob-item:last-child {
  margin-right: 0;
}

.btnWrap-cj {
  text-align: center;
  display: block;
  margin-top: 40px;
}

.btnWrap-cj .button {
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.stringCj__title { /* заменить на minTilt */
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.createJob-item .datepicker {
  position: absolute;
  top: 100%;
  left: 30px;
}

.input {
  //border: 1px solid #E5E5E5;
  width: 100%;
}

.inputSt-wrap {
  display: block;
  letter-spacing: -5px;
}

.inputSt-wrap * {
  letter-spacing: 0;
}

.inputSt .input {
  width: 100%;
}

.inputSt {
  width: calc(50% - 10px);
  margin-right: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.inputSt:last-child, .inputSt-wrap:last-child {
  margin: 0;
}

.inputSt-wrap {
  margin-bottom: 20px;
}

.discountBox-wrap {
  margin-bottom: 5px;
}

.discountBox-wrap:last-child {
  margin-bottom: 0;
}

.discountBox-wrap .checkbox {
  width: 55%;
  max-width: 100%;
  padding-right: 140px;
}

.absolutField {
  max-width: 120px;
  position: absolute;
  top: -3px;
  right: 0;
}

/* + checkbox */
.checkbox {
  display: inline-block;
  max-width: 241px;
  margin-right: 20px;
  position: relative;
}

.checkbox.max {
  max-width: 100%;
  width: 100%;
}
.checkbox.indentCb {
  margin-top: 14px;
}

//.checkbox .checkbox__text {
//  margin-left: 3px;
//  width: calc(100% - 25px);
//  line-height: 38px;
//}

.createJob-item .checkbox {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
}

.radio label {
  margin: 15px 0;
}

.SalaryBox {
  .SalaryBox__text, .SalaryBox-item, .SalaryBox__number {
    display: inline-block;
    vertical-align: middle;
  }
  .SalaryBox__text, .createJob-item, .SalaryBox-item, .SalaryBox__number {
    margin-right: 10px;
  }
  .SalaryBox__number {
    border: 1px solid #E5E5E5;
    padding: 0px 5px;
    max-width: 75px;
    text-align: center;
    height: 38px;
  }
}

/* - checkbox */

/* - dropFiles */

@media screen and (max-width: 1100px) {
  .createJob-item {
    width: calc(33% - 10px);
    margin-right: 10px;
  }
  .amongText {
    width: 155px;
    padding-right: 10px;
  }
  .SalaryBox .SalaryBox-item {
    width: calc(49% - 10px);
    margin-bottom: 10px;
  }
  .createJob-item.min {
    width: 40%;
  }
}

@media screen and (max-width: 1080px) {
  .createJob {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 980px) {
  .discountBox-wrap .checkbox {
    width: 65%;
    max-width: 100%;
  }

  .createJob-item {
    width: calc(49% - 10px);
    margin-right: 10px;
  }
  .amongText {
    margin-bottom: 30px;
    width: 130px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .createJob .discountBox-wrap .checkbox, .SalaryBox .createJob-item.min, .stringCj.indent {
    margin-bottom: 0px;
  }
  .stringCj {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .amongText {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .SalaryBox .SalaryBox-item {
    width: 100%;
  }
  .stringCj {
    margin-bottom: 20px;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 10px;
  }

  .multipleSelect .mpsBox {
    left: auto;
    right: -15px;
  }

  .absolutField {
    position: relative;
    display: block;
    margin: 5px 0 10px 35px;
  }

  .discountBox-wrap .checkbox {
    width: calc(90% - 120px);
    margin-right: 10%;
    padding: 0;
  }
  .discountBox {
    vertical-align: top;
  }
}

@media screen and (max-width: 700px) {

  .btn200 {
    width: 180px;
  }
  .createJob-item {
    width: 100%;
    margin-right: 0px;
    display: block;
    max-width: 300px;
  }
  .createJob-item .checkbox {
    position: relative;
    left: 0;
    top: auto;
  }
  .createJob-item .datepicker {
    position: relative;
    top: auto;
    left: 0;
    margin-bottom: 10px;
  }
  .SalaryBox .createJob-item {
    display: inline-block;
  }
  .stringCj.indent {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .absolutField {
    margin: 5px 0 10px 30px;
  }
  .utsBox{
    min-width: 130px;
  }
  .createJob-item {
    width: 100%;
    max-width: 100%;
  }
  .createJob-item.okLine {
    width: calc(100% - 99px);
    display: inline-block;
    margin-right: 20px;
  }
  .checkbox.indentCb[_ngcontent-c14] {
    margin-top: 0px;
  }
  //.createJob-wrapTitle {
  //  text-align: center;
  //}
  //.createJob-number {
  //  display: block;
  //  margin: 0 auto 10px;
  //}
  .createJob .button.mobileNone {
    display: none;
  }
  .createJob-item, .createJob .button.min, .createJob .button, .createJob .checkbox {
    margin-bottom: 15px;
  }
  .amongText {
    display: block;
    margin-bottom: 15px;
  }
  .discountBox {
    width: auto;
    min-width: auto;
    float: right;
  }
  .discountBox-wrap {
    margin-bottom: 10px;
  }

  .checkbox .checkbox__text {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
  }
  .checkbox .checkbox__box {
    vertical-align: top;
  }

  .discountBox-wrap .checkbox {
    width: calc(90% - 110px);
    margin-right: 10%;
  }
  .discountBox-wrap .btnTell-wrap {
    position: absolute;
    left: 100%;
    top: -3px;
  }
  .tellBox {
    left: -100px;
    width: 240px;
  }
  .utsBox {
    min-width: 130px;
  }

  .hidenTp-f{
    margin-bottom: 10px;
  }
  .hidenTp .row-wrap {
    margin-bottom: 20px;
  }
  .tablePromo .blueText.microText {
    margin-left: 0;
    display: block;
  }

  .col-v3.desNone {
    display: inline-block;
    vertical-align: middle;
  }
}
