<div class="createJob">
    <div class="roundNumber-wrap">
        <p class="roundNumber">{{cS.vacancy.type_temp==1?cS.pay?6:5:cS.pay?4:3}}</p>
        <p class="sideTitle">{{'promotions.title'|translate}}</p>
    </div>
    <div class="stringCj">
        <p class="stringCj__title">{{'promotions.desc'|translate}}</p>



        <div class="tablePromo indent">
            <div class="tablePromo-h">
                <div class="row-wrap middle">
                    <div class="col-v4 col-t4 col-p10"><p class="text13">{{'promotions.Service'|translate}}</p></div>
                    <div class="col-v2 col-t2 col-p3"><p class="text13">{{'promotions.Applied'|translate}}</p></div>
                    <div class="col-v2 col-t2 col-p3"><p class="text13 left">{{'promotions.Available'|translate}}</p></div>
                    <div class="col-v2 col-t2 col-p4"><p class="text13">{{'promotions.Apply'|translate}}</p></div>
                </div>
            </div>
            <div class="tablePromo-c">
                <div class="row-wrap middle" *ngFor="let item of table_1;let indService = index">
                    <div class="col-v4 col-t4 col-p10">
                        <div>{{item.text|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{item.text_h|translate}}</div>
                            </div>
                        </div>


                        <div class="allocateText green-bc" *ngIf="cS.vacancy['PROM'+item.type]&&cS.vacancy['PROM'+item.type]>hS.getUnixTimestamp()">{{'Active'|translate}}</div>
                    </div>
                    <div class="row-wrap desNone">
                        <div class="col-v3"><p class="text13">{{'promotions.Applied'|translate}}</p></div>
                        <div class="col-v3"><p class="text13">{{'promotions.Available'|translate}}</p></div>
                        <div class="col-v4"><p class="text13">{{'promotions.Apply'|translate}}</p></div>
                    </div><!-- для телефона -->
                    <div class="col-v2 col-t2 col-p3">
                        <span class="bold">{{summValues(item.details)}}</span> {{item.available_i|translate}}
                        <span class="grayText small" *ngIf="item.until">{{'Until'|translate}} {{item.until}}</span>

                        <div class="openTp" (click)="item.detailsShow=!item.detailsShow" *ngIf="item.details.length>0&&item.addinstructions">Details
                          <i class='icon' [ngClass]="{'ic_expand_less_black':!item.detailsShow,'ic_expand_more_black':item.detailsShow}" ></i>
                        </div>
                    </div>
                    <div class="col-v2 col-t2 col-p3">
                        <div class="flex1">
                            <div>
                                <div class="blueText bold">{{uS.profile.service.active[item.type]}}</div>
                                {{item.available_i|translate}}
                            </div>
                            <div (click)=" setAddModal(item.type)" *ngIf="item.addinstructions" style="cursor: pointer" class="blueText microText">{{'Add_instructions'|translate}}</div>
                        </div>
                    </div>
                    <div class="col-v2 col-t2 col-p4">
                        <div class="select-pt">
                            <app-unity-select
                                    [title]="''"
                                    [valueId]="cS.vacancy.activInstruction[item.type].values"
                                    [arrIn]="item.difference"
                                    (arrOut)=" $event.id?cS.vacancy.activInstruction[item.type].values = $event.id:null"
                            ></app-unity-select>
                        </div>
                        {{item.available_i|translate}}
                    </div>
                  <div class="hidenTp" *ngIf="item.detailsShow&&item.details.length>0">
                    <div class="row-wrap" *ngFor="let detail of item.details">
                      <div class="col-v4 col-t4 col-p10">
                        <div>{{item.text|translate}}</div>
                        <div class="hidenTp-f">
                          <div class="allocateText " [ngClass]="{'blue-bc':detail.status==0,'green-bc':detail.status==1}">
                             {{detail.status==0?('Submitted'|translate):null}}
                             {{detail.status==1?('Done'|translate):null}}
                          </div>
                          <div class="microText">{{dataService.dateConvert(detail.created_at)|date:'dd.MM.yyyy'}}</div>
                        </div>
                      </div>
                      <div class="col-v3 desNone"><p class="text13">Applied</p></div>
                      <div class="col-v2 col-t2 col-p3">
                        <div>{{detail.instruction.values}} {{item.available_i|translate}}.</div>
                      </div>
                      <div class="col-v3 col-t3 col-p3">
                        <div class="blueText microText" style="cursor: pointer" (click)="modalView=true;modalViewContent = {text:detail.instruction.text,files:detail.instruction.files};">Instructions</div>
                      </div>
                      <div class="col-v1"></div>
                    </div>

                  </div>
                </div>

            </div>
        </div>

        <p class="stringCj__title">{{'Other_services_available'|translate}}</p>


        <div class="tablePromo">
            <div class="tablePromo-h">
                <div class="row-wrap middle">
                    <div class="col-v8"><p class="text13">{{'promotions.Service'|translate}}</p></div>
                    <div class="col-v2"><p class="text13">{{'promotions.Price'|translate}}</p></div>
                </div>
            </div>
            <div class="tablePromo-c" *ngFor="let item of table_2">
                <div class="row-wrap middle">
                    <div class="col-v8 col-p10">
                        <div>{{item.text|translate}}
                            <div class="btnTell-wrap">
                                <i class="material-icons btnTell">&#xE88E;</i>
                                <div class="tellBox">{{item.text_h|translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrap desNone">
                        <div class="col-v10"><p class="text13">{{'promotions.Price'|translate}}</p></div>
                    </div><!-- для телефона -->
                    <div class="col-v2 col-p10">
                        <div class="priceTp">{{item.price}} €</div>
                        <span class="pcs">/{{item.available_i|translate}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="lampText min">
            {{'promotions.info'|translate}}
        </div>

    </div>

</div>
<app-services-add-instructions *ngIf="modalAdd"
[show]="true"
[files]="modalValues.files"
[text]="modalValues.text"
[outValue]="activInstruction"
(close)="modalAdd = $event"
(output)="saveInstruction($event)"
></app-services-add-instructions>

<div class="modalStandart active" *ngIf="modalView" >
    <div class="modalStandart-wrap">
        <i class="icon cancel-black" (click)="modalView=false"></i>
        <div class="headerMs">
            <p class="sideTitle">Your instructions</p>
            <p class="text">{{modalViewContent.text}}</p>
          <file-list
            [FilesList]="modalViewContent.files"
            [isDelete]="false"
            [inputStyle]="'fileListShort'"
          ></file-list>
            <!--<div class="attachEl" *ngFor="let file of modalViewContent.files">-->
                <!--<div class="blueText"><i class='icon attach-file-gray' href=""></i>{{file.name}}</div>-->

            <!--</div>-->
        </div>
    </div>
</div>

<!--<div class="createJob">-->
<!--<div class="roundNumber-wrap">-->
<!--<p class="roundNumber">{{cS.pay?6:5}}</p>-->
<!--<p class="sideTitle">{{'promotions.title'|translate}}</p>-->
<!--</div>-->
<!--<div class="stringCj">-->
<!--<p class="stringCj__title">{{'promotions.desc'|translate}}</p>-->
<!--<div class="discountBox-wrap" *ngIf="getCountpromot('premiumListing').length>0">-->
<!--<div class="checkbox">-->
<!--<input id="type1asx" type="checkbox" name="check" [value]="true" (change)="PROMpremiumListing = $event.target.checked;setPROM()" >-->
<!--<label for="type1asx"><span class="checkbox__box"></span>-->
<!--<div class="checkbox__text">{{'promotions.prem_listing'|translate}}-->
<!--<div class="btnTell-wrap">-->
<!--<i class="material-icons btnTell">&#xE88E;</i>-->
<!--<div class="tellBox">{{'promotions.prem_listing_h'|translate}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</label>-->

<!--<div class="absolutField">-->
<!--<app-unity-select-->
<!--[title]="'days_period'|translate"-->
<!--[valueId]="PROMpremiumListingVal"-->
<!--[arrIn]="getCountpromot('premiumListing')"-->
<!--(arrOut)="PROMpremiumListingVal = $event.id;setPROM()"></app-unity-select>-->
<!--</div>-->

<!--</div>-->
<!--<div class="discountBox"><p>{{shopService.getPackage(this.uS.profile.service.active.packageId).settings.pricePremiumListing}}€</p> <span>/ day</span></div>-->
<!--</div>-->

<!--<div class="discountBox-wrap" *ngIf="getCountpromot('hightFrame').length>0">-->
<!--<div class="checkbox">-->
<!--<input id="type2cds" type="checkbox" name="check" [value]="true"  (change)="PROMhightFrame = $event.target.checked;setPROM()" >-->
<!--<label for="type2cds"><span class="checkbox__box"></span>-->
<!--<div class="checkbox__text">{{'promotions.frame'|translate}}-->
<!--<div class="btnTell-wrap">-->
<!--<i class="material-icons btnTell">&#xE88E;</i>-->
<!--<div class="tellBox">{{'promotions.frame_h'|translate}}</div>-->
<!--</div>-->
<!--</div>-->

<!--</label>-->
<!--<div class="absolutField">-->
<!--<app-unity-select [title]="'days_period'|translate"-->
<!--[valueId]="PROMhightFrameVal"-->
<!--[arrIn]="getCountpromot('hightFrame')"-->
<!--(arrOut)="PROMhightFrameVal = $event.id;setPROM()"></app-unity-select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="discountBox"><p>{{shopService.getPackage(this.uS.profile.service.active.packageId).settings.priceHightFrame}}€</p> <span>/ month</span></div>-->
<!--</div>-->

<!--<div class="discountBox-wrap"  *ngIf="getCountpromot('insocialMedia').length>0">-->
<!--<div class="checkbox">-->
<!--<input id="type2ws" type="checkbox" name="check" [value]="true" (change)="PROMinsocialMedia = $event.target.checked;setPROM()" >-->
<!--<label for="type2ws"><span class="checkbox__box"></span>-->
<!--<div class="checkbox__text">{{'promotions.promotFB'|translate}}-->
<!--<div class="btnTell-wrap">-->
<!--<i class="material-icons btnTell">&#xE88E;</i>-->
<!--<div class="tellBox">{{'promotions.promotFB_h'|translate}}</div>-->
<!--</div>-->
<!--</div>-->

<!--</label>-->
<!--<div class="absolutField">-->
<!--<app-unity-select [title]="'pcs'|translate"-->
<!--[valueId]="PROMinsocialMediaVal"-->
<!--[arrIn]="getCountpromot('insocialMedia')"-->
<!--(arrOut)="PROMinsocialMediaVal = $event.id;setPROM()"></app-unity-select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="discountBox"><p>{{shopService.getPackage(this.uS.profile.service.active.packageId).settings.priceInsocialMedia}}€</p> <span>/ {{'pcs' | translate}}</span></div>-->
<!--</div>-->

<!--<div class="discountBox-wrap" *ngIf="getCountpromot('targetGroup').length>0">-->
<!--<div class="checkbox">-->
<!--<input id="type2cs" type="checkbox" name="check" [value]="true" (change)="PROMtargetGroup = $event.target.checked;setPROM()" >-->
<!--<label for="type2cs"><span class="checkbox__box"></span>-->
<!--<div class="checkbox__text">{{'promotions.edvtarg'|translate}}-->
<!--<div class="btnTell-wrap">-->
<!--<i class="material-icons btnTell">&#xE88E;</i>-->
<!--<div class="tellBox">{{'promotions.edvtarg_h'|translate}}</div>-->
<!--</div>-->
<!--</div>-->

<!--</label>-->
<!--<div class="absolutField">-->
<!--<app-unity-select [title]="'pcs'|translate"-->
<!--[valueId]="PROMtargetGroupVal"-->
<!--[arrIn]="getCountpromot('targetGroup')"-->
<!--(arrOut)="PROMtargetGroupVal = $event.id;setPROM()"></app-unity-select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="discountBox"><p>{{shopService.getPackage(this.uS.profile.service.active.packageId).settings.priceTargetGroup}}€</p> <span>/ {{'pcs' | translate}}</span></div>-->
<!--</div>-->

<!--<div class="discountBox-wrap" *ngIf="getCountpromot('bannerofEmail').length>0">-->
<!--<div class="checkbox">-->
<!--<input id="type2w" type="checkbox" name="check" [value]="true" (change)="PROMbannerofEmail=$event.target.checked;setPROM()" >-->
<!--<label for="type2w"><span class="checkbox__box"></span>-->
<!--<div class="checkbox__text">{{'promotions.banner'|translate}}-->
<!--<div class="btnTell-wrap">-->
<!--<i class="material-icons btnTell">&#xE88E;</i>-->
<!--<div class="tellBox">{{'promotions.banner_h'|translate}}</div>-->
<!--</div>-->
<!--</div>-->

<!--</label>-->
<!--<div class="absolutField">-->
<!--<app-unity-select [title]="'pcs'|translate"-->
<!--[valueId]="PROMbannerofEmailVal"-->
<!--[arrIn]="getCountpromot('bannerofEmail')"-->
<!--(arrOut)="PROMbannerofEmailVal = $event.id;setPROM()"></app-unity-select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="discountBox"><p>{{shopService.getPackage(this.uS.profile.service.active.packageId).settings.priceBannerofEmail}}€</p><span>/ {{'pcs' | translate}}</span></div>-->
<!--</div>-->


<!--</div>-->

<!--</div>-->
