<div class="Inbox">
  <!--*ngFor="let mess of (mS.messages.reverse() ? mS.messages.slice(0,limit): []); let i=index"-->
  <div class="Inbox-item"

       *ngFor="let mess of mS.messages| slice:0:limit; let i=index"

  (click)="mS.setDialogs(mess.sender==user.profile._id?mess.receiver:mess.sender);router.navigate(['messages']);"
  >
    <p class="Inbox__text " [ngClass]="{'point':mess.status==0}">{{mess.text.slice(0, 50)}}
      <span *ngIf="mess.sender==user.profile._id"> {{user.profile.first_name}} {{user.profile.last_name}}</span>
      <span
        *ngIf="mess.sender!=user.profile._id&&user.users[mess.sender]"
      > {{user.getUserName(mess.sender,1)}}

      </span>

    </p>
    <p class="Inbox__day">{{dS.dateConvert(mess.date)| date: 'dd.MM.yyyy'}}</p>
  </div>
</div>
<a [routerLink]="['/messages']" class="blueLink">{{'messages.viweallMessages'| translate}}</a>
